[2014-03-30 19:20] tangollama opened #1 "Unable to start ember"
I'm looking into it now, but noting here... couldn't start my server.

/usr/local/lib/node_modules/ember-cli/lib/cli.js:13
  throw error;
        ^
Error: ENOENT, no such file or directory 'bower_components'
    at Object.fs.readdirSync (fs.js:654:18)
    at Object.bowerTrees (/usr/local/lib/node_modules/ember-cli/node_modules/broccoli/lib/tree.js:106:20)
    at module.exports (/Users/tango/worksp

[2014-03-30 19:24] #1 closed, assigned to nobody

[2014-05-27 02:04] jglovier opened #2 "Beef dat readme, yo"
I can't actually get up and running with just the README as is.

This first step needs help. Is this just one giant command to enter? I tried that and just got `Ember-cli: command not found`. Step 1 should start from ground zero, assuming no prior experience with ember, or maybe even node.

[2014-06-07 19:51] jglovier opened #4 "initial UI mock - Patients view"
As previewed in the office the other day, here's the initial work on the UI for the Patient's view. I've made some assumptions about content, and flow, and by all means this is just an initial proof of concept.

Here's a rough sketch of my current roadmap:
- Mock up few more screens (like dashboard, settings, etc)
- Dig into code (rip out bootstrap and replace with our own primer based on these co

[2014-06-20 03:02] jglovier opened #5 "Configure Sass support"
Placeholder issue for configuring Sass support.

[2014-06-20 15:45] #5 closed, assigned to jglovier

[2014-07-13 20:15] jglovier opened #6 "need forgot password link"
Right now if you forget your password, you are SOL. We should add a password recovery feature for users. Ideally, this would be part of the front end for users to trigger, but also something that admins could also trigger for users.
# TODO
- [ ] Create a new route
  - [ ] ask for username (form)
  - [ ] send email with link to ask for login to the system (API call to send email)
  - [ ] changes pa

[2014-08-08 15:30] jkleinsc opened #10 "Font on non retina display"
The new font looks pixelated on a non retina display.
![screen shot 2014-08-08 at 11 27 40 am](https://cloud.githubusercontent.com/assets/609052/3858736/e513a678-1f10-11e4-9687-0aca8f5f6e22.png)
![screen shot 2014-08-08 at 11 28 52 am](https://cloud.githubusercontent.com/assets/609052/3858737/e72031c0-1f10-11e4-9aef-6a06c22638c0.png)

[2014-08-15 13:07] jglovier opened #11 "setup script/server"
@jkleinsc can we setup a `script/server` command that initiates both Couch and `ember serve`?

[2014-08-15 13:24] jglovier opened #12 "jglovier ship list [8/15]"
Stuff I'm currently working on:

- [ ] basic UI cleanup
	- [x] broken button styles
	- [x] search field (addressed in https://github.com/HospitalRun/frontend/commit/a9e6e6f57357638700f18bd91e931d8e4ebd2482)
	- [ ] etc
- [x] nav paradigm/welcome screen
- [x] styling the patient details screen, and working through how to accomodate the critical info

[2014-08-15 14:03] jglovier opened #13 "Sample data for development"
As we are building out and designing for new components, having a data migration/sync solution in place would add a lot of efficiency to our development process.

@jkleinsc can you get something like this setup? It would be especially useful for me as I'm doing style work on the patient details section, etc.

[2014-09-01 17:14] mnorbeck opened #14 "Delete Vitals/ Delete Procedures Dialog box does not close"
When you delete a vitals or procedures, the dialog comes up, you press delete, but the dialog is not dismissed.    If you update the visit, and cycle back to it, the vital was deleted.

In the case of procedures, the dialog is not dismissed, but you can see the record being removed on the screen underneath.

message from javascript error console for deleting a vital:

Rendering visits.vitals.delet

[2014-09-01 17:22] mnorbeck opened #15 "Intermittant error adding vitals"
Not sure exactly how to reproduce this, but here is an error log when trying to add vitals.  In this case, I entered the value 2 for all fields:

rror: Assertion Failed: The content property of DS.PromiseArray should be set before modifying it
    at new Error (native)
    at Error.Ember.Error (http://beta.hospitalrun.io:3000/assets/vendor.js:14061:19)
    at Object.Ember.assert (http://beta.hospi

[2014-09-02 00:09] mnorbeck opened #16 "Duplicate row seen when adding new item"
Using Chrome.   Adding a new item.  After clicking "add", then "all inventory, when returned to the inventory list a duplicate row is seen for the recently added item.  Moving to requests, or history does not clear the duplicate.  If you go to add a new item again, and simply return, the inventory list is correct.   See screen shot for duplicate of super large cart.

![screen shot 2014-09-01 at 8

[2014-09-02 16:57] #14 closed, assigned to jkleinsc

[2014-09-02 16:57] #15 closed, assigned to jkleinsc

[2014-09-02 19:14] #16 closed, assigned to jkleinsc

[2014-09-03 10:10] mnorbeck opened #17 "Inventory will not render/load on beta site"
On the beta site inventory page will not load.  I believe I corrupted the data.   I was testing adding purchases, then adjusting locations, (transfers) then editing the purchases.   I was seeing some inconsistent behavior, and getting an error message about the quantities not adding up properly.  In attempting to reproduce from a known starting point, exited the app (closed tab in Chrome) then re-

[2014-09-03 10:36] mnorbeck opened #18 "Update vs Return on the "Edit visit" page"
The update and return buttons appear to do the same thing on the "edit visit" page.   Both appear to function as a return (to the patient page)?   It seems as if update is not really needed?   It seems as if all edits are saved when you return?

[2014-09-03 21:27] #17 closed, assigned to nobody

[2014-09-04 05:18] #18 closed, assigned to nobody

[2014-09-04 05:22] mnorbeck opened #19 "Units for edit of first purchase of a new tem default back to ampule"
1. create a new item.   Enter minimal data:  change all units to "each", enter a quantity. Save.
2. on the new item, edit that first purchase.   Notice on dialog Units default back to ampule

Also, after a location adjustment (Remove), the edit purchase dialog no longer displays the unit.

See 9 inch washclothes vs 7 inch washclothes in beta site.  9in show this issue, 7 in no longer shows units i

[2014-09-04 05:43] mnorbeck opened #20 "minor error in user-session.js definitions"
the inventory capability appears to have a minor error:

inventory: [
            'Inventory Manager', , 'Nurse Manager'

an extra comma between the 2 items

[2014-09-22 18:13] tangollama opened #21 "change the .nav-category height to min-height"
It's currently set to 254px on desktop at least. Some of the elements are larger, so I think that needs to be...

.nav-category .category-links {
min-height: 254px;
}

I'd make the change myself, but I don't want to mess with your mojo. If you want me to do it, assign back to me.

cc: @jkleinsc

[2014-09-26 13:40] #21 closed, assigned to jglovier

[2014-09-26 15:01] jglovier opened #22 "Beta site crapped the bed on authentication"
This was the callback URL:

[code]

And this was the page contents:

[code]

[2014-09-26 15:08] jglovier opened #23 "Beta site auth takes you back to select your Gmail account again after selecting first time"
When going through the Gmail auth workflow, the first time you authenticate with your Gmail account it takes you back to Gmail again to choose your identity a second time if you have multiple accounts logged in, which is confusing unless you know that's the expected behavior.

[2014-09-26 15:10] jglovier opened #24 "jglovier shiplist [9/26] GOAL: FutureStack 10/8"
- [x] setup landing page on the website for demo site (https://github.com/HospitalRun/hospitalrun.github.io/issues/5)
- [ ] complete basic UI cleanup from #12

[2014-09-26 18:48] #20 closed, assigned to nobody

[2014-10-13 19:43] #22 closed, assigned to nobody

[2014-10-20 15:35] tangollama opened #25 "Add the list of diagnosis and procedures to the patient edit screen"
I know that the diagnosis and procedures are attached to the visit, but on that initial screen, it makes sense for a user to be able to see the list as a way of quickly understanding patient history. Therefore, I'm requesting that we add both of those lists (the names and ICD-10 codes) to the screen.

[2014-10-28 17:01] #25 closed, assigned to jkleinsc

[2014-12-04 15:58] #10 closed, assigned to jglovier

[2014-12-05 15:24] jglovier opened #26 "Explore Foundation for Apps for possible Bootstrap replacement"
Zurb's Foundation framework released a version specifically for web apps yesterday. I'd like to explore it as a replacement for Bootstrap. It might not turn out to be a good replacement, but there may even be some solutions or inspiration that we can discover by observing how it handles certain UI/UX problems.

http://foundation.zurb.com/apps/

[2014-12-18 16:09] tangollama opened #27 "We need to report appointment delinquency"
At the top of the missed appointment screen (app/appointments/missed), we need to add the following items:

[ ] a date range search filter, defaulting to 1 month in the past
[ ] Over a given period, how many appointments were made, kept, or missed?
[ ] What's the % of appointment delinquency?

[2014-12-18 16:10] tangollama opened #28 "Track Physio events"
Doctor's assign physio. We need to queue it and track the notes from it. Note that physio could be "prescribed." i.e. daily while in the hospital.

[2014-12-18 16:11] tangollama opened #29 "Assign inventory items to a procedure"
We need to track consumables and equipment utilized on a procedure.

[2014-12-18 16:12] tangollama opened #30 "Ordering items from the orthopedic workshop"
Clinicians need to request equipment from the orthopedic workshop in Kenya. They're not technically items "in" inventory. For instance, prosthetics. How are we going to deal with that?

[2014-12-19 20:37] #26 closed, assigned to nobody

[2014-12-23 16:12] #23 closed, assigned to nobody

[2015-03-11 15:16] tangollama opened #31 "Separate tabs for Labs and Imaging"
Eric Gokcen suggested that we split those. It's more logical for the clinicians.

[2015-03-11 15:21] tangollama opened #32 "Notes feature"
Eric brought the notion that - for a given inpatient visit, doctors need:

1) The ability to input multiple, date-stamped, author-noted comments on a patient's status. These notes are often entered by the doctor, but sometimes the rounds nurse. They need to track:
- The note
- The date
- The author
- The attending physician

They may need to be reviewed by another physician at times. They should n

[2015-03-11 15:24] tangollama opened #33 "Physician home screen"
Seeing a list of patients who are...

1) In the hospital currently
2) Scheduled for an appointment in the coming week, showing the earliest, unmet appointment (i.e. not converted to a visit yet)

[2015-04-02 19:26] jkleinsc opened #34 "On Visit why is there both a location and a clinic"

[2015-04-02 19:32] jkleinsc opened #35 "Payment profiles should support specifying a set fee"
Patient pays set fee of 1000/2000/3000, etc

[2015-04-02 19:39] jkleinsc opened #36 "Diagnosis coding"
Right now we are pulling in ICD-10-CM diagnosis codes, but this is a US-centric list.  At the very least we should be pulling in WHO's version of ICD-10, but this list may need to vary per install

[2015-04-02 19:42] jkleinsc opened #37 "Procedural coding"
ICD-10-PCS has been removed from HospitalRun and has been replaced with two fields:
A freeform typeahead text field called Procedure and a CPT Code freeform text field for medical coding of CPT codes.  We can leave it as is, but should we do something better here?

[2015-04-02 19:45] jkleinsc opened #38 "Change Surgery Visit Type to Admission"
The current visit type of "Surgery" is confusing and really was intended to be a record of an Admission.

On Admission visit type, Start Date and End Date should be Admission Date and Discharge Date and they need times attached as well.  eg patient admitted 3/3/15 11:00AM; discharged 3/6/15 3:00PM

[2015-04-02 19:47] jkleinsc opened #39 "Admitting Diagnosis and Final Diagnosis"
Visits need both an admitting diagnosis and a final diagnosis

Philippines need certification of confinement with admitting Diagnosis

[2015-04-02 19:48] jkleinsc opened #40 "Need separate middle name"
Philippines needs middle name as separate field for PhilHealth

[2015-04-02 19:52] jkleinsc opened #41 "Sorting on fields on listing screens ASC/DESC"
Right now there is no way to sort the items on listing screens

[2015-04-02 19:55] jkleinsc opened #42 "Patient Status field"
We need to a field on patient to track a patient's status so that patients can be identified for treatment:

The following is the tentative list for the Philippines
Not for Surgery
Specialty list (Not sure what the right language for this is, but we need to capture patients that we can help in the future but where we will likely rely on other specialists)
Pending requirements
Awaiting reply
Schedu

[2015-04-02 19:57] jkleinsc opened #43 "Patient candidate report"
Using the new patient status field (#42), we need a new report that at the very least will show patients grouped by diagnosis who haven’t had surgery.

[2015-04-02 20:00] jkleinsc opened #44 "Appointment edit from patient not returning to patient"

[2015-04-02 20:03] jkleinsc opened #45 "Patient listing paging back button doesn't always go to start"
There seems to be an issue where paging on patient listing doesn't let you go all of the way back to the first page.  Not sure what steps to reproduce are.

[2015-04-02 20:04] jkleinsc opened #46 "Make Visit Type an editable lookup list"
Philippines needs a Physical Therapy visit type.  We should just make Visit Type an editable lookup list

[2015-04-02 20:13] jkleinsc opened #47 "Outpatient Visit make start date and end date same"
Outpatient visits should just have one field labeled date instead of a start date and end date.

[2015-04-02 20:15] jkleinsc opened #48 "Carry over diagnosis from previous visit"

[2015-04-02 20:16] jkleinsc opened #49 "Show new lab entry as list of all possible types with checkboxes"
Instead of ordering labs one by one, allow user to select multiple labs from one screen.
See also #50

[2015-04-02 20:18] jkleinsc opened #50 "Show new imaging entry as list of all possible types with checkboxes"
Instead of ordering imaging tests one by one, allow user to select multiple labs from one screen.  See also #49

[2015-04-02 20:21] jkleinsc commented on #36
One surgeon commented that using the ICD10 typeahead it is too hard to find stuff (“need better search engine”).  This may have been due to the fact that we were using ICD-10-CM, but more research may be needed here.

[2015-04-02 20:22] jkleinsc opened #51 "Add patient copay field"
Need a field to track patient responsibility. In the Philippines this field is called Patient counterpart.

[2015-04-02 20:33] jkleinsc opened #52 "Pricing item expense account label is inaccurate."
The label Expense Account is inaccurate.  We should use something like Department or Revenue Account

[2015-04-02 20:37] jkleinsc opened #53 "Pharmacy needs to record returns"
Pharmacy has requested the ability to record returns.  For example, there is a patient order for 10 of drug X, but during their stay the patient only used 6 of drug 'X'.  Those 4 remaining items need to be "returned" to inventory.

[2015-04-02 20:40] jkleinsc opened #54 "Ward items should be their own section on invoice"
Right now ward charges are under Others/Misc.  They should be moved to their own section.

[2015-04-02 20:40] jkleinsc opened #55 "Need section for Physical Therapy"

[2015-04-02 20:42] jkleinsc opened #56 "Add note editor on invoice"
For example in the Philippines they need to enter RUV Codes as Remarks on invoice
Add note editor on invoice.

[2015-04-02 20:44] jkleinsc opened #57 "Handle 3rd party payments made after final bill"
EG We mark 1000 covered by the Hospital, but 3rd party gives us 500 after the fact.

[2015-04-02 20:45] jkleinsc opened #58 "Insurance number"
Philippines needs to track a PhilHealth number.  Other locations may need to track insurance number(s).

[2015-04-02 20:46] jkleinsc commented on #58
May need to address in invoices/billing as well

[2015-04-02 20:48] jkleinsc opened #59 "For Ward Charges, need to segregate into separate charge sheets"
Need a mechanism to group ward charges together (eg by date/nurse shift/etc).

[2015-04-02 20:50] jkleinsc opened #60 "Don’t force login if offline"
If a user is offline and not using google auth for login, the user ends up on the login screen

[2015-04-02 20:52] jkleinsc opened #61 "Allow partial offline usage"
Offline needs to be reconsidered/refactored to allow users to only download what they want and what they have access to.  The original approach pouchdb of pulling down the whole DB just doesn't scale.

[2015-04-06 15:22] jkleinsc opened #62 "Add Radiologist to Imaging"
Imaging needs a field to track the radiologist

[2015-04-06 15:28] jkleinsc opened #63 "Patient Typeahead needs to display friendly id"
Right now the patient typeahead displays a patient name and the internal id.  It should use the displayPatientId (as defined in app/models/patient.js)

[2015-04-06 15:31] jkleinsc opened #64 "Show basic patient info on labs and imaging"
Right now labs and imaging do not show any patient info other than name or id.  We need to show some more patient info (exact info TBD).

[2015-04-06 15:42] jkleinsc opened #65 "Result form(s) for labs"
Right now there is a generic result field for labs.  At some point we should support generation of result forms like the following:
![screen shot 2015-04-06 at 11 41 05 am](https://cloud.githubusercontent.com/assets/609052/7006807/f3b24a5a-dc51-11e4-8777-2da4397ad9c8.png)

[2015-04-06 16:04] jkleinsc opened #66 "Click on procedure from patient summary"
In the patient summary section at the top of the patient edit screen, you should be able to click on the procedure selected in order to view the procedure details.

[2015-04-06 16:05] jkleinsc opened #67 "Organize diagnosis/secondary diagnosis on Visit Edit"
Secondary diagnosis should be moved next to primary diagnosis (maybe add button to add new diagnosis)

[2015-04-06 16:06] jkleinsc opened #68 "Move procedures to top of visit screen"
Procedures should be listed at the top of the visit screen.

[2015-04-06 16:08] jkleinsc commented on #47
This should apply to clinic visits, followup visits (basically any visit that isn't an admission with bed assignment).

[2015-04-06 16:10] jkleinsc opened #69 "Add appointment button on visit edit screen"
Add capability to add appointment from visit edit screen.

[2015-04-06 16:10] jkleinsc commented on #46
Philippines also needs Clubfoot Clinic and Clubfoot Followup visit types.

[2015-04-06 16:14] jkleinsc opened #70 "Admit and discharge buttons on patient listing"
Add admit button/discharge button on patient listing.  If patient is not currently admitted, button will read Admit;otherwise it will read Discharge.  When clicking on Admit, a new visit type of Admission will automatically be created with admission date/time set to current date/time.

[2015-04-06 16:14] jkleinsc commented on #42
This status should show up on the patient listing screen.

[2015-04-06 17:27] jkleinsc opened #71 "Appointment search enhancements"
Add search by:
* Appointment type
* Month
* Provider

[2015-04-06 17:34] jkleinsc opened #72 "Make patient clickable from screens where it appears"
Patient should be linkable from appointment, imaging, invoice, labs, medication, payment (basically anywhere where patient name is visible).

[2015-04-06 17:35] jkleinsc commented on #63
Display only version of patient should be clickable and include displayPatientId (See #72 )

[2015-04-06 17:37] jkleinsc opened #73 "Add ability to mark appointment as cancelled."

[2015-04-06 17:38] jkleinsc commented on #47
Appointments should also operate the same way.

[2015-04-06 17:40] jkleinsc opened #74 "Add inventory links to inventory reports"
Should be able to click through to inventory items from reports.

[2015-04-06 17:42] jkleinsc opened #75 "Batch input of inventory received"
We need a way to be able to do batch entry of inventory received.  (e.g. got a receipt, add in all the items) Should track invoice number as well.

[2015-04-06 17:44] jkleinsc opened #76 "Display adjustments made on inventory item"
The inventory edit screen should have a section/table listing all of the adjustments made to that inventory item.  Including distributions?

[2015-04-06 17:45] jkleinsc commented on #76
On history sort newest to oldest

[2015-04-06 17:46] jkleinsc opened #77 "Quantity should be at the top of the inventory edit screen."

[2015-04-06 17:47] jkleinsc opened #78 "New inventory creation created two duplicate purchases"
Philippines saw an issue where creating a new inventory item ended up generating two duplicate purchases.  Have not tried to reproduce.

[2015-04-06 17:49] jkleinsc opened #79 "Report on inventory adjustments"
Need a new report on inventory adjustments
Filter by date

[2015-04-06 17:51] jkleinsc opened #80 "Inventory report for expense accounts used"
Given a date range, generate an inventory report for expense accounts used.
Gift in kind items need totaled separately into gift in kind account and shouldn’t count in expense account totals).  (Gift in Kind should be totaled as its own expense account).

[2015-04-06 17:58] jkleinsc opened #81 "Inventory request enhancements"
Change Mark As Consumed to default to checked
Add ID to inventory lookup on inventory request

[2015-04-06 17:59] jkleinsc opened #82 "Request multiple inventory items"
Give users the capability of requesting multiple inventory items from one screen.

[2015-04-06 18:21] jkleinsc commented on #53
Inventory in general should support returns.  The appropriate expense/revenue account needs to be recorded on a return.

[2015-04-06 18:23] jkleinsc opened #83 "Inventory adjustments need expense accounts"
When performing an inventory adjustment an expense/revenue account needs to be selected.
See also #53

[2015-04-06 18:24] jkleinsc opened #84 "Add "Return to Vendor" as inventory adjustment type"

[2015-04-06 18:27] jkleinsc opened #85 "Remove Adjust Purchases checkbox on inventory adjustment"
The adjust purchases checkbox on inventory adjustment is no longer necessary and is confusing

[2015-04-06 18:31] jkleinsc opened #86 "Don’t make dose/frequency/duration required for Medication"
The original intention of dose/frequency/duration on medication requests was to provide an intelligent way of specifying a prescription.  In practice the pharmacist still needs to calculate the quantity needed, so the dose/frequency/duration fields are extraneous.

[2015-04-06 18:33] jkleinsc opened #87 "Need Pharmacy Sale entry (no patient, just reduce inventory)"
From the Philippines:

Need Pharmacy Sale entry (no patient, just reduce inventory)

[2015-04-06 18:44] jkleinsc opened #88 "Creating new visit from medication/pharmacy"
Change the creation of a new visit from medication request screen to specify type of visit  (eg outpatient refill).

[2015-04-06 19:03] jkleinsc opened #89 "Remove charges section from labs and imaging"
Charge sections are not needed for labs and imaging

[2015-04-06 19:10] jkleinsc commented on #89
Possibly also remove result field, though given #65 maybe we wait until that is implemented

[2015-04-06 19:59] jkleinsc opened #90 "Social Work section changes"
Social work needs to be changed to reflect this form and allow printing of form:
![assessment](https://cloud.githubusercontent.com/assets/609052/7011250/91e6e0be-dc75-11e4-9c32-e0fab2c142b2.png)
![assessment2](https://cloud.githubusercontent.com/assets/609052/7011251/96011336-dc75-11e4-80a7-979c51ab6c09.png)
![assessment3](https://cloud.githubusercontent.com/assets/609052/7011276/cf71eec4-dc75-11e

[2015-04-06 20:00] jkleinsc commented on #90
This is a Philippines specific requirement, but we may need a generic version of this for HospitalRun.

[2015-04-06 20:01] jkleinsc opened #91 "Lock down Social Work screen to Social Workers only"
Request that Social Work screen could only be accessed by Social Services to protect patient's confidentiality.

[2015-04-06 20:03] jkleinsc opened #92 "Cashier screen/workflow"
We need to a way to record cash receipts in HospitalRun

[2015-04-07 15:46] #74 closed

[2015-04-07 17:01] #85 closed

[2015-04-07 21:04] #84 closed

[2015-04-07 21:06] #76 closed

[2015-04-08 13:16] #77 closed

[2015-04-08 14:30] #83 closed

[2015-04-08 15:52] #81 closed

[2015-04-09 16:58] #82 closed

[2015-04-09 18:45] jkleinsc opened #93 "Need detailed admission report"
Right now the patient admission report only shows totals by gender.  We need a detailed report

[2015-04-09 18:48] jkleinsc opened #94 "Detailed patient days report"
We need a detail patient days report.

[2015-04-09 18:51] jkleinsc opened #95 "Procedures report doesn't return results"
The patient procedure report is not returning any results but there are procedures that have been done.

[2015-04-09 19:33] jkleinsc commented on #95
The diagnostic testing report has the same issue.

[2015-04-09 19:46] #95 closed

[2015-04-10 13:54] jkleinsc commented on #93
Additional requirements:
Display patient id, name, date of admission.
Should be able to click on patient to view patient details
Grouped by Male/Female.

[2015-04-10 13:55] jkleinsc commented on #94
Additional requirements:
Display patient id, name, admission date and discharge date
Should be able to click on patient to view patient details

[2015-04-10 13:56] jkleinsc opened #96 "Patient procedure report enhancements"
Add patient ID, name and date of procedure

[2015-04-10 13:58] jkleinsc opened #97 "Detailed patient discharge report"
Need a detailed report for discharges.  It should be the same as the admission report, just keyed into discharge date instead of admission date.

[2015-04-10 19:25] #79 closed

[2015-04-13 21:01] #80 closed

[2015-04-15 17:37] jkleinsc commented on #78
I couldn't reproduce this issue, though commit 797c69595ab4771bf3c7280578723ac20124f4af may have fixed the issue.  Closing for now.

[2015-04-15 17:37] #78 closed

[2015-04-16 10:39] jkleinsc opened #98 "Disabled save button is bad UX"
Right now when a form isn't valid and/or all of the required fields aren't filled in, the save button is disabled until the form is valid.  This has lead to users reporting that they can't save.  At the very least we should display a message when a user tries to click a disabled button.  Ideally that message would tell the user which field(s) are currently invalid.

[2015-04-16 15:56] #98 closed

[2015-04-17 00:14] jglovier commented on #98
![carl-sagan-youre-awesome](https://cloud.githubusercontent.com/assets/1319791/7193937/3230036e-e475-11e4-9b2a-403473bb77f2.gif)

[2015-04-20 20:17] jkleinsc opened #99 "Vendor lookup list"
Vendor right now is a freeform text field.  It should be a typeahead tied to a lookup list.

[2015-04-21 18:04] #2 closed

[2015-04-21 18:05] #4 closed

[2015-04-21 20:16] #75 closed

[2015-04-22 15:53] #99 closed

[2015-04-23 18:49] #12 closed

[2015-04-24 13:38] #63 closed

[2015-04-24 20:48] #53 closed

[2015-05-04 15:15] #40 closed

[2015-05-04 15:15] #42 closed

[2015-05-04 18:43] #41 closed

[2015-05-06 13:58] #46 closed

[2015-05-06 13:59] #38 closed

[2015-05-06 19:01] #67 closed

[2015-05-06 19:02] jkleinsc opened #100 "Philippines need certification of confinement with admitting Diagnosis"
Philippines need certification of confinement with admitting Diagnosis

[2015-05-06 19:06] jkleinsc commented on #39
Resolved by commit 128742d67a4c7e1f15d480cb80c84127de7ea1b2

[2015-05-06 19:06] #39 closed

[2015-05-06 19:08] jkleinsc commented on #36
Commit 128742d67a4c7e1f15d480cb80c84127de7ea1b2 removes the ICD10 typeahead and replaces it with a simple typeahead of user specified diagnosis which at some point should be able to be loaded with ICD10 data.

[2015-05-06 19:23] #48 closed

[2015-05-07 17:26] #68 closed

[2015-05-08 20:03] #47 closed

[2015-05-10 01:02] longnguyen11288 opened #101 "Example of config.js"
I'm trying to run this locally and getting
[code]

[2015-05-12 17:28] jkleinsc commented on #101
You need to copy the server/config-example.js to server/config.js.

[2015-05-12 17:28] #101 closed

[2015-05-12 19:40] #34 closed

[2015-05-12 21:13] #91 closed

[2015-05-13 20:39] #70 closed

[2015-05-17 18:47] tangollama opened #102 "Integrate Boxen into our development environment"
https://boxen.github.com/

[2015-05-18 19:28] jkleinsc commented on #102
@tangollama it looks like it is mac only.  I'm not sure it's necessary for the development environment?

[2015-05-18 20:13] jglovier opened #103 "Modify navigational paradigm"
After a bit of research and studying paradigms of how other similar administrative systems are handling navigation these days, I've come up with a new navagational paradigm that I'd like to implement. The idea would be a persistent sidebar nav (that could be collapsible for maximum screen real estate on desktop or on mobile).

Here's the rough comp of the new system:

![img](https://s3.amazonaws.c

[2015-05-18 20:25] jkleinsc commented on #103
@jglovier What are you thinking in regards to search?

[2015-05-18 20:34] #52 closed

[2015-05-18 20:41] jkleinsc commented on #97
See #93

[2015-05-18 22:03] longnguyen11288 opened #104 "Differences between frontend and server"
How does frontend and server connect? I noticed both are connecting to couchdb directly

[2015-05-19 01:50] jglovier commented on #103
@jkleinsc oh - good question. Forgot to add that part in, but there's a couple ways we could handle it. Easiest would be to add an icon below the logo bit and right above the nav items with a spot for search there.

[2015-05-19 01:58] jglovier commented on #103
Here's a mock with the search in place.

![img](https://s3.amazonaws.com/f.cl.ly/items/183i0M012515382n1o2j/Image%202015-05-18%20at%209.57.59%20PM.png)

[2015-05-19 02:18] tangollama commented on #102
Ok. Cool. I might look into myself. There are a lot of people who could contribute to this project who (primarily) use macs.

[2015-05-19 02:18] #102 closed

[2015-05-19 15:59] jkleinsc commented on #104
@longnguyen11288 See https://github.com/HospitalRun/server/blob/master/README.md

Basically HospitalRun/server is a Node.js server that is intended to be used in production deployments of HospitalRun.  The compiled frontend directory goes into a directory called public when deploying the server.

[2015-05-20 03:24] jglovier opened #105 "Logging in with test info isn't working"
Trying to run HospitalRun locally after not having run it in months. I pulled the latest, resetup everything per the README instructions, and the app isn't letting me login with the test info.

I've verified in my `config.js` file that the username and password are:

[code]

In the browser, I'm seeing the following in the console:

![img](https://s3.amazonaws.com/f.cl.ly/items/272A220n3h1T2B3f3m3x

[2015-05-20 17:27] jglovier commented on #105
Turns out I had an old username/password combo set from previous couch setup.

[2015-05-20 17:27] #105 closed

[2015-05-20 17:30] jglovier commented on #13
Bump. Any progress on this?

[2015-05-20 20:21] #104 closed

[2015-05-20 20:22] #93 closed

[2015-05-20 20:26] jkleinsc commented on #97
Resolved by 0cbef8beb9017351ce0a12dfe224e0ef38114d1b

[2015-05-20 20:26] #97 closed

[2015-05-21 15:48] jkleinsc commented on #29
This is done.

[2015-05-21 15:48] #29 closed

[2015-05-21 19:36] jkleinsc commented on #96
Implementing this as a detailed report.  The summary report will continue to function as it always has

[2015-05-21 19:36] #94 closed

[2015-05-21 19:36] #96 closed

[2015-05-23 15:28] tangollama opened #106 "Trending reporting for financials"
If HospitalRun and xLedger can “talk” back and forth it would be excellent to see ratios of trending average revenue by procedure, number/types of procedures, and I’m sure there are many other stats/ratios that ED’s would love to be able to see to better manage their hospitals.

[2015-05-26 20:17] jglovier opened #107 "Ember is going to 2.0"
[Ember is going to 2.0 soon](http://emberjs.com/blog/2015/05/24/another-two-oh-status-update.html). Just wanted to make sure it's on our radar, and find out if we have any plans to upgrade, and start a place to track upgrade progress/things to do.

[2015-05-27 09:44] broerse commented on #107
Don't know if you can switch but Ember-Pouch will also be an Ember-CLI addon on June 12.

[2015-05-28 01:07] tangollama commented on #13
Thought: we could create an administration function that loaded a set data into a database for this purpose. I think this 100% makes sense, since we're trying to make "make it easy to develop in" a goal.

[2015-05-28 01:39] jglovier commented on #24
Closing as stale

[2015-05-28 01:39] #24 closed

[2015-05-28 18:23] jglovier commented on #103
So the gear is intended to be a place to put additional options that don't necessarily belong in the primary app navigation, like user settings, admin stuff, logout link, etc.

For example:

![image](https://cloud.githubusercontent.com/assets/1319791/7867582/f124364c-0544-11e5-9f3a-af0c7b2e231a.png)

Right now I'm just putting the Logout link in there, but is it right to assume we will have other

[2015-05-29 13:16] jkleinsc commented on #107
@jglovier yes, this is what I mentioned the other day.  I am currently working on migrating to Ember 1.12 which will set us up for moving to Ember 2,0 and @broerse part of that migration is to move to ember-pouch

[2015-05-29 13:21] jkleinsc commented on #103
@jglovier the logic for this control belongs in the navigation controller and template and should use Ember to control its operation, not jQuery.  For showing/hiding the menu, we simply need to tie an action to the gear (see http://guides.emberjs.com/v1.11.0/templates/actions/)

[2015-05-29 20:42] tangollama opened #109 "Inventory Valuation report, it seems that some GIK inventory reports as a “N”`"
There are times the report appears to report GIK = N when it is clearly a Y. This is according to Mimi in the Philippines.

[2015-05-29 21:24] broerse commented on #107
@jkleinsc Ember Pouch is now 2.0.0 and a CLI addon,

[2015-05-29 22:16] jglovier commented on #103
:metal:

[2015-05-29 22:18] jglovier commented on #107
Cool - closing out since it's on your radar and sounds like you have a migration strategy.

[2015-05-29 22:18] #107 closed

[2015-06-03 04:13] tangollama opened #110 "Add the ability to include multiple locations for a received item on entry"

[2015-06-08 18:04] tangollama opened #111 "Add a category field to Inventory"
Can we add a ‘category’ field (with a drop down list)? This will be a very helpful field for searching, organizing, and reporting. Some of the categories that we regularly use are ( I can run this by the other EDs, if interested/necessary):

Personal Protective Equipment (Gowns, gloves, masks, caps, coverings, etc.)
Injection, Infusion, and Intravenous (Needles, catheters, etc.)
Pharmaceutical / M

[2015-06-08 18:07] tangollama opened #112 "Adding a size to inventory"
Can we add a ‘size’ field? This is very important to enter discrete items (e.g. gloves: size 7, 8, 9; knee brace: size S, M, L, XL, XXL; bandage: 3in, 4 in, 5 in; amoxicillin: 125ml, 250mg, 500mg, etc.; containers: 1 gal, 5 gal, etc.). You see where I’m heading…

[2015-06-08 18:07] tangollama opened #113 "Consider a "local name" or common name for Inventory"
Is it possible to add a ‘National Name’ field? This is where we would enter the local language nomenclature.

[2015-06-08 18:11] tangollama opened #114 "Lock down niger hospitalrun drop-downs"
Is it possible to develop location-specific drop down menus that are protected. For instance, I want to prevent free text errors/duplicity.

Yes it is, confer with Brian. Ensure feature meets requirement.

[2015-06-09 13:39] jkleinsc commented on #111
This category is redundant with the existing type field.  The type field can be used for this purpose.  The only caveat is that medication should be entered in as the type medication so that the pharmacy/medication pieces of HospitalRun can correctly identify inventory items that are medication.

[2015-06-09 13:39] #111 closed

[2015-06-09 13:40] jkleinsc commented on #113
I believe the cross reference field would be an ideal place to put this information.  Its searchable and if you think about it national name is a kind of cross reference.

[2015-06-17 12:15] jglovier opened #115 "Add analytics"
It may be too early to think much about this, but something that will be really helpful for improving how people use the app is installing some analytics to see what pages and routes users are using most, and gain UX insights from. The Atom team uses Google Analytics and a [custom package](https://github.com/atom/metrics) for this, which also has the benefit of providing aggregate stats about how

[2015-06-18 21:02] jkleinsc opened #116 "Create new number component"
Right now our number validation allows for numbering like 123,456 but codewise we are expecting numbers without commas.  We should create a component that will let people enter a number with commas but will save the value without commas.

Either that or we need to change how validation works to eliminate commas but that is not as friendly

## TODO
- [ ] Create number component

[2015-06-19 19:08] jkleinsc commented on #19
Closing this bug because we removed the edit purchase screen (purchases can be adjusted via inventory adjustments).

[2015-06-19 19:08] #19 closed

[2015-06-19 21:01] jkleinsc opened #117 "Add location filter to inventory reports"
It would be nice to be able to run a inventory report for only a certain location.

[2015-06-19 21:02] jkleinsc opened #118 "New Item button doesn't work after entering in a new inventory item"
After you enter a new item, the "New item" button in the top right corner of the screen doesn't work.  So you have to click on items and then click on the New item button from that screen.

[2015-06-19 21:05] jkleinsc opened #119 "Inventory by location report showing locations with zero quantity"
We transferred an item from one location to another, but when we ran inventory by location, the item remained listed in the location with a zero quantity and value (see picture below).  Can it be set-up that when the quantity and value is zero, the item does not display?

![capture_01](https://cloud.githubusercontent.com/assets/609052/8263030/3932b546-16a5-11e5-8798-9e21155377c7.PNG)

[2015-06-19 21:06] jkleinsc opened #120 "Format quantity as whole numbers on inventory reports"
Aesthetically, can we remove the decimal places from quantity listed on reports. These should all be whole numbers.

[2015-06-19 21:12] jkleinsc opened #121 "Fields for inventory listing screen"
We should drop Description and Sale Price from the inventory listing screen and add Location
If an item is in multiple locations it could just say multiple?
Xref needs to stay
Quantity should include distribution unit (eq 12 pcs vs 12).

[2015-06-30 15:56] #64 closed

[2015-06-30 15:56] #72 closed

[2015-06-30 16:06] #89 closed

[2015-06-30 18:11] #86 closed

[2015-06-30 19:33] #73 closed

[2015-07-07 14:28] #71 closed

[2015-07-08 16:28] jkleinsc opened #122 "Layout of navigation needs some fixes"
There is an unneeded scrollbar on the navigation pane and the search icon is not in the right place.  See attached screenshot:
![screen shot 2015-07-08 at 12 26 08 pm](https://cloud.githubusercontent.com/assets/609052/8575963/d34604be-256c-11e5-963c-b7d728752cb2.png)

[2015-07-08 16:32] jglovier commented on #122
What OS/Browser/Ver are you on?

[2015-07-08 16:33] jglovier commented on #122
This is how it looks for me.

![image](https://cloud.githubusercontent.com/assets/1319791/8576055/785aba58-256d-11e5-9ecb-cc79d27e412f.png)

[2015-07-08 16:34] jkleinsc commented on #122
OSX Yosemite Chrome 43

[2015-07-08 16:35] jkleinsc commented on #122
I still don't understand why you would use overflow: scroll

[2015-07-08 16:36] jkleinsc commented on #122
FYI... this is using the master branch

[2015-07-08 20:25] #66 closed

[2015-07-09 14:31] tangollama opened #123 "Generating a purchase order from Inventory"

[2015-07-09 14:32] tangollama opened #124 "Submitting an order to HQ from Inventory"

[2015-07-09 14:32] tangollama opened #125 "Examining Inventory across the network"

[2015-07-09 14:35] tangollama opened #126 "Filter Inventory by Location report by Location"

[2015-07-09 14:35] tangollama opened #127 "Inventory report for all transaction throughout a bounded time period"

[2015-07-09 14:47] tangollama opened #128 "Add an Inventory nomenclature instruction suggestion on new items"

[2015-07-09 14:55] tangollama opened #129 "Suggest consumable inventory values based on a Procedure"

[2015-07-09 15:14] tangollama opened #130 "Exam and procedural notes shortcuts"
# APR = Standard notes for APR

The notion behind this is to create a shortcut process for copy where using the hashtag symbol will auto fill-in a pre-configured note. So to accomplish this feature, we'd want to do at least these things:
- [ ] Create a text area component that is "aware" of shortcuts.
- [ ] Create an administrative screen for creating said shortcuts.
- [ ] retrofit at least the Pa

[2015-07-09 15:16] jglovier commented on #122
I can't reproduce this. Can we setup a time to screenshare with Screenhero and I can try to diagnose on your machine?

[2015-07-09 15:19] jglovier commented on #122
One thing that's bizarre that stands out to me in your screenshot is the scrollbar types. Even when scrollbars are present for me in Chrome, they don't affect the layout, and they don't have a white background, they have a transparent background.

![image](https://cloud.githubusercontent.com/assets/1319791/8599068/5242d14c-262c-11e5-8cde-89644e0aa42b.png)

[2015-07-09 15:20] jglovier commented on #122
You're not in a VM or something, right?

[2015-07-09 15:47] jkleinsc commented on #122
@jglovier I just verified this.  When I plugin an external monitor, I get the white scrollbars.  When I unplug, I get the black scrollbars.  Its some weird mac thing.  Here is someone else on SO getting the same issue:
http://stackoverflow.com/questions/21157231/mac-os-x-scrollbar-is-sometimes-white-transparent-and-sometimes-black-transpare

[2015-07-09 15:58] jglovier commented on #122
:cool: That's so strange, because I'm on an external monitor and I can't reproduce this. Anyway, glad you found the fix. Thx.

[2015-07-09 15:59] jglovier commented on #122
Also, the SO issue you linked to had to do with the scrollbar color itself, but not the appearance of a scrollbar background that affects the box layout. So that doesn't really explain it.

[2015-07-09 16:00] jkleinsc commented on #122
@jglovier it was my external mouse.  When I plugged it in it caused the scrollbars to show.  I changed the setting here for Show scroll bars from Automatically based on mouse or trackpad to When scrolling and not it always shows the black bar and only when scrolling:
![screen shot 2015-07-09 at 11 58 23 am](https://cloud.githubusercontent.com/assets/609052/8600105/1affc3d8-2632-11e5-9cf1-cfeb890ff

[2015-07-09 16:04] jkleinsc commented on #122
@jglovier BTW -- I think if we left the overflow: scroll in the issue would reproduce in Windows because windows doesn't automatically hide scrollbars, but this feature in OSX does.

[2015-07-09 16:23] jglovier commented on #122
Whoaaaaa interesting. Good find. :mag: :eyes: :+1:

Reopening because I should address the breakage of the search bar regardless. That's a bit too fragile for my comfort, and who knows what else might trigger those scrollbars (e.g. a scenario where the scrollbar does need to appear for content, and the user has a mouse...like in the Philippines I'm guessing lol).

[2015-07-09 16:41] jkleinsc commented on #122
I think I you factor in for a slightly wider scroll bar it would solve the search icon wrapping to the next line.

Sent from my mobile device

[2015-07-09 16:43] jglovier commented on #122
Yup. :+1:

[2015-07-10 01:42] #122 closed

[2015-07-10 05:29] jglovier opened #132 "Sign in modal isn't positioned correctly"
Not as noticeable on smaller screens, but on a large monitor it is.

![image](https://cloud.githubusercontent.com/assets/1319791/8612722/21f1aece-26a3-11e5-80dc-fae738ad9aba.png)

[2015-07-10 05:31] jglovier opened #133 "Sidebar menu items don't reopen"
If you click a sidebar menu item to open it, then click again to close it, you get what you'd expect. However, if you click again on the same item, nothing happens. You have to click away to a different item to get back the ability to reopen.

[2015-07-10 05:32] jglovier opened #134 "Temp styles need cleaned up/removed"
There's a bunch of temp/misc styles that need put into their correct partials.

[2015-07-10 05:35] jglovier opened #135 "Minimized sidebar variation"
As part of #103, I still need to create a minimized sidebar variation. I can accomplish this with CSS alone, however that would be limited to media queries for viewport width.

The more user-empowering approach would be to add a class for `minimized`, and let users choose when they want it fully open, or minimized. That's going to require some ember help, however.

[2015-07-10 05:37] jglovier opened #136 "Settings nav only closes if you click it again"
The settings nav only closes if you click it again, which is the expected behavior for how I set it up. How can we change the behavior so that it closes if you click away from it anywhere?

![image](https://cloud.githubusercontent.com/assets/1319791/8612780/29f55caa-26a4-11e5-9010-4bc370fde938.png)

[2015-07-10 05:37] tangollama commented on #135
I can assist. Where should the class get added?

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-07-10 05:38] jglovier opened #137 "Setup SCSS linting via CI"
There's a few options we could pursue, but one that I like is [grunt-scss-lint](https://github.com/ahmednuaman/grunt-scss-lint). I can set this up in Travis, and we can wire it into the repository to display the status of passing/failing builds as commit statuses, which is displayed on pull requests.

[2015-07-10 05:40] jglovier commented on #135
I think directly on the `nav.sidebar-nav` element. The trigger will have to be one of it's children though, so I guess that would get handled with bubbling? `¯\_(ツ)_/¯`

[2015-07-11 21:07] #136 closed

[2015-07-11 22:49] jglovier commented on #136
![picard-slow-clap](https://cloud.githubusercontent.com/assets/1319791/8635670/86dea99e-27fd-11e5-8434-65500a9d0aa0.gif)

[2015-07-13 19:10] #43 closed

[2015-07-14 17:48] jkleinsc opened #139 "Creating new inventory items from the inventory received not working"
When a new inventory item is entered into the inventory received screen there is an error message that not all of the required fields have been filled out even when the required fields have been filled out.

[2015-07-14 17:52] #133 closed

[2015-07-14 17:52] #139 closed

[2015-07-15 20:51] #87 closed

[2015-07-15 20:51] #88 closed

[2015-07-15 20:52] jkleinsc commented on #88
We really don't need to specify type of new visit.  If we are creating a visit from the medication request screen it should be outpatient.

[2015-07-15 20:59] jkleinsc opened #140 "Fulfilling medication requests doesn't enforce quantity limits"
You can still fulfill a medication request even if there are no items available

[2015-07-16 16:18] #140 closed

[2015-07-16 21:01] jkleinsc commented on #51
While bigger than this issue, when we implement this, we should add [ember-i18n](https://github.com/jamesarosen/ember-i18n) so that we can customize the label for the Philippines

[2015-07-16 21:08] jkleinsc commented on #113
Closing this because cross reference can be used for this purpose if needed

[2015-07-16 21:08] #113 closed

[2015-07-16 21:12] jkleinsc opened #141 "Add internationalization support"
In order to support different languages in HospitalRun we need to implement [ember-i18n](https://github.com/jamesarosen/ember-i18n) throughout the app

[2015-07-16 21:13] jkleinsc commented on #51
#141 is the ticket for internationalization

[2015-07-16 21:15] jkleinsc commented on #58
We should be able to implement insurance fields as generic fields and then use [ember-i18n](https://github.com/jamesarosen/ember-i18n) to customize labels for the Philippines (see #141)

[2015-07-16 21:17] jkleinsc commented on #90
@tangollama I think the bigger requirement here is to create functionality to create custom forms per install.  I've been thinking about this and I think we could create a custom form generator within HospitalRun.  I believe it could be useful in terms of being able to generate forms from HosptialRun that can be (optionally) printed out.

[2015-07-18 06:31] billybonks commented on #141
Hi, i have been looking for some way to contribute to the project, and i think this is a good issue to work on, since it's a nice way to explore the code base :smile:

[2015-07-20 14:42] jkleinsc commented on #141
@billybonks One of the things on my todo list is to upgrade to Ember 1.13, then fix the deprecation warnings in preparation for Ember 2.x

Do you know how much of a difference there is between 3.x i18n and 4.x?  If they are significantly different, I would prefer to wait until we can pull in 4.x.

[2015-07-20 14:49] jkleinsc opened #142 "Roadmap to Ember 2.x"
We need to update this project to to eventually get it to Ember 2.x.  There are several things that need to happen in order to do so:
1. Update to Ember 1.13.  One of the blockers to doing so is that the ember pouch adapter we are currently using isn't compatible with newer versions of ember/ember data.  The plan here is to change the adapter to [ember-pouch] (https://github.com/nolanlawson/ember-

[2015-07-20 15:04] jglovier commented on #142
@jkleinsc may I suggest opening issues for each of those items, and then create a Milestone for `Ember 2.X` which you can associate with each of the issues?

[2015-07-20 15:05] broerse commented on #142
ember-pouch 2.0.2 works super with ember-cli 1.13.1 I can recommend it.

[2015-07-20 15:11] jkleinsc opened #143 "Update to Ember 1.13"
We need to update to Ember 1.13 in preparation for Ember 2.x

[2015-07-20 15:13] jkleinsc opened #144 "Update to ember-pouch"
As part of the update to Ember 1.13 (see #143), we need to update our ember data adapter to [ember-pouch] (https://github.com/nolanlawson/ember-pouch).

[2015-07-20 15:13] jkleinsc commented on #144
We may need to migrate data as part of this update.

[2015-07-20 15:15] jkleinsc opened #145 "Fix deprecation warnings"
Once we upgrade to Ember 1.13 (#143) there will be deprecations that we need to address in preparation for upgrading to Ember 2.x

[2015-07-20 15:15] jkleinsc commented on #142
@jglovier Done

[2015-07-20 15:17] jglovier commented on #142
@jkleinsc :metal:

Could probably close this out now, as the Milestone will serve the same purpose.

[2015-07-20 15:29] jkleinsc commented on #142
@jglovier Good point.  Closing.

[2015-07-20 15:29] #142 closed

[2015-07-20 15:32] jkleinsc commented on #11
@jglovier I suppose we could.  The couch part would be different depending on OS.  We could at the very least have a script that tests to see if couch is up before running ember serve.

[2015-07-20 15:42] jkleinsc opened #146 "Add expense account to medication fulfillment"
Just like inventory fulfillment, medication fulfillment needs an expense account/bill to field.

[2015-07-20 15:43] #146 closed

[2015-07-20 17:55] jglovier commented on #11
Yeah, even if it just triggered `ember serve`, it would benefit those familiar with the `script/server` convention by standardizing the approach. If more things were required, it could also output a warning like `Be sure to run Couch.app`, etc.

[2015-07-20 19:25] #62 closed

[2015-07-20 19:31] jkleinsc commented on #112
@tangollama I believe when we discussed this with Brian, we came to the conclusion that this could be accomplished by using naming standards in inventory item names.

[2015-07-20 19:36] jkleinsc commented on #109
@tangollama I just tested this on my dev site which has a copy of the Philippines data and it works properly.  Can you validate with Mimi which inventory items she is seeing this with?

[2015-07-20 20:13] #121 closed

[2015-07-20 20:31] #118 closed

[2015-07-20 21:02] #119 closed

[2015-07-20 21:03] #120 closed

[2015-07-21 02:27] tangollama commented on #112
Agreed.

[2015-07-21 02:27] #112 closed

[2015-07-21 13:53] tangollama opened #147 "UI/UX Inspiration"
Transferred issue from core (closing that repo).

I ran across some inspiration that I'm going to track with in this issue. If you find things that are inspirational feel free to post them in this thread.

Health Design Challenge

Last year the Office of the National Coordinator for Health Information Technology hosted a design contest calling for UX and UI designers to re-imagine healthcare tooli

[2015-07-21 13:57] tangollama opened #148 "Personas / user research thread..."
I want to start a discussion about how we can do research for the design of this thing. If we are going to hit the mark of "think people enjoy using/want to use", then we will certainly need to do research up front.

Partial list of things we need to study are:

how people use existing tools (to inform product requirements)
what pain points do people have with their existing toolsets (aim to impro

[2015-07-21 13:58] tangollama opened #149 "follow a case"
Any entity in HospitalRun should be either automatically or explicitly able to be "followed" by a user within the system. The home screen of HospitalRun would contain a breakdown of all the entities that someone is following, including a current status or latest update.

Some entities, like Lab, Imaging, Medication, and Inventory requests should be automatically followed. For automatic request fol

[2015-07-21 20:03] #117 closed

[2015-07-21 20:19] tangollama commented on #114
Looks like this is resolved. Confirming with josh korn.

[2015-07-21 20:19] #114 closed

[2015-07-21 23:32] #56 closed

[2015-07-23 21:02] #49 closed

[2015-07-23 21:02] #50 closed

[2015-07-24 14:20] #54 closed

[2015-07-24 14:21] #55 closed

[2015-07-24 15:17] jkleinsc opened #151 "Start date and end date validation on visits not working properly"
Validation is only occuring on end date and not on start date, so if you edit a visit record and change the start date to be after the end date, the validation on end date doesn't fire

[2015-07-24 15:25] #151 closed

[2015-07-24 15:49] #69 closed

[2015-07-28 15:15] jkleinsc opened #153 "Move config from DB to configuration file"
Right now there is a Couch/Pouch config database that we currently only use to determine whether or not to use google auth for login.  This should be replaced with a value in the config.js file used by the server.

Additionally we use that pouchdb to store oauth credentials locally.  This needs to use [Ember Simple Auth](http://ember-simple-auth.com/) for storage.

[2015-07-31 13:23] jkleinsc opened #154 "Validate patient module"
Make sure that all of the functionality of the patient module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:24] jkleinsc opened #155 "Validate Inventory Module"
Make sure that all of the functionality of the inventory module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:26] jkleinsc opened #156 "Validate appointments module"
Make sure that all of the functionality of the appointments module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:26] jkleinsc opened #157 "Validate Admin module"
Make sure that all of the functionality of the admin module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:27] jkleinsc opened #158 "Validate Imaging module"
Make sure that all of the functionality of the patient module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:28] jkleinsc opened #159 "Validate Billing Module"
Make sure that all of the functionality of the billing module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:28] jkleinsc opened #160 "Validate Labs module"
Make sure that all of the functionality of the labs module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:29] jkleinsc opened #161 "Validate Medication module"
Make sure that all of the functionality of the medication module is still working after upgrade to Ember 1.13/ember-pouch

[2015-07-31 13:46] jkleinsc opened #162 "DEPRECATION: Using {{with}} without block syntax"
Deprecation warnings like this need to be resolved: DEPRECATION: Using {{with}} without block syntax ('hospitalrun/patients/edit/template.hbs' @ L382:C28) is deprecated. Please use standard block form (`{{#with foo as |bar|}}`) instead. See http://emberjs.com/deprecations/v1.x/#toc_code-as-code-sytnax-for-code-with-code for more details.

[2015-07-31 15:58] jkleinsc opened #163 "DEPRECATION: You're using legacy binding syntax"
Deprecation warnings like this need to be resolved: DEPRECATION: You're using legacy binding syntax: controllerBinding="controllers.appointment-calendar" ('hospitalrun/appointments/calendar/template.hbs' @ L1:C35) . Please replace with controller=controllers.appointment-calendar
        at /Users/jkleinsc/work/hospitalrun/frontend/bower_components/ember/ember-template-compiler.js:12049:38

[2015-07-31 16:02] jkleinsc opened #164 "DEPRECATION: Using `{{view}}` or any path based on it"
We need to fix deprecation warnings like this: DEPRECATION: Using `{{view}}` or any path based on it ('hospitalrun/appointments/calendar/template.hbs' @ L1:C0) has been deprecated. [deprecation id: view.keyword.view] See http://emberjs.com/deprecations/v1.x#toc_view-and-controller-template-keywords for more details.
        at deprecatePath (/Users/jkleinsc/work/hospitalrun/frontend/bow

[2015-07-31 16:04] jkleinsc opened #165 "DEPRECATION: The `bind-attr` helper"
We need to address deprecation warnings like this: DEPRECATION: The `bind-attr` helper ('hospitalrun/appointments/edit/template.hbs' @ L22:C23) is deprecated in favor of HTMLBars-style bound attributes.

[2015-07-31 16:05] jkleinsc opened #166 "DEPRECATION: Using 'itemController' with '{{each}}'"
We need to address deprecation warnings like this: DEPRECATION: Using 'itemController' with '{{each}}' ('hospitalrun/appointments/index/template.hbs' @ L11:C12) is deprecated.  Please refactor to a component.

[2015-07-31 16:10] jkleinsc opened #167 "DEPRECATION: Using the `{{view "string"}}` helper is deprecated."
We need to fix deprecation warnings like the following: DEPRECATION: Using the `{{view "string"}}` helper is deprecated. ('hospitalrun/inventory/search/template.hbs' @ L1:C0)  [deprecation id: view.helper] See http://emberjs.com/deprecations/v1.x#toc_ember-view for more details.

[2015-07-31 16:27] jkleinsc opened #168 "DEPRECATION: Using the '{{#each item in model}}' form of the {{#each}} helper"
Deprecation warnings like this need to be addressed: DEPRECATION: Using the '{{#each item in model}}' form of the {{#each}} helper ('hospitalrun/templates/components/checkbox-or-typeahead.hbs' @ L7:C4) is deprecated. Please use the block param form instead ('{{#each model as |item|}}'). See http://emberjs.com/guides/deprecations/#toc_code-in-code-syntax-for-code-each-code for more details.

[2015-07-31 16:36] jkleinsc opened #169 "DEPRECATION: Using `{{controller}}` or any path based on it"
We need to address deprecation warnings like this: DEPRECATION: Using `{{controller}}` or any path based on it ('hospitalrun/templates/components/em-iinput.hbs' @ L2:C31) has been deprecated. [deprecation id: view.keyword.controller] See http://emberjs.com/deprecations/v1.x#toc_view-and-controller-template-keywords for more details.

[2015-07-31 16:38] jkleinsc opened #170 "DEPRECATION: You're using legacy binding syntax"
We need to address deprecation warnings like the following: DEPRECATION: You're using legacy binding syntax: valueBinding="identification" ('hospitalrun/templates/login.hbs' @ L5:C55) . Please replace with value=identification

[2015-08-04 21:22] tangollama commented on #115
It would be good to analyze this as well as what we might be able to do instrumenting with New Relic.

[2015-08-05 02:52] tangollama commented on #31
@jkleinsc, I'm working on the RoadMap label. Based on a conversation that we had a while ago, in your opinion should we:

1) close this
2) do it
3) stick this in a list of UX issues to discuss with @jglovier at some later "roadmapy" date?

[2015-08-05 02:53] tangollama commented on #106
We need to determine what the HospitalRun xLedger integration looks like before this hits the roadmap, thus assigning to me.

[2015-08-05 03:16] #147 closed

[2015-08-05 03:33] tangollama commented on #129
Let's assume that a procedure has been selected before. Rather than requiring the user to setup some template with a given set of items and quantities, why not predict / suggest the the items and quantity based on previous selections, at first generally; but overall for a given procedure. So for instance, the system would suggest the consumables for a PMR (neglected clubfoot treatment) based on ot

[2015-08-05 16:42] jglovier opened #171 "Improve docs"
Right now we have a README with basic setup instructions, and a Wiki with very minimal info about the project. We should really improve the docs ASAP for benefit of new contributors.

TODO:
- [ ] Improve README
  - [x] Add contribution info
  - [ ] Add basic info about Ember relevant to developing for it
  - [ ] Add links to more info on the server setup/server readme's
- [ ] Improve Wiki or kill

[2015-08-05 18:55] jkleinsc opened #172 "Replace itemControllers with components"
It seems that the way we were using itemControllers with older versions of Ember may not work in Ember 1.13.  We should instead use components where possible to replace our itemControllers.

[2015-08-05 20:30] tangollama commented on #128
Internal implementation issue for CURE. Not relevant as a github issue.

[2015-08-05 20:30] #128 closed

[2015-08-05 20:48] tangollama commented on #32
I unassigned based on the Roadmap rules of engagement, but I pretty much plan on building this feature.

[2015-08-06 03:37] tangollama commented on #109
Tested. Appears to be functioning correctly.

[2015-08-06 03:37] #109 closed

[2015-08-06 03:56] tangollama commented on #135
@jglovier, assign back to me when/if this is insufficient.

[2015-08-06 21:19] jglovier commented on #135
@tangollama :metal:

[2015-08-13 09:39] billybonks commented on #165
ill do this you can assign me to it

[2015-08-13 19:54] jkleinsc commented on #165
@billybonks it's yours.  You can fork, make the changes in your fork and then submit a pull request.

[2015-09-18 14:19] jkleinsc commented on #155
Inventory looks good.

[2015-09-18 14:19] #155 closed

[2015-09-18 15:51] jkleinsc commented on #154
Patient looks good.  Closing this issue.

[2015-09-18 15:51] #154 closed

[2015-09-18 15:52] jkleinsc commented on #143
Code has been updated to ember 1.13

[2015-09-18 15:52] #143 closed

[2015-09-18 15:53] tangollama commented on #143
Woo hoo!!

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-09-18 15:54] jkleinsc commented on #145
Closing this in favor of explicit issues for each deprecation warning

[2015-09-18 15:54] #145 closed

[2015-09-18 16:23] jkleinsc commented on #156
Appointments is good to go.

[2015-09-18 16:23] #156 closed

[2015-09-18 16:59] jkleinsc commented on #158
Imaging is good to go.

[2015-09-18 16:59] #158 closed

[2015-09-18 18:03] jkleinsc commented on #161
Medication is good to go.

[2015-09-18 18:03] #161 closed

[2015-09-18 18:04] jkleinsc commented on #160
Labs is good to go.

[2015-09-18 18:04] #160 closed

[2015-09-18 21:28] jglovier commented on #143
![its-happening](https://cloud.githubusercontent.com/assets/1319791/9971543/a0ba6124-5e2a-11e5-8a74-5fa0f3514e9e.gif)

[2015-09-24 14:32] tangollama opened #175 "How do we handle the setup / admin fields associated with a specific module?"
@jglovier, we have a design paradigm issue that we need you to weigh in on / decide. We have config / setup data related to a module and only that module, and we need to determine where to put it in the UI. A good example of this is the Billing Module. We have setup data that we need to start capturing like the customizable header and footer information on a bill as well as less-often adjusted dat

[2015-09-24 14:58] jglovier commented on #175
@tangollama yup, absolutely. I'll dig in when I have some time today or tomorrow. :+1:

[2015-09-24 19:23] jkleinsc commented on #159
Billing is good to go.

[2015-09-24 19:23] #159 closed

[2015-09-25 12:43] tangollama opened #176 "Conditionally include New Relic Instrumentation"
Setup a config to include (or not) the ability to instrument the frontend using New Relic Insights. https://blog.newrelic.com/2015/04/03/new-relic-insights-browser-instrumentation-js-api/

[2015-09-25 12:47] tangollama commented on #176
Actually, the server agent automatically includes the JS api. Now I just need to conditionally (i.e. check if the API is available) call events.

[2015-09-25 14:09] #31 closed

[2015-09-25 15:53] #172 closed

[2015-09-25 15:53] #166 closed

[2015-09-27 15:04] billybonks commented on #165
https://github.com/HospitalRun/hospitalrun-frontend/pull/177

[2015-09-28 17:03] jglovier commented on #175
After talking with @tangollama last night about this, but still without knowing exactly what type of settings need accommodated for, I've mocked up a generic concept for the Settings UI. Based on what I understand about the requirements, this should work well. However, if I've missed some context or you have details that are important to accommodate for, let me know.

## Default settings screen

!

[2015-09-29 09:45] billybonks commented on #165
you can close this issue now

[2015-09-29 09:48] billybonks commented on #169
has this been fixed ? cant find any instances

[2015-09-29 13:03] #165 closed

[2015-09-29 14:01] jkleinsc commented on #169
@billybonks it shows up in the command line console as output from ember serve (eg if you run ember serve &> deprecations.txt you can see the deprecation there).
This particular deprecation is coming from [Ember-Forms](https://github.com/indexiatech/ember-forms) which apparently isn't going to support Ember 2.x, but there is a fork [Ember-Rapid-Forms](https://github.com/piceatech/ember-rapid-forms

[2015-09-29 14:17] jkleinsc commented on #169
@billybonks I am going to take care of this one.

[2015-09-29 14:21] #169 closed

[2015-09-29 14:22] jkleinsc commented on #144
We definitely need a migration script.  Working on that now.

[2015-10-01 18:20] jkleinsc commented on #164
I'll take care of this one

[2015-10-02 15:49] #170 closed

[2015-10-02 15:55] jkleinsc commented on #163
This appointment calendar was removed from the code (it was unused in the app).

[2015-10-02 15:55] #163 closed

[2015-10-02 15:56] jkleinsc commented on #144
Migration script is now available at https://github.com/HospitalRun/hospitalrun-server/blob/master/utils/pouch-mig.js

[2015-10-02 15:56] #144 closed

[2015-10-02 16:11] jkleinsc commented on #167
Taking care of this with #164

[2015-10-03 06:21] broerse commented on #144
:+1:

[2015-10-12 15:10] tangollama commented on #148
For safe-keeping, @mnorbeck worked on this document https://docs.google.com/spreadsheets/d/1qN8pB6BYv2gUar1ueJ4wjgLoEYrCAOrxQZEH4NGPrlk/edit#gid=0

[2015-10-13 07:24] jglovier commented on #148
:metal: :heart: :zap:

[2015-10-13 14:32] jkleinsc commented on #157
Admin module is good to go.

[2015-10-13 14:32] #157 closed

[2015-10-13 14:33] jkleinsc commented on #167
These deprecation warnings should now be resolved.

[2015-10-13 14:33] #167 closed

[2015-10-13 14:33] jkleinsc commented on #164
These deprecation warnings should now be resolved.

[2015-10-13 14:33] #164 closed

[2015-10-13 14:36] jkleinsc opened #182 "Resolve deprecations on Patient Module"
All deprecations in the patient module need to be resolved.

@zinyando is working on this with PR #181

[2015-10-13 14:37] jkleinsc commented on #168
Closing this in favor of issues to resolve deprecations per module (eg #182 for Patients).

[2015-10-13 14:37] #168 closed

[2015-10-13 14:37] jkleinsc commented on #162
Closing this in favor of issues to resolve deprecations per module (eg #182 for Patients).

[2015-10-13 14:37] #162 closed

[2015-10-13 14:39] jkleinsc opened #183 "Resolve deprecations for Admin module"
Deprecations for admin module need to be resolved.

[2015-10-13 14:39] jkleinsc opened #184 "Resolve deprecations for Inventory Module"
The deprecations for the inventory module need to be resolved.

[2015-10-13 14:40] jkleinsc opened #185 "Resolve deprecations for Appointment module"
Deprecations in the appointment module need to be resolved.

[2015-10-13 14:42] jkleinsc opened #186 "Resolve deprecations for Imaging Module"
The deprecations in the imaging module need to be resolved.

[2015-10-13 14:43] jkleinsc opened #187 "Resolve deprecations for Medication module"
The deprecations for the medication module need to be resolved

[2015-10-13 14:44] jkleinsc opened #188 "Resolve deprecations for Labs Module"
The deprecations for the labs module need to be resolved.

[2015-10-13 14:46] jkleinsc opened #189 "Resolve deprecations for the Billing Module"
The deprecations for the billing module need to be resolved.

[2015-10-13 15:32] jkleinsc opened #190 "Create acceptance tests for Billing module"

[2015-10-13 15:34] jkleinsc opened #191 "Create acceptance tests for Appointments module"

[2015-10-13 15:35] jkleinsc opened #192 "Create acceptance tests for Imaging"

[2015-10-13 15:35] jkleinsc opened #193 "Create acceptance tests for Inventory module"

[2015-10-13 15:36] jkleinsc opened #194 "Create acceptance tests for Labs module"

[2015-10-13 15:37] jkleinsc opened #195 "Create acceptance tests for Medication module"

[2015-10-13 15:39] jkleinsc opened #196 "Create acceptance tests for Admin module"

[2015-10-14 17:39] tangollama commented on #28
I need to get feedback from Eric Gokcen on this. It may be the notes feature is sufficient to support this function.

[2015-10-14 18:02] tangollama commented on #33
We need something more comprehensive, which I'm working on as part of the Follow issue #149

[2015-10-14 18:02] #33 closed

[2015-10-14 19:03] tangollama commented on #129
My idea. Not a requirement. Closing for now.

[2015-10-14 19:03] #129 closed

[2015-10-14 19:09] tangollama commented on #123
This is related to the integration between HospitalRun and financial platform. For CURE, that platform is currently Xledger.

[2015-10-14 19:11] tangollama commented on #103
@jglovier, I feel like we can close this issue. Do you agree?

[2015-10-14 19:51] tangollama commented on #90
Discussed with @jkleinsc recently. @taras is looking into a form-building Emberjs solution for this and other use cases in the system (intake forms, etc).

[2015-10-14 19:52] tangollama commented on #65
The same technology solution we need for #90 is what we need here. Form-builder capability.

[2015-10-14 20:50] tangollama commented on #32
I'd also like to see task assignment included in this feature via a mechanism similar to Google Doc comments (i.e. +joel@cure.org would assign and notify that address of an assignment of work.)

Ex: + (or @)joel@cure.org would assign a task for that user.

Ex: #labs would create a new lab request in the queue.

The driver behind all of this is creating a feature that delights the physicians and ma

[2015-10-15 13:00] zinyando commented on #192
@jkleinsc I have started work on the acceptance tests for this module. I will create a PR soon.

[2015-10-20 13:35] tangollama commented on #100
The follow artifact was provided by the Tebow CURE Hospital. We're determining requirements inline with comments, etc. We'll document finds in the ticket. https://docs.google.com/document/d/1uwCX8NdDGsEMkqHtV1DqHC7NKzMGh9XKMAdRlUiH63o/edit

[2015-10-20 23:32] jglovier commented on #103
I haven't finished this yet (mobile bit is unresolved still), but if you want to close it out and open a new issue for the mobile styling that's fine with me.

[2015-10-21 15:01] jkleinsc commented on #182
I believe all of the patient specific deprecations are now addressed.
Thanks to @zinyando for contributing his PR.

[2015-10-21 15:01] #182 closed

[2015-10-22 16:01] #185 closed

[2015-10-22 16:20] jglovier commented on #175
Bump. Anything else you need here? If you spike it out I can style the things, so just hollar when there's some stuff for me to style.

[2015-10-26 20:25] #184 closed

[2015-10-26 20:55] jkleinsc commented on #188
@tangollama two issues remain:

Ember Suave error visible in ember serve console (or if you run ember test):
[code]
Also, I am seeing the following deprecation warning when updating/adding a new lab request:
 "You attempted to set `labType` from `<hospitalrun@controller:labs/edit::ember1514>`, but object proxying is deprecated. Please use `model.labType` instead."

This is caused by line number 56

[2015-10-27 01:29] tangollama commented on #188
Done. Thx for the feedback @jkleinsc

[2015-10-27 20:12] #188 closed

[2015-10-28 06:46] tangollama commented on #188
Crap. Sorry. I thought I had it all working.

[2015-10-28 11:12] zinyando commented on #192
Please look at this PR https://github.com/HospitalRun/hospitalrun-frontend/pull/198

[2015-10-28 21:22] #192 closed

[2015-10-29 15:05] #187 closed

[2015-10-29 20:07] #186 closed

[2015-10-30 14:12] #193 closed

[2015-10-30 14:31] zinyando commented on #191
I have started work on this, PR to come soon.

[2015-10-30 18:32] #189 closed

[2015-10-30 20:37] #183 closed

[2015-11-02 21:32] jkleinsc opened #200 "Ember Validations deprecations"
One of the current deprecation errors in our code is caused by deprecated code in Ember Validations:
"Ember.keys is deprecated in favor of Object.keys" - this error message is coming out of the numericality validator in cases where we define a numericality with an operator.  For example:

[code]

In addition, given the list of blockers here, we may have some issues using Ember Validations in Ember

[2015-11-03 16:32] zinyando commented on #194
I have created a PR for this issue https://github.com/HospitalRun/hospitalrun-frontend/pull/202

[2015-11-03 16:35] zinyando commented on #191
I have created a PR for this issue https://github.com/HospitalRun/hospitalrun-frontend/pull/201

[2015-11-03 19:40] #191 closed

[2015-11-03 20:10] #194 closed

[2015-11-04 19:23] jkleinsc commented on #196
I am going to work on this one.

[2015-11-04 21:44] zinyando commented on #195
I am working on this one.

[2015-11-06 02:33] Lewiscowles1986 commented on #115
What metrics are you looking to monitor, or facilitate is probably the best way to approach "analytics", if it's page / resource access, etc, a standard ga with user-id or username works fine for my business apps, we literally have this in our footer.

[code]

It allows us to get live user data, and use google analytics dashboard to show us where users are clicking, their usage, their flow through

[2015-11-06 04:48] jglovier commented on #115
Yeah, I think that's sufficient for now. Eventually I'd like to add some event tracking for things like which buttons or nav links get clicked within the app, etc. But just getting basic GA setup in the app by default would be rad. :metal:

[2015-11-06 08:20] Lewiscowles1986 commented on #115
cool, I'll get on it, it will track interactions such as clicks by default unless you use event.preventDefault() on the links and buttons :wink:

[2015-11-06 08:50] Lewiscowles1986 commented on #115
Patch is WIP over at https://github.com/Lewiscowles1986/hospitalrun-frontend/tree/patch-1

I'll test ASAP, but it follows ember docs, so it should work. On the testing side, I have no clue how to test that...

[2015-11-06 21:12] jglovier commented on #115
@Lewiscowles1986 :metal:

![picard-slow-clap](https://cloud.githubusercontent.com/assets/1319791/11008842/1dad2e04-84a1-11e5-82b0-caae4b3983c0.gif)

[2015-11-06 21:22] #196 closed

[2015-11-06 21:33] jkleinsc commented on #190
I will take this one.

[2015-11-07 09:37] Lewiscowles1986 commented on #115
I don't know what that means lol, you guys should try to get to MozFest in 2016 btw, people would be all over this project; as soon as I have tested the analytics I'll submit a PR :wink:

Should I leave in my placeholder analytics code (there is not a security risk), or build some form of management setting where users can set it?

[2015-11-07 14:44] jglovier commented on #115
Hah, sorry, it means I'm applauding your effort, and excited to see this happening.

So honestly, I don't think this is something we want to give users control to modify. This is primarily for our purposes in building the project. Having this data about how people are using the software is primarily for our purposes in building it, not for the individual instances where hospitals are using the sof

[2015-11-07 22:59] Lewiscowles1986 commented on #115
right, I'll try to test it in the week, going to mozfest2015 tomorrow, but it will be done soon, and in the mean time, if you, or anyone else has time right now, feel free to leave issues on the fork, I'll get any of those squared away; there is only one bit to copy-paste over and that would be using the site url's UA-XXXX-XX number over the existing one :wink:

[2015-11-10 19:16] jkleinsc commented on #116
@zinyando is looking into this one.

[2015-11-10 21:41] #195 closed

[2015-11-11 10:28] Lewiscowles1986 commented on #115
Update: This won't run on Node 5... Do you have a vagrant machine or list of dependencies (non-js), so that I can setup a testing environment, as I'd like to square this one away

[2015-11-11 13:16] jglovier commented on #115
bump @jkleinsc @tangollama :point_up_2:

[2015-11-11 15:14] jkleinsc commented on #115
@Lewiscowles1986 we are using Ember CLI which is currently shows this message if you are using a version of node other than 0.12:
"Future versions of Ember CLI will not support v4.1.0. Please update to Node 0.12
 or io.js."
I have been using node 0.12 and node 4 without problems, though Ember cli does throw a warning with node 4 but it seems to work fine.  Other than that I don't think there are a

[2015-11-11 16:17] Lewiscowles1986 commented on #115
I'll keep on meddlin, but when I'm done, I think I'll PR a vagrant box for others too...

[2015-11-12 12:34] Lewiscowles1986 commented on #115
**Update:**, I have a vagrant that deploys, so now I can test hospitalrun offline (it pretends to be hospitalrun beta using vagrant hostsupdater for now)

The edit has not worked yet, it looks like the docs are missing something

[2015-11-12 14:39] jkleinsc commented on #115
@Lewiscowles1986 Just to verify have you run the following steps:
1. Install [ember-cli v1.13.8](https://www.npmjs.org/package/ember-cli): `npm install -g ember-cli@1.13.8`
2. Install [bower](https://www.npmjs.org/package/bower): `npm install -g bower`
3. `npm install` and `bower install`to install needed node modules and bower modules.
4. Install  [couchdb](http://couchdb.apache.org/) including r

[2015-11-12 15:20] Lewiscowles1986 commented on #115
Hi @jkleinsc,

I meant the analytics is not registering any hits with my analytics account. I managed to build a working vagrant yesterday. Turns out I was running ubuntu scripts inside a debian jessie... my bad.

The app works 'ish and lets me login, but there are several things it won't let me do, which I have been troubleshooting by adding domains to `config/environment.js`

Strange things happ

[2015-11-12 15:24] jkleinsc commented on #115
If you want to change the hostname, you have to also change it in server/config.js  By default config.server is set to localhost.  Change it to the hostname you need

[code]

[2015-11-12 15:28] Lewiscowles1986 commented on #115
I shall try that in a moment :wink: :+1:

[2015-11-12 15:37] cd2-public commented on #115
:cry: doesn't help me even from new...

[code]

[2015-11-12 15:38] cd2-public commented on #115
![image](https://cloud.githubusercontent.com/assets/15682597/11122500/64756098-8953-11e5-8883-e8fdc6fa9861.png)

[2015-11-12 15:38] cd2-public commented on #115
I think I'll ditch the domain name for now, one thing at a time and all that...

[2015-11-12 15:39] Lewiscowles1986 commented on #115
also tried with `--host beta.hospitalrun.io` switch

(vagrant is set to pretend to be beta.hospitalrun.io)

[2015-11-12 16:18] jkleinsc commented on #115
@cd2-public That error you are seeing occurs when couchdb isn't running.  Can you verify that couchdb is running?

[2015-11-12 17:54] cd2-public commented on #115
so it's stopped crashing now I set the couch-db server back to localhost, but still if I supply a host name it does not accept connections and we get a console error every few seconds

[2015-11-13 21:18] #190 closed

[2015-11-16 02:21] tangollama opened #204 "Move existing reporting from the Ember frontend to the Node backend"
We need some Node love to move the reporting functionality. For example, moving the reporting processing under app/inventory/reports to the server in Node.

[2015-11-19 00:45] jglovier opened #205 "[Discussion] Project planning"
Following up from some prior discussion about how to surface project planning and roadmap goals, I thought it might be worthing having some further discussion here.

AFAIK so far we have just been using labels for roadmap goals, which is okay. But I'll be the first to admit that GitHub issues suck for actual project planning use. While we use them internally at GitHub for that purpose, most of our

[2015-11-19 00:58] jglovier commented on #205
Also, here are a couple examples of such boards being used by open source projects currently:
- [movi.im](http://movi.im/) (https://github.com/mislav/movieapp) is using a [public Pivitol board](https://www.pivotaltracker.com/n/projects/449605)
- [Jasmine](http://jasmine.github.io/) uses a [public Pivitol board](https://www.pivotaltracker.com/n/projects/10606)
- Adobe's [Brackets project](http://br

[2015-11-19 14:39] jkleinsc commented on #205
@jglovier I am not opposed to doing something like this, but my concern is who is going to maintain it?  Using Github has provided us with a low barrier of entry and at least for now gives us what we need.

[2015-11-19 14:55] tangollama commented on #205
I see this as a project management function - so me for now. Let's discuss more in real life. Jag and I had a good talk about (also in real life) last night.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-11-19 17:42] jglovier opened #206 "Consider adding breadcrumb to UI"
There is [a lot of evidence](http://www.nngroup.com/articles/breadcrumb-navigation-useful/) that breadcrumbs are an extremely helpful navigational tool for users (and have been for 20 years lol), especially when navigation can't be easily ascertained from a URL, such as often is the case in web apps.

I'm fairly confident that our current navigational paradigm is working, but for now my confidence

[2015-11-19 20:19] jglovier commented on #205
Yeah, that's the general idea. The project manager should be responsible for maintaining it.

[2015-11-24 21:52] tangollama opened #207 "Add an A,B,C ranking to inventory items"
A items are inventory items that should never stock out.
B is the middle
C is lower priority

We need the ability to rank items under the A, B, C categorization. This would be a great feature add for a newbie.

[2015-11-24 21:54] tangollama opened #208 "Reports that utilize the A,B,C categorization"
Along with #207, add a report to Inventory that allows a user to see current status on items by A, B, and C items.

[2015-11-24 21:57] tangollama opened #209 "Alert given emails addresses when items are in danger of stocking out"
Along with changes to #207, fire an alert to an email address when a stock item reaches less than 14 days of stock remaining. Along with this, we need a configurable way to both define who is alerted, the # of days as a threshold, and the A,B,C category of the item(s) to trigger the alert.

And yes, I know this leads into a larger alerting function in the system.

[2015-11-27 18:39] tangollama commented on #28
Physical therapy events are another set of actions attached to either inpatient or outpatient visits, just like labs, pharmacy, etc.

So a patient could have an appointment for a visit and during that visit, they need to receive physical therapy. The point of the physio events is to capture the results / feedback from the physical therapist in the medical record.

At minimum, an event has a person

[2015-11-27 18:51] tangollama commented on #135
@jglovier, I *think* this might be just waiting on you. No pressure on timing, but I know you'd said you were waiting on some stuff from my side. In the interim, you could address this one.

[2015-11-27 20:49] tangollama commented on #205
FYI, I'm trying waffle on for size. https://waffle.io/HospitalRun/hospitalrun-frontend

[2015-11-27 22:15] jglovier commented on #205
:cool:. Do they have any way to create epics and attach multiple stories to them?

[2015-11-30 20:13] tangollama commented on #204
This ticket is motivated by the reporting limitations and performance issues we're already seeing by the Emberjs frontend taking the full responsibility for reporting. The code is not complicated, and there's a good chance that the work in frontend can transfer relatively well to a Node implementation; but it needs to happen before this thing gets out into the wild.

[2015-11-30 20:16] tangollama commented on #116
Question to @zinyando, where did you get with this?

cc: @jkleinsc

[2015-11-30 20:18] tangollama commented on #103
@jglovier, should I assign this one to you to finish when you have the time or do you need something from me / JK on this one?

[2015-11-30 20:25] tangollama commented on #148
As another input to this discussion, I'd like to contribute the work done by a young woman from Oxford at CURE Malawi, analyzing and recommending an implementation for that hospital to HospitalRun.
https://docs.google.com/document/d/1ffl0OYzUc9JjLQ-0mIceVRUygRaYJO7JoWXWMn2JWTM/edit

[2015-11-30 20:44] jglovier commented on #103
Yeah, go ahead and assign to me and I'll finish it as soon as I can. :+1: Hoping to find some time before the end of the year to address this.

[2015-11-30 20:45] jglovier commented on #148
@tangollama awesome!! Thanks for sharing. :zap: :metal: :zap:

BTW, in the discussion of :fire: my CURE email address, guessing that means I'll no longer have access to those Google docs then?

[2015-11-30 20:50] tangollama commented on #148
Negative ghost rider. You can share the doc with anyone you want, including people outside the domain. I do it all the time. Also, that document in specific is set to be readable by anyone who has the link.

[2015-11-30 20:55] zinyando commented on #116
@tangollama I got a little busy but I will take another stab at it tomorrow. Will post the link to the PR when its ready in a day or 2 cc @jkleinsc

[2015-11-30 21:08] jkleinsc opened #210 "Returning medication doesn't work when inventory item is empty"
When an inventory item has a quantity of 0, you can't return medication for that inventory item.  This issue is fixed in master, but we need to fix it for [0.8.7](https://github.com/HospitalRun/hospitalrun-frontend/releases/tag/0.8.7).

[2015-11-30 22:11] tangollama commented on #116
Great. Thank you.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-11-30 22:25] jglovier commented on #148
![zoolander](https://cloud.githubusercontent.com/assets/1319791/11486455/4a57f0e4-9787-11e5-9912-55d9cd5eb6bd.gif)

[2015-11-30 22:29] jglovier commented on #103
For my own reference/reminder, see also #135

[2015-12-04 09:11] bhagyas opened #211 "Add autocomplete for dropdowns."
Probably use select2 whenever possible.

[2015-12-04 09:44] aniljava opened #212 "Allow edit of old purchases under Inventory"
Purchase entries once entered are non-editable. Allow editing in a case if there is a mistake.

[2015-12-04 11:12] CormacMOB opened #213 "Can't log into beta site"
I am trying to look at your beta site, but when I copy in the Credentials listed on your demo site, Authentication fails returning a "Name or password is incorrect" error.

[2015-12-04 11:22] #213 closed

[2015-12-04 13:44] boricic opened #216 "Demo login problem"
Hi guys,

I've been trying to login to the demo at beta.hospitalrun.io, but none of the user/pass combos seem to work.
I keep getting the 401 {"error":"unauthorized","reason":"Name or password is incorrect."}

[2015-12-04 14:06] tangollama commented on #216
Sorry you're experiencing issues. We'll look into it.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-12-04 14:22] ismail-s commented on #216
I get the same problems. See screenshot:
![image](https://cloud.githubusercontent.com/assets/3778413/11591804/6747290a-9a92-11e5-93cf-f51a72609e6d.png)

[2015-12-04 15:55] ankitpise commented on #216
I faced the same error here!

[2015-12-04 15:57] vikram7 opened #217 "Clicking "Why HospitalRun?" in footer should go to static page rather than google doc"
Current footer:

![screen shot 2015-12-04 at 10 55 34 am](https://cloud.githubusercontent.com/assets/7072744/11594003/a49d0350-9a75-11e5-9c18-384b34671e0d.png)

The link to `Why HospitalRun?` should go to a static page rather than a Google doc as it currently does.

[2015-12-04 16:02] ltoshea commented on #217
Probably, but I kind of liked being able to read through the project brief - you probably wouldn't want that much text on a webpage. Would be nice to still have the brief available at least.

[2015-12-04 16:15] kauegimenes commented on #216
Same, the problem is with the `https://beta.hospitalrun.io/db/_session` request.

The response is `{"error":"unauthorized","reason":"Name or password is incorrect."}`

Maybe someone changed the users?

[2015-12-04 17:52] jglovier commented on #217
Yeah, the intention is to make a page for it, and it's on my radar. :+1:

[2015-12-04 17:54] jglovier commented on #217
Closing because issues for the marketing site belong in https://github.com/HospitalRun/hospitalrun.github.io, and we do have [an issue for this there](https://github.com/HospitalRun/hospitalrun.github.io/issues/15).

Thanks!

[2015-12-04 17:54] #217 closed

[2015-12-04 18:01] flamingalah commented on #216
I'm having the same problem - none of the demo logins work.

[2015-12-04 18:19] kauegimenes commented on #216
+1

[2015-12-04 19:50] jkleinsc commented on #216
@boricic @ismail-s @ankitpise @flamingalah @kauegimenes some of the demo users were either deleted or had their passwords changed.  I reset the passwords to the what is described at http://hospitalrun.io/demo/
Please note that the system admin user is no longer available so that this can't happen again.  Thanks all for your interest in HospitalRun!

[2015-12-04 19:50] #216 closed

[2015-12-04 19:51] jkleinsc commented on #210
This was fixed in the 210fix branch: https://github.com/HospitalRun/hospitalrun-frontend/tree/210fix

[2015-12-04 19:51] #210 closed

[2015-12-04 22:51] tangollama opened #218 "REDACTED"
REDACTED

[2015-12-04 23:18] #218 closed

[2015-12-05 11:50] njardus opened #219 "Mobile interface is identical to desktop interface"
The mobile interface is important - doctors don't always have access to a desktop, but most of them do have their phones and/or tablets.

A mobile interface should be developed so that full functionality can be attained on a small screen.

[2015-12-05 13:50] stefanpenner commented on #219
potentially a responsive interface

[2015-12-05 15:32] pengux opened #220 "Encryption for patient data"
Is there any encryption for the patient data? If there is, it should be documented

[2015-12-05 15:56] hex007 commented on #220
@pengux  If not then which standards would you recommend?

[2015-12-05 16:05] pengux commented on #220
AES is best practice. Maybe using something like https://github.com/digitalbazaar/forge to do it? The data should not be decrypted until a valid login and access is provided.

[2015-12-05 17:20] stefanpenner commented on #220
Offline sync and encryption sounds tricky. This will likely require some thorough further investigation, choosing a cypher is the least of the choices needed to be made.

[2015-12-05 22:39] richchurcher opened #221 "Node 5 support"
Fresh installs with Node 4.x are spinning up nicely. Installs with 5.x succeed, but `ember serve` results in:

[code]
It's not entirely clear, but this is likely to be an ember-cli issue as they're still recommending 4.0.

[2015-12-05 23:35] turboMaCk commented on #207
I'm interested in implementing this one. :rocket:

[2015-12-05 23:45] richchurcher commented on #6
@tangollama I can take a look at this one.

[2015-12-06 00:19] LennonR commented on #35
@tangollama I'll give this a go.  Are there any additional requirements besides adding "set fee" to the Pricing Profile forms and display pages in the Billing/Price Profiles section?

[2015-12-06 01:10] LennonR commented on #35
@tangollama Also, when I run the tests on a newly cloned project, I get 60 test fails out of 684.  Is that expected or is something wrong with my local build?

[2015-12-06 01:18] mattleff commented on #220
@ircmaxell might have recommendations (per [this](https://twitter.com/ircmaxell/status/588770036162015232)).

[2015-12-06 01:55] stefanpenner commented on #221
No we support node 5, but many flavors of npm v3 are totally broken (they can't even install npm) I suspect this is what you may be hitting

[2015-12-06 02:29] richchurcher commented on #221
That did the trick, thanks!

[2015-12-06 02:29] #221 closed

[2015-12-06 02:43] jkleinsc commented on #35
@LennonR when did you fork?  Yesterday I committed a fix for tests that were failing but they should be all passing now.  Maybe try to rebase?

[2015-12-06 02:45] LennonR commented on #35
@jkleinsc I forked today a few hours ago

[2015-12-06 03:08] stefanpenner commented on #221
@richchurcher ya, that release of npm has been giving us some grief. I hope node 5.x starts bundling one that works correctly asap.

[2015-12-06 03:09] tangollama commented on #207
Awesome. Please do. I'll pull it off the help wanted list tomorrow. See me @tangollama for requirements clarification.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-12-06 03:10] tangollama commented on #6
Awesome. Blossom. Please do. I'll take it off the help wanted list tomorrow.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-12-06 04:07] richchurcher commented on #221
It threw me because I mistakenly assumed that node 5.1.1 would've had an npm that was very recent! Apparently not recent enough. I might throw a note into the README to prevent people wasting time on it, as more upgrade from 4.x.

[2015-12-06 04:57] hex007 commented on #220
I think it is a bit early to implement encryption. Client side encryption seems easier than Server side.

@pengux As you said patient data should only be decrypted on successful login. Do you think decryption should be done based on user access level or user role level. As in, should a doctor have access to decrypted data of only his/her patients or of all the patients as a `Doctor` only. This mak

[2015-12-06 05:03] jkleinsc commented on #35
@LennonR what tests are failing?

[2015-12-06 06:47] pengux commented on #220
@hex007 Yes, the data should only be decrypted if the user has access to it. I'm not sure how your ACL and permissions are built but it should be easily done on the server side and sync down to the app. So the app only have the decrypted data that the current user is allowed to see. If the user logouts then the data should also be removed from the app.

[2015-12-06 12:42] stefanpenner commented on #220
This then likely weakens the offline mode features of this application. Or weakens the security, because the user who is about to go offline for some time, will opt not to log out so they can keep access to the offline data.

Both sides have unfortunate side-affects.

An interesting an related article: http://tonyarcieri.com/whats-wrong-with-webcrypto lets see if tony has some cycles to give his t

[2015-12-06 14:07] pengux commented on #220
Not necessarily as the app can be put to sleep mode (which also preferably encrypt the data) and require the user to authenticate again. The data is deleted only when the user actively logout.

I don't think the app will be HIPAA compliant without any encryption of data, and it may prevent uses in organisations which require compliance.

[2015-12-06 14:29] stefanpenner commented on #220
the trick is doing this safely on the client

[2015-12-06 14:50] turboMaCk commented on #207
I just opened PR with early implementation steps. Let's move discussion in here to keep it specific to code: https://github.com/HospitalRun/hospitalrun-frontend/pull/225

[2015-12-06 16:01] hex007 commented on #220
This is my workflow towards the encryption problem.

1) A user logs into the system.
1.1) The username password and a random hash token (encryption token) is generated.
1.2) the server recieves this data.
1.3) the server authenticates the user and generates an access token. This is used for all further communications.
1.4) the user successfully authenticated message is sent to client with access t

[2015-12-06 16:15] LennonR commented on #35
@jkleinsc 1, 4-7, 10-13, 16-33, 36-40, 43-45, 48, 51-54, 57-65, 68-76, 79, 622

[2015-12-06 17:26] jkleinsc commented on #220
One thing to keep in mind here:  this project is targeting hospitals in the developing world and as such we don't need to worry about HIPAA compliance.
  That isn't to say security shouldn't be considered, but we are operating under different constraints.  If there are performant ways to provide encryption and those ways make sense for the project I think they are worth discussing.

[2015-12-06 17:53] tarcieri commented on #220
I would suggest starting with access control requirements and a threat model. What data is worth protecting? Who are you protecting it from? Who should have access?

One of the biggest problems with client-side JS encryption is often it doesn't actually mitigate any threats (and may add additional attack surface)

[2015-12-06 17:59] jkleinsc commented on #35
Is that happening running npm test/ember test ?  Do you have phantomjs installed and if so what version?  The command line tests rely on phantomjs v2.  You can also run the tests in the browser by running ember serve and then going to localhost:4200/tests

[2015-12-06 18:13] LennonR commented on #35
I had phantomjs < version 2 so that was probably the problem.  I ran them in the browser and they all passed.  Thanks for the help.

OK, so back to my original question:

Are there any additional requirements besides adding "set fee" to the Pricing Profile forms and display index page in the Price Profiles section?

[2015-12-06 18:18] turboMaCk commented on #209
I think it makes sense to implement logic for `in danger of stocking out` on backed/couchdb side. It should be send as another property on model (`Boolean`?) than the component `inventory/rank-select` from my PR or any other component (adding icon `!` to name?) should display some indication directly in list/detail. This should be the first step before implementation of alerts and emailing. Let's

[2015-12-06 18:33] jkleinsc commented on #35
The intention for this feature is that a patient would only pay a set fee regardless of how much they were charged on an invoice.  So the two places this needs to be addressed in are the crud for pricing profiles and then in the invoice section, when a patient with a pricing profile of this type is selected for an invoice, the total that the patient owes is pulled from the profile and the invoice

[2015-12-06 18:44] LennonR commented on #35
I think so.  Let me try an example.

We have an invoice for $2000.  The pricing profile is chosen that has a set fee of $500.  The invoice then needs to have a hospital discount of $1500 applied so that the final total is $500.

Is that correct?

[2015-12-06 19:50] tangollama commented on #35
Correct.

[2015-12-06 20:52] iagox86 commented on #220
Hey, Stef roped me into this, and I wanted to give my 2 cents. I don't know enough about this project or have enough cycles to help much, but I figured I'd say something!

@tarcieri made the exact point I was going to, but I'll try to expand on it.

The most important thing to do, before even thinking about what type of encryption to use is thinking about the goals and threat model that you're try

[2015-12-06 22:40] hex007 commented on #220
In case of Death or incapabilities of a user to unlock data, an admin should always be able to unlock it. The problem in that case might change from data protection to keeping track of all users and the time of modification of data. Thus keeping users accountable for misuse.

[2015-12-06 22:47] tarcieri commented on #220
@hex007 to do that (allow an administrator to unlock any record) with client-side encryption you'll need a key escrow system, which is a very tricky thing to get right.

If that's the case, you're probably better off with server-side access control.

[2015-12-06 23:01] iagox86 commented on #220
But if you aren't using client-side encryption, then anybody who breaks
into the server can access the key and decrypt the records, and therefore
the encryption is pretty much pointless.

That's why I wanted to bring up that scenario. :)

At work, we have a separate system (which runs on a different server) that
handles access control and hands out encryption keys, and nothing else. But
that's bas

[2015-12-07 00:55] #132 closed

[2015-12-07 01:34] jglovier commented on #219
Out aim is to have the app responsive down the probably the 600px mark. #135 is the next step in that effort, which is on my immediate radar, and then I'll need to break down the work into chunks beyond that after, making the app as responsive as possible down to 600px.

However, mobile usage is not currently part of our goals – at least not for the 1.0 ship. In the developing world hospitals we a

[2015-12-07 01:34] #219 closed

[2015-12-07 01:43] hex007 commented on #220
Can you elaborate on key escrow and how is works?

What do you think about the workflow that i have suggested? I did not specifically mention server side encryption as i didnt know how to handle that. Decryption of data and then encryption of request specific data will be taxing on the server if there are many users. How many, depends on the server config. Considering that places looking for using

[2015-12-07 02:45] stefanpenner commented on #220
It seems like the higher order bit, is actually fleshing out the requirements. Specific solutions can be applied when the business cases have been specified, and holistic solution thought up. I would be concerned by any patch work attempt at securing the system.

[2015-12-07 03:13] iagox86 commented on #220
Encryption isn't really that slow or intensive.. IMO, performance
considerations should wait until it can be benchmarked.

In terms of escrow and such, I'll have to get back to you.. Typing from my
phone. :-)

But basically, it either require an extra server that handles the keys.

Ron
On 6 Dec 2015 6:45 p.m., "Stefan Penner" <notifications@github.com> wrote:

[2015-12-07 06:15] santoshgistto opened #227 "Is REST Api supports?"

[2015-12-07 09:44] Lewiscowles1986 commented on #115
Currently stuck on this, learning a little more about ember.js so I can provide a useful mid to long-term solution

[2015-12-07 10:50] Lewiscowles1986 commented on #115
over at http://jsfiddle.net/LewisCowles1986/c3ze1178/ I have working analytics code in Ember, but I am worried it uses an incompatible version of ember... will test soon, sorry guys, been busy

[2015-12-07 15:20] jkleinsc commented on #200
Everything seems to be working correctly in Ember 2.2.

[2015-12-07 15:20] #200 closed

[2015-12-07 15:20] jglovier commented on #115
@Lewiscowles1986 thanks for the update!

Have you checked out how the Atom team is collecting metrics in Atom, and the [package they built](https://github.com/atom/metrics)? Atom isn't an Ember app (but it is node based), but perhaps their metrics package will give you some ideas for getting through where you are stuck.

[2015-12-07 15:23] Lewiscowles1986 commented on #115
Oh the JSFiddle is an ember app and it's receiving analytics events, I just have to add it to the ember app, it will likely work from copy->paste; I'm testing in about an hour when I'm done with work for the day :wink:

[2015-12-07 15:50] jkleinsc commented on #227
@santoshgistto there isn't a specific HospitalRun REST API, but on the server side, HospitalRun uses [CouchDB](http://couchdb.apache.org/), which has a strong REST API: http://docs.couchdb.org/en/1.6.1/api/index.html#api

[2015-12-07 15:54] jkleinsc commented on #212
@aniljava this is intentional.  The idea is that any adjustments to inventory, including mistakes made entering a purchase would be adjusted via the Adjust button on a location.  The reason for this design is that it ensures that any adjustments to inventory have a clear audit trail.

[2015-12-07 16:10] ircmaxell commented on #220
My stance is that you shouldn't be doing crypto in the browser (or more accurately, you shouldn't be relying on it): [JavaScript Cryptography Considered Harmful](https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2011/august/javascript-cryptography-considered-harmful/).

Instead, what I'd recommend is decrypting server side once you pass ACL for that user. As far as protecting against

[2015-12-07 16:22] iagox86 commented on #220
IMO, TLS should be required, not even up for discussion (of course, that's
not my decision to make, but launching anything with sensitive data that
doesn't require TLS is crazy).

The thing is, if the server stores the encryption keys and enforces ACLs,
then what, exactly, does the encryption accomplish (besides a checkbox on
HIPAA if that was an issue)?

On Mon, Dec 7, 2015 at 8:10 AM, Anthony Fe

[2015-12-07 16:37] jkleinsc commented on #211
HospitalRun tackles this by using typeahead fields instead of dropdowns where applicable.  These typeahead fields also support the ability for users to add new values.  An administrator can choose to turn off the ability for users to add new values for typeaheads.  In my opinion this gives us greater flexibility out of the box and also means that when a new site comes up an admin doesn't have to s

[2015-12-07 17:19] jglovier commented on #13
Bump. With the new influx of folks interested in helping out, having seed data would be really helpful for local dev. And still would be really helpful for me as I'm working on the UI. :grin:

[2015-12-07 17:27] jkleinsc commented on #220
I agree that we should be using TLS server side and with [Let’s Encrypt](https://letsencrypt.org/) now providing free certs, there really isn't any excuse.  [HospitalRun server](https://github.com/hospitalrun/hospitalrun-server) already supports SSL/TLS, but its not configured by default.

I appreciate all of the discussion here and I believe at the current time the best approach forward is server

[2015-12-07 18:33] tarcieri commented on #220
Data-at-rest encryption for the contents of your database can be nice, especially PII/PHI. This means if someone compromises a database backup, they haven't immediately breached confidential health information.

[2015-12-07 18:35] tangollama commented on #115
@Lewiscowles1986 I'll look into this issue this week and try to give you some useful feedback. Commenting now just to let you know I'm noticing your requesting input and that I intend to offer it. Thanks.

[2015-12-07 18:44] santoshgistto commented on #227
@jkleinsc  Thank you

[2015-12-07 19:00] #227 closed

[2015-12-07 21:03] jglovier commented on #13
![help-me-obiwan](https://cloud.githubusercontent.com/assets/1319791/11639656/17b0e46e-9cfc-11e5-9afd-aad0f698c389.gif)

[2015-12-07 21:45] tangollama commented on #211
@bhagyas, unless you have additional questions / concerns / input, I'm inclined to close this issue. Let me know if @jkleinsc response is sufficient.

[2015-12-07 21:48] tangollama commented on #212
Agreed. Thanks for the input @aniljava. If you have further concerns re: this issue, feel free to reply. As @jkleinsc pointed out, the process for adjustments vs. edits came directly from user feedback.

[2015-12-07 21:48] #212 closed

[2015-12-07 21:49] tangollama commented on #6
Removed Help Wanted as @richchurcher is looking into it.

[2015-12-07 21:56] Lewiscowles1986 commented on #115
:+1: The jsfiddle code does not work as a dropin; I have reviewed https://github.com/atom/metrics, but from an abstract maintainability perspective I think it isn't using analytics "the google way". It seems like the nasty way some PHP dev's signal analytics.

[2015-12-07 22:03] jkleinsc commented on #13
We should be able to use [pouchdb-load](https://github.com/nolanlawson/pouchdb-load) and [pouchdb-dump-cli](https://github.com/nolanlawson/pouchdb-dump-cli) to do this.
Basically, we just need someone to do the following:
1. Setup a new empty instance of HospitalRun frontend
2. Populate that instance with sample data.
3. Run [pouchdb-dump-cli](https://github.com/nolanlawson/pouchdb-dump-cli) to du

[2015-12-07 22:14] Lewiscowles1986 commented on #115
On the plus side there are no longer code errors :laughing:

I had to modify `config/environment.js` to get ember-cli's Content Security Policy to do one and let me embed google analytics; I have a problem that the problem is where I am adding to app

[code]

[2015-12-07 22:41] Lewiscowles1986 commented on #115
got it working :+1: writing PR now (may need refactoring later, but it works)

[2015-12-07 23:10] Lewiscowles1986 commented on #115
for next iteration https://github.com/poteto/ember-metrics will probably be used

[2015-12-07 23:55] jkleinsc commented on #115
@Lewiscowles1986 it looks like tests aren't passing on the PR.  I suspect if you switch the PR to use ember-metrics the tests should pass.

[2015-12-08 01:14] jglovier opened #230 "Add "Patient Listing" button to patient update confirmation dialog"
<img width="643" alt="screen shot 2015-12-07 at 8 11 28 pm" src="https://cloud.githubusercontent.com/assets/1319791/11645035/0c83ac0c-9d1f-11e5-94ec-6863bd900302.png">

Once you create a new patient record, or update an existing record, you get a confirmation dialog that basically just dismisses the dialog. There is a good chance once you're done updating the record you simply want to return to th

[2015-12-08 03:18] jglovier commented on #13
@jkleinsc okay, I'll run through steps 1-3 and then probably will need help with step 4.

[2015-12-10 03:26] capurp commented on #230
Hi, I am interested in helping out on this project. Could I take a shot at implementing this request?

[2015-12-10 03:44] tangollama commented on #230
Absolutely. Swing away.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2015-12-10 04:28] capurp commented on #230
Awesome! Thanks. I am still getting familiar with ember and trying to understand the application repo. So I apologize in advance if this fix will take a bit longer to implement...

[2015-12-10 15:52] tangollama commented on #141
@billybonks, given that this conversation went cold back in July b/c of the upgrade work, I'm guessing you didn't start anything with this; but I wanted to ask if this was on your radar or if I should be looking for someone else to look into it? No worries either way. Just asking.

[2015-12-10 15:53] #211 closed

[2015-12-10 18:01] turboMaCk commented on #209
:rocket: Lets start. Let me know if anyone has some ideas on this one.

[2015-12-10 19:14] turboMaCk commented on #207
Should be closed: https://github.com/HospitalRun/hospitalrun-frontend/pull/225

[2015-12-11 09:24] bhagyas commented on #211
Apologies for the delay in response.

Having select2 or similar would enable picking up values that don't start from a particular sequence of characters.

[2015-12-11 15:50] jkleinsc commented on #207
Closing as this was addressed in pr #225

[2015-12-11 15:50] #207 closed

[2015-12-12 16:22] tangollama opened #234 "An array of allergies (new model) associated to patients"
Track allergies on a patient, for the purposes of eventual features to trace drug interactions. Philosophically, we don't want HospitalRun handling the interaction service. Instead, we'd prefer to both trace the list of allergies as well as the list of allergic reactions/interactions from a separate, centralized service. However, to to any of that, we need the allergies identified and associated w

[2015-12-12 16:24] tangollama opened #235 "Display allergies on the patient summary header"
Once we have #234, display allergies in the patient summary component (app/components/patient-summary.js).
## TODO
- [ ] Ability to specify allergies for a patient
  - [x] Modify the model to add allergies hasMany
  - [ ] Change Visits edit route to allow editing allergies
  - [ ] Display on Patient Summary

[2015-12-12 16:35] tangollama opened #236 "Make the list of allergies a service"
Ideally, we want to identify an set of outside data sets that the system can both load (cache) it's data from as well as accept updates, etc. This is the case with allergies, but it should ultimately be the case with all medical data sets (ICD-10, CPT, etc) as well insurance and billing information.

Remembering that the core tenants of the system are:
- modern architecture (i.e. cloud, services,

[2015-12-12 18:00] trevorbunch commented on #234
If you are using an external drug / allergy interaction service (e.g.
through a Vidal or Lexicomp) - you should plan to use a standard Allergy Dx
code system (e.g. ICD-10-CM).

*Trevor Bunch * Chief Information Officer
<http://ae.linkedin.com/in/trevordbunch>  <https://twitter.com/trevorbunch>
Tel: +971 3 713 1161 | Address: PO Box 1016, Al Ain, UAE
tbunch@oasishospital.org | www.oasishospital.org

[2015-12-12 19:15] tangollama opened #237 "Improved diagnosis and procedural coding setup"
Ideally, we'd want the system to be able to:

a) select and "import" into the system a coding standard,
b) as well as keep itself updated and "migrate" from one form to another

[2015-12-12 19:16] #237 closed

[2015-12-12 19:52] tangollama opened #238 "Deployment process"
Here's a vision: I access the demo site, now I've got the whole app on my device.

Now from within the app, I initiate the process to "create the app," meaning deploy the system to an EC2 instance (or whoever we make the cloud provider), including automatically transferring the data I've been capturing and entering on my local machine into the cloud instance.

With Pouch/Couch, we could get that.

[2015-12-12 22:46] tangollama opened #239 "Patient History Report"
Related to the work on #32, we have a need to a consistent popup in the UX that gives a clinician a quick look at a patient's history.

<img width="182" alt="screen shot 2015-12-12 at 5 42 08 pm" src="https://cloud.githubusercontent.com/assets/929261/11764281/b1cac1e2-a0f7-11e5-844a-cab65bfb1d96.png">

Per my latest requirements conversations, there's some nuance here.
1. Docs want to see all the

[2015-12-13 21:17] tangollama opened #243 "Update the contribution guidelines to highlight the team slack."
Add https://hospitalrun.slack.com/signup to the contribution guidelines.

[2015-12-13 21:22] #243 closed

[2015-12-14 06:02] SwathiVarkala opened #245 "new PatientId is generated on every refresh of New Patinet page #/patients/edit/new"
On every load/refresh of #/patients/edit/new page, the Patient id is incrementing even if no patient is created.
Steps to Reproduce :
1.Open New Patient page.
    Ex : Patient Id field shows auto generated Patient Id as P001
2.Reload the Page without creating the patient.
Expected : Patient Id after reload should still be P001 as it is not used for any Patient
Actual : Patient Id Field now shows P

[2015-12-15 03:13] billybonks commented on #141
@tangollama, let me try set this up this weekend otherwise, ill drop it :+1: my time has been limited lately

[2015-12-15 13:23] tangollama commented on #141
Word.

[2015-12-28 17:20] bkerensa opened #249 "Allow External Results Submission"
If we wanted to add support for HospitalRun in Glucosio we would need some sort of API with the ability to send health data directly into a Hospital Run instance. Is this possible currently? The kind of data we would like to share is Blood Glucose Levels, HBA1C and Weight.

[2015-12-28 19:39] jkleinsc commented on #249
@bkerensa we currently don't have an API that does that, but it sounds like a candidate for the [HospitalRun server](https://github.com/HospitalRun/hospitalrun-server) project.  Feel free to log an issue there.

[2015-12-29 02:54] jkleinsc commented on #13
@jglovier did you get anywhere with this? If not I am going to run with it.

[2015-12-29 15:31] jglovier commented on #13
@jkleinsc I did, but haven't found time to get it finished. If you feel like you want to tackle it and can get it done before I will go ahead. I'm not sure I'll have a chance to pick it back up in the next few days.

[2015-12-29 15:37] jkleinsc commented on #13
I've got a working solution and it turn out way better than I was originally envisioning.  Expect an update soon
<img width="295" alt="load-db" src="https://cloud.githubusercontent.com/assets/609052/12036894/c13ac85a-ae0f-11e5-9fb1-969769eaea46.png">

[2015-12-29 15:38] jglovier commented on #13
![img](http://gifs.joelglovier.com/excited/noice.gif)

[2015-12-29 16:01] #13 closed

[2015-12-29 16:42] turboMaCk commented on #209
First part done in: https://github.com/HospitalRun/hospitalrun-frontend/pull/232

[2015-12-29 18:22] jkleinsc opened #250 "Login does not provide feedback"
When logging in, if user name / password is incorrect, there is no visual feedback that login failed.

[2015-12-30 15:22] jglovier commented on #250
Yeah, good catch. We def need to fix that. Also, how do we accomplish a password reset function without having an outbound email notification system?

[2015-12-31 17:36] jglovier opened #252 "Improve sample data"
Shout out to @jkleinsc for getting us a way to load sample data for development, and creating the initial sample data file. :metal: :zap:

The sample data could use some improvement, though. Currently most screens only have 1 example, and there are still a few that don't have any from the sample data. I'm happy to use the current sample data as the basis and work on making it more extensive.

Woul

[2015-12-31 17:48] jkleinsc commented on #252
Exporting a data dump is the same as explained here:
https://github.com/HospitalRun/hospitalrun-frontend#fixtures-for-acceptance-tests

Basically, you use [pouchdb-dump-cli](https://github.com/nolanlawson/pouchdb-dump-cli).
e.g. run ```pouchdb-dump http://localhost:5984/main -u hradmin -p test | cat > tests/fixtures/nameofdump.txt.```

[2016-01-03 04:40] alexpelan commented on #250
I can do this one

[2016-01-04 13:41] #250 closed

[2016-01-07 06:46] ronikb opened #256 "phantomjs-2.0.0-linux-x86_64 installation not working"
As part of installing this, not able to install phantomjs2 (npm install -g phantomjs2)

While executing this command (npm install -g phantomjs2) I am getting the following error. It seems that the installation not able to download phantomjs-2.0.0-linux-x86_64.tar.bz2 file from https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.0.0-linux-x86_64.tar.bz2 .How to solve it. It will be good to

[2016-01-07 10:57] ronikb commented on #256
Able to install it using npm install phantomjs and installed HospitalRun. Able to install its web interface with the default username and password. How can i change this default pasword?
NOt able to create new users also

[2016-01-07 16:41] jkleinsc commented on #256
@ronikb it looks like there are issues with the static build on PhantomJS on Linux.  You can follow directions here to build PhantomJS from source: http://phantomjs.org/download.html

As far as the user update/create, it turns out that an update to the npm package nano caused this issue.  I am checking in a fix shortly.

[2016-01-07 16:42] #256 closed

[2016-01-14 04:30] ronikb opened #260 "Branding"
How can I brand this hospitalrun as our company label? Means I wanted to replace left top corner +hospitalrun as our Company name.Is this possible?

[2016-01-14 20:29] tangollama commented on #260
Thanks for the question @ronikb. Branding an instance for a specific hospital makes perfect sense, and it's a feature that we'll likely have in place (at least in it's most rudimentary form) before we ship a 1.0 version.

However, at present, we're not actively encouraging people to download and install the software. As such, the feature isn't available and won't be part of the master branch until

[2016-01-14 20:53] jkleinsc opened #261 "Change inventory relationship on medication to be async"
As part of addressing HospitalRun/hospitalrun-server#5, we need to change the inventoryItem relationship on the medication model to be async.  Also, the medication record will need to have an additional field added to track the name of the inventory item associated with the medication record.
Once we do so, users who need access to medication records but do not need access to inventory records wil

[2016-01-14 21:05] jkleinsc commented on #220
There has been an ongoing conversation on the server side of this project here:
HospitalRun/hospitalrun-server#5.  We are going to start partitioning the data so that users only have access to the data accompanying their role.  The one frontend feature that we do need to implement is to partition out private patient data into its own data model so that we can limit which users can see that data.

[2016-01-15 05:41] ronikb commented on #260
@tangollama Thanks for your reply. However, at present, we're not actively encouraging people to download and install the software. What this statement meant?, this software is not ready?

[2016-01-15 13:54] njardus commented on #219
As someone that lives in the developing world (South Africa) with a laptopless and tabletless doctor wife working in the state hospital close to where we live, I have to disagree about tech availability. She often comes home from work to use her desktop machine to trace blood labs, for instance. I'd consider it much more important than a nice to have, even if it happens some time after 1.0.

(disc

[2016-01-15 14:55] jkleinsc commented on #219
I think @jglovier misspoke when he said staff always have laptops and tablets in developing world hospitals.  It obviously depends on the hospital's resources and their commitment to technology.  Given the popularity/availability of mobile phones in the developing world, I would agree that a phone interface is needed, but it is a challenge to do this in a way that provides enough information to us

[2016-01-15 16:48] jglovier commented on #219
@jkleinsc to clarify, [my words](https://github.com/HospitalRun/hospitalrun-frontend/issues/219#issuecomment-162386269) were specifically about the CURE hospitals where HR is currently deployed and the use case we are building for at this stage. Is it not accurate that in those cases the medical professionals using the system always have tablets or laptops available to them?

[2016-01-18 12:25] pgte opened #264 "server duplication"
When working on https://github.com/HospitalRun/hospitalrun-server/issues/5 I noticed that there is a duplication of the server code: what it seams to be a trimmed-down developer version of the server sitting [here](https://github.com/HospitalRun/hospitalrun-frontend/tree/master/server) and this repo.

I think it would be good to deduplicate so that we can easily introduce changes without needing t

[2016-01-18 15:42] jkleinsc commented on #264
@pgte if I recall correctly I think the code in HospitalRun/hospitalrun-server was created first and then some of it was ported over to  HospitalRun/hospitalrun-frontend so that you could run the ember frontend in development without setting up the server.   HospitalRun/hospitalrun-server has more features than  HospitalRun/hospitalrun-frontend, but I think it would be great to somehow combine the

[2016-01-18 17:32] MarceloBorgesP commented on #256
Was this problem already solved? I'm still getting the same as above @jkleinsc :

 npm install -g phantomjs2
npm WARN deprecated npmconf@2.1.1: this package has been reintegrated into npm and is now out of date with respect to npm
/home/marcelo/.nvm/versions/node/v0.12.5/bin/phantomjs -> /home/marcelo/.nvm/versions/node/v0.12.5/lib/node_modules/phantomjs2/bin/phantomjs

 phantomjs2@2.0.2 install /

[2016-01-18 17:44] jkleinsc commented on #256
@MarceloBorgesP If you are using Linux, you will need to build PhantomJS from source following directions here: http://phantomjs.org/download.html.
The "fix" here was to update the README to reflect this.

[2016-01-18 17:46] MarceloBorgesP commented on #256
Hmm right, thanks @jkleinsc !

[2016-01-19 13:05] bpacreau commented on #171
Hi jglovier,

I, with @g12l, are interested in helping you on this issue.
As this will be our first PR, we would like to start by working on the README improvment only.
Do you still need some helps on this part of the issue?

Thanks for your answer

[2016-01-19 17:28] jglovier commented on #171
@bpacreau awesome! Thanks for your help.

Do you still need some helps on this part of the issue?

Sounds good. Yes, I still think there is a little room left for improvement in the README, although it has been improved significantly since I opened this issue. But feel free to look for areas that could be improved and work on them.

The main concern at this point (which you could address after you

[2016-01-20 21:25] #230 closed

[2016-01-21 01:53] capurp commented on #44
I would like to take a shot at fixing this issue and officially put my name on it.

[2016-01-21 03:00] tangollama commented on #44
Great!

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-01-21 16:11] enochtsang opened #270 "Create Invoice Test Fail with Certain Timezones"
I am using:
 - Linux Mint 17.1 Rebecca (64bit) (Should be similar enough to Ubuntu 14.04)
 - Google Chrome 47.0.2526.106 (Official Build) (64-bit)
 - ember 1.13.14
 - CouchDB 1.6.1 Vendor

Using a fresh install, the `create-invoice` test will fail with any time zone between -0500 and -1100. Time zones between -0600 and +1200 will pass. This is due to the test waiting for the visit date 11/1/2015 -

[2016-01-21 21:31] jonkoops commented on #141
@billybonks Any update on this?, would love to help out.

[2016-01-21 23:45] jkleinsc commented on #141
@jonkoops @billybonks had a PR that setup localization and that has been merged and at this point what is needed is to convert all of the templates to use localized text.  I was intending on creating issues for each functional area to convert the templates but I haven't done so yet.

[2016-01-22 09:48] jonkoops commented on #141
@jkeinsc Alright, let me know when you do then I'll pick some up.

[2016-01-22 15:14] jglovier commented on #205
I spun up a Pivotal Tracker board to try out. Currently adding all of my tasks there, and creating a few epics. I made an epic for the 1.0 release, and a couple others.

https://www.pivotaltracker.com/n/projects/1519497

[2016-01-22 15:20] jglovier commented on #205
Added a PT integration to our Slack so the PT activity will be fed into the #project-activity room in Slack. :zap:

[2016-01-22 15:38] jglovier commented on #6
Bump. @richchurcher did you have a chance to look into this yet? Any update? When you get a PR open, feel free to cc me on it and I'll work with you on the styling.

[2016-01-22 16:23] jglovier opened #273 "Fix styling for login alert"
This styling (added in #250) doesn't match the app's design. Also, the alert should be above the button, or maybe above the input fields.

![image](https://cloud.githubusercontent.com/assets/1319791/12516210/4aa7fab6-c0fa-11e5-845d-48a946d2a677.png)

[2016-01-22 16:29] alexpelan commented on #273
I can fix (it looks like you may have already started, though?) I did cause
it, after all...

On Fri, Jan 22, 2016 at 11:23 AM, Joel Glovier <notifications@github.com>
wrote:

[2016-01-22 16:35] jglovier commented on #273
@alexpelan thanks, but I've got a branch in progress with some other login tweaks as well.

[2016-01-22 16:55] jglovier commented on #273
@alexpelan FWIW, it's really not your fault. We really have a long way to go on the styling of the app, and I'd like to get to a place that we have all the components available and styled correctly so that contributing devs can just jump in and use the existing styles. Right now, we have a lot of default bootstrap styles that should really be themed. So properly theming bootstrap and removing unus

[2016-01-22 20:35] g12l commented on #171
Thank you for your answer. With @bpacreau we have not found relevant improvements to do on your Readme. We won't be able to help you on this issue :(.
It's a great project anyway and we wish you all the best !

[2016-01-22 21:10] jkleinsc opened #274 "Localization for Patients Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the patients module.Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Tran

[2016-01-22 21:12] jkleinsc opened #275 "Localization for Appointments Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the appointments module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc

[2016-01-22 21:14] jkleinsc opened #276 "Localization for Inventory Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the inventory module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-T

[2016-01-22 21:15] jkleinsc opened #277 "Localization for Imaging Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the imaging module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Tra

[2016-01-22 21:16] jkleinsc opened #278 "Localization for Medication Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the medication module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-

[2016-01-22 21:17] jkleinsc opened #279 "Localization for Labs Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the labs module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Transl

[2016-01-22 21:17] jkleinsc opened #280 "Localization for Billing Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the billing module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Tra

[2016-01-22 21:18] jkleinsc opened #281 "Localization for Admin Module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app.  This issue is to track localization for the admin module.  Localization in HospitalRun uses [Ember-I18n](https://github.com/jamesarosen/ember-i18n).  The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Trans

[2016-01-22 21:20] jkleinsc commented on #141
@jonkoops The following localization issues have been added:
#274, #275, #276, #277, #278, #279, #280, 281

[2016-01-22 22:57] mDantas commented on #141
@jkleinsc @jonkoops just wanted to say hi and that'd I'd be interested in helping out too.

[2016-01-23 01:03] alexpelan commented on #277
I can take a stab at this one this weekend whilst snowed in - imaging looks like the simplest module, so easiest to get a feel for the i18n process.

[2016-01-23 04:08] #273 closed

[2016-01-23 09:58] enochtsang commented on #270
I tried changing the code to
[code]
In `invoices-test.js`, which got all tests to pass in all timezones in the browser, but the tests will still fail the same in the browser.

[2016-01-23 11:53] jonkoops commented on #274
@jkleinsc I am willing to take this one, could you assign it to me?

[2016-01-23 11:55] jonkoops commented on #141
@mDantas I'll take the Patients module, maybe you can work on the Appointments module at the same time?

[2016-01-23 17:35] jkleinsc commented on #270
@enochtsang I'm not sure I understand what you mean when you say: " all tests to pass in all timezones in the browser, but the tests will still fail the same in the browser."  Do the tests pass or fail?

As far as the UTC time, here is what is going on:  when a date that doesn't require a time is entered into the system, it gets entered as midnight of that day because javascript dates always conta

[2016-01-23 17:40] jkleinsc commented on #274
@jonkoops it's yours.

[2016-01-25 08:47] enyachoke commented on #260
@ronikb Am thinking the feature request makes more sense for a production setup. If am not wrong the software is in beta currently version 0.8.7. So the short answer is the software is not ready for production and it is not encouraged to run it as such.

[2016-01-25 08:51] enyachoke commented on #249
:+1: .
I think this makes a lot of since in Countries like Kenya where most hospitals don't have lab and imaging or their facilities are ill equipped meaning patients have to be sent to external facilities for labs and imaging before coming back to the hospital. The same may also apply for the pharmacy.

[2016-01-25 16:35] jkleinsc opened #284 "Search is broken"
Search is failing with the following error:
application.js:40 Uncaught TypeError: this._handleQueryResponse is not a function

[2016-01-25 16:54] #284 closed

[2016-01-25 16:57] jkleinsc opened #285 "Get ember-cli-content-security-policy working"
I have temporarily removed [ember-cli-content-security-policy] (https://github.com/rwjblue/ember-cli-content-security-policy) from package.json because in development it is throwing errors that are confusing new developers.  We need someone to correctly configure the app for ember-cli-content-security-policy so that we don't get these errors.

[2016-01-25 21:31] tangollama opened #286 "Determining the best HL7 node library solution for HospitalRun"
We need to integrate with an imaging solution using HL7 (https://www.hl7.org/) as the standard. There are a number of Node-based libraries for accomplishing this. We need to determine which is the best solution to use (https://www.npmjs.com/search?q=hl7). Thus creating an issue requesting help.

[2016-01-25 22:03] tangollama commented on #260
@ronikb @enyachoke is correct. The software - since it is not in a 1.0 state - has not been released and therefore is not ready. Our objective, at present, is to reach a 1.0 release by July of this year.

[2016-01-25 22:34] jkleinsc opened #287 "Invoice number on new inventory item is not being recorded"
When creating a new inventory item the invoice number entered in doesn't save on the inventory purchase.

[2016-01-25 22:36] #287 closed

[2016-01-26 01:53] tangollama commented on #286
@jkleinsc, given that this is a research topic that will likely involve tasks on both the server and frontend, I elected to add this issue here. Any objections?

[2016-01-26 16:49] jkleinsc commented on #286
@tangollama I think this is probably the best place to put it for now.

[2016-01-26 18:16] #277 closed

[2016-01-27 00:02] gtramontina commented on #286
Hi there,
I've just came across this project on [the latest issue of Offline First](http://us4.campaign-archive2.com/?u=12d36bbe9418ed6a43127cd62&id=4fb72e0584) and found it really interesting.

I have worked with medical imaging software a while ago (~7/8 years ago) and I'm willing to help out! I've dealt mainly with DICOM (leveling, windowing, measuring, ROI…) and PACS servers. My concepts and u

[2016-01-27 00:29] tangollama commented on #286
@gtramontina thanks for reaching out.

We'd love to have your assistance in working towards the best decisions for the product / project / platform. It might be productive for the two of us to move any back-and-forth conversation into our [Slack](https://hospitalrun-slackin.herokuapp.com/). You can find me there, as here and everywhere, by the handle tangollama.

[2016-01-31 20:06] tangollama commented on #61
@jkleinsc given recent work, is this issue still relevant.

[2016-02-01 14:25] jkleinsc commented on #61
@tangollama yes this issue is still relevant.  We need to do some server work for HospitalRun/hospitalrun-server#5 but then we also need to update the frontend to work with per-role databases.

[2016-02-02 18:25] tangollama commented on #28
See requirements [here](/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Physio-Events)

[2016-02-02 21:07] #44 closed

[2016-02-04 02:51] jglovier commented on #137
Talked with @jonrohan this morning about this. He might be able to help, or at least point me in the right direction for getting this going.

[2016-02-05 14:09] filipesperandio commented on #11
I like the idea.
I am also very fan of `Makefile`s and I can open a PR for that if people think it is valuable and are comfortable using `make`.

[2016-02-05 14:20] jkleinsc commented on #11
@filipesperandio I don't think we need a Makefile since there aren't any executables for this project that get built.  It's an ember web app and the way it gets built is via `ember build`.

[2016-02-05 14:23] filipesperandio commented on #11
I understand that. `make` helped me in the past even on script projects smoothing out dependencies.
for example a target `make serve` could depend on `ember-cli` and `bower` being installed.

[2016-02-05 14:32] filipesperandio commented on #11
@jglovier `script/server` OR `scripts/server` ? (with an `s` at the end of scripts)

[2016-02-05 14:36] jkleinsc commented on #11
@filipesperandio gotcha.  Thanks for clarifying.

[2016-02-05 21:01] jglovier commented on #11
@filipesperandio I prefer `script/server` but probably just because it is a convention [we use at GitHub](http://githubengineering.com/scripts-to-rule-them-all/).

[2016-02-05 23:37] filipesperandio commented on #11
Cool, I will adjust.
On Feb 5, 2016 7:01 PM, "Joel Glovier" <notifications@github.com> wrote:

[2016-02-06 03:14] capurp commented on #245
@tangollama I have also experienced this issue, I'd like to address this issue.

[2016-02-06 05:22] hex007 commented on #245
I think that this measure is necessary. If a user opens "add new patient"
in two separate windows then the id should not be same. if ID is same then
saving the patient data will be a problem. Hence every request to create
new patient page should be called with a different id.

A solution to this problem can be to have a pool to add new patients that
dynamically allots patient id based on the order

[2016-02-08 21:39] #11 closed

[2016-02-09 17:56] tangollama commented on #245
After discussing this further, I'm inclined to close this as an issue. As I understand it, the primary concern appears to be "burning" a unique sequence. For the complexity of what a solution would introduce to the system, I don't believe this is worth the effort. If someone has a truly compelling, helpful argument, I'm happy to re-open the conversation. Otherwise, closing.

[2016-02-09 17:56] #245 closed

[2016-02-09 20:40] #261 closed

[2016-02-11 00:56] capurp commented on #126
I would like to see if I can help address this issue

[2016-02-11 17:02] zinyando commented on #116
@jkleinsc is this issue still valid? Validation seems to not accept commas in numbers anymore.

[2016-02-11 23:59] tangollama commented on #36
Working on the requirements here. https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Diagnosis-Coding.

I'll remove the tag when the doc is "done."

[2016-02-12 15:40] nerdkid93 commented on #276
I'm working on this in my fork

[2016-02-12 15:45] forteller opened #301 "More than two genders"
Sorry if this is the wrong place for this.

When registering a patient in HR you have to choose between male or female gender. But that is a false dichotomy. https://en.wikipedia.org/wiki/Gender

Facebook has added lots of different genders to choose from, but at the very least you should add a third "other" category.

Thanks for your amazing work!

[2016-02-13 17:02] tangollama commented on #301
Thanks for bringing this up. Nomenclature matters, and on this one, we made an honest mistake. The field is [mislabeled](http://emedicine.medscape.com/article/917990-overview) gender; it should be tracking sex, since that's what we're concerned with medically.

Additionally, we need to make the system more flexible and (to your point) not make the field binary. We're going to adjust that using the

[2016-02-13 17:24] jkleinsc commented on #301
@tangollama Agreed.  I am going to change the label to "Sex" instead of "Gender" and I am going to change the field to use a lookup list/typeahead so that new values can be added by users.

[2016-02-13 18:00] hex007 commented on #301
Even if sex is tracked there will be exceptions

https://en.wikipedia.org/wiki/True_hermaphroditism
http://www.isna.org/faq/conditions/ovo-testes

Letting users add new values seems like a good idea

[2016-02-13 20:22] tangollama commented on #36
I'm going to close this issue and break it into multiple feature tickets tied back to these "requirements."

https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Medical-Coding

[2016-02-13 20:22] #36 closed

[2016-02-13 20:23] tangollama commented on #37
I'm closing this ticket in favor of creating multiple feature tickets which all tie back to these requirements. https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Medical-Coding

[2016-02-13 20:23] #37 closed

[2016-02-13 22:59] tangollama commented on #57
HospitalRun's billing system is not meant to be the all-encompassing, system of record for financial interactions with a patient. It has features for defining a bill and collecting simple actions about payments and deposits. Once an invoice transitions out of the system into a more complicated finance system, we need to ensure that further financial actions cannot be taken on the invoice.
What we

[2016-02-13 23:06] tangollama commented on #100
After discussion with @jkleinsc, this feels like it's related to our need for a Forms framework for HospitalRun. From that, we see a few specific requirements for forms:
1. Forms that stay under some reasonable amount of content need to be able to print on standard-size paper.
2. Forms are not just for data intake. They can/could/need to produce printable output.
3. Forms need workflow that could

[2016-02-13 23:10] jkleinsc commented on #116
@zinyando you are correct in that validation doesn't allow commas.  For usability purpose, I still think we should create a component that will let people enter a number with commas but will save the value without commas.

[2016-02-13 23:11] tangollama commented on #286
@gtramontina question for you. Have you looked into this issue at all yet? No worries either way. I just want to know for planning purposes.

[2016-02-14 00:02] tangollama commented on #92
I'm going to close this issue in favor of a few new feature tickets for https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Cashier-Role

[2016-02-14 00:02] #92 closed

[2016-02-14 00:03] tangollama opened #303 "Cashier screen"
See functional needs here. https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Cashier-Role

[2016-02-14 00:04] tangollama opened #304 "Daily payment report"
A time-bound report for tracing payments. See functional needs on this document https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Cashier-Role

[2016-02-14 00:07] tangollama opened #305 "Administration > Medical Coding admin screen"
See the functional needs in this document, titled: "Administration > Medical Coding: Admin Screen for reviewing, downloading, uploading, and updating coding standards"

https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Medical-Coding

[2016-02-17 14:45] nerdkid93 opened #312 "npm start error with Windows"
The following error is returned after trying to run `npm start` in the root folder of hospitalrun:

[code]

[2016-02-17 17:44] csawai opened #313 "Button not visible properly"
When logged in to the application as an admin and while creating a new appointment, it is confusing to understand the add button. The visibility is poor due to color selection.

I am viewing this in chrome on mac. The button color is greenish.
![screen shot 2016-02-17 at 11 13 43 pm](https://cloud.githubusercontent.com/assets/3336524/13118825/15fcb3f6-d5cc-11e5-8524-a0cf8b8497d1.png)

[2016-02-17 18:18] jkleinsc commented on #313
@csawai the button is that way because it is disabled until all of the required fields have been filled in. Once all the required fields are filled in the button changes color:
![screen shot 2016-02-17 at 1 17 33 pm](https://cloud.githubusercontent.com/assets/609052/13119792/dffbbd2c-d578-11e5-8ca0-0c1d7a8f07fc.png)

[2016-02-17 19:48] renato04 commented on #281
Hello! I want to help you with pt-br localization, how could i do that?

[2016-02-17 19:54] jglovier commented on #313
Def agree that it's crappy as is, though. It's awaiting some long overdue design cleanup. I've been meaning to give those buttons a better disabled style, like some type of gray or something. :+1:

[2016-02-17 20:29] jkleinsc commented on #281
@renato04 we need to first move the text in the system to `app/locales/en/translations.js`.  Once it is there, it can be translated to pt-br in the `app/locales/pt-BR/translations.js`.

[2016-02-17 23:29] renato04 commented on #281
@jkleinsc Are there anyone doing this? Could I help to do this?

[2016-02-18 00:24] jkleinsc commented on #281
No one is working on this particular one for the admin module, so you are welcome to work on it.  See the directions at the top of this issue.  If you do decide to work on it, please comment in this ticket so that we know someone is working on it.

[2016-02-18 06:56] csawai opened #314 "a Feature request for a currency selector for the system"
How about having a countrywise/ currency selector. So when the billing is done, values are just not numbers. Example - $ 10.90

May be I have missed something in the documentation/wiki

When I look at the Billing feature, It seems that it just shows the number.

Showing currency has lot of advantages :)
## TODO
- [ ] Ability to specify app wide currency
- [ ] Ability to present formatted currency

[2016-02-18 11:27] renato04 commented on #281
@jkleinsc Hello,
I'm trying to configure my environment on windows 10, after execute the initcouch.sh from git bash it is showing this message error:

[info] [<0.155.0>] 127.0.0.1 - - PUT /_users/org.couchdb.user:hradmin 500
[error] [<0.155.0>] httpd 500 error response:
 {"error":"EXIT","reason":"{{badmatch,\n     {error,\n         {enoent,\n             [{erlang,open_port,\n                  [{sp

[2016-02-18 17:36] renato04 commented on #281
@jkleinsc  I managed to install the database. Now i'm ready to start. I'll start to do this. Ok?

[2016-02-18 20:18] nerdkid93 commented on #281
You probably already figured this out, but for other people to know, you need to make sure that CouchDB is running when you interact with the database. On Windows, you just need to start the "Start CouchDB" script that is added into your start menu when you install CouchDB. You need to do this before running /scripts/initcouch.sh and before you run ember (using 'ember serve').

Hope this helps, an

[2016-02-18 20:26] nerdkid93 commented on #281
I realize that might not have actually been the solution to your issue. If you did something else to get the script working, could you let me know? I'm curious as I am also developing in Windows 10.

[2016-02-18 21:10] renato04 commented on #281
I'm sorry. I forgot to share the solution.
The couchdb has to be installed in c:\ couchdb folder.
The default is in Program FIles.
After install in c\couchdb folder it worked for me.

[2016-02-18 21:13] renato04 commented on #281
I don't know if i can put this here
I am unable to use the this.get('i18n').t('KEY') in app/mixins/navagition.js

Here it is the message error
Error while processing route: login this.get is not a function TypeError: this.get is not a function

I'm trying in this way:
`      title: 'Administration',
      iconClass: 'octicon-person',
      route: 'admin.lookup',
      capability: 'admin',
      su

[2016-02-18 21:21] nerdkid93 commented on #281
Hmm, I have couch installed in Program Files and it works just fine for me. I bet you just needed to reinstall the program. It might not have installed properly the first time.

[2016-02-18 21:33] renato04 commented on #281
i reinstall a several times. And Apparently it doesn't happen just to me.
I found the solution here [http://stackoverflow.com/questions/19672034/couchdb-installs-fine-for-everything-except-execution-of-views-on-win7-x64](url)

[2016-02-18 21:39] alexpelan commented on #281
@renato04 does this approach not work for that field?

https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Translating-Text#translation-computed-property-macro

I think it isn't working because 'this' isn't bound properly to get the i18n service. If just using the t helper doesn't work, you can change it to a property - I had to do that here, for an example: https://github.com/HospitalRun/hospital

[2016-02-18 22:25] renato04 commented on #281
@alexpelan that approach doesnt work for that field

I tried import and

[code]
This is the error showed on browser multiples times:
`DEPRECATION: You modified (-join-classes "primary-section-link nav-link" "ember-view" (-normalize-class "active" active activeClass=undefined inactiveClass=undefined) (-normalize-class "loading" loading activeClass=undefined inactiveClass=undefined) (-normalize-clas

[2016-02-19 03:49] alexpelan commented on #281
@renato04 the second approach I suggested works. You need to change navItems to be a property: here's a gist of how I got it to work: https://gist.github.com/alexpelan/f544e7056a77ae916506

[2016-02-20 19:59] renato04 commented on #281
@alexpelan  Thank you for the help. It worked here. But i don't know how to localize the input label like this
`{{em-input label="Address 1 Label" property="value.address1Label"}}`

[2016-02-21 11:40] renato04 commented on #312
@nerdkid93 i solved this useing "ember serve" in the root folder. I dont know why but windows did not execute the start bat.

[2016-02-22 17:09] nerdkid93 commented on #312
I know you can use `ember serve` or `ember s` to launch the live server, but that won't run `npm install`, `bower install`, or check to see if CouchDB is running like `npm start` is supposed to do. If `npm start` isn't changed to work on Windows, then the [README](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/README.md) should be updated for new users to see.

[2016-02-22 18:48] renato04 commented on #312
@nerdkid93 I agree with that.
I had problems to execute on windows.

[2016-02-22 18:57] jkleinsc commented on #281
@renato04 for items like `{{em-input}}`, you can use the apporach used for [Nesting Translations] (https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Translating-Text#nesting-translations), so you would end up with something like this:

`{{em-input label=(t 'admin.address1_label') property="value.address1Label"}}`

[2016-02-22 18:59] renato04 commented on #281
@jkleinsc Thank you, i'll try later and let you know if it work.

[2016-02-22 21:30] jkleinsc commented on #312
We may be able to use this for better cross platform use:
https://www.npmjs.com/package/shelljs

[2016-02-23 10:10] renato04 commented on #281
@jkleinsc Thank you your suggestion  worked.

Now i'm facing another difficulty, i'm sorry for the many questions, i'm new with this.
I'm trying to localize app\admin\lookup\controller.js and here it is how i'm trying

[code]
it is throwing the following error: Uncaught Error: Assertion Failed: Attempting to lookup an injected property on an object without a container, ensure that the object was i

[2016-02-23 15:52] #301 closed

[2016-02-24 01:06] jkleinsc commented on #281
Move the following line to be above the lookupTypes definition:

i18n: Ember.inject.service(),

[2016-02-25 01:37] renato04 commented on #281
@jkleinsc Thank you

I tried your suggestion like this:

[code]
And it is throwing this error:
`Uncaught Error: Assertion Failed: Cannot translate lookup.anesthesia_types. [object Object] does not have an i18n.`

[2016-02-26 03:10] billybonks commented on #275
ill translate this guy. :+1:  been a while since i made a contribution

[2016-02-27 03:11] alexpelan commented on #278
I'll take a shot at this one this weekend.

[2016-02-27 17:06] James1x0 commented on #279
Getting started on the project with this issue.

[2016-03-01 03:26] tangollama commented on #239
Consider including a feature to reorder the series of a patient history. Alternative: consider making a given history entry "sticky."

The rationale behind this is that certain notes in the history may be considered of prioritized relevance and worthwhile ensuring they remain "top of mind" and therefore, top of screen.

Eventually, a "vote up" feature may be called for.

[2016-03-01 17:10] nerdkid93 opened #322 "Inconsistent Checkbox Spacings"
There are a couple of forms in inventory that use checkboxes, but they look out of place on the page with their labels. For example, on the "+ new request" [page](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/inventory/request/template.hbs), the "fulfill" checkbox seems to have a lot more whitespace then the rest of the page. When it's selected, a new "consumed" checkbox appe

[2016-03-01 21:12] #281 closed

[2016-03-01 21:35] jkleinsc opened #323 "User CRUD doesn't work with Google Auth"
When using Google Auth for authentication, system admins can't access the user crud screens.

Also, it looks like delete user is broken for users who are system admins but are not couch admins.

I am working for a fix on this issue.

[2016-03-01 22:08] jkleinsc opened #324 "Inconsistent quantity displayed when fulfilling inventory"
Under certain circumstances there is a discrepancy between the quantity available in the inventory item listed and the "Pull From" field even when there is only one location.
Steps to repoduce:
1) Create a new inventory item
2) Fulfill an inventory request from #/inventory/request/new for the newly created inventory item.
3) Attempt a secondary request for the same item and notice that the "Pull F

[2016-03-02 12:51] renato04 commented on #280
Hello!

I'll try to do this.

[2016-03-02 14:41] #278 closed

[2016-03-02 20:42] #323 closed

[2016-03-02 22:14] #324 closed

[2016-03-03 15:47] tangollama commented on #314
Thanks for the issue @csawai. At present, the billing piece is intentionally vague b/c the real issue is handling currency. We didn't want to assume USD, but - currently - we have a constraint of handling only one currency in the system.

I'm going to turn this issue into a request to include a currency configuration (one currency for the whole site) into the admin screen for Billing. However that

[2016-03-03 15:52] tangollama commented on #322
@jglovier, I see what's being referenced. Unless you disagree, I'm going to add this to the design list. Could we put this in "Help Wanted"?

[2016-03-03 19:07] jglovier commented on #322
Yeah, this def needs cleaned up. :+1: for `help-wanted`

[2016-03-04 14:48] nerdkid93 opened #328 "Need Indicator for Sortable Columns"
On the /inventory/listing page, there are a bunch of sortable columns to view the inventory and sort accordingly. However, prior to clicking on the column header, there is no indication that you can sort the column. Even on mouse over, the cursor is the text-selector and not the link-clicker. ![Before sorting](http://i.imgur.com/oG1XuHb.png) ![After sorting](http://i.imgur.com/yPqj3vN.png)

I woul

[2016-03-05 16:06] billybonks commented on #275
working with @mellisdesigns  on this one https://github.com/HospitalRun/hospitalrun-frontend/pull/329

[2016-03-05 18:58] jglovier commented on #328
:+1:

[2016-03-05 19:00] jglovier commented on #328
PS - we have [Octicons](https://octicons.github.com/) included right now, so we should just use the arrow up/down from that set.

[2016-03-05 19:30] nerdkid93 commented on #328
Can you superimpose two icons together in octicons? I'm not seeing an icon usually used for "sortable" on that webpage.

[2016-03-07 15:20] jglovier commented on #328
Swapping out the [triangle up](https://octicons.github.com/icon/triangle-up/) and the [triangle down](https://octicons.github.com/icon/triangle-down/) arrows on click would be appropriate.

[2016-03-07 17:08] jkleinsc opened #333 "Allow adjustment when there are no items left?"
Feedback from our Kenya hospital:
When the quantity of an item is zero, the "adjust" button is gone so if they happen to find some of the item on a shelf, to add them to the listing, they need to go through a purchase even though a purchase hasn't been made.

[2016-03-07 17:09] jkleinsc opened #334 "Allow deletion/cancellation of inventory requests"
Right now there is no way to delete/deny/cancel an inventory request.

[2016-03-07 19:45] jkleinsc commented on #141
Once all the localization has been completed, we should add [ember-cli-template-lint] https://github.com/rwjblue/ember-cli-template-lint to verify that all of our templates are using translated strings.

[2016-03-07 19:46] jkleinsc commented on #328
@jglovier we do swap up and down on click, but the issue is we don't show anything to indicate you *can* sort a column, so discoverability there isn't great.

[2016-03-08 02:10] jglovier commented on #328
Right, so adding those octicons as indicators would resolve, right? Or am I missing something?

[2016-03-08 22:39] gtramontina commented on #286
Hey there @tangollama I'm really sorry for the silence! My move to Australia has happened sooner than I expected, so I haven't had much time to look into OSS lately… I'm still settling down, so it might take a little while until I'm able to provide more valuable contribution.

[2016-03-09 06:04] pete-the-pete commented on #285
@tangollama I can take this on.  I already created a pr (I'll stick to the steps in the contributing file next time).

I basically just added the package and got rid of errors while working locally.

Are there specific urls I should add for plugins or any other specifics when in a production environment?

[2016-03-10 00:43] mongolianprincess commented on #60
Hi i am new to contribute and hoping to help out with this bug - in terms of not forcing the user to end up on login page when offline, should we display a warning or reroute the user to another offline page? Would appreciate some clarification. thanks!

[2016-03-10 20:26] jkleinsc commented on #60
Closing because this issue no longer haapens.

[2016-03-10 20:26] #60 closed

[2016-03-10 20:32] jkleinsc commented on #176
@tangollama I added New Relic support with c8c36019a1d5eb24cee90d1fe28b9e5ac42e5378 (which pulls in New Relic if so configured in your config.js file.  See https://github.com/HospitalRun/hospitalrun-server-routes/releases/tag/0.9.2 for more detail.  I think that means we can close this, but can you verify?

[2016-03-10 20:36] tangollama commented on #176
Will do. Thank you @jkleinsc.

[2016-03-10 21:20] jkleinsc opened #338 "Allow custom roles"
Right now all of the roles in HosptialRun are hard coded to certain capabilities as defined in https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/mixins/user-session.js.

We should add the capability of defining custom roles and/or modifying the capabilities of predefined roles.

[2016-03-12 20:48] pete-the-pete commented on #328
Is this being actively worked on? If not, I'd like to look into it.

We could show both https://octicons.github.com/icon/arrow-small-up/ and https://octicons.github.com/icon/arrow-small-down/ when a column isn't active, and then show only the up or down to indicate the sorted column.

I think we should also change the cursor to pointer, so that it is obvious the column headings are clickable.

[2016-03-13 13:23] jkleinsc commented on #328
@pete-the-pete @mongolianprincess was looking for an issue to start contributing and I had suggested this one.  @mongolianprincess are you interested in taking this issue?  If not @pete-the-pete it's yours.

[2016-03-14 17:24] jkleinsc commented on #264
This issue was resolved with a90d132a04d27a7dfd3339bda857d02117f015ef

[2016-03-14 17:24] #264 closed

[2016-03-14 19:08] tangollama opened #342 "Create a call to hospitalrun-server for an HL7-based integration with a PACS solution"
Creating an imaging request should inform hospitalrun-server to contact a PACS solution to initiate an imaging request.

For starters the configuration of a server capable of processing HL7 calls / requests could be a configuration in the hospitalrun-server implementation. Long-term we need an administrative screen to capture this and make it editable / configurable later.

[2016-03-14 19:34] tangollama opened #344 "Launch a DICOM viewer from a completed imaging request"
If a DICOM viewer is configured as connected to HospitalRun, launch the viewer from the (/imaging/completed) completed list. Add a column and link to the results.

[2016-03-14 19:41] baileye opened #345 "Localization for Admin module"
Now that i18n support has been added to HospitalRun via PR #248 and issue #141 we need to localize the app. This issue is to track localization for the admin module. Localization in HospitalRun uses Ember-I18n. The translations/default text will be placed in app/locales/en/translations.js.
See https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Translating-Text for information on how to localize t

[2016-03-14 19:44] jglovier opened #346 "Second cta button on billing page has wrong text color"
![image](https://cloud.githubusercontent.com/assets/1319791/13757558/67e36e9c-e9e2-11e5-8330-1f33dbb19395.png)

[2016-03-14 20:37] tangollama opened #348 "The ability to configure a DICOM viewer and external PACS solution through the admin screens"
Capturing the setup information for an external PACS solution and the related DICOM image viewer.

[2016-03-14 20:59] tangollama opened #349 "Admitted list screen for Patients"
New route: /patients/admitted

List the patients with a currently open visit (admission).

[2016-03-14 21:00] baileye opened #350 "Bug in Load DB, error being displayed"
The load DB dialog stays displayed and no error is shown even when a faulty DB file is uploaded. The 'reject' function is not being passed to the Promise

[2016-03-14 21:18] tangollama opened #351 "List of missed appointments"
Create a new route in Appointments that lists the missed appointments. (suggested: /appointments/missed). The purpose for this is to create a mechanism for followup.

[2016-03-14 21:41] tangollama opened #353 "Expiring in the next X days Inventory screen"
Create a new screen similar to the inventory expiration report that shows the list of inventory items with purchases that are set to expire in the coming 30/60/90 days. List the items similarly to the Inventory Items screen, just limited by the given date selection. I recommend a route on /inventory/expiring.

Two variables:
- Support a dropdown in the screen that support 30 days, 60 days, and 90

[2016-03-14 22:44] #350 closed

[2016-03-15 00:16] #137 closed

[2016-03-15 02:51] dswanson commented on #349
@baileye and @dswanson are going to attempt this one.

[2016-03-15 04:42] jkleinsc commented on #285
Fixed by #335

[2016-03-15 04:42] #285 closed

[2016-03-15 04:43] billybonks commented on #275
should be able to close this

[2016-03-15 04:45] billybonks commented on #274
@jonkoops are you still working on this ?

[2016-03-15 05:37] pete-the-pete commented on #351
I can look into this one if no one else has it.

[2016-03-15 05:46] tangollama commented on #351
Go for it.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-03-15 06:48] billybonks commented on #353
can assign to me

[2016-03-15 09:34] jonkoops commented on #274
No sorry, I thought I had the time but I keep being distracted by other things to get done. I believe I have a WIP pull request on my machine, I'll try to get it finished by this week.

[2016-03-15 10:13] billybonks commented on #276
@nerdkid93 are u still working on this ?

[2016-03-15 12:40] mvanstaalduinen commented on #322
Hello, I am an undergrad in computer science and MacEwan University in Edmonton. For one of my course we have to participate in an open source project and contribute to it in a few ways.

If no one has solved this issue I was wondering if I could take it on, @tangollama?

[2016-03-15 12:51] tangollama commented on #322
Swing away.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-03-15 14:08] nerdkid93 commented on #276
Yes, it will be done by tomorrow.

[2016-03-15 14:39] billybonks commented on #276
:+1:

[2016-03-15 15:25] tangollama commented on #353
It's all yours @billybonks. Removed the Help Wanted tag. Marked In Progress

[2016-03-15 15:26] tangollama commented on #351
Assuming @pete-the-pete has this.

[2016-03-15 15:32] tangollama commented on #276
Setting to In progress, per the new policy in the [Contributing.MD](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md)

[2016-03-15 15:33] tangollama commented on #279
Assuming that @James1x0 has this, so setting to In Progress per the new [Contribution policy](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md)

[2016-03-15 15:34] tangollama commented on #280
@renato04 can you confirm that you're working on this? Unless you say otherwise, I'm marking this as In Progress per the new [contribution policy](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md)

[2016-03-15 15:35] James1x0 commented on #279
Will tackle this at some point this week. :+1:

[2016-03-15 15:35] tangollama commented on #322
Marketing as In Progress w/ @mvanstaalduinen working on this.

[2016-03-15 15:39] tangollama commented on #35
@LennonR, if you're going to work on this, great. If so, I'll change the status from Help Wanted to In Progress.

[2016-03-15 15:40] LennonR commented on #35
@tangollama Sorry about this.  You can change the status to help wanted.

[2016-03-15 15:41] tangollama commented on #61
@jkleinsc removing Help Wanted on this for now. This feels like a conversation between us before we ask for more help. Assigning to you for the time.

[2016-03-15 15:42] tangollama commented on #115
Set to In Progress, per the new contribution policy. https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md

[2016-03-15 15:44] tangollama commented on #130
@taras just a thought. Any interest in tackling this one?

[2016-03-15 15:57] tangollama commented on #275
Per @billybonks closing. Confirming with @jkleinsc

[2016-03-15 15:57] #275 closed

[2016-03-15 15:58] tangollama commented on #270
Adding Help Wanted for assistance in duplicating the issue for more information.

[2016-03-15 15:59] tangollama commented on #176
@dswanson not to pigeon-hole you, but would you be cool verifying this?

[2016-03-15 16:02] tangollama commented on #110
@jkleinsc do you think we still need this?

[2016-03-15 16:03] tangollama commented on #103
@jglovier  Assigned to you so that you can decide if you need to do it or not.

[2016-03-15 16:06] tangollama commented on #279
Thx.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-03-15 16:19] tangollama commented on #6
@richchurcher, I'm going to put this back in the Help Wanted pool for now. If you ping back, I'll mark as In Progress.

[2016-03-15 16:20] tangollama commented on #35
no worries @LennonR. Thanks for replying back to confirm.

[2016-03-15 16:20] tangollama commented on #45
Need help reproducing and then fixing. Do one or both to make a contribution. Thanks!

[2016-03-15 16:22] tangollama commented on #65
@taras this is another example of where a configurable form component is needed.

[2016-03-15 17:08] renato04 commented on #280
@tangollama no, i can't processed with this right now, Sorry. You can put this with HelpWanted tag

[2016-03-15 18:04] jkleinsc commented on #110
@tangollama I think Phillipines asked for this and we don't current do this

[2016-03-15 21:03] jkleinsc opened #356 "Patient discharge is not working"
**Expected behavior:** Patient is discharged when clicking discharge button

**Actual behavior:** Patient is not discharged when clicking discharge button

**Steps to reproduce:** Click on discharge button from patient listing

**OS and Browser:** All

[2016-03-15 21:03] #356 closed

[2016-03-15 21:18] jkleinsc commented on #270
This was fixed via pr #340

[2016-03-15 21:18] #270 closed

[2016-03-15 21:40] dswanson opened #357 "'No patients found' helper link not presented after removing all patients"
**Expected behavior:**
When you remove all patients, you should get the helper starting link back

**Actual behavior:**
The helper starting link is not presented

**Steps to reproduce:**
Be in the state with only one patient
Delete that patient
The 'No patients found. Create a new patient record' starting helper is not presented.

[2016-03-16 12:47] jglovier commented on #346
Also, there really shouldn't be two primary cta buttons. If we need more than one action, we need a new paradigm.

[2016-03-16 12:49] jglovier commented on #313
Partly addressed in #355.

[2016-03-16 12:52] jglovier opened #359 "[TRACKING ISSUE] Button styles are inconsistent at best, and ineffective and confusing at worst"
**TRACKING LIST:**
- [x] #346 Second cta button on billing page has wrong text color
- [ ] #313 Button not visible properly
- [x] #360 Primary call to action buttons should be right aligned, secondary buttons beside it to the left

**Expected experience:** Button styles in the app should be consistent, and should help indicate what their function is.

**Actual experience:** Button styles are wildl

[2016-03-16 13:03] jglovier commented on #322
:+1: for solving by removing the labels for checkboxes.

[2016-03-16 13:05] jglovier commented on #115
@Lewiscowles1986 is this still being worked on?

[2016-03-16 13:08] jglovier commented on #275
Thanks @billybonks & @mellisdesigns!

In the future please put `Fixes #275` in your pull request so the associated issue gets referenced and closed once merged. :heart:

[2016-03-16 13:38] jglovier opened #360 "Primary call to action buttons should be right aligned, secondary buttons beside it to the left"
**Expected experience:** Primary call to action buttons on forms and other views should be right aligned in the layout, with the primary action to the far right, and the secondary action to it's immediate left.

**Actual experience:** Buttons are left aligned in the layout, and the primary action is on the left, while the secondary is on the right.

**Screenshots (if applicable):**

![image](https

[2016-03-16 14:11] Lewiscowles1986 commented on #115
I Haven't had a chance to try ember-metrics yet, so nothing since the other commit. I'll have a try when I have more time, but if someone else can get it done faster, or more in line with the project they can.

[2016-03-16 14:12] jglovier opened #361 "Improve view content header layout"
**Existing experience:** In the view header area, we have a view title bar, a section subnav, and buttons for the views primary actions. Currently they are stacked with the title bar on top, then the subnav and action buttons below, followed by the view content, like so:

![image](https://cloud.githubusercontent.com/assets/1319791/13814942/c0820216-eb45-11e5-8116-f72cc797ae58.png)

**Better experi

[2016-03-16 16:01] tangollama opened #362 "Requesting clinician needs to be added to the Imaging Request list"
The request list does not contain the requesting user (clinician). We need to see this for the purposes of ensuring the person processing the requests that they are appropriately authorized. Even though we permission specific people to issue those requests, we still want the user experience to verify that.

[2016-03-16 16:02] tangollama opened #363 "Requesting clinician needs to be added to the Medication Request list"
The request list does not contain the requesting user (clinician). We need to see this for the purposes of ensuring the person processing the requests that they are appropriately authorized. Even though we permission specific people to issue those requests, we still want the user experience to verify that.

[2016-03-16 16:02] tangollama opened #364 "Requesting clinician needs to be added to the Lab Request list"
The request list does not contain the requesting user (clinician). We need to see this for the purposes of ensuring the person processing the requests that they are appropriately authorized. Even though we permission specific people to issue those requests, we still want the user experience to verify that.

[2016-03-16 16:08] tangollama opened #365 "Async error on Imaging list"
**Expected behavior:**
Imaging list renders.

**Actual behavior:**
Error: Assertion Failed: You looked up the 'patient' relationship on a 'imaging' with id 6C16C18A-1FCE-35A0-9777-47DD2F55C957 but some of the associated records were not loaded. Either make sure they are all loaded together with the parent record, or specify that the relationship is async (`DS.belongsTo({ async: true })`)
    at ne

[2016-03-16 16:17] dswanson commented on #361
Another affordance I have seen work is to de-emphasize the actions except when the specific row has focus.

When the user "selects" the row, that row is highlighted and then the actions are made more apparent.
This can be done by making the actions invisible until the highlighting, or just changing their opacity.

[2016-03-16 16:18] dswanson commented on #361
I am going to attempt removing the sub-nav..wish me luck!

[2016-03-16 16:22] jglovier commented on #361
@dswanson:

![carl-sagan-youre-awesome](https://cloud.githubusercontent.com/assets/1319791/13819973/9d159fbe-eb58-11e5-9f43-f3bf7b8325ba.gif)

[2016-03-16 16:23] jglovier commented on #359
Interesting idea from @dswanson via https://github.com/HospitalRun/hospitalrun-frontend/issues/361#issuecomment-197405916

This can be done by making the actions invisible until the highlighting, or just changing their opacity.

[2016-03-16 16:28] jglovier opened #366 "Change scss linting severity from warning to error"
Now that SCSS linting from #296 has been merged, and all current warnings have been resolved in #355, lets set the severity of the linter to error to ensure proper SCSS syntax is actually followed.

[2016-03-16 17:46] #366 closed

[2016-03-16 22:02] jkleinsc opened #370 "Need to be able to customize invoice header and footer"
Right now the invoice header and footers are hard coded to values for the Tebow Cure hospital, but we need them to be customizable per install.

[2016-03-16 22:03] jkleinsc commented on #370
@reybango and @taras here is the issue for customizing the invoice header and footer.

[2016-03-17 04:31] pete-the-pete commented on #351
Yep.  I'll take a crack at it in the next few days.

[2016-03-17 05:03] billybonks commented on #275
Can

On Wed, Mar 16, 2016 at 9:08 PM Joel Glovier <notifications@github.com>
wrote:

[2016-03-17 14:55] jglovier opened #374 "Travis builds should fail when scss-lint errors"
**Expected behavior:** When your styles fail the scss-linter, the build should fail in Travis.

**Actual behavior:** When your styles fail the scss-linter, the Travis build still passes.

**Steps to reproduce:** Branch, add some styles that don't pass the scss-linter, push your branch, and open a pull request to view the Travis build info.

You can paste the following style declaration into any st

[2016-03-17 15:07] jglovier opened #375 "Add documentation for SCSS linter and tooling to CONTRIBUTING.md"
With the addition of the scss linter, we need to provide clear documentation about how the linter works, how to use the linter in your code editor, and how your styles should be structured to pass the linters.

[2016-03-17 16:53] tangollama commented on #252
@jglovier I'd like to unassign this and put this out in Help Wanted. I feel like someone who's not you could work on this.

[2016-03-17 16:55] tangollama commented on #239
I've reworked this concept and plan to deliver this with #32 in the coming week+

[2016-03-17 16:57] tangollama commented on #100
@taras per our conversations re: Ember Sherpa working more closely with HospitalRun as an example project, here's a ticket for consideration.

[2016-03-17 21:53] jglovier commented on #252
@tangollama

![thumbs-up-80s-kid](https://cloud.githubusercontent.com/assets/1319791/13862361/0a51ac7e-ec50-11e5-8600-e3a01dcd8d7d.gif)

[2016-03-18 17:34] jglovier commented on #252
cc @jkleinsc for issue number reference.

[2016-03-18 18:28] jglovier opened #377 "Show patient update confirmation as inline alert rather than modal"
**Current experience:** When you update a patient record, you are shown a confirmation dialog as a modal that lets you go back, or simply close the dialog. It is superfluous and requires an extra click to keep working if you don't want to return to the patient record screen.

![image](https://cloud.githubusercontent.com/assets/1319791/13888053/65e3a9e6-ecfc-11e5-9f66-fcf503f13629.png)

**Better ex

[2016-03-18 18:51] dswanson commented on #377
I propose this would be an improvement for the user experience. I would encourage most of the modal confirmation dialogs be "retired". Nice!

[2016-03-18 19:04] #349 closed

[2016-03-18 23:51] jglovier opened #378 "[TRACKING ISSUE] Clean up edit patient view design"
The edit patient view has a ton of design issues.
- [x] Patient summary styling doesn't match anything in the app (#379; fixed in #385)
- [x] Patient summary doesn't display any helpful hierarchy of information (#379; fixed in #385)
- [x] The tab styling is default bootstrap styling and doesn't match the app (fixed in #385)
- [x] Input sections needs improved spacing and typography (fixed in #385)

[2016-03-18 23:53] jglovier opened #379 "Redesign patient summary section"
The current styling of the patient summary (visible in any `edit patient` view) needs a lot of work. It's styles currently don't match the app design, and it doesn't do well at highlighting the most important information at a glance.

Here's a quick mock of what it could look like with a better structure:

![image](https://cloud.githubusercontent.com/assets/1319791/13894873/eb1b15e0-ed29-11e5-806c

[2016-03-19 00:19] jglovier commented on #377
+:100:

[2016-03-19 00:30] tangollama opened #380 "Cascading delete for patient record"
When deleting a patient, we need to delete all visits, invoices, etc.

[2016-03-19 00:32] tangollama opened #381 "Flag patients as archived rather than deleting them entirely"
This will involve not only a new status on patients but also adjustments to the various views to exclude patients that are flagged as "archived."

[2016-03-19 00:39] tangollama opened #382 "Can ember data handle failing more gracefully when underlying data is deleted?"
My system has a patient document that is completely deleted. That delete didn't cascade to things like the imaging request queue. As a result, my imaging index route isn't rendering.

**Expected behavior:**
Imaging index route renders, regardless of data issues.

**Actual behavior:**
Error.

Console is producing the following error message.

Error while processing route: imaging.index Assertion Fa

[2016-03-19 00:41] tangollama opened #383 "Data issues with deletions"
My system has a patient document that is completely deleted. That delete didn't cascade to things like the imaging request queue. As a result, my imaging index route isn't rendering. We need several changes:

- [x] cascading deletes for true deletions of patients #380
- [x] flagging deletions of patients as "archived" status, as well as excluding that status from views #381
- [x] better error hand

[2016-03-19 00:48] tangollama opened #384 "A separate screen for handling permanent deletion of archived data"
Once #380 and #381 are completed, we need a screen where:

[ ] archived items can be deleted in mass (i.e. delete all items that have been archived for 6 months or more
[ ] a specific archived item can be searched for a deleted permanently

[2016-03-19 03:34] richchurcher commented on #6
@tangollama I sincerely apologise for this lapse! I became crazy busy with work, and this fell off my radar entirely. I now no longer have the bandwidth to contribute as I had hoped, but best wishes for the project in the future!

[2016-03-19 08:19] billybonks commented on #353
can you also add me to the asignee so its easier to find again :)

[2016-03-19 14:59] tangollama commented on #353
Will do. I'm traveling today but will tonight.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-03-19 17:20] jglovier commented on #379
Latest from code:

<img width="1277" alt="screen shot 2016-03-19 at 10 19 06 am" src="https://cloud.githubusercontent.com/assets/1319791/13900132/24c67f22-edbc-11e5-8fc7-f9604741df25.png">

[2016-03-19 17:25] #379 closed

[2016-03-20 19:47] rohansp commented on #365
Does this occur on the demo link https://beta.hospitalrun.io/#/imaging ? Cause there it seems to be working fine.. Is this a local issue?

[2016-03-21 14:24] jglovier opened #387 "[TRACKING ISSUE] Improve dashboard by making it actually useful"
**TODO**
- [ ] Static spike of metrics view in the dash - @jglovier
- [ ] Wire up metrics
- [ ] Static spike of most commonly visited views - @jglovier
- [ ] Wire up commonly visited links
- [ ] Add help content

**Current experience:** Right now the dashboard is empty and useless (except for making you focus on the sidebar nav).

**Better experience:** Lets add some useful things to the dashboard

[2016-03-21 14:29] jglovier opened #388 "Automating deployments to the beta site on update to master"
**Expected behavior:** When we merge pull requests to master, the system should deploy the latest to the beta site.

**Actual behavior:** We have to manually deploy to the beta site.

We can easily accomplish this with GitHub webhooks.

Some links for reference:
- https://developer.github.com/guides/automating-deployments-to-integrators/
- https://github.com/blog/2056-automating-code-deployment-wi

[2016-03-21 15:05] jkleinsc opened #389 "Finance summary report displays "undefined" in the type column"
**Expected behavior:** The type column in the finance summary report displays types of inventory (eg Medication)

**Actual behavior:**  The type column shows the word "undefined"

**Steps to reproduce:** Go to Inventory/Reports.  Select the Finance Summary report and pick a start and end date. Click on Generate Report

**OS and Browser:** All

[2016-03-21 15:29] #276 closed

[2016-03-21 15:37] jkleinsc opened #390 "Adjustment types for inventory need to localized"
**Expected behavior:** Inventory adjustment types display localized text.

**Actual behavior:** Inventory adjustment types display hard coded text.  Right now values displayed for adjustment types are hard coded in app/mixins/inventory-adjustment-types.js

**Steps to reproduce:** Edit an inventory item and click on the adjust button.  The adjustment type dropdown and the button at the bottom of th

[2016-03-21 15:57] #345 closed

[2016-03-21 16:17] #279 closed

[2016-03-21 19:18] #389 closed

[2016-03-21 20:30] jkleinsc opened #391 "Offline with service worker not working on new window/tab"
**Expected behavior:** When offline the application should still load without errors.

**Actual behavior:** If you go offline with the app loaded, everything seems to work properly, but if you close that tab and open a new tab or window with the app, it errors out and doesn't properly load.

**Steps to reproduce:**
1. Open the app while online and/or ember serve is running
2. Go offline and/or kil

[2016-03-22 05:27] pete-the-pete commented on #351
@tangollama I have started; I created a new applications/missed pod, and have looked at the other applications code for inspiration.  I wanted to get your thoughts on my approach and assumptions, and maybe ask a few questions, before getting too far into it.

## Assumptions/Requirements
- this will add an 'appointments/missed' url
- it will also add a 'Missed' sub-nav item in the the left menu
- e

[2016-03-22 19:21] tangollama commented on #134
@jglovier I'm thinking this is definitely in progress, but is there a chance this is completed given last week's work?

[2016-03-22 21:23] jglovier commented on #134
@tangollama no, not quite. Basically this is still an issue as long as [this file](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/styles/_temp_misc.scss) still exists. Hoping to have it :fire: 🔜 though.

[2016-03-25 01:04] brianlindsy commented on #357
This seems like a good first contribution, ill take a crack at it @tangollama.

[2016-03-28 21:21] brianlindsy opened #395 "'No items found' helper link not presented after removing all items"
**Expected behavior:**
When you remove all items, you should get the helper starting link back

**Actual behavior:**
Helper link is not present

**Steps to reproduce:**
Be in the state with only one item
Delete that item
The 'No items found. Create a new item record' starting helper is not presented.

**Screenshots (if applicable):**

**OS and Browser:**

[2016-03-28 21:23] brianlindsy opened #396 "'No appointments found' helper link not presented after removing all appointments"
**Expected behavior:**
When you remove all appointments, you should get the helper starting link back

**Actual behavior:**
The helper link is not present.

**Steps to reproduce:**
Be in the state with only one appointment
Delete that appointment
The 'No appointments found. Create a new appointment' starting helper is not presented.
**Screenshots (if applicable):**

**OS and Browser:**

[2016-03-28 21:26] brianlindsy opened #397 "'No imaging found' helper link not presented after removing all imaging"
**Expected behavior:**
When you remove all imagning, you should get the helper starting link back

**Actual behavior:**
The helper link is not present

**Steps to reproduce:**
Be in the state with only one image
Delete that image
The 'No imaging found. Create a new imaging record' starting helper is not presented.
**Screenshots (if applicable):**

**OS and Browser:**

[2016-03-30 03:04] rohansp commented on #397
Is there an option to delete an imaging request?
I can see only the edit button
![imaging request](https://cloud.githubusercontent.com/assets/11171608/14130650/336b0bc4-f5fa-11e5-896c-3c9985d24e3c.png)

[2016-03-30 18:12] #32 closed

[2016-03-30 18:12] #239 closed

[2016-03-30 20:45] esbanarango commented on #395
@tangollama I want to solve this issue.

[2016-03-30 22:01] tangollama commented on #395
@esbanarango swing away. Marked as in progress, per process.

[2016-03-31 10:17] akiaksdon opened #399 "login page accessible even after login"
**Expected behavior:** Login page should not be accessible after login

**Actual behavior:** Login page is accessible even after login

I think the solution is to mix the UnauthenticatedRouteMixin into the respective route or something like that.

[2016-04-06 13:34] #338 closed

[2016-04-07 03:21] techthumb opened #407 "RFC: dockerize the app"
Hi,

I am interested in dockerizing this app, for local dev, CI & deployment.

I am considering rallying up support for doing this at: http://www.meetup.com/NY-JavaScript/events/228231065/

I want to know if this would add value for a project goals perspective.

[2016-04-07 03:25] tangollama commented on #407
Hi @techthumb. Thanks for asking. The short answer is: absolutely.

The one thing I'd want to do is check in on our Slack. I heard rumor a few weeks ago that someone was about to submit a PR for that. Since that hasn't happened yet, I'll circle back and give you the "all's clear."

[2016-04-07 16:37] jkleinsc opened #408 "Paging breaks when last item has an ampersand (&) in the name"
**Expected behavior:**
Clicking on the next arrow should go to the next page of results, even if the last item contains an ampersand
**Actual behavior:**
If the last item contains an ampersand the next page never displays and there is an error message in the background
**Steps to reproduce:**
Create 26 inventory items and ensure that the 25th one has an ampersand in the name.  Click on the next pa

[2016-04-08 13:46] jkleinsc commented on #408
Turns out this issue was fixed in version 0.9.2.  Our Zambia hospital was on version 0.9.1 when they encountered this issue.  Upgrading them to 0.9.2 fixed the issue.

[2016-04-08 13:46] #408 closed

[2016-04-08 20:15] DanielDut commented on #6
I haven't even set up my dev environment for this project yet but I can look into this in the next few days. May take more than the allotted LOE because of being too busy...

[2016-04-09 11:56] tangollama commented on #6
That's sounds great. If you want to tackle it, I'll be sure to flag it as in progress.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-04-11 14:25] nerdkid93 opened #415 "Incorrect Column Labels in Admin/Users"
**Expected behavior:**
In admin/users, the column labels are mislabeled. The left-most column should read `Display Name` and the 2nd column from the left should read `Username`.

**Actual behavior:**
The left-most column reads `Username` and the 2 column from the left reads `Name`.

**Steps to reproduce:**
Navigate to the Users page within the Admin module.

**Screenshots (if applicable):**
![imag

[2016-04-15 11:08] eddiesholl commented on #377
There's a couple of options I evaluated recently for ember notifications. We went with:
http://stonecircle.github.io/ember-cli-notifications/

Another nice option is:
http://simonwade.me/assets/ember-demos/#/ember-notify

[2016-04-15 14:44] jkleinsc commented on #377
@eddiesholl thanks for the suggestions.  I really like ember-cli-notifications.  @jglovier what do you think?

[2016-04-15 15:32] jglovier commented on #377
I'm not really interested in any of the default styling or animations, but anything that solves the basic case of showing an inline alert without a modal is fine with me.

The placement of the alert should be in close proximity to the button where the alert was generated from, or at the top of the page if it is generated as part of a general page load condition. I'll create some design mocks to sh

[2016-04-15 15:37] jkleinsc commented on #377
@jglovier perfect :+1:

[2016-04-15 21:06] jkleinsc opened #423 "Invoices are not generating properly"
**Expected behavior:**
Selecting a patient visit should generate an invoice for all items and procedures/labs/medication/imaging used during the visit
**Actual behavior:**
The generated invoice doesn't show the charges for individual items like labs
**Steps to reproduce:**
Go to new invoice, select a patient and a visit.
**OS and Browser:**
All

[2016-04-16 03:18] eddiesholl commented on #130
@tangollama I'd be interested in trying some ideas on this one.

[2016-04-16 03:24] tangollama commented on #130
That would be awesome. Find me on slack if you'd like to talk details. In the meantime, I'll flag this as in progress.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-04-16 08:37] eddiesholl commented on #130
Which text fields exactly would this refer to? Sorry I'm just starting and looking for some specific guidance.

A seperate set of shortcuts for each text entry field, or just a global list per user?

[2016-04-18 20:26] #423 closed

[2016-04-18 21:13] juanjcsr commented on #415
@tangollama I can work in this one. Seems the labels and the data in the table are switched in the template.

[2016-04-19 11:04] eddiesholl commented on #130
I've put together a little proof of concept to see how the user feedback might work for this. Basically there's a div that can float just below the em-text component. It's not super sexy but is simple and should work in most scenarios.

The feedback is slightly nicer if you have a look at 'multiple values' on  https://leaverou.github.io/awesomplete/#advanced-examples. There's an example for findin

[2016-04-19 15:43] #415 closed

[2016-04-21 16:35] jkleinsc opened #429 "Adding family member or expense info to social work tab is slow & broken"
**Expected behavior:**
A user should be able to add family member and/or expense information to a patient.
**Actual behavior:**
When adding a family member and/or expense information to a patient, when you click on Add takes forever and the data doesn't save properly
**Steps to reproduce:**
1. Edit a patient
2. Go to the social work tab and click on the Add Family Member or the Add Expense button.

[2016-04-21 16:36] #429 closed

[2016-04-21 20:46] jkleinsc opened #430 "Travis Builds occasionally fail, timing out on Patient Notes Test"
**Expected behavior:**
Travis builds don't fail when a developer run ember test on same codebase doesn't fail
**Actual behavior:**
Travis builds fail with something like this:
not ok 61 PhantomJS 2.1 - Acceptance | patient notes: patient notes crud testing
    ---
        actual: >
            null
        message: >
            Test timed out
**Steps to reproduce:**
Commit code and trigger a trav

[2016-04-22 10:07] tangollama commented on #397
@rohansp you can fulfill the request to empty the queue.

[2016-04-22 10:26] tangollama commented on #407
This work is being carried on in the server repo. https://github.com/HospitalRun/hospitalrun-server/issues/7

[2016-04-22 10:28] tangollama commented on #370
@reybango just clarifying given our slack conversation. Do you still have this, is @taras working on it instead, or should I have this back to Help Wanted? Just let me know.

[2016-04-22 10:29] tangollama commented on #365
@rohansp this appears to be an issues related to data deletion / migration. @jkleinsc is addressing from an architectural perspective. @jkleinsc do you think we should leave this open or assign to you?

[2016-04-22 10:30] tangollama commented on #361
@jglovier, @dswanson where is this issue? Should I move it back to Help Wanted?

[2016-04-22 10:32] tangollama commented on #353
@billybonks finally assigned you.

[2016-04-22 10:41] tangollama commented on #407
Closing this in favor of the server ticket.

[2016-04-22 10:41] #407 closed

[2016-04-22 10:55] tangollama commented on #249
Closing in favor of https://github.com/HospitalRun/hospitalrun-server/issues/11

[2016-04-22 10:55] #249 closed

[2016-04-22 10:59] tangollama commented on #209
Closing this issue. The remainder of the issues needs to be addressed by https://github.com/HospitalRun/hospitalrun-server/issues/6 and https://github.com/HospitalRun/hospitalrun-server/issues/18

[2016-04-22 10:59] #209 closed

[2016-04-22 11:00] tangollama commented on #206
@jglovier where are you at with deciding if you want this or not?

[2016-04-22 11:00] #205 closed

[2016-04-22 11:02] tangollama commented on #6
@DanielDut how's this coming?

[2016-04-22 11:07] tangollama commented on #220
Closing in favor of the discussion in the server repo in the aforementioned issue.

[2016-04-22 11:07] #220 closed

[2016-04-22 12:44] billybonks commented on #353
Ye sorry i haven't actually made a pull request yet. Is this an urgent
feature?

On Fri, 22 Apr 2016, 18:32 Joel Worrall, <notifications@github.com> wrote:

[2016-04-22 13:23] jkleinsc commented on #365
@tangollama I think we could close this in favor of #381, but we should change that issue to be more generic - i.e. Flag records as archived instead of deleted.

[2016-04-22 14:08] jglovier commented on #361
This was resolved in #369. :sparkles:

[2016-04-22 14:08] #361 closed

[2016-04-22 14:10] jglovier commented on #206
I think it is still worth exploring for the future, but going to close for now since we have other priorities. I'll add a new label for `revisit-later`.

[2016-04-22 14:10] #206 closed

[2016-04-22 18:23] reybango commented on #370
@tangollama I think that @taras should wrap this one up. We've made some great progress with @taras doing most of the work and I think it's near completion.

[2016-04-23 17:33] DanielDut commented on #6
@tangollama, I have had difficulties running the project on my machine. I haven't started on it yet. I have a Windows-based PC and installing Cygwin was painfully unsuccessful. Trying it on a VM running Ubuntu is giving me build error on "Broccoli Plugin".

[2016-04-25 15:16] #395 closed

[2016-04-25 15:16] #396 closed

[2016-04-25 15:16] #397 closed

[2016-04-25 15:24] #399 closed

[2016-04-25 15:27] jkleinsc opened #433 "Unauthorized user trying to login via Google Auth produces error"
**Expected behavior:**
When using google auth for login, if an unknown google user is selected the system should redirect to login.
**Actual behavior:**
An error screen is shown to the user
**Steps to reproduce:**
Make sure google auth is turned on
Try to login with a google email that doesn't have an account in hospitalrun
**Screenshots (if applicable):**
![screen shot 2016-04-25 at 11 13 37 am](

[2016-04-25 19:06] jkleinsc opened #434 "Creating imaging and labs using checkboxes fails"
**Expected behavior:**
When hospitalrun is configured to allow users to select multiple labs/imaging requests at once (by setting lab pricing type/imaging pricing type to not allow users to add new values), a user should be able to select one or more lab/imaging type via checkboxes on the screen.
**Actual behavior:**
The lab/imaging requests do not save properly.

**Steps to reproduce:**
1. Set la