[2017-03-13 18:46] #965 closed

[2017-03-13 18:47] jkleinsc commented on #922
Usernames shouldn't have spaces in them, and it makes sense to trim any spaces on login.  It is a simple change that should produce a better user experience.

[2017-03-13 18:51] jkleinsc commented on #815
Closing this issue as resolved.

[2017-03-13 18:51] #815 closed

[2017-03-13 19:13] jkleinsc commented on #765
Closing due to no response.

[2017-03-13 19:13] #765 closed

[2017-03-13 19:15] #933 closed

[2017-03-13 19:15] #966 closed

[2017-03-13 19:57] jkleinsc commented on #701
@baoqchau sure feel free to work on this.  As far as testing, you need to navigate to the module you are testing as the search is context sensitive to which module you are currently on.  So to testing pricing, you need to navigate to /pricing and then put a value in the search text box at the top of the navigation pane and then click on the magnifying glass to execute the search.  Does that make s

[2017-03-14 05:29] aravindGear4 opened #988 "Website not running locally with docker in Windows"
**Expected behavior:**
It is supposed to open website with localhost:4200 or docker-machine-ip:4200

**Actual behavior:**
Now when I try to open the website with localhost:4200 or <docker-machine-ip>:4200 there is nothing on it.

**Steps to reproduce:**
Followed the steps under "Running with Docker" in README.md
***Running with Docker***
To run HospitalRun with Docker please do the following:
- Go

[2017-03-14 05:48] emadehsan commented on #868
@jkleinsc @mqchau @9611838416m The problem can be tackled easily with following approach:

**Append username with name of hospital and use that as our database**

**Solution:**
* From config file, check `isMultipleHospitalEnabled`
* If NOT: set `dbName = main`  (read it from config file, instead of hardcoding it)
* If YES then:
* After authentication, extract `dbName` from username
* Save `dbName`

[2017-03-14 15:29] jglovier opened #989 "[TRACKING ISSUE] Docs 1.0"
We sorely need better HospitalRun docs. Currently, we don't have any end user docs, and our developer documentation is limited.

This issue is for high level discussion and planning for our overall docs content strategy. All PR's and other issues that relate to Docs should reference this issue, and be referenced in this issue for tracking purposes.

## Scope and stages

To properly scope work on o

[2017-03-14 19:40] tangollama commented on #833
@Anisha1234 I think you should change the title of the edit page in this workflow vs. change the location of the successful add event. Is that helpful?

[2017-03-15 04:32] emadehsan opened #990 "Date format is not universal"
**Expected behavior:**
My suggestion is that date format must be `YYYY/MM/DD`, which is understandable in all areas.

**Actual behavior:**
HospitalRun is currently using format `MM/DD/YYYY` for saving dates. This format of date is sometimes confusing and misleading for people in countries where standard format is `DD/MM/YYYY`.

**Steps to reproduce:**
Click Add Appointment, select Start date from

[2017-03-15 14:32] jkleinsc commented on #990
@emadehsan thanks for filling this issue.  HospitalRun is wired to use locale specific date formats, but the problem is we do not set the user's locale when the application first loads.  In order to do so,  we need to add code here https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/controllers/application.js#L5 or here: https://github.com/HospitalRun/hospitalrun-frontend/blob/mast

[2017-03-15 19:02] #759 closed

[2017-03-15 19:02] #791 closed

[2017-03-15 19:02] #833 closed

[2017-03-15 19:51] emadehsan commented on #990
If one has to set user's locale with moment.js in [Application Controller](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/controllers/application.js#L5), would Application Controller look like this?
[code]

[2017-03-15 20:02] emadehsan commented on #990
But still there is a concern here. For example `DD/MM/YYYY` is widely adopted date format in Pakistan. And a lot of users prefer to use apps in English instead of Urdu language `ur`. And that I think would be the case with many locales.

[2017-03-15 21:22] jkleinsc commented on #931
@IbrahimHd The demo has been updated to the latest (0.9.18).

[2017-03-15 21:22] #931 closed

[2017-03-16 14:18] #969 closed

[2017-03-16 14:55] jkleinsc commented on #990
@emadehsan setting the date locale should ultimately be a per user setting, not a system wide configuration.  One way to do this is to get the user's locale from the browser using [navigator.language](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language)
This wouldn't address your second concern where a user wants English but desires that the date be formatted as DD/MM/YYYY.

[2017-03-17 01:16] #976 closed

[2017-03-17 14:32] mnorbeck opened #994 "Clicking on "Add Allergy" link on visit page takes you to the patient page"
**Expected behavior:**
Clicking on that link would pop-up the dialog to enter a new allergy, without leaving the page

**Actual behavior:**
click navigates off the visit page to the patient page

**Steps to reproduce:**
1. create a visit for a patient
2. click on the "+ Add Allergy" link

**Screenshots (if applicable):**

**OS and Browser:**

OSX 10.10.5,  Chrome 55.0.2924.87 (64-bit)

@jkleinsc

[2017-03-17 14:40] mnorbeck opened #995 "Title on new Operative Plan should change after creating one"
**Expected behavior:**
After creating a new Operative Plan, the title should change to "Edit Operative Plan"

**Actual behavior:**
Title remains "New Operative Plan" after the initial add.

**Steps to reproduce:**
1. locate a patient that does not have an active Operative Plan
2. Open the patient record page, click on "+ Add Operative Plan" link
3. Enter at least one procedure on the plan, click "

[2017-03-17 16:01] mnorbeck opened #996 "OPD Visit Report - minor UX changes around view and print"
This is an enhancement request.

1.  On the Visit page, on the reports tab.  Change the label of the button from "edit" to "view".   When you go to the report page, you really cannot edit anything, so "Edit" is misleading.

2. On the Visit page, on the reports tab, next to the (now View) button, please add a Print button.

3. On the OPD report page itself, remove the "update" button.   It is not r

[2017-03-17 16:11] mnorbeck opened #997 "New fields requested on the OPD Visit Reports"
This is an enhancement request.   These field were missed on the original OPD report Requirements doc.   That requirements doc has since been updated.

Please add these visit fields to the report:

1. Visit Type
2. Visit Examiner
3. Visit Location
4. Notes     ( at the bottom of the current field set, before including a custom report)

@jkleinsc

[2017-03-17 16:21] garylm opened #998 "Imaging Type should be a Lookup List"
**Expected behavior:**
It makes sense to have a "fixed" or set list of possible imaging types to be requested, rather than allowing random text entries.  There is a note field that allows additional specific information, if needed.

**Actual behavior:**
Currently a general text field.

Also, any reporting on imaging will be subject to the randomness of whatever way users describe the requests.

[2017-03-17 17:44] mnorbeck opened #999 "Visit diagnosis is not being retained; current patient diagnosis is shown"
**Expected behavior:**

On a visit page, the diagnosis set, (or in effect) at the time of the visit is to be retained.  Subsequent changes to the diagnosis on the patient page is not supposed to change the visit diagnosis.  This is to retain a historical record of what was determined at the time of the visit.

**Actual behavior:**

Older visit pages are showing the current patient diagnosis.

**St

[2017-03-19 10:55] adeolabadmus commented on #996
@mnorbeck, I worked on this issue. [PR here](https://github.com/HospitalRun/hospitalrun-frontend/pull/1001/)

Item 1 is fairly straightforward.

For item 2, the implementation of the print button simply prints the current page (the way cmd+P works). Since the goal of the Print button is to print the report page, and not the visit page, the user has to be on the report page for that to work properl

[2017-03-19 23:02] baoqchau commented on #697
Hello @jkleinsc, I would like to help with this issue. Can you show me how should I test this route? Thanks a lot.

[2017-03-20 10:26] adeolabadmus commented on #817
@jkleinsc I attempted fixing this issue in #1002 by adding an `input` event listener to the date field. The event handler checks if the field is empty, and sets null on the actual date. That way, the validation still works.

It would have been really cool if the [pikaday library](https://github.com/dbushell/Pikaday) provides an `onClear` callback to do stuff like this.

[2017-03-20 14:24] jkleinsc commented on #998
@garylm Imaging types are tied to the Imaging Pricing Type lookup list, but they are
managed as pricing items and by default all users can add new imaging types.  If you want to turn off the capability for all users to add new types, you do so by editing the Imaging Pricing Type lookup list and unchecking the checkbox labeled `User Can Add New Values`.

Editing of the imaging types can be accompli

[2017-03-20 14:24] #998 closed

[2017-03-20 14:59] #699 closed

[2017-03-20 15:00] #817 closed

[2017-03-20 15:33] jkleinsc commented on #996
@adeolabadmus I made some comments on the PR, including how you can determine when to display the Update button.  Let me know if you have further questions.

[2017-03-20 18:41] #999 closed

[2017-03-20 18:48] #922 closed

[2017-03-20 19:24] #543 closed

[2017-03-20 19:31] garylm commented on #998
John, there are still a couple of issues on this.

  1.  You can only add to the Imaging Pricing Type list by giving a user the ability to edit the field when adding an imaging request.
     *   *** List Upload Fails.

  2.  No Way to Edit the List….  Under Administration\List Menu, only the two check boxes appear.
     *   *** The Imaging Pricing List does not show as with other lists.

Thanks,

[2017-03-20 19:42] garylm opened #1007 "No Way to Edit Imaging Pricing Type List,"
**Expected behavior:**
Going to Administration\Lookup Lists \ Imaging Pricing Types should result in an editable list of Pricing Types.
**Actual behavior:**
Imaging Pricing Types Do Not Show

The Only way to Add to the list is when adding an Imaging Request.  Then there is no means of editing or removing the Imaging Pricing Type just added.

Not Possible to Remove or Edit from the List.

**OS and

[2017-03-20 20:29] #783 closed

[2017-03-20 20:31] jkleinsc commented on #1007
@garylm Imaging Pricing types are editable through billing, not the lookup list.  Go to Billing->Prices->Imaging Pricing.  You can edit existing Imaging Types or Add New ones there.

[2017-03-20 20:31] #1007 closed

[2017-03-20 20:52] jkleinsc commented on #697
@baoqchau you should be able to test this by modifying the fulfilling a medication request test here:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/tests/acceptance/medication-test.js#L66-L93

You can add checks in this test to check medication/completed before and after the medication request is fulfilled.  Does that make sense?

[2017-03-21 01:33] garylm commented on #1007
Thanks & Sorry for misunderstsnding.  Howeverf, there are still some “issues”.

  *   Image Pricing List has an Upload process that does not work.

  *   Lab Pricing List seems to have the same issues.

Gary
Gary Miller
gary@groupmiller.com<mailto:gary@groupmiller.com>

From: John Kleinschmidt [mailto:notifications@github.com]
Sent: Monday, March 20, 2017 1:32 PM
To: HospitalRun/hospitalrun-fronte

[2017-03-21 08:29] fgiorlando opened #1010 "Importing Medications"
Is there a means of using the DB import to import medications?
Specifically, I am hoping to import the Australian PBS database of medications (see here for plain text and xml versions: http://www.pbs.gov.au/browse/downloads).

I have had a look at the sample-data.txt which imports a singe drug (Cefazolin), but I'm not sure how to get a list of medications imported.
I'm comfortable with used sed to

[2017-03-21 10:22] fgiorlando opened #1011 "Search in docker install"
In a new docker install using the install docs, the search field doesn't return any results.
Is there a way to enable elastic search in docker?

[2017-03-21 12:28] jkleinsc commented on #1007
@garylm that is true.  Import doesn't work for those items, so that is an issue.

[2017-03-21 12:32] jkleinsc commented on #1010
@fgiorlando if you are looking to import medication (or other types of inventory), I would recommend using our import tool for inventory documented here:
https://github.com/HospitalRun/hospitalrun-server/blob/master/README.md#inventory-import

Basically if you can provide the information in a CSV file, you can import it into HospitalRun.

[2017-03-21 12:33] #697 closed

[2017-03-21 20:54] mnorbeck opened #1013 "Discharge Report is missing notes field"
**Expected behavior:**
The discharge report needs to have a notes field, for instructions to the patient.    This field is unique in that all other information on the report is being pulled from the visit or patient.   This field is editable on the report only.

**Actual behavior:**
There is no field

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

@jkleinsc

[2017-03-21 22:31] mnorbeck opened #1014 "Discharge report - use the examiner field from the visit."
**Expected behavior:**

The discharge report should pull the "examiner" field off the associated admission visit.   So, on the report, it is a read only field.

**Actual behavior:**

The report is presenting a drop-down to the user labeled "surgeon"

**Steps to reproduce:**

1. create a visit of type admission for a patient
2.  create a new discharge report, view the surgeon field

**Screenshots (

[2017-03-22 00:50] zeigerpuppy commented on #1010
Thanks @jkleinsc, I'll give that a go.  Would it be useful to your users if I post the modified .CSV once I get it working?  The PBS listing includes all the government approved drugs in Australia so is quite an extensive list that may be useful to others.

[2017-03-22 00:50] mnorbeck commented on #1013
my bad.   the report is pulling the notes from the visit, which I think at this point is acceptable.

[2017-03-22 00:50] #1013 closed

[2017-03-22 13:27] #997 closed

[2017-03-22 13:31] #65 closed

[2017-03-22 13:40] #690 closed

[2017-03-22 15:00] jkleinsc commented on #1010
@zeigerpuppy, it would be great if you could share your work.  Thanks!

[2017-03-22 15:58] mnorbeck opened #1016 "Vitals - include the user who entered the information"
This is an enhancement, but I think it addresses a gap in the system currently.

Vitals (captured during a visit) should be similar to visit notes; they should capture the user (the logged -in user) who is entering the vitals information.   It will be common that vitals are take by a nurse or other clinician prior to the patient being seen by the doctor.   Therefore, the person who took the vitals

[2017-03-22 21:07] jkleinsc commented on #986
I am look at this one.  There is an issue with the search proxy used if you are not using ElasticSearch.

[2017-03-23 05:51] baoqchau commented on #303
Hello @jkleinsc. I would like to work on this. You know which file I need to change so that when I log in with a specific role, the left navigation bar will display only the capabilities of that specific role? I tried to add "Cashier" role in both `mixins/user-roles.js` and `mixins/user-session.js` but looks like it's not working. Thanks a lot.

[2017-03-23 14:10] #980 closed

[2017-03-23 17:47] #996 closed

[2017-03-23 17:58] jkleinsc commented on #303
@baoqchau you are correct that you would need to add the role to both `mixins/user-roles.js` and `mixins/user-session.js`.  Security in HospitalRun is based on the concept of roles and capabilities.  `mixins/user-roles.js` defines the available roles in the system and `mixins/user-session.js` defines the capabilities for each of those roles.  So if you add a new new in `mixins/user-roles.js` you t

[2017-03-23 17:59] jkleinsc commented on #303
@baoqchau I marked this item as in progress, so it is yours to work on.  Please let me know if you don't end up working on this.

[2017-03-23 18:21] baoqchau commented on #303
Thanks @jkleinsc. I will update status as I am working on this.

[2017-03-23 19:07] jkleinsc commented on #1011
@fgiorlando there is a way to do search without Elasticsearch, but there seems to be an issue with it right now that I am resolving.  There is work underway to dockerize https://github.com/HospitalRun/hospitalrun-server and part of that is to include Elasticsearch.  The frontend docker setup is really just for testing the development environment, not for production deploys.

[2017-03-23 19:09] jkleinsc commented on #631
I am going to tackle this one.

[2017-03-23 19:10] #986 closed

[2017-03-23 19:10] #1011 closed

[2017-03-23 20:35] #1014 closed

[2017-03-23 20:46] #153 closed

[2017-03-23 20:47] jkleinsc commented on #986
This is now fixed.

[2017-03-23 20:47] jkleinsc commented on #1011
@fgiorlando this issue is now fixed in the latest code.

[2017-03-24 02:30] baoqchau commented on #303
@jkleinsc should i create a new `cashier` route that will have cashier screen and additional functionalities, like `Add Payment`?

[2017-03-24 05:08] travismchan commented on #990
Would it be possible to render the date in the input field as the formatted version of the dates so there is no confusion? Eg: 15 Mar 2017

[2017-03-24 12:42] mnorbeck commented on #994
@baoqchau maybe!   thanks, I will check again

[2017-03-24 12:55] jkleinsc commented on #994
@mnorbeck @baoqchau I just tested this locally with the latest code and it redirects to the patient from the visit.

[2017-03-24 13:16] jkleinsc commented on #303
@baoqchau, yes this feature request will require creating a new route and navigation item.

[2017-03-24 14:02] sweeneydavidj commented on #390
Going to start looking at this issue.

[2017-03-24 14:15] jkleinsc commented on #390
@sweeneydavidj go for it.  I'll set the issue to In Progress.  If for some reason you can't complete this issue, let me know and I'll update the status on the issue.

[2017-03-24 14:18] jkleinsc commented on #990
@travismchan that is a great idea.  Having placeholder text would be helpful.  Keep in mind that when you click on a date field, a calendar pops up and when you select a date it displays in the text field in the proper format.

[2017-03-24 14:31] emadehsan commented on #990
@travismchan rendering as `15 Mar 2017` is good idea.

But @jkleinsc clicking on the date filed brings up the calendar, and if the a patient's DoB is 13 Jan 1970, clicking through the calendar to get to that year takes dozens if not hundreds of clicks. The solution currently is, again, inserting the date as `MM/DD/YYYY`.

[2017-03-24 14:38] jkleinsc commented on #990
@emadehsan that is true.   I just wanted to clarify for @travismchan that the calendar does set the date in the current format.

[2017-03-24 19:01] mnorbeck opened #1023 "Clean up Report Header functions"
Not so much a bug...as a requested change.

1. Change the existing code to simply print a part of the header if it is not blank.  Else, skip it.  For example, if on the Administration > Print Header page the fields Header Line 2, 3 are blank, but Facility Name and Header Line 1 are not blank, print only Facility Name and Header Line 1 on the reports.

2. On the Administration > Header Options page

[2017-03-25 10:00] ninjacatt commented on #447
since this is duped to #245 , should we close this too?

[2017-03-25 10:39] jkleinsc commented on #447
@ninjacatt yes this should be closed.

[2017-03-25 10:39] #447 closed

[2017-03-25 10:56] dasManaswini commented on #989
@jglovier @jkleinsc  I would like to add a piece of documentation for docker compose referring the PR #1015 which is already merged.There is a discrepancy in the contribution.md and the installation guide regarding the installation process.I would like to make necessary changes over there too.Should I make different PR for both of it?

[2017-03-26 21:09] emadehsan commented on #701
@jkleinsc should Elasticsearch be installed & running for Search (in general & for tests)?

[2017-03-26 23:43] jkleinsc commented on #701
@emadehsan there is a default search that runs when Elasticsearch isn't installed and that is used for testing.

[2017-03-27 00:15] emadehsan commented on #701
For some reason default search is not working on my machine. One searching for a patient for example, it gives `Uncaught TypeError: Cannot read property 'constructor' of undefined` error

[2017-03-27 13:46] jkleinsc commented on #989
@dasManaswini you can combine those into one PR.

[2017-03-27 13:47] jkleinsc commented on #701
@emadehsan is that with the latest from GitHub?  If you have the latest, you will need to also run `npm install`

[2017-03-27 16:55] #995 closed

[2017-03-27 18:58] mnorbeck opened #1033 "Imaging requests - changes to notes, field order and completed by"
This is an enhancement request

1.  Add a "request notes" field, right after the image type selection field.   This would be where the ordering doctor specifies the details of the request (i.e.   please take an image of the upper left arm)

2. Rename the existing notes field to be "results notes"   This will be used by either the tech taking the image, or the radiologist reading the image, to add

[2017-03-28 02:31] emadehsan commented on #703
@jkleinsc is there any update on this?

[2017-03-28 02:32] emadehsan commented on #700
Since there is no update on this. I want to work on this issue.

[2017-03-28 08:55] MrYogi opened #1034 "Feature Request - Patient role"
I am new to Hospitalrun, Is there any way to access patient data history for patient role?
if not please consider as feature request.
thanks

[2017-03-28 13:33] jkleinsc commented on #700
@emadehsan it is yours to work on.

[2017-03-28 13:44] jkleinsc commented on #703
@emadehsan there doesn't seem to be a good way to remove an (unused) index route, so I am going to close this issue.

[2017-03-28 13:44] #703 closed

[2017-03-28 16:26] jkleinsc commented on #1034
@MrYogi could explain further what you are looking for?  Do you mean for a patient to view their own data or for clinical staff to view the history of a specific patient?  HospitalRun allows clinical staff to view patient data, but there currently isn't a way for patients to view their own data.

[2017-03-28 16:56] mnorbeck opened #1035 "Searching for appointments - search field not labeled correctly."
**Expected behavior:**
Scheduling > Appointment Search has a field that displays a list of Appointment status values.   The field should be labeled "Status" or "Appointment Status".

**Actual behavior:**

The field is labeled "First Name"

**Steps to reproduce:**

**Screenshots (if applicable):**

<img width="1024" alt="screen shot 2017-03-28 at 12 54 44 pm" src="https://cloud.githubusercontent.co

[2017-03-28 17:12] BogdanAlexandru commented on #1035
Do a quick sync to the latest version, PR https://github.com/HospitalRun/hospitalrun-frontend/pull/1028 should've taken care of this.

[2017-03-28 19:16] emadehsan commented on #1034
@MrYogi there is a feature request here #979 about the same functionality.

[2017-03-29 00:12] #377 closed

[2017-03-29 02:04] emadehsan commented on #701
@jkleinsc I have the latest clone of the repo but still **Search doesn't work with CouchDB 2.** When I tested with CouchDB 1.6, the search is working fine.

Can you confirm this?

[2017-03-29 05:50] MrYogi commented on #1034
yes same as[ #979 ](https://github.com/HospitalRun/hospitalrun-frontend/issues/979)

[2017-03-29 13:12] emadehsan commented on #1034
@MrYogi then you might close this issue.

[2017-03-29 13:18] jkleinsc commented on #1034
Closing as duplicate of #979

[2017-03-29 13:18] #1034 closed

[2017-03-29 13:28] jkleinsc commented on #1035
#1028 from @BogdanAlexandru fixed this issue, so I am closing this.

[2017-03-29 13:28] #1035 closed

[2017-03-29 13:30] jkleinsc commented on #701
@emadehsan I haven't tested it in CouchDB 2 so it is possible it doesn't work right now.  I think in general for our upcoming 1.0 release we need to back away from CouchDB 2 as there are other issues with using it right now.

[2017-03-29 14:05] #1016 closed

[2017-03-30 07:05] mqchau commented on #493
Helped by https://github.com/HospitalRun/hospitalrun-frontend/pull/1037

[2017-03-30 15:51] mqchau commented on #494
Helped by #1037

[2017-03-31 01:27] emadehsan commented on #691
@billybonks I think test for this exists as @migbar suggested
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/tests/acceptance/appointments-test.js#L31-L50

[2017-03-31 01:32] emadehsan commented on #700
[Posting here for community]
@jkleinsc  I have been working on this. I have written the following acceptance test for `patients.search` route:
[code]
Asserts work fine but following error shows up. I have no prior experience with ember tests. Could you please explain about fixtures etc? And how to pass this test?

![image](https://cloud.githubusercontent.com/assets/7283624/24532678/aec559ee-15db-1

[2017-03-31 01:54] emadehsan commented on #483
@jglovier

Quick question about this problem's design decision:
I think the information must be permanently stored in CouchDB. Are the following fields enough to distinguish each loading? What else must be saved?
* `filename`
* `loadedBy`
* `startTime`
* `endTime`
* `docsRead`
* `docsWritten`

[2017-03-31 13:26] adeolabadmus commented on #994
@jkleinsc, the issue here is that the `editAllergy` and `createNewAllergy` actions in the `medication-allergy` component bubbled. Hence, the `linkToPatient` action of the parent component (`patient-summary`) intercepted it. That is why any click on the New Allergy button or an existing allergy opens the `patients/edit` page.

The reason why that didn't happen in @baoqchau's case is because the vis

[2017-03-31 19:44] swekshajha12 opened #1042 "website not running locally on windows 32 bit machine"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-03-31 19:47] #862 closed

[2017-03-31 20:21] #994 closed

[2017-03-31 20:32] jkleinsc commented on #691
@migbar and @emadehsan you are correct.  I will close this issue.

[2017-03-31 20:33] jkleinsc commented on #483
@emadehsan I think we could just keep this in memory, eg in the controller keep track of recently loaded files.  They would disappear when you close the browser, but would be visible during your current "session".

[2017-03-31 21:32] BogdanAlexandru commented on #691
@jkleinsc
The test implemented there never appears to visit `/appointments/missed`, instead goes to `/appointments`. The real application visits `/appointments/missed`.

Is that intended? I looked into this a couple of days ago and made it go to `/appointments/missed`, but missed appointments wouldn't show. I didn't get the chance to debug it.

[2017-04-02 05:40] mqchau commented on #451
Hi. Do you guys still want/need this feature?

[2017-04-03 14:42] #390 closed

[2017-04-03 14:45] #1023 closed

[2017-04-03 19:50] emadehsan commented on #700
Hello everyone. I am no longer working on this issue. So if anyone is interested please do it.
[**If it helps here is the test I wrote **](https://github.com/emadehsan/hospitalrun-frontend/commit/a2fd41101f200179a10db30762bdd6469c67b776)
I am getting the same error as show in the image in my last comment.

[2017-04-03 21:17] pgbonino commented on #814
Hello.
Sorry, but I am new in the project. I have installed properly HospitalRun in my local environment, so I get it run apparently well in a local browser.

So now I wanted to contribute for the first time. And I have seen this issue as a start point.

Could you give further information on how to reproduce the issue? Take into account that I have a totally plane HospitalRun. Empty database with

[2017-04-04 11:34] fgiorlando commented on #1011
thanks, trying a docker upgrade but having some problems building currently, will post a new issue.

[2017-04-04 11:37] fgiorlando opened #1045 "docker build error: Cannot find module 'semver'"
When attempting to build with the latest hospitalrun-frontend from github, I encounter the following error.

(Docker version 17.03.1-ce, build c6d412e on Ubuntu 14.04)

[code]

[code]

Looks like it may be related to the following npm issue: https://github.com/npm/npm/issues/15611

[2017-04-04 21:04] jkleinsc commented on #451
@mqchau this is a low priority item, but if you have interest in implementing it, feel free!

[2017-04-05 02:11] delebash commented on #127
Do you want a list of transactions by date range?  Like the Transactions section of the inventory edit page but filtered by date?  http://localhost:4200/#/inventory/edit/iiqtc6w3_31

[2017-04-05 07:15] fgiorlando commented on #1045
Still trying to get this working, so far the following haven't worked:

0) deleted all docker containers and started fresh
1) tried node 7.x
[code]
2) tried the following modified command:
[code]
3) tried a separate semver command
[code]

the error remains the same as in the previous comment.
Also noticed this similar bug report: https://github.com/npm/npm/issues/15558

Is anyone else having troub

[2017-04-05 14:54] #989 closed

[2017-04-05 15:01] jkleinsc commented on #691
@BogdanAlexandru I "missed" that 😄 !  I'll reopen the issue.  I just took a quick look and I think the problem is that the missed appointments only shows this weeks missed appointments, so if the appointment wasn't for this week, it will not show up.  I am going to add another issue to add a date filter for missed appointments.

[2017-04-05 15:06] jkleinsc commented on #691
@BogdanAlexandru I just realized that the missed appointments functionality can be entirely done via the appointments search screen.  I would change the test to use that screen (eg appointments/search?startDate=1491192000000&status=Missed) instead of the appointments/missed URL.  I don't think we need a separate menu option for appointments/missed and am going to log an issue to remove that menu o

[2017-04-05 15:10] jkleinsc opened #1047 "Missed appointments screen should be removed"
**Expected behavior:**
Missed appointments should be searchable
**Actual behavior:**
The missed appointments screen only shows missed appointments for the current week
**Steps to reproduce:**
Create an appointment from last week and set the status to Missed.  Navigate to Scheduling/Missed Appointments (/appointments/missed).   The appointment will not appear.
**Screenshots (if applicable):**
NA
**

[2017-04-05 15:13] jkleinsc commented on #700
@emadehsan the issue is that you need to use the patient db dump, not the default dump.  Eg, change:
[code]
TO:
[code]

[2017-04-05 18:38] tangollama opened #1048 "Graduate from standAlone to traditional cloud/server deployment"
When someone downloads the electron app version of HospitalRun, they may want to "graduate" the single, desktop instance of the application to a traditional server-deployed model where the desktop instance is talking to an appliance or cloud server.

The application doesn't currently have a pathway to move from desktop instance to a traditional serve deployment. We need to that.

# Potential workf

[2017-04-06 03:53] fgiorlando commented on #1045
OK, I fixed this error by getting rid of the npm update line (as described in this post: https://github.com/npm/npm/issues/15558)

I think the npm update causes a mismatch between the npm version and the cached modules, but I'm not really sure if that's the cause.
So I'd consider this more of a workaround than a fix!

changes to `Dockerfile`:

[code]

[2017-04-07 17:59] nfung commented on #1045
I got the same error and was able to fix it by moving it inline. After that was fixed, I encountered several other issues - latest issue i'm still working on is that the app is not able to connect to the db.

[2017-04-07 20:22] StIvEk commented on #1047
HI @jkleinsc, @tangollama. I would like to contribute on this issue.

[2017-04-08 04:40] fgiorlando opened #1049 "Can't delete patient (new installation via docker)"
**Expected behavior:**
In the patient view, the "delete" button should remove that patient record

**Actual behavior:**
Nothing happens when I press delete. The patient record is not deleted and no dialogue is presented.

**OS and Browser:**
OS X 10.11
Firefox 52.0.2

[2017-04-08 05:07] fgiorlando commented on #1045
Good to hear I'm not the only one.
Regarding the database connection issue, it would be good to start another issue...

[2017-04-09 09:17] StIvEk commented on #334
Hi @tangollama, @jkleinsc,
I'd like to work on this

[2017-04-10 09:13] bot101 opened #1053 "Error running initcouch2.sh on ubuntu 16.04"
**Expected behavior:**
Running script was supposed to create new user according to installation guide
**Actual behavior:**
Throws an illegai_database_name error and exits script
**Steps to reproduce:**
After setting up couchdb on system, run ./script.initcouch2.sh in directory where hospitalrun was cloned.
**Screenshots (if applicable):**
![coucherror](https://cloud.githubusercontent.com/assets/80

[2017-04-10 15:16] jkleinsc commented on #334
go for it @StIvEk!

[2017-04-10 15:25] #1047 closed

[2017-04-11 03:12] bdheeman opened #1054 "Poor calander pop-up"
**Expected behavior:** Allow the user/operator may/can choose year and month separately.

**Actual behavior:** User/operator needs to click unwanted arrow buttons repeatedly, entering date of birth :-(

**Steps to reproduce:** Try adding a new patient and enter her/his date of birth

**Screenshots (if applicable):** Not required

**OS and Browser:** Most of the java-script enabled browsers have no

[2017-04-11 13:36] jkleinsc commented on #1053
@bot101 can you let me know what the results of running this command produces on your system:
[code]

[2017-04-11 16:53] jkleinsc commented on #1049
@fgiorlando there is a bug with patient deletion that was introduced with a change to a newer version of ember-concurrency.  I am working on a fix now.

[2017-04-11 17:08] #1049 closed

[2017-04-12 14:56] baoqchau commented on #303
Hi @jkleinsc, can u reopen this issue? I still have the `Cashier Screen` and `Receiving payments not related to billed invoice` incomplete. I just want to divide the requirements from here [https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Cashier-Role](url) into small PR so that it is easier to manage. Thanks.

[2017-04-12 15:10] jkleinsc commented on #303
@baoqchau done.

[2017-04-12 23:20] bot101 commented on #1053
I have successfully set it up on a windows machine and have deleted all its files from my linux machine so I can't run that. Thanks.

[2017-04-12 23:20] #1053 closed

[2017-04-15 00:14] nfung commented on #28
@tangollama I'd like to work on this.

[2017-04-15 00:35] tangollama commented on #28
Go for it.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-04-15 14:13] pwaweru-mdsol commented on #990
Hey there, what is the status of this issue? I am new to this open source project, and thought this issue was easy enough to start off with.

[2017-04-17 14:09] jkleinsc commented on #990
@pwaweru-mdsol I'm not so sure this is a simple issue.  There are several things in this issue:
1. We need to at a bare minimum set the date locale to the current user's locale using [navigator.language](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language)
2. We need a way for users to select/change their date locale.  This is a more complicated feature and probably deserve

[2017-04-19 00:20] tangollama commented on #1048
Once #1058 is merged into master, we could pursue this in earnest.

[2017-04-19 14:58] #130 closed

[2017-04-20 01:16] tangollama commented on #698
@remotevision, any progress here? I ask b/c we're getting close to a 1.0 beta release.

[2017-04-20 01:17] tangollama commented on #696
@remotevision, same here. Any progress? I ask b/c we're getting close to a 1.0 beta release.

[2017-04-20 01:18] #691 closed

[2017-04-20 01:21] tangollama commented on #551
@yasirunilan any progress here?

[2017-04-20 01:23] yasirunilan commented on #551
@tangollama sorry couldn't do it

[2017-04-20 01:24] tangollama commented on #388
@parkr @jglovier what do we need to do to finish this?

[2017-04-20 01:25] tangollama commented on #353
@billybonks we're getting close to a 1.0 beta release. Any chance this is ready to go? If not, no worries.

[2017-04-20 01:32] tangollama commented on #370
Resolved.

[2017-04-20 01:32] #370 closed

[2017-04-20 01:33] tangollama commented on #312
@PaulKish is this still an issue or can we close (Mac guy asking)?

[2017-04-20 01:34] #238 closed

[2017-04-20 01:35] #176 closed

[2017-04-20 01:36] #148 closed

[2017-04-20 01:37] #123 closed

[2017-04-20 01:37] #124 closed

[2017-04-20 01:37] #125 closed

[2017-04-20 01:38] #30 closed

[2017-04-20 01:38] #57 closed

[2017-04-20 01:38] #59 closed

[2017-04-20 01:38] #100 closed

[2017-04-20 01:38] #110 closed

[2017-04-20 01:39] #27 closed

[2017-04-20 01:39] #106 closed

[2017-04-20 06:30] PaulKish commented on #312
@tangollama haven't tried used the latest HR version, will try and test it out over the weekend

[2017-04-20 22:00] TBuc opened #1061 "Error running initcouch2.sh on Win10"
**Expected behavior:**
All the commands issued by the script shall return: _{"ok":true}_.
**Actual behavior:**
At line 18, the following command:
`curl -X PUT $SECUREHOST/_users/_security -d '{ "admins": { "names": [], "roles": ["admin"]}, "members": { "names": [], "roles": [admin]}}'`
returns this message:
`{"error":"bad_request","reason":"invalid UTF-8 JSON"}`
**Steps to reproduce:**
Run `.bash

[2017-04-23 07:27] StIvEk commented on #334
@jkleinsc Few questions regarding this feature.
- Do we need permissions for deleting an inventory request? If yes, which user roles will have such permissions?
- Are there any other conditions that will control who can delete a request, e.g. a requester can delete his/her own requests regardless of his/her roles?
- Anything else to be considered when building this feature?

[2017-04-23 13:03] tangollama commented on #334
The rights to execute an action are governed by permissions / capabilities,
which are mapped to roles by default but can be modified in the admin
interface. So what you're looking for is the following:

- users with the right to add_inventory_request should be able to delete
their own request.
- users with the right to fulfill_inventory should be able to delete any
inventory request.

You can find

[2017-04-23 13:04] tangollama commented on #334
That same mixin has a helper function, currentUserCan to figure that out for you.

[2017-04-23 21:51] TBuc opened #1066 "translation-sync fails"
**Expected behavior:**
The execution of the following script runs errorless:
`npm run translation-sync`
**Actual behavior:**
Script execution almost immediately hangs with error.
**Steps to reproduce:**
0. Install Node.js (complete of npm)
1. Clone hospitalrun-fronted git repo.
2. Switch to project's basedir
3. run `npm install -g ember-cli@latest`
4. run `npm install -g babel-cli eslint-cli`
5. r

[2017-04-23 22:43] mqchau commented on #1066
Hi,
I am the author of the script, I will investigate this. I don't have Windows 10 laptop so I'll have to borrow from someone.

[2017-04-23 23:10] mqchau commented on #1066
So apparent Windows has issue with `;`. On MacOS the `;` symbol is understood as separation of 2 commands while Windows thinks it's 1 command all along. The solution is to change `;` into `&&`. I will create a PR to make some changes to fix the instruction as well as the script. Please test it out when you have the chance.

[2017-04-23 23:24] mqchau commented on #1066
@TBuc Please follow the new instruction and see if you can run it. I have tested it on a borrowed Windows 10 laptop and it worked.

[2017-04-24 13:09] bethgw opened #1068 "Navigation arrows obscure database column headings"
The arrows that are used to scroll between screens of the databases in HospitalRun are placed such that sometimes they cover the headings of columns in the databases. The placement should be revised so that, in all user views, this does not occur.

For example, logged in as "hr.doctor@hospitalrun.io", navigate to the "Medication" tab. I have attached a screenshot where you can see the arrows obscu

[2017-04-24 15:07] #1066 closed

[2017-04-24 20:27] TBuc commented on #1066
@mqchau perfect, now works fine!
Please just note that I needed to install npm package `babel-preset-es2015` _locally_ in order to make it work (while `babel-cli` `eslint-cli` worked fine being installed globally).

[2017-04-25 10:51] innopage commented on #953
I think I'm hitting this bug / issue even though I used CouchDB 1.6 in my docker compose.....any ideas how to work around this please?

[2017-04-27 01:21] nfung commented on #28
Need clarification on the requirements... it states that visits should be read-only to physical therapists, but that physio events should be a list under visits. I took this to mean that one needs to view a visit in order to see a list of physio events, but with the read-only permission, this wouldn't be possible for physical therapists.

[2017-04-27 01:47] tangollama commented on #28
I'd be happy to discuss further is Slack (tangollama), but I believe it
does make sense. A future Physical Therapist role would have the ability to
see and read all Visit data and screens but not the right to edit those
records... except for physio events.

The idea is that physio events would hang off of the Visit in a similar
referential relationship that procedures share. Physical Therapists wo

[2017-04-27 13:53] jkleinsc commented on #1054
@bdheeman The popup calendar was supposed to allow you to click on the month and/or the year to change them.  At some point this broke.  I have a fix forthcoming that will allow the month and year to be changed via clicking on them.

[2017-04-27 13:53] #1054 closed

[2017-04-28 17:33] tangollama commented on #35
Resolved in master

[2017-04-28 17:33] #35 closed

[2017-04-29 03:12] dmkar333 commented on #1010
There is also RxNorm, which seems to be a US equivilent to PBS.  It can also be used to check for potential for drug-drug interactions when prescribing medicine.

Their site: https://www.nlm.nih.gov/research/umls/rxnorm/

They have monthly updates and the download are text files that come with mysql and oracle load scripts.  Been a while since I have done it, but it wasn't too hard if memory serve

[2017-04-30 18:51] tangollama opened #1074 "Create the electron windows 32-bit download/install"
**Expected behavior:**
Availability of the code as a win32 download.

**Actual behavior:**
Currently unavailable.

**Steps to reproduce:**
- Checkout the project on a win32 development device.

Talk to me on Slack @tangollama to become part of the build team process.

[2017-04-30 18:53] tangollama opened #1075 "Create the electron windows 64-bit download/install"
**Expected behavior:**
Availability of the code as a win32 download.

**Actual behavior:**
Currently unavailable.

**Steps to reproduce:**
- Checkout the project on a win32x64 development device.

Talk to me on Slack @tangollama to become part of the build team process.

[2017-04-30 20:58] MatthewVita opened #1076 "Wikipedia page"
Dear Maintainers,

My name is Matthew Vita, a programmer in the healthcare industry. I am trying to help build up the high impact "List of open-source health software" Wikipedia page (https://en.wikipedia.org/wiki/List_of_open-source_health_software) and would love to add your software to the list. However, it appears that your project does not have a page on Wikipedia so I ask you to consider the

[2017-05-02 02:07] tangollama commented on #1076
Matthew,

FYI, I have submitted a wikpedia page.

https://en.wikipedia.org/wiki/Draft:HospitalRun

hopefully soon

https://en.wikipedia.org/wiki/HospitalRun

On Sun, Apr 30, 2017 at 4:58 PM, Matthew Vita <notifications@github.com>
wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2017-05-02 03:04] MatthewVita commented on #1076
Dear Maintainers,

I just wanted to follow up with a few words in regards to Conflict of Interest (COI). As you can imagine, I have been reaching out to all kinds of mature, reputable, and active open source healthcare projects to help build up this Wikipedia list. However, some project members have (rightly) reached out to me with concerns about COI, so I wanted to clear this up as best as I can.

[2017-05-03 20:18] jonathan8464 opened #1077 "Can't visit Users page under Administration (session expired), and then locked out of system until cookies are deleted"
**Expected behavior:**
Choosing "Administration > Users" in the menu should show UI to manage users.

**Actual behavior:**
I get a pop-up saying that the session is expired. Logging in again shows the same error immediately (without clicking on the menu). The only way to be able to login again is to delete all cookies.

**Steps to reproduce:**
1. New development env on Mac OS X 10.11 (using instru

[2017-05-03 20:54] TBuc commented on #1077
I've regularly been experiencing the same issue. Sorry I had no time to report it yet.

@jonathan8464 please note that the session is not actually expired and if you click on some menu on the left (other than Administration) the popup will disappear. Does not solve the problem, but makes it faster to re-gain control over the application.

[2017-05-03 21:39] adeolabadmus commented on #1077
@jonathan8464 @TBuc

This issue has been reported in #953, it's caused by a bug in CouchDB 2.0. You can change your CouchDB installation to 1.6, and things would work just fine.

[2017-05-03 21:57] jonathan8464 commented on #1077
@adeolabadmus I forgot to write that I am using CouchDB 1.6.1. I edited my original post to reflect that. You are right that this is the same bug as #953, and I see there is a comment there now by someone who is experiencing it with 1.6 too. Should I close this issue as duplicate or wait with it? Maybe I can help reproduce.

[2017-05-04 08:03] TBuc commented on #1077
@adeolabadmus awesome, you're right - that's why I did not report it before! I had completely forgot about such issue.
Thank you!

[2017-05-06 02:22] MikeBruns commented on #149
@tangollama This is cool idea! I would like to take this work on.

[2017-05-06 04:04] tangollama commented on #149
Have at it!

On Fri, May 5, 2017 at 9:22 PM, Michael Bruns <notifications@github.com>
wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2017-05-06 15:18] MatthewVita commented on #1076
Hello @tangollama. Thank you so much for your efforts thus far. I (exception_e user) has left some notes on your talk page: https://en.wikipedia.org/wiki/Draft_talk:HospitalRun
Thanks.

[2017-05-09 06:47] WilliamJefferies commented on #704
@jkleinsc I will work on this

[2017-05-09 10:27] billybonks commented on #704
👍

[2017-05-09 17:26] jkleinsc commented on #1077
I have a fix for this issue and it is different from #953, so we will leave it open until the fix is ready.

[2017-05-10 22:36] RonanOD opened #1081 "Docker not working on Centos 7."
**Expected behavior:**
Build from DockerFile on Centos 7

**Actual behavior:**
Failure with following stacktrace

npm ERR! Linux 3.10.0-514.16.1.el7.x86_64
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "-g" "npm"
npm ERR! node v6.10.3
npm ERR! npm  v3.10.10
npm ERR! path /usr/lib/node_modules/npm/.github
npm ERR! code ENOTEMPTY
npm ERR! errno -39
npm ERR! syscall rmdir
npm ERR! ENOTEMPT

[2017-05-14 04:21] MikeBruns commented on #149
@tangollama I am currently looking at the different [roles](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/mixins/user-roles.js) and trying to decide which roles can follow/unfollow entities. In your vision are there specific roles that can follow/unfollow, or should all roles have the ability to follow/unfollow.

[2017-05-14 05:06] tangollama commented on #149
Anyone who has the ability to see details of a patient record should be able to follow. However, it probably makes sense to provide a special capability in the security settings for following a case.

I'd be happy to discuss further on Slack tomorrow or later this week.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-05-18 00:41] #631 closed

[2017-05-18 00:41] #731 closed

[2017-05-18 00:41] #863 closed

[2017-05-18 00:41] #1077 closed

[2017-05-18 01:58] #334 closed

[2017-05-18 01:59] #1081 closed

[2017-05-19 22:39] andrew-werdna commented on #1075
@tangollama I'm about to join the slack channel when I get back home, I would love to help out and contribute in any way that helps. I have a dual boot (Windows 7/Ubuntu 16.04) development machine at my disposal. I'll jump on slack in a little bit and make myself available for whatever anyone needs.

[2017-05-19 22:49] tangollama commented on #1075
Awesome. Thx.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-05-20 02:09] tangollama opened #1088 "Unable to build the electron app with 1.0.0-beta"
Logging here for reference and "paper-trailing" whatever changes occur for the release.

**Expected behavior:**
Run
``ember electron:package``
Double-click on the HospitalRun.app, and see it open.

**Actual behavior:**
Run
``ember electron:package``
Double-click on the HospitalRun.app, and see..

![screen shot 2017-05-19 at 1 39 54 pm](https://cloud.githubusercontent.com/assets/929261/26272144/c7a

[2017-05-20 02:51] andrew-werdna commented on #1075
My apologies, took longer than I expected. I'll be available in about 15
minutes.

I also completely understand if it's too late for today. But I'll be on
slack shortly to see if anyone is still on!

On May 19, 2017 5:49 PM, "Joel Worrall" <notifications@github.com> wrote:

[2017-05-21 02:19] robrighter opened #1089 "Add a setup script for the cloud9 development environment"
The [cloud9 development environment](https://c9.io/?redirect=0) is an ideal environment for setting up the hospitalrun-frontend. Unfortunately, cloud9 has some quirks and if the hospitalrun setup commands are run in the wrong order or context it can create some test failures that are hard to debug. This creates an unnecessary barrier for people that want to ramp up quickly and contribute to the pr

[2017-05-22 15:40] andrew-werdna commented on #1075
At first when I ran the commands from the **Steps to reproduce** section, I got the following interesting error.

    Packaging Electron project.
	â Preparing to Package Application for arch: x64
	Failed to compile file: AppData\Local\Temp\electron-packager\win32-x64\HospitalRun-win32-x64\resources\app\ember\crossdomain.xml
	Compiling AppData\Local\Temp\electron-packager\win32-x64\HospitalRun-win3

[2017-05-23 00:55] andrew-werdna commented on #1075
I dare say we are good here. Submitting PR for the path fix in winstaller config

[2017-05-23 02:35] #1075 closed

[2017-05-23 02:36] #1089 closed

[2017-05-23 02:37] tangollama commented on #1088
Addressed and shipped.

[2017-05-23 02:37] #1088 closed

[2017-05-23 05:23] andrew-werdna commented on #1074
![unsupported_platform](https://cloud.githubusercontent.com/assets/8261769/26339336/e6b52f10-3f4c-11e7-9876-b9d9f3f08ea5.png)

^ not to raise any alarms here @tangollama , ^ I just saw this particular task. For the task we just closed out, #1075 , when I used the command specified in *that* task, it gave me this error. So for #1075 I used the command featured in *this* task. It seemed to still gen

[2017-05-23 10:45] tangollama commented on #1074
My understanding is that the install for win32 needs to be executed on a win32 OS. electron forge (the underlying build project) is opinionated regarding building for other architectures.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-05-23 14:59] afreem66 commented on #483
Is this still open and/or being worked on?

[2017-05-23 15:49] andrew-werdna commented on #1074
Ah, understood!

[2017-05-23 17:45] tangollama commented on #483
@afreem66 yes. @jglovier opened this originally. He might be able to provide more color if you need it.

[2017-05-23 19:21] afreem66 commented on #483
Seems pretty reasonable, just wondering why @xmudrii PR was closed?

[2017-05-23 19:46] xmudrii commented on #483
‎@afreem66 PR was merged, but due to commit message PR was closed. You can check it out here https://github.com/HospitalRun/hospitalrun-frontend/commit/dac2eb72acb17289d70543c06b0f5531697f6748

This PR only implemented "half" of issue. It shows imported file name, but there is no history - once you refresh page, history will be lost. However, I don't know current status of issue.

[2017-05-24 16:11] jujes opened #1094 "A button for switch between language..."
**Expected behavior:**
option to switch from English to Spanish
**Actual behavior:**
No Spanish language as choice

Hi, someone know how I can make available the Spanish has a choice for user interface?

thanks in advance,

[2017-05-24 16:31] tangollama commented on #1094
Thanks @jujes. This is a missing feature and one that someone in the community could (relatively) quickly tackle. I'll label appropriately.

[2017-05-24 16:37] tangollama commented on #1042
@swekshajha12 is this still an issue?

[2017-05-24 16:37] tangollama commented on #988
@aravindGear4 is this still an issue?

[2017-05-25 00:31] robrighter commented on #935
@tangollama Looks like this one needs somebody to pick it back up. I am going to start working on it.

[2017-05-25 12:04] chinmaybhatk opened #1095 "Could not start watchman"
**Expected behavior:**
Go to http://localhost:4200/ in a browser and login with username hradmin and password test

**Actual behavior:**
 couldnot conect to http://localhost:4200/

Checking CouchDB...Starting ember server
Could not start watchman
Visit https://ember-cli.com/user-guide/#watchman for more info.
Livereload server on http://localhost:49152
Serving on http://localhost:4200/
[BABEL] Not

[2017-05-25 13:29] richiethomas commented on #698
I can take a crack at this.  In order for the `no missing translations` test to be used effectively, is it necessary to test the exact-match `/medication/search/` in the acceptance tests?  Or is it acceptable to test a path like `/medication/search/:searchstring`?  The reason I ask is because the first example doesn't appear to be a valid URL in my browser, i.e. the path only works if a search str

[2017-05-26 11:07] chinmaybhatk commented on #462
is this issue fixed? if yes where is the option?? i didnt get any option to do
    Admission deposit required? (Yes/No) [defaiult No]
    Clinic prepayment required? (Yes/No) [default No]
    Followup prepayment required? (Yes/No) [default No]
    Outpatient Lab prepayment required? (Yes/No) [default No]
    Outpatient Imaging prepayment required? (Yes/No) [default No]
    Outpatient Medication pr

[2017-05-26 11:18] tangollama commented on #462
No. This feature is not built yet.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-05-26 12:04] chinmaybhatk commented on #462
Thank you for the reply @tangollama , but in #518 they mentioned code has been committed but build failed ... is there any info on this?

[2017-05-26 14:16] tangollama commented on #462
I'll look into it.

[2017-05-26 14:31] tangollama commented on #462
@chinmaybhatk so here the thing. The code for accessing the configuration is - in fact - in the system. You can navigate to it directly if you have the server installed or you are running the dev environment (i.e. Frontend) at http://<your url>#/admin/workflow.

However, it hasn't been exposed in the navigation yet. Why? B/c the code behind the scenes that consumes those configurations are actuall

[2017-05-26 18:07] richiethomas commented on #702
@jkleinsc while I was researching this issue, it became apparent that Ember renders the `index` route by default and that there is no way to disable this behavior (that I could find).  Is it possible to exempt this route from the `missing translations` test?  Or alternately, could we visit that index route (and any other unused index routes) in a separate test file that exists simply to satisfy th

[2017-05-29 07:34] chinmaybhatk commented on #1095
i could connect to the server and use the application.. but error still exist

[2017-05-29 07:47] chinmaybhatk commented on #462
yes i am interested in completing this feature..

[2017-05-29 13:16] jkleinsc commented on #1095
@chinmaybhatk the watchman message is just a warning that is safe to ignore.  For more information, please refer to this: https://ember-cli.com/user-guide/#watchman

[2017-05-29 13:16] #1095 closed

[2017-05-29 13:22] jkleinsc commented on #702
@richiethomas thanks for looking into this.  The test for missing translations was never created.  Also, you are correct that we can't remove the index route.  The test (when written) can be setup to ignore unused routes.  Therefore, I am going to close this issue.

[2017-05-29 13:22] #702 closed

[2017-05-30 09:28] chinmaybhatk commented on #1077
this issue is still exist..i am facing this problem.. I am using CouchDB 1.6.1

[2017-05-31 13:24] jonathanihm commented on #1061
I had the same issue and the fix posted here works as well.  I can submit a PR.

[2017-05-31 13:25] tangollama commented on #1061
@jonathanihm please do and thanks to you and @TBuc

[2017-05-31 13:33] TBuc commented on #1061
I'm pretty new so I was awaiting feedback before doing anything. Thank you @jonathanihm for submitting the PR, great :-)

[2017-05-31 19:19] wildaces215 commented on #704
I want to work on this as well!

[2017-05-31 20:48] wildaces215 commented on #1094
Iss this open I would like to look into it!

[2017-06-01 13:56] richiethomas commented on #689
Hi, any progress on this?  If not, is it OK if I take this over?

[2017-06-02 09:52] sachin8778 commented on #953
Hi, I am also facing this issue with CouchDB 1.6 and HospitalRun 1.0.0-beta. However this issue is not showing in HospitalRun 0.9.8 after downgrading to CouchDB 1.6, that combination is running fine.

[2017-06-02 10:38] sachin8778 commented on #953
ok, after adding "hradmin" & "test" into couchdb as admin problem resolved for now. But there should be real solution to this for production use.

[2017-06-02 13:18] wildaces215 commented on #1094
I look into this!

[2017-06-02 13:32] wildaces215 commented on #696
I'll look into this issue!

[2017-06-06 01:36] tchan opened #1101 "Frequently asked questions documentation"
Hello everyone, do you think there's value in starting a FAQ section within either the README.md and/or contributing guide for developers. I've been lurking in the slack channel and so far have seen
two people ask the same question in May:
https://hospitalrun.slack.com/archives/C02BT7ZBK/p1494594494461678
https://hospitalrun.slack.com/archives/C02BT7ZBK/p1493972891279875

This would probably make

[2017-06-07 15:22] richiethomas commented on #1094
Should the language settings be stored as an attribute of the user, so they persist with each user session?

[2017-06-07 16:16] tangollama commented on #1094
A global config for the default and a user preference are in order.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2017-06-07 18:49] jkleinsc commented on #1101
@tchan an FAQ would be awesome!

[2017-06-08 05:14] tchan commented on #1094
@richiethomas
Hopefully these links will be helpful, although I am unsure
https://eviltrout.com/2013/11/24/i18n-in-ember.html
https://github.com/jamesarosen/ember-i18n

[2017-06-08 09:56] HasaanAli opened #1103 "When i run "forever start ./script/server" the forever logfile says that "set -euo pipefail" is Unexpected string"
I am trying to run this frontend project using forever on aws instance. I modified start command in package.json file with this: "start": "forever start ./script/server". So that when i'll do "npm start" it will actually run the server script inside forever. But when I do forever list it shows that my process is stopped and shows me path to log file. See below:

<img width="884" alt="forever list

[2017-06-08 14:04] richiethomas commented on #1094
@tchan yeah looks like that's currently a dependency of the project.  I'll definitely need to read through the package documentation as part of playing the story.

@tangollama since there's no design spec to work off, is there a certain location where the language toggle should go?  Or should I just come up with something and submit it for consideration?  My first thought was adding a select eleme

[2017-06-08 22:55] tangollama commented on #1094
I think that's a great recommendation on the gear location. Perhaps @jglovier can offer some guidance as well.

[2017-06-10 19:30] richiethomas commented on #1094
Thanks @tangollama.  Follow-up question- in the past I've used an npm package called `ember-power-select` for use cases like this.  It's powerful and well-maintained.  I'm thinking about using it in the implementation of the language select dropdown, but since it would be a new dependency I wanted to run it by y'all first.

More info here- https://github.com/cibernox/ember-power-select

[2017-06-12 21:32] jkleinsc commented on #1094
@richiethomas I would prefer to not add another select component to the project.  We currently use ember-rapid-forms which has a select component (em-select) and there also is a another component, ember-select-list, in the project.

[2017-06-13 14:25] tangollama opened #1106 "Add photos specifically to a procedure and visit"
**Expected behavior:**
Currently, the system supports attaching multiple photos to a patient, but there's no granularity down to the Visit or Procedure level. Attaching photos to a visit and procedure and having them specifically surface in those interfaces would be preferable from a usability standpoint.

**Actual behavior:**
Currently, photos are attached only to patients and not (optionally) ca

[2017-06-13 17:23] richiethomas commented on #1094
@jkleinsc gotcha, wasn't aware of those other 2 dependencies.  I'll investigate those instead.

[2017-06-20 15:09] richiethomas commented on #1094
@jkleinsc I'm running into problems with the navigation.js mixin.  When I toggle the language in my dropdown menu, the change propogates to the i18n service, which causes all the relevant components to re-render except for the sidebar navigation.  This is because the text values for these elements are populated by the `localizedNavItems` property.  This bug occurs even when I add the `i18n` servic

[2017-06-20 17:17] jkleinsc commented on #1094
@richiethomas I think you need `Ember.computed('i18n.locale', ....)` instead of `Ember.computed('i18n', ....)`.

As far as localizedNavItems is concerned, it is an artifact to the way the navigation was localized.  I would be happy if we changed the navigation to define translation keys instead of text that gets automagically translated.  There really isn't a good reason for it being the way it is

[2017-06-20 17:35] richiethomas commented on #1094
@jkleinsc yep, `i18n.locale` did the trick!  I now have a working version of the language toggle.  Just need tests to support it. :-)

As for `localizedNavItems`, I'm happy to refactor this out as part of this story.  Just to confirm, my understanding is that I should only need to move the `navItems` hash logic into the translations files, and then refactor the views to use the `t` helper method i

[2017-06-20 17:59] jkleinsc commented on #1094
@richiethomas That sounds correct to me.  I would also verify that there isn't anything funky in the tests with those, but I would just make the change and then just verify if the tests are passing.

[2017-06-20 18:15] richiethomas commented on #1094
@jkleinsc cool, thanks.  Going back to the `i18n` vs `i18n.locale` question for a second, this implies that Ember only watches for shallow changes to dependencies such as `i18n`, not deeply-nested changes.  I assume this is a feature in Ember, not a bug, but in my mind the most intuitive implementation would be to watch for deep changes (for this exact case as well as similar cases).  This implies

[2017-06-20 18:51] jkleinsc commented on #1094
@richiethomas good question.  Yes, this is the way Ember works.  I think (my own 2c) there is a good reason why: computed properties are cached and are only recalculated when the dependent keys change.  If it went deep on an object every time *anything* changed on the object, that means that the computed property would be unnecessarily recalculated on every change, instead of just focusing on the

[2017-06-20 18:53] richiethomas commented on #1094
Awesome, that makes sense now.  Thanks for that, and I'll take a look at the link.

[2017-06-20 20:43] #1061 closed

[2017-06-22 01:32] richiethomas commented on #1094
@jkleinsc since the code for this feature has been solely on my machine for awhile, I'd like to try to get the initial version (before refactoring out the `localizedNavItems` method) up to a branch for a review (and possibly a merge?).  I find it more manageable to get code reviews for smaller chunks of code in stages, and this way if you decide to merge it, the feature is available to users soone

[2017-06-22 13:51] jkleinsc commented on #1094
@richiethomas I wholeheartedly agree.  Smaller PRs are much easier to review.

[2017-06-22 17:46] baoqchau commented on #1033
I can help with this one

[2017-06-22 21:59] richiethomas commented on #1094
<img width="1440" alt="before clicking the gear" src="https://user-images.githubusercontent.com/3839713/27457911-795b50e4-5774-11e7-98e8-6dda7d513c6a.png">
<img width="1440" alt="clicking the gear and seeing the dropdown" src="https://user-images.githubusercontent.com/3839713/27457915-7b2e9e80-5774-11e7-9052-2b29be5ce7c1.png">
<img width="1440" alt="selecting a language" src="https://user-images.g

[2017-06-22 22:02] richiethomas commented on #1094
P.S.- ignore the `<script>alert("Hi")</script>` in the Patient Name column.  I was doing some security testing. :-p

[2017-06-23 14:18] richiethomas commented on #1094
To address the original issue that prompted @jujes to report this- the `locales/es/translations.js` file is missing quite a few of the values required to have a first-class Spanish-language version of the app.  I could probably go on Google Translate and fill in the missing blanks, but I don't think that would do the app or the language justice.  Given the worst-case scenario of a mis-translation

[2017-06-23 14:53] jkleinsc commented on #1094
@richiethomas missing translations should be filed as separate issues so that we can solicit folks with good understanding of the language to be translated to work on them.

[2017-06-23 15:10] richiethomas opened #1110 "Missing some translations for French language"
**Expected behavior:**
I would expect to see the following translation keys in the French language:
`admin.customForms.labels.expenseTo`
`admin.customForms.labels.labFormType`
`admin.customForms.labels.opdReportFormType`
`admin.customForms.labels.operativePlanFormType`
`admin.customForms.labels.otherOptionLabel`
`admin.customForms.labels.patientFormType`
`admin.customForms.labels.socialworkFormTyp

[2017-06-25 19:43] knowngate opened #1111 "In Priscription Every time user have to add one by one. Need of Multi Medication List in priscription."
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-06-27 23:07] baoqchau commented on #1033
I have one question: Right now in the "Imaging request" we have two fields: `Result` and `Notes`. So, for @mnorbeck request, should I change `Result` field into `Result Notes` and `Notes` into `Requested Notes`? And for `complete by` field, I will add `completeBy` into the `imaging` models. Is this a good solution for you? @jkleinsc

[2017-06-28 04:49] baoqchau commented on #1074
Hi @tangollama, I tried to run the Steps to reproduce as you said above but unfortunately I encountered a bug:
![2017-06-27 21_42_29-c__windows_system32_cmd exe](https://user-images.githubusercontent.com/8473870/27620893-b28f3b62-5b81-11e7-9933-34ecbd326193.png)
I tried to google it and it turned out a bug in electron-forge, which is in this PR here: [ https://github.com/electron-userland/electron

[2017-06-29 23:01] baoqchau commented on #1045
Hello @fgiorlando. I tried to run the project with docker build and have successfully ran it. I used Ubuntu 16.10, Docker version 17.06.0-ce, build 02c1d87, and node version 7.7.1. From my experience, the solution when we encountered `Error: Cannot find module` is that we should delete `node_modules` folder and run `npm install` (and `bower install`, for Hospitalrun specifically) again. Hope that

[2017-06-29 23:42] baoqchau commented on #1103
Hi @HasaanAli. I tried to run hospitalrun on my laptop with the following start command: `forever start -c 'npm start' ./script/server` and it worked. I found the solution here [https://github.com/foreverjs/forever/issues/540](url). Hope this help you solve your problem.

[2017-07-03 14:33] jkleinsc commented on #1033
@baoqchau Yes, change the label of `Result` to `Results Notes` and `Notes` to `Request Notes`.
And you can add a `completedBy` field to the `imaging` models.

[2017-07-03 15:14] jkleinsc commented on #1094
Resolved by #1109.

[2017-07-03 15:14] #1094 closed

[2017-07-03 15:16] jkleinsc commented on #1110
Resolved by #1104

[2017-07-03 15:16] #1110 closed

[2017-07-03 18:26] glearner opened #1119 "getting error on running . Please help"
![image](https://user-images.githubusercontent.com/29622895/27804169-177d5522-604b-11e7-803f-5373038a7dd6.png)

[2017-07-05 17:34] jonathanihm commented on #1119
Could you attach your log file to the issue?

[2017-07-06 15:20] #303 closed

[2017-07-08 14:56] ArtificialQualia commented on #1106
@tangollama I'd like to work on this.

I've been playing around with the code base the past few days and now have the confidence I could add this.

From a functionality standpoint, do we want uploads through the Visits and Procedure screen to also attach the patient ID so that those photos are retrieved in both the Visits/Procedure screen AND the patient's photo screen?

[2017-07-08 19:28] glearner commented on #1111
@knowngate Thank you for reporting it. I am working on it and try to solve problem as soon as possible.

[2017-07-10 16:16] christianmls opened #1122 "Upload patients"
Hello,

Please, Can you help me, I need the format to upload patients, I have about 1000 patients that I want to upload to the system.

I need simple  format for patients, I reviewed sample-data.txt but it is very complex to verify the format to only upload patients.

Thank you.

[2017-07-12 08:52] waleplanet commented on #1077
I still have the sane error after trrying the offline fixes using CouchDB 1.6.1

[2017-07-12 20:36] SaiBabajiAnanda opened #1123 "Login as Social Worker - Make new appointment - Start Date"
Steps to replicate :
 Login as Social Worker
 Click Add Appointments under Scheduling tab
 Select a patient name
 Select Start Date

Expected Result:
 Past date should be disabled
 Actual Result
 System allows past date to be selected for making new appointments

Browser : IE
 Screenshot attached
![new appointment - start date](https://user-images.githubusercontent.com/29377369/28138882-ea97de82-6

[2017-07-12 20:46] SaiBabajiAnanda opened #1124 "Login as Social Worker - Making New Appointment - End Date"
**Expected behavior:**
 Calendar not displayed to select end date
**Actual behavior:**
Text box is shown for end date field

**Steps to reproduce:**
Login as Social Worker
 Click Add Appointments under Scheduling tab
 Select a patient name
 Select Start Date
 Select End Date

**Screenshots (if applicable):**
![new appointment - end date](https://user-images.githubusercontent.com/29377369/28139271-

[2017-07-12 20:51] SaiBabajiAnanda commented on #1124
Issue fixed in latest version

[2017-07-12 20:51] #1124 closed

[2017-07-13 15:48] bethwhite commented on #1068
Can confirm, the same issue is seen on a Mac in Chrome, and in Firefox.

However, the only login I have observed it with so far is hr.doctor@hospitalrun.io, presumably because the doctor login allows access to more elements of patient files than other roles. I have tested with hr.nurse, hr.social.worker, hr.hospital.office and hr.lab.tech.

[2017-07-14 10:09] waleplanet commented on #953
after adding "hradmin" and test into "couchdb" 1.6 i still get redirected to login

[2017-07-14 21:01] santiago0697 commented on #1119
Hi, @glearner
You could use "the other way" command: **ember serve**

[2017-07-16 21:26] waleplanet opened #1129 "Users module doesn't work with CouchDB 1.6"
**Expected behavior:**
All functionality of the Users module should work with CouchDB 2.0
**Actual behavior:**
1, When a logged in user with couchdb admin rights navigates to the users module, they are redirected to login.
2 , Unable to add A new user through the add user form
**Steps to reproduce:**
Setup HospitalRun to use CouchDB 1.6
Navigate to the Users module
**Screenshots (if applicable):**

[2017-07-18 21:49] vpicone opened #1130 "Unable to load sample data in Safari"
**Expected behavior:**
Load sample data using hradmin login in any browser.

**Actual behavior:**
The database could not be imported. Error: Unauthorized. Error was also unformatted. Able to import in Chrome but not safari.

**Steps to reproduce:**
Install via docker, login as hradmin successfully with Safari. Attempt to load "sample-data.txt" from desktop.

**Screenshots (if applicable):**
<img w

[2017-07-19 16:43] santiago0697 commented on #1123
Hello @SaiBabajiAnanda

What do you mean with "Past Date" i dont see that field on the picture, can you write the exact field label

Thanks

[2017-07-19 16:50] santiago0697 commented on #1122
We could design one method for upload massive patients from csv or json file with all the fields it's necessary for create a basic profile, it would complete with the time when some one check that profile and see some fields are empty.

What do you think about it.

[2017-07-19 19:27] christianmls commented on #1122
It's perfect, I do not have much experience in Ember, But I help you in whatever you need my email is christianmls@hotmail.com

[2017-07-20 15:46] SaiBabajiAnanda commented on #1123
@santiago0697 on july 12th, system allowed to create appointment for june 15th. System allows to select past date in the 'Start Date' field to make new appointment.
Thanks
Vidhya

_Sent from my Samsung SM-G935T using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 14:00] #1033 closed

[2017-07-21 18:18] santiago0697 commented on #1122
Do we need the approval of the coordinator of this project. I'm new in the world of contributions and i don't know exactly how it works

[2017-07-21 23:34] amarlearning commented on #1119
Just prefix `sudo` in the command and it will work.

[2017-07-23 08:48] tchan commented on #1094
I know that the translation files need a lot to be added but I just found the missing translations for the dropdown to be a bit strange. Like so
![gif](http://i.imgur.com/fI0TG2U.gif)

I had a bit of time tonight so I'll try to contribute :)

[2017-07-23 08:58] tchan commented on #1094
Also while playing around with the dropdown selector for the language. I kept accidentally click the logout button. You can select it even though if you are not directly hovering over the text (pic below) which makes for an unideal user experience.
![](https://puu.sh/wQQwv.png)

[2017-07-23 09:01] tchan opened #1134 "Log out button (UX issue)"
While playing around with the dropdown selector for the language selector. I kept accidentally click the logout button. You can select it even though if you are not directly hovering over the text (pic below) which makes for an unideal user experience.
![](https://puu.sh/wQQwv.png)

[2017-07-24 08:50] tamdaovssc opened #1137 "Can't login on chrome brower and firefox brower. (safari is OK)."
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**
Mac OS X 10.12.6 - Safari - Chrome - Firefox

[2017-07-24 09:32] tamdaovssc commented on #1137
Dear all
I have a problem. I build hospitalrun-frontend on Ubuntu server.
I login from another computer with Safari is Ok. So, Login on Chrome or Firefox is not Ok.
I included content="chorme=1" on index.html file.
Could you help me?

[2017-07-25 17:18] #1101 closed

[2017-07-26 13:42] tchan commented on #1130
Strange, just tested via Safari and encountered the same issue.

[2017-07-26 13:47] tchan commented on #1068
Can anyone provide some sample data that I can load to test this? Assuming you are using it in a production environment so your data is confidential.

[2017-07-26 14:09] bethwhite commented on #1068
Hi @tchan, actually no I'm not using it in a production environment, my plan was to contribute to HR so I have been testing out features using their beta page and test logins:

https://beta.hospitalrun.io/#/login
Username: hr.doctor@hospitalrun.io
Password: HRt3est12

[2017-07-26 14:20] tchan commented on #1130
I never use safari but it looks like the app doesn't play nicely with it. Does the `service worker not supported` line help in deciphering this?
https://puu.sh/wTBZV.png

[2017-07-26 14:26] tchan commented on #1068
Ohh, thank you for letting me know about that, had no idea that existed!

[2017-07-26 14:36] bethwhite commented on #1068
No problem. I can't find the page with all the test logins so it's probably not easy to stumble upon! Will link it here if I find it.

[2017-07-26 14:43] tchan commented on #1068
I found it here :)
http://hospitalrun.io/demo/

[2017-07-26 15:13] tangollama commented on #1130
Travis,

Thanks for investing the time in functional testing. The app is built
specifically for Chrome because of it's implementation of features like
Service Workers. Testing on Safari (at present) isn't necessary.

On Wed, Jul 26, 2017 at 7:20 AM, Travis <notifications@github.com> wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2017-07-26 17:19] jeremyklein commented on #1048
I am interested in getting involved with HospitalRun, and this enhancement sounds very interesting to me. Has there been any progress towards this? Is there any documentation of the traditional server-deployed model that might help drive requirements?

[2017-07-26 21:17] tangollama commented on #1048
@jeremyklein thanks for reaching out and expressing an interest in working on this. There is a dockerized deployment of the app that can serve as one of the building blocks. After that, it might be most effective to talk it out amongst the two of us and then I'll document the plan better in this issue. Can you find me on the project Slack. I'm tangollama everywhere. :)

[2017-07-27 05:08] tchan commented on #1130
@tangollama Thanks for the clarification. In saying that, should this issue be closed since it pertains to Safari only?

[2017-07-27 16:03] garylm opened #1138 "Prevent Random Lab Types & Imaging Types being created by users."
**Expected behavior:**  On the New Lab Request forms: Lab Type / Imaging Type is a drop down that Should be Limited to the list of Billing Lab or Imaging types that actually show in the drop down.

**Actual behavior:**  You can type randomly into the drop down field and save the request with anything for a request type.

********* This happens even if the related Lookup Lists are set to prevent us

[2017-07-27 16:23] garylm opened #1139 "Missing "Type" field from both Lab Pricing and Image Pricing Screens."
**Expected behavior:**  All Pricing Screens under Billing should have a place to set the "Type".

**Actual behavior:**  Lab and Imaging do Not have the Type field appearing on the Add or Edit functions, but the lists have a column for Type.  In comparison both Procedure and Ward Pricing do have the Type field on their Add/Edit screens.

Here is a screen shot of Imaging Pricing screen w/o Type
[OWH

[2017-07-28 14:54] KenyanGeek commented on #1139
@garylm experiencing same issue. 'Type" used to be there but seems to have disappeared and hence not possible to add "billable" Lab or Imaging charges on the invoice. @jkleinsc any reason where this was deprecated?

[2017-08-02 15:39] Primedi commented on #1137
I had a similar problem. It occurred because I didn't allow history on Firefox.
So if you use private browsing it seems that the script "vendor.js" from /dist/assets doesn't work as it should.
As I'm new on github I'm not sure whether it works.

I hope that this works and that I understood the question correctly.

[2017-08-02 19:53] garylm opened #1140 "Refinement: Custom Forms - Header/Sub-header object"
It is awkward to create sub-section headers on Custom Forms as there is no such object choice.  There needs to be a form object that is description only with no associated data input field.

My current solution to use Check Box objects as shown below:

[OWH Custom Form Sub Headers.pdf](https://github.com/HospitalRun/hospitalrun-frontend/files/1195111/OWH.Custom.Form.Sub.Headers.pdf)

The result ob

[2017-08-02 20:41] #814 closed

[2017-08-03 02:12] tamdaovssc commented on #1137
Dear Primedi

I run chrome with incognito mode and Firefox with private mode but not OK.
So, I'm new on coder and fresh Emberjs.
Thanks,

[2017-08-03 13:45] Primedi commented on #1137
Dear tamdaovssc,
maybe it is not OK because you run chrome with incognito mode and firefox with private mode.
If you get the "Loading"-preview try the inspector (on firefox) and try to figure out whether there is a failure that says "[...] maybe you run in a private mode". If there is a similar content, try to run e.g. firefox not with private mode to see, if thats ok.

If there's not, you please

[2017-08-04 02:19] dmcfaddengalway commented on #1134
How can i get this issue assigned to me so I may work on it? Please let me know.

[2017-08-04 02:27] tchan commented on #1134
@dmcfaddengalway Hi Daniel, I've already fixed this issue in the commit that I have referenced above, just by doing some simple styling which has not been reviewed.

If you can think of a better way to do it, then by all means submit another pull request to get your first contribution on this project :)

[2017-08-04 02:42] dmcfaddengalway commented on #1134
@tchan Hi yes I just saw your PR after I commented, so sorry! Looking forward to contributing in other ways!

[2017-08-04 17:21] tangollama commented on #1010
@zeigerpuppy any update on this issue?

[2017-08-04 17:22] tangollama commented on #1103
@HasaanAli, it looks like @baoqchau's reply addresses the issue. Closing. Let me know if this is a concern.

[2017-08-04 17:22] #1103 closed

[2017-08-04 17:24] tangollama commented on #1111
@glearner, are you working on this? If so, I'll tag this as in progress.

[2017-08-04 17:25] tangollama commented on #1119
@glearner closing this issue unless you reply otherwise.

[2017-08-04 17:25] #1119 closed

[2017-08-04 17:27] tangollama commented on #1122
@santiago0697 @christianmls the basic concept makes sense. We want to encourage ease of adoption HospitalRun and having a simple format for basic demographic data is in line with that philosophically. When you submit the PR, it would be helpful to highlight what fields you are and are not supporting in the simple upload. Otherwise, go for it.

[2017-08-04 17:30] tangollama commented on #1123
@santiago0697 @SaiBabajiAnanda arguably, there could be a reason (for reporting purposes) someone might enter an appointment in the past. That said, can you offer a reason why the functionality as-is is harmful / irresponsible / unhelpful?

[2017-08-04 17:39] glearner commented on #1111
@tangollama  Yes I am working on this. I am very close to solution.

[2017-08-04 17:48] tangollama commented on #1111
Awesome blossom. Thx for the reply.

[2017-08-04 18:12] tangollama commented on #1129
@waleplanet I'm confused by this issue. Are you saying that the system doesn't fully support CouchDB 2.0? If so, we've already documented that in the [installation instructions](https://github.com/HospitalRun/hospitalrun-frontend#installation). Please clarify.

[2017-08-04 18:12] #1130 closed

[2017-08-04 18:13] tangollama commented on #1134
Hopefully, this will be addressed soon when we roll in #1135

[2017-08-04 18:16] tangollama commented on #1137
The system is really designed to run on Chrome. In general, it should work on Firefox, but there are some pieces that we're aware don't work on Safari (or at least some features on some versions of Safari). I'm unable to reproduce this. @tamdaovssc can you provide more detail?

[2017-08-04 18:17] tangollama commented on #1138
Thanks @thai510 for looking into this.

[2017-08-04 18:26] tangollama commented on #1139
@garylm I'm looking into this now.

[2017-08-04 18:29] tangollama commented on #1139
@garylm @KenyanGeek this was an intentional decision in the system to limit the type field for Lab and Imaging prices (see: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/pricing/edit/controller.js line 102). Can you articulate a reason why we should make this change? If so, it's a pretty easy change and PR.

[2017-08-04 18:30] tangollama commented on #1140
@garylm this is a great enhancement request. Categorizing now. I'll tweet about it :)

[2017-08-04 18:37] tangollama commented on #28
@nfung are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:38] tangollama commented on #6
@EthanDavis my apologies that I didn't reply sooner. Are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:39] tangollama commented on #103
@jglovier bump.

[2017-08-04 18:40] tangollama commented on #236
@donaldwasserman  are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:42] tangollama commented on #353
@billybonks  are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:42] tangollama commented on #388
@parkr @jglovier, consider this a very friendly bump. I'm happy to work some of this if that's feasible.

[2017-08-04 18:43] tangollama commented on #490
@billybonks I feel like we're made more progress than this. Am I wrong?

[2017-08-04 18:44] tangollama commented on #540
@amyrlam are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:44] tangollama commented on #542
@mdarmani are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:46] tangollama commented on #705
@yasirunilan are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 18:47] tangollama commented on #722
@codebychr1z are you still interested in this issue? If not, I'll move it back to Help Wanted.

[2017-08-04 19:24] amyrlam commented on #540
move it to help wanted, but i try to work on some hospital run again soon!

[2017-08-04 19:40] #1134 closed

[2017-08-05 00:50] nfung commented on #28
@tangollama sorry it's taking me so long to finish this. i've got most of this done... i'll try to wrap this up soon

[2017-08-05 02:39] tangollama commented on #540
Thx for the reply @amyrlam. Now worries. We're all volunteering. :)

[2017-08-05 02:53] tangollama commented on #28
@nfung absolutely no need to say sorry. We're all volunteering. Thanks for responding so promptly.

[2017-08-05 10:46] KenyanGeek commented on #1139
Hi @tangollama thanks for your response. In the case of a Hospital with an extensive list of procedures it would be useful to be able to pre-input these procedures from a csv. Because otherwise the end user is confused on how this works and how it connects to the billing at the end. I hope that makes sense?

[2017-08-05 11:45] KenyanGeek commented on #1122
@tangollama still on the same issue is it possible to use the LoadDB feature on the look up list to load patient data?

[2017-08-05 12:37] tangollama commented on #1139
@KenyanGeek I'm confused by your response. What do lists of Procedures have to do with a type field being present on Imaging and Lab Prices?

[2017-08-05 12:49] tangollama commented on #1122
@KenyanGeek, no that's not possible. Currently, the only format available is in the LoadDB tab under Administration. I'd recommend a few concerned parties put together a proposed scaled-down json format for importing patient demographic data. From there, we can create a feature issue and ask someone to work on it.

As I have time myself, I'd be happy to look into this as well. But, no, at present

[2017-08-05 18:39] KenyanGeek commented on #1122
@tangollama thanks again for your prompt response. It would be great to be able to do this as hospitals would want to be able to access historical data and move away from paper completely. So indeed your contribution would go a long way :-)

[2017-08-05 18:52] KenyanGeek commented on #1139
Hi @tangollama I meant lab and imaging modules have no where to edit for the "Type" field in the billing module. Procedures and wards on the other hand work perfectly as they have this feature. The lack thereof seems to affect their appearing in the frontend.

[2017-08-05 19:16] jkleinsc commented on #1139
#877 was the reason these were changed to not be editable.  The backstory is that the reason they are not there is that they do not do anything for labs or imaging.  The bigger question here is what would you expect types to do in the system for labs and imaging?  This is clearly an enhancement, and I would like clarification on what you are looking for.

[2017-08-06 11:35] donaldwasserman commented on #236
I can't really remember where we left off with this and unfortunately, I'm too busy at the moment to give it a shot.

Apologies

[2017-08-06 13:23] tangollama commented on #236
No need for an apology. We're all volunteering. Thx for the reply. If you ever have interest and time, we'd love to see you get involved again.

[2017-08-06 17:19] KenyanGeek commented on #1139
Hi @jkleinsc maybe i am asking the wrong question. Let me try illustrate with screenshots.
I was expecting that when i add a new imaging or lab pricing item in the billing section as such
![capture1](https://user-images.githubusercontent.com/29902073/29005338-efbc5b4e-7ae1-11e7-8830-4934e031e2b7.JPG)

i can be able to access it from the imaging/lab type dropdown auto suggest when i am making a new

[2017-08-07 02:05] tamdaovssc commented on #1137
Dear Tangollama

Run in Chrome and Firefox on localhost is OK. But, login from another PC (same LAN) it's not OK.
It run "no security" mode.
I used Ember Inspector and checking error.
![ember error](https://user-images.githubusercontent.com/29267761/29009687-e9c39ecc-7b14-11e7-817e-828e3b09be86.png)
Thanks,

[2017-08-07 06:46] tamdaovssc commented on #1137
Dear all

I check security issue for ember on link: https://github.com/ember-cli/ember-cli/issues/5123
I run ember s --host my IP.
It had only error: Error registering service worker:SecurityError: Only secure origins are allowed (see: https://goo.gl/Y0ZkNV).
(anonymous) @ (index):42
Promise rejected (async)
(anonymous) @ (index):41

Thanks

[2017-08-07 14:06] jkleinsc commented on #1139
@KenyanGeek you should be seeing the items you add under pricing in the auto suggest box.  Maybe it is a caching issue.  What happens when you close the browser and reopen?  Do you then see the items you added under pricing?

[2017-08-08 04:05] KenyanGeek commented on #1139
@jkleinsc you are right it might be a caching issue. When i compare my running server with the desktop app, the latter lab works fine but server verson doesn't. Would i be missing something?

[2017-08-08 11:07] tchan commented on #1137
@tamdaovssc Can you post the full ember s command that you are using? Eg:
`ember s --proxy website`

[2017-08-08 11:09] tchan commented on #1137
I assume you're using
`ember s --proxy http://192.168.10.205:49152`

Have you also tried
`ember s --proxy https://192.168.10.205:49152`
?

[2017-08-09 07:00] tamdaovssc commented on #1137
Dear tchan

It is not fix.
Thanks and Regards,

[2017-08-09 09:03] tchan commented on #1137
@tamdaovssc Can you post the exact commands you've tried?

[2017-08-09 09:07] tamdaovssc commented on #1137
Dear tchan

I ran commands:
ember s --proxy http://192.168.10.205:49152

[2017-08-16 22:16] galantlex commented on #1140
Hi @tangollama, I'm a first-time contributor to open source who's been lurking here for a while, and I'd love to see if I can tackle this issue!

[2017-08-16 23:00] tangollama commented on #1140
Lexi, awesome blossom! Please have it. I'll mark this as in progress. Feel free to reach out directly to Gary (who submitted the issue) to talk about use case / requirements issues / questions.

[2017-08-18 15:03] garylm commented on #1140
Some thoughts on approach to Headers
- As user customizable as possible.
- Two parts:
          - Header Description/Name as a user entered Text String.
          - Header "Line" as a user entered Text String - allows the user to chose like "-----", "____", " - - - ", etc.
- This header object should be implemented as another Type drop down choice when "Add Field" is chosen on a Custom Form.

[2017-08-21 08:25] sskavitha opened #1143 "Enhancement : Provision to include blood group sub-type in Add new patient form"
**Expected behavior:** It would be nice to have provision to add sub blood groups like A1+ve, A2 +ve into patients information . Adding sub list into the existing blood-group list would make list lengthy and non-user friendly.
Rather than existing list box can be changed into editable list box which will solve it.
**Actual behavior:**
Blood type list box having 8 main category of blood groups.
**S

[2017-08-21 08:32] sskavitha opened #1144 "payment profile not loaded in windows 64 bit OS"
**Expected behavior:**
Payment profile is not loaded for me. I am using windows 64 bit OS installation exe file for installation.
**Actual behavior:**
Payment profile should list mode of payments.
**Steps to reproduce:**
Add new patients form
**Screenshots (if applicable):**
 Attached
**OS and Browser:**
Windows OS, stand alone exe
![payment](https://user-images.githubusercontent.com/31200668/2951

[2017-08-22 17:12] imalexsq commented on #1144
Hi @sskavitha
I cannot reproduce the bug. I started with brand new installation, added a test Price Profile, under Billing. Then went to Patients > New Patient and the test Payment Profile shows up.

[2017-08-22 17:16] imalexsq commented on #1143
What if we keep the 8 main categories, but add an "Other" option at the bottom of the list that creates a field underneat the user can write in additional sub-groups?

[2017-08-23 09:50] KenyanGeek commented on #1144
Yes as @imalexsq states you have to add a pricing profile in the billing section to be able to access them.

[2017-08-23 19:58] #1106 closed

[2017-08-23 21:08] tangollama commented on #1143
@sskavitha @imalexsq, if the blood types is incomplete, the best idea would be to adjust the hospitalrun/mixins/blood-types mixin. That would be a good PR.

[2017-08-24 00:57] imalexsq commented on #1143
I'll work on it

[2017-08-24 04:54] sskavitha commented on #1143
@imalexsq @tangollama Thanks for taking this up! I am happy to contribute to a very active forum.

Blood group is categorized as 8 main types which are already listed, works fine. But the provision is not there to add sub types of blood groups.

Number and types of blood group (main and sub type) is very generic across the world, adding 'other' option will be the workout for input fields like 'Edu

[2017-08-24 05:29] sskavitha commented on #1144
Thanks @imalexsq @KenyanGeek ! After adding pricing profile able to see an entry there.

[2017-08-24 05:29] sskavitha commented on #1144
The product is working as expected, hence I am closing this issue.

[2017-08-24 05:29] #1144 closed

[2017-08-24 05:43] sskavitha opened #1145 "Add contact form clearance issue"
**Expected behavior:**
After clicking add contact button under the new patient tab, a window is popped with the prepopulated value which is entered for the previous patient.
**Actual behavior:**
Form clearance should be done
**Steps to reproduce:**
- fill 'Add contact' window details under new patient
- click 'Add' in the window
- and then click 'Add' in the new patient form
- add another new pati

[2017-08-24 05:52] sskavitha opened #1146 "Total number of patients under Report should be in 'Int'"
**Expected behavior:**
Total number of patients under Report should be in 'Int'
**Actual behavior:**
The total number of patients under Report is in the decimal point.
**Steps to reproduce:**
- add new patients
- select ' Total Patient days' in Report type under Report section
- Displayed value should be in the
![numberofpatients](https://user-images.githubusercontent.com/31200668/29651460-80590af

[2017-08-24 06:01] sskavitha opened #1147 "issue : Report generation in future date"
**Expected behavior:**
Reports can be generated from the past to current date.
**Actual behavior:**
Validation not done in report generation date field which allowing future date for report generation
**Steps to reproduce:**
- under Report generation section, select the future date in the date field.
![futuredate](https://user-images.githubusercontent.com/31200668/29651724-bf9c61ca-88bf-11e7-932e-

[2017-08-24 06:16] sskavitha opened #1148 "UI issue in New surgical appointment End time minute list box"
**Expected behavior:**
Alignment issue
**Actual behavior:**
Alignment issue
**Steps to reproduce:**
- Under scheduling section, Schedule surgery click new appointment,
- Minute box of end time value is not displaying fully.
**Screenshots (if applicable):**
Attached.
**OS and Browser:**
OS :
![ui issue](https://user-images.githubusercontent.com/31200668/29652153-caae0c24-88c1-11e7-8bc9-ae37d369f1d6

[2017-08-24 10:31] tchan commented on #1147
Seems to be an easy fix, I'll take a look at it in a second.

[2017-08-24 10:49] tchan commented on #1148
I can't seem to replicate this. Seems to work fine on Chrome and the Electron App (mac). Is that the Windows Electron App (it's my first time seeing it) ?

I'll download it on my window machine to check as well.

[2017-08-24 11:13] tchan commented on #1148
Seems to work fine on my windows machine.
Although I'm running on 1920 x 1080 resolution
http://i.imgur.com/elK11px.png

Although if I lower it to 1440 x 900 I can replicate what you see so I guess it could be resolution related.
http://i.imgur.com/TR0vRHb.png

[2017-08-24 11:41] tchan commented on #1145
I'll take a look at this in a second.

[2017-08-24 13:44] tangollama commented on #1143
@sskavitha thanks for the detail. I'll review and circle back with a response in the next day or two.

[2017-08-25 01:34] imalexsq commented on #1146
@sskavitha Yes, you're correct. I can reproduce this bug

[2017-08-25 12:18] SiddharthaSarma commented on #1146
@tangollama @imalexsq
I would like to contribute something to Hospital run by taking up this issue.
Please let me know can I take up this issue or not?

[2017-08-26 01:05] tchan commented on #1146
@SiddharthaSarma no problem :)
Be sure to read the [contributing guide](https://github.com/hospitalrun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md) and request an invite to join the [slack channel](https://hospitalrun-slackin.herokuapp.com/) if you haven't already.

[2017-08-26 06:04] SiddharthaSarma commented on #1146
Sure thanks, @tchan :)

[2017-08-28 16:59] imalexsq commented on #1143
@tangollama
Here is a list I compiled with help from @sskavitha . If this works, I'll make a commit.
[code]

[2017-08-29 03:15] EvanSays commented on #1147
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-08-29 07:00] tchan commented on #1147
@EvanSays sorry to steal your thunder EvanSays, I've already submitted a pull request that addresses this issue in the post above yours.

Please join the slack channel https://hospitalrun-slackin.herokuapp.com/ if you haven't already if you have any other  questions :)

[2017-08-29 22:16] the-oem commented on #1068
Hi peeps! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2017-08-30 00:59] nzidol commented on #988
It can be an issue when GIT is installed with configuration to change line-endings to windows format. Then the docker COPY command will copy .sh files into the linux environment with incorrect line endings and the container will fail to start.

To avoid the issue use:
`git clone https://github.com/HospitalRun/hospitalrun-frontend.git --config core.autocrlf=input`

See also:
- http://willi.am/blog/

[2017-08-30 18:17] JosephPB commented on #1143
It would seem that the list provided @imalexsq contains 25 items, whereas @sskavitha was talking about needing 20+8, are there some missing or is that list correct?

Additionally, Alex's list seems to add all of the other known sub types into one big list. If I am not mistaken the current drop down list is incorrectly labeled anyway. A, B, AB and O are the blood types, where as what is listed in t

[2017-08-30 19:47] imalexsq commented on #1143
@JosephPB: in an email @sskavithatold me the order of this list works. Instead of complicating the UI with additional drop-downs, how about we use a single drop-down with a search/autocomplete so users don't have to look through the whole list?

[2017-08-31 00:53] JosephPB commented on #1143
Thanks for clarifying @imalexsq, just wanted to double check.

I think it would potentially be a neater solution, however, the search/autocomplete would essentially just be giving you the same extra drop down menu customised to what the user typed. Was just thinking for easy of use (and ease of code editing in the future), so as to make it clear sub type was required in the field, a second list wo

[2017-08-31 09:51] zzbazinga opened #1154 "Error in building Project in Ubuntu 16.04"
Encounter this error while building hospitalrun in Ubuntu 16.04:
I have node version 6 installed.

COMMAND: ember serve```

module.js:471
    throw err;
    ^

Error: Cannot find module 'jsonfile'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object

[2017-08-31 12:46] tangollama commented on #1154
@zzbazinga can you offer steps to reproduce?

[2017-08-31 12:48] tangollama commented on #1148
@sskavitha I'm also unable to reproduce. Closing.

[2017-08-31 12:48] #1148 closed

[2017-08-31 12:50] #1146 closed

[2017-08-31 13:43] NuttasitBoonwat commented on #1139
I'm confused by your response. What do lists of Procedures have to do with a type field?

[2017-08-31 16:30] zzbazinga commented on #1154
I install with docket and it works fine.

[2017-08-31 16:31] zzbazinga commented on #1154
I don't remember steps so sorry.

[2017-08-31 16:31] #1154 closed

[2017-08-31 17:45] zzbazinga commented on #1010
Hello I am newbie here, can I help in this regards??

[2017-09-01 01:18] #1147 closed

[2017-09-01 01:19] #1145 closed

[2017-09-01 02:37] djstark commented on #1138
@tangollama Hello, I've been looking at this problem but I'm new to JavaScript/Ember. The problem seems to be the validation for the imaging/lab input forms. I tried rewriting the validation to mimic how the patient/medication validations are done (which work as intended) but wasn't able to get it functioning. I'm stuck at the moment, so any guidance would be appreciated.

imaging input
[code]
cur

[2017-09-01 13:28] tangollama opened #1155 "Resolve npm warning for crypto"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated crypto@1.0.0: This package is no longer supported. It's now a built-in Node module. If you've depended on crypto, you should switch to the one that's built-in.

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browse

[2017-09-01 13:32] tangollama opened #1156 "Moving away from bower?"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated bower@1.8.0: ..psst! While Bower is maintained, we recommend Yarn and Webpack for *new* front-end projects! Yarn's advantage is security and reliability, and Webpack's is support for both CommonJS and AMD projects. Currently there's no migration path, but please help to create it: https://github.com/bower/

[2017-09-01 13:33] tangollama opened #1157 "move to uuid module"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:34] tangollama opened #1158 "move from stylelint-rule-tester@0.6.2 to stylelint-test-rule-tape"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated stylelint-rule-tester@0.6.2: Use stylelint-test-rule-tape instead

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:35] tangollama opened #1159 "move from jade to pug"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated jade@1.11.0: Jade has been renamed to pug, please install the latest version of pug instead of jade

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:44] tangollama opened #1160 "update minimatch"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:45] tangollama opened #1161 "update fs-promise"
@jkleinsc feel free to set to Help Wanted

**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:46] tangollama opened #1162 "move transformers to jstransformers"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated transformers@2.1.0: Deprecated, use jstransformer

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screenshots (if applicable):**
N/A

**OS and Browser:**

[2017-09-01 13:46] tangollama opened #1163 "replace wrench with fs-extra"
**Expected behavior:**
npm install with no warning

**Actual behavior:**
npm WARN deprecated wrench@1.5.9: wrench.js is deprecated! You should check out fs-extra (https://github.com/jprichardson/node-fs-extra) for any operations you were using wrench for. Thanks for all the usage over the years.

**Steps to reproduce:**
checkout the project
navigate to the frontend directory
npm install

**Screens

[2017-09-01 17:36] imalexsq commented on #1143
I'll work on the search/autocomplete with extended list of blood types over the weekend.

[2017-09-02 05:59] zzbazinga commented on #1159
Got these warning while npm install.
Attaching screenshot
![screenshot from 2017-09-02 11-27-51](https://user-images.githubusercontent.com/29006655/29993332-ee8be9b0-8fd1-11e7-809b-7329a32f6f83.png)

[2017-09-02 06:17] zzbazinga commented on #1163
I checked fs-extra and got this: http://jprichardson.github.io/node-fs-extra/
Then I use npm install --save fs-extra
So I got this:
![image](https://user-images.githubusercontent.com/29006655/29993420-3552d5be-8fd4-11e7-9c6d-0744c19be146.png)
Before that I only use npm install and got this result:
![image](https://user-images.githubusercontent.com/29006655/29993432-77b7b79e-8fd4-11e7-854a-c79a9e7e

[2017-09-02 06:18] zzbazinga commented on #1163
I think problem is solve if we use npm install --save fs-extra

[2017-09-02 16:29] garylm opened #1166 "Cannot View Any Custom Form Data"
We have created a number of Custom Forms to attach or use with Patients, Labs, etc. We have multiple Lab Custom Forms for more detailed, test focused data.  Also there is an expectation that the "always include" flag on a custom form would cause the form flow with the standard form it is attached to.

**Actual behavior:**

No custom form can be viewed after being saved.  We have been unable to fin

[2017-09-03 14:22] NuttasitBoonwat commented on #1166
https://forums.adobe.com/thread/305250

[2017-09-03 23:09] baoqchau commented on #1159
Hi @tangollama, are we still using jade (or pug) in our project? Because I cannot find jade package in `package.json` and as I know, HospitalRun using Handlebars as view engine, not Jade

[2017-09-04 10:53] dKab commented on #208
@tangollama I'm taking this issue.

[2017-09-05 08:08] KenyanGeek opened #1176 "Lab Custom Form fields do not appear in final OPD"
**Expected behavior:**
Custom fields data entered into Lab reports to appear in final OPD report
**Actual behavior:**
Added Custom Form fields do not appear in final OPD
**Steps to reproduce:**
--->Add Custom Form on Labs Module
---->Add data to the custom forms in the lab module
----->Generate an OPD report
**Screenshots (if applicable):**

**OS and Browser:**

[2017-09-05 14:53] dKab commented on #208
@tangollama just wanted to clarify the requirements. In scope of this feature a checkbox should be added to the list of Fields to Include, is this correct? And should it be visible for all types of reports or only for some of them? If the checkbox is checked we should see new column Rank in the report table.

[2017-09-07 01:57] nzidol commented on #312
The error message comes from the slashes being wrong for Windows cmd environment ('.' is not recognized....) and since the file has no extension no program will be started for it even if you have a unix shell like git-bash in Windows...

According to https://github.com/npm/npm/issues/6543 npm will always start cmd on Windows for scripts.

Note that 'bash ./scripts/server.sh' also does not work for

[2017-09-08 14:17] fooksupachai commented on #1137
1.Kill the Chrome Process from Task manager – Open Task Manager and Kill Every process of Google Chrome.
2. Reboot Your Computer and check again.
3. If your computer has another user account then log on to that account and check whether it is working or not, if chrome is working on another user account then first user account got affected, If it doesn’t work on any user account then chrome got aff

[2017-09-09 15:25] justlurking opened #1191 "Mac standalone client is not signed with an Apple Developer ID"
**Expected behavior:**
Software should run on macOS devices using default macOS security configuration and without requiring the user to weaken their security posture.
**Actual behavior:**
Software does not run without disabling Gatekeeper, one of the primary methods for preventing malware on macOS.
**Steps to reproduce:**
Download the Mac client from http://hospitalrun.io/tryit/ and try to launch

[2017-09-10 03:08] nzidol commented on #1163
According to yarn.lock wrench is required by flatten-packages@^0.1.4 which is required by electron-windows-store@^0.9.3 which is required by electron-forge@2.9.0 which is required by ember-electron@2.1.0 which is in our package.json file. So probably needs to be resolved upstream, looks like they have not done so yet... https://github.com/felixrieseberg/electron-windows-store/blob/master/package.j

[2017-09-11 14:34] fooksupachai commented on #1129
what version of erlang are you running? Ensure it is supported
erl -noshell -eval 'io:put_chars(erlang:system_info(otp_release)).' -s erlang halt
## are the erlang crypto (SSL) libraries working?
erl -noshell -eval 'case application:load(crypto) of ok -> io:put_chars("yay_crypto\n") ; _ -> exit(no_crypto) end.' -s init stop

[2017-09-11 14:37] fooksupachai commented on #1138
All experimental uncertainty is due to either random errors or systematic errors. Random errors are statistical fluctuations (in either direction) in the measured data due to the precision limitations of the measurement device. Random errors usually result from the experimenter's inability to take the same measurement in exactly the same way to get exact the same number. Systematic errors, by cont

[2017-09-12 03:41] NuttasitBoonwat commented on #1191
first got to  System Preferences -> Security & Privacy press the key button from the bottom left corner and input the passcode to unlock  it's will show Gatekeeper's setting that'll show chisel level application from 2 level is

accept application from Mac App Store only
accept application from Mac App Store and assure developer

I reccommend you to chooes 2 choice permanently for safety  ,for sur

[2017-09-12 10:53] jujes opened #1200 "First Stable Version 1.0 && kubernetes deploy guide?"
Calendar and Deploy Issue:

Someone know when is release the first stable version?? and some guide to deploy using kubernetes?

Thanks in advance,

[2017-09-12 20:21] justlurking commented on #1191
Hi there, I'm familiar with macOS Gatekeeper and what I would need to get it to run. The reason I opened the issue is that a user shouldn't have to modify their Gatekeeper settings in order to get the software to run out-of-the-box.

While I realize HospitalRun is in beta, getting a developer ID and signing your software isn't particularly hard, and it increases trust. For software that deals with

[2017-09-12 22:41] nzidol commented on #1137
Can be reproduced on Linux with docker, build and start docker containers. Check it works using localhost:4200 then find ip-address of container  `docker container inspect hospitalrun-frontend` and connect to ipaddress:4200 . You cannot get past the login screen, likely reason is security rules in Chrome that allow ws:// connections only to secured site or localhost and the docker container, or st

[2017-09-14 05:27] nzidol commented on #701
Note that the actual search function does not seem to work....
![image](https://user-images.githubusercontent.com/13618973/30413392-e6b3f710-9971-11e7-90f4-112f01396ece.png)

[2017-09-14 05:29] nzidol commented on #698
Note that the actual search function does not seem to work at the moment...

[2017-09-15 04:28] tchan commented on #1123
@tangollama I think the issue is more "it is not possible/logical that a user can make an appointment in the past" so it doesn't make sense that the option is available to the user.

In response to the reporting purposes, correct me if I'm wrong here (writing from memory), the appointment page uses the same date-picker component which should be able to take in a property which sets the mindate. Se

[2017-09-16 11:49] #1143 closed

[2017-09-17 16:17] galantlex commented on #1140
👋 Hello, I'm sorry to say that I have actually been much busier than expected recently, so I haven't actually gotten the chance to look into this. Just wanted to check in and release it back up for grabs, in case anyone else wants to tackle it.

[2017-09-17 17:31] masanori1102 commented on #990
I think that it is better to use [Date.prototype.toLocaleDateString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString) function for date format.

This is the case of the default value.
As @jkleinsc wrote in number 2, I also think that it is better to allow the user to select the date format.

In order to solve this problem by using `Date.pr

[2017-09-18 01:46] #700 closed

[2017-09-18 01:46] #695 closed

[2017-09-18 01:56] tangollama commented on #1140
Thx for letting us know @galantlex. Here's hoping your schedule frees up more going forward.

[2017-09-18 02:00] tangollama commented on #990
@masanori1102 I'm not sure that the older browser concern is as valid in this case. HospitalRun is a business app that intentionally makes use of more modern capabilities like offline storage. That's not to totally disregard your comment. Only to set scope to an appropriate level. We're assuming with this project that to use this free, modern solution, you can bother to deploy a modern browser.

@

[2017-09-18 02:50] #696 closed

[2017-09-18 02:54] tangollama commented on #1176
Similar to #1166 but more specific

[2017-09-18 02:55] tangollama commented on #1191
@justlurking thx for the issue. Any chance you're interested in helping to resolve this with the Electron build process?

[2017-09-18 03:02] justlurking commented on #1191
@tangollama I confess I know very little about this project and nothing about the build process (I downloaded the software out of curiosity based on an interesting blog post to investigate further), but I'm willing to poke around a bit to see if I can help, if you can point me in the right direction?

[2017-09-18 03:05] masanori1102 commented on #990
@tangollama Thank you.
I understood that this application is focused on the modern browsers.

So, I strickthrough about older browser description in [my previous comment](#issuecomment-330064348).

[2017-09-18 04:26] jkleinsc commented on #1200
@jujes that I know of no one has deployed HospitalRun to Kubernetes.  I'm sure it could be done, but we don't have a guide for it.

[2017-09-23 18:10] SaiBabajiAnanda opened #1223 "New Appointment - For Clinic - End Time"
**Expected behavior:**
selected end time (hour and min) should be displayed after selection.
**Actual behavior:**
Selected End time (hour and min) not displayed after selection.

**Steps to reproduce:**
Go to Scheduling -> Add Appointment
Select a Patient
Select Type as Clinic
Select Date and Start Time
Select End Time (hour and min)

**Screenshots (if applicable):**
![end time b4](https://user-im

[2017-09-24 23:51] nzidol commented on #1223
If you increase the size of the browser window does the information show?
Looks to be a css issue where controls don't have an appropriate minimum size....

[2017-09-26 13:59] #701 closed

[2017-09-26 13:59] #698 closed

[2017-09-26 18:37] evalsocket opened #1228 "Add Hindi language for translation"

[2017-09-26 18:42] evalsocket commented on #1200
@jkleinsc is it useful for community ?  Kubernetes support ?

[2017-09-26 19:49] garylm commented on #1166
Does this imply the need to change All standard forms and reports throughout the HR+ package?
   - Every view of a standard form with a custom form attached needs to be changed to show the custom form data.
          - Ex: When viewing the Patient / Imaging history or Patient / Lab history
   - Every report needs to change to also show any associated custom form data.

It appears to be a large tas

[2017-09-27 04:05] teerapat2539 opened #1229 "Error when i npm start ,What happen?"
![image](https://user-images.githubusercontent.com/26427910/30895344-d60f1ed8-a373-11e7-9b0e-f67ba4b1630b.png)

[2017-09-27 04:31] evalsocket commented on #1229
did you install dependency  npm install ?

use above commands to install dependency

[2017-09-27 07:01] darrylpargeter commented on #1140
Hey, @tangollama,
Is this issue still up for grabs? As if it is would like to give it ago.

[2017-09-27 15:06] jkleinsc commented on #1200
@evalsocket I suppose it could be useful.

[2017-09-27 16:36] evalsocket commented on #1200
I ask you because docker also have docker-swarm which is similar to Kubernetes.

[2017-09-27 16:58] evalsocket commented on #1191
@justlurking you are right. I will try to figure out what we can do

https://github.com/electron-userland/electron-osx-sign/wiki/1.-Getting-Started

[2017-09-29 08:03] AlokDebnath commented on #1155
@tangollama What is the status of this issue? Is it being addressed?
Also, the last commit made about this issue, does it provide a complete solution?

[2017-09-29 12:42] tangollama commented on #1140
@darrylpargeter yes. Have at it.

[2017-09-29 12:57] tangollama commented on #1155
I believe this PR addresses it: https://github.com/HospitalRun/hospitalrun-frontend/pull/1230. I haven't had a chance to merge it yet.

[2017-09-29 14:05] keangkai commented on #1229
i think you do not install npm

[2017-09-29 16:35] teerapat2539 opened #1237 "i config in local sever, i follow all step but Username or password is incorrect."
![image](https://user-images.githubusercontent.com/26427910/31026001-ea10556c-a56e-11e7-93c1-fbbe7eb9091a.png)

[2017-09-29 22:31] nzidol commented on #1237
Most likely initcouch.sh was not executed correctly to create the inital database. Are you running cygwin? Also review how your system handles unix-style line-endings.

[2017-09-29 23:32] nzidol commented on #1157
Based on upstream dependencies probably requires update of:
- ember-cli (2.15.1 is latest stable) with related updates....
    "ember-cli-babel": "^6.3.0",
    "ember-cli-eslint": "^4.0.0",
    "ember-cli-htmlbars": "^2.0.1",
    "ember-cli-htmlbars-inline-precompile": "^1.0.0",
    "ember-cli-qunit": "^4.0.0",
    "ember-data": "~2.15.0",
    "ember-export-application-global": "^2.0.0",
    "embe

[2017-09-29 23:50] tangollama commented on #1237
@nzidol I blocked this user from responding / contributing to the project today, based on it's relationship to a series of SPAM-y PR's. FYI.

[2017-09-29 23:50] #1237 closed

[2017-09-29 23:54] tangollama commented on #1157
@nzidol thanks for the detailed eval. Makes the update process more clear for a potential contributor.

[2017-09-29 23:54] tangollama commented on #1229
Closing b/c related to an account that as blocked due to involvement in SPAM PR's.

[2017-09-29 23:54] #1229 closed

[2017-09-30 08:48] evalsocket commented on #1228
Changes are available in my [github ](https://github.com/evalsocket/hospitalrun-frontend
)

[2017-10-01 18:06] Rabinzon commented on #1162
I gonna help with it

[2017-10-01 18:14] tangollama commented on #1162
Thx @Rabinzon

[2017-10-01 18:42] #1140 closed

[2017-10-02 09:10] docbby opened #1241 "Backing Up Hospitalrun"
Good day,
I am a doctor and I have just begun to use the Hospitalrun on Mac [iOS] platform
How do I back-up the data in my Hospitalrun Folder with rsync command

**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-10-02 19:26] zacharyparrish commented on #1191
@evalsocket I'm willing to give this a go if this isn't being worked on already

[2017-10-02 20:36] tangollama commented on #1191
@zacharyparrish @evalsocket work it out between you who is working on this. It'd be great to see it resolved.

[2017-10-03 20:20] BogdanAlexandru commented on #1137
Can repro by running HR+ in a VM and attempting to open it up in the host, with VM'sIP:port.

A "fix" for Chrome:

`chrome.exe --unsafely-treat-insecure-origin-as-secure="http://HRIP:PORT"`

Where `HRIP` is the IP address at which the HospitalRun server is located, and `PORT` is the port at which it listens.

Aside from this you may want to specify a custom `--user-data-dir=DATADIR` param, so that

[2017-10-03 21:50] BogdanAlexandru opened #1245 "About the way translated language names are handled"
While working on the Romanian translation I stumbled upon this:

[code]

Each localization specifies its own language-specific names for the other languages. If one entry is missing, it shows up in the app as an alternative, "missing language" string.

But my question is rather about whether or not this approach helps the user. In all of the programs I've used, language names are not current-langu

[2017-10-03 22:34] BogdanAlexandru commented on #1245
Related, from a programmer perspective: from what I noticed in previous PRs, language name labels are entered manually (for example, the Turkish translation for "French"). In order to have a full Romanian translation, I need to also update the other locales to contain their translation of "Romanian" in the dropdown. While this is not a difficult task, and can be checked for correctness using Googl

[2017-10-04 14:16] BogdanAlexandru opened #1246 "The app does a double page refresh when logging in"
**Expected behavior:**
I open up the app, I enter my details and log in.

**Actual behavior:**
I open up the app, I enter my details, the page automatically refreshes without my consent and I lose my entered details. I have to do it again.

**Steps to reproduce:**
Either run locally, or use the demo app from the website.
Open up HR+ when you're not logged in.
Try to log in.

**Screenshots (if appl

[2017-10-04 14:32] BogdanAlexandru commented on #517
Suggestion: the feedback button could go to a bottom bar. The app currently extends all the way to the bottom of the page, and the URL preview from Chrome that shows up when you hover on links covers part of the menu. This results in this slightly annoying behavior (gif):

![Imgur](https://i.imgur.com/kn7KQnw.gif)

Something like this, but with a proper design:

![Imgur](https://i.imgur.com/AEB1Ky

[2017-10-04 19:15] guillaume-ro-fr commented on #1159
Hi @baoqchau !

Here the dependancies tree :

[code]

[2017-10-04 23:14] #1246 closed

[2017-10-04 23:21] BogdanAlexandru opened #1247 "Right-to-left languages don't trigger a layout change to right-to-left"
**Expected behavior:**
Right-to-left languages like Urdu change the display layout of text.

**Actual behavior:**
The text is still rendered as if a left-to-right language is used.

**Steps to reproduce:**
Start up HospitalRun.
If Urdu is not selected, select Urdu from the languages dropdown.

**Screenshots (if applicable):**
![Imgur](https://i.imgur.com/5XE2kCJ.png)

**OS and Browser:**
Windows 1

[2017-10-07 08:21] eei34 commented on #1223
@tangollama I will be submitting a PR for this momentarily.

[2017-10-07 18:21] noxecane commented on #1129
This is actually a reference to #953 with couchdb 1.6.1

[2017-10-08 13:03] fooksupachai opened #1255 "all beginners and beyond masters, and friends. I have an issue with evaluating what user inputs, the code seems working perfectly when you just type positive numbers, problem occurs when you type negative, it validates; and asks for re-entering values, but, after user re-enters new values it still keeps the old ones, and loop keeps being true (negative). Why the value of variable not changes? Here I am posting my code. I you interested yes it is related to my college assignment. Anyway I did much of code. The code just for you understand my question. Thanks a lot."
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-10-10 22:25] darrylpargeter commented on #333
hey, @tangollama is this issue still up for grabs?

[2017-10-11 03:34] tangollama commented on #333
@darrylpargeter swing away.

[2017-10-11 03:40] #1223 closed

[2017-10-11 13:10] watcharakornton opened #1259 "Thai language"
Can i add Thai language in this project?

[2017-10-11 13:10] #1259 closed

[2017-10-12 12:36] #1155 closed

[2017-10-12 14:38] AThammanoon opened #1261 "test"
test

[2017-10-12 14:39] #1261 closed

[2017-10-12 17:31] Divya063 commented on #1160
@tangollama I would like to work on this

[2017-10-13 15:16] wilsonkasey commented on #1111
How far are you now? Do you need any help here?

[2017-10-16 00:29] tchan commented on #1255
@fooksupachai no disrespect but this is not the right place to be posting these kind of things

[2017-10-16 13:09] sgatibaru opened #1267 "Addition of Biometric Devices"
**Expected behavior:**
Use of biometric devices is recommended in many facilities. I really loved hospitalrun and i hoped it would handle biometrics for user interaction(billing & registration).
**Actual behavior:**

**Steps to reproduce:**
Are there any API's i can look into regarding use of biometric devices? I would appreciate if you point me in the right direction.
**Screenshots (if applicable

[2017-10-17 04:47] aivong opened #1268 "#1268 need to use UTC in dob-days to pass tests in different timezones"
**Expected behavior:**
All tests pass.
**Actual behavior:**
1 dob-days test fails.
**Steps to reproduce:**
1) Switch to CST (Central time)
2) Run tests with ember test

**Screenshots (if applicable):**
<img width="698" alt="screen shot 2017-10-16 at 11 07 32 pm" src="https://user-images.githubusercontent.com/4594252/31647140-fb916438-b2cb-11e7-85ca-2c148dff2019.png">
<img width="336" alt="screen s

[2017-10-17 04:50] aivong commented on #1268
@tangollama I would like to work on this. Have a small fix in mind.

[2017-10-17 05:14] aivong commented on #1268
After switching to UTC:
<img width="720" alt="screen shot 2017-10-16 at 11 59 07 pm" src="https://user-images.githubusercontent.com/4594252/31647835-1edc6100-b2d0-11e7-87e2-b0bd32f771ce.png">
<img width="226" alt="screen shot 2017-10-16 at 11 59 12 pm" src="https://user-images.githubusercontent.com/4594252/31647838-24b6bb02-b2d0-11e7-8c55-c1e07e5b142f.png">

[2017-10-18 05:15] delebash opened #1270 "Question: How much of the online database is stored locally?"
If I have 5GB worth of data online then are all 5 gigs replicated to my local offline database?

[2017-10-18 19:10] darrylpargeter commented on #438
@tangollama  would it be possible to give this a try?

[2017-10-19 12:28] tangollama commented on #438
Please do.

[2017-10-22 13:03] tangollama commented on #1137
@tamdaovssc did @BogdanAlexandru's recommendation address your issue? If so, can you close this.

[2017-10-22 13:13] tangollama commented on #1245
@BogdanAlexandru I think it's a good feature change. Would you like me to turn this into a Help Wanted request (I'll be more specific on what we want the change to be) or would you like to take a crack at it yourself? Let me know.

[2017-10-22 13:15] tangollama commented on #517
@BogdanAlexandru Another really good recommendation. Same question here. Do you want to work this issue or shall I turn this into a Help Wanted issue?

[2017-10-22 15:08] BogdanAlexandru commented on #1245
@tangollama This can be split into two issues, I think. For starters, I can change the dropdown to display languages like:

[code]
regardless of the currently selected language. I can work on that now.

The 2nd issue would be about adding a flag for each language and moving the selector outside the menu, and that could be a Help Wanted with a more precise design specification.

[2017-10-22 17:37] BogdanAlexandru commented on #517
@tangollama I can pick this up right after I'm done with the dropdown changes tracked by https://github.com/HospitalRun/hospitalrun-frontend/issues/1245, which should not take longer than a couple of days.

[2017-10-22 17:46] arr99 commented on #1245
康福中国ID99用户名使用4年了突然掉线在登陆用户名无效

[2017-10-22 17:46] arr99 commented on #1245
康福中国ID99用户名使用4年了突然掉线在登陆用户名无效

[2017-10-22 18:04] arr99 commented on #1245
亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在使用，我问那中国人99马甲他说他朋友在康福够买的，我给你们康

[2017-10-22 18:04] arr99 commented on #1245
亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在使用，我问那中国人99马甲他说他朋友在康福够买的，我给你们康

[2017-10-22 18:06] arr99 commented on #1245
亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在使用，我问那中国人99马甲他说他朋友在康福够买的，我给你们康

[2017-10-22 18:07] arr99 commented on #1245
亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在使用，我问那中国人99马甲他说他朋友在康福够买的，我给你们康

[2017-10-22 18:07] arr99 commented on #1245
亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在使用，我问那中国人99马甲他说他朋友在康福够买的，我给你们康

[2017-10-22 19:21] #1255 closed

[2017-10-22 19:22] tangollama commented on #1270
At present, yes. Partial offline replication is a need the architecture has.

[2017-10-22 19:22] #1270 closed

[2017-10-22 19:22] tangollama commented on #1268
@aivong go for it.

[2017-10-22 19:23] tangollama commented on #1267
Agreed. @sgatibaru are you offering to work this issue?

[2017-10-22 19:24] tangollama commented on #1247
@BogdanAlexandru that's a big, tall order. Setting this to a help wanted tag.

[2017-10-23 00:51] #1129 closed

[2017-10-23 00:52] tangollama commented on #1160
@Divya063, we'd love to have you contribute, but it looks like this PR (https://github.com/HospitalRun/hospitalrun-frontend/pull/1186) addresses this.

[2017-10-23 00:53] #1160 closed

[2017-10-23 01:35] tangollama commented on #1111
@glearner any update for @wilsonkasey who is offering to assist?

[2017-10-23 02:00] #1137 closed

[2017-10-23 19:03] BogdanAlexandru commented on #1245
One thing worth considering when deciding whether we want flags or not: flags represent countries, and one country may have multiple languages being spoken. Case in point: Belgium w/ Dutch, French and German. Canada with French and English.

[2017-10-24 05:59] LinKassem commented on #1247
I will work on it.

[2017-10-24 21:32] BogdanAlexandru commented on #517
Do we want the feedback to always be relevant solely to the development team? Could there be a case where a HospitalRun user would want to send feedback that can be followed upon at the site (i.e. by the administrator of the HR instance)?

Aside from that, any recommendations for a service that could receive and store all the user feedback? The minimal feature set would be to accept entries, store

[2017-10-25 14:02] aivong commented on #1268
Updated PR. Thanks!

[2017-10-25 17:46] wilsonkasey commented on #1111
Yes please.

[2017-11-01 04:49] disposedtrolley commented on #1247
I don't have enough experience with Ember to implement this, but we could possibly modify the `selectLanguage()` method in `language-select.js` to add a `direction: rtl` CSS rule to `div`s. Would also be good to have a mapping of which languages read right-to-left somewhere so we don't end up with a big switch statement.

<img width="1249" alt="screen shot 2017-11-01 at 3 37 24 pm" src="https://us

[2017-11-04 12:20] #905 closed

[2017-11-04 12:29] tangollama commented on #1268
This was addressed by your PR. Thanks @aivong.

[2017-11-04 12:29] #1268 closed

[2017-11-04 13:09] BogdanAlexandru commented on #1247
Marking each rtl language as rtl could likely be done in `/<locale>/config.js` as can be seen [here](https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Translation-Compiler).

There's in fact support for the rtl flag in ember-i18n. This is what it does by default: https://en.wikipedia.org/wiki/Right-to-left_mark

[2017-11-06 12:37] egibar opened #1286 "Upload Documents"
**Expected behavior:** Possibility to upload and view pdfs. In order to can track a patients cases, I think it would be useful to add the possibility to upload documents as pdf.

**Actual behavior:** only photos

**Steps to reproduce:** In the same way that we have the photos menu, have one with documents

**Screenshots (if applicable):**

**OS and Browser:**

[2017-11-06 13:01] egibar opened #1288 "Ldap login"
**Expected behavior:** Login using ldap account. A lot of companys use ldap as their login system, so I thought that it could be useful to incorporate to hospital run

**Actual behavior:** Login only with an account in Hospital Run

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-11-08 02:12] BogdanAlexandru opened #1289 "Is scripts/bootstrap really worth keeping?"
It's by far the most annoying step in the setup process, which can be seen in the fact that it has the largest number of **Note**s  and workarounds.

It doesn't really do all that much, I just ignore it completely, it's less hassle and I run into much fewer problems if I deconstruct it. Left some comments wrt my interpretation of it.

[code]

bash -o igncr script/bootstrap

Asking the users to ins

[2017-11-08 16:14] BogdanAlexandru commented on #312
Since there's already something about moving to yarn: https://github.com/HospitalRun/hospitalrun-frontend/issues/1156

It may be worth noting that this issue has been fixed in yarn: https://github.com/yarnpkg/yarn/pull/2082

[2017-11-08 21:02] nzidol commented on #312
Those slashes are only part of the problem, line-endings, single/double-quotes and the nature of bash scripts translate poorly to Windows. Am rewriting the scripts with shelljs and now converting the initcouch to use nano rather then curl, such that you get a clean install on all environments with just node installed. WIP is here https://github.com/nzidol/hospitalrun-frontend/tree/resolve%23312/sc

[2017-11-08 21:48] BogdanAlexandru commented on #312
Ah you're right, I got my brain stuck on the `.` issue and completely ignored the other things.

[2017-11-09 04:04] MhdTlb commented on #1247
Can I work on this?

[2017-11-09 04:06] MhdTlb commented on #1245
Can I work on this?

[2017-11-12 11:50] mrhmansour opened #1292 "Error during login"
node_modules/hospitalrun-server-routes/routes/30-auth.js:165
                displayName: user.displayName,
                                 ^
TypeError: Cannot read property 'displayName' of undefined     at node_modules/hospitalrun-server-routes/routes/30-auth.js:165:34
    at node_modules/hospitalrun-server-routes/routes/30-auth.js:98:9
    at Request._callback (node_modules/nano/lib/nano.js:24

[2017-11-14 01:05] DerekTBrown commented on #935
Looks like this has an open PR: https://github.com/HospitalRun/hospitalrun-frontend/issues/935

[2017-11-14 01:08] DerekTBrown commented on #304
@tangollama would be willing to start working on this.  Anything changed in this regard since the feature was proposed?

[2017-11-14 01:10] DerekTBrown commented on #540
@tangollama would love to take on this as well.

[2017-11-14 01:54] DerekTBrown opened #1293 "Docker Base Image"
HospitalRun currently uses the `Ubuntu` image, however, this is substantially larger than other images for Node v6 (particularly things like Alpine).  Is there any reason why this is the case, or would you be willing to consider a PR for migrating to Alpine?

[2017-11-14 17:28] tangollama commented on #540
Have at it. Thx.

[2017-11-14 17:29] tangollama commented on #304
Again, swing away. Thank you.

[2017-11-15 15:23] stukalin opened #1294 "DOB formatting unit tests fail"
**Expected behavior:**
All tests pass

**Actual behavior:**
2 tests fail (`convertDOBToText date string` and `convertDOBToText date string short format`) with the 1d difference

**Steps to reproduce:**
* Run tests

**OS and Browser:**
Ubuntu, Chrome

Some thoughts regarding this issue.
1. I've fixed it (the PR is attached)
2. There was an error in the `dob` module when we're trying to parse a stri

[2017-11-18 18:56] saumil1 opened #1298 "search is not working"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-11-20 18:38] DerekTBrown commented on #461
I think this makes sense as a feature- though I wonder if it violates privacy.  Is there a recommended way of implementing this so that the patient is not confirmed via name (for instance, if a possible duplicate is found, prompts for DOB).

[2017-11-20 19:49] DerekTBrown commented on #1156
Probably should consider moving to yarn instead.  Working on a PR.

[2017-11-20 20:51] DerekTBrown opened #1302 "Bug: Undefined rule selector-no-id"
**Expected behavior:**
Stylelint executes without errors.

**Actual behavior:**
A bug occurs in executing stylelint:
[code]
**Steps to reproduce:**
Run using `ember-cli` or `docker-compose up`.

**OS and Browser:**
Docker Image

[2017-11-20 20:56] DerekTBrown commented on #1302
This appears to be because `selector-no-id` was deprecated:

https://github.com/stylelint/stylelint/issues/2528

[2017-11-21 12:40] stukalin commented on #1156
Why `yarn` und not simply `npm`? It has package.lock now etc.

[2017-11-21 14:30] DerekTBrown commented on #1156
@stukalin I think you may be right.  Per your suggestion in the PR, I am going to try to break this up into smaller pieces.  Working on a PR which just moves everything into NPM.

[2017-11-21 14:35] DerekTBrown commented on #1156
In order to facilitate this, we are going to need to add a `package.json` file into the hospitalrun-maintained fork of `JsBarcode`. Opening a new PR.

[2017-11-21 14:55] #1302 closed

[2017-11-21 14:58] #1294 closed

[2017-11-21 14:59] arr99 commented on #1294
康福中国ID99用户名使用4年了突然掉线在登陆用户名无效

亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在

[2017-11-21 14:59] arr99 commented on #1294
![photo 2017_11_18 20-50-22](https://user-images.githubusercontent.com/23447807/33079073-97c76c12-cf0f-11e7-8338-f20a8f719e9a.jpg)

[2017-11-21 14:59] arr99 commented on #1294
康福中国ID99用户名使用4年了突然掉线在登陆用户名无效

亲爱的康福领导你好。我是之前99马甲的主任康福99马甲我使用了4年我是大概2013.8月分左右使用的我是在康福中国中国区的 经销商那里购买的，1250美金购买的，我使用了4年都没有什么问题，在2016年7月分的一天，我在康福中国一个小房间和交个朋友在唱歌玩，我的99马甲突然掉线我在登陆用户名无效，我就给你们康福联系，你们也帮忙给我找康福99马甲了。我登陆不了但是邮箱还是我的我用邮箱找回密码就发过来消息说邮箱以被拦截，这个事情我把截图也发给你们了。康福每天叫我输密码什么的。说着20天就过去了突然99马甲登陆了是一个30马甲更改的，我就问他99马甲什么情况他说他是康福买的300美金我要喜欢那500美金，你们康福那时间给我的我99马甲没问题，我就没有在和那30更改99人联系了。说着一个月回去了突然我看见99马甲直接登陆了。是一个中国人在

[2017-11-22 14:08] stukalin opened #1307 "Fix stylelint issues"
**Expected behavior:**
No stylelint warnings/errors
**Actual behavior:**
There are warnings like
[code]
**Steps to reproduce:**
run `ember build`
**OS and Browser:**
ubuntu 16.04

[2017-11-22 14:32] rmNyro commented on #1241
Hello, I'm not a participant in the project but I'll try to answer as best as I can.

If you're willing to use the terminal to do your backups (with rsync command for instance) I think the instructions at https://github.com/HospitalRun/hospitalrun-server#db-to-csv should be enough.
In fact what you will want to backup is the database(s) so I guess you can do something like `node utils/db-dump.js h

[2017-11-24 07:45] stukalin commented on #1161
This can be closed now @tangollama @jkleinsc

[2017-11-25 00:30] #1293 closed

[2017-11-27 21:15] #1161 closed

[2017-11-29 14:11] #1307 closed

[2017-11-30 20:00] amad4biz opened #1319 "Cannot login after"
**Expected behavior:**
I followed all the setup and got the login screen but if enter the username and password I get incorrect username and password
**Actual behavior:**
it should log me in
**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**
Windows 10 local server

[2017-12-01 16:27] DerekTBrown commented on #1200
I am not really sure this is something we need to add.  We already have a Docker image, and so any "guide" that would need to exist would be generic to Kubernetes.  For instance, using [kompose](https://github.com/kubernetes/kompose), one can use the `docker-compose.yml` file we already supply to run HospitalRun on Kubernetes with one command.

I would recommend closing.  @jujes if you find compli

[2017-12-01 18:26] DerekTBrown commented on #1176
@tangollama I am taking a look at this now.  It seems that  associating a custom form with a lab (or some other model) would require some changes to the model? Is that fair.

[2017-12-01 18:29] DerekTBrown commented on #1319
More details are needed.  What did you try?

[2017-12-03 20:03] amad4biz commented on #1319
Hi,
here what I did
I installed couchdb in my machine

I then installed the frontend version and run the following ./script/initcouch2.sh which created a user hradmin and password test . but when I launch the application on localhost:4200 I can see the login screen and anytime I enter the username : hradmin and password: test I receive the error "Username or password is incorrect." Please assist

[2017-12-04 19:37] Bikraji commented on #1298
Hi,
Here, you can see that I have Harold as a patient![image](https://user-images.githubusercontent.com/3222434/33572192-387694d8-d958-11e7-9bad-179f44d97ca3.png)

 However when I search it shows no result found as below:
![image](https://user-images.githubusercontent.com/3222434/33572294-7fb8318a-d958-11e7-9fac-44c1908ff017.png)

[2017-12-05 17:32] fekadupgfme opened #1324 "EHR"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2017-12-05 18:27] #1324 closed

[2017-12-06 01:37] aanchan commented on #979
I'm currently working on this issue. I approached it by creating a new route called patientrole.index.

[2017-12-07 15:03] stukalin commented on #1045
@fgiorlando could you please try to repro the bug with the current docker configuration? If that's not the case, I'd suggest @tangollama to close the issue.

[2017-12-07 15:08] epolicardo opened #1325 "New Feature: Communication between professionals"
**Expected behavior:**
When we edit a patient, show a tab communication or professionals like labs, medication and others, where can comunicate to another professional by chat, mail or call/videocall, or maybe group chat room too
That can make a diference when patient's care mathers.

**Actual behavior:**
None
**Steps to reproduce:**
None
**Screenshots (if applicable):**
None
**OS and Browser:**

[2017-12-07 20:47] epolicardo commented on #1325
I have working on this features.
This is my idea:
![captura de pantalla de 2017-12-07 17-43-21](https://user-images.githubusercontent.com/7814653/33737858-54cffd0c-db76-11e7-9f34-953174043e6c.png)
When you select a patient from patients list, a communication tab is showed, selecting it you can see what professional are involved with this patient and communicate directly

[2017-12-07 22:20] epolicardo commented on #1010
@tangollama @jkleinsc I'm not found inv-import.js file under utils folder, or any other folder. Please can help me?

[2017-12-07 22:31] jkleinsc commented on #1010
@epolicardo it is part of the hospitalrun-server project: https://github.com/HospitalRun/hospitalrun-server/blob/master/utils/inv-import.js

[2017-12-08 20:38] jsl15c commented on #1292
@mrhmansour I am unable to replicate this issue.

[2017-12-08 23:49] p-mcgowan commented on #1292
this may be because it expects "name" and not "username"

[2017-12-11 08:36] niinortey commented on #1111
Any headway with this please?

[2017-12-11 13:36] ZiruZanrgeiff commented on #1325
@epolicardo Should I continue from this point?

[2017-12-11 22:47] philayres commented on #990
Has this issue been addressed yet? If not, I agree with displaying using `Date.prototype.toLocaleDateString()` although very carefully. My current project uses this extensively across US and UK locales. I will say that it is worth having acceptance tests cover daylight savings time dates, as I had an unfortunate bug for some time that would display date of birth incorrectly by not handling the hou

[2017-12-12 06:39] peterparkers commented on #1298
it's work well for me

[2017-12-13 15:02] abc985 commented on #1298
I can use it normally.

[2017-12-13 17:36] DarkSoulCool commented on #1298
I can use search box normally. Maybe that's where your files are.

[2017-12-13 17:56] DarkSoulCool commented on #1319
I think Because the project owner some of the demo users were either deleted or had their passwords changed.

[2017-12-13 17:59] DarkSoulCool commented on #1292
If Demo I think Because the project owner changed ID or passwords .

[2017-12-13 18:43] abc985 commented on #988
what version OS and Browser?

[2017-12-13 19:28] abc985 commented on #1162
Why do not you need the NPM time warnings?

[2017-12-13 20:32] amad4biz commented on #1319
how can I recreate a user that has access to this. Please assist if you an idea

[2017-12-14 08:56] phurinaix commented on #1292
It's expect name not username.

[2017-12-14 09:47] phurinaix commented on #1259
Of course, but how to do it if you start translating.

[2017-12-14 09:49] phurinaix commented on #1261
What is the purpose of your issue?

[2017-12-14 10:12] Baimaikp commented on #1298
i can search

[2017-12-14 17:25] epolicardo commented on #1325
@ZiruZanrgeiff You can continue from this point. You can check my github repo to take advantage of my progress...

[2017-12-15 05:49] tangollama commented on #1111
@niinortey, I expect that either @wilsonkasey or @glearner have or are close to a solution?

[2017-12-16 07:31] saumil1 commented on #1298
i have login using bellow detail
hr.hospital.admin@hospitalrun.io
PW: HRt3st12
i have attach video for that please check it
[search_is_not working.mkv.zip](https://github.com/HospitalRun/hospitalrun-frontend/files/1564557/search_is_not.working.mkv.zip)

[2017-12-18 11:11] hasanahmed94 opened #1337 "Can't able to login through by different PC"
**Expected behavior:**
should sign in and show dashboard

**Actual behavior:**
Generating Error:
[Report Only] Refused to load the script 'http://_ipaddress_:7020/livereload.js' because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-inline' 'unsafe-eval' _ipaddress_:7020 0.0.0.0:7020 undefined:7020".

**Steps to reproduce:**
host on node server and try to a

[2017-12-21 20:08] tangollama commented on #1325
@epolicardo this is an interesting idea. I look forward to reviewing the PR.

[2017-12-21 20:10] tangollama commented on #1298
@saumil1 forgive the question, but do you have the elastic search running?

[2017-12-21 20:13] #1241 closed

[2017-12-21 20:13] #1200 closed

[2017-12-28 14:41] matteobiagiola opened #1342 "Reset database end to end functional testing"
Hi, I'm Matteo,

first of all thank you for the great project, it is a very good idea.

Second of all, I'm selecting a certain number of open source applications for the purpose of performing end to end functional testing with them. HospitalRun is documented and very easy to install and these are some of the reasons for which it is appropriate for me.

I have to say that I have no experience with

[2017-12-31 06:30] saumil1 commented on #1298
I have tested it on http://hospitalrun.io/demo/
using bellow access detail
hr.hospital.admin@hospitalrun.io
PW: HRt3st12

i think that the demo site have installed all dependencies
so i have reported it
if your demo site does not have updated or all dependencies installed then you can ignore it
i think i have to provide this information at report time
sorry for that

[2018-01-11 07:29] stukalin opened #1344 "Tests fail after Travis CI update"
**Expected behavior:**
builds are ok

**Actual behavior:**
some tests fail

**Steps to reproduce:**
run Travis build

You probably noticed that our Travis bulds fail after the latest Travis update. Even recommended `deprecated` setting doesn't help. Let's try to fix this.

I've created a PR where I try to use latest Ember blueprints and recommended Travis settings. Some tests still fail there thou

[2018-01-11 10:09] stukalin commented on #1344
Looks like rolling back the `ember-data` helped with the failed tests. Now the PR can be merged and other PRs - rebased.

[2018-01-14 07:43] broerse commented on #1344
Also this seems to be needed temporary until Travis is fixed:

https://github.com/broerse/ember-cli-blog/commit/8d7f612fd39c68c5fefd577d1a97db7f10e5ad56

[2018-01-14 09:39] stukalin commented on #1344
@broerse well, for my PR it works without your change so far, but who knows...

[2018-01-14 10:29] tangollama commented on #1344
I’ll look this over and try to get it merged today.

[2018-01-16 14:25] #1344 closed

[2018-01-17 20:09] amad4biz commented on #1319
I was able to fix this issue. if one experience this. please make sure you install your couch db in the root of the C drive in windows and then run the script it will work as expected

[2018-01-17 20:10] #1319 closed

[2018-01-21 00:43] falexsandro commented on #312
It's my first time on github, if i'm doing something wrong or not in right place, please give some orientation that i'll make it right.

Preparing to test and understand a little about HR, i got this situation, when i was preparing to run the application and them found this issue.
@nzidol made a good work and was based on theirs, that i've got an ideia.
Looking to the scripts and environment, i wa

[2018-01-21 01:41] nzidol commented on #312
@falexsandro Have a look here https://github.com/nzidol/hospitalrun-frontend/tree/resolve%23312/script most scripts are there, just needs a lot of testing..... and anything can be done on nodejs!!!!
Just having an incredible summer down here so not spending a lot of time behind a PC....

[2018-01-24 08:43] docbby opened #1350 "Unable To Delete Inventory Items"
**Expected behavior:** When Item is deleted it should not reappear

**Actual behavior:**
Item is deleted it does not disappear

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2018-01-25 16:20] ben-muldrow commented on #1245
@tangollama Starting to work on this as my first task in HospitalRun.

[2018-01-25 16:33] ben-muldrow commented on #1245
@BogdanAlexandru One alternative to flags would be ISO 639-1 language codes. For instance
[code]
etc. Those are culture-independent and language-specific.

Furthermore, very tiny potential issue but it might not be intuitive where one can go to change the language if stuck in a language they don't know. The image referenced by BogdanAlexandru at the bottom of this post illustrates this nicely. If

[2018-01-29 05:11] natbityou commented on #312
FYI - I ran into this problem and I was able to solve it by editing package.json to use `bash script/server` (note the lack of the `./`). This works running `npm start` using git bash on windows 10.

[2018-01-29 13:17] morrismusumi opened #1355 "Billing Features"
**Expected behavior:**

**Actual behavior:**
Company Logo and info does not appear on Invoice

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2018-01-29 13:20] morrismusumi opened #1356 "Reporting feature for billing and invoices"
**Expected behavior:**

**Actual behavior:**
No reporting feature in Billing

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2018-02-08 19:33] jbryson3 commented on #1159
I do not get this warning on MacOS with npm 5.5.1 (node 8.9.3)

The only warning I see is:
```npm WARN The package electron-protocol-serve is included as both a dev and production dependency.```

[2018-02-08 19:58] jbryson3 opened #1363 "Cannot get to https://beta.hospitalrun.io/"
**Expected behavior:**
I expect to be able to get to the site https://beta.hospitalrun.io/ as referenced in the documentation (http://hospitalrun.io/demo/)

**Actual behavior:**
I cannot get to the website - connection refused

**Steps to reproduce:**
go to https://beta.hospitalrun.io/

**Screenshots (if applicable):**
<img src="https://user-images.githubusercontent.com/675098/35995035-35bdcca0-0c

[2018-02-10 15:25] stukalin commented on #1156
Could be useful. Things which are to be migrated
- [ ] JsBarcode
- [ ] bootstrap
- [ ] filer.js
- [ ] idb.filesystem
- [ ] octicons
- [ ] pikaday
- [ ] typeahead.js
- [ ] pouchdb-load
- [ ] pretender
- [ ] fullcalendar
- [ ] fullcalendar-scheduler
- [ ] timekeeper
- [ ] webrtc-adapter

[2018-02-10 15:34] stukalin opened #1365 "Update ember and ember-data to the latest versions (goal is at least v2@latest)"
Let's move our ember and be prepared for the v3, which is in beta now. The latest version is 2.18 at the moment of writing. Whoever picks it please use the [deprecation guide](https://www.emberjs.com/deprecations/) and get rid of all the deprecation messages occured

[2018-02-10 15:43] stukalin opened #1366 "Move 'navigation' to a component in order to fix the deprecation"
**Expected behavior:**
No deprecation warning

**Actual behavior:**
There is a warning

**Steps to reproduce:**
Run `ember test` for instance

[2018-02-10 21:32] jkleinsc commented on #1363
@jbryson3 thanks for reporting this.  The issue has been identified and the site is now back up.

[2018-02-10 21:32] #1363 closed

[2018-02-11 16:11] James-Byrne commented on #1366
I can have a go at this if its available

[2018-02-11 16:27] stukalin commented on #1366
It's available. Please, feel free to take

11 февр. 2018 г. 5:11 ПП пользователь "James Byrne" <
notifications@github.com> написал:

[2018-02-14 09:22] stukalin opened #1369 "Replace ember-select-list with em-select"
The `ember-select-list` (https://github.com/begedin/ember-select-list) was last modified in 2015. We use another library - `ember-rapid-forms` which has select helper as well (http://piceatech.github.io/ember-rapid-forms/#/controls/select). So I believe `ember-select-list` could be removed completely in favor of rapid-forms.

Additionally we'll get rid of a deprecation message `ember-views.did-ini

[2018-02-14 09:37] stukalin opened #1370 "Fix deprecations from deprecation-workflow (and probably remove it at all)"
We have a plugin `ember-cli-deprecation-workflow` which allows us to hide some deprecation messages. However if we want to be able to update Ember to the v3 we'd better fix those deprecations.

Some of them are brought the project dependencies, so if there aren't new version of those dependencies let's at least identify them at list them down.

If all deprecations will be fixed I suggest removing

[2018-02-15 00:25] alexanderbrown21 commented on #1365
Looking at the ember.js deprecation guide which is fairly short, it specifies that propertyDoChange and propertyWillChange will have to be replaced with notifyPropertyChange. When grepping all files in the application it appears that only one file will have to be changed which is vendor-d8042eae6c7c66..js found in /prod/assets. Is this autogenerated code because of how its written? If so, would ha

[2018-02-15 07:55] stukalin commented on #1365
@alexanderbrown21 firstly we need to update it to v2@latest. And I believe we'd face a plenty of deprecations on that path. If it'd be possible to make it v3 right afterwards - even better.

`vendor-whatever` is surely an autogenerated code. The application code is in `/app/`. But I'd alse have a look at the `node_modules` which can give you deprecations as well (see #1369) for instance.

[2018-02-15 14:31] stukalin commented on #1176
Well that's an interesting one. I've started with custom form, it turned out that they do not work, so I tried to fix them etc. etc. And now when I've finally got working custom forms for labs I am stuck with the OPD report itself.

The thing is that when we generate a report we have the following code:
[code]
which, as it's expected just prints out a list of texts:

![bildschirmfoto vom 2018-02-1

[2018-02-16 02:47] FrankieDickinson commented on #1370
I will attempt to fix this. First time contributor.

[2018-02-16 23:19] natbityou commented on #496
FYI @tangollama I am currently working on a fix for this issue that builds on the feedback in Eric-Arellano's PR; I will have a new PR ready soon.

[2018-02-18 22:14] natbityou commented on #496
@tangollama here's a [PR](https://github.com/HospitalRun/hospitalrun-frontend/pull/1374) to resolve this issue. What do you think?

[2018-02-19 00:50] tangollama commented on #1370
Thx.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2018-02-19 15:58] stukalin commented on #115
I've created a draft of analytics feature with GA. Please, have a look at the PR, @tangollama, @jglovier. We can think of a proper analytics strategy right there or just leave it as it is and turn back to that once we feel the real need of it. Anyways we'd need the GA ID.

[2018-02-19 17:48] #496 closed

[2018-02-19 19:20] tangollama commented on #1176
@stukalin yes. That does seem to make sense. Go for it.

[2018-02-22 13:36] internets commented on #1370
@stukalin I've been doing a lot of 2.18 updates for 2.x ember apps lately, I'd like to take this on. Ultimately I'd like to take on #1365 as well, but doing this first should make the PRs more manageable. Would you be open to marking #1365 as in progress as well to prevent some potentially ugly merge scenarios?

It looks like #1369 and #1366 are in progress and will be addressing some aspects of t

[2018-02-22 13:53] stukalin commented on #1370
@internets thanks for taking this over. I marked these issues as `in progress`. Dunno why I can't assign them on you.

[2018-02-22 14:03] stukalin commented on #1350
@docbby I tried to repro this and I couldn't. Could you please double check that and maybe provide more context (steps, OS, browser etc.)?

[2018-02-22 14:04] stukalin commented on #1350
I put the label on it until we clarify the details

[2018-02-22 15:00] stukalin commented on #1158
I've submitted a new PR to the dependency: https://github.com/sh-waqar/stylelint-declaration-use-variable/pull/23.
If the author is still there we'd get our fix soon.

[2018-02-22 15:46] internets commented on #1370
No problem, happy to contribute!

I believe you can't assign them to me because github requires me to have push access to the repo. Not a popular limitation :) The ```in progress``` label should be enough, thanks!

[2018-02-23 18:31] #312 closed

[2018-02-24 08:01] #1158 closed

[2018-02-24 18:46] LOKANADHAN commented on #953
Name or password is incorrect. in Project Fauxton

[2018-02-24 18:47] LOKANADHAN commented on #953
Username: hradmin and password: test

[2018-02-24 19:13] stukalin commented on #988
@aravindGear4 you haven't put the logs from the HR container, but there is a chance that my fix will suit for your problem as well.

[2018-02-25 11:14] stukalin commented on #1042
@swekshajha12 I'd close this issue since it lacks the details. If you're still facing it, please reopen.

[2018-02-25 11:14] #1042 closed

[2018-02-25 14:55] #988 closed

[2018-02-26 13:39] stukalin commented on #1292
@mrhmansour are you still able to repro this? Any other input would be appreciable. I'll put a label until we clarify that

[2018-02-26 13:43] stukalin commented on #1289
@BogdanAlexandru I agree. Actually the script didn't work for me even under Linux. Now, since the phantom is gone, your suggestion does make sense even more. Would you make a pull request or should put a _help wanted_?

[2018-02-26 14:02] stukalin commented on #1138
@thai510 did you have a chance to have a look on that? @djstark do you still need help with the issue? Would you be able to finish that?

[2018-02-26 19:15] BogdanAlexandru commented on #1289
@stukalin
A help wanted would be a good idea, it's been a while since I last built the project and I'm not up to date with the new stuff like phantomjs' removal.

[2018-02-26 21:59] alexanderbrown21 commented on #1370
@internets feel free to work on #1365 :). It's worth someone with experience of doing existing migration to touch. i'm afraid don't have much free time as can at the moment.

[2018-02-27 20:58] internets commented on #1370
@alexanderbrown21 thanks!

@stukalin I've made some progress which can be viewed here: https://github.com/HospitalRun/hospitalrun-frontend/compare/master...internets:1370

Before I open a PR I wanted to go over some notes and questions.

### ember-getowner-polyfill.import

As expected this was purely package updates. There is one stubborn package, ember-validations. As you're probably aware, ember

[2018-02-28 08:38] stukalin commented on #1370
@internets wow, that's impressive amount of research! My comments are below.

I'd say let's go with this `ember-cp-validations`. Looks like it's being actively maintained. Let's maybe create a separate task for that? There we can do a small research if the library completely suits our needs.

I went to the base repo just to have a look around and found out, that the owner did a new release v2.1.0

[2018-02-28 08:45] stukalin commented on #1370
Well, yarn can't work with schrinkwrap. Then.... well.. we could go completely to yarn. Especially if this could help somehow migrate away from bower. That means for sure, we'd need to change that everywhere: travis, docker images etc. But this is a matter of a separate discussion.

[2018-02-28 15:32] internets opened #1382 "Replace ember-validations"
```ember-validations``` is no longer under active development, and has become a blocker for completion of #1370 (ember-getowner-polyfill.import deprecation). There's a PR that's over a year old that is unlikely to ever be accepted: DockYard/ember-validations#442.

The way I see it there are two options: fork or replace.

If fork, it's possible that forking and cherry-picking the commit from that P

[2018-02-28 15:39] internets commented on #1370
@stukalin I shouldn't have mentioned package-lock.json other than to say that I wouldn't be updating it since I use yarn when given the option :) I do think that picking either yarn or one version of npm will greatly help new developers get up to speed and ensure that there aren't version skew issues, so if you'd like me to open an issue or want to open one yourself I think that would be great!

I

[2018-02-28 16:04] broerse commented on #1382
@martndemus can you comment on what state `ember-validations` is in. Is it on the DockYard roadmap to update it to Ember 3.0?

[2018-02-28 17:40] martndemus commented on #1382
We are not planning to do anything about ember-validations.

[2018-03-01 08:21] stukalin commented on #1370
@internets thanks for the PR, I'll try to review it soon-ish. As for the package managers problem, I believe so far we can keep both lock files side by side. I'll fire an issue then.

[2018-03-02 16:00] stukalin commented on #1355
@morrismusumi do you mean by _Logo_ the same as here #260 ? What do you mean by info? Could you please add more info please?

[2018-03-03 14:46] #1289 closed

[2018-03-05 15:25] #1176 closed

[2018-03-06 15:40] morsh commented on #1247
Is this one still open for grabs?

[2018-03-06 16:00] KenyanGeek commented on #1176
@stukalin sorry for the late response. This seems to be what i envisioned....If so this is great and excellent work......i'll go ahead and test it. But yes it does business sense as some patients come in only for lab tests and hence it would make sense to have them carry their OPD reports from the lab for whatever reason they want.

[2018-03-06 18:03] tangollama commented on #1247
Yes.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2018-03-07 09:29] MatthewDorner opened #1391 "initcouch2.sh doesn't set to single-node, other issues"
Hello, I think I'm having an issue with the initcouch2.sh script. It's the same whether I start by installing CouchDB 2.1.1 with apt-get, or use a docker image via "docker pull apache/couchdb:2.1.1". I get this output if I run the script:
![output using default script](https://user-images.githubusercontent.com/36939751/37083993-de4ee1b6-21b6-11e8-914b-8ec3b4534627.png)

It appears the script wants

[2018-03-07 11:46] morsh commented on #1247
@tangollama - added Hebrew translation (#1389), added 'rtl' attribute to urdu (#1388) and added support for RTL layout/style (#1388).

[2018-03-07 21:39] falexsandro commented on #1391
@MatthewDorner Hi, Matthew. After the modifications that you did to the script, you got the application running ?

[2018-03-07 22:11] MatthewDorner commented on #1391
I've only just begun looking at the application so I can't say comprehensively that it's "working" but I get CouchDB installed now and I don't get any CouchDB login error when launching "npm start" the way I would before. Is there a test suite I can run for CouchDB functionality or anything?

[2018-03-09 02:26] falexsandro commented on #1391
It's a good thing!
There is a set of test scripts, that is more comprehensive, that can be run.
I believe that is triggered by calling `ember test`.

[2018-03-09 02:43] #1247 closed

[2018-03-09 16:29] tangollama commented on #1166
@garylm the changes that @stukalin implemented should resolve this issue. Please verify and close this issue if so.

[2018-03-09 16:44] stukalin commented on #1166
At least some of them;)

[2018-03-12 14:13] stukalin commented on #1366
@James-Byrne any luck with the issue?

[2018-03-13 15:07] stukalin commented on #1369
@ben-muldrow any luck with the issue?

[2018-03-14 05:16] msalahz commented on #1366
Hi, I'm available to take care of this, Is this in progress or I can take it ?

[2018-03-14 05:16] msalahz commented on #1369
Hi, I'm available to take care of this, Is this in progress or I can take it ?

[2018-03-14 08:38] James-Byrne commented on #1366
Hey sorry for the delay in replying, I got side tracked while working on it. @msalahz if you want to take it up go ahead.

[2018-03-14 08:53] msalahz commented on #1366
Got it, Thanks @James-Byrne.
@tangollama: I'm taking over this issue.

[2018-03-14 15:59] ben-muldrow commented on #1369
@stukalin Still hammering away! Been swamped lately -- going to try to finish by the start of next week.

[2018-03-15 09:27] #1045 closed

[2018-03-18 14:36] baldyjohnmichael commented on #1159
Mind if I work on this?

[2018-03-18 15:48] baoqchau commented on #1159
@baldyjohnmichael go ahead

[2018-03-19 06:39] msalahz commented on #1366
Hi @tangollama , @stukalin , Sorry I will not be able to complete this task because I got a new job that made me very busy.
The work done on this task can be found [here](https://github.com/msalahz/hospitalrun-frontend/commits/1366-render-deprecation) in case anyone want to start from what I got done instead of starting from scratch.
Look forward to get back to you soon.

[2018-03-19 08:37] stukalin commented on #1159
@baldyjohnmichael sure you can take over this issue. However, the problem is (sorry if I say obvious things here) that you need to go down the dependency tree and replace `jade` in the `electron-compilers`. Actually there are a couple of PRs there, but they were not merged. If you were able to push them, you'd have the issue half-done.
https://github.com/electron-userland/electron-compilers/pull/3

[2018-03-19 23:00] MatthewDorner commented on #1366
Hey. I've been looking at this and made some progress, but I'm still learning the framework so I'm not too confident about it yet. I will look at your code though, and compare with what I have.

[2018-03-20 09:17] stukalin commented on #1382
Well, it seems to be a large piece of work, migrating it. I've started the new branch but the process is not so straightforward. See https://github.com/HospitalRun/hospitalrun-frontend/compare/ember-validations?expand=1

The most important problems are:
- having all validations to be transferred correctly. It is not clear copy-paste unfortunately even though some settings in both libs match
- cond

[2018-03-20 14:10] stukalin commented on #1366
@msalahz @MatthewDorner I think I've finished the issue. See the attached PR and don't hesitate to review.

[2018-03-20 14:11] stukalin commented on #1366
Oh, @msalahz , would you mind to sign the CLA? https://github.com/HospitalRun/hospitalrun-frontend/pull/1397#issuecomment-374610817

[2018-03-20 14:15] msalahz commented on #1366
Done @stukalin , Thank you for completing my work.

[2018-03-21 23:35] #1366 closed

[2018-03-24 17:25] MatthewDorner commented on #1391
Yes, the tests do pass.

[2018-03-25 16:49] MatthewDorner commented on #1162
This may be fixed if #1159 is fixed, since transformers is only required by jade:
 `├─┬ electron-prebuilt-compile@1.8.4
│ ├─┬ electron-compilers@5.9.0
│ │ ├─┬ jade@1.11.0
│ │ │ ├─┬ transformers@2.1.0`

[2018-03-25 18:03] MatthewDorner commented on #1391
here are changes I made to my copy: [comparison](https://github.com/MatthewDorner/hospitalrun-frontend/compare/master...MatthewDorner:fix-initcouch2-script?diff=unified&name=fix-initcouch2-script)

[2018-03-26 17:20] FalkF opened #1401 "Highlight current subroute in `sidebar-nav`"
I might have found my personal `good first issue` here :)

While familiarizing myself with the app, I missed highlighting of the active subroute in the `sidebar-nav`.
I'm thinking of icon indentation and color, similar to the hoover effect.

I would like to make a PR if anyone agrees.

**Screenshots:**
on route `patients/admitted`
![hr-highlighting1](https://user-images.githubusercontent.com/19377

[2018-03-27 03:44] MatthewDorner commented on #1157
Due to updates since @nzidol's writeup, the only place I still see node-uuid is:
hospitalrun-dblisteners@1.0.0-beta > follow@0.12.1 > request@2.55.0 > node-uuid@1.4.8.

But the current version of follow still uses request@2.55.0. There is a [PR to update this since Dec.](https://github.com/jhs/follow/pull/1)

[2018-04-01 22:44] #1401 closed

[2018-04-02 01:26] #1365 closed

[2018-04-02 02:57] LabN36 opened #1409 "hospitalrun demo is too slow"
**Expected behavior:**

**Actual behavior:**
this is my first time I'm trying this application(apologies if i missed anything) but it seems very slow to me, can anyone guide me why is that? is it because of it's on the demo version or deployed in small resource server?

from my experience it's taking way more than and average software took time to load and process

**Steps to reproduce:**
just log

[2018-04-02 21:19] dhavala opened #1410 "BSD or MIT license"
Any thoughts on moving to a more permissive licenses such as MIT or BSD as opposed to GVP v3.

[2018-04-03 04:04] MatthewDorner opened #1411 ""Incident" displays search field but search doesn't work"
**Expected behavior:**
Search control is not shown for pages that don't have search capability.

**Actual behavior:**
"Incident" shows the search field, but if you try to search it just hangs on the search dialog.

**Steps to reproduce:**
Log in as someone with access to "Incident".
Click "Incident" on the nav sidebar.
Observe that the search control is visible at the top of the nav sidebar.
Enter

[2018-04-04 08:08] stukalin commented on #6
@jglovier @tangollama @jkleinsc I started working on this issue. Which email transport should we use? I've had an old sendgrid acc, will use it so far for testing purposes. Does HR have some SMTP already or can we setup sendgrid or smt similar?

[2018-04-04 12:28] efx commented on #1369
bumping the issue as I'm looking to contribute.
@ben-muldrow could you link your branch of what you have so far?

[2018-04-04 12:36] efx commented on #1163
To nzidol's point, this is a sub-sub module dependency that we'll need to resolve by bumping electron-forge it seems:
[code]

[2018-04-04 12:53] stukalin commented on #1370
This issue will be resolved once #1382 and #1369 are fixed. Hence, I'll take away the `in progress` label for the time being.

[2018-04-04 13:01] stukalin commented on #6
Oh, wait, bullshit. There should be something more clever since we are not able to share a single api key among all our users... Some kind of SMTP transport configuration each user can configure on their own. Will think about that....

[2018-04-04 16:41] jkleinsc commented on #6
@stukalin yeah, I would make it configurable.

[2018-04-04 17:11] ben-muldrow commented on #1369
@efx Sure thing! Sorry it's taking so long, I got stuck on one of the instances. Would love to go over it with you if you have time. Here's my branch with progress so far https://github.com/ben-muldrow/hospitalrun-frontend/tree/ember-select-list-deprecation

[2018-04-04 18:31] efx commented on #1369
Sweet, no problem at all. Fixing deprecations in ember apps can be quite grueling. I'll peek through that branch later today or tomorow. Perhaps sometime in the next couple weeks we could connect over Hospital Run's slack if you want to go over it together.

[2018-04-04 20:32] jpeterson88 commented on #388
Hey there, just bumping this to see where it currently stands @jglovier

[2018-04-04 20:46] jpeterson88 commented on #722
I'll pick this one up since it looks like no one is work

[2018-04-05 06:28] MatthewDorner commented on #1369
I'd be able to join the discussion as well. I looked at it a little bit before.

[2018-04-05 12:00] efx opened #1413 "bump ember-sinon-qunit to latest"
~~I'm going to fix the tests failing here: https://github.com/HospitalRun/hospitalrun-frontend/pull/1314~~
I had thought these tests still failed, but they seem to have been fixed. Bumping the dependency anyway to remove the ember-cli-babel deprecation warning when running ember build related commands.
**Expected behavior:**
All tests should pass.
**Actual behavior:**
A few tests fail. Such as:
ht

[2018-04-05 21:16] #1413 closed

[2018-04-06 08:24] bkbu1024 commented on #1076
I have started to write the Page and shall continue my efforts

https://en.wikipedia.org/wiki/Draft:HospitalRun

[2018-04-06 20:45] jpeterson88 commented on #388
Sweet. Yeah I'd love to take a stab at this. I see there is a discussion of using Heaven. I'll start digging into documentation this weekend. Any additional info the team has would be much appreciated. Assuming I'll need credentials or whatever to where the site is hosted, who should I reach out to @jglovier ?

[2018-04-10 12:06] stukalin commented on #6
@jglovier I double-checked and I think we still go with `nodemailer` and its default SMTP transport. Even if someone wants to use Send Grid or Mandrill or whatever, these services provide SMTP settings (at least these 2 do). So we should cover the majority of scenarios.

[2018-04-10 20:03] MatthewDorner commented on #1369
@efx @ben-muldrow Any updates on this? I started on it myself and got it replaced on all instances and working, just need to clean up a little then I'll post my code. I'd like to discuss it though.

[2018-04-10 20:45] MatthewDorner commented on #1369
ok, I started a conversation on there

[2018-04-12 21:18] efx commented on #1369
We are actively working on this in this branch: https://github.com/MatthewDorner/hospitalrun-frontend/tree/em-select-squashed. I'll be giving PR reviews on those changes until we can open a single squashed PR against Hospital Run master.

[2018-04-19 11:42] nunojesus opened #1420 "Logo Design"
Hello, I would like to design a logo for your project. Do you have something on your mind for your logo? I can give some ideas if you are interested?
Can you tell me more about your project?
Greetings
Nuno

[2018-04-20 16:38] 00GeekInside00 commented on #1410
I would rather going with MIT license

[2018-04-27 11:13] #1420 closed

[2018-04-27 12:11] greenkeeper[bot] opened #1423 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-30 21:30] drakemedic commented on #1325
This would be a great feature. The epr I use just now has a task function where you can communicate with other users of the system within a patient's record. I'm sure it's quite a lot of work though.

[2018-05-08 08:13] ashokaditya commented on #1292
Hi @stukalin

I see login name and password do not exist when trying to log in to the demo site at [login](https://beta.hospitalrun.io/#/login). using the credentials listed here [demo](http://hospitalrun.io/demo/)

Screenshots of login and server response:

<img width="539" alt="screen shot 2018-05-08 at 10 10 16" src="https://user-images.githubusercontent.com/1849116/39745620-0e1437da-52a8-11e8-

[2018-05-08 13:44] jsl15c commented on #1292
@ashokaditya  I think the request is taking too long or the client is cancelling the request before the server has time to respond.  So the credentials should work if this wasn't the case with the server.

Someone please correct me if this is an incorrect observation.

[2018-05-09 13:03] ashokaditya commented on #1292
@jsl15c I don't understand why would the client cancel the request? I see the response "says socket hang up" and another "config/" that doesn't load up on page load.

<img width="2560" alt="screen shot 2018-05-09 at 15 01 17" src="https://user-images.githubusercontent.com/1849116/39815990-22d5ae36-539a-11e8-92bc-2b2d7b5e2fa0.png">

<img width="1208" alt="screen shot 2018-05-09 at 15 00 28" src="ht

[2018-05-12 01:59] #1369 closed

[2018-05-12 11:03] drakemedic opened #1429 "Adding New Note in history fails"
**Expected behavior:** Adding patient history results in the history being visible and accessible through the patient record.

**Actual behavior:** Adding history fails to update the record. New note is not added to the record.

**Steps to reproduce:** Select a current patient, select history tab and +New Note, type in history, click add, refresh page

**Screenshots (if applicable):**

**OS and Br

[2018-05-13 12:43] davidackroyd99 commented on #1245
I can work on the flag/language drop down if that's what's required

[2018-05-14 03:51] MatthewDorner opened #1431 "Inventory "total quantity" error appears incorrectly."
**Steps to reproduce:**
- Add a new inventory item.
- Add an additional purchase for the item. Observe an error like this in pink:
![inventory](https://user-images.githubusercontent.com/36939751/39976620-5fdb0d9a-56fa-11e8-8b11-0adcafadc395.png)

**Expected behavior:**
Not sure. Is it trying to say "Please put these newly-purchased items into a Location"? If so, the numbers in the message are inco

[2018-05-14 16:10] drakemedic commented on #1429
This may be a misunderstanding on my part about how the history tab should function. The notes are in fact added, but you need to open the event in the history and then look under notes. I interpreted "History" as medical history.

[2018-05-14 20:20] MatthewDorner commented on #1429
Yeah, but there are some pieces of information that, if present, will be summarized on the History tab with the visit.
![visit summary](https://user-images.githubusercontent.com/36939751/40021337-21174a52-578a-11e8-9822-79fdf91f89bb.png)
Do you think it would be preferable to have the note show along with this information? It seems like it might be, if the Note is important enough to put that "New

[2018-05-15 08:35] davidackroyd99 commented on #1431
will have a look later on today and see if I can reproduce. Nice description of the problem though.

[2018-05-18 00:32] nzidol opened #1436 "Implement search function for "Incident""
As per issue #1411 search functionality is missing for incidents, the search field has been turned off in route.js for now.

[2018-05-18 00:46] nzidol opened #1437 "Invoices and Pricing do not use translations file"
Steps to reproduce: review pricing/route.js and invoices/route.js, strings are hard coded. There is a section in the translations file for "billing" but the required strings are missing.

[2018-05-18 11:43] rmrlangford commented on #216
Hi,

Please see error below when trying to login using the supplied credentials.

{message: "socket hang up",…}

https://beta.hospitalrun.io/#/login

Please can you investigate?

Thanks

[2018-05-19 02:46] nzidol commented on #1074
https://www.electron.build/multi-platform-build provides link to an example [travis ](https://github.com/develar/onshape-desktop-shell/blob/master/.travis.yml)job to build all platform versions....

[2018-05-20 07:03] MatthewDorner opened #1438 "Search returns wrong type of records."
**Expected behavior:**
Patient search returns patients, Inventory search returns inventory items, etc.

**Actual behavior:**
Searches return incorrect record types.

Although not exhaustively tested, I found:
- Inventory: returns wrong type of records in addition to expected records
- Patient: returns wrong type of records in addition to expected records
- Medication: returns expected records
- Bi

[2018-05-20 07:40] MatthewDorner opened #1439 "Deleting visit breaks any associated invoice to that visit"
**Expected behavior:**
Not sure.

**Actual behavior:**
Similar to #383. If you add an invoice, you must associate a visit to the invoice. If you then delete that visit, any listing at /invoices that would have included your invoice just won't render. You will get this error:
![invoice visit relationship error](https://user-images.githubusercontent.com/36939751/40276650-41d4dea4-5bd5-11e8-9723-cb84

[2018-05-20 07:56] MatthewDorner commented on #1439
Oh, this also happens when you delete the "blank" location from an inventory item. By "blank" location, I mean the one that has no name that all your items go to when you first add / purchase them. Here, the solution may just be to not let you delete that location.
![location relationship](https://user-images.githubusercontent.com/36939751/40276822-61211bac-5bd9-11e8-8eff-528ca48d4fcb.png)

[2018-05-21 02:47] MatthewDorner opened #1440 "Invoice computed properties not updating."
**Expected behavior:**
Various totals and calculated values on "Edit Invoice" page are correct and update instantly as user changes info.

**Actual behavior:**
A, G, C: Update as expected whenever you change the quantity or price of a line item.
B, H: Only update if you refresh the browser and then view the invoice again.
D, E, F: Show zero no matter what.

![invoice calculations](https://user-ima

[2018-05-24 20:33] #1440 closed

[2018-05-25 14:43] tangollama commented on #216
Looking into it.

On Fri, May 18, 2018 at 4:43 AM, rmrlangford <notifications@github.com>
wrote:

[2018-05-26 17:19] grahamperrin opened #1443 "Demo, beta.hospitalrun.io login 'Username or password is incorrect.'"
Credentials at http://hospitalrun.io/demo/ include:

For those credentials at https://beta.hospitalrun.io/#/login the result is:

Duplicate of #1292 maybe?

[2018-05-30 00:25] drakemedic opened #1444 "Cannot add Imaging Pricing Types manually"
**Expected behavior:** Edit Lookup Lists, select Imaging Pricing types, add pricing type

**Actual behavior:** No option to add a pricing type is available, only file upload.

**Steps to reproduce:** Select Lookup lists from Admin menu, go to Imaging Pricing Types, try to add new pricing type

**Screenshots (if applicable):**
![screenshot from 2018-05-30 01-21-21](https://user-images.githubusercon

[2018-05-30 21:51] aalmangour opened #1445 "The demo is not working"
**Expected behavior:**
Login Successful
**Actual behavior:**
Login failed with a message saying website is offline
**Steps to reproduce:**
Try to login with any user
**Screenshots (if applicable):**

**OS and Browser:**
Any

[2018-05-30 23:31] tangollama commented on #1445
We know. I’m working on it.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2018-06-10 23:56] SDBowen commented on #1437
Can I help out with this issue?

@tangollama

[2018-06-11 07:16] MatthewDorner commented on #1429
Looked into this some more, it does save the patient-note record and saves it with Visit B's GUID in the 'visit' field, it just doesn't also update the Visit B record so that its 'patientNotes' field will have the new note's GUID. And that's apparently because the active Visit controller still has Visit A as its model, and the afterUpdate method in patient/notes/controller.js goes to the visit con

[2018-06-14 20:47] MatthewDorner commented on #1438
Started looking at this. I think it is the same issue here: https://github.com/pouchdb-community/ember-pouch/issues/168

There was some attempt to fix it but got reverted: https://github.com/pouchdb-community/ember-pouch/pull/194

But seems to work if I use the same solution as in 168 above:
https://github.com/HospitalRun/hospitalrun-frontend/compare/master...MatthewDorner:search-results

[2018-06-17 14:19] stukalin commented on #1157
The PR in `follow` has been merged. Time to update other dependencies

[2018-06-19 03:01] nzidol commented on #1157
Looks like the updated hospitalrun-dblisteners has not yet been published to npmjs.com, may need to assign new version number? (1.0.0-beta2?)
Updating package.json with "hospitalrun-dblisteners": "https://github.com/HospitalRun/hospitalrun-dblisteners.git" resolves this issue but is probably not preferred solution....

[2018-06-20 00:33] nzidol commented on #1157
Also added this one to dblistners [issues](https://github.com/HospitalRun/hospitalrun-dblisteners/issues/8)
`warning hospitalrun-dblisteners > snyk > proxy-agent > socks-proxy-agent > socks@1.1.10: If using 2.x branc, please upgrade to at least 2.1.6 to avoid a serious bug with socket data flow and an import issue introduced in 2.1.0`

[2018-06-23 11:43] #1429 closed

[2018-06-29 18:31] evandropj opened #1452 "Persisting Data To Couch When Notifications Are Disabled"
I installed the hospitalrun-frontend, but the data is not staying saving when I restart the server.
Anyone know how can I solve this trouble?

[2018-07-02 02:59] MatthewDorner commented on #1452
You're just running frontend? If your frontend can't communicate with your database, data is stored in your browser storage until it can connect again and sync. Is it possible your browser cache was cleared? You can also make sure your database is running by going to http://localhost:5984/_utils and make sure you see the database admin panel there.

[2018-07-05 00:33] evandropj commented on #1452
Yes, my database is running, but I believe that the data stay storage only in cache, because when I restart the server the data is cleaning.

[2018-07-05 00:56] MatthewDorner commented on #1452
You should be able to see the data records in the database admin panel, by logging in with the default user:couchadmin pass:test. If it's erasing from there, it's something with your database. Are you using a docker couchdb setup or regular setup, and which couchdb version? Also if you want to join the Slack at https://hospitalrun.slack.com I can look at it with you over a screen sharing session.

[2018-07-06 21:55] evandropj commented on #1452
Yes, I can see the data records in the database and it is stay there when I restart the server, but I'm not able to see the same data in the front-end when I restart the server.
I'm using couchDB 1.6 and regular setup.

[2018-07-06 22:14] MatthewDorner commented on #1452
Any errors in your browser's javascript console when you log in to hospitalrun or shortly after?

[2018-07-08 20:12] omneina opened #1454 "Add Arabic Language translation."
Consider adding Arabic language translation.
I will be interested to assist in translation (English :arrow_right:  Arabic).

Thanks

[2018-07-17 14:47] #1438 closed

[2018-07-18 10:53] Lily418 opened #1457 "Translation Synchronization script adds empty strings when no translation is avaliable"
**Expected behavior:**
When no translation is avaliable there should be a fallback language used. It should also be easy for contributors to see what requires translation.

**Actual behavior:**
The localisation is filled with an empty string which makes the interface difficult to interact with.

**Steps to reproduce:**
Change language to Russian, observe that many interface items have empty labels

[2018-07-18 10:54] Lily418 commented on #1457
This is related to my question and following conversation in Slack
https://hospitalrun.slack.com/archives/C02BT7ZBK/p1531844699000469

I'm going to investigate possible solutions to this issue this morning.

[2018-07-18 13:50] donaldwasserman commented on #1382
@stukalin - What would be the best approach to forking this? Should someone who have repository creation permissions fork it to the Hospital Run Repo? It's probably better than running it off someone's personal fork.

[2018-07-18 14:12] stukalin commented on #1382
That'd be the best option. I don't have sufficient right, I've just verified that. @jglovier, could you help forking the https://github.com/DockYard/ember-validations to our repo?

[2018-07-18 14:19] stukalin commented on #1444
Hmm.. there was an issue #877 and the commit https://github.com/HospitalRun/hospitalrun-frontend/commit/aa09e64951859592804ff541e31dda5b2b058ada fixing that. I don't know any more

[2018-07-18 22:19] MatthewDorner commented on #1444
yes, it looks like aa90e64 was intended to stop you from deleting default items, but also made it impossible to add items. so I guess we'd need to differentiate between default and non-default items.

Also what browser did you take that screenshot with? Mine has the checkboxes positioned differently different in Chrome and Firefox:
![imaging_pricing_types](https://user-images.githubusercontent.com

[2018-07-19 05:04] JSFonta opened #1459 "Impossible login first time"
**Expected behavior:**
Log with "hradmin" and "test" the first time I use HospitalRun

**Actual behavior:**
Get this answer : "Username or password is incorrect."

**Steps to reproduce:**
(NodeJS 8.11.3 x64 Windows, CouchDB 1.7.1)
Follow exactly that : https://github.com/HospitalRun/hospitalrun-frontend#installation

**Screenshots (if applicable):**
![image](https://user-images.githubusercontent.c

[2018-07-19 05:10] MatthewDorner commented on #1459
Were you able to run initcouch.sh during the setup?

[2018-07-19 05:30] MatthewDorner commented on #1444
huh, seems more complicated than I thought. should read #1139 as well.

[2018-07-19 05:36] JSFonta commented on #1459
It runs, but an error occured at the end :

`Add hradmin user for use in HospitalRun
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1624  100  1499  100   125   4570    381 --:--:-- --:--:-- --:--:--  4951{"error":"EXIT","reason":"{{badmatch,\n     {error,\n         {enoent,\n

[2018-07-19 06:07] MatthewDorner commented on #1459
aha, that's probably it. I'm not familiar with that error but it looks close to this: https://github.com/apache/couchdb/issues/991 so you can try the workaround shown there.

[2018-07-19 06:35] JSFonta commented on #1459
Ok it works ! I uninstall CouchDB and then install again but directly into my "C:/".
Thank you MatthewDorner !

[2018-07-19 06:35] #1459 closed

[2018-07-19 10:05] #1457 closed

[2018-07-19 13:21] Lily418 commented on #359
Looks like the final item in the checklist has been closed by #983 I think this can now be closed?

[2018-07-19 13:22] donaldwasserman commented on #359
@Lily418 Thanks, looks good.

[2018-07-19 13:22] #359 closed

[2018-07-19 13:44] stukalin commented on #1382
So now it's only matter of applying the fix mentioned in the very first message to our fork and reference it from the main app.

[2018-07-19 13:51] donaldwasserman commented on #1382
I'm going to try to get that done this morning (well, morning East Coast US).

[2018-07-19 14:05] Lily418 commented on #1267
Looks like in the future this will be possible to implement via the [Web Authentication API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Authentication_API)

This is currently in the "Candidate Recommendation" stage and as such makes it an experimental technology.
[Web Authentication: An API for accessing Public Key Credentials Level 1](https://www.w3.org/TR/webauthn/)

At the moment it w

[2018-07-25 10:33] drakemedic commented on #1444
My screenshot was from Firefox.
I don't know whether the Imaging Pricing Type is actually necessary for the functioning of the system. It was just strange that it was there before and then disappeared - although I can see why that happened now. As long as it's not required for the generation of invoices or correct addition of imaging prices, it doesn't matter. It does mean however, that on the lis

[2018-07-25 19:07] MatthewDorner commented on #1444
1) I'm still unclear on what the "Type" does for pricing item types that support it (Ward and Procedure). It some effect beyond purely descriptive, right?

2) There is actually a bug for Imaging and Lab. They're supposed to always get the default "Imaging Procedure" and "Lab Procedure" as their types but in fact they only get assigned that value when categoryChanged action is triggered, meaning if

[2018-07-27 15:16] donaldwasserman opened #1465 "Remove Bower"
Bower has been deprecated, is minimally used, which presents a challenge to getting started for new contributors.

I have a PR that's a work in progress that is moving the following packages need to npm:

- [x] Bootstrap
- [x] JsBarcode (handled by addon)
- [x] filer.js
- [x] idb.filseystem
- [x] octicons
- [x] pikaday
- [x] typeahead.js
- [x] pouchdb-load
- [x] pretender
- [x] fullcalendar (handl

[2018-07-31 06:26] geordin opened #1467 "Not working on server ipaddress"
hospitalrun-frontend is configured with nginx as reverse proxy. But the login is not working. While checking the backed we are getting the below given error.

========================
Content Security Policy violation:
referrer": "",
    "violated-directive": "script-src",
    "effective-directive": "script-src",
    "original-policy": "connect-src 'self' ws://localhost:7020 ws://0.0.0.0:7020 ws:/

[2018-08-01 10:18] geordin commented on #1337
Facing the same issue here. Anybody please help.

[2018-08-02 02:57] donaldwasserman commented on #1467
@geordin So for a little background, this is due to the content security policy that is a best practice to prevent Cross Site Scripting (XSS) attacks. [Here is some information about it](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP)

The content security policy defines what scripts can be loaded safely from what domains. Since you're running behind nginx with a separate domain from where

[2018-08-02 03:05] donaldwasserman opened #1470 "Beta/Demo Site Issues"
Demo and Beta Sites should work awesome and present a great experience to potential users throughout the globe on any device

There have been various issues surrounding the demo and beta experience:

- [ ] Site Outages
- [ ] Incorrect Login info
- [ ] CI/CD Automated Updates
- [ ] Error Reporting

[2018-08-02 03:08] donaldwasserman commented on #1454
@omneina That would be great. What would you need to get started on it?