[2016-04-25 19:11] #434 closed

[2016-04-25 19:50] jkleinsc opened #435 "Organize Pricing By Type checkbox is not saving properly"
**Expected behavior:**
Setting the "Organize Pricing By Type" checkbox and updating a pricing type lookup list should persist the "Organize Pricing By Type" setting
**Actual behavior:**
The "Organize Pricing By Type" setting doesn't save
**Steps to reproduce:**
1. Go to Lookup Lists in Admin
2. Select a Pricing Type list (Ward Pricing Type; Procedure Pricing Type)
3. Check the checkbox that says "

[2016-04-25 19:51] #435 closed

[2016-04-25 20:25] #433 closed

[2016-04-26 19:26] tangollama commented on #126
@BrianHC are you still working on this one?

[2016-04-26 19:43] BrianHC commented on #126
@tangollama sorry for long absence, I am still working on this feature! I will try to get this feature implemented sometime this week.

[2016-04-26 21:27] tangollama commented on #126
Awesome. Thx.

Typed or dictated imperfectly on my iPhone (717.385.9970)

[2016-04-27 01:46] aboma commented on #380
I am working on this.

[2016-04-27 01:48] cacqw7 commented on #357
I wasn't able to reproduce this bug. Is this still an issue?

[2016-04-27 03:21] cacqw7 commented on #362
@tangollama I'll take this one.

**Question/Suggestion**:
What do you think of adding an `Add ___` link to blank notes and results?
![link](https://cloud.githubusercontent.com/assets/3615754/14840677/0b17e742-0bfc-11e6-9f9d-b70991b401b5.png)

And then maybe greyed out `No ____` for blank notes and results.
![light](https://cloud.githubusercontent.com/assets/3615754/14840777/fefd7a3e-0bfc-11e6-8378

[2016-04-27 20:43] jkleinsc commented on #357
@cacqw7 this was fixed as part of the PR #431, so I am going to close this issue.

[2016-04-27 20:43] #357 closed

[2016-04-28 00:01] tangollama commented on #362
@cacqw7 I really like this suggestions. I think it would aid in the usability of the interface. That said, I'm going to ask @jglovier to quick weigh in on this, as we're asking him to help guide the design paradigms. JAG?

Regardless, I'm going to flag this as in progress.

[2016-04-28 00:09] tangollama commented on #380
Thanks @aboma. @jkleinsc you'll want to pay close attention to this issue to assist and look for the PR.

[2016-04-29 14:20] jkleinsc opened #438 "Need a way to reset locally stored data"
**Expected behavior:**
If there was a need to reset the data at the server level, any data stored locally (offline) in user's browsers would need to be invalidated/flushed from the local pouchdb storage
**Actual behavior:**
If the couchdb database is deleted and recreated as an empty database, user's offline data ends up repopulating the data because of the sync between pouch and couch
**Steps to

[2016-05-02 19:39] jkleinsc commented on #438
The solution here is to write a script that issues deletes for all the records in the database vs deleting the database and recreating the database as new.

The problem with this is that you cannot then reload the same data dump, because the load DB function in the app does a replication.  Load DB should be changed to instead of doing replication it should load the records in the dump as new recor

[2016-05-03 19:48] jglovier commented on #362
FYI I provided feedback over in #437.

[2016-05-03 20:42] #391 closed

[2016-05-04 15:32] #351 closed

[2016-05-05 10:59] billybonks commented on #353
I have done a bit more work on this

`Support a drop down to limit the search by Inventory type (Medication, Supplies, etc.)`

is this a multi select dropdown ?

[2016-05-05 14:43] jglovier opened #443 "Migrate from scss-lint to stylelint"
[Scss-lint](https://github.com/brigade/scss-lint) is giving us huge value in helping keep our CSS structured, consistent, and maintainable. The huge downside for our project, however, is that it requires Ruby, and as a Node based project that makes getting started for new contributors (especially Windows devs who don't have Ruby already installed on their machine) a significant barrier.

Scss-lint

[2016-05-05 16:41] billybonks commented on #353
currently the page looks like this

<img width="1437" alt="screen shot 2016-05-06 at 12 39 38 am" src="https://cloud.githubusercontent.com/assets/1640136/15049841/18789606-1323-11e6-8775-f287304cff1d.png">

i am sure @jglovier will have some opinions 👍

[2016-05-05 18:36] jkleinsc commented on #443
@jglovier I'm fine with the change as long as it gets into the testing process with Travis.  If we move to this we will also need to remove the ember-cli-scss-lint Ember addon.

[2016-05-06 03:02] aboma commented on #380
I have written code to delete all of a patient's visits and models related to visits. However, I am having trouble getting a list of invoices for the patient being deleted so that I can delete them. If someone could provide a snippet of how to search the store for invoices for a patient that would help me finish this.  The various ways I have tried to implemented this have all turned up zero invoi

[2016-05-07 09:30] cmwebby opened #445 "Datepickers not working in Chrome"
**Expected behavior:**

- Clicking a date in the date picker should show selected date in the input box.
- Clicking the arrows should move to next month.

**Actual behavior:**
In chrome, when a date or arrow in the date picker is clicked the date picker disappears. It does not show the selected date in the input box.

*It works fine in firefox and Microsoft Edge*

**Steps to reproduce:**

1. Open

[2016-05-07 18:41] cacqw7 commented on #377
I can take this one if no one else is working on it. I have a _very_ rough `wip` using [ember-cli-notifications](http://stonecircle.github.io/ember-cli-notifications/)

![alert](https://cloud.githubusercontent.com/assets/3615754/15093864/3c30f5f2-1459-11e6-989b-6dec800ab631.gif)

[2016-05-08 01:58] alvesjtiago commented on #363
Hi @tangollama, I'd like to start contributing to HospitalRun and this seems like a good issue to start with. I believe the requested functionality is this correct?

<img width="1280" alt="screen shot 2016-05-08 at 02 55 48" src="https://cloud.githubusercontent.com/assets/407470/15095624/8bdaff5c-14c8-11e6-9078-dcc3712af6be.png">
<img width="1280" alt="screen shot 2016-05-08 at 02 55 53" src="http

[2016-05-08 06:55] billybonks commented on #443
Probably the best way to do this would be to build `ember-cli-style-lint` addon

[2016-05-08 08:30] billybonks commented on #280
i will finish this one off

[2016-05-09 07:08] sentana opened #447 "Patient Id auto increment with page refresh"
**Expected behavior:**
Patient ID should increment every time a patient is registered successfully.
**Actual behavior:**
The patient ID increment even if we cancel the registration
**Steps to reproduce:**
1. Click the new patient menu, and new patient registration form is open.
2. Take a note of the Patient ID
3. Click a Go Back arrow and Click Go Forward arrow
4. Notice the ID increments

**Scree

[2016-05-09 14:50] jkleinsc commented on #445
@cmwebby I just tested in Windows 10/  Google Chrome Version 50.0.2661.94 m and the date picker works properly for me.  Is it possible you have a chrome extension which is interfering with the date picker?  Can you try running Chrome in Incognito mode which should disable your extensions and test to see if it works then?

[2016-05-09 15:23] cmwebby commented on #445
@jkleinsc I just tried in incognito that and it still didn't work unfortunately . I also tried the beta site (https://beta.hospitalrun.io/) which is the same. Datepickers on other sites work fine it just doesn't seem to like this one.

[2016-05-09 20:23] jkleinsc commented on #380
@aboma in order to find invoices by patient, a new view needs to be added to the pouch/couch views by defining it in app/utils/pouch-views.js before the 'invoice_by_status' view:
[code]
Then to find:
[code]

[2016-05-10 02:55] cacqw7 commented on #364
I created PR #450 to address this issue.

[2016-05-10 14:42] sentana opened #451 "Relative Value Unit based Report required for Medical Staff evaluation"
**New Feature**
Due to the vast number of Medical staff in the hospital, it is becoming difficult to evaluate the doctors and Nurses based on their involvement in any of the treatment per month.

RVU based Physicians and Nurses evaluation system Report required:
- How many procedures does the doctor did per day
- What are the type of procedures the doctor did
- How many procedures does the Nurse a

[2016-05-10 17:00] tangollama commented on #447
@jkleinsc we've talked about this before. Do we consider this a true defect or not? I'm curious what others think.

[2016-05-10 17:03] tangollama commented on #445
Thanks @cmwebby. Are there any console log errors, etc?

[2016-05-10 19:10] jkleinsc commented on #447
@tangollama this is a duplicate of #245

[2016-05-11 10:26] cmwebby commented on #445
Hi @tangollama the only errors I'm getting are 4 x network errors -
`Failed to load resource: the server responded with a status of 400 (Bad Request)`

I also tried the beta site on my phone and tablet using chrome and the result was the same.

[2016-05-11 14:50] tangollama opened #452 "Clinical work queue as the home screen"
For a person(s) logging into the system, "what's important now" is unclear, particularly when it comes to appointment and visit management for doctors. I propose the following changes.

1. Borrowing from the Search interface in Appointments, clinicians should see lists of Appointments that have not yet spawned a Visit, open Visits, current Labs, and current Imaging requests, depending on one's rol

[2016-05-11 17:39] mnorbeck opened #453 "When using Elastic Search, only the first 10 patients are returned"
Expectation is that the entire result set is returned, OR a message to the user letting them know how many were returned, out of the total set

Currently, only the first 10 are being returned (not sure what order)

Using the beta site, search for Ralph.  Locate Ralph Glick id = 0063.   Search again for Glick.   That record is not returned.    @jkleinsc did a first pass eval on the issue.

MacOX, C

[2016-05-11 19:18] jkleinsc opened #454 "Inventory reports throw exception e.name.indexOf is not a function"
**Expected behavior:**
Inventory reports run without throwing an error
**Actual behavior:**
Inventory reports throw the following exception:
[code]
**Steps to reproduce:**
Go to inventory reports, run a report such as detailed expenses over a period where transactions have occurred.
**OS and Browser:**
All

[2016-05-11 19:33] #454 closed

[2016-05-11 20:30] jkleinsc opened #455 "Fix for offline broke google auth"
PR #441 fixed issues with the app loading offline but unfortunately broke google auth logins.

[2016-05-11 22:38] #455 closed

[2016-05-12 00:48] DoumeDuSud opened #456 "feature request : import function in Inventory (with .csv file fore exemple)"
I just descover and I find it great

But from my side, it could be used only if there have an import function. Because it's not posible to import by hand thousent of item in order to star using it

Thanks for all

[2016-05-12 12:23] sentana opened #458 "Barcode for inventory is inconsistent with browser Go back"
**Expected behavior:**
Barcode has to be generated for each items in the inventory.
**Actual behavior:**
Inconsistent label and wrong
**Steps to reproduce:**
1. Login as admin
2. Click the Inventory Items
3. Select the Barcode button of any of the item and take a note of the label
4. Go back using the browser go back button
5. Select another item from the list and click the Barcode button again
6.

[2016-05-12 15:34] jkleinsc commented on #456
@DoumeDuSud I have good news for you!  There is an import tool for inventory in the server project that you can use!  The tool is located here: https://github.com/HospitalRun/hospitalrun-server/blob/master/utils/inv-import.js.  In order to use the tool, clone the hospitalrun server repo from here: https://github.com/HospitalRun/hospitalrun-server .  You will need to configure the config.js file (i

[2016-05-12 15:55] tangollama opened #460 "Add an option to create a new Visit on the creation of a new Patient"
Include at the bottom of the New Patient screen a checkbox (by default unchecked) to automatically create an Outpatient Visit for this Patient. If unchecked, maintain current behavior. If checked, create the Visit after the creation of the Patient record and navigate to the New Visit screen.

This will aid in the admission process.

[2016-05-12 15:59] tangollama opened #461 "Warn for possible duplicates when adding New Patient"
When entering a new patient, the system would wait for the first name and family name to be provided and then send a callback to the system to determine if there are possible matches.

If a match(es) are found, present those in an alert with the option to navigate to that patient record.

Ideally, this search would be smart, examining best match scenarios.

Optional: the ability to configure the s

[2016-05-12 16:04] tangollama opened #462 "Create an administrative screen where workflow rules can be toggled on/off"
As a part of the [Workflow features](https://github.com/HospitalRun/hospitalrun-server/labels/Workflow) in the server project, we need a screen that houses the workflow administrative toggles for the following:

- Admission deposit required? (Yes/No) [defaiult No]
- Clinic prepayment required? (Yes/No) [default No]
- Followup prepayment required? (Yes/No) [default No]
- Outpatient Lab prepayment r

[2016-05-12 18:44] tangollama opened #463 "Create a new screen for Followup and Clinic Visits"
Under Patients, create a new screen title Outpatient that lists each visit of type Clinic or Followup that does not have a Visit status of Discharged.

List columns: Visit Start Date, Examiner (Visit field), Patient ID, Patient Full Name, Patient Sex, Patient DoB, Visit Type, Actions
Click Action: Edit Visit
Actions: Edit (Edit Visit), Discharge (set Visit to Discharged, set End Date to now), Dele

[2016-05-12 18:50] tangollama opened #464 "Add a payment_state field to Visit"
Add a payment_state field to Visit that contains (for starters) two states: Clear and Pending Payment. Clear would be the default state.

Then modify the following screens:
- [ ] Don't show [Outpatient Visits](https://github.com/HospitalRun/hospitalrun-frontend/issues/463) with a Visit payment_state of Pending Payment
- [ ] Don't show Imaging Requests with a Visit payment_state of Pending Payment

[2016-05-12 20:50] jglovier commented on #130
@eddiesholl sorry for the radio silence! Just a quick not to acknowledge your POC, and let you know I'm going to put together some more polished UI comps to guide you if you want to open a PR to implement. :bow:

[2016-05-12 21:38] jglovier commented on #452
@tangollama lets move this discussion into the existing issue for the dashboard #387.

[2016-05-13 07:11] cs09g opened #465 "Loading new list on Imaging Requests can not be stopped"
**Expected behavior:**
1. move to Imaging tab
2. click next page button(below the button 'new imaging')
-- showing progress pop up --
3. close the pop up by clicking 'x' during loading time
4. keeps the current page

**Actual behavior:**
1. move to Imaging tab
2. click next page button(below the button 'new imaging')
-- showing progress pop up --
3. close the pop up by clicking 'x' during loading

[2016-05-13 07:41] billybonks commented on #443
also https://github.com/sasstools/sass-lint which is used by https://github.com/sir-dunxalot/ember-cli-sass-lint. pure node implementation.

[2016-05-13 07:44] billybonks commented on #375
1. Can we assume developers know what a linter is ?
2. Do we add documentation for `atom` and `sublime` ?
3. Should we explain why we lint ?

We could just add links to the official documentation for some of these topics, then add docs how to setup linter on your editor.

[2016-05-13 07:46] billybonks commented on #374
the pure node linter addon, that i linked previously generates a test suite for the Linting that should fail on travis

https://github.com/sir-dunxalot/broccoli-sass-lint/blob/master/index.js#L234

[2016-05-13 13:03] jglovier commented on #375
@billybonks heh, good questions.

Probably not. :smile:

Yeah, that'd probably be ideal. Although I've only used the linting package on Atom myself and I don't even know that there is one for Sublime (but I'd be surprised if there wasn't).

Yes, absolutely.

Sounds like a good strategy to me. Even if just as a first pass and then we iterate more later. 👍 :zap:

[2016-05-13 13:26] jkleinsc commented on #374
If we are going to move to stylelint via #443, we should address this issue there.

[2016-05-13 13:39] jkleinsc opened #466 "Add review/manual resolution of couchdb conflicts."
Right now all couchdb conflicts are solved automatically by the couchdb listener here:
https://github.com/HospitalRun/hospitalrun-dblisteners/blob/master/dblisteners/merge-conflicts.js

While this should produce a hands free resolution process it could be nice to have a screen where admins can see conflicts that were resolved and (optionally) manually resolve those conflicts differently if needed.

[2016-05-13 13:47] #362 closed

[2016-05-13 13:52] #364 closed

[2016-05-13 14:45] tangollama commented on #465
@jglovier @jkleinsc I understand why this was logged as a bug. Technically, the system is functioning as designed, but there's clearly a UX issue in the way notifications are displayed and the sense that the X button in the waiting dialog should be able to cancel the action. Any further thoughts from anyone in the project?

[2016-05-13 16:04] jglovier commented on #374
@billybonks yeah, we're planning to move to Stylelint asap to :fire: Ruby as a dependency, and because it turns out Stylelint is even better (and faster) than scss-lint.

[2016-05-13 16:22] jglovier commented on #443
@jkleinsc and I looked into switching to `sass-lint` at the hack week, but unfortunately it doesn't support a few key linting rules that we're getting with `scss-lint`.

[2016-05-13 20:24] mnorbeck opened #467 "Billed Invoices - Buttons disappear from the invoice"
**Expected behavior:**
Buttons to add payment, edit, delete  are always there.

**Actual behavior:**
If you click on add payment, the buttons disappear.

**Steps to reproduce:**
on beta site
Billing > Invoices > click on the add payment button for an invoice.   The buttons disappear when the dialog comes up.   If you dismiss the dialog with cancel, the buttons are gone.

**Screenshots (if applicab

[2016-05-13 23:20] tangollama commented on #363
@alvesjtiago sorry that I missed this. Yes. That is correct.

[2016-05-14 01:00] tangollama commented on #344
Per a conversation with @ivmartel, I'm thinking that this like-minded project would be our first consideration https://github.com/ivmartel/dwv

[2016-05-14 01:33] alvesjtiago commented on #363
No problem @tangollama. I just submitted a pull request with the modifications I previously showed.

[2016-05-14 02:18] billybonks commented on #274
@jonkoops how is it going ? 👍

[2016-05-14 13:10] tangollama commented on #6
@DanielDut any progress here? Should I move this back to Help Wanted?

[2016-05-14 13:11] tangollama commented on #51
@jkleinsc can we close this?

[2016-05-14 13:11] tangollama commented on #58
@jkleinsc same here? Did the Internationalization address this?

[2016-05-14 13:14] tangollama commented on #126
@BrianHC consider this a friendly #bump on this issue. Are you still working it?

[2016-05-14 13:16] BrianHC commented on #126
Hi Joel! Thank for friendly reminder. I've been looking into it, on the
screen it looks like there is a drop-down to filter the inventory report by
location already. Is there any more requirements specified for this request?
On May 14, 2016 9:14 AM, "Joel Worrall" <notifications@github.com> wrote:

[2016-05-14 13:23] #363 closed

[2016-05-14 15:30] jkleinsc commented on #51
@tangollama I don't think we ever added this field

[2016-05-14 15:31] jkleinsc commented on #58
@tangollama Not sure we added this or not

[2016-05-15 08:04] DanielDut commented on #6
@tangollama, I just got a new macbook air yesterday (just for this :) ) and setting up, let me get back to you in one week's time...

[2016-05-15 12:56] DoumeDuSud commented on #456
nice, I will have a look

Good continuation

[2016-05-16 16:13] jkleinsc commented on #126
@BrianHC you are correct that there is a filter that appears to meet this requirement
@tangollama it looks like we already do this or are you looking for something else:
![screen shot 2016-05-16 at 12 11 39 pm](https://cloud.githubusercontent.com/assets/609052/15295635/6ccb2bda-1b5f-11e6-8c6d-c8fbc0bf5a47.png)

[2016-05-18 00:25] jkleinsc commented on #430
Closing because this issue seems to be resolved.

[2016-05-18 00:25] #430 closed

[2016-05-18 14:12] tangollama commented on #126
It's a open source miracle! Seriously, sorry I didn't follow up on this before I reached out @BrianHC. I'll close this. You up for tackling something else?

[2016-05-18 14:12] #126 closed

[2016-05-18 14:15] BrianHC commented on #126
No problem! It was still fun taking a look into how our report system works. Absolutely, I'll take a look at what issues are still open and put my name on one. Unless you have any that you recommend?

[2016-05-18 16:17] dswanson commented on #390
Working on this issue at OSCON Contribute!

[2016-05-18 17:24] dswanson commented on #390
![image](https://cloud.githubusercontent.com/assets/626044/15368456/b130c1de-1ce2-11e6-8089-c2cb2982d03f.png)

[2016-05-18 20:48] jkleinsc commented on #90
@tangollama it looks like we can use this addon: https://github.com/toddjordan/ember-cli-dynamic-forms

[2016-05-18 20:49] jkleinsc commented on #65
@tangollama again we should be able to use this addon for this: https://github.com/toddjordan/ember-cli-dynamic-forms

[2016-05-18 21:13] tangollama commented on #90
Best news of day!

Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.11.40&pv=9.3.1&source=email_footer_2]
On Wed, May 18, 2016 at 4:48 PM, John Kleinschmidt <notifications@github.com> wrote:
@tangollama [https://github.com/tangollama] it looks like we can use this addon: https://github.com/toddjordan/ember-cli-dynamic-forms [https://github.com/toddjordan/ember-cli-dynamic

[2016-05-19 03:23] #456 closed

[2016-05-19 17:00] tangollama opened #470 "Modify the patient object to capture configurable fields"
Currently, the patient object is a limited set of fields. It's right and good that the application would ship with a preferred set of fields on a patient entity. However, even our first few deployments have made it clear that there needs to be an ability to both remove and add fields. Given that ORM nature of our data storage, this should be (generally a non-issue). However, that requires a few ch

[2016-05-19 17:10] jkleinsc commented on #470
@tangollama I think in general this is a good idea, but that there probably is a set of fields that always render.  One reason for this is that reporting gets really complicated if you are trying to report on dynamic fields.

[2016-05-19 17:41] tangollama commented on #470
Good word @jkleinsc I'll update the main issue with the list on fields that must be retained.

[2016-05-20 05:13] gr2m opened #473 "this._super.apply"
I followed the instructions but get this error. Any idea what it could be?

[code]

**Versios**

MAC  10.11.4
node v4.2.2
npm 3.8.6

[2016-05-20 11:25] jkleinsc commented on #473
@gr2m I think it is this:https://github.com/HospitalRun/hospitalrun-frontend/pull/472

[2016-05-20 14:12] gr2m commented on #473
I tried it with `ember-cli-htmlbars@1.0.5` but got the same error. Must be something else

[2016-05-20 14:49] jkleinsc commented on #473
I'm traveling right now, but

[2016-05-20 14:51] jkleinsc commented on #473
I'll look into it when I get the chance

[2016-05-20 17:26] jkleinsc commented on #473
@gr2m looks like #471 was the issue.  Pushing a fix soon.

[2016-05-20 17:27] #473 closed

[2016-05-20 17:40] gr2m commented on #473
confirmed, thanks John!

[2016-05-20 19:39] gr2m opened #475 "When logging in for the first time, server crashes with TypeError: Cannot read property 'deleted' of undefined in node_modules/hospitalrun-server-routes/routes/30-auth.js:134"
**Expected behavior:**

Should show logged in state

**Actual behavior:**

Shows sidebar, but only the HospitalRun header and the cog icon. The login remains

[code]

**Screenshot:**

![screen shot 2016-05-20 at 15 37 39](https://cloud.githubusercontent.com/assets/39992/15439974/d54acc9e-1ea0-11e6-9da7-0eb137f039f3.png)

**Steps to reproduce:**

- Open Google Chrome Private mode to make sure you h

[2016-05-20 21:21] vanakema commented on #462
@tangollama I am considering easing myself into the codebase by doing this one. What is the scope of this task? Is this task just asking someone to make the view and maybe the route?

[2016-05-21 19:19] BrianHC commented on #467
I'll take a look at this issue if nobody else has taken it already.

[2016-05-21 19:39] tangollama commented on #467
Marking in progress @BrianHC

[2016-05-22 19:01] tangollama opened #476 "Printing a patient record"
The standard, out-of-the-box printed version of a patient record, including their history needs to be added to the primary patient summary screen, perhaps as a button opposite to the "Add Note" action @jglovier?

<img width="866" alt="screen shot 2016-05-22 at 2 58 49 pm" src="https://cloud.githubusercontent.com/assets/929261/15455835/bb1a0824-202d-11e6-9cbd-e32fa6520990.png">

For starters, the p

[2016-05-22 19:04] tangollama commented on #370
@reybango how is this coming?

[2016-05-23 03:21] billybonks commented on #443
so this is ready for use https://www.npmjs.com/package/ember-cli-style-lint

[2016-05-23 03:22] billybonks commented on #374
https://www.npmjs.com/package/ember-cli-style-lint this solves this issue

[2016-05-23 15:48] jglovier commented on #465
Probably a good topic for discussion in our Notifications sync up later this week.

[2016-05-23 19:32] jkleinsc commented on #475
@gr2m did you run the script `./script/initcouch.sh`?

That code could be more bullet proof, but I'm trying to figure out why/how you got that error in the first place.

Were you able to login at some point then?

[2016-05-23 19:36] gr2m commented on #475
yes I run it before (with admin username / password). Tried to run it again, got conflict errors as expected:

[code]

[2016-05-23 19:48] jkleinsc commented on #475
@gr2m Were you able to login after the first time?

[2016-05-23 20:02] gr2m commented on #475
yes, looks like the `POST /_session` request goes through. Here are all requests as har: https://gist.github.com/a4cf5f284ad42b11468712abcdcefbde

[2016-05-23 20:55] #475 closed

[2016-05-23 21:21] gr2m opened #478 "After login, nothing happens"
follow up for https://github.com/HospitalRun/hospitalrun-frontend/issues/475. I updated to latest master and updated all dependencies. The server does not crash anymore, but now nothing happens after signing in

![hospitalrun-nothing-after-login](https://cloud.githubusercontent.com/assets/39992/15484978/c05f2052-210a-11e6-9a8e-f5db3344f11b.gif)

[2016-05-24 15:31] pgte commented on #478
I also have this issue. By digging into devtools, I could see that the chkuser response is:

[code]

Before the chkuser request, the POST /_session request succeeded (CouchDB replied with `{ok: true, ...}`...

BTW, I'm trying this with Node 4 and 6.

[2016-05-24 15:43] jkleinsc commented on #478
@gr2m @pgte  I cannot duplicate this.  What version of couch are you using?
One thing to check is the server/config.js file to verify that the
`couchAdminUser` and `couchAdminPassword` are correct for your couch install.
By default these values are couchAdmin/test, but if you already had couch running/setup with an admin party, the initcouch.sh script will not create this user.  In that case, you

[2016-05-24 17:36] reybango commented on #370
@tangollama I'm going to defer to @taras on this one.

[2016-05-24 21:20] pgte commented on #478
@jkleinsc yup, that was it, solved for me.
Sorry about this.

[2016-05-25 00:41] gr2m commented on #478
yup, same here. At what point does `couchAdminUser` and `couchAdminPassword` get set? I’ve run `./script/initcouch.sh USER PASS` with USER and PASS of an existing admin account in my local CouchDB – maybe that was the problem?

[2016-05-25 12:01] bnisbett commented on #463
Hi @tangollama I am interested in taking a look at this issue if it's available.

[2016-05-25 12:49] mellisdesigns commented on #280
Hey Guys, I will take this one. I am working on this as of now! Have discussed with @billybonks already.

[2016-05-25 13:06] jkleinsc commented on #478
@gr2m `couchAdminUser` and `couchAdminPassword` do not get set by the script.  They are just set to default username/pw that the script creates.  The README needs to be updated to reflect this.

[2016-05-25 14:12] tangollama commented on #280
Thanks @mellisdesigns

[2016-05-25 14:12] tangollama commented on #463
Go for it @bnisbett

[2016-05-25 14:17] #478 closed

[2016-05-25 17:48] jkleinsc commented on #470
After evaluating [ember-cli-dynamic-forms](https://github.com/toddjordan/ember-cli-dynamic-forms), I felt that it wasn't as useful as I was hoping, so I decided to create a custom component for HospitalRun so that we can add custom forms wherever we need them.  More details about that component are here:
https://github.com/HospitalRun/hospitalrun-frontend/wiki/Custom-Form-Component

[2016-05-27 13:46] jkleinsc opened #480 "Role customization doesn't work on page reload and for subnavigation"
**Expected behavior:**
When a role is customized, users who login with that role should see the subnavigation items in the menu for items they have permission to.  Also, on page reload the custom role should continue to apply
**Actual behavior:**
Subnavigation menu items do not display, even if user role has been customized to have access to them.  Also, on page reload any role customization for t

[2016-05-27 14:25] #480 closed

[2016-05-27 17:04] jglovier commented on #443
cc @jonrohan

[2016-05-29 08:48] mellisdesigns commented on #280
This is complete and ready for QA
https://github.com/HospitalRun/hospitalrun-frontend/pull/479

[2016-05-30 18:35] mattplatoff commented on #464
@tangollama working on this

[2016-05-30 19:49] tangollama commented on #35
Discussing this with @worrlo and therefore updating the requirements. Ideally the edit interface would now include an option to describe what kind of payment profile this is: a discount or a capped amount. I'm guessing this involves two new attributes on a payment profile:

1. a payment profile type
2. a capped amount (this would be only be displayed in a scenario where capped amount was selected

[2016-05-31 14:52] tangollama commented on #462
@vanakema basically, yes. We need to store the configurations in couch so that they're available for reading on the server end. If you want to go after this, that would be fine. This issue is technically part of a hack day event we're running in [Lisbon in mid-June](http://hospitalrun.io/lisbon); but if you tackle and deliver it ahead of June 18, that would be a great benefit to the team that need

[2016-06-01 01:49] jglovier opened #483 "Improve load database view by adding more data"
I just ran through loading a set of 6 databases from an anonymized dump. One of the major painpoints was that even with just six files, it was hard to remember which one I had just loaded (and to know which one to load next) because the load confirmation doesn't show the filename which was just uploaded, or a persistent history of any recent uploads.

**Expected behavior:**
- [ ] loading databases

[2016-06-01 05:09] omoabobade commented on #460
@tangollama i am working on this

[2016-06-01 12:01] jonrohan commented on #443
This is a pretty new package https://github.com/kristerkari/stylelint-scss/ that has a lot of scss specific rules for stylelint. A++ would recommend

[2016-06-01 12:23] mnorbeck opened #485 "Patient ID sequence should not go backwards (greater to lesser)"
It was observed and confirmed that at the Tebow hospital, the patient ID sequence was set at a number less than the greatest patient ID in the system.   There were 2000+ patients in the database currently, but the sequence was set at something around 1400.   It was not causing an issue, since the system prevented creation of patients with duplicate IDs.   However, in consult with @jkleinsc it was

[2016-06-01 13:31] tangollama commented on #460
thx @omoabobade

[2016-06-03 18:54] jglovier commented on #374
Closed in https://github.com/HospitalRun/hospitalrun-frontend/pull/488.

[2016-06-03 18:54] #374 closed

[2016-06-03 18:54] jglovier commented on #443
Closed in https://github.com/HospitalRun/hospitalrun-frontend/pull/488.

[2016-06-03 18:54] #443 closed

[2016-06-05 10:28] billybonks opened #490 "Internationalization long term maintenance."
This is a tracking issue for progress of I18n maintenance task.

Since the completion of https://github.com/HospitalRun/hospitalrun-frontend/issues/141

If anyone has ideas, on how to improve translations file please ping myself or @jkleinsc

In order to maintain internationalisations we need to:
- [x] Fail CI when pull requests use non existent translation keys. https://github.com/HospitalRun/hos

[2016-06-05 10:33] billybonks opened #491 "Lint HTML for bare english strings"
Install https://github.com/rwjblue/ember-cli-template-lint

[2016-06-05 10:35] billybonks opened #492 "Identify stale translations keys"
Add code to test suite, that tracks keys requested from translations file, and at the end. maps it to the master english translation file and identifies stale keys.

[2016-06-05 10:38] billybonks opened #493 "Keep all translation files up to date"
Keeping translations up to date, i am thinking of using https://www.transifex.com/ to translate our main english JSON file, using their community. currently there will be manual effort involved. i am not sure if anyone has an issue with this.

@jkleinsc we should also talk about how the deployment process from master works.

[2016-06-05 10:41] billybonks opened #494 "Prune stale translation keys"
As features are added and removed some translation keys will be become stale, and should be pruned from json file

[2016-06-05 10:46] billybonks opened #495 "Make sure that every page is visited during acceptance tests"
Fail Travis if pull request introduces new route that acceptance tests have not visited. required so that the following features work
- https://github.com/HospitalRun/hospitalrun-frontend/issues/494
- https://github.com/HospitalRun/hospitalrun-frontend/pull/486
#### Missing acceptance tests
- [ ] https://github.com/HospitalRun/hospitalrun-frontend/issues/704
- [x] https://github.com/HospitalRun/ho

[2016-06-05 13:51] bnisbett commented on #463
@tangollama I have a few questions about this feature.

I'm not clear on the search/filter feature. Should this be a separate page as well under Patients or part of this new Outpatients page?

[2016-06-07 03:11] tangollama commented on #463
@bnisbett thanks for your patience. Do you have what you need on this? If not, the intention with the filter was to make it part of the template / view. So that outpatients page would include both the list and the ability to filter.

[2016-06-08 11:22] tompaana opened #496 "Cursor on links appears as a text cursor on Firefox and MS Edge"
**Expected behavior:**
The cursor indicates a clickable object (i.e. link).

**Actual behavior:**
The cursor appears to be a text cursor giving no indication that e.g. clicking a patient name leads to the patient record.

**OS and Browser:**
OS: Windows 10
Browsers:
- Firefox 46.0.1
- Edge

[2016-06-08 12:09] tompaana commented on #116
Note that depending on the localization a comma is considered a decimal point.

[2016-06-08 18:17] chair91 opened #497 "Cannot find module 'sw-toolbox/sw-toolbox.js'"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2016-06-08 18:19] chair91 commented on #497
When I start hospitalrun in nitrous it says "Cannot find module 'sw-toolbox/sw-toolbox.js'"

How can I solve this issue ?

I also try on ubuntu it says the same

Please provide me a solution

Thanks

[2016-06-08 18:53] alexchan7432 commented on #497
Hi chair91,
I had this issue as well.  This is what I wrote in the slack channel.

[2016-06-09 05:25] chair91 commented on #497
Hi Alex
Thanks for the solution  . I will try it tonight

[2016-06-09 15:22] chair91 commented on #497
Hi Alex
It's work now
thanks

[2016-06-09 16:21] chair91 opened #500 "hospitalrun loading for long time"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2016-06-09 16:29] chair91 commented on #500
After starting hospital run using command npm start and go to localhost:4200

it show loading page for long time (not show hospital run welcome page)

How can I solve this ?

Thanks in advance

[2016-06-11 18:02] jkleinsc commented on #500
@chair91 I believe you ran into an issue with broken dependencies that has now been fixed.
Pull the latest from github, then do the following in the hospitalrun frontend directory:
```rm -rf node_modules bower_components dist tmp```
```npm install```
```bower install```

[2016-06-11 18:07] jkleinsc commented on #497
@chair91 this is now fixed.  I'm also going to make sure that broccoli-serviceworker gets updated.  I know the author :wink:.

[2016-06-11 18:07] #497 closed

[2016-06-12 05:11] chair91 commented on #500
Thanks I will try

[2016-06-12 06:10] chair91 commented on #500
it's work now

thanks

[2016-06-12 06:10] #500 closed

[2016-06-15 06:38] dapierce commented on #476
I'm interested in this project and would like to take on this issue to start! I have determined how to remove the left padding for print, and will look into the header and print formatting in the next few days.

[2016-06-15 14:47] jkleinsc opened #507 "Search doesn't work under certain circumstances"
**Expected behavior:**
Search should return matching results
**Actual behavior:**
Under certain circumstances, search either errors out or doesn't return results.
**Steps to reproduce:**
There are two different issues:
1. When using ElasticSearch, a text search doesn't always return back the records it should.  For example, if there is a patient with the first name of "John", searching for John do

[2016-06-15 14:48] jkleinsc commented on #507
Fixed by e705257.

[2016-06-15 14:48] #507 closed

[2016-06-17 06:09] pete-the-pete commented on #384
How will permissions for this page work? As in, are there restrictions around which type of users would have access to see the page, or delete certain records?

How should the data be organized?  Would you want to filter or sort the data in anyway?

[2016-06-17 06:11] pete-the-pete commented on #381
@tangollama i can take a look at this and #382

[2016-06-18 14:57] morsh opened #517 "New Feature: Enable user feedback from the user interface"
**Background**
Currently, there is not way for the users of the system to communicate:
- Is the current screen understandable, has bugs, missing options
- Suggestion of new/missing features on a certain page or the system in general
- Is the user satisfied with the system and is there something he would want to communicate back to the developers

**Expected behavior:**
Add a basic ability to the s

[2016-06-18 14:59] jupiter commented on #342
We probably need to run an HL7 server alongside/within the hospitalrun-server.

It would make sense to create modules, for HL7 server and client, containing all the necessary abstractions, that we can interface with from the hospitalrun-server.

The components and structure would be something like:

- hospitalrun-server
  - hospitalrun-routes module
  - hospitalrun-dblisteners module
    - *new* l

[2016-06-18 15:03] jupiter commented on #286
I have mentioned a library that I think may be suitable for this here: https://github.com/HospitalRun/hospitalrun-frontend/issues/342#issuecomment-226946828

[2016-06-18 16:44] jkleinsc opened #519 "Medication/inventory typeahead issues"
**Expected behavior:**
If multiple values matched the typed in value, they should all display, perhaps via a scrollbar
**Actual behavior:**
Unless you start typing more specific text, the typeahead just picks the first 5 matches without scrolling.
**Steps to reproduce:**
Go to medication/new request and type in a single letter into the medication type ahead
**Screenshots (if applicable):**
<img wi

[2016-06-18 17:04] jkleinsc commented on #381
@pete-the-pete I started working on this and I checked in a branch here with my work: https://github.com/HospitalRun/hospitalrun-frontend/tree/archive-records

If you look at the code here, basically what I am doing is adding a new attribute called archived.  Then in the pouch/couch views, any records with that attribute are ignored.  Tests are not passing right now on this branch, but the basic c

[2016-06-20 19:53] tangollama commented on #286
Here's additional documentation we put together on this issue. https://drive.google.com/open?id=1nGufQ3gSgdZSsQkhQAJN470xjx1HR4QR9ffRUqNyayc

[2016-06-21 20:56] jkleinsc opened #526 "Non admins cannot add procedures"
**Expected behavior:**
A non-admin with the capability to add a procedure (such as a doctor), should be able to add a procedure
**Actual behavior:**
A non-admin with the capability to add a procedure (such as a doctor) doesn't see a button to add a procedure.
**Steps to reproduce:**
1. Login as doctor
2. Go to patient
3. Add visit
4. Click on Add Procedure
5. Add button does not appear at bottom o

[2016-06-24 02:54] tangollama commented on #6
@DanielDut, have you had a chance to work on this?

[2016-06-24 02:58] tangollama commented on #115
@Lewiscowles1986 it's been a bit on this. Is this still on your radar? Thanks.

[2016-06-24 02:59] tangollama commented on #130
@jglovier @eddiesholl any status updates on this?

Sidenote: we had an event with a group of doctors where this feature came up. I think this is going to add a ton of value to the platform, so I'm keen to close the loop on this when possible.

[2016-06-24 03:04] tangollama commented on #322
@jglovier, I'm thinking this needs to move back to Help Wanted, yes?

[2016-06-24 03:06] tangollama commented on #353
@jglovier concerns with this? Trying to gauge if this can be closed out.

[2016-06-24 03:06] tangollama commented on #370
@taras any chance you'd be able to close this out sometime soon?

[2016-06-24 03:07] tangollama commented on #380
@jkleinsc @aboma thinking this still outstanding, yes?

[2016-06-24 03:08] tangollama commented on #460
@omoabobade any update on this issue?

[2016-06-24 03:22] tangollama commented on #467
@BrianHC any update on this?

[2016-06-26 11:51] omoabobade commented on #460
Sorry been held up at work and also reading up on emberjs should submit a
push request by Tuesday. Sorry for the delay

On Fri, Jun 24, 2016 at 4:08 AM, Joel Worrall <notifications@github.com>
wrote:

[2016-06-26 17:14] tangollama commented on #494
@billybonks agreed. do you have specific processes that you want to be sure people follow for translations, or is this something that could be put into a linter? That seems to me to be ideal. Thoughts?

[2016-06-26 17:15] tangollama commented on #494
If the action here would be to add a linter to the system that validated that all translation keys were referenced (if that's possible), then we can do something with this. If not, we need to document this as part of the contribution guide.

[2016-06-26 17:18] tangollama commented on #492
I feel like this is a duplicate to #494. Closing for now unless @billybonks objects.

[2016-06-26 17:18] #492 closed

[2016-06-26 17:22] tangollama commented on #153
Where is this at @jkleinsc?

[2016-06-26 17:24] tangollama commented on #458
Thanks for this @sentana. Any chance you'd be up for looking into this and trying to provide a solution? If so, I'll move this to In process.

[2016-06-26 17:24] tangollama commented on #453
@jkleinsc this is yours.

[2016-06-26 17:27] tangollama commented on #445
@jkleinsc and I have been unable to reproduce this issue. Adding this to Help Wanted so that someone in the community can look into the issue and try to provide additional validation / reproduction. We can't fix a bug that we can't reproduce :)

[2016-06-26 17:43] tangollama commented on #312
@jkleinsc where is this? Can we close it?

[2016-06-26 17:44] tangollama commented on #252
@jglovier can we close this or no?

[2016-06-27 19:36] Lewiscowles1986 commented on #115
I couldn't get ember metrics to work :disappointed:

[2016-06-27 21:32] Lewiscowles1986 commented on #115
any tips on getting username out of hospitalrun?

[2016-06-27 22:40] Lewiscowles1986 commented on #115
I've cleaned up a bit, you can find code over at [my clone](https://github.com/Lewiscowles1986/hospitalrun-frontend/tree/patch-1)

As I say it's not a real improvement on the last attempt which is why I haven't posted any updates, things that need work are

 * Tests fail (this happens before any changes and is likely inexperience of couchdb)
 * Needs new tests for metrics
 * Needs username
 * Envi

[2016-06-28 15:41] jglovier commented on #322
@tangollama 👍 . Added back.

[2016-06-28 15:46] jglovier commented on #252
@tangollama I still think there is big room for improvement here worth leaving this open. Right now the sample data file we load only has a small set of data (many views have 1 or 0 records), which isn't really vert effective for working with the app in a truly representative way.

I've been able to get around that via the private anonymized data set we have, but I'd like to keep this open until w

[2016-06-28 15:50] jglovier commented on #353
Yeah, a couple, but some of it I think is a matter of global form styling that still needs addressed. The only thing really that stands out is why the view title isn't in the title bar in the screenshot above?

[2016-06-28 16:01] jglovier commented on #130
Looks like work is taking place in https://github.com/HospitalRun/hospitalrun-frontend/pull/440. Design direction is https://github.com/HospitalRun/hospitalrun-frontend/pull/440#issuecomment-218887653.

[2016-06-29 04:47] kaungst commented on #467
I have found fixed the problem and am putting together a pull request.

[2016-06-29 05:46] kaungst commented on #467
See https://github.com/HospitalRun/hospitalrun-frontend/pull/538 for the fix

@tangollama

[2016-06-29 18:11] jglovier commented on #387
Just ran through some feedback from the EMR summit with @mnorbeck that verifies some of the things I've been thinking about for the dashboard lately. One of the biggest existing problems with the app is that it's too hard to get to things, and there are no shortcuts.

I think what we should do with the dashboard is create modules depending on your role (or perhaps you can customize which modules y

[2016-06-30 17:38] omoabobade commented on #460
@tangollama pls i have a question what is the difference between admittance and visit?? I am currently at a loss here

[2016-06-30 20:15] mnorbeck commented on #496
This is also present on Chrome 51.0.2704 for Image, Med and Lab Requests, Appointments and  Invoices.  Any place other than a patient record where the patient name and ID is displayed.   On the patient record the cursor is the text insert, but there are no links.

[2016-06-30 20:32] mnorbeck opened #540 "Keyboard shortcut for Save"
Request is to provide keyboard shortcuts for Save.   Ideally both Control-S and Command-S would be supported.

[2016-07-01 13:03] billybonks commented on #353
probably because i am missing, the title property :)

[2016-07-01 13:05] billybonks commented on #390
ye this is something i have been thinking about as well. @dswanson i presume you haven't made any progress on this ?

[2016-07-01 13:09] billybonks opened #542 "lint label properties of htmlbars"
Currently the handlebars linter only lints for bare strings. Bare strings may be present under a `label=` property of HTMLbars. this should be linted as well.

The best solution i think is to add a rule to the the linter then activate it here.

[2016-07-01 13:10] billybonks opened #543 "Translations of delete messages across the application"
There are currently a few delete messages in the translations file, namely:

[code]

below i have grouped the strings that are similar

[code]

we can change this to be only 3 strings, and use them across the application

[code]

[2016-07-01 13:11] billybonks commented on #280
still need to translate invoices section, in order to complete this issue

[2016-07-01 18:06] alexpelan commented on #526
I can look into this one

[2016-07-02 16:09] billybonks opened #547 "Refactor translations file to match model setup"
In order to have scalable, maintainable and clean translation files we should, model them according to their data models.

This means:

Every model should have it's name translated in singular and plural,
Every attribute should have a translation 1 to 1 relationship.
Model names could share the same namespace as attributes, but that could cause conflicts, so we would rather keep them seperate.

Ta

[2016-07-02 16:10] billybonks opened #548 "Translate bare strings in mixins"
The following mixin files have bare strings that need to be translated
  - [ ] result-validation.js
  - [x] navigation.js
  - [ ] fulfill_request.js
  - [ ] dob-days.js

[2016-07-02 21:25] billybonks opened #549 "Translate database strings"
Currently, we have english strings that are displayed to the user stored in the database, this will have to be translated as well.

Most of the strings are `tags` likes status/type/category etc. some of these lists are mutable and others are immutable
**Mutable**
     - visit-types.js
     - inventory-type-list.js
     - unit-types.js
     - lab-pricing-types.js

**immutable**
     - publish-statu

[2016-07-03 09:04] billybonks opened #551 "Page Titles"
We currently assign page titles manually, instead we can make the following abstract classes, automatically figure out the page title, using the route name space.

  -AbstractIndexRoute
  -AbstractEditRoute
  -AbstractModuleRoute
  -AbstractDeleteController

i.e we have a titles.js translation that follows the same name spacing as the routes in the application. so for example:

~~inventory.index t

[2016-07-03 11:31] omoabobade commented on #460
@tangollama any update ??

[2016-07-03 11:42] tangollama commented on #460
An admission is a type of visit. The workflow of the visits and some of the confusion around the way the data is presented is one of the clear gaps we hope to close.
I have limited availability this weekend, but if you ping me on the project slack, we can at least set a time to talk.

Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.11.40&pv=9.3.1&source=email_footer_2]
O

[2016-07-03 11:51] omoabobade commented on #460
Thanks for the explanations. I have already submitted a pull request, it my
first open source contribution so am kind of excited and looking forward to
you reviewing it. Would go on and look for another bug to fix. Thanks again

On Sun, Jul 3, 2016 at 12:42 PM, Joel Worrall <notifications@github.com>
wrote:

[2016-07-03 11:56] tangollama commented on #460
Thank you for contributing. I'm looking forward to reviewing your PR.

Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.11.40&pv=9.3.1&source=email_footer_2]
On Sun, Jul 3, 2016 at 7:51 AM, Abobade Kolawole <notifications@github.com> wrote:
Thanks for the explanations. I have already submitted a pull request, it my
first open source contribution so am kind of excited and

[2016-07-03 11:59] billybonks commented on #519
i presume this happens in all these components across the application

[2016-07-03 12:01] tangollama commented on #551
I like this. @jkleinsc what do you think?

Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.11.40&pv=9.3.1&source=email_footer_2]
On Sun, Jul 3, 2016 at 5:04 AM, Sebastien Stettler <notifications@github.com> wrote:
We currently assign page titles manually, instead we can make the following abstract classes, automatically figure out the page title, using the route name spa

[2016-07-04 18:00] billybonks opened #553 "Acceptance test for procedures"
Create acceptance test for procedures

[2016-07-04 21:42] billybonks opened #554 "Acceptance test for visits"
We don't seem to have any acceptance tests for visits.

[2016-07-06 09:46] Lewiscowles1986 commented on #115
@jglovier @tangollama I'd appreciate some feedback on the linked branch before continuing

[2016-07-06 20:59] jkleinsc commented on #551
@billybonks I think this is a great idea.  I would prefer the path to be` inventory.index.title = 'asd'`

[2016-07-06 21:03] billybonks commented on #551
ye that is better 👍, also allows us to use route structure for other things if needed

[2016-07-06 21:06] jkleinsc commented on #547
@billybonks I think I'm in favor of this, but I think we should maybe make the prefixing a little clearer.
For example the path for attributes for the patients would be something like `models.patient.name`.  For example:
[code]

The other thing to keep in mind is will it make sense for translators who aren't developers?

[2016-07-07 01:42] mcoolidge commented on #445
I also was unable to reproduce with Chrome Version 51.0.2704.103 m (64-bit)

[2016-07-07 11:46] billybonks commented on #547
So i am up for your prefixing, if we agree, that the models won't share strings for their attributes. like `startDate` may appear in multiple places, but each place will have it's own string. There is definitely benefit in that, because it will allow each model attributes label to not be bound to another. just means more translations. but in theory if we use transfix it will help with that :).

[2016-07-07 13:49] jkleinsc commented on #547
@billybonks I absolutely agree we shouldn't share strings for attributes.  Reusability is great for programming, but not so great for translations because context matters.

[2016-07-07 14:08] billybonks commented on #547
cool ill update the issue with this :)

On Thu, Jul 7, 2016 at 3:49 PM John Kleinschmidt <notifications@github.com>
wrote:

[2016-07-07 14:21] #526 closed

[2016-07-07 14:28] jkleinsc commented on #380
@tangollama yes this is still outstanding.

[2016-07-07 18:47] billybonks opened #557 "Translations for components"
i am not sure what is the best method to do this

<img width="1016" alt="screen shot 2016-07-07 at 8 44 38 pm" src="https://cloud.githubusercontent.com/assets/1640136/16665389/b9bc5660-4483-11e6-8b8a-576cbe82ff11.png">

currently i was thinking

[code]
for this template

[code]

which would look like this

[code]

[2016-07-07 18:55] jkleinsc commented on #543
@billybonks I am in favor of doing this.  I think it presents consistency across the app.

[2016-07-07 18:58] jkleinsc commented on #557
@billybonks works for me.

[2016-07-07 19:38] #462 closed

[2016-07-07 19:38] #464 closed

[2016-07-07 21:41] billybonks commented on #557
👍

[2016-07-08 08:31] #557 closed

[2016-07-08 09:06] billybonks commented on #493
so we should probably build a linter that lints translations files based of master translation file keys and identifies missing keys

[2016-07-08 14:52] jglovier commented on #115
@Lewiscowles1986 sorry for the delayed response! I know both @tangollama and I have been swamped with non-HR work the last couple weeks. Can you please open a pull request to this repo for review?

[2016-07-08 14:55] jglovier commented on #445
Since nobody was able to reproduce this, I'm adding the `unable to reproduce` label and closing for now. Feel free to reopen if anyone can reproduce and provide steps to reproduce.

[2016-07-08 14:55] #445 closed

[2016-07-11 16:03] #476 closed

[2016-07-11 19:00] jkleinsc commented on #61
Using https://github.com/cloudant-labs/envoy could be a possibility here.  Something to investigate at some point.

[2016-07-12 01:56] dlo83 commented on #540
Does anyone have a problem with using an ember addon like ember-keyboard to accomplish this functionality?  If not, I'd be happy to give this a stab.

[2016-07-12 20:27] jglovier commented on #540
@dlo83 I think that could be a great solution. @jkleinsc any objections to that?

[2016-07-12 21:28] jkleinsc commented on #540
@jglovier and @dlo83 that is fine by me.

[2016-07-12 21:48] dlo83 commented on #540
@jglovier, @jkleinsc : sweet, I'll take a crack at this.

[2016-07-12 22:33] dlo83 commented on #540
FWIW: ember-keyboard doesn't yet support the command modifier key on Macs.  Would a Ctrl+S shortcut suffice for the time being?

[2016-07-13 13:38] jkleinsc commented on #540
@dlo83 wouldn't the command modifier be "OSRight" and "OSLeft"?  I took a quick look at ember-keyboard and it appears this would work, but I didn't test it, so maybe there is a bug that I don't know about?

[2016-07-13 14:12] dlo83 commented on #540
@jkleinsc one would think.  However, I tried those command modifiers and was unable to trigger the update action with them. Ctrl+S worked as expected.  The ember-keyboard repo explicitly states: Support for keyup, keydown, and keypress, as well as the modifier keys: ctrl, alt, shift, and meta.  Perhaps the omission of command is intentional.  I'll follow up with the developer of that repo.

[2016-07-13 14:35] #360 closed

[2016-07-13 14:43] jkleinsc commented on #553
I am going to address this one.

[2016-07-13 15:19] jkleinsc commented on #554
I'll address this one along with #553

[2016-07-13 17:54] mnorbeck commented on #452
I second the @jglovier motion.  Close this issue, make it part of the dashboard discussion

[2016-07-13 18:18] mnorbeck opened #569 "Make the Save (Add, Update) buttons always visible"
The request is that any button to Save (Add or Update) would always be visible. Users would not need to scroll to the bottom of a page to find the button.    This could mean placing a second copy of the button at the top of the screen.   Request is to make this a standard across Hospital Run

[2016-07-13 19:29] #452 closed

[2016-07-13 22:04] dlo83 commented on #540
@mnorbeck I think Ctrl+S/Cmd+S might be a problem here.  It appears as though some browsers like Chrome don't allow you to override common keyboard shortcuts that are already registered in the browser (Ctrl+S, Ctrl+W, Ctrl+C, etc).  Would you consider any alternatives? Perhaps adding an additional modifier key (Ctrl+Alt+S)?

[2016-07-15 09:30] cmwebby opened #572 "Patient ID can be made the same"
**Expected behavior:**
The Patient ID should be completely unique to the patient. Although the database has its own unique id for each patient and the patient ID is just a user-friendly one, it should still be completely unique to avoid mixing up patients.

**Actual behavior:**
When making a new patient the Patient ID can be edited to a patient ID  that already exists.

**Steps to reproduce:**
- M

[2016-07-15 12:13] billybonks opened #573 "Translation Keys tracker"
Currently all keys in the translation file follow the `_` standard.

i.e that means that `Starte Date` would be represented by the key `start_date`. this is not a javascript convention so all keys should be changed to camel case `startDate`

Child issues will mention the namespace that needs to be changed. This is the first child key of the translation object. i.e.

[code]

- [x] user https://gith

[2016-07-15 12:15] billybonks opened #574 "Translation Keys Navigation namespace"
Please read tracking issue blurb https://github.com/HospitalRun/hospitalrun-frontend/issues/573

this issue is for the `navigation` namespace

[2016-07-15 12:17] billybonks opened #575 "Translation Keys User namespace"
Please read tracking issue blurb #573

this issue is for the user namespace

[2016-07-15 12:18] billybonks opened #576 "Translation Keys Admin namespace"
Please read tracking issue blurb #573

this issue is for the admin namespace

[2016-07-15 12:20] billybonks opened #577 "Translation Keys Labels namespace"
Please read tracking issue blurb https://github.com/HospitalRun/hospitalrun-frontend/issues/573

this issue is for the `navigation` namespace

[2016-07-15 12:22] billybonks opened #578 "Translation Keys Messages namespace"
Please read tracking issue blurb https://github.com/HospitalRun/hospitalrun-frontend/issues/573

this issue is for the `messages` namespace

[2016-07-15 12:23] billybonks opened #579 "Translation Keys Buttons namespace"
Please read tracking issue blurb https://github.com/HospitalRun/hospitalrun-frontend/issues/573

this issue is for the `buttons` namespace

[2016-07-15 12:24] billybonks opened #580 "Translation Keys Login namespace"
Please read tracking issue blurb https://github.com/HospitalRun/hospitalrun-frontend/issues/573

this issue is for the `login` namespace

[2016-07-15 12:25] billybonks opened #581 "Translation Keys Loading namespace"
Please read tracking issue blurb #573

this issue is for the`loading` namespace

[2016-07-15 12:26] billybonks opened #582 "Translation Keys Inventory namespace"
Please read tracking issue blurb #573

this issue is for the`inventory` namespace

[2016-07-15 12:29] billybonks opened #583 "Translation Keys Imaging namespace"
Please read tracking issue blurb #573

this issue is for the`imaging` namespace

[2016-07-15 12:29] billybonks opened #584 "Translation Keys Medication namespace"
Please read tracking issue blurb #573

this issue is for the`medication` namespace

[2016-07-15 12:30] billybonks opened #585 "Translation Keys appointments namespace"
Please read tracking issue blurb #573

this issue is for the`appointments` namespace

[2016-07-15 12:31] billybonks opened #586 "Translation Keys Vitals namespace"
Please read tracking issue blurb #573

this issue is for the`vitals` namespace

[2016-07-15 12:31] billybonks opened #587 "Translation Keys Visits namespace"
Please read tracking issue blurb #573

this issue is for the`visits` namespace

[2016-07-15 12:32] billybonks opened #588 "Translation Keys Labs namespace"
Please read tracking issue blurb #573

this issue is for the`labs` namespace

[2016-07-15 12:32] billybonks opened #589 "Translation Keys Patients namespace"
Please read tracking issue blurb #573

this issue is for the`patients` namespace

[2016-07-15 12:32] billybonks opened #590 "Translation Keys Billing namespace"
Please read tracking issue blurb #573

this issue is for the`billing` namespace

[2016-07-15 12:33] billybonks opened #591 "Translation Keys Print namespace"
Please read tracking issue blurb #573

this issue is for the `print` namespace

[2016-07-15 12:34] billybonks opened #592 "Translation Keys Procedures namespace"
Please read tracking issue blurb #573

this issue is for the `procedures` namespace

[2016-07-15 14:58] cmwebby commented on #519
If no one is working on this I'm happy to make a fix for it and do a PR? @tangollama

[2016-07-15 15:26] billybonks commented on #519
@cmwebby no one seems to be working on it so go ahead 👍

[2016-07-15 17:40] jkleinsc commented on #519
@cmwebby... It is yours to work on... I noticed you closed your PR though?

[2016-07-15 18:01] #554 closed

[2016-07-15 18:06] cmwebby commented on #519
@jkleinsc I managed to sort out the typeahead but it wasn't passing any of the tests on my machine or Travis CL, so I've closed it and will submit a hopefully better one when I've discovered why

[2016-07-18 00:21] warain commented on #387
Two ways we can achieve this is to have an activity tracker for a given staff. For example if you are a doctor, and you login, the left side of the dashboard will show activities which are being posted about your patients much like a feed, or much like a #tag, once you select and click on a patient name, you can see all the latest info posted,  (including latests labs, images ...) this could be di

[2016-07-18 00:22] warain commented on #387
I could create a prototype board to show you what I mean, this is the idea I want to use for my emr system using this script as a starting point...

[2016-07-18 08:05] charlespeters opened #596 "Linters"
the simple long loved jscs is being end of life'd and consolidating with eslint. this project is using dockyard's ember-suave. they've started working on an [eslint port](https://github.com/DockYard/eslint-plugin-ember-suave) of it; it's still experimental but worth trying.

**Expected behavior:**  keeping the code style focused and unified

**Actual behavior:** deprecation warnings

**Steps to re

[2016-07-18 15:44] jkleinsc commented on #569
@jglovier what do you think about this idea?  Any thoughts on how we might accomplish this - eg floating button as you scroll, or just a button at the top?

[2016-07-19 15:29] #584 closed

[2016-07-19 19:56] #519 closed

[2016-07-22 13:57] #328 closed

[2016-07-22 18:56] #575 closed

[2016-07-22 18:56] #576 closed

[2016-07-22 18:56] #574 closed

[2016-07-22 18:56] #577 closed

[2016-07-22 18:56] #578 closed

[2016-07-22 18:56] #579 closed

[2016-07-22 18:57] #580 closed

[2016-07-22 18:59] #590 closed

[2016-07-22 18:59] #591 closed

[2016-07-22 18:59] #592 closed

[2016-07-22 19:00] #585 closed

[2016-07-22 19:02] #553 closed

[2016-07-24 14:11] ShadabQ commented on #569
we can push the button near the header,once the user clicks for edit/save.

[2016-07-25 14:21] jglovier commented on #387
@warain that's an interesting idea.

Yeah, I'd love to see even a simple concept sketch of what you have in mind!

[2016-07-25 14:32] #581 closed

[2016-07-25 14:32] #582 closed

[2016-07-25 14:32] #583 closed

[2016-07-25 14:32] #586 closed

[2016-07-25 14:32] #587 closed

[2016-07-25 14:32] #588 closed

[2016-07-25 14:32] #589 closed

[2016-07-25 14:40] jkleinsc commented on #573
@billybonks I think this issue is done.  Do you agree?

[2016-07-25 17:41] mnorbeck opened #604 "Image Request - Saved dialog - OK button not working first time"
1. nav to a patient visit
2. click + New Imaging button to add an image request
3. click any image type
4. click "update"
5. on resulting dialog, click ok.   Dialog stays up and this is seen in the console (Chrome):

_Uncaught Error: Nothing handled the action 'returnToVisit'. If you did handle the action, this error can be caused by returning true from an action handler in a controller, causing t

[2016-07-25 17:42] mnorbeck opened #605 "Image Request - Saved dialog - OK button not working first time"
1. nav to a patient visit
2. click + New Imaging button to add an image request
3. click any image type
4. click "update"
5. on resulting dialog, click ok.   Dialog stays up and this is seen in the console (Chrome):

_Uncaught Error: Nothing handled the action 'returnToVisit'. If you did handle the action, this error can be caused by returning true from an action handler in a controller, causing t

[2016-07-25 17:42] #604 closed

[2016-07-25 17:42] mnorbeck commented on #604
dup. sorry

[2016-07-25 20:18] jkleinsc commented on #569
@ShadabQ I'm not sure I follow what you are suggesting.  Can you explain further what you mean?

[2016-07-26 09:11] billybonks commented on #573
@jkleinsc ye think so closing :) thanks @dapierce and @TheBanditDave

[2016-07-26 09:11] #573 closed

[2016-07-26 14:54] #491 closed

[2016-07-27 22:49] ShadabQ commented on #569
@jkleinsc i am suggesting something like this

![screenshot from 2016-07-28 04 14 36](https://cloud.githubusercontent.com/assets/5912349/17195269/7c6b9d1e-547a-11e6-956c-11955bc83cc5.png)

[2016-07-27 22:52] ShadabQ commented on #569
@jkleinsc :i am suggesting something like this

![screenshot from 2016-07-28 04 20 23](https://cloud.githubusercontent.com/assets/5912349/17195358/d98ceeee-547a-11e6-9536-2c7d40a27e34.png)

[2016-08-06 20:07] tangollama commented on #6
@DanielDut any update here?

[2016-08-06 20:09] tangollama commented on #130
@eddiesholl any update on this? It's a great feature that we'd love to see in the product. Does @jglovier feedback suffice?

[2016-08-06 20:09] tangollama commented on #134
@jglovier is this a possibility for a contribution at the yet-to-be-announced next Hack Day event?

[2016-08-06 20:10] tangollama commented on #370
@jkleinsc based on the PR submitted by @taras, can we close this?

[2016-08-17 17:58] mnorbeck opened #627 "Visit Types cannot be changed; although they are in the Administration as changeable"
**Expected behavior:**

When a new visit type is added in Administration > Lookup Lists, that new type is now available in the visit type drop-down on a visit page

**Actual behavior:**

Drop down list is not updated.

**Steps to reproduce:**

1. In Administration > Lookup Lists  select the drop down for visit type from the Lookup Type dropdown.
2. click on Add Value and add a new visit type  ("te

[2016-08-17 22:56] jglovier commented on #134
@tangollama absolutely. It'd be great to get some help on this, although I've been thinking lately about our CSS strategy and it involves what to do with this stuff, so I probably need to get that documented somewhere too.

[2016-08-18 13:44] jkleinsc commented on #370
@tangollama that PR is complete, so this issue should stay open until it is complete.

[2016-08-22 17:17] mnorbeck opened #628 "Admitted Patients listing, second click on page forward not working properly"
Navigate to the Admitted Patients listing.
Click on the page forward arrow " > "
Repeat that click
working dialog appears, and never closes

I noticed this on the tebow site, where there is only one page of patients.  I used the page forward to verify the size of the list, and stumbled on this.  Once you click on the page forward, it is in this state, until you click on the page back arrow, which

[2016-08-23 20:16] jkleinsc opened #630 "Sorting doesn't work with Google Auth"
**Expected behavior:**
Clicking on a sortable column such as first name in the patient listing should sort the listing by that column
**Actual behavior:**
Clicking on a sortable column when Google Auth is enabled logs the user out and forces them to log back in
**Steps to reproduce:**
On a site with Google Auth enabled:
1. Go to Patients
2. Click on the First Name column
**Screenshots (if applicab

[2016-08-23 20:23] #628 closed

[2016-08-23 20:23] #630 closed

[2016-08-23 20:45] mnorbeck opened #631 "Search is not working off-line"
**Expected behavior:**
Search should work off-line

**Actual behavior:**
Search is not working, the search working dialog comes up, but it never closes

**Steps to reproduce:**
1. login to hospital run
2. wait for sync (watch network activity in dev tools)
3. close tab in browser
4. go off the network
5. open new tab
6. go to hospital run url
7. attempt a patient search

**Screenshots (if applicab

[2016-08-29 19:26] jkleinsc commented on #381
This issue was resolved in commit 20dd5b29cf697b23f0df179d30fe951e31744d0f.

[2016-08-29 19:26] #381 closed

[2016-08-29 20:36] #380 closed

[2016-08-29 21:59] Eric-Arellano commented on #252
@jglovier What would this case entail to do? As in would I just create plausible sounding records arbitrarily, or does it need to be based off of this anonymized sample data?

[2016-08-29 22:10] Eric-Arellano commented on #496
This is happening on all OS X El Capitan browsers too:
- Safari 9.1.2
- Firefox 47.0.1
- Chrome 52.0.2743

@tompaana please update issue's title to remove "on Firefox and MS edge" - it's not a browser specific issue.

[2016-08-30 00:03] Eric-Arellano commented on #496
### Where bug happens
Lists of records, e.g. patient list, labs list, do correctly render the pointer cursor; however, several other links show the text cursor (Chrome default cursor) on other links, i.e. the patient's name/ID, and in certain tables.

<img width="1280" alt="text-cursor_screenshot" src="https://cloud.githubusercontent.com/assets/14852634/18071307/5ea0b81e-6e1a-11e6-9bb7-bd156c1efbb

[2016-08-30 02:05] Eric-Arellano commented on #496
FYI @tangollama I've started to work on this today. Found a very basic [fix](https://github.com/Eric-Arellano/hospitalrun-frontend/commit/c40d00c4380b9605e0d97919a057aec5551e9eaa), however it produces a lot of false positives. Going to try to find a better solution tomorrow/this week.

[2016-08-30 12:56] PRDinesh opened #632 "Request for architecture document for the HospitalRun"
Do we have some architecture document for the HospitalRun.
Like what are the components used and how do they fit together
I got the basic idea that the Frontend runs on Ember and backend on nodejs, but I am looking for some more details to understand the architecture correctly and contribute back meaningfully.

I am not expecting a big document, but a simple write up with few diagrams would suffix

[2016-08-31 13:35] mnorbeck opened #634 "Admitted Patients listing shows patients who do not have an active admission visit"
**Expected behavior:**

Admitted patients listing only shows patients with and active visit of type admissions.

**Actual behavior:**
Patients without an active admission visit, or even patients without any previous admissions visit are being returned in the list.

**Steps to reproduce:**
1. create a visit of type admission to admit a patient
2. Verify that the patient shows on the admitted patien

[2016-08-31 13:57] #634 closed

[2016-09-05 07:00] jglovier commented on #252
@Eric-Arellano I think the anonymized sample data is the best route here, and actually @jkleinsc has something like this in progress IIRC, which is why we don't have a help-wanted label on this issue. @jkleinsc @tangollama can you confirm?

[2016-09-05 07:07] jglovier commented on #569
@ShadabQ I like where you are heading with that concept. I think we could rethink the screen header a bit (as is that would mean three equal weight buttons which are not all grouped together), but the idea of solving this problem by putting the button in that header area could work.

Honestly, I don't think we need the `new patient` button in that region anyway. If anything, the action there shoul

[2016-09-06 05:23] ThomasWunderlich commented on #388
@jglovier Do you have a script you currently run to deploy? Or alternatively documented deployment steps? I went looking through the github repo and I wasn't sure what you're currently using for hosting or deployment of the beta site.

[2016-09-07 20:45] mnorbeck commented on #569
Agree with @jglovier  New patient is not needed.  Really do not think you are going to edit a patient, then move to adding new patients, from a workflow perspective.

[2016-09-07 20:48] mnorbeck commented on #234
@tangollama agree that the allergies need to be directly associated with the patient.  Say, as opposed to be down in a visit.   Doctors want to be able to quickly see the known allergies, similar to diagnosis, directly from patient info.

[2016-09-07 21:00] mnorbeck commented on #463
@tangollama:  Visits are active things.  So, if there was a single screen of open visits, and you could filter on type, I think you have this covered.   There is also the possibility that visits are not updated properly, and are actually closed (or done).  So, a means to filter to show only the bogus visits would be great.  Maybe a filter (or sort) on visit start date.   Or a simple "visits more t

[2016-09-08 01:17] jkleinsc commented on #252
@jglovier @Eric-Arellano yes I have a dataset, I just haven't had time to add it.
@jglovier the dataset is about 39M over 6 files, so I'm hesitant to add that to the repo.

[2016-09-08 14:46] jglovier commented on #252
Sure, that's fair. We could workaround that by just adding instructions on how to get it and install it to the README, and then host the dataset elsewhere like a dropbox account or something.

[2016-09-08 14:56] jglovier commented on #388
@ThomasWunderlich it's pretty manual right now. I think @jkleinsc just logs into our host and `git pulls` basically LOL. 😄  cc @jkleinsc to confirm...

[2016-09-08 18:57] ThomasWunderlich commented on #388
Well that at least confirms you're using a vm then and not docker. It makes the deployment process a bit easier

[2016-09-08 20:04] jkleinsc commented on #388
@ThomasWunderlich @jglovier yup... right now I do the following:
1. Manual git pull on https://github.com/HospitalRun/hospitalrun-server
2. npm install
3. service hospitalrun restart

[2016-09-09 15:45] jglovier commented on #388
Ideally we'd use something like [Heaven](https://github.com/atmos/heaven) so we can deploy via Hubot in Slack.

[2016-09-12 03:41] gnowoel commented on #252
Since it's CouchDB, is it possible to set up a public database that we all can sync from?

[2016-09-12 15:01] jglovier commented on #171
Going to start a list of really great examples of docs that could serve as inspiration for ours:
- http://getbootstrap.com/css/
- https://docs.getexponent.com/versions/v9.0.0/index.html
- https://guides.emberjs.com/v2.8.0/
- https://www.polymer-project.org/1.0/docs/about_10
- https://docs.angularjs.org/api

[2016-09-12 16:05] #627 closed

[2016-09-14 08:23] PaulKish commented on #312
Still have this problem on Windows, am on win10 and the version of HospitalRun is 0.9.15

[2016-09-14 11:51] tangollama commented on #59
@jkleinsc at some point, can I get a little more detail on this so that I/we can put together requirements?

[2016-09-14 11:57] tangollama commented on #116
@zinyando are you thinking about working this?

[2016-09-14 13:29] #458 closed

[2016-09-14 13:37] jkleinsc commented on #605
@mnorbeck I ran across this while working on something else and I have a fix.

[2016-09-14 13:48] #605 closed

[2016-09-14 20:36] JSchneidler commented on #572
I'll see if I can tackle this. Would it be acceptable to just make an API request when the Id field is changed to check if it has already been used?

[2016-09-16 14:03] ShadabQ commented on #569
@jglovier @mnorbeck I agree,seems logical.Additionally we do have a new patient on left hand menu.

[2016-09-16 16:13] jkleinsc commented on #572
Thanks @JSchneidler !  If you look at app/mixins/patient-id, there is code there that generates this id on a new record via the `generateFriendlyId` function.  That function queries a couch view called `patient_by_display_id`.  You can query this same view to find out if an id is being used.

[2016-09-17 06:25] tangollama commented on #359
@jglovier is this still relevant? If so, can we make it a HackDay issue?

[2016-09-18 16:17] gnowoel commented on #467
This problem should only happen when an invoice's total cost is zero.

When clicking "Add Payment", a new payment object would be created and then recalculating of the balance would be triggered. Since the initial value of the `amount` field for the newly created object is zero, we've already paid up for the zero-cost invoice at the moment of clicking the button. The buttons disappear because they

[2016-09-19 11:38] #467 closed

[2016-09-20 08:09] PaulKish opened #657 "Production ready?"
Would you recommend the system as production ready? If so how would we go about deploying it? The guide for this seems a bit lacking.  Thank you for the hard work with the tool.

[2016-09-21 09:56] jkleinsc opened #661 "Patients without identified sex show up as null or undefined on patient reports"
**Expected behavior:**
When running patient reports such as admission report which groups counts by sex, those patients without a sex filled out in the demographic information show up as "Sex Not Entered" or a similar label
**Actual behavior:**
In patient reports such as admission report which groups counts by sex, patients without a sex filled out in the demographic information show up as null or

[2016-09-21 19:20] tangollama commented on #657
@PaulKish no. HospitalRun is not production-ready and (among several issues) lacks deployment documentation. Once the system has a 1.0 label on it, we will consider it production-ready.

[2016-09-21 19:20] #657 closed

[2016-09-21 19:27] tangollama commented on #632
@PRDinesh check out the [following diagram](http://hospitalrun.io/img/HospitalRun_deployment.jpeg). We're recommending a deployment with an appliance-level computer locally, backed-up by a cloud instance. CouchDB gives you syncing "for free." In [CURE International hospitals](cure.org) we're making that experience seamless for the users by using the local facility DNS to route the external domain

[2016-09-21 19:27] #632 closed

[2016-09-22 02:39] chobberoni commented on #478
@jkleinsc any reason as to why i'd be getting this error?

![image](https://cloud.githubusercontent.com/assets/4432363/18735478/fa56a262-8032-11e6-917b-26048460c301.png)

In, the couchdb local tool, it shows that `couchadmin` and `test` are valid, but the app doesn't recognize them for some odd reason.

[2016-09-22 06:01] jkleinsc commented on #478
@chobberoni can you click on the headers tab and see what url it is trying to go to?

[2016-09-22 06:33] chobberoni commented on #478
@jkleinsc

this is what I get back in the Headers tab (for _session response):
![image](https://cloud.githubusercontent.com/assets/4432363/18738734/442e8e52-8053-11e6-86da-d789ce051c04.png)

and for (chkuser response):
![image](https://cloud.githubusercontent.com/assets/4432363/18738753/6f0b36ac-8053-11e6-90e1-e17b36dec15e.png)

and on the Fauxton page for couchdb it shows that I can verify things

[2016-09-22 07:13] jkleinsc commented on #478
@chobberoni In fauxton can you verify that there is a database called main and another one called config?  Also, in the _users db there should be a user with the id org.couchdb.user:hradmin
If any of these are missing, you will need to run script/initcouch.sh: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/script/initcouch.sh

[2016-09-22 07:58] chobberoni commented on #478
@jkleinsc I got it to work by manually creating the `_users` db in fauxton.
The main and config dbs were already in there.

However, the `initcouch.sh` script is still not running properly (oh well for now) -- here's the output for now:
![image](https://cloud.githubusercontent.com/assets/4432363/18740659/b24af82e-805f-11e6-9b4e-272f4d167a31.png)

thanks!!! <3

[2016-09-22 12:08] jkleinsc commented on #548
@billybonks navigation.js automatically translates the strings there in the `localizedNavItems` function, so it doesn't need to be translated.

[2016-09-22 13:33] jkleinsc commented on #461
@tangollama waiting for first name and family name to be provided is a tricky if you really want to perform a fuzzy (aka smart search), because how do you know when the user is completely done filling out these fields?

I think there are two different ways to accomplish this functionality:

1. One option would be to make first name and last name typeahead fields and if a user clicks on an existing

[2016-09-22 13:34] jkleinsc commented on #461
If we went with option 2, here are some details as to what would need to be done;
**Fuzzy search solution overview** 🔍
This feature could be accomplished by using the query/search already built into HospitalRun.  The current search functionality in HospitalRun allows you to search for the same value against multiple fields but it doesn't allow you to search for distinct values on distinct fields,

[2016-09-23 14:35] jscottchapman commented on #322
This looks like a good one for my first contribution.  I'm on it @tangollama. 🎯

[2016-09-23 17:26] jscottchapman commented on #496
@Eric-Arellano @tangollama Is this "in progress?"

[2016-09-23 18:08] amyrlam commented on #540
I'll do this one with @alychloe

[2016-09-23 19:04] parkr commented on #388
I would be interested in helping with this today. A v0.1 could replicate what @jkleinsc does above but via a cron job. That would be very simple to setup. Everything is public so it could be as simple as:

[code]

A v1.0 could be:

- [ ] Stand up Heaven in Heroku. Give it a db & configure the apps needed to deploy.
- [ ] Configure webhook to hit Heaven. I believe it's just the Deployment event.
-

[2016-09-23 22:05] matteddy commented on #6
@emurillo510 and I [started on this task](https://github.com/matteddy/hospitalrun-frontend/tree/add_password_recovery), and set up the necessary route. We weren't sure how to move forward without an api endpoint.
![image](https://cloud.githubusercontent.com/assets/1839537/18802637/de460974-819e-11e6-834d-59996aab4e6b.png)
![image](https://cloud.githubusercontent.com/assets/1839537/18802655/07e6518

[2016-09-23 22:35] parkr commented on #388
OK, after talking to @jglovier and @tangollama, it sounds like a general-purpose solution for deploying instances of hospitalrun-server would be better. For any instance that the HospitalRun team manages, it will be registered with heaven during the provisioning. Then, `.deploy hospitalrun-server to prod` would deploy via Heaven to all the hosted unites HospitalRun

- [x] Setup a heaven Droplet. (

[2016-09-24 00:11] tangollama commented on #388
Note: @parkr is working on this.

[2016-09-24 00:37] amyrlam commented on #377
I'll work on this

[2016-09-24 19:03] taras commented on #572
@JSchneidler are you able to look at this issue? If you are, I'd like to assign it to you. Otherwise, we'll assign it to someone else.

Please, let us know if you're able to work on it.

[2016-09-24 19:05] taras commented on #551
@wolfieorama would like to work on this issue. I'd like to assign it to him. No sure why it's not letting me.

[2016-09-24 20:08] gnowoel commented on #485
The suggested next patient ID is saved in the `sequence` model. However, if we use a custom ID in the form, the model won't update accordingly. For example, entering `P00010` for a suggested `P00005`, it would next time suggest `P00006` rather than `P00011`. Guess this is part of the reason why the sequence comes slower than the greatest patient ID.

A related problem happens when we cancel a new

[2016-09-24 20:48] gnowoel commented on #572
@taras Since I'm working on a related issue (#485) , I'd be happy to take this if no one else does.

[2016-09-24 21:51] jglovier commented on #388
@parkr I started installing `hubot-deploy` on our existing [Slack hubot(https://github.com/HospitalRun/hospitalbot) when I realized you created the @hospitalrunbot user. Should I deprecate the `hospitalbot` repo in favor of that new bot user?

[2016-09-24 22:40] jglovier commented on #387
See also: https://github.com/HospitalRun/design/issues/5

[2016-09-24 23:26] jglovier commented on #346
Looks like this got fixed as part of moving the buttons into the header.

[2016-09-24 23:26] #346 closed

[2016-09-25 04:28] billybonks commented on #548
cool 👍

@jkleinsc the following strings don't seem to be propagated to the ui ?

https://github.com/billybonks/hospitalrun-frontend/blame/master/app/mixins/fulfill-request.js#L100

https://github.com/billybonks/hospitalrun-frontend/blame/master/app/mixins/fulfill-request.js#L223

[2016-09-25 04:51] jglovier commented on #274
Resolved in #489.

[2016-09-25 04:51] #274 closed

[2016-09-25 06:00] billybonks opened #673 "enable block-indentation in .template-lintrc.js"
We currently have many html indentation errors.

in order to prevent new commits to not have these errors we need to enable `block-indentation`.

To see errors:
1. Open `.template-lintrc.js` in your editor
2. set `block-indentation` to true
3. ember build

you can fix errors and run `ember build` to see more at any point in time Please note if you don't fix all of them that is ok, open a pr with t

[2016-09-27 09:39] halatef commented on #631
Dear, i am sorry for posting here about this but i don't know wher can i post my squestions

but i need to know how can i get a user manual/documentation for hospital run?

[2016-09-27 18:03] #322 closed

[2016-09-27 18:10] #548 closed

[2016-09-27 18:27] wolfieorama commented on #51
my proposed plan is to add a field to capture whatever amount the patient
contributes on top of what the other parties take responsibility of.
My thought is to have it as a  non-required field handling different currencies (number
type) -- an addon may be to handle different currencies

[2016-09-27 19:14] taras commented on #51
@wolfieorama your plan looks good.

I would suggest that we break this into 2 parts:
1. add this copay number field
2. make it work properly for with currency indicator

For 1, we might want to use the code that was introduced in #668
For 2, we need to figure out how to handle currency across the entire app (we might need a localize currency format)

[2016-09-27 19:19] amyrlam commented on #540
👋 Let's reopen this issue for tracking, I still need to add the keyboard shortcut to all Update or Save buttons. https://github.com/HospitalRun/hospitalrun-frontend/pull/665 implements the keyboard shortcut in one place.

[2016-09-27 19:21] taras commented on #540
@amyrlam can are you able to make a list of all of the places where this change needs to be applied? Also, we have some mixins that are used across all edit screens. Could we add this functionality as a mixin to one of those mixins?

[2016-09-27 19:42] jkleinsc commented on #51
@wolfieorama the intention is that we add a configuration to set a system wide currency, so any monetary values put into the system would be in that currency.  I don't think HospitalRun should try to support multiple currencies in one location.

[2016-09-27 19:44] wolfieorama commented on #51
@jkleinsc @taras I will jump on another issue as that is sorted

[2016-09-27 19:47] #661 closed

[2016-09-27 19:48] #116 closed

[2016-09-27 19:59] taras opened #678 "System wide currency configuration"
**Expected behavior:**
We need to have a standard way to manage currency formatting for the entire application. We just merged #668 which provide a number field that we can use to allow users to input numbers. We could wire a new service into that input field to ensure that input values are sanitized correctly.

**Actual behavior:**
All locals are using $ as currency symbol.

Let's hash out all of

[2016-09-27 21:06] amyrlam commented on #540
@taras sure, sounds good, I'll take a look at that and reach out if questions

[2016-09-29 13:33] jkleinsc commented on #548
@billybonks in regards to the strings not being propagated to the ui, you are correct - the only place you would see them is in the ember inspector if you were looking at promises you would see the text there.

[2016-09-30 13:45] aayushsanghavi commented on #359
Sir, I would like to take up this issue. I am new to open source so your guidance would be appreciated.
Could you tell me where to start from and which files have these issues.

[2016-09-30 23:32] chantmich commented on #543
I can update the french translations

[2016-10-01 00:56] jmabry111 commented on #673
I'll work on this! 😄

[2016-10-01 01:39] billybonks commented on #673
👍

[2016-10-01 11:05] rahulrana95 commented on #673
I wamt to work on it . can you assign me this ?

[2016-10-01 13:32] xmudrii commented on #483
I'm trying now to make it works, will report how it goes, if problem arises :)

[2016-10-01 21:42] Eric-Arellano commented on #496
@jscottchapman just submitted [PR](https://github.com/HospitalRun/hospitalrun-frontend/pull/686) to fix this basic issue, but it opens up a new issue of false positives. Might be able to build off of my change?

P.S. sorry for my late reply! I hadn't seen this message

[2016-10-02 04:05] billybonks commented on #542
https://github.com/rwjblue/ember-template-lint/issues/99

[2016-10-02 05:43] billybonks opened #687 "Build acceptance test for admin.loaddb"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `admin.loaddb` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:44] billybonks opened #688 "Build acceptance test for admin.query"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `admin.query` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:44] billybonks opened #689 "Build acceptance test for appointments.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing appointments.search acceptance test

for ember new commers the value some.route is the route that's missing you can find them under router.js

[2016-10-02 05:45] billybonks opened #690 "Build acceptance test for appointments.today"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing appointments.today acceptance test

for ember new commers the value some.route is the route that's missing you can find them under router.js

[2016-10-02 05:45] billybonks opened #691 "Build acceptance test for appointments.missed"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `appointments.missed` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:46] billybonks opened #692 "Build acceptance test for inventory.barcode"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `inventory.barcode` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:47] billybonks opened #693 "Build acceptance test for inventory.barcode"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `inventory.barcode` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:47] billybonks opened #694 "Build acceptance test for inventory.delivery"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `inventory.delivery` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:48] billybonks opened #695 "Build acceptance test for inventory.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `inventory.search` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:48] billybonks opened #696 "Build acceptance test for invoices.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `invoices.search` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:49] billybonks opened #697 "Build acceptance test for medication.completed"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `medication.completed` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:49] billybonks opened #698 "Build acceptance test for medication.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `medication.search` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:50] billybonks opened #699 "Build acceptance test for patients.admitted"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `patients.admitted` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:50] billybonks opened #700 "Build acceptance test for patients.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `patients.search` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:51] billybonks opened #701 "Build acceptance test for pricing.search"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `pricing.search` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:52] billybonks opened #702 "Build acceptance test for print.index"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `print.index` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:52] billybonks opened #703 "Build acceptance test for procedures.index"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `procedures.index` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:52] billybonks opened #704 "Build acceptance test for visits.index"
In order to effectively use the no missing translations test, we need to make sure that every page is visited during acceptance tests.

This issue tracks the missing `visits.index` acceptance test

for ember new commers the value `some.route` is the route that's missing you can find them under router.js

[2016-10-02 05:53] #692 closed

[2016-10-02 14:20] BogdanAlexandru commented on #678
Does this not intersect (replace?) https://github.com/HospitalRun/hospitalrun-frontend/issues/314?

[2016-10-02 15:52] cybernet opened #705 "left menu is covering the content"
left menu should automatically hide, or open on a button tap

left menu is covering the content

**Steps to reproduce:**
Open the site in a mobile browser
**Screenshots (if applicable):**
![image](https://cloud.githubusercontent.com/assets/125879/19021765/5f1bddc4-88d1-11e6-947b-25e82ad43d72.png)

**OS and Browser:**
iOS & Safari

[2016-10-02 20:57] mafzst commented on #334
@jkleinsc @tangollama I can work on it

[2016-10-03 13:46] jkleinsc commented on #678
@BogdanAlexandru you are correct.  This is duplicate of #314.

@taras @wolfieorama I would like to close this as a duplicate of #314.

[2016-10-03 14:49] billybonks commented on #673
@rahulrana95 , @jmabry111 has already opened a pull request

[2016-10-03 16:41] tvanantwerp commented on #705
Also happens in Chrome DevTools emulation on Windows 10. I don't see any media queries that change how it looks at different breakpoints.

![image](https://cloud.githubusercontent.com/assets/2487968/19045357/64995cdc-8966-11e6-9501-1c255b35b60c.png)

[2016-10-03 20:50] WalterC87 commented on #705
To fix this, need some kind of button to hide the menu like @cybernet says, I'll be watching this issue today, just finish to install all dependencies to run the project.

[2016-10-04 20:47] #673 closed

[2016-10-05 01:32] TerryBeyak commented on #149
While this seems like a pretty substantial project to tackle as my first one, perhaps I can give this a shot?

[2016-10-05 05:33] akong commented on #463
@tangollama I'd like to pick this up if it isn't being worked on.

[2016-10-05 16:05] jkleinsc commented on #359
@aayushsanghavi thank you for your interest.  I believe this issue was mislabeled for hacktoberfest as I'm not sure there is anything to do here.

@jglovier isn't this a tracking issue vs a specific issue that folks can work on?  Not sure why it has the hacktoberfest label on it.

[2016-10-05 17:40] billybonks commented on #6
@matteddy i think adding a forgot password route here would work https://github.com/HospitalRun/hospitalrun-server-routes/blob/master/routes/30-auth.js.

perhaps `post '/auth/forgot'` would be an appropriate route

@jkleinsc  do you recommend a differen't route and a mailer ?

[2016-10-05 17:59] jkleinsc commented on #6
@billybonks @matteddy yes I think putting it in the auth route makes sense and `/auth/forgot` works.  As far as a mailer, maybe https://www.npmjs.com/package/nodemailer for flexibility but I am open to other suggestions.

[2016-10-05 20:08] donaldwasserman commented on #453
So i've been cruising around looking at how to best contribute. If you don't specify a size option, it returns a max of 10 results by default. If this is still and issue i'd be happy to dig through the application adapter to add in some sort of configurable size parameter.

Unless I'm way off here...

[2016-10-06 14:51] jkleinsc commented on #280
This is complete so I am closing it.

[2016-10-06 14:51] #280 closed

[2016-10-06 14:52] jkleinsc commented on #141
All issues complete.  Closing this issue.

[2016-10-06 14:52] #141 closed

[2016-10-06 15:39] jkleinsc commented on #453
@donaldwasserman it is yours if you want to tackle it.  You are correct that the search returns a max of 10 results by default and we just need to pass along a size parameter.  The only other caveat is that the search gets proxied via this: https://github.com/HospitalRun/hospitalrun-server-routes/blob/master/routes/20-searchproxy.js

If ElasticSearch isn't configured, this proxy performs a search

[2016-10-06 19:29] dinhvle commented on #631
Anybody working on this issue? I do have a suggestion regarding search, it's kinda hard to tell what you are searching for. It would be better if the search bar is move from the side bar to the main view pages.

[2016-10-06 19:55] broerse commented on #631
@dinhvle I am not working on this but we could now use `pouchdb-find`
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/bower.json#L19

[2016-10-07 02:40] donaldwasserman commented on #453
Cool - this is a really neat project and a really well-constructed application.

I was going to go with a sensible default of 100. Is that too much? Should it be configurable application-wide as well as per query?

[2016-10-07 06:16] wolfieorama commented on #631
@dinhvle I have just started on it, I like both suggestions

[2016-10-07 08:12] wolfieorama commented on #631
@mnorbeck does this apply for all the records, offline created records, or the synced record only ? I a asking because I am not able to exactly reproduce

[2016-10-07 09:39] migbar commented on #691
@billybonks, I was trying to pick up these missing acceptance tests issues, but then saw that some or most do in fact exist  https://github.com/HospitalRun/hospitalrun-frontend/blob/master/tests/acceptance/appointments-test.js#L27

So I am pretty sure I am missing something.

[2016-10-07 15:00] jkleinsc commented on #453
@donaldwasserman I think we should default it to 25, which is our current page limit.  Ideally we would make search work with paging, but I'm not sure how much work that would take.

[2016-10-07 15:12] jkleinsc commented on #631
@wolfieorama the issue is that currently the app tries to call /search/hrdb/ which cannot be reached while offline.  The bulk of the offline support is currently contained in our serviceworker code at /app/serviceworkers/pouchdb-sync.  The solution would be to add an intercept in /app/serviceworkers/pouchdb-sync for the server route /search/hrdb/ that tries to make the call server side and if that

[2016-10-07 22:15] donaldwasserman commented on #453
I'll update my PR.

Elastic search has some pagination stuff built in, but I've only used it with various php libraries that handled pagination for me.

I can explore that in some sort of future thing.

[2016-10-08 02:35] donaldwasserman commented on #236
Is there any existing functionality around this? Thinking about taking a stab at this.

[2016-10-08 02:50] tangollama commented on #236
None. The idea around this would allow us to imporg (from a service) a list
allergies. The concept is allowing the service to update the default list
of allergies vs. packaging it with the code.

On Friday, October 7, 2016, Donald Wasserman <notifications@github.com>
wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2016-10-08 09:46] donaldwasserman commented on #236
I'll take a stab at this.

Once #234 gets done, I'll take a stab at #235.

[2016-10-08 10:26] donaldwasserman commented on #236
I did a little bit of a dive into some of the available NIH-related medication apis and spent some time thinking about this.

Is this really a _medication_ service? Users be able to access a global list of medications for the user, inventory, and medication views.

Have I over-engineered a bit here or is this the desired outcome?

[2016-10-08 21:56] mdarmani commented on #572
Is this assigned? I don't see anyone assigned yet.

[2016-10-08 21:56] mdarmani commented on #485
Is this assigned? I don't see anyone assigned yet.

[2016-10-09 04:18] billybonks commented on #704
@jkleinsc i think this route is never visited so we can close this ?

[2016-10-09 04:18] billybonks commented on #703
@jkleinsc i think this route is never visited so we can close this ?

[2016-10-09 04:18] billybonks commented on #702
@jkleinsc i think this route is never visited so we can close this ?

[2016-10-09 04:19] billybonks commented on #697
i will do this

[2016-10-09 04:20] billybonks commented on #690
i will do this

[2016-10-09 04:20] billybonks commented on #689
i will do this

[2016-10-09 04:20] billybonks commented on #687
i will do this

[2016-10-09 04:20] billybonks commented on #688
i will do this

[2016-10-10 16:11] jkleinsc commented on #702
@billybonks yes... though should we remove it from router.js in order to make sure your testing for untested routes works?

[2016-10-10 16:11] jkleinsc commented on #703
@billybonks yes... though should we remove it from router.js in order to make sure your testing for untested routes works?

[2016-10-10 16:11] jkleinsc commented on #704
@billybonks yes... though should we remove it from router.js in order to make sure your testing for untested routes works?

[2016-10-10 16:13] jkleinsc commented on #572
@mdarmani @gnowoel is working on this.

[2016-10-10 16:13] jkleinsc commented on #485
@mdarmani @gnowoel is working on this.

[2016-10-10 16:14] jkleinsc commented on #485
I am going to close this as #667 addressed this issue.  #572 is closing the loop on making sure dups can't be entered.

[2016-10-10 16:14] #485 closed

[2016-10-10 16:49] dinhvle opened #719 "Show user even when add new user is cancel"
**Expected behavior:**
Should not show user when add user is cancel

**Actual behavior:**
User is being shown even if you cancel add user

**Steps to reproduce:**
1. Run HR locally with CouchDB v1.6.1
2. Log in as System Administrator
3. Go to Administrator > Users
4. Click + new user and cancel it
5. See a new user from User Listing

**Screenshots (if applicable):**
![screen shot 2016-10-10 at 11

[2016-10-10 17:05] yasirunilan commented on #572
is this one assigned? I would like to work on this.

[2016-10-10 17:06] jkleinsc commented on #572
@yasirunilan @gnowoel is working on this one.

[2016-10-10 17:18] mdarmani commented on #572
@jkleinsc Shouldn't they be assigned to this? I am looking for a Hackathon story to pick up. Or van we work on this as a trio?

[2016-10-10 18:00] jkleinsc commented on #688
@billybonks we should remove this route.  originally I was using it as a debug tool to query couchdb, but I think the route and corresponding files should be removed at this point.

[2016-10-10 18:01] jkleinsc commented on #678
Closing as duplicate of #314

[2016-10-10 18:01] #678 closed

[2016-10-10 18:01] jkleinsc commented on #596
@charlespeters are you still interesting in working on this?

[2016-10-10 18:04] charlespeters commented on #596
yep will fix tonight!
On Mon, Oct 10, 2016 at 11:02 AM John Kleinschmidt <notifications@github.com>
wrote:

[2016-10-10 18:04] #694 closed

[2016-10-10 18:15] jkleinsc commented on #572
@mdarmani I can't assign issues to outside contributors, so our workflow for issues is to remove the help wanted tag once someone starts working on it, so if you are looking for something to work on, take a look at the help wanted issues:
https://github.com/HospitalRun/hospitalrun-frontend/issues?q=is%3Aopen+is%3Aissue+label%3A%22Help+Wanted%22

[2016-10-10 18:22] mdarmani commented on #572
@jkleinsc Right thanks for the reply. Is this software currently being used by Cure International in Dubai? Is it ready to use? Seems like more development is necessary.

[2016-10-10 18:29] jkleinsc commented on #572
@mdarmani This software is currently being used by some CURE International Hospitals, but not the one in the UAE.  As far as ready to use, from our perspective, we are trying to get to a 1.0 by the end of the year, which we would consider in a state for general use.  You can use it as is right now, but we are actively adding new features.

[2016-10-11 14:51] kartik95 commented on #719
Hi, I would like to take up this issue. @tangollama

[2016-10-11 16:48] billybonks opened #722 "Show error when search fails"
**Expected behavior:**
Show error

**Actual behavior:**
Continues to search

**Steps to reproduce:**
- don't run elastic search
- login as  a non db admin user.
- navigate to users
- enter search term
- press enter

**Screenshots (if applicable):**
<img width="1436" alt="screen shot 2016-10-12 at 12 46 30 am" src="https://cloud.githubusercontent.com/assets/1640136/19279826/8eac44f2-9015-11e6-9ae6-

[2016-10-11 17:53] remotevision commented on #701
I can work on this.

[2016-10-11 17:53] remotevision commented on #700
I can work on this.

[2016-10-11 17:53] remotevision commented on #698
I can work on this.

[2016-10-11 17:53] remotevision commented on #696
I can work on this.

[2016-10-11 18:18] jkleinsc commented on #719
@kartik95 It's yours.  Thanks for pitching in!

[2016-10-11 19:12] #572 closed

[2016-10-11 20:16] jkleinsc commented on #696
@remotevision it's yours.  Thanks for contributing!

[2016-10-11 20:17] jkleinsc commented on #698
@remotevision it's yours. Thanks for contributing!

[2016-10-11 20:18] jkleinsc commented on #700
@remotevision it's yours. Thanks for contributing!

[2016-10-11 20:18] jkleinsc commented on #701
@remotevision it's yours. Thanks for contributing!

[2016-10-11 23:04] kartik95 commented on #569
Is anybody taking up this issue? If not, I would like to take up this issue. @tangollama

[2016-10-12 11:10] jscottchapman commented on #697
@billybonks  It looks like you are working on this one.  Is that right?  Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 11:12] jscottchapman commented on #569
@kartik95  It looks like you are working on this one.  Is that right?  Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 11:15] jscottchapman commented on #540
@taras @amyrlam  It looks like this one is in progress/being worked on.  Is that right?  Just wanted to make sure that someone didn't start working on the same issue unknowingly.

[2016-10-12 11:21] jscottchapman commented on #483
@xmudrii It looks like you are working on this one. Is that right? Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 11:25] xmudrii commented on #483
@jscottchapman I finished first part of it, showing file name after it is imported. It is in #685 .
I tried second task, but it was not going very well, also I'm bit out of time, so if you want to take over it, do it. :+1: :) Just write so I know someone another is doing it

[2016-10-12 11:30] jscottchapman commented on #377
@amyrlam  It looks like you are working on this one. Is that right? Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 11:36] jscottchapman commented on #236
@donaldwasserman  It looks like you are working on this one. Is that right? Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 11:41] jscottchapman commented on #149
@TerryBeyak It looks like you are working on this one. Is that right? Just wanted to make sure two people aren't working on the same issue unknowingly.

[2016-10-12 12:01] kartik95 commented on #719
I have a doubt, siince documentation is not present in each file (which I would strongly recommend to have). In the 'edit-panel.hbs' component, what is the difference between cancelButtonText and cancel? Anyways, both are performing the same action 'cancel'.

![screenshot from 2016-10-12 17 27 27](https://cloud.githubusercontent.com/assets/7141290/19309292/a09a6f5e-90a1-11e6-8e7e-588a93c0327e.png)

[2016-10-12 12:50] jkleinsc commented on #90
There is a custom component called `custom-form` available in the app that is currently being used to add custom form elements to the social work tab.  Right now this requires creating a document directly in couchdb with the id `option_2_custom_form_social`.  The form definition used is defined here:
https://github.com/HospitalRun/hospitalrun-frontend/wiki/Custom-Form-Component

The outstanding is

[2016-10-12 12:51] jkleinsc commented on #65
This feature should be implemented using the custom-form component available in the app:
https://github.com/HospitalRun/hospitalrun-frontend/wiki/Custom-Form-Component

[2016-10-12 14:17] gnowoel commented on #719
@kartik95 Perhaps we could fix the problem in either of the two ways:

* only displaying the persistent records in the `index` action, or
* pruning unsaved records when leaving the `new` action.

My personal preference is the latter, which is removing the unsaved new records. But I can be wrong since I'm also new to Ember.

[2016-10-12 14:21] jkleinsc commented on #719
@kartik95 the reason for the two is that you can override what text appears for the cancel button on an edit screen by setting the cancelButtonText in your controller.  In the case of the edit controller for the user edit screen, it is extending app/controllers/abstract-edit-controller which defines cancelButtonText as a computed property that displays either Cancel or Return depending on the stat

[2016-10-12 14:48] jkleinsc commented on #719
@kartik95  So here is what is happening.  I'll try to go into some detail, so forgive me if some of this information is obvious.  The user edit route is defined here:
https://github.com/HospitalRun/hospitalrun-frontend/tree/master/app/users/edit

If you take a look at the template for this route:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/users/edit/template.hbs

You will

[2016-10-12 14:55] jkleinsc commented on #719
@kartik95 Here is the TLDR of what needs to be fixed here:
1) In https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/edit-panel.js
   a) Add the following here: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/edit-panel.js#L3:
[code]
   b) Change https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/edit-panel.js#L7

[2016-10-12 15:00] amyrlam commented on #540
@jscottchapman I'm working on this one! I'll try to report back soon

[2016-10-12 15:03] amyrlam commented on #377
@jscottchapman hi! I have a branch https://github.com/amyrlam/hospitalrun-frontend/tree/amyrlam/no-modal, but since I have another issue in work, feel free to give to someone else. You could run my branch locally to see a demo. @jglovier mentioned moving the notification above the button (right now it's at the top center of the page)

[2016-10-12 15:11] jkleinsc commented on #540
@amyrlam thanks for the update.  I'm going to mark this item as in progress then.

[2016-10-12 15:18] kartik95 commented on #719
You pretty much explained the whole issue. Thanks a lot :smile:
I'll get to it. Also, will this issue carry a 'Hacktoberfest' label?

[2016-10-12 15:47] kartik95 commented on #719
Fixed the bug. PR #729

[2016-10-12 17:30] sanketmaru commented on #699
I can work on this.

[2016-10-12 18:08] jkleinsc commented on #719
@kartik95 thanks for contributing.  I added the hacktoberfest label.

[2016-10-12 18:10] #719 closed

[2016-10-12 18:43] jkleinsc commented on #699
@sanketmaru it's yours to work on.

[2016-10-12 20:22] jkleinsc opened #731 "Syncing for offline use not working"
**Expected behavior:**
When a user is online records should be synced to the user's browser for offline use.
**Actual behavior:**
Records are not synced for offline use.
**Steps to reproduce:**
1. Make sure you don't have offline records already synced.  Make sure the app isn't running in any tabs and then you can clear out any offline data stored by going to chrome://settings/cookies in a Chrome

[2016-10-12 20:25] jkleinsc commented on #731
Just a couple notes about this issue:

1.  Syncing/offline use is limited to browsers that support serviceworker and Chrome is the preferred browser to use for offline use.
2. The synchronization code is all encapsulated here:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/serviceworkers/pouchdb-sync.js

Solving this issue requires knowledge of PouchDB and serviceworkers.  If

[2016-10-12 20:39] btecu opened #732 "Cleanup based on `ember-suave` rules"
Continuation of #724.

**Plan**
Currently, all failing rules are turned off.
The plan is to go and fix all of the errors that the core maintainers agree on and submit those in individual (smaller) pull requests for faster merging and to avoid conflicts.

**Changes proposed**
- [x] array-bracket-spacing: `[ 1, 2 ]` -> `[1, 2]` #733
- [ ] camelcase: `some_ember_function` -> `someEmberFunction`
- [x]

[2016-10-12 20:55] jkleinsc commented on #732
Thanks @btecu!

[2016-10-13 01:57] agileraymond commented on #695
I can work on this issue.

[2016-10-13 08:25] kartik95 commented on #569
So, what I get is that we need to have add or update buttons always on the top and 'new user' button not required while editing or creating a user. Right? @ShadabQ @jglovier

[2016-10-13 09:57] yasirunilan commented on #722
can i work on this issue

[2016-10-13 13:26] jkleinsc commented on #722
@yasirunilan it is yours to work on.  Thanks!

[2016-10-13 13:27] jkleinsc commented on #695
@agileraymond it is yours.  Thanks!

[2016-10-13 14:26] #596 closed

[2016-10-13 16:44] gnowoel commented on #45
Not sure if it's what @jkleinsc experienced, but the pagination buttons will indeed mess up the patient list when using descending order of a field.

To produce it, please visit the [Patient Listing](https://beta.hospitalrun.io/#/patients) page on the Beta site, and then:

  * Click twice the `Id` header to sort the items in descending order
  * Click the Next button (the right arrow in the table

[2016-10-13 19:52] yasirunilan commented on #722
thanks,, i'll be looking into this

[2016-10-14 03:39] aszx87410 commented on #693
I can work on this.

[2016-10-14 04:31] aszx87410 commented on #693
Already submitted the PR, please let me know if there is any problem.
thanks.

[2016-10-14 10:14] donaldwasserman commented on #236
@jscottchapman I was planning on working on this, but I got a little sidetracked by a different project. Unless you're working on it, I was going to take a stab at it this weekend.

[2016-10-14 11:51] jscottchapman commented on #236
@donaldwasserman It's all you!  👍

[2016-10-14 14:32] rafajaques commented on #543
Need help with portuguese?

[2016-10-14 17:17] #45 closed

[2016-10-14 17:21] #693 closed

[2016-10-15 15:44] yasirunilan commented on #551
can i work on this?

[2016-10-15 15:45] yasirunilan commented on #543
Can I work on this?

[2016-10-15 16:10] tangollama commented on #543
Go for it.

On Saturday, October 15, 2016, yasirunilan <notifications@github.com> wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2016-10-15 17:51] yasirunilan commented on #705
can i work on this?

[2016-10-16 18:49] ShadabQ commented on #569
@kartik95  you may find the suggestions over here
https://github.com/HospitalRun/hospitalrun-frontend/pull/656

[2016-10-17 06:32] gnowoel commented on #731
I'd like to try fixing this if no one else does. Not sure how long it'll take since I'm new to both PouchDB and Service Workers.

[2016-10-17 07:31] mdarmani commented on #569
@kartik95 were you able to complete this one?

[2016-10-17 07:39] mdarmani commented on #731
@tangollama I'd like to pick this one up

[2016-10-17 07:51] mdarmani commented on #543
@tangollama do you also need for dutch?

[2016-10-17 08:03] mdarmani commented on #543
@billybonks 3. and 6. are not similar to the rest in the group, namely "wish" and "want". Change all to wish?

[2016-10-17 09:55] mdarmani commented on #731
@jkleinsc I closed all the tabs while server was running, then cleared all the localhost cookies. I already had some entries so I didn't use the test data. Left the app running for 5 mins. Turned off the server and the records are still showing.

![image](https://cloud.githubusercontent.com/assets/11878060/19433333/8fea6020-9460-11e6-9cf7-7d9c2f5d7bf8.png)

[2016-10-17 10:02] mdarmani commented on #149
@TerryBeyak Hi Terry, how is this one going for you?

[2016-10-17 11:10] mdarmani commented on #542
@tangollama I am looking into this one today

[2016-10-17 14:10] gnowoel commented on #731
@mdarmani Perhaps you could also check [this discussion](https://hospitalrun.slack.com/archives/general/p1476191301000309) out. I can confirm the problem mentioned.

[2016-10-17 14:21] TerryBeyak commented on #149
@jscottchapman @mdarmani I unfortunately think I bit off more than I can chew on this one, so if someone else wants to take it on, they should feel free. 😞

[2016-10-17 14:21] jkleinsc commented on #463
@akong I just saw this issue because of your PR... unfortunately this is something I have been working on for a while under a branch https://github.com/HospitalRun/hospitalrun-frontend/tree/outpatient

I was unaware of this ticket, but at this point this issue isn't available to be worked on.

[2016-10-17 15:15] mdarmani commented on #542
Here are the rules of using ember-template-lint: https://github.com/rwjblue/ember-template-lint/#rules

[2016-10-17 15:42] #453 closed

[2016-10-17 16:23] jkleinsc commented on #731
@mdarmani since @gnowoel asked first, I'd like to give @gnowoel this issue  @gnowoel it is yours unless for some reason you have changed your mind about it.

A couple of notes:
1) Serviceworkers do not run on a hard refresh (eg cmd+shift+r/ctrl+shift+r)
2) I suspect the issue may be tied to an upgrade to a newer version of PouchDB.  We recently upgraded from 5.3.2 to 5.4.5
3) Part of the issue may

[2016-10-17 16:31] gnowoel commented on #731
@jkleinsc Thanks for your guidance! Will check it out.

[2016-10-17 16:43] jkleinsc commented on #543
@mdarmani @yasirunilan asked to work on it first and @tangollama agreed.  I am going to move it to in progress with @yasirunilan working on it.

 The main issue here is to actually move from the multiple messages to just these 3:
[code]
This will require changing the translation files as well as changing everywhere these messages are called.

[2016-10-17 16:44] jkleinsc commented on #551
@yasirunilan @wolfieorama is currently assigned to this issue.

@wolfieorama are you working on this?

[2016-10-17 16:45] jkleinsc commented on #705
@yasirunilan you can work on this, but please ping @jglovier on any UI changes you make here.

[2016-10-17 16:53] wolfieorama commented on #551
@jkleinsc yes should be next in line

[2016-10-17 20:38] mdarmani commented on #542
Didn't come further with this today. Changes need to be made to the [Ember Template Lint](https://github.com/rwjblue/ember-template-lint/ ) project to accommodate the change.

[2016-10-18 15:35] billybonks commented on #543
@jkleinsc  is correct

[2016-10-18 16:13] yasirunilan commented on #543
yeah I'm working on this

[2016-10-18 18:46] yasirunilan commented on #551
I'm working on it

[2016-10-18 18:48] wolfieorama commented on #551
cool no worries

[2016-10-19 19:05] jkleinsc opened #754 "Track appointment fulfillment on visit"
We need a way to track on a visit if that visit is a fulfillment of an appointment.
On visit creation if there is an appointment for that date, we should mark the appointment as satisfied and mark the visit as having an appointment.

[2016-10-20 19:11] jkleinsc commented on #569
There have been a couple PRs against this issue and I've come to the realization that this issue really needs some better requirements and/or architectural design before work is started on it.  I am pulling off the help wanted/hacktoberfest labels off of this issue until we can sort out architecturally/UX/requirements wise what we want to do.  Please don't work on this issue until this has been cl

[2016-10-20 19:23] jkleinsc opened #757 "Fulfillment of orders indicator on outpatient list"
On the outpatient list there needs to be an indicator that all orders for a visit have been completed.

[2016-10-20 19:32] jkleinsc opened #758 "Operative plan for patients"
SEE link below for the updated requirements.

There is a need to create operative plans OpPlans for patients.

1. There will be only one active or open Operative plan (OpPlan) per patient.
2. Operative plans will be created during a visit, so some UI control is needed to create them on a visit page.
3. Although OpPlans are created during visits, they should be associated with the patient, and it n

[2016-10-20 19:38] jkleinsc opened #759 "Clinic Visit Report/Admissions Form"
There is a need to create a printable clinic visit report/admissions form with the following information obtained during a clinic visit:
1. ID
2. First Name
3. Last Name
4. Date of Visit
5.  H & P from the visit  (minus medical history)
   1. chief complaint/reason for visit
   2. history of present illness
   3. Allergies
   4. Medications currently on
   5. Vitals
6. Labs results (if performed)

[2016-10-20 20:13] jkleinsc commented on #234
Closed by #679

[2016-10-20 20:13] #234 closed

[2016-10-20 20:19] jkleinsc commented on #235
Since part of this issue is to Change Visits edit route to allow editing allergies, I suggest what happens is that there is a way to edit the allergies directly in the patient summary header when on the visit screen versus having separate fields on the visit form to collect allergies.

[2016-10-20 20:28] jkleinsc opened #760 "Add calendar view to appointments"
We need to add a calendar view.  This calendar view should support a weekly view and a daily view.
Like the appointment search (/appointments/search), you should be able to filter on:
Doctor
Type
Location

On the calendar the following items should display with a link to appointment details:

First Name
Last Name
Doctor to be seen

[2016-10-20 20:42] jkleinsc opened #761 "Add theatre scheduling"
We need to add theatre scheduling to the app.  Theatre scheduling is very similar to appointments and can probably reuse some of the appointment code.  The major difference between appointments and theatre scheduling is that a theatre "appointment" is tied to a procedure/operative plan.

This issue is also dependent on #760 which will add a calendar view to appointments.

Requirements can be found

[2016-10-20 20:43] gnowoel commented on #731
@jkleinsc No fix yet. Just some random findings :)

In my experiments, I tried to directly wire the local Pouch to the remote Couch, but the problem still persists. Considering the [requests triggered within a service worker](https://github.com/w3c/ServiceWorker/blob/master/explainer.md#network-intercepting) will not go through the proxy routes, I guess the reason should not be self-syncing.

From

[2016-10-20 20:57] jkleinsc commented on #731
@gnowoel thanks for the research.  The local db created in the web page https://github.com/HospitalRun/hospitalrun-frontend/blob/5b1b9288006a17e4bda2ed8b63bbeb21459c07a6/app/services/database.js#L52 is only a fallback for non service worker browsers and should never fire if seviceworkers are working.  I guess we could verify whether or not this is happening or not via console.log or debug.

The co

[2016-10-21 15:06] jkleinsc commented on #731
@gnowoel I just retested this and everything worked correctly for me offline.  Can you retest and see if it works for you with the latest?

[2016-10-22 07:30] lijulat opened #765 "Not Moving Beyond Login Screen"
I have forked the latest repo .

I have followed the readme to set up the application.

As npm start was throwing error (Windows) I had to use ember serve.

I get the login screen but when i enter the credentials and click sign in ,it doesn't move beyond the login screen.

Note: If I enter wrong password ,i get the incorrect user name password message.

[2016-10-24 15:58] jkleinsc commented on #765
@lijulat do you know what version of CouchDB you are running?

[2016-10-24 17:27] gnowoel commented on #731
@jkleinsc In my case, the initial syncing always work, but the subsequent changes from either end won't be populated to the other one. I'm experimenting with [a minimal setup](https://github.com/gnowoel/pouchdb-in-service-worker) (only `index.html` and `sw.js`) with various combinations, but I haven't got an answer for now.

[2016-10-24 18:23] suresach commented on #761
@jkleinsc Hi John, Can I take up this? :)

[2016-10-24 20:03] jkleinsc commented on #761
@suresach sure!  Go for it!

[2016-10-25 14:59] gnowoel commented on #731
@jkleinsc I still see the same problem in my mini setup. It's works for the initial replication, but nothing happens on data change afterwards.

Before testing, I first clear the data and unregister any existing Service Worker. Then I do a hard reload (`Shift-Command-R`) followed by a normal reload (`Command-R`). When the Service Worker is running, I manage the local PouchDB through the exposed `l

[2016-10-25 15:45] jkleinsc commented on #731
@gnowoel as far as I can tell [`sw.js`](https://github.com/gnowoel/pouchdb-in-service-worker/blob/master/sw.js) looks ok.

I asked on the PouchDB slack about this issue and here is what Nolan Lawson (one of the PouchDB maintainers) had to say:
From https://pouchdb.slack.com/archives/general/p1477069584001156
nolanlawson [1:06 PM]
jkleinsc I've never heard of that before, but in principle SWs can b

[2016-10-25 15:51] jkleinsc commented on #757
This was completed as part of 13d048da43224bfb04acc47ea36209a3c4366c26

[2016-10-25 15:51] #757 closed

[2016-10-25 16:48] broerse commented on #731
Not sure about this but perhaps check if the ember-pouch `unloadedDocumentChanged` is fired when records should sync?

[2016-10-25 19:01] #754 closed

[2016-10-26 15:51] gnowoel commented on #731
Nolan Lawson's suggestion is truly inspiring. Will see what I can do with the one-shot approach.

[2016-10-27 08:11] lijulat commented on #765
couch db 2.0

[2016-10-27 13:19] jkleinsc commented on #765
@lijulat I think that is the problem.  There was an issue with the Couch 2 init script that I recently fixed.  If you get the latest from git and rerun `./script/initcouch2.sh`, it should hopefully correct the problem.

[2016-10-28 04:42] broerse commented on #765
If you are on the latest windows 10 you can enable `Windows Subsystem for Linux (Beta)` to get the bash prompt to run .sh scripts.

[2016-10-28 07:50] gnowoel commented on #731
@jkleinsc I managed to make the Background Sync approach basically work and here's how.

In the web page:

  * Create local and remote databases
  * Sync databases for the first time
  * Watch for changes and trigger `sync` events
  * Register a service worker

And in the service worker:

  * Create local and remote databases
  * Capture the `sync` event and sync databases

This arrangement howeve

[2016-10-29 10:17] donaldwasserman commented on #235
I'm taking a stab at this as well, but would it be better to do this on the patient information view or the visit view?

(I only say that because I just added it on the patient information screen, but it can be an easy copy and paste over)

[2016-10-31 17:27] jkleinsc commented on #235
@donaldwasserman it should be added to the patient summary component:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/templates/components/patient-summary.hbs

This component displays on both the patient screen as well as the visit screen.

The allergies need to be editable from the visit screen, but making it editable on the patient screen is probably a good idea too.

[2016-10-31 18:02] donaldwasserman commented on #235
I have the stuff setup as a component to jam in wherever.

@jkleinsc I'll have some stuff I want you to look at this week. (Day care-related illnesses cut back on some of my available time/willingness this weekend). It's not going to be finished, but want to get some feedback to make sure I haven't gotten too far afield.

What's the best way to share some of that code with you?

[2016-10-31 18:08] jkleinsc commented on #235
Thanks @donaldwasserman... sorry about the illnesses... sick kids are no fun!

As far as sharing the code, just create a pull request but specifically state that it is in progress (I'll add a label as well), so that it doesn't accidentally get merged in.  Github PR's now have a nice review process so we can use that as well if you put in in a PR.

[2016-10-31 18:25] jkleinsc commented on #731
@gnowoel thanks for your work on this.  I have a couple comments:

1. Ideally the local pouchdb should only be in the SW.  I'd like to see some more details about the sync failing in the SW.
2. I think the solution for this problem will probably require a multi faceted approach using background sync as well as possibly using the push API (eg https://serviceworke.rs/push-simple.html)
3. I think ins

[2016-11-01 07:26] Bilal-io opened #783 "class .active on the nav is seen in multiple items at once"
**Expected behavior:**
To have the class .active only on the active item
**Actual behavior:**
the class stays on other nav items even after another item is clicked.
**Steps to reproduce:**
Go to Patient, now we have "patient listing" with the class. Then we click "Reports" now both items have the class
**Screenshots (if applicable):**

**OS and Browser:**
MacOS Sierra 10.12.1 and Chrome Version 54

[2016-11-01 12:48] ivanlori commented on #377
@tangollama , Hi I am new on this project, I would like to work on this, can I?

[2016-11-01 15:49] jkleinsc commented on #377
@ivanlori it is yours to work on.

[2016-11-03 14:54] BogdanAlexandru commented on #760
I can take this one if nobody minds.

[2016-11-03 15:06] jkleinsc commented on #760
It's yours @BogdanAlexandru.

[2016-11-08 20:29] jkleinsc opened #788 "Custom form editor"
HospitalRun currently has a component to allow custom forms to be added to screens, but there is no way to edit/create custom forms.

A new administrative function needs to be created to allow creation and editing of custom forms.  Those custom forms should be managed by type so that you can add multiple custom forms for different object types.  At the very least the following custom form types ar

[2016-11-08 20:29] jkleinsc commented on #788
I am working on this one.

[2016-11-08 20:38] jkleinsc opened #789 "Allow Visits to have custom forms attached to them"
Once #788 is complete, we need a way to attach multiple forms to a visit.

[2016-11-08 20:40] jkleinsc opened #790 "Customizable Print Header"
We need a configuration screen where we can specify a header image and text to include when printing from HospitalRun.  Those configurations should be read/used by the print-this component

[2016-11-08 21:35] jkleinsc opened #791 "Add Discharge Report"
We need a discharge report added to the system.  This report should be created using custom forms (once #788 is complete)

Requirements can be found here:
https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Discharge-Report

[2016-11-08 22:00] jkleinsc opened #792 "Add Operation Report"
We need an operation report added to the system. This report should be created using custom forms (once #788 is complete)

Requirements can be found here:
https://github.com/HospitalRun/hospitalrun-frontend/wiki/Requirements:-Operation-Report

[2016-11-10 01:12] jglovier opened #794 "CSS Refactoring"
It's time to level up our CSS game. Our current CSS is not up to best practices for CSS authoring, and has a lot of room to improve it with some newer CSS approaches that have developed since I started writing the CSS a few years ago. There has a number of problems, or areas for improvement. Here are the highlights:

### Problems
- currently the CSS is unwieldy and inconsistently organized
  - thi

[2016-11-10 03:25] #134 closed

[2016-11-10 17:32] jkleinsc commented on #731
@gnowoel I have been meaning to get back to you on this but I have been pretty buried lately.  Here's an update based on learnings from Offline Camp.

1. It turns out that periodic sync is not supported by any browsers at the current time, so it is not an option for a solution.

2. One of the reasons that my original solution was not working is because global scope in a serviceworker is unreliable

[2016-11-11 01:01] SheriefAlaa opened #798 "Build Error "The Broccoli Plugin: [StyleLinter] failed""
**Expected behavior:**

Run hospitalrun-frontend

**Actual behavior:**

Build Error. Log ahead..

[code]

**OS and Browser:**

Chrome. Ubuntu 14.04 vagrant box on OS X.

[2016-11-11 01:28] SheriefAlaa commented on #798
I downgraded node from version 7.0.0 to 6.0.0 then rebuild node-sass and still get the same build error.

[2016-11-11 13:59] jkleinsc commented on #798
@SheriefAlaa thanks for filing the issue.  I can reproduce and I will take a look at it.

[2016-11-11 16:39] #798 closed

[2016-11-11 16:41] jkleinsc commented on #798
@SheriefAlaa if you get the latest from master this problem is now fixed.

[2016-11-11 18:16] SheriefAlaa commented on #798
Still experiencing issues even after git pull on master, npm install (I made sure stylelint got updated).

error log:

[code]

Thanks for you help.

[2016-11-12 03:10] SheriefAlaa commented on #798
@jkleinsc Seems it all started here: https://github.com/billybonks/broccoli-stylelint/issues/18

I ran npm test and here's the output:

[code]

[2016-11-12 12:18] jkleinsc commented on #798
@SheriefAlaa my apologies.  I thought it was fixed, but @billybonks needed to publish a new version of https://github.com/billybonks/ember-cli-stylelint which he has now done and that version has now just been updated in HospitalRun, so the problem should now be fixed.  Let me know if it still persists after getting the latest from master.

[2016-11-12 17:51] SheriefAlaa commented on #798
@jkleinsc HR now runs on my local machine just fine using master. Thanks for your and @billybonks '.

[2016-11-14 13:59] anjayajodha opened #801 "/db/* routes are not properly redirected when deployed outside of ember serve."
**Expected behavior:**

After ```ember build -prod``` is run and the files from ```/dist``` are copied to an Apache or IIS server that has been configured to redirect all nonexistent URLs to index.html, I should be able to login.

**Actual behavior:**

Any request to http://{url}/db/* is not redirected and I am unable to login. I can only login from a server started using ```ember serve```.

What

[2016-11-14 14:39] SheriefAlaa opened #802 "Database routes are incorrect or missing custom port."
**Expected behavior:**

To login into Hospital run.

**Actual behavior:**

jquery.js:9536 POST http://10.4.4.58/db/_session 404 (Not Found).

**Steps to reproduce:**

Setup couchdb, change the ip and port (mine are 10.4.4.58:8888)
edit server/config.js to have something similar to this:
[code]
Setup Hospital run (that includes ./script/initcouch.sh sherief 991199 which was successful), build it, r

[2016-11-14 15:15] jkleinsc commented on #801
@anjayajodha if you are intending to run in a production environment (eg outside of `ember serve`), you need to use the https://github.com/HospitalRun/hospitalrun-server project.  The hospitalrun-server project is the one for production deploys and contains all the routes you need.  Also, you do not need IIS or Apache as the server runs via node.js

[2016-11-14 15:38] #801 closed

[2016-11-14 15:51] jkleinsc commented on #802
@SheriefAlaa I just tested this and it works correctly for me.  The one thing that stands out for me is that the POST is going to port 80 instead of port 4200?  According to your config, your app is running on port 4200, so the post to the DB should be  http://10.4.4.58:4200/db/_session

Can you further debug this issue by adding the following lines to the bottom of your config.js?
[code]
One you

[2016-11-14 20:19] anjayajodha commented on #801
@jkleinsc Thanks for the clarification! I hadn't read the documentation for each repo correctly. It's working beautifully now.  Cheers!

[2016-11-14 20:55] SheriefAlaa commented on #802
@jkleinsc Using ```ember serve``` I was able to run Hospital Run but when I logged in there was nothing to do. I clicked the + sign next to Hospital Run and nothing happened. Also, the nav left nav bar has no elements.

Here's the output of the console.log messages:
[code]

I have provided few screenshots to clarify:
https://www.dropbox.com/sh/vi4sea2fk87w8de/AAB9Ctw2lz7vVw8eo6bhq88Sa?dl=0

Questi

[2016-11-14 21:21] jkleinsc commented on #802
@SheriefAlaa you should use https://github.com/HospitalRun/hospitalrun-server for production use.  It uses node.js for the webserver but if you really want to run it through nginx I'm sure you could proxy it through nginx.  https://github.com/HospitalRun/hospitalrun-frontend is just the frontend of HospitalRun and really you only should be running `ember serve` for development purposes.

As far as

[2016-11-14 21:29] SheriefAlaa commented on #802
Alright, thanks a ton for your timely replies.

[2016-11-14 21:29] #802 closed

[2016-11-14 21:33] amyrlam commented on #732
Hi, I'll take this one for now if that's ok?

aka remove `"disallowDirectPropertyAccess": null`

[2016-11-14 22:09] btecu commented on #732
@amyrlam Yes, go for it. 😄

[2016-11-15 01:24] amyrlam commented on #732
@btecu cool thanks, started a branch

[2016-11-15 11:41] gnowoel commented on #731
@jkleinsc Thanks for the update and sorry for my late. I haven't got a chance to look into this issue until today.

The Background Sync approach used to work in my [test app](https://github.com/gnowoel/pouchdb-in-service-worker), but somehow the sync events are never triggered in today's experiments. So, before I can figure out how to integrate Push API and other ideas you mentioned above, I'd lik

[2016-11-15 14:29] gnowoel commented on #731
@jkleinsc I couldn't get Background Sync working again. So I downloaded the official [Background Sync demo](https://github.com/WICG/BackgroundSync/tree/master/demo) and hoped to find out where I did wrong. But to my surprise, the app failed on all Chrome, Opera and Firefox on my localhost. And when it failed, Chrome didn't output any error message.

However, the [online version](https://wicg.githu

[2016-11-15 15:56] jkleinsc commented on #731
@gnowoel one thing I forgot to mention is that Background Sync is only currently supported in Chrome, so until other browsers implement it, it won't work there.

As far as the demo not working, that is strange.  Maybe it had to do with running on localhost?  The one thing I observed was that I needed to toggle my internet connection in order to test the background sync vs just turning off the web

[2016-11-16 11:15] garylm commented on #760
Date Format Question:  Since a lot of countries use a date format of DD/MM/YYYY vs MM/DD/YYYY should the format be an option/setting?

[2016-11-16 15:29] jkleinsc commented on #760
@garylm HospitalRun uses [Moment.js](http://momentjs.com/) to do date formatting, in particular we use the locale formatting options available.  See http://momentjs.com/docs/#/displaying/format/, in particular the subsection there titled "Localized formats".

[2016-11-16 16:00] gnowoel commented on #731
@jkleinsc Toggling network connection did the trick (Guess it's becuase of my VPN or something). Now the `sync` events get fired normally. Thanks!

(To run the Background Sync [demo app](https://github.com/WICG/BackgroundSync/tree/master/demo) locally, I also need to adjust the [scope](https://github.com/WICG/BackgroundSync/blob/7b092c41b27a35440bd7b61275c149cae5908afc/demo/index.html#L36) when re

[2016-11-16 16:24] jkleinsc commented on #731
@gnowoel I think maybe a little background might help explain things further.
When I first started working on HospitalRun, I started off with the local database being the primary database that would then sync changes to the remote CouchDB.
What I found out was that when the dataset started to get large, clients were having trouble syncing, so I ran into issues where users had changes locally that

[2016-11-16 16:39] gnowoel commented on #731
@jkleinsc Yes, it makes sense. Thanks for the detailed explanation! Will see what I can do...

[2016-11-17 11:39] garylm opened #812 "Appointments Error with date range End Time, never displays"
**Expected behavior:**

Allow selecting End Time Minutes on Appointments.

**Actual behavior:**

1) All types of appointments fail to display the selected minutes.
2) Clinic Appointments fail to save because of lack of end time minutes, even after the minutes have been selected.
   *** Only happens on fresh load of module.  Any additional appointment works as 1) above.

**Steps to reproduce:**

-

[2016-11-17 13:20] garylm opened #814 "New Medication Request - Fails to accept selected medication"
**Expected behavior:**

When making a New Medication Request, you should be able to type either the Item# or the Medication Name to select a medication.

**Actual behavior:**

Using sample data, typing 'm' or 'c' will cause a drop down selection choice of m00001/Cefrazolin.  However, selecting the item will cause an error 'Please select a valid medication'.

The same result happens if I create a n

[2016-11-17 13:21] BogdanAlexandru commented on #814
Similar behavior can be seen when adding a new appointment, and trying to reference the patient via his ID instead of the name.

[2016-11-17 13:50] BogdanAlexandru opened #815 "Editing appointments seems to display old data/wrong button labels at times"
**Expected behavior:**
I can view the latest (correct) appointment data.
The Cancel/Return button does not change labels.

**Actual behavior:**
Sometimes I see appointment data from a previous edit.
The Cancel/Return button changes labels.
When clicking Cancel, I see new data pop in before being taken away.

**Steps to reproduce:**
1. Create an all day appointment.
2. Edit the appointment, make it

[2016-11-17 13:55] BogdanAlexandru commented on #815
Edited to provide local behavior gif. It seems to happen consistently locally. On the online beta I haven't had luck with the All Day -> Not All Day update repro steps, but the Cancel/Return bug shows up for other appointments.

[2016-11-17 14:48] mnorbeck commented on #61
FYI.  When considering off-line, we need to nail the issue of generating patient IDs while off-line.   @jkleinsc and I kicked this around a bit.   Just noting it here for a reminder.

[2016-11-17 15:53] mnorbeck opened #816 "Upgrade Diagnoses"
The existing functionality around diagnostics needs to be updated.   The desired behavior would be:

1. When entering a diagnosis, either directly at the patient level, or in a visit, the doctor needs to be able to add and delete one or more primary and secondary diagnoses.   Further, any diagnoses can be made inactive (i.e. the condition was treated, and is no longer present).

2. Currently diagn

[2016-11-17 15:54] mnorbeck commented on #816
@jkleinsc can you please review and critique?

[2016-11-18 15:11] BogdanAlexandru opened #817 "Can manually delete required End Date value in a new appointment and still save it"
**Expected behavior:**
If End Date is required, it should not allow me to save the appointment after manually deleting the value in it.

**Actual behavior:**
I can manually delete the End Date and save the appointment.

**Steps to reproduce:**
1. Create a new appointment with some values EXCEPT End Date (leave it on all day).
2. Try to save it.
3. Notice that you get the warning popup, because End

[2016-11-18 15:14] BogdanAlexandru commented on #817
My thoughts on this:

- The date picker fields could be made uneditable w/o the datepicker control.
- If the event is All Day, why do we have an End Date field? All Day means the End Date is the end of Start Day.

[2016-11-18 16:04] mnorbeck commented on #816
@jkleinsc if this is good to go, do we need to label it for 1.0, and put it on the project board?

[2016-11-18 20:48] BogdanAlexandru commented on #760
### Info on progress:
![Pic](http://i.imgur.com/AapLLRp.png)
I've used [FullCalendar](https://www.npmjs.com/package/ember-fullcalendar) for this. As far as features are concerned, the only thing left to do is filtering. Plenty left in the testing and polishing area though.

A neat thing to add I think would be double-clicking a day in the calendar to start a new appointment creation at that day, b

[2016-11-19 11:19] garylm commented on #760
So.... Does this imply there will be a 'calendar  date format' setting?

[2016-11-21 15:56] jkleinsc commented on #760
@garylm there doesn't need to be a calendar date format setting.  Moment.js' localized format allows us to display dates localized to the user's locale.

[2016-11-21 17:14] gnowoel commented on #731
@jkleinsc I updated the code with PR #820. It's by no means a complete solution, but I was thinking if we could:

  * fix the upfront bug first, and
  * make as few changes as possible.

What I did is just making Background Sync work, and in my simple tests, the problem seems to be fixed.

My implementation looks somewhat naive, because I use global variables for sharing database instances. There

[2016-11-21 20:09] garylm commented on #760
So how do we set the user's locale?

[2016-11-23 16:29] jkleinsc commented on #760
@garylm I was under the impression that momentjs automatically set the user's locale based on the user's browser using navigator.language (https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language), but it turns out that we need to add code to do that, eg:
[code]

[2016-11-24 16:29] garylm commented on #760
The reason I was asking is that I have spent the last 3 months in Europe and I have yet to have any web form default to the European date format.

[2016-11-27 05:10] marcorosas1991 opened #824 "'+ new item' allows negative numbers."
Is there a reason for allowing negative quantities when adding a new item on the system?
Playing with the form, it doesn't accept 0 as a quantity, but it allows negative numbers.

**Expected behavior:**
It should prevent entering negative numbers on the form.

**Actual behavior:**
Negative numbers can be inputted on 'new item form', and saved to inventory.

**Steps to reproduce:**
- Open and login

[2016-11-29 11:50] aalasolutions opened #828 "Dead link on landing page of your site"
Hi,
Just saw the hostpitalrun.io site and found there is a dead link in the bottom 'Why Hospitalrun'

Thanks

[2016-11-29 15:49] #828 closed

[2016-11-29 15:49] jkleinsc commented on #828
@aalasolutions thanks for the issue.  It is fixed now.

[2016-12-01 04:06] marcorosas1991 commented on #817
Yeah, I tried your instructions and found the same issue. It would be incongruent to be able to delete the 'end date' after it is saved, but I wonder if some flexibility was intended. Who can we ask to make sure if it is legitimately a bug?

[2016-12-01 04:25] BogdanAlexandru commented on #817
Pinging @jkleinsc for confirmation.

[2016-12-01 04:29] marcorosas1991 opened #831 "Appointment by default shouldn't be 'all day'"
**Expected behavior:**
The 'all day' option should not be ticked by default. Most of the time appointments have a defined length.

**Actual behavior:**
The 'all day' option is ticked when the new appointment form is open.

**Steps to reproduce:**
Click Appointments > + add appointment.
See 'all day' option.

**Screenshots (if applicable):**
<img width="1147" alt="screen shot 2016-11-30 at 9 20 15

[2016-12-01 05:02] marcorosas1991 commented on #303
I can take this issue @tangollama

[2016-12-01 14:58] jkleinsc commented on #817
@BogdanAlexandru I just tested this and what is actually happening is that even after you clear out the date, it still keeps the original date saved on the model, but the display field is blank.  You can verify this by clearing out the end date field, saving, click on return to go to previous screen and then return to edit the appointment and you will see that the end date is now there.  So you ca

[2016-12-01 15:02] jkleinsc commented on #831
@marcorosas1991 I think it depends upon context/preference.  In some use cases the desired default will be all day appointments; in other cases exact times will be needed.  The only thing I would suggest is an enhancement to allow this to be configurable.

[2016-12-02 20:35] donaldwasserman opened #832 "Issue with Service Worker Pouch Config NPM v 3.10"
**Expected behavior:**
`ember serve` works

**Actual behavior:**
`ember serve` results in Error: ENOENT: no such file or directory, open 'node_modules/ember-pouch/node_modules/pouchdb/dist/pouchdb.js'

**Steps to reproduce:**
Use npm > 3.0 and run `ember serve` off master

**Screenshots (if applicable):**

**OS and Browser:**
OSx Sierra

**details**
[code]

^Need to make the swIncludeFiles configu

[2016-12-02 21:02] mnorbeck commented on #148
@tangollama.  I vote to close this issue out.   Personas are so 20th century.   Jobs to be Done are more relevant!    But more seriously, what is the actionable items here?   Are there any, at this point?

[2016-12-02 21:16] mnorbeck opened #833 "Add new user page is not intuitive after pressing add"
**Expected behavior:**
After adding a new, the next page should either be an edit user page for the user you just added, OR clear out the fields and remain an add user page

**Actual behavior:**
User is added, but the page remains titled "New User".   Not intuitive, as any edits to that page will edit the user you just created.

**Steps to reproduce:**

1. Navigate to the new user page, either dir

[2016-12-02 21:22] broerse commented on #832
Don't know much about serviceWorker but pouchdb.js is in the `/vendor/pouchdb/pouchdb.js` broccoli tree.

[2016-12-02 21:24] BogdanAlexandru commented on #832
Also encountered this w/ npm 3.5.2. It used to work fine at least at this point in time: https://github.com/HospitalRun/hospitalrun-frontend/commit/2d473fee420945f416db9ae9efd4bcde4025695c

[2016-12-02 21:28] broerse commented on #832
@BogdanAlexandru ember-pouch moved from Bower to NPM only.

[2016-12-02 21:33] donaldwasserman commented on #832
There's also an unresolved peer dependency issue with pouchdb.js issue with my version of NPM with the latest master commits (that I pulled down yesterday).

The service worker config there is hard-coded to the npm 2.x module layout. I think we can check to see if the pouchdb module exists in the `node_modules` folder root, then if not use the nested directory.

[2016-12-02 21:40] broerse commented on #832
ember-pouch itself uses:

[code]

[2016-12-02 21:53] jkleinsc commented on #832
@broerse I wasn't aware that  pouchdb.js is in the /vendor/pouchdb/pouchdb.js broccoli tree.  Is pouchdb.memory.js also available there?  If it is I could fix the unresolved peer dependency.

[2016-12-02 22:00] broerse commented on #832
`pouchdb.memory.js` is not an ember-pouch dependency. I could create a npm `ember-cli-pouch-memory` now that puts it there.

[2016-12-02 22:32] broerse commented on #832
`pouchdb-memory` is already a NPM module that you can `require`. So it seems to be node.js only. Not sure a  `ember-cli-pouchdb-memory`  is needed.

[2016-12-03 06:17] marcorosas1991 commented on #824
Do you agree @jkleinsc with this issue?

[2016-12-04 01:56] marcorosas1991 commented on #57
@jkleinsc @tangollama I can work on this issue.

[2016-12-04 04:30] marcorosas1991 opened #834 "Possible bug with the import feature"
**Expected behavior:**
If I have existing data, imported data should not get the same IDs

**Actual behavior:**
Imported data gets hardcoded IDs from import file. It doesn't check for existing ones.

**Steps to reproduce:**
Add some data, for example to the patient, and item lists.
Import a db through the  Administration > Load DB option. (You can use the sample-data.txt in the root folder)

Check

[2016-12-05 15:31] jkleinsc commented on #824
@marcorosas1991 I agree... you shouldn't be able to enter in a negative value.
This should be a pretty simple fix.  There is data validation on quantity on the [inventory model](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/models/inventory.js) that just needs to be modified to disallow numbers less than 1.  Docs for number validation are here:
https://github.com/DockYard/emb

[2016-12-05 19:34] mnorbeck commented on #833
@jkleinsc ...just to let you know!

[2016-12-05 19:38] marcorosas1991 commented on #824
Ok sounds good. I'll work on it.

[2016-12-05 20:29] mnorbeck opened #835 "Appointment to visit workflow (OPD) - fulfill appointment, field changes"
**Expected behavior:**

1. On any appointment listing page, change the button on the appointment line from "Add Visit" to "Check-in".
2. After pressing "Check-in", on the resulting New Visit page,  the final/billing diagnosis field can be dropped from that page.
3. Instead add a new field "Reason for visit".   Short text box.  Optional.
4. After clicking add on the New Visit page
   4.1  Return to

[2016-12-05 20:50] #832 closed

[2016-12-05 20:56] jkleinsc commented on #832
I just committed a fix for this.  Basically I added pouchdb as a direct dependency in package.json which means pouchdb.js will consistently be available at node_modules/pouchdb/dist/pouchdb.js (it already was for npm 3.x).  I also added pouchdb-core as a dependency to fix the warnings.

[2016-12-05 21:01] mnorbeck opened #836 "Creating a new patient during OPD check-in, resulting visit page not quite right"
**Expected behavior:**

When checking in a new patient on the "Todays Outpatient" page, the new patient record record is to be created and a new  open visit of type "clinic" is to be created.   That visit looks and behaves the same as any other visit.

**Actual behavior:**

The resulting visit page is not titled "Edit Visit" it is titled "Patient CheckIn",  and it has a "Check-in"  button.

Patien

[2016-12-05 21:01] mnorbeck commented on #836
@jkleinsc

[2016-12-05 21:02] mnorbeck commented on #835
@jkleinsc

[2016-12-05 21:36] jkleinsc commented on #816
@mnorbeck this is done in the outpatient branch.

[2016-12-05 21:36] #816 closed

[2016-12-05 21:37] jkleinsc commented on #788
This is done in the outpatient branch.

[2016-12-05 21:37] #788 closed

[2016-12-05 21:38] jkleinsc commented on #789
This is done in the outpatient branch.

[2016-12-06 21:53] mnorbeck commented on #238
@tangollama   Do we really need this for v1.0?

[2016-12-07 04:18] marcorosas1991 opened #837 "Is Invoice Number required on an item purchase?"
**Expected behavior:**
Invoice number should be marked as required, or it should not prevent to submit the purchase form.

**Actual behavior:**
'Invoice number' field is not marked as required, but it prevents to submit the form if the field is empty and pristine.

If the invoice field is dirty (has been changed), even if the new value is set back to empt, it allows the form to be submitted.

**St

[2016-12-07 06:04] broerse commented on #238
If you use [ember-cli-deploy-couchdb ](https://www.npmjs.com/package/ember-cli-deploy-couchdb) and make PouchDB talk to itself via `api` with [ember-cli-deploy-couchdb-rewrites](https://www.npmjs.com/package/ember-cli-deploy-couchdb-rewrites) you can just sync data and app once to [cloudant](https://cloudant.com/) or any other CouchDB. After the one time sync you would run with your own data and a

[2016-12-08 04:47] marcorosas1991 commented on #824
@jkleinsc I updated the quantity field in the inventory model, and it works. The form is not submitted when there is a negative quantity. I found an issue with this solution. There is not a visual feedback about the error.

I look around and found https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/quantity-conv.js lines 29-47 determine if there is an error with the quan

[2016-12-08 14:20] jkleinsc commented on #824
@marcorosas1991 there isn't anywhere in the app where a negative number should be used, so it would be fine to modify https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/quantity-conv.js#L33 to check for negative numbers.

Thanks for working on this issue!

[2016-12-08 22:08] mnorbeck opened #845 "Updating Roles leads to problems, roles drop down is not populated"
**Expected behavior:**
Should be able to edit and update any role.

**Actual behavior:**
updating a role seems to make that role invalid.

**Steps to reproduce:**

1. Log in as a system admin
2. nav to user roles
3. select a role from the drop down
4. make a change to the role
5. click update
6. nav away from users roles
7. nav back to roles
8. select the role you just updated
9. role is missing f

[2016-12-09 16:15] #824 closed

[2016-12-09 20:08] #845 closed

[2016-12-10 05:40] marcorosas1991 opened #851 "Improvement - Give meaningful names to report files"
**Expected behavior:**
It would be nice if report files would have meaningful names, representing the content they have.

**Actual behavior:**
All exported report files are named: report.csv
After downloading a few reports, someone can be confused about their content, unless they are opened.

**Steps to reproduce:**
Go to Patients > Reports
Select Report Type and Dates.
Click 'Generate Report'
Wai

[2016-12-10 06:05] marcorosas1991 opened #852 "Missing translation on Add Contact form"
**Expected behavior:**
Add Contact form should have a tittle

**Actual behavior:**
Title is missing on  Add Contact form. 'Missing translation...' appears instead.

**Steps to reproduce:**
Go to Patients.
Click 'New Patient'
Scroll down and click 'Add Contact', not the 'Add button'
A modal appears with the contact form.
Check title.

**Screenshots (if applicable):**
<img width="620" alt="screen sh

[2016-12-12 19:34] #851 closed

[2016-12-12 19:36] jkleinsc commented on #834
@marcorosas1991 it turns out there was an issue with duplicating patient ids.  I fixed that with d2004bfa18693e674f852fb83f2b1868bf0e20b3.

[2016-12-12 19:36] #834 closed

[2016-12-12 19:59] mnorbeck opened #860 "New Filters on Outpatient page"
Enhancement request:

Add a date filter on the Outpatient page.   It would be great if the page defaulted to the visits for Today, but also allowed you to look at the visits for other days.

Add a location filter on the Outpatient page.  Clinics will be held at locations, and it is possible that you may have two going on at the same time.   This filter would provide great flexibility.

Also, the t

[2016-12-12 20:29] jkleinsc commented on #837
@marcorosas1991 I think the issue was being caused by changes I made to accommodate Ember 2.10.  I'll have a fix very shortly.

[2016-12-12 20:29] #837 closed

[2016-12-13 02:19] mqchau commented on #812
I can't reproduce this on beta.hospitalrun.io. Can you try it again?

[2016-12-13 02:45] mqchau commented on #814
It seems that if you click away from the box after you select it then it will be green.

[2016-12-13 02:47] mqchau commented on #815
I'll try to tackle this issue.

[2016-12-13 05:07] mqchau opened #862 "Make it easy for future translator to identify what phrases are needed to translate"
**Expected behavior:**
A developer adds new modal and use i18n to translate the modal title. He forgot to put that new phrase into the translation files. A unit test runs to rearrange the keys in the language JSON files in alphabetical order and record the missing translations on other languages in a separate file. This way translators can look at that file and knows exactly what was missing.

**A

[2016-12-13 15:28] jkleinsc commented on #831
@marcorosas1991 I was looking at something with appointments and I realized something:
I think the intention was that All Day would be on for Admission type appointments and off for other types of appointments, but I think this line was incorrectly coded:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/appointments/edit/controller.js#L76

[2016-12-13 15:32] mqchau commented on #831
I plan to revamp that function isAdmissionAppointment because it is causing a bug on appointment edit page. That bug was raised in #815. Maybe after that it solves this issue too.

[2016-12-13 15:34] #852 closed

[2016-12-13 15:49] jkleinsc commented on #862
@mqchau I think that is a great idea!  I have a couple of thoughts
1) The acceptance tests already test to see if there are missing English translations.  We could adapt to test for every translation.  The downside of this is that it would take much longer to run the tests because you would be running them for multiple languages.
2) I am wondering if any tests we run on translations should throw e

[2016-12-13 15:59] jkleinsc commented on #831
@mqchau I don't mind if you take a look at this, but right now I am tackling an issue in appointments caused by the migration to Ember 2.10 - unless you already have a solution for this problem!  Basically what I am seeing is that there are some observers in https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/appointments/edit/controller.js that don't play well with Ember 2.10.  Th

[2016-12-13 16:41] nolanlawson opened #863 "Thoughts on PouchDB/CouchDB architecture"
I was asked by @rpallas92 to provide some feedback on [the design of the PouchDB/CouchDB sync](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md#data-access-flow), so I thought I'd respond publicly in a GitHub issue.

First off, if you want to avoid PouchDB slowing down the UI due to worker operations, putting it in a web worker is currently the best approach.

[2016-12-13 18:38] jkleinsc commented on #863
Thanks for the thoughts @nolanlawson!  As you know this is something I am still trying to figure out.  Ideally I would like to support multiple approaches so that implementors could choose a strategy most applicable to their environment (with a default of the most efficient strategy).
For example in a local hospital network install, online-first might be the best because you wouldn't have to wait

[2016-12-13 21:50] #812 closed

[2016-12-13 21:50] #831 closed

[2016-12-13 21:50] jkleinsc commented on #831
@mqchau I ended fixing this a part of my refactor.

[2016-12-13 21:51] jkleinsc commented on #812
@garylm I refactored how this component works.  I haven't seen this particular issue, but given the change I just made, the issue you encountered should no longer happen.

[2016-12-14 01:55] mqchau commented on #815
It looks like @jkleinsc has solved this issue with https://github.com/HospitalRun/hospitalrun-frontend/commit/c0d191fa9dd2e7d914b77d8dc3a3dbf1932ba37b .

[2016-12-14 02:09] girish8050517990 opened #868 "A way to connect different hospitals to one server."
It would be really nice if there would be a way of storing all information from different hospitals on one server so that the service can be used by many small clinics.

[2016-12-14 02:20] mqchau commented on #868
@jkleinsc , I plan to make this line in app/services/database.js and similar others to use different database, not just main. It would take the database from the config file when it starts the server in server/config.js

[code]

This way @9611838416m can set up multiple ember servers with different config file/command line arguments all pointing to same couchdb instance. So we can server multiple

[2016-12-14 05:27] mqchau commented on #868
It seems that the users' login and session's information are stored in /db/_user and /db/_session. So if we want to truly support multiple hospitals same couchdb instance then we have 2 options:

1. prepend _user and _session with name of hospital and use that as our database
2. move the user and session information into the hospital-specific database

If I were to tackle this issue, I would pick

[2016-12-14 14:31] jkleinsc commented on #868
@mqchau I think all of this could be handled server side in the couchdb proxy:
https://github.com/HospitalRun/hospitalrun-server-routes/blob/master/routes/10-couchproxy.js

Basically you could setup something here (or create another alternate route) that handles multitenancy (eg based on user login "main" proxies to a different db).  As far as _users and _session are concerned, the _users database

[2016-12-14 15:09] mnorbeck opened #869 "Add Family Member dialog missing strings - Patient > Social Work"
**Expected behavior:**

Dialog to add Family Info on the Social Work tab of a patient has all the strings needed for the field labels.

**Actual behavior:**

All field labels display "Missing Translation: undefined"

**Steps to reproduce:**
1. Navigate to any Patient
2. Click on Social Work tab
3. Click on "Add Family Member"

**Screenshots (if applicable):**

![screen shot 2016-12-14 at 10 07 30

[2016-12-14 15:50] mqchau commented on #868
I see. I didn't know it would be this complicated. If we don't support multi tenancy per coucjdb instance then how would we address the concern to host multiple hospitals per server?

[2016-12-14 16:43] #869 closed

[2016-12-14 20:06] jkleinsc commented on #470
This was completed with #788, closing issue.

[2016-12-14 20:06] #470 closed

[2016-12-15 14:44] #375 closed

[2016-12-15 15:24] mnorbeck opened #877 "Image and Lab Pricing Types - default "Procedure" value should not be editable"
On the Imaging Pricing and Lab Pricing Type Pages, the default values of "Lab Procedure" and "Image Procedure" should not be editable.   Editing them causes problems

[2016-12-15 17:12] mnorbeck opened #878 "On the New Patient Pop-up dialog (OPD checkin) the sex field is not converting to drop-down"
**Expected behavior:**
With the "user can add values"  turned off on the admin lookup list for sex, the expectation is that all places where the sex field is displayed would be drop down

**Actual behavior:**
The dialog that pops up when you add a new patient as part of checking them in on the Outpatient Page does not show a drop down control for sex, it is still free text.

**Steps to reproduce:*

[2016-12-16 16:06] #235 closed

[2016-12-16 18:23] #877 closed

[2016-12-16 20:05] mnorbeck opened #886 "Deleting orders from the visit page is not refreshing the page"
**Expected behavior:**
After deleting an oder (image, lab, med) and acknowledging the dialog, the order should be removed from the list.

**Actual behavior:**
the order is still on the list.  after doing a browser refresh, the order is removed.

**Steps to reproduce:**

1. Create a visit
2. add an order to the visit
3. confirm the order shows on the visit
4. click delete on the order line
5. click

[2016-12-19 03:23] garylm commented on #812
Works for me…  I just updated and it now works as expected.

Nice Work

Gary
Gary Miller
gary@groupmiller.com<mailto:gary@groupmiller.com>

From: John Kleinschmidt [mailto:notifications@github.com]
Sent: Tuesday, December 13, 2016 1:50 PM
To: HospitalRun/hospitalrun-frontend <hospitalrun-frontend@noreply.github.com>
Cc: Gary Miller <gary@groupmiller.com>; Author <author@noreply.github.com>
Subject

[2016-12-19 03:24] garylm commented on #812
Now Works for me…  I just updated and it now works as expected.

The problem has been fixed.

Gary
Gary Miller
gary@groupmiller.com<mailto:gary@groupmiller.com>

From: Quan Chau [mailto:notifications@github.com]
Sent: Monday, December 12, 2016 6:20 PM
To: HospitalRun/hospitalrun-frontend <hospitalrun-frontend@noreply.github.com>
Cc: Gary Miller <gary@groupmiller.com>; Author <author@noreply.github

[2016-12-19 15:46] mnorbeck opened #889 "Adjustments to Patient History Tab"
Due to recent changes for OPD functionality, the information shown in the patient history tab can now be condensed.

The suggestion is to continue to show the visits, and the visit type, as it does currently.   However, for each visit only show procedure and orders, with minimal information.   There is not a need for notes, or other information.   The procedure name, image type, lab type should be

[2016-12-19 18:10] mnorbeck commented on #889
@jkleinsc

[2016-12-20 15:24] mnorbeck opened #893 "When checking in from appointments, Visit status not being set on an admissions visit"
**Expected behavior:**
When viewing appointments for the day, I want to be able to "check in" an admissions appointment, and the resulting visit has the status set to Admitted

**Actual behavior:**
The visit status is left blank, when checking in from any of the appointment pages (today, this week)

**Steps to reproduce:**

1. Create an admissions appointment for a patient, for today.
2. Locate th

[2016-12-20 16:24] mnorbeck opened #895 "For all visit types, show a status field (read only) and a check-out or discharge datetime"
Request is to show on all visits, no matter the type, a status and a check-out / discharge date time.   This will help managing information historically, when reviewing patient records.

For visits of type admission, the status is either admitted or discharged
For all others the status is either checked-in or checked-out

@jkleinsc

[2016-12-20 16:33] mnorbeck opened #896 "Add a flag to allow custom forms for a specific object to always be added"
I would envision this being a check-box on the "New Custom Form" page.    If checked, this would add the form each time the associated object (ie. patient) page is displayed.   That would mean that if objects were created before the custom form, the new form would be "added" to those existing objects.  Exactly how that would happen, could be a point of discussion.

@jkleinsc

[2016-12-20 16:38] mnorbeck opened #897 "Add the "Add billing diagnosis" privilege on the user roles page"
#893 **Expected behavior:**

Should be able to grant and revoke that privilege on a role.

**Actual behavior:**

privilege is not seen on the page.

**Steps to reproduce:**

1. Nav to the user roles page, select any role.
2. Privilege is not seen.

**Screenshots (if applicable):**

**OS and Browser:**
OSX 10.10.5,  Chrome 55.0.2883.75 (64-bit)

@jkleinsc

[2016-12-20 18:24] mnorbeck opened #898 "Additions to the new patient dialog, from the OPD list page"
The request is to add 2 additional fields to this dialog:

1. patient address
2. patient phone number.

These 2 fields will assist providers in the event they need to follow-up with a patient.

This is the dialog you see in this workflow:

1. Nav to the outpatient page, showing the list of active visits.
2. Click on "Patient Check-in" and enter a patient name that is not already in the system.
3.

[2016-12-20 18:29] mnorbeck opened #899 "Permit duplicate patient names on the OPD Patient check-in page"
The request is to allow duplicate names on the "Visit Information" page when checking in brand new patients from the OPD visit list page.

1. Nav to Outpatient list page
2. Click Patient Check-In button
3. On that Visit information page, attempt to enter a second patient with the exact same name as a patient already in the system.   It cannot be done, as the text box finds the match, and fills wit

[2016-12-27 11:58] mnorbeck opened #903 "Updates to Diagnosis not refreshing the page"
**Expected behavior:**
When I update a diagnosis (make inactive, make secondary, etc.) after clicking the update button on the dialog, I would expect the patient page to show the updates.

**Actual behavior:**
You need to do a page refresh in order to see the updates to the diagnosis.

**Steps to reproduce:**

1. Add a new (primary) diagnosis to a patient
2. Save the patient
3. nav away and then b

[2016-12-27 16:18] jkleinsc commented on #460
Closing in favor of outpatient screen/workflow.

[2016-12-27 16:18] #460 closed

[2016-12-27 16:42] #463 closed

[2016-12-27 16:42] #789 closed

[2016-12-27 16:42] #835 closed

[2016-12-27 16:42] #836 closed

[2016-12-27 16:42] #860 closed

[2016-12-27 16:42] #878 closed

[2016-12-27 16:42] #886 closed

[2016-12-27 16:42] #893 closed

[2016-12-27 16:42] #895 closed

[2016-12-27 16:42] #898 closed

[2016-12-27 16:42] #899 closed

[2016-12-27 16:42] #903 closed

[2016-12-27 17:49] #889 closed

[2016-12-27 19:55] #897 closed

[2016-12-28 17:49] #896 closed

[2016-12-28 19:22] hsorellana opened #905 "Appointments's test not correctly done"
I hope not using the original template of issues isn't too bad but for this, i don't it applies correctly. The thing is that project itself uses the standard of Dockyard to write well code. Well, the appointments models isn't applying correctly the code guidelines, for example, on its functions for computed attributes.

[2016-12-28 19:23] hsorellana commented on #905
I can see this issue myself and, of course, make sure the other models follow this convention, if tests is a important part of the project, as i think they are.
Cheers!

[2016-12-28 19:49] jkleinsc commented on #905
@hsorellana feel free to submit PRs to correct code style issues like this.

[2017-01-04 14:42] codebychr1z commented on #722
I assume this hasn't been completed yet? Just looking for a quick task to jump on with my spare time and get my open source github goodness going!

Thanks

[2017-01-04 23:33] jkleinsc commented on #722
@codebychr1z feel free to take a look at this

[2017-01-10 21:24] mnorbeck commented on #758
Latest requirements are now in Github at:

[]([](https://github.com/HospitalRun/planning/blob/master/Requirements/v1_0/Operative-Plan.md)l)

[2017-01-11 21:39] #758 closed

[2017-01-13 16:07] #792 closed

[2017-01-13 20:42] garylm opened #921 "Upload Import to "Lookup List" not working."
**Expected behavior:**
Create a text file of Diagnoses, as a string per line in the file.
  Ex:  Acute Flaccid Paralysis
        Cholera
       Neonatal tetanus

Link the text file using the Browse Button
Upload the text file using the Import Button
List Upload Successful Dialog Box pops up.

Should see the new items in the list.
**Actual behavior:**

No new items appear in the list even though th

[2017-01-13 22:43] tleb opened #922 "Spaces in username, during logging"
**Expected behavior:**

Space trimming

**Actual behavior:**

A `Username or password is incorrect.` error.

**Steps to reproduce:**

Go on demo, try an ID with a space in front or behind it ; it doesn't work.

Great projet BTW!

[2017-01-15 17:35] karunkannan commented on #791
I can try to tackle this

[2017-01-17 14:22] jglovier commented on #377
@ivanlori any update on this? If you've not had a chance to work on it, and don't think you will in the immediate future, I'd like to add the `help-wanted` label back on it.

[2017-01-17 15:00] jkleinsc commented on #791
@karunkannan my apologies.  Someone is already working on this, and thus it doesn't have the help wanted tag.

[2017-01-17 15:40] jkleinsc opened #923 "Create New Patient checkbox on Patient Check In stays checked on subsequent checkins"
**Expected behavior:**
The Create New Patient checkbox should always reset to not be checked on new patient check in
**Actual behavior:**
If the Create New Patient checkbox is checked on patient check in, it will stay checked for the next patient check in
**Steps to reproduce:**
1. Go to Patients/Outpatient
2. Click on the Patient Check In button
3. Check in a new patient, making sure to check the

[2017-01-17 15:42] jkleinsc commented on #923
I have a fix for this that I will commit shortly.

[2017-01-17 23:50] karunkannan commented on #303
Does this still need to be completed?

[2017-01-18 07:48] ivanlori commented on #377
Hi Joel,
yes, it would be better with help-wanted label

2017-01-17 15:22 GMT+01:00 Joel Glovier <notifications@github.com>:

[2017-01-18 12:29] hosghf commented on #466
is there any manual about how to use software itself for users and not develooers?

[2017-01-18 23:21] Jaden-Giordano commented on #922
A simple fix would be to just trim the spaces, but couldn't it be a breach in security if you allowed the user access if they accidentally entered a space, or any invalid character, _anywhere_ in the credentials?

[2017-01-19 17:26] tleb commented on #922
I don't see why, you just delete the ones at the beginning and at the end and those in between are part of the username. But, should spaces be allowed at all?

[2017-01-22 03:49] tangollama commented on #765
@lijulat can we close this?

[2017-01-26 19:29] mnorbeck opened #925 "Remove Workflow for v1.0"
For the v1.0 release, the main menu item "Workflow" needs to be removed or hidden.  That feature is currently not functional, and it is not needed for v1.0

@jkleinsc

[2017-01-28 19:53] tangollama commented on #35
FYI, I've made some progress on this, but it's not done yet. I'll keep working on it and try to get in in for 1.0.

[2017-01-28 20:02] #925 closed

[2017-01-29 20:23] Marinlemaignan commented on #569
If i may.
I would suggest having that/those button/s at the bottom right end of the page.
And why not visible if the page doesn't scroll (is smaller than the screen's size).
If the page is longer than screen size, the button is style visible on ready, but hides when you start scrolling down. Shows back up when you scroll back up.
This way you can have as many buttons as you may, and are not obtrus

[2017-01-30 21:28] #760 closed

[2017-01-31 19:43] garylm opened #928 "Add Value Button missing from Lab Pricing Types List screen"
**Expected behavior:**
Attempting to add Lab Pricing Types to the list thru the Administration module.
**Actual behavior:**
The "Add Value" button is missing from the screen.
**Steps to reproduce:**
Choose the "Lab Pricing Types" List under Administration
**Screenshots (if applicable):**
![hr lab pricing types add button missing 01-31-17](https://cloud.githubusercontent.com/assets/1472283/22481490

[2017-01-31 19:52] jkleinsc commented on #928
@garylm this is intentionally working this way.  You can't add lab pricing types because there isn't anywhere in the system that uses different lab pricing types.  Same thing goes for imaging pricing types.

[2017-01-31 20:24] garylm commented on #928
Does this mean that these pricing types are intended future functionality? Or are these depreciated design concepts?

[2017-02-02 19:33] mnorbeck opened #930 "When app has timed out, some Menu picks not re-directing to the login screen"
**Expected behavior:**

If running the app (not using google authentication) when the app times out due in inactivity, after clicking on something, the user would see the pop-up dialog then be redirect to the login page

**Actual behavior:**
Clicking on any Administration menu pick is not re-directing.

**Steps to reproduce:**

Run app, logging in (non google auth)
Allow app to time-out
click on a

[2017-02-03 07:54] IbrahimHd opened #931 "Updating the Demo"
Hi,
Could you please consider updating the online demo app?
It will be helpful if the new features like the Calendar/Scheduler, ... are illustrated in the demo.

Thanks in advance!

[2017-02-03 15:13] jkleinsc commented on #928
@garylm intended future functionality.

[2017-02-03 15:38] #761 closed

[2017-02-03 19:49] #930 closed

[2017-02-06 20:26] jkleinsc opened #933 "Incident Management for 1.0"
The [incident reporting branch](https://github.com/HospitalRun/hospitalrun-frontend/tree/incident-reporting) needs to be updated to be in line with the requirements specced here for 1.0:
https://github.com/HospitalRun/planning/blob/master/Requirements/v1_0/Incident-Management.md

[2017-02-07 03:59] #928 closed

[2017-02-09 18:43] mnorbeck opened #935 "Ability to change the name of User Roles"
This is an enhancement request.

Allow for the changing of user role names in the Admin module.    Roles are going to correspond to job titles in a hospital ( that is how users will think about them)......and those titles may be unique to a hospital (or country, or region).   Flexibility to change the role name would be very useful.

For the target contexts, I think we have enough roles in the sys

[2017-02-14 02:24] EthanDavis commented on #6
Is anyone still working on this if not I would be interesting in helping out.

[2017-02-14 05:58] broerse commented on #6
@EthanDavis I am working on a serverless solution for this on our CouchDB projects. I also use nodemailer. See my first steps: https://github.com/martinic/openwhisk-mailer
If I have all parts working it is perhaps interesting for reference.

[2017-02-15 13:16] jkleinsc commented on #6
@EthanDavis it looks like effort on this has grown stale, so feel free to help out.  This will require two pieces - the frontend as well as code added to https://github.com/HospitalRun/hospitalrun-server-routes/blob/master/routes/30-auth.js to handle the server side (eg email).

[2017-02-16 01:46] EthanDavis commented on #6
@jkleinsc  Okay thanks I will.

[2017-02-16 19:33] #921 closed

[2017-02-16 19:36] jkleinsc commented on #921
@garylm this has now been fixed.  The import accepts CSV files with one value per line, though technically a text file with values separated by newlines works as well.  So a file formatted as follows would work:
[code]

[2017-02-16 21:20] baoqchau commented on #790
Hello @jkleinsc. I want to work on this issue. You know where should i put the configuration screen file? I.e should I put it in app/models or app/components? Thanks a lot.

[2017-02-16 23:41] garylm commented on #921
John, thanks!

Gary
Gary Miller
gary@groupmiller.com<mailto:gary@groupmiller.com>

From: John Kleinschmidt [mailto:notifications@github.com]
Sent: Thursday, February 16, 2017 11:37 AM
To: HospitalRun/hospitalrun-frontend <hospitalrun-frontend@noreply.github.com>
Cc: Gary Miller <gary@groupmiller.com>; Mention <mention@noreply.github.com>
Subject: Re: [HospitalRun/hospitalrun-frontend] Upload Impor

[2017-02-17 00:53] EthanDavis commented on #6
@jkleinsc Should to forgot password link route to a new page or pull up a modal?
This might take me more than a week. I'm not super familiar with Ember. Just want to make sure.

Thanks!

[2017-02-19 06:35] billybonks commented on #547
@jkleinsc i updated the issue description based on https://gist.github.com/billybonks/925a37e70dcde840a4205d065ea937e7

[2017-02-19 06:35] billybonks commented on #547
i left default in in case we ever wanted to expand

[2017-02-21 21:08] jkleinsc opened #953 "Users module doesn't work with CouchDB 2.0"
**Expected behavior:**
All functionality of the Users module should work with CouchDB 2.0
**Actual behavior:**
When a user who has admin rights navigates to the users module, they are redirected to login.
**Steps to reproduce:**
Setup HospitalRun to use CouchDB 2.0
Navigate to the Users module
**Screenshots (if applicable):**
N/A
**OS and Browser:**
All

[2017-02-22 00:02] adeolabadmus commented on #953
The issue seems to be caused by this line in the [documentation](http://docs.couchdb.org/en/2.0.0/intro/security.html#authentication-database): `Only administrators may browse list of all documents (GET /_users/_all_docs)` which is clearly not the case in CouchDB 1.6.

The `admin/users` route makes an API call to fetch all users in the database: https://github.com/HospitalRun/hospitalrun-frontend/

[2017-02-22 15:19] jkleinsc commented on #953
@adeolabadmus the 1.6 documentation says the same thing.  I am talking to Jan Lehnardt of CouchDB about the issue.  He thinks it is something they missed porting over.

[2017-02-23 01:53] jkleinsc commented on #365
Closing as this was resolved as part of #381

[2017-02-23 01:53] #365 closed

[2017-02-23 17:22] billybonks commented on #794
what do you think about separating route stylesheets from general reuse component stylesheets

[2017-02-23 17:23] billybonks commented on #794
i can extract basscss into an ember addon

[2017-02-24 14:22] jkleinsc commented on #382
I am closing this issue because #380 and #381 makes sure that this issue doesn't happen any more.

[2017-02-24 14:22] #382 closed

[2017-02-24 14:24] jkleinsc commented on #383
Closing as all referenced issues have been resolved.

[2017-02-24 14:24] #383 closed

[2017-02-25 07:18] franciak opened #957 "A proper Sketch file for designer contributors to contribute to the marketing website"
**Expected behavior:**
As a designer who wants to contribute to an open source project such as Hospital Run for the first time, I want to be able to immediately start on building a new mockup from a Sketch file with components I can re-use.

**Actual behavior:**
Right now, after downloading the design source files, it seems there is only a Sketch file for the App UI. As a result, I will either hav

[2017-02-25 07:20] franciak commented on #957
Woops. Posted on the wrong page.

[2017-02-25 07:20] #957 closed

[2017-02-25 07:56] melissahie commented on #377
taking this issue

[2017-02-26 05:54] rajiv13531 opened #965 "Not able to run the application on development machine"
**Expected behavior:**
application run
**Actual behavior:**
ember server is producing version related error
**Steps to reproduce:**
ember server in side root folder of hospital run
**Screenshots (if applicable):**
Invalid Version: undefined
TypeError: Invalid Version: undefined
at new SemVer (D:\gitopensource\HospitalRun\hospitalrun-frontend\node_module
s\ember-cli-version-checker\node_modules\sem

[2017-02-26 07:08] bradgearon opened #966 "cannot open take photo / photo upload dialog"
**Steps to reproduce:**
click patients
click a patient
click photos
click new photo

**Expected behavior:**
photo upload dialog appears

**Actual behavior:**
photo upload dialog does not appear; javascript error appears

**Screenshots (if applicable):**
![image](https://cloud.githubusercontent.com/assets/1731943/23337839/d7a782a0-fbbf-11e6-93cc-c2f70577a0e3.png)

**OS and Browser:**
Windows / Chro

[2017-02-27 19:26] jkleinsc commented on #965
@rajiv13531 can you run the following command in D:\gitopensource\HospitalRun\hospitalrun-frontend?
`ember -v`
and then put the results in this issue?
Also, what command are you using to run hospitalrun?  Is it `ember serve`?

[2017-03-02 00:50] sukima opened #969 "Concider ember-concurrency addon"
I am planning on joining Slack but also thought it would help documenting this question here for discussion.

Has this project considered [ember-concurrency](http://ember-concurrency.com/)?

It would make [code like this](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/admin/address/route.js#L11-L28):

[code]

Look like this:

[code]

It can exists with the current code but all

[2017-03-03 01:15] jkleinsc commented on #969
@sukima I've heard of ember-concurrency but haven't had time to look into to it.  I am in favor of simplifying things and I see how this could help.  If you (or others) want to submit a PR introducing ember-concurrency (on a small subset of code), that would be encouraged and would probably be a good next step in demonstrating ember-concurrency.

[2017-03-03 21:45] jkleinsc commented on #790
@baoqchau my apologies for not getting back to you sooner on this one.  Please let me know if you still want to work on this.  This configuration screen will be a new screen in the admin section of the app, so it will require creating a new route and controller.  It should use the existing `option` data model, have an id of `print_header` and it should store the following properties:
facilityName

[2017-03-03 21:47] sukima commented on #969
I would be happy to make a PR with the above initial conversion. Any troublesome async areas you would want tackled (I am new to the code base) let me know I can look at them too. I kinda like refactoring like this.

[2017-03-04 09:09] Anisha1234 commented on #313
As @jkleinsc said the color on the buttons after filling up the appointment forms is confusing.I am going to  change the disabled,active and hover buttons color states to a more understandable manner . Please review my pull request #971

[2017-03-05 02:18] baoqchau commented on #790
Thanks for replying back to me. I will definitely want to work on this. I will ask you if I have further questions.

[2017-03-06 02:36] jglovier opened #972 "[TRACKING ISSUE] Color contrast problems in the UI"
**Expected behavior:**
All text in the UI should pass at least [WCAG AA](https://www.w3.org/WAI/WCAG20/quickref/) contrast accessibility. A simple test of text-color on background color on [this color accessibility calculator](http://webaim.org/resources/contrastchecker/) will tell whether any existing pairing of font on background passes. Many of our instances do, and a few do not.

**Actual beha

[2017-03-06 02:41] jglovier commented on #972
At this point what I could really use is some help with:
1. identifying all of the offending font color contrast instances in the app
2. suggesting replacement colors and implementing them
3. testing to check for additions of new failing ront folor contrast

[2017-03-06 14:43] jkleinsc commented on #972
@jglovier thanks for putting this together.  It is important work!

[2017-03-06 18:18] Anisha1234 commented on #972
@jglovier I would also like to work on the same issue

[2017-03-07 13:05] sukima opened #976 "Tests fail when ran between 23:00 and 00:00 hours (Eastern, -5:00)"
**Expected behavior:**

Tests to pass.

**Actual behavior:**

Some tests fail. Near the top of the list is appointments.

**Steps to reproduce:**

1.  Change your computer clock time to 23:40 (11:40 PM) Eastern time zone
2.  Run tests in a browser (`http://localhost:4200/tests`)

**Screenshots (if applicable):**

<img width="814" alt="screen shot 2017-03-07 at 23 57 40" src="https://cloud.githubus

[2017-03-07 20:10] mkly commented on #976
I was able to recreate this by setting the global time in the acceptance test via `sinon.useFakeTimers()`. I haven't looked into the actual issue but hopefully the new failing tests may make it easier to resolve.

[2017-03-08 07:45] Anisha1234 opened #979 "Inclusion of a Patient Dashboard"
I would like to propose the idea for a dashboard for patients which is presently absent in the app. There are dashboards for the admin, doctors, labs etc but the inclusion of this feature would make the app more accessible from the patient side.The features would include:

1. Book an appointment from the list of available doctors.
2. Manage appointments, i.e., if there would be a change in the sch

[2017-03-08 11:02] prayashm opened #980 "Use docker-compose to build and run app"
It will reduce the steps to build and run the application from 3 to 1 command: `docker-compose up`
All the necessary port mapping, linking with couchdb and running the couchdb is right order will be handled in the docker-compose.yml file

Though one has to install docker-compose once, this would be a nice to have feature as on a daily basis one has to interact with only one command `docker-compose

[2017-03-08 12:53] emadehsan commented on #979
Great ideas! What do you think about **Signup** feature for Patients? Currently patients are added only through dashboard. But if he/she has to book an appointment for the very first time, he/she must be able to Signup!

[2017-03-08 12:59] emadehsan commented on #979
I think currently the core team is focused on Release 1.0 since the release date (April 1st) is approaching. These features might get included in next versions of the software.

[2017-03-08 16:26] jkleinsc commented on #972
@Anisha1234 please feel free to work on this issue.  I'll mark it as in progress.

[2017-03-08 16:40] Anisha1234 commented on #972
Thank you so much @jkleinsc . I will start working on it and keep you updated

[2017-03-08 17:02] #313 closed

[2017-03-09 07:58] Anisha1234 commented on #972
@jkleinsc @jglovier Should I make different PRs for changes in button style of different sections of the webapp for example - inventory , patients etc ?

[2017-03-10 17:54] jkleinsc commented on #58
Closing this issue because custom forms satisfies this enhancement request.

[2017-03-10 17:54] #58 closed

[2017-03-10 18:05] jkleinsc commented on #90
The custom forms feature satisfies this requirement so I am closing this issue.

[2017-03-10 18:05] #90 closed

[2017-03-10 18:17] jkleinsc commented on #65
This feature can be implemented by extending the custom forms feature to work with labs.  This means doing the following:
1. Add a new form type to https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/admin/custom-forms/edit/controller.js#L77-L82
2. Modify https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/labs/edit/route.js to setup custom forms for new objects.
[c

[2017-03-10 18:19] jkleinsc commented on #51
I am closing this issue as this enhancement request is satisfied by the custom forms feature.

[2017-03-10 18:19] #51 closed

[2017-03-10 20:03] emadehsan commented on #972
By the way @jglovier @Anisha1234 have you considered usability for **Color Blind People** while choosing color schemes?

[2017-03-10 20:10] Anisha1234 commented on #972
@emadehsan what exactly do you want to be added for the same issue that you mentioned?

[2017-03-10 20:15] emadehsan commented on #972
As you guys are working hard on UI and UX 👍, I was just asking that _Can a Colorblind person using the software distinguish between all the colors used throughout HospitalRun?_

[2017-03-10 20:20] Anisha1234 commented on #972
@emadehsan @jglovier @jkleinsc In my current PR #983 , I have not considered the case of colour blind people.But I would surely like to work on it to make the colour scheme more user friendly .

[2017-03-13 15:30] #790 closed

[2017-03-13 18:28] baoqchau commented on #701
Since there is no update on this, can I work on this issue? @jkleinsc Can you give me suggestion how to test the "search" functions?

[2017-03-13 18:36] baoqchau opened #986 "Search function in pricing does not return correct result"
**Expected behavior:**
Search for specific pricing name "Elbow AP-L", should return exact result with "Elbow AP-L"
**Actual behavior:**
Return results with term "AP-L" in it. And most important, the results don't contain the result for "Elbow AP-L".
**Steps to reproduce:**
Go to website beta.hospitalrun.io
Logged in with "Hospital admin" role
Go to tab navigation on the left => Billing => Prices =

[2017-03-13 18:46] jkleinsc commented on #965
Closing issue due to no response.  Feel free to repoen if more info is provided.