[2020-04-13 23:07] jackcmeyer opened #1984 "Date of Birth date picker should have max date of the current date"
## 🚀 Feature Proposal

The Date Picker component supports defining a maximum date. The date of birth date picker should set the maximum date as today.

## Motivation

Ease of use

[2020-04-14 04:56] jlato89 commented on #1984
I'd like to take a crack at this. Seems a good place to start.

[2020-04-14 05:36] jlato89 commented on #1984
Hopefully that PR was done right. I couldn't find this so called storybook so if someone wants to fill me in i can update it.

[2020-04-15 16:27] samgaudr commented on #1836
Hey @jackcmeyer, can I give a shot t this one ?

[2020-04-15 22:57] hemantpandey17 commented on #1924
Is it still on ?

[2020-04-16 18:34] #1841 closed

[2020-04-17 12:17] #1925 closed

[2020-04-17 23:23] LucasBN commented on #1976
Would like to take a crack at this, could someone assign me?

[2020-04-17 23:38] jackcmeyer commented on #1976
@LucasBN I think validating addresses may be difficult due to needing to support any address format for any location in the world; however I have not looked into it. I think we can just tack it on to this one.

[2020-04-17 23:41] jackcmeyer commented on #1976
@BrunaKimura I think that preventing numeric inputs is reasonable except for Occupation.

[2020-04-17 23:43] LucasBN commented on #1976
Yeah I also thought that might be a problem. I'm going to look into it anyway as I'd like to contribute somewhat - will let you know if I get anywhere. (I'll look at avoiding numeric inputs whilst I'm at it).

[2020-04-18 00:02] jackcmeyer commented on #1976
sounds great!

[2020-04-18 12:35] akshay-ap opened #1993 "Add translation for patient.Code"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/16358982/79637609-8be3cf00-819e-11ea-9bf2-2c345bcd47ac.png)

## To Reproduce

Steps to reproduce the behavior:

In local development env navigate to: /patients

## Expected behavior

![image](https://user-images.githubusercontent.com/16358982/79637655-db29ff80-819e-11ea-8c0f-2341eacad18f.png)

## Your Environment

- *node version*

[2020-04-18 12:39] akshay-ap commented on #1993
I would like to work on this issue.

[2020-04-18 22:28] jackcmeyer commented on #1993
sounds good @akshay-ap

[2020-04-19 06:23] #1993 closed

[2020-04-19 17:20] akshay-ap commented on #1966
I would like to work on this.

[2020-04-19 20:06] jackcmeyer commented on #1966
@akshay-ap sounds great! I've assigned this to you.

[2020-04-19 23:44] jackcmeyer opened #1996 "Edit Appointment screen is showing translation key for breadcrumb and title"
## 🐛 Bug Report

The breadcrumb and title are showing the translation key on the Edit Appointment Screen.

## To Reproduce

1. Create a new appointment
2. Navigate and view that appointment
3. Click the edit button
4. See that the the breadcrumb and title of the edit screen are the translation key

## Expected behavior

They should be the correct header and breadcrumb instead of the translation ke

[2020-04-20 00:01] jackcmeyer opened #1997 "Reason is incorrectly being marked as required field on edit/new appointment screen"
## 🐛 Bug Report
The reason field is being marked as required when it should not be.

## To Reproduce
1. Navigate to edit or create appointment screen

## Expected behavior
The reason should not be marked as required.

[2020-04-20 00:06] jackcmeyer opened #1998 "Delete appointment button is showing translation key"
## 🐛 Bug Report

The delete button is showing the translation key

## To Reproduce

1. create an appointment
2. navigate to the created appointment
3. see that the delete button is showing the translation key

## Expected behavior

it should not show the translation key

[2020-04-20 00:49] alti21 commented on #1998
Can I take this?

[2020-04-20 01:56] jackcmeyer commented on #1998
Yes! I've assigned this to you @alti21

[2020-04-20 12:48] akshay-ap opened #1999 "Error while searching Patient"
## 🐛 Bug Report
[code]

A clear and concise description of what the bug is.

## To Reproduce

1. Create a patient
2. Enter text like 'Adk/\'(string containing '/\') in patient search bar.

## Expected behavior

No error.

## Your Environment

- *node version*: 12
- *fastify version*: >=1.0.0
- *os*: Windows

[2020-04-20 13:19] akshay-ap commented on #1966
@jackcmeyer Before starting to work on it, I have a suggestion: A new dropdown which will show the fields by which the list of Labs can be sorted in ascending or descending order:
1. ResquestedOn
2. Type
3. Status
By default, list will be sorted by ResquestedOn descending order.

![image](https://user-images.githubusercontent.com/16358982/79756052-a8ffd580-8337-11ea-97af-eb85044c983d.png)

[2020-04-20 14:28] JDarke commented on #1997
Hi Jack, I'd like to take a shot at this one for my first actual contribution...

[2020-04-20 17:49] jackcmeyer commented on #1836
@samgaudr sorry I missed this! Please let me know if you still want to tackle this issue

[2020-04-20 17:50] jackcmeyer commented on #1924
@hemantpandey17 looks like this still available. Would you like to complete it still? Sorry I missed this message.

[2020-04-20 17:52] hemantpandey17 commented on #1924
I can take that.

[2020-04-20 17:55] cfiorini74 commented on #1924
I think I might have done this feature already in [this pull request](https://github.com/HospitalRun/hospitalrun-frontend/pull/1945). Wasn't sure how to directly link it with this issue, sorry.

[2020-04-21 04:03] jackcmeyer commented on #1997
Sounds great @JDarke. I've assigned this to you

[2020-04-21 04:04] jackcmeyer commented on #1924
Confirmed that the PR @cfiorini74 linked closes this issue.

[2020-04-21 04:04] #1924 closed

[2020-04-21 04:07] jackcmeyer commented on #1999
Thanks for the report @akshay-ap. Confirmed that this is an issue. Seems like we should validate the characters in the search field.

[2020-04-21 04:09] jackcmeyer commented on #1966
@akshay-ap

 I like this idea. However, most of the sorting functionality is going to be fully implemented inside of the Table component.

For now, the intent of this was to get basic functionality implemented so that it is a usable feature.

If the solution that you are suggesting is simple enough, then I'd say go for it. However, it is likely that the UI part of the story will change in the futu

[2020-04-21 11:53] JDarke commented on #1997
Hi Jack,  I think that fixes it, though I had a bit of a messy time trying to install Yarn, which has modified the package.json.  I don't know if you can just accept the commit for the fix and ignore that, or if you need me to submit a new PR?

[2020-04-21 14:28] samgaudr commented on #1836
No problem, I still have time for it!

[2020-04-21 14:34] jackcmeyer commented on #1836
Great! I’ve assigned this to you!

[2020-04-21 23:00] #1984 closed

[2020-04-22 11:01] mleralec commented on #1996
Can I take it ?

[2020-04-22 13:25] sujithnath commented on #1967
@jackcmeyer  Can I take it?

[2020-04-22 13:28] sujithnath commented on #1808
@jackcmeyer  Is the issue still on? Can I take it? :)

[2020-04-22 18:41] akshay-ap commented on #1969
Can I take this one?

[2020-04-22 19:51] mleralec commented on #1996
Can I take this ?

[2020-04-22 19:57] jackcmeyer commented on #1996
@mleralec I have assigned this to. you.

[2020-04-23 00:26] jackcmeyer commented on #1969
Sounds good @akshay-ap.

i've already done sorting for the `findAll`, however, we need to implement it for `search` yet.

For this, I'm hoping we can end up with:

`search(searchCriteria: SearchCriteria, sort?: SortRequest, page?: PageRequest)`

and

`findAll(sort?: SortRequest, page?: PageRequest)`

if a page request is provided, it should return a `Page<T>` of whatever. Page should look like:

[

[2020-04-23 00:28] #1997 closed

[2020-04-23 10:18] JDarke commented on #1999
I've got a fix that simply removes any backslashes, to avoid escaping the regexp.  Does it need a wider-ranging check for other characters, or maybe just remove anything other than A-Z...?

PatientRepository.ts - Line 16 added, line 22 modified to replace 'text' with 'cleanText':

[code]

Either way, happy to take this one on if it's free.

[2020-04-23 10:56] #1996 closed

[2020-04-23 11:00] mleralec commented on #1998
In fact, I have fix this with my PR #2006 with an another missing label on appointment.

[2020-04-23 11:03] fox1t commented on #1998
I've just merged #2006

[2020-04-23 11:13] mleralec commented on #1998
I think you can close this issue since the fix is merged

[2020-04-23 11:35] mleralec commented on #1888
What is the state of this issue ? I think I can help on it.

[2020-04-23 11:37] mleralec commented on #1973
Is @alti21 still on it ? I can take it if not

[2020-04-23 15:41] akshay-ap opened #2008 "Add translation for labs.lab.patient"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:
Navigate to new lab request.
![image](https://user-images.githubusercontent.com/16358982/80119115-e6b66580-85a6-11ea-99ee-a983877f2ba6.png)

## Expected behavior

Translation for labs.lab.patient to be added.

## Your Environment

- *node version*: 12
- *fastify version*: >=1.0.0

[2020-04-23 15:49] akshay-ap commented on #1999
The issue seems to be with string ending with any special characters in regex like `[` or  String  having only `*` character.
```Unhandled Rejection (SyntaxError): Invalid regular expression: /Test[/: Unterminated character class```.
```Unhandled Rejection (SyntaxError): Invalid regular expression: /*/: Nothing to repeat```.
@JDarke, I would sugesst to find all the such cases rather than fixing th

[2020-04-23 15:50] akshay-ap commented on #1969
@jackcmeyer Thanks for the pointers!

[2020-04-23 16:22] JDarke commented on #1999
Ah, I thought it was just the backslash.  I'll write a general case solution to remove anything that's not whitespace or alphabetical if Jack assigns me to the bug.

Is it better to fix as shown, by cleaning the search string, or by stopping the text field from accepting any disallowed characters in the first place?

[2020-04-23 16:39] alti21 commented on #1973
Yes I'm still working on it

[2020-04-23 17:05] jackcmeyer commented on #1999
@JDarke I've assigned this to you.

[2020-04-23 17:06] jackcmeyer commented on #2008
This is a duplicate of #1973

[2020-04-23 17:08] jackcmeyer commented on #1888
I don't think any progress has been made on it. Would you like it assigned to you?

[2020-04-23 17:09] jackcmeyer commented on #1969
@akshay-ap No worries, please let me know if you have any questions. I've done a little bit of research into this.

[2020-04-23 17:10] jackcmeyer commented on #1998
Confirmed this is working. Closing issue.

[2020-04-23 17:10] #1998 closed

[2020-04-23 17:14] mleralec commented on #1888
Yes, thanks.

[2020-04-23 18:14] mleralec opened #2009 "View Appointment screen is showing translation key for title"
## 🐛 Bug Report

The title show the translation key on the View Appointment Screen.

## To Reproduce

1. Create a new appointment
2. Navigate and view that appointment
3. See that the title of the screen is the translation key

## Expected behavior
It should be the correct title instead of the translation key

[2020-04-23 18:34] JDarke commented on #1999
Do international alphabetical characters need to be factored in to this, or is localisation being handled separately?

[2020-04-23 19:17] jackcmeyer commented on #1999
international characters should be handled here. numbers, apostrophes, and other characters found in a name should also be supported.

[2020-04-23 19:38] JDarke commented on #1999
Will do.

[2020-04-23 20:08] JDarke commented on #1999
@akshay-ap ...I've run through numerous special characters, and so far my list of chars that break the search is as follows:

\ - Backslash
[  - Opening square bracket
* - Lone asterisk (with no preceding chars)
** - Consecutive asterisks (with or without preceding chars)
( ) - opening OR closing parentheses
? - Question mark

Does this cover all the instances you experienced?

[2020-04-23 22:51] jackcmeyer commented on #1999
@JDarke I think that we can safely remove all of those characters you listed.

[2020-04-24 10:02] JDarke commented on #1999
Ok, those are all removed in my last commit.

I think this should also be addressed at the Add New Patient input stage, too;  currently it's possible to create a patient with a name containing those special characters, which the user will now not be able to accurately search for.

Separate issue to be raised, or to be included with this issue?

[2020-04-24 14:44] mleralec commented on #2009
Can I take my own issue ?

[2020-04-24 23:05] #1973 closed

[2020-04-25 08:18] #1888 closed

[2020-04-25 20:46] LucasBN commented on #1891
Don't mind doing this - do I just translate the entire locales/enUs folder into Portuguese and the locales/ptBr?

[2020-04-26 12:39] #1960 closed

[2020-04-26 17:53] jackcmeyer commented on #2009
Closed via #2016

[2020-04-26 17:53] #2009 closed

[2020-04-26 17:53] jackcmeyer commented on #1891
@LucasBN you got it! I can assign this to you if you want?

[2020-04-26 17:53] #2008 closed

[2020-04-26 17:54] jackcmeyer commented on #1966
Closed via #2004

[2020-04-26 17:54] #1966 closed

[2020-04-26 17:59] jackcmeyer commented on #1918
Closed via #1938

[2020-04-26 17:59] #1918 closed

[2020-04-26 18:00] jackcmeyer commented on #1808
Hi @sujithnath. Sorry I missed your comment earlier. Do you still want to work on this issue?

[2020-04-26 18:13] LucasBN commented on #1891
@jackcmeyer sure

[2020-04-26 20:39] sujithnath commented on #1808
Sure :-)

[2020-04-26 21:24] #1891 closed

[2020-04-26 22:51] jackcmeyer opened #2019 "Improve sidebar readability"
## 🚀 Feature Proposal

Right now, the sidebar is hard to read, especially when sub items are selected.

We should improve the readability by doing the following:
* Don't highlight selected sub-items
* The background of subitems should be a slightly more gray than the main items.
* The height of the subitems list item should be smaller than that of the main items

Inspiration from v1:
![image](http

[2020-04-26 23:36] jackcmeyer opened #2020 "Date/Datetime pickers are too small"
## 🐛 Bug Report
The date/date time pickers are too small and do not fit to their parent element.

## To Reproduce
Navigate to anywhere there is a date/date time picker
* patient date of birth
* appointment start date/end date

## Expected behavior
The date/date time picker should take up the width of its parent element similar to how the text input/fields work.

[2020-04-27 04:07] alti21 commented on #2020
Can I take this?

[2020-04-27 04:21] jackcmeyer commented on #2020
I’ve assigned this to you @alti21!

[2020-04-27 14:49] #1923 closed

[2020-04-27 18:33] JDarke commented on #2019
I'd like to take a run at this one, please.

[2020-04-27 19:10] JDarke commented on #2019
The sub-item height is already slightly smaller than the main items, so do you want maybe another 10% reduction...?

[2020-04-27 20:30] JDarke commented on #2019
![SidebarEnhance](https://user-images.githubusercontent.com/52716187/80417385-93595580-88cd-11ea-8cde-a79153759717.png)

Something like that?

I'm not sure if it's the right approach, but I made these changes by passing in some extra css properties to ListSubItemStyle & ListSubItemStyleNew (Sidebar.tsx) to override the bootstrap styles:

[code]

[2020-04-27 20:45] LucasBN commented on #1859
Do you want me to do this?

[2020-04-27 21:47] jackcmeyer commented on #1859
@LucasBN if you want to, go for it!

[2020-04-27 21:48] jackcmeyer commented on #2019
I think that this looks great!

[2020-04-28 08:29] fox1t commented on #2019
@StefanoMiC i think you can paste here the new sidebar we are working on, so @JDarke can see it.

[2020-04-28 15:35] StefanoMiC commented on #2019
Hi @JDarke, thank you for your contribution! Actually, we are few days away from the release of the complete new graphics of the platform. The new sidebar will look something like this:

![image](https://user-images.githubusercontent.com/26657904/80506197-8d1eb400-8975-11ea-8694-2cdb425682a9.png)

As you can see we resolved readability issues and thought of a navigable menu to reduce clutter.
Ther

[2020-04-28 15:52] JDarke commented on #2019
Hah!  Yeah, that makes mine just a little redundant... :)

Looks great!

[2020-04-28 17:17] StefanoMiC commented on #2019
Thank you @JDarke! I'm glad you like it :)

[2020-04-30 16:35] akshay-ap opened #2029 "Error while searching appointments"
## 🐛 Bug Report

Special characters in input string causing issue.

## To Reproduce

Steps to reproduce the behavior:
1. Create a patient
2. Navigate to Patient details
3. Click appointments tab.
4. Enter text in search box.
5. Click search.

![image](https://user-images.githubusercontent.com/16358982/80735413-46c08500-8b2e-11ea-9491-cb340a1e2856.png)

Problemtic inputs:
1. String ending with `\`

[2020-04-30 17:29] JDarke commented on #2029
I'm working on #1999;  Once my submitted fix is accepted, I can apply it to the rest of the inputs to escape all special regex characters.

[2020-04-30 23:20] #1999 closed

[2020-05-01 14:07] JDarke commented on #2029
Sorry about the multiple commits.  I tried resetting my local repo and then making the changes again, as my master branch was out of sync with the master repo and things were getting untidy.  Looks like I still managed to send multiple commits.  :|

[2020-05-02 07:51] marcosvega91 commented on #1919
Hi guys I have added a new command to check missing translations comparing every language with the english one.
In the future I think that you could integrate an external service like [Crowdin](https://crowdin.com/).
The script could:

1. Send english translations to service
2. Download translations for all languages from the service
3. Update missing translations in locals folder

I remember that

[2020-05-02 13:08] #2029 closed

[2020-05-03 03:37] jackcmeyer opened #2036 "Lab should have a short code"
## 🚀 Feature Proposal

Similar to how patient's have a short code, labs should also have a short code.

This will make it easier to uniquely reference a lab.

- This code should be generated in the `requestLab` thunk.
- This code should be displayed in the first column of the labs table
- This code should be displayed in the header of the page when viewing a lab.
- The code should be prefixed with

[2020-05-03 03:48] jackcmeyer opened #2037 "Ability to report an incident"
## 🚀 Feature Proposal

Create the ability to report an incident. This will require a new module to be built called "Incidents".

An incident is comprised of:
- A date when the incident occurred
- The department where the incident occurred
- The category an category item of the incident
- A description of the incident
- Who the incident was reported by
- When the incident was reported

[2020-05-03 03:50] jackcmeyer opened #2039 "Ability to see all incidents"
## 🚀 Feature Proposal
Create the ability to see all incidents that have been reported

Incidents should be displayed in a table with the following data:
- Code
- Status
- Reported Date
- Incident date
- reported by

[2020-05-03 03:52] jackcmeyer opened #2038 "Ability to view an incident"
## 🚀 Feature Proposal
Create the ability to view an incident

All of the data about an incident should be viewable at the `incidents/:id` route.

[2020-05-03 07:20] marcosvega91 commented on #2037
I see that this feature is for core-team but If you want I can help you 😃

[2020-05-03 17:37] jackcmeyer commented on #2037
Thanks @marcosvega91 :) I'm only doing a minimal implementation, so there will still some work that will need to come out of this.

[2020-05-03 17:42] #1976 closed

[2020-05-03 17:54] #1972 closed

[2020-05-03 18:43] #2036 closed

[2020-05-04 01:01] hristijankiko commented on #1859
I have created a new [issue](https://github.com/HospitalRun/components/issues/389) in the `HospitalRun/components` repository to implement the necessary features to the `Navbar` component needs to allow for this feature to be implemented.

[2020-05-04 09:28] shubhangiagarwal76 opened #2047 "Provide way to quickly set year when entering DOB"
## 🚀 Feature Proposal

There is no feature for selecting the year directly. Provide an arrow for switching years in DOB section.

## Example

Each user will be at ease if this feature will be provided

[2020-05-04 14:04] akshay-ap opened #2043 "PatientRepository.findAll() called twice in initial load."
## 🐛 Bug Report

`ViewPatients.tsx` calls `dispatch(searchPatients(debouncedSearchText))` and `dispatch(fetchPatients())` in initial load. Both of these functions call `PatientRepository.findAll()`.
So, patients list is fetched twice initially which is redundant.

## To Reproduce

Steps to reproduce the behavior:
Navigate to: `<host:port>/patients`

## Expected behavior

`PatientRepository.findAll

[2020-05-04 15:02] marcosvega91 commented on #2043
Hi @akshay-ap I reproduce the issue.
It doesn't make sense to have `dispatch(fetchPatients())` after #1970
I think that in this case you can open a new PR and fix the issue otherwise I can do.

[2020-05-04 15:12] akshay-ap commented on #2043
I have the fix ready. I can raise the PR if you don't mind.

[2020-05-04 15:21] marcosvega91 commented on #2043
Go forward 👯

[2020-05-04 22:31] jackcmeyer commented on #2047
For anyone interested in working on this issue, our `DateTimePicker` using the `showYearDropdown` prop.

[2020-05-05 00:10] #2043 closed

[2020-05-06 00:19] samgaudr opened #2053 "Appointments List should provide more information on listed appointments"
## 🚀 Feature Proposal

Appointments list should provide more information on listed appointments, like location, type and/or reason of the appointment.

## Motivation

Currently, only the start time of the appointment is displayed in the list, but the search bar does only search on the location, reason and type field. It would also make the list more intuitive for the user.

**Current appointment l

[2020-05-06 10:38] darrylpargeter commented on #2053
Hey, is it possible to attempt this one?

[2020-05-06 11:13] tehKapa commented on #2053
Sure @darrylpargeter!

[2020-05-06 14:17] JDarke commented on #2047
I'd like to take a shot at this one, please.

[2020-05-06 18:51] #1836 closed

[2020-05-06 21:42] #1971 closed

[2020-05-07 05:22] jackcmeyer commented on #2047
Sounds great @JDarke!

[2020-05-07 06:55] sourabbanka22 commented on #1920
Hi @jackcmeyer, May I work on this issue?

[2020-05-07 12:51] JDarke commented on #2047
Thanks, Jack.

I've got the year dropdown to show, by passing in the showYearDropdown as true in DatePickerWithLabelFormGroup.tsx:

[code]

Does this also require a new test, or is it not needed as the prop is always passed as true? (This only affects DatePicker, not DateTimePicker, so it seems right that we'd always want the year dropdown when picking a date but not a time, yes?)

[2020-05-11 17:56] #2020 closed

[2020-05-11 18:08] #2047 closed

[2020-05-11 18:19] jackcmeyer commented on #1920
@sourabbanka22 I've assigned this to you!

[2020-05-11 18:22] jackcmeyer opened #2061 "Standardize react router imports in tests and source code"
## 🐛 Bug Report

In some cases, the react router imports are different.

All react router imports should come from `react-router-dom` instead of `react-router` per the documentation here: https://reacttraining.com/react-router/web/guides/quick-start

[2020-05-11 18:25] jackcmeyer opened #2062 "Standardize mock store setup in tests"
## 🐛 Bug Report

In some cases, the mock store setup in tests are different. We should use `createMockStore` in all cases instead of `configureMocks

[2020-05-11 18:38] sourabbanka22 commented on #2061
Hi @jackcmeyer , is it possible to attempt this one?

[2020-05-11 20:30] #2019 closed

[2020-05-11 20:30] jackcmeyer commented on #1917
Closed via #2051

[2020-05-11 20:30] #1917 closed

[2020-05-12 17:20] darrylpargeter commented on #2053
@jackcmeyer @tehKapa
I started looking at this and found this comment on a PR https://github.com/HospitalRun/hospitalrun-frontend/pull/1823#pullrequestreview-358683785 which mentions that this should use the Table component once it has been done.

However, from a look at the component, it still seems to be a WIP and is in need of a bit TLC to be considered usable.

From my point of view the table

[2020-05-12 22:50] jackcmeyer commented on #2053
@darrylpargeter I think that these are all great ideas. I'm thinking we may want a different interface to the Table component.

I've opened an issue here for discussion: https://github.com/HospitalRun/components/issues/411

[2020-05-13 02:05] #2061 closed

[2020-05-13 07:38] #2039 closed

[2020-05-13 07:38] #2037 closed

[2020-05-13 07:38] #2038 closed

[2020-05-14 03:18] kumikokashii commented on #2062
@jackcmeyer Hi, may I take this one?

[2020-05-14 06:55] tehKapa commented on #2062
@kumikokashii sure!

[2020-05-14 17:53] kumikokashii commented on #2062
PR is ready for your review. Thank you! https://github.com/HospitalRun/hospitalrun-frontend/pull/2075

[2020-05-14 19:52] kumikokashii commented on #1947
What sorts of information would a related person add to the patient? I wonder if this is more like an emergency contact information, or rather related to the health conditions of the patient?

[2020-05-16 22:59] jackcmeyer opened #2078 "Add ability to resolve an incident"
## Scenario
**AS**
A user who has the ability to resolve an incident

**I WANT**
A button that I can click that sets the incident's status to resolved

**SO THAT**
I can determine when an incident is no longer needed to be opened.

## Acceptance Criteria

## Technical Notes
* New, required, text field called `resolution` should be displayed when viewing an incident
* New permission `ResolveInciden

[2020-05-17 03:41] jackcmeyer opened #2079 "Patient Care Plan"
## 🚀 Feature Proposal
A Patient should have the ability to have a Care Plan.

A care plan gives describes how care is going to be given to a patient.

A care plan consists of:
- an identifier
- status of `draft`, `active`, `on hold`, `revoked`, `completed`, `unknown`
- intent of `proposal`, `plan`, `order`, `option`.
- title
- description
- patient
- start date, end date
- created on date (when th

[2020-05-17 04:18] jackcmeyer opened #2080 "Patient Care Goal"
## 🚀 Feature Proposal
Add the ability to define care goals for a patient.

Care Goal is WHAT e.g. Decreases blood pressure by 15 points
Care Plan is HOW e.g. Exercise for 1 hour each day and decrease soda intake to 1 serving per week.

A care goal is defined as:
- an identifier
- status: `proposed`, `planned`, `accepted`, `active`, `on hold`, `completed`, `cancelled`, `rejected`
- achievementStatu

[2020-05-17 05:02] jackcmeyer opened #2081 "Unable to view an incident"
## 🐛 Bug Report

I cannot view an incident.

## To Reproduce
1. Create an incident
2. Navigate to the incidents list
3. Refresh the browser
4. Click on an incident and see the app never load the incident

See error in console:
[code]

## Expected behavior
I would expect it to load an incident.

[2020-05-17 06:07] jackcmeyer opened #2082 "Add requested by to lab"
## Scenario
**AS**
A user who can request labs

**I WANT**
My requester information tracked

**SO THAT**
Whoever works on the lab can contact me

## Acceptance Criteria
**GIVEN**
A lab is to be requested

**WHEN**
The lab gets requested

**THEN**
The system should store the requester's id in a field called `requestedBy`

## Technical Notes
* new field called `requestedBy` on a lab
* get user id fr

[2020-05-17 06:13] jackcmeyer opened #2083 "Administration Module"
## 🚀 Feature Proposal
An administration module is where settings for the entire healthcare facility can be managed.

Initial features will include:
- Ability to define incident categories and incident category items
- Ability to define patient types
- Ability to define lab types

- Name the hospital
- Define possible healthcare facility locations

[2020-05-17 06:17] jackcmeyer opened #2084 "Filter incidents by status"
## 🚀 Feature Proposal
When viewing the incidents list, I'd like the ability to filter the labs by their status.

There should be a dropdown that has a list of possible incident statues and when I select an element from that list, it should be filter the list of incidents to whatever was selected.

By default only reported incidents should show in the list.

## Motivation
Quickly find information I

[2020-05-17 16:21] #2082 closed

[2020-05-17 21:32] #2062 closed

[2020-05-20 00:16] #2081 closed

[2020-05-20 00:41] #2084 closed

[2020-05-20 21:12] christiantgolden commented on #2078
I'd like to give this one a shot as a first time contributor.

[2020-05-21 23:53] jackcmeyer commented on #2078
Sounds great!

[2020-05-22 03:10] kumikokashii commented on #1948
Hi, may I take this?

[2020-05-26 00:31] kumikokashii commented on #1948
Hi, PR is ready for your review: https://github.com/HospitalRun/hospitalrun-frontend/pull/2096

[2020-05-27 00:27] vicdurai commented on #1967
Can I pick this issue or is someone working on this already?

[2020-05-27 15:08] akshay-ap commented on #2083
Can I take this one?

[2020-05-27 15:15] akshay-ap commented on #1967
FYI: The patient list will be sorted by name in #2026.

[2020-05-27 17:11] vicdurai commented on #1967
Cool since this is being worked on, I will not work on this. @tehKapa Please can you unassign me from this issue and assign it to @akshay-ap since he already has a PR for it.

[2020-05-27 18:45] sourabbanka22 commented on #1920
Hi , @jackcmeyer  I have implemented the feature to define secondary, tertiary, etc. phone numbers, addresses, and emails for a patient.

Following are some screenshots of the implemented functionality:

**Initial:**
<img width="947" alt="NewPatient_Before" src="https://user-images.githubusercontent.com/58421086/83059373-6d170900-a077-11ea-9bc7-0e9090263fd3.PNG">

<img width="954" alt="NewPatient_

[2020-05-27 19:13] tehKapa commented on #1920
@lauggh @StefanoMiC

[2020-05-27 19:13] tehKapa commented on #1967
Ok. Done! Sorry @akshay-ap

[2020-05-28 00:03] jackcmeyer commented on #1920
@sourabbanka22 could you open a PR that can build so we can play around on the preview?

[2020-05-28 00:35] jackcmeyer opened #2098 "Save sidebar preference when collapsing/expanding"
## 🚀 Feature Proposal
When the sidebar collapses or expands, I would like the setting saved so that when I refresh the page or when I use a different device, that setting is saved.

## Technical Notes
- Add a new database "user"
- Add new user preferences object for the user
- Add new redux action
- Save the user preferences when the user expands or collapses the side bar

[2020-05-28 00:38] jackcmeyer opened #2099 "Add quick create feature in the navbar"
## 🚀 Feature Proposal
In the top right of the navbar, there should should be a feature that allows me to quickly navigate to create pages that I have access to do.

## Technical Notes
- Icon should be the `add` icon from `@hospitalrun/components`
- Options should be listed in the same order as the sidebar
- Only options that I have access to view should show up

[2020-05-28 00:40] jackcmeyer opened #2100 "Add Report Incident button in the incidents module"
## 🚀 Feature Proposal
In the incidents module, there should a `Report Incident` button similar to all of the other "create buttons like `New Patient, `New Appointment`, etc.

Clicking this button should navigate the user to the `/incidents/new` page

[2020-05-28 01:03] alti21 commented on #2100
can i take this?

[2020-05-28 01:04] jackcmeyer commented on #2100
Hi @alti21! You definitely can. I've assigned it to you.

[2020-05-28 01:32] #1948 closed

[2020-05-28 06:57] sourabbanka22 commented on #1920
@jackcmeyer  as I have made quite a few number of changes in the Patient model to support a list of addresses, phone numbers, emails also some additional changes to some models to support the label of the phone number, address, or email because of which some tests requires to be updated accordingly, I would require some help with that. Should I open a PR with these Test Cases failing?

[2020-05-28 07:26] kumikokashii opened #2101 "Use Select component where SelectWithLabelFormGroup is used"
## 🚀 Feature Proposal

1. Use v1.8.1 of @hospitalrun/components
2. Replace `SelectWithLabelFormGroup` with `Label` and `Select`

Note: [Select component in v1.7.0](https://github.com/kumikokashii/components/blob/cb18ddada458b33953982fa15f41aa005344fb97/src/components/Select/Select.tsx) comes with a typeahead functionality. Please see examples in the [storybook](https://components.hospitalrun.io/?p

[2020-05-28 09:06] rubencgt commented on #2101
I'd be happy to take this, if possible

[2020-05-28 16:58] kumikokashii commented on #2101
@rubencgt It's yours. Thank you!

[2020-05-28 19:34] sourabbanka22 commented on #1920
@jackcmeyer I just opened a PR,  Currently I have commented out a few tests related to newly created Phone Number, Email and Address Models

**Please let me know if there are any Modifications or Changes required.**

[2020-05-29 06:02] Elveskevtar commented on #2079
Hey @jackcmeyer I was wondering if you were still working on this feature. If not, I would be happy to take over the feature. Otherwise, do you know of a medium/high effort task that the team needs done?

I am looking to contribute to an open source project and found HospitalRun really cool.

[2020-05-29 20:20] alessioprestileo commented on #1773
Hi, I can help with this issue, I've implemented the same feature at work.

[2020-05-29 21:12] rodzy opened #2104 "Adding missing translations"
## 🚀 Feature Proposal

To add some of the missing translations on the script files, can I start working on them or you guys planning on doing it a different way?

## Motivation

I've seen some traction for this repository on some Facebook front-end groups and they were talking about the missing languages , so I've been studying the code and would like to collaborate

[2020-05-29 21:18] tehKapa commented on #1773
Of course @alessioprestileo!

[2020-05-29 21:25] tehKapa commented on #2079
Hi @Elveskevtar no one is currently developing this feature. If you'd like we can assign it to you. Let's wait for @jackcmeyer to confirm

[2020-05-29 21:56] jackcmeyer commented on #2079
@Elveskevtar and @tehKapa I've been working on this issue :)

[2020-05-29 22:04] jackcmeyer opened #2106 "Ability to create a patient when adding a related person that does not exist"
## 🚀 Feature Proposal
When creating a Related Person, it assumes that the patient that you want to add as a related person already exists. If the related person does not exist, it is cumbersome to exit the related person modal and go create that patient, then come back to finally add the related person.

Users would like the ability to have some sort of "quick add" that allows me to create a new p

[2020-05-29 22:28] WaseemAlkurdi commented on #2106
Example scenario: Let's take the context of a fertility/family planning clinic, where the doctor is creating an entry for an example patient John Doe:
![image](https://user-images.githubusercontent.com/15712695/83309074-00d00d00-a211-11ea-9cb1-7ac322341a7a.png)

That John Doe is married to Jane Doe, _who should share the same record, as the clinic's context  needs that_ . Currently, we have to cre

[2020-05-29 22:58] rodzy commented on #2104
Hi @tehKapa. I'm catching up with the Crowdin documentation right now.
As soon I have it done I notify you guys on Slack

[2020-05-30 04:11] kumikokashii commented on #2099
PR is ready for your review. Thank you. https://github.com/HospitalRun/hospitalrun-frontend/pull/2108

[2020-05-30 08:10] #2099 closed

[2020-05-30 08:14] tehKapa commented on #2104
The main issue is finding a way to implement a translation template to the current code structure.

[2020-05-30 08:34] marcosvega91 commented on #2104
The best way in this case is to use JSON file instead of ts files for translations

[2020-05-30 10:46] tehKapa commented on #2104
And use this https://www.npmjs.com/package/react-i18next for import json?

[2020-05-30 11:34] marcosvega91 commented on #2104
Yes, I think is simplier in this way rather than create all ts files. What do you think ?

[2020-05-30 12:10] tehKapa commented on #2104
You're probably right (I'm not a developer, I'm in charge of management and CI/CD).

Btw, I leave here a reference link https://github.com/i18next/react-i18next/issues/472

[2020-05-30 13:43] marcosvega91 commented on #2104
It is not a problem :). About the implementation I think that with .json is simpler than with .ts.
As i suggested here #1919 [Docusaurus](https://github.com/facebook/docusaurus/blob/master/docs/guides-translation.md) is using this service. @rodzy I think that you can take a look their implementation.

[2020-05-30 17:45] rodzy commented on #2104
I was messing with the .ts files yesterday and it's definitely challenging, because Crowdin only uses string recognition and some times picks the type properties as strings that in mind changes the flow results on not displaying any data on the end application.
I might try using .json , thx for the suggestion on Docusaurus @marcosvega91, I'm definitely checking their implementation.

[2020-05-30 20:07] kumikokashii commented on #1893
This ticket was unintentionally worked on in the PR https://github.com/HospitalRun/hospitalrun-frontend/pull/2096

[2020-05-30 20:10] #1893 closed

[2020-05-31 04:58] jackcmeyer opened #2110 "Sidebar should only show links which user has access to see"
## 🐛 Bug Report

Right now, the sidebar shows all links, no matter what the user has access to see based on their permissions.

Sidebar links should be limited to what the user is allowed to see.

[2020-05-31 21:05] blestab commented on #2110
I am a little nervous but I would like to try this as my first issue. I have finished going through some reactjs/ts tutorials and have browsed around the repo; I feel I might be able to do this one.

[2020-05-31 21:41] jackcmeyer commented on #2110
@blestab sounds great! no need to be nervous :) reach out if you need help!

[2020-05-31 22:08] blestab commented on #2110
Looking further into this it looks like i would also have to apply the same fix to the top Navbar (for smaller screen sizes) as well as restrict the 'add new' and 'edit' buttons on the relevant pages such as Patients Listing/View, Appointment Listing/View? Or should i only focus on the Sidebar for now?

[2020-06-01 01:45] kumikokashii commented on #2098
I wonder if saving the preference would be enough per cookie, rather than per user?

[2020-06-01 10:59] tehKapa commented on #2098
Good question @kumikokashii. In the first case, the settings would be saved on the browser, in the other case the user could bring back his settings on another browser/PC too.

[2020-06-01 13:50] kumikokashii commented on #2098
I came up with this use case. If user was on Desktop and let's say had all of sidebar expanded. When the same user goes to another hospital and uses Tablet to log in. Screen size is much smaller, and he/she may not want all sidebar expanded? Mobile has no sidebar.

[2020-06-01 15:10] JDarke commented on #2106
I'd like to take a shot at this one, please.

[2020-06-02 21:49] #2100 closed

[2020-06-03 02:05] kevinhaube commented on #1947
A parallel experience to this is when I used to work at a gym and we'd register what we called "prospect" accounts as guest accounts for members who had access for a +1. There was a limited amount of information needed: name, birthday, phone number, relationship, and a barcode to look them up by (which usually was just their 10 digit phone number). I was just looking at the process of adding a Rel

[2020-06-03 09:31] fox1t commented on #2106
@JDarke nice! We need to wait for this since we need to define more specific requirements. Would you like to be involved also in requirements planning and user story definition?

[2020-06-03 09:36] fox1t commented on #2098
I think this issue has to be split in two:
1. user settings object inside user's record saved in db
2. sidebar preference: we have to save also the viewport of the preference so we can address what @kumikokashii said. I think we can let the user decide per three different views:
1. desktop
2. tablets
3. mobile (for this specific settings, mobile will not be selectable)

[2020-06-03 09:50] tehKapa commented on #2101
Hi @rubencgt, do you need some help?

[2020-06-03 10:18] tehKapa commented on #2098
This feature seems to me more something for version 2.1. Am I wrong?

[2020-06-03 12:26] JDarke commented on #2106
Absolutely!

I've got my own projects in react/typescript to finish off today, then I'll take a deeper look at the issue and come back with some suggestions.

[2020-06-03 14:36] kumikokashii commented on #2098
Agree ✋

[2020-06-03 14:42] fox1t commented on #2098
No, you are not. We will have many of these, let's call them, "settings". However we have to finalise the document that explains the user story, before the release of 2.0.

[2020-06-03 14:59] kumikokashii commented on #1947
@kevinhaube Thank you for your thoughts. Currently, adding a related person/patient is in the requirement collection phase.

Closing this ticket for https://github.com/HospitalRun/hospitalrun-frontend/issues/2106

[2020-06-03 14:59] #1947 closed

[2020-06-03 15:27] kumikokashii commented on #2106
Please note that this "join" feature will be a separate ticket if wanted.

[2020-06-03 17:05] rubencgt commented on #2101
hello @tehKapa since it seems to be critical,
is there a change someone more experienced would take this issue and I can take another one?

[2020-06-03 17:43] tehKapa commented on #2101
No problem! @kumikokashii can you take care of this?

[2020-06-04 09:02] #2079 closed

[2020-06-05 02:13] kumikokashii commented on #2117
Hi, PR is ready for your review: https://github.com/HospitalRun/hospitalrun-frontend/pull/2118 Thank you!

[2020-06-06 13:13] lauggh commented on #1920
Screenshots look good.

[2020-06-07 05:01] #1773 closed

[2020-06-07 18:46] #2110 closed

[2020-06-08 06:07] Elveskevtar commented on #2098
Hey all! I see that you have decided to save this for a later milestone. I was thinking about taking a crack at it over the next two weeks and was wondering if that would be advisable by the team?

If so, the document that @fox1t mentions would be useful to see.

[2020-06-08 06:58] Elveskevtar commented on #2098
Just some clarification on the tasks involved:
1) There does not seem to currently be any implementation of "users". There are language settings which are powered by i18next from my understanding and that seems to be browser based.
2) This task would mean adding users schema for the db located in the core/server repos?
3) Does this task involve creating a sign on system for the user, and if so, wh

[2020-06-08 07:11] Elveskevtar commented on #2098
So after some more investigating, I see that the demo on the HospitalRun website actually has an authentication and user system. Is this part of the 1.x releases and just has not been updated for the 2.0 release yet?

[2020-06-08 07:23] fox1t commented on #2098
Hi @Elveskevtar,

1. We are in the process of defining the user entity: our users are CouchDB users that handles both authentication and data. May I ask you if you have any experience with CouchDB?
2. Yes, we need to add database user schema representation to core repo, however it depends on point 1
3. Yes: first we are going to define our registration and login process. We need to support our own

[2020-06-08 07:24] fox1t commented on #2098
The 1.0.0-beta has several issues about how it handled the authentication. We are building it ground up in order to support what i mentioned in my last reply here.

[2020-06-08 07:32] Elveskevtar commented on #2098
Thank you for the quick update! I don't have experience with CouchDB but I do have experience with NoSQL databases. I took a look at the json models to define the schema for it in core and it looks pretty intuitive.

As for authentication, that makes sense. Will users need to be connected to the internet to authenticate at first or is that the point of the external login? I have significant experi

[2020-06-08 10:56] #1969 closed

[2020-06-08 13:15] akshay-ap opened #2120 "Add Paging for Labs in front end."
## 🚀 Feature Proposal

Paging is already implemented for Patients list in Front end.
https://github.com/HospitalRun/hospitalrun-frontend/pull/2026

Paging for Labs list can be implemented similarly.

[2020-06-08 13:37] tehKapa commented on #2120
Ok @akshay-ap. Thanks

[2020-06-08 18:34] kumikokashii opened #2122 "Create a script to generate dummy data"
## 🚀 Feature Proposal
Create a script to generate dummy data. Please note that its loading into the database will be implemented separately.

~~In the Account dropdown menu (located in the Navbar, at far right), create two menu items:~~
~~1. Log in as Test (Clicking on this will load pre-populated dummy data)~~
~~2. Log out (Clicking on this will reset data)~~

## Motivation
- It'll allow us to se

[2020-06-08 22:17] #2117 closed

[2020-06-09 16:36] JDarke commented on #2106
So it'd been a while since I last updated my hr-fe fork, and having just done so and pulled to my local repo, I'm getting a failure to compile.

Is anyone else getting this error?

`TypeScript error in /.../hospitalrun-frontend/src/components/Navbar.tsx(70,11)`

[2020-06-09 18:29] tehKapa commented on #2106
No. Try deleting node_modules folder, yarn.lock, package-lock.json and relaunch an `npm i`

<img width="657" alt="Screenshot 2020-06-09 at 20 28 45" src="https://user-images.githubusercontent.com/6388707/84185799-d6434700-aa8f-11ea-987a-44a598d9def5.png">

[2020-06-09 18:44] blestab commented on #2122
Hi @kumikokashii

I would like to give this a try but perhaps if you can elaborate more in terms of the requirements.

I think i get the addition of the login/logout links part. I am not sure i quite get how best to approach the dummy dummy setup/teardown part.

Will there be a back-end component where the dummy data will come from? or can this be for example json files that can be pulled to the c

[2020-06-09 19:08] christiantgolden commented on #2078
I'm running into an issue trying to set incident properties. I receive an error that an incident's properties are read only. I've modeled my code largely off of ReportIncident related code, but is initially called from within ViewIncident. I know this isn't much to go on just yet, but before I seek more detailed assistance, and provide more in depth info, does anything come to mind off the top of

[2020-06-09 20:02] kumikokashii commented on #2122
@blestab Hi, this will be on frontend. And I think it'd be helpful to put it in a json file or something similar, for when we will use this test account data for backend down the line. What do you think about it? 🙂

[2020-06-09 22:01] jackcmeyer commented on #2078
The reason that you are getting that error is you are likely directly modifying a redux object, which are immutable.

Feel free to open a [draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/) an I can review the code and better help debug.

[2020-06-09 22:33] christiantgolden commented on #2078
Oh wow. I didn't know draft PRs were a thing! Thanks for offering to review. I'll submit a draft PR soon.

[2020-06-10 09:29] #1919 closed

[2020-06-10 11:27] blestab commented on #2122
Yes I think that makes sense. let me investigate further to see how i would implement this and then I will run it past you before i start any coding.

[2020-06-14 05:45] kumikokashii commented on #1920
Hi, PR is ready for your review at https://github.com/HospitalRun/hospitalrun-frontend/pull/2113. Thank you!

[2020-06-15 10:38] fox1t commented on #2106
Hi, I thought a lot about what you said here, @WaseemAlkurdi, and I disagree that "auto-propagation" and "sharing" would be what we want here. There are more contexts where sharing diagnosis and conditions is more harmful than useful. However I perfectly understand your point of being able to see the relations between patients and fastly check conditions of relative ones. We are going to make this

[2020-06-15 10:40] fox1t commented on #2106
@JDarke What you propose is really nice. I like it a lot. @HospitalRun/core-contributor what do you think about it? If we all agree we can elaborate a bit and make a new issue/PR to handle it.

[2020-06-15 15:36] JDarke commented on #2106
Thanks.

I also noticed a potential issue:  when searching for a match in existing patients, it only searches by name, and doesn't display any other info to the user before they confirm the match as a related person.

This seems likely to cause issues if say, I'm searching for a person with a fairly common name, and they are presented as a match when in fact I'm looking for someone completely diff

[2020-06-15 17:14] EmilioCastilloW commented on #2122
Hi I will like to help!, Im new to TypeScript and this seems to be a good first issue to work with. What is the status of this issue?

[2020-06-15 17:31] blestab commented on #2122
Hi @EmilioCastilloW

I am busy with the dummy data generation now.

So far I have added menu item and have it toggling between login and logout.

[2020-06-15 19:40] kumikokashii commented on #2122
@blestab @EmilioCastilloW Thank you, both. I updated the ticket status accordingly.

[2020-06-15 19:46] WaseemAlkurdi commented on #2106
Thanks for the insight!
As for the "auto-propagation" part, you definitely have a point here. But the rest of the objection isn't as clear to me, especially when our problem (sans record linking, which is acceptable for the reasons you cite) was very eloquently solved by @JDarke in the screenshots provided above. Can you tell me what I might be missing?

[2020-06-15 19:51] WaseemAlkurdi commented on #2106
Nicely spotted!

You could actually join by creating a Slack account (no HospitalRun email address needed), I tried that and it worked. You can request an invite using this link: https://hospitalrun-slackin.herokuapp.com/

[2020-06-16 03:40] jackcmeyer opened #2127 "Care Plan Note should not be required"
## 🐛 Bug Report

When creating a care plan, the note field should not be required.

## To Reproduce
1. navigate to patients -> care plan -> add care plan
2. fill in the required fields
3. note should not be required

## Expected behavior
1. note should not be required

## Technical notes
* remote validation from redux thunk
* remove required asterisk

[2020-06-16 03:48] jackcmeyer opened #2128 "New fields for diagnosis"
## 🚀 Feature Proposal
Add new fields for a diagnosis:

- onsetDateTime (Date Time picker that defines when the symptoms first occurred
- abatementDateTime (Date Time picker that defines when the symptoms went away)
- status (selection of the following fields: active | recurrence | relapse | inactive | remission | resolved)
- note: text box which allows someone to enter a note

[2020-06-16 03:50] jackcmeyer opened #2129 "Ability to view a diagnosis"
## 🚀 Feature Proposal

Currently, the list of diagnosis are not clickable. This issue is to make them clickable and create a component that allows a user to view the diagnoses.

## Technical notes
* the routing should work similar to how care plan routes work

[2020-06-16 05:17] anyapawar commented on #2127
Would like to take this one!

[2020-06-16 05:18] reidmeyer commented on #2128
Would love to take this one.

[2020-06-16 07:04] tehKapa commented on #2127
Assigned to @anyapawar

[2020-06-16 07:05] tehKapa commented on #2128
Assigned to @reidmeyer

[2020-06-16 08:27] dopt commented on #2129
Hi, @jackcmeyer I would like to try this issue.

I have a question though, it seems that the diagnoses has only 2 fields which are diagnosis name and date, as compared to care plans which has much more existing fields, do you think the "View" button is necessarily in this case? Since we could be showing the 2 fields in the table row by default.

[2020-06-16 13:30] blestab commented on #2129
Hi @dopt
Additional fields are being added to diagnosis via #2128 hence the need for this ability, I think.

[2020-06-16 17:33] reidmeyer commented on #2129
Yup, I'm working on #2128, so I can tackle this once I'm done there since this is directly related.

[2020-06-16 17:33] JDarke opened #2132 "Display additional patient info when searching patients to add as Related Person"
## 🚀 Feature Proposal

When searching for a match by name in the Add Related Person dialog, it should display additional identifying information (such as zip code) alongside the name of each listed match.

## Motivation

When searching for a match in existing patients, it only searches by name, and doesn't display any other info to the user before they confirm the match as a related person.

This

[2020-06-16 17:45] EmilioCastilloW commented on #2080
Hi! I see that this post is now open for contributions. Can you elaborate a little bit more? Where will the "care goal" be implemented? As part of the Patient information? As a separate function?

[2020-06-16 19:41] nischayv commented on #2078
Is this still being worked on, otherwise I don't mind taking a shot at it?

[2020-06-16 19:45] nischayv commented on #2132
Can I work on this feature?

[2020-06-16 20:14] tehKapa commented on #2132
@JDarke did you just report the feature or were you also planning to develop it?

[2020-06-16 20:39] JDarke commented on #2132
I'm happy for you to take this one, @nischayv .

Any redesign of the layout of the dialog box could be affected by #2106 at some point, as we might be moving the dialog box fields onto the main page...but that's not an issue if you're just going to change the text displayed in the search dropdown, as that functionality will be carried over unchanged.

[2020-06-16 21:55] blestab commented on #2122
Hi @kumikokashii

So, I have managed to generate some JSON documents with Patients, Diagnoses, Notes, Allergies, Appointments, and RelatedPersons links for now. I haven't done Labs, Incidents and CarePlans yet but will do so soon.

Now I was attempting to store the data into the local store, however i have some issues and was wondering if you can point me in the right direction:
1) I noticed that

[2020-06-16 23:16] kumikokashii opened #2134 "[WIP] Patient's Contact Info's Add functionality"
## 🐛 Bug Report
The Add functionality works incorrectly when user removes a contact info value on a row that is NOT at the bottom.

## To Reproduce
1. Go to /patients/new
2. Scroll down to Contact Information
3. Pick any of Phone Number, Email, and Address, and enter any value that is not a space.
4. Click on the Add button. A new row appears.
5. On the new row, enter any value that is not a space

[2020-06-17 02:21] jackcmeyer commented on #2129
@blestab answered the question perfectly. Also, there will eventually be some sort of workflow for a diagnosis which will need the ability to view a diagnosis.

[2020-06-17 04:31] dopt commented on #2129
@blestab @jackcmeyer Got it, thanks.
It's better to wait for #2128 to be finished first since both issues are linked.

For now, I will probably reuse care plans' workflow for diagnoses, do let me know if there's different opinion on the matter.

@reidmeyer I can take care of this issue once #2128 is done, don't worry about that.

[2020-06-17 05:24] kumikokashii commented on #2134
Fixed in branch before merge.

[2020-06-17 05:24] #2134 closed

[2020-06-17 06:34] kumikokashii opened #2135 "New hook to simplify the use of useTranslation"
## 🚀 Feature Proposal
1. Create a new hook that simplifies the use of the useTranslation hook. Starting point reference looks something like this:
[code]
It'd be used like this:
`const { t } = useTranslator()`
`feedback={t(error?.dateOfBirth)}`

2. Edit translation instances to use the new hook, and test they are working.

## Motivation
In some places where useTranlation is currently used, it look

[2020-06-17 12:12] JDarke commented on #1999
I've just had this bug re-occur.

Can anyone else reproduce the error by entering a search string ending in backslash into the patient list search bar?

![Screen Shot 2020-06-17 at 13 11 28](https://user-images.githubusercontent.com/52716187/84896599-2166e680-b09c-11ea-8dfb-3a6b8e25272a.png)
![Screen Shot 2020-06-17 at 13 10 13](https://user-images.githubusercontent.com/52716187/84896495-f5e3fc00-

[2020-06-17 15:37] lauggh commented on #2106
Would it be possible to also pull in a date of birth next to the person's name as a qualifier? This would help identify patients as well as show age.

`Jane Doe (1980-06-17)`

[2020-06-17 16:57] JDarke commented on #2106
Yup, seems sensible.

It's been raised as a separate issue - #2132  .

[2020-06-17 23:41] kumikokashii commented on #2122
@blestab Hello! Thanks for your detailed notes 😊 When we communicate with the database to create, delete, search, etc. data, we use db classes at [src/clients/db](https://github.com/HospitalRun/hospitalrun-frontend/tree/master/src/clients/db). We use these classes, instead of directly talking to the database, because they can do all of the work for us.

Now, with the json files you've created, I i

[2020-06-17 23:45] kumikokashii commented on #2122
@blestab And, in the current development stage, no need to consider what happens with the server database. So if it works in the browser, that means all good ☀️

[2020-06-17 23:48] jackcmeyer commented on #2080
Hi @EmilioCastilloW.

The Care Goal, for now, will be a tab right next to Care Plan.

It will just be another property that is located on the patient object.

[2020-06-17 23:57] #1920 closed

[2020-06-18 03:13] EmilioCastilloW commented on #2080
Thanks, I will give it a try and share it with you.

[2020-06-18 03:21] jackcmeyer commented on #2080
Awesome, I've assigned this to you @EmilioCastilloW

[2020-06-18 20:38] JDarke opened #2141 "Split patient address field into subfields"
## 🚀  Split patient address field into subfields

Patients' addresses should be split into appropriate subfields, such as Street, Town/City, Region and Postal code.

## Motivation

Currently, the address field of Patient contact information is stored as a single string of no specific format. This has several potential problems:
1. Possibly leads to confusion and/or duplication if the same address

[2020-06-18 20:43] fox1t commented on #2141
Lets try to put some address examples here. We need to cover most possible cases. In my experience (as I said somewhere else I build Warehouse Management Systems for living) this is pretty inclusive:

[code]
Let me know what do you think.

[2020-06-18 20:46] jackcmeyer commented on #2141
@fox1t looks good to me. For reference, FHIR's address type is:

[code]

[2020-06-18 20:49] fox1t commented on #2141
I think we can understand if we need use and type on our resources: FHIR uses it also in other entities but i am not sure it is strictly needed in HR.

[2020-06-18 20:57] JDarke commented on #2141
I'd suggest changing it *slightly* to:

[code]

a) region, as it's more generically descriptive than province or district
b) make the second address line optional, too.

Although do we want to make *any* of them required fields?  Address is currently not required;  is this by design?

[2020-06-18 21:03] fox1t commented on #2141
a) region is very confusing in many parts of the world. For example in Italy there is a region concept but it is not part of the "address". This is also true in Croatia and many parts of Africa. I think that district is more universal, if province isn't a good fit.
b) absolutely, my mistake on that!

If a user is adding an address then he/she has to add all of the required fields. However address

[2020-06-18 21:24] JDarke commented on #2141
Ok, I'd stick with province, then.  District can be subsets of a city, but as far as I know provinces are generally the larger regions - like a state or county - which is what we're referring to here, right?

Makes sense.

[2020-06-18 21:30] fox1t commented on #2141
Correct: here we are referring to counties, states, provinces.

[2020-06-19 17:52] blestab commented on #2122
Noted with thanks @kumikokashii
Makes perfect sense.

[2020-06-21 20:07] tehKapa opened #2148 "Improve the docker-compose to start CouchDB"
It is necessary to add curl command to create a new DB user directly in the docker-compose.
Currently, frontend dev must launch it in manual mode after database startup with this request:

[code]

The first implementation tests showed CouchDB error
`{"error": "bad_request", "reason": "Missing request body"}`

Link #2137

[2020-06-23 01:37] #2127 closed

[2020-06-23 20:39] #2120 closed

[2020-06-24 00:20] jackcmeyer opened #2167 "Patient successfully updated message is showing internationalization key"
🐛 Bug Report

The patient successfully updated message is showing the internationalization key rather than the actual text.

## To Reproduce
1. Create a new patient
2. Click the edit button on the patient
3. Change some fields
4. Click save
5. See that the message is not correct

## Expected behavior
* The message should be the actual text rather than the internationalization key

[2020-06-24 00:24] jackcmeyer opened #2170 "Display success toast after creating a lab"
## Scenario
**AS**
A user who is able to create a lab

**I WANT**
A success message displayed after I create the lab

**SO THAT**
I know that the lab was successfully created

## Acceptance Criteria
**GIVEN**
A lab is being created

**WHEN**
It is successfully created

**THEN**
It should display a toast message saying `${lab.type} for ${lab.patient.name} successfully requested.`

## Related Issues

[2020-06-24 00:25] jackcmeyer opened #2169 "Display success toast when lab is successfully updated"
## Scenario
**AS**
A user who can update lab

**I WANT**
A success toast displayed

**SO THAT**
I know that the lab was successfully updated

## Acceptance Criteria
**GIVEN**
A lab is being updated

**WHEN**
The lab is successfully updated

**THEN**
A success toast should be displayed saying `${lab.type} for `${lab.patient.name} successfully updated`

## Related Issues

## Technical Notes

[2020-06-24 00:26] jackcmeyer opened #2168 "Display success toast when lab is completed"
## Scenario
**AS**
A user who can update lab

**I WANT**
A success toast displayed

**SO THAT**
I know that the lab was successfully completed

## Acceptance Criteria
**GIVEN**
A lab is being updated

**WHEN**
The lab is successfully updated

**THEN**
A success toast should be displayed saying `Completed ${lab.type} for ${lab.patient.name}.`

## Related Issues

## Technical Notes

[2020-06-24 00:36] samkik579 commented on #2168
Hi can I work on this issue and possibly the other success toast issues as well. I am with the washu team

[2020-06-24 00:42] anyapawar commented on #2168
Hi! Can I take this?

[2020-06-24 00:43] anyapawar commented on #2170
Hi! Can I take this? (With the WashU Team)

[2020-06-24 00:44] anyapawar commented on #2169
Can I take this as well?

[2020-06-24 01:33] jackcmeyer commented on #2170
@anyapawar I have assigned this to you!

[2020-06-24 01:33] jackcmeyer commented on #2169
@anyapawar I have assigned this to you!

[2020-06-24 01:34] jackcmeyer commented on #2168
@samkik579 I have assigned this to you!

[2020-06-24 17:23] samkik579 commented on #2168
Thanks! Excited to work on this

[2020-06-24 19:09] falkilani commented on #2167
I'd like to do this one.

[2020-06-25 03:07] jackcmeyer commented on #2167
Sound great, @falkilani! I've assigned it to you.

[2020-06-26 00:36] nischayv opened #2175 "Add related person typeahead displays additional list item in dropdown"
## 🐛 Bug Report

The add related person typeahead displays an additional list element with no data for the current patient if the name of the current patient is similar to the names in the item list.

## To Reproduce

Simply use the keyboard to navigate over the elements to find the element with no data.

![Screenshot from 2020-06-25 17-27-25](https://user-images.githubusercontent.com/13353147/858

[2020-06-26 00:36] nischayv commented on #2175
I can address this in the PR for #2132 if that's okay!

[2020-06-26 01:29] jackcmeyer commented on #2175
@nischayv feel free to complete this in PR for #2132

[2020-06-27 02:41] nischayv commented on #2132
Do we still want to retain the patient code in the text? If we choose to retain that we should ideally skip the address otherwise the text will become too long (we would have to truncate most of the address and it wouldn't make sense to have it at that point). What does the patient code signify? If it is some sort of unique identifier I think it makes sense to retain it. Also, if we do choose to d

[2020-06-27 02:47] jackcmeyer commented on #2132
@nischayv Hmmm.... maybe a better option would be to display date of birth. It is, possible, but unlikely that someone with the same name and DOB would exist.

[2020-06-27 03:09] nischayv commented on #2132
Even though unlikely, in the off chance that it does happen, it would be impossible to pick the correct patient with just the name and DOB. If the patient code is a unique identifier, I believe it would be reasonable to have the DOB and code. Something like this - `John Doe - 1990-12-10 (P-WYLx1mc1_)`.

[2020-06-27 03:57] jackcmeyer commented on #2132
@nischayv let's do that.

[2020-06-27 20:59] #2132 closed

[2020-06-27 20:59] #2175 closed

[2020-06-28 22:40] jackcmeyer opened #2181 "Enter key does not submit login form"
# 🐛 Bug Report
When I press the enter key in the login form, it should submit a login request.

## To Reproduce

Steps to reproduce the behavior:
1. Enter username
2. Enter password
3. Click enter
4. see that it doesn't submit a login form

## Expected behavior
It should submit the login form

[2020-06-28 22:43] jackcmeyer opened #2182 "Username and password should be requred"
# 🐛 Bug Report
Username and password should be marked as required fields on the login form and when I try to submit the login form, it should prevent a login request from being made if username and password are not filled in.

## To Reproduce
1. Navigate to the login screen
2. Submit the login form
3. See that username and password are not required

## Expected behavior
* The username and password

[2020-06-28 22:46] jackcmeyer opened #2183 "No message appears when wrong login credentials are entered"
# 🐛 Bug Report

When logging in, if wrong credentials are entered, then there should be a message that says: "Unable to login. Incorrect username or password".

## To Reproduce
1. Enter incorrect username or password
2. Click the login button
3. See that no message appears stating that the wrong credentials were entered

## Expected behavior
* There should be a message that says: "Unable to login.

[2020-06-28 23:32] jackcmeyer opened #2184 "Link visit to lab request"
## Scenario
**AS**
A user who can create a lab requeset

**I WANT**
The ability to a visit to the request

**SO THAT**
I can understand more about why the request is happening

## Acceptance Criteria
**GIVEN**
A lab request is being made

**WHEN**
I'm on the lab request screen

**THEN**
I would to select an visit from the a dropdown

## Related Issues

## Technical Notes
* After a patient is selec

[2020-06-29 01:01] jackcmeyer opened #2185 "Create infographic widgets for incidents"
## 🚀 Feature Proposal
Create some infographic widgets for incidents.

Examples:
* Line graph of reported incidents overtime
* Number of new incidents (green down error if less than yesterday, red up error if more than yesterday)
* Average time from incident reported to incident resolved
* Any other ones that could be useful

For now, I think we can create a tab called "visualize" underneath incide

[2020-06-29 01:36] jackcmeyer opened #2186 "Add blood type info to patient"
## Scenario
**AS**
A user who can see patient details

**I WANT**
Blood type information displayed

**SO THAT**
I can be aware of someone's blood type

## Acceptance Criteria

## Related Issues

## Technical Notes
Possible blood types:
A+
A-
AB+
AB-
B+
B-
O+
O-

[2020-06-29 01:40] jackcmeyer opened #2187 "Warn about potential duplicate patient during creation process"
## Scenario
**AS**
A user who can create a patient

**I WANT**
A warning about potential duplicate patient records

**SO THAT**
No duplicates enter the system

## Acceptance Criteria
**GIVEN**
A user is being created

**WHEN**
A new patient is created that matches name, sex and DOB

**THEN**
The system should warn about a duplicate by popping up a modal. The modal should say "Potential duplicate o

[2020-06-29 02:23] jackcmeyer opened #2188 "Fix warning about missing logout key"
## 🐛 Bug Report
The logout link in the user icon in the navbar is missing a translation per the warning message in the console:

[code]

## To Reproduce
1. Load any page
2. See the warning

## Expected behavior
The warning should not appear.

[2020-06-29 16:21] saksham93 commented on #2186
Hi,
I wish to work on this issue.
Thanks

[2020-06-29 19:50] blestab commented on #2186
Maybe add an Unknown option as well?

[2020-06-29 19:53] saksham93 commented on #2186
@blestab Sure!

[2020-06-29 19:54] blestab commented on #2187
Hi @jackcmeyer I would like to go for this one seeing u am no longer eligible for 'good first issue' tasks :)

[2020-06-30 00:48] kilcorse-michael commented on #2181
I can fix this if no one has claimed it yet.

[2020-06-30 11:24] jackcmeyer opened #2194 "Investigate usage of 'react/require-default-props' & 'react/default-props-match-prop-types'"
Recently, the following was added to the `.eslintrc.js` file to warn about new linting rules.
[code]

It seems like these should be errors, however, more research should be done. This issue is to investigate the new rules.

If the rules should be errors, then this issue will require code changes to conform to the new lint rules.

If the rules should be turned off, then only configuration changes w

[2020-06-30 11:34] jackcmeyer opened #2225 "Display currently logged in user name in profile dropdown"
## 🚀 Feature Proposal
The currently logged in user should display in the profile icon dropdown in the top right corner.

The first item in the dropdown should read
"Currently signed in as **${user.givenName} ${user.familyName}**"

Clicking on this dropdown should bring the user to the settings page.

## Motivation
Easily identify who the currently logged in user is

[2020-06-30 21:07] linus345 commented on #2182
Hey, can I be assigned to this?

[2020-07-01 09:07] Hrugved commented on #2188
Hi,
I wish to work on this issue.

There is no translation key available for 'logout' in locales/enUs.
Should I add one?

Thanks

[2020-07-01 09:08] tehKapa commented on #2194
Link [FE-494](https://github.com/HospitalRun/components/pull/494)

[2020-07-01 09:10] JDarke opened #2195 "'Add Related Person' search field crashes if a matched patient is returned that has no DoB"
## 🐛 Bug Report

When searching for an existing patient to add as a Related Person (Patients > View Patient > Related Persons tab), if any matching names are found that are of a patient with no date of birth on record, an error is thrown.

## To Reproduce

Steps to reproduce the behavior:

1. Ensure your patient list has a patient record with no DoB set.

2. Navigate to a different patient's recor

[2020-07-01 09:15] Hrugved commented on #2183
Hey,
I would like to work on this issue.
thanks

[2020-07-02 23:25] llouii opened #2196 "The inspiring story link is broken, or it says page not found"
Before you submit an issue we recommend you drop into our [Slack workspace](https://hospitalrun-slack.herokuapp.com/) and ask any questions you have or mention any problems you've had getting started with HospitalRun.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instructions, your issue might be close

[2020-07-03 10:04] blestab commented on #2195
You may assign this to me to resolve the crash in the date-fns/format function by conditionally calling it, i.e. only if the DoB has a value, like we do in the patient listing.

In terms of preventing the issue from even happening, making DoB or estimated age mandatory sounds like a great idea.

[2020-07-04 07:52] vault-developer commented on #2135
Hello, can you assign me, please?

[2020-07-04 19:04] tehKapa commented on #2135
@vault-developer you're welcome!

[2020-07-06 13:01] vault-developer opened #2201 "App route goes to "/" after refresh"
## 🐛 Bug Report
After page refresh app route goes to "/".
Also it slightly harms developer experience (impossible to use hot reload feature).

## To Reproduce
1. Go to any route except "/", for example "/patients/new".
2. Try to refresh a page

## Expected behavior
1. Route should stay same after page refreshing.

## Your Environment
- *node version*: 12.6.1
- *os*:  Linux

P.S. I want to help wit

[2020-07-06 14:50] tehKapa commented on #2201
Sure, you can open up the PR fix. Thanks!

[2020-07-06 17:00] vault-developer opened #2216 "update patient form (general information) UX"
## 🚀 Feature Proposal
Update general information form UX
1. Put "Unknown" checkbox under "Date of Birth" field.

## Motivation
Now we have input "Date of birth" and checkbox "Unknown"
1. It's not clear, that checkbox "unknown" is related to field "Date of birth".  User can suggest, that this checkbox is for "Patient type", because it's under this field.
2. If "Unknown" is checked, "Date of Birth"

[2020-07-07 01:36] #2186 closed

[2020-07-07 01:55] jackcmeyer commented on #2181
@kilcorse-michael i've assigned this to you

[2020-07-07 06:00] yosephAHMED commented on #2184
To whom it may concern,

I would like to work on this issue. Please assign me to it.

Best regards,
Yoseph

[2020-07-07 09:27] JDarke commented on #2106
Just realised I haven't actually been assigned to this yet...can someone assign me, please?

I'll have a WIP ready for review shortly.

[2020-07-07 17:55] janmarkusmilan commented on #2187
Hello,

If no one is tackling this issue, may I be assigned to this one? I wish to work on it.

Best regards,
Jan Markus

[2020-07-07 21:48] jackcmeyer commented on #2187
@janmarkusmilan I've assigned this to you.

[2020-07-07 21:48] jackcmeyer commented on #2184
@yosephAHMED I've assigned this to you.

[2020-07-07 21:49] jackcmeyer commented on #2195
@blestab I've assigned this to you. I agree, I thin making the DoB/estimated age field required sounds like the right solution.

[2020-07-07 21:50] jackcmeyer commented on #2182
@linus345 I've assigned this to you.

[2020-07-08 00:44] #2135 closed

[2020-07-08 01:22] jackcmeyer commented on #2188
@hsorellana I've assigned this to you.

Yes, I believe this would be the solution to this issue.

[2020-07-08 02:03] #2182 closed

[2020-07-08 02:03] #2183 closed

[2020-07-08 02:20] jackcmeyer opened #2208 "Add Icons to 'quick add' icon in Navbar"
## 🚀 Feature Proposal
In the 'plus' icon in the Navbar, there should be icons next to the links in the list.

The icons should be the same icons that are used in the sidebar.

[2020-07-08 02:21] jackcmeyer opened #2209 "Add icons to hamburger menu"
## 🚀 Feature Proposal

When the hamburger menu is present in the nav bar (make your chrome window small to see the hamburger icon), there should be icons in the list. The icons should be the same icons present in the sidebar.

[2020-07-08 02:25] jackcmeyer opened #2210 "Fix weird spacing issue in quick add icon"
# 🐛 Bug Report
There is a weird spacing issue in the quick add icon in the navbar.
![image](https://user-images.githubusercontent.com/18731800/86867358-51e8e180-c098-11ea-9f07-75accf43ded2.png)

## To Reproduce
1. Open quick add menu
2. See weird spacing at the top

## Expected behavior
The weird spacing should not be present

[2020-07-08 04:40] vault-developer commented on #2208
I can do it if you don't mind

[2020-07-08 04:40] vault-developer commented on #2210
Could I take it, please?

[2020-07-08 05:43] linus345 commented on #2209
I can do this

[2020-07-08 12:17] YimniChan commented on #2209
I can do this

[2020-07-08 13:19] ArslanM786 commented on #2210
If this is still available I would like to be assigned to it

[2020-07-08 13:33] AlexTan331 commented on #2208
If this is still available, could you assign me?

[2020-07-08 21:11] YimniChan commented on #2194
Could I get assign to work on this?

[2020-07-08 21:39] #2188 closed

[2020-07-08 21:44] jackcmeyer commented on #2210
@vault-developer I've assigned this to you.

[2020-07-08 21:44] jackcmeyer commented on #2194
@YimniChan I've assigned this to you.

[2020-07-08 21:45] jackcmeyer commented on #2208
@alexpelan I've assigned this to you.

[2020-07-08 23:19] blestab commented on #2078
Hi @jackcmeyer
I see this is back to needing an assignee? You can put it on my name.

[2020-07-09 01:13] jackcmeyer opened #2215 "Ability to view allergy"
# 🚀 Feature Proposal
Currently, the list of allergies are not clickable. This issue is to make them clickable and create a component that allows a user to view the allergy.

# Technical notes
* the routing should work similar to how care plan routes work

[2020-07-09 01:15] #2195 closed

[2020-07-09 01:20] jackcmeyer commented on #2216
To close the loop on this:

I think the final requirement is merely a UI change, rather than a functionality change. The functionality we have now where checking unknown changes the input box to an integer input box for an estimate age is the desired behavior.

[2020-07-09 01:21] jackcmeyer commented on #2209
@linus345, I've assigned this to you.

[2020-07-09 06:17] gdemu13 commented on #2215
@jackcmeyer if this issue is still available I can do it

[2020-07-09 11:29] blestab opened #2218 "View Incident displays Reported By as "org.couchdb.user:username" instead of actual username"
## 🐛 Bug Report

When viewing an incident the Reported By is shown as **org.couchdb.user:username** instead of the actual username

## To Reproduce

Steps to reproduce the behavior:

1. Click on Report Incident menu item
2. Enter Incident details and save
3. View incident and notice that the Reported By displays **org.couchdb.user:username** instead of your username

![image](https://user-images.g

[2020-07-09 11:43] blestab commented on #2218
This will be fixed as part of #2078

[2020-07-09 13:05] #2210 closed

[2020-07-09 18:17] AlexTan331 commented on #2215
If this is still available, I would like to take a shot. Could you assign me?

[2020-07-09 23:11] jackcmeyer commented on #2215
@gdemu13 I've assigned this to you.

[2020-07-09 23:14] #2208 closed

[2020-07-11 04:24] jackcmeyer commented on #2225
@AlexTan331 we should keep both links.

I would expect it to look something like:

[code]

A little strange right now, however, I anticipate that eventually the Currently logged in as Currently signed in as ${user.givenName} ${user.familyName} may go to some other location

[2020-07-11 04:26] jackcmeyer commented on #2225
I've assigned this to you @alexpelan

[2020-07-11 04:26] jackcmeyer commented on #2225
I've assigned this to you @AlexTan331

[2020-07-11 04:58] #2216 closed

[2020-07-11 05:02] jackcmeyer commented on #2209
closed via #2220

[2020-07-11 05:02] #2209 closed

[2020-07-11 05:02] jackcmeyer commented on #2181
closes via #2221

[2020-07-11 05:02] #2181 closed

[2020-07-12 01:01] #2078 closed

[2020-07-12 01:01] #2218 closed

[2020-07-12 13:15] yuktashres commented on #2141
Hi, I would like to be assigned to this issue please.

[2020-07-12 20:03] JDarke commented on #2141
@yuktashres  -  as far as I know, this issue is on hold at the moment pending further refinement of entity definitions.

@fox1t @jackcmeyer  can you confirm...?

[2020-07-12 21:39] #2215 closed

[2020-07-12 22:54] jackcmeyer commented on #2141
@yuktashres Should be good to work on. I've assigned it to you.

An address is the following format:
[code]

[2020-07-12 23:44] jackcmeyer opened #2228 "Implement PWA "Splash" Page"
## 🚀 Feature Proposal
HospitalRun can be "downloaded" as a progressive web app.

When the application loads, it displays a white screen. To provide a more native-like experience, the application should show a splash page while it is launching.

## Example
https://medium.com/@applification/progressive-web-app-splash-screens-80340b45d210

We can use this logo for the splash page: https://github.com/

[2020-07-12 23:58] jackcmeyer opened #2229 "implement basic medication module"
## 🚀 Feature Proposal

This issue is to create a very basic medication module. When this issue is finished, I would expect to be able to:

- create a new medication request
- view a list of all medication requests
- view a single medication request

## Technical Notes
A medication request is defined as:

[code]

- There should be a text box which allows me to search patients
- id, requestedBy, req

[2020-07-13 00:17] jackcmeyer opened #2230 "Remove search from navbar"
## 🚀 Feature Proposal
Remove the search box and button from the navbar.

[2020-07-13 00:32] jackcmeyer opened #2231 "Implement "no patients" state on the /patients route"
## 🚀 Feature Proposal
Implement "no patients" state on the `/patients` route. When there are no patients in the database, then a page that looks like the following should show:

![image](https://user-images.githubusercontent.com/18731800/87260221-343fc180-c476-11ea-80ff-5d886726985b.png)

## Technical Notes
- for now, we can use the already existing patients icon in place of the icon that is shown

[2020-07-13 01:40] kilcorse-michael commented on #2230
Can I be assigned this?

[2020-07-13 05:01] Fibii commented on #2231
hi, i'd like to work with this issue if possible.

[2020-07-13 16:41] marcosvega91 commented on #2231
@Fibii I think that you can :D

[2020-07-14 04:46] jackcmeyer commented on #2230
I’ve assigned this to you @kilcorse-michael

[2020-07-16 14:28] blestab commented on #2229
Hi @jackcmeyer not sure what the timelines on this are, but would want to try give it a go.

What is the expected ETA for this in terms of the project milestones?

[2020-07-16 23:36] #2230 closed

[2020-07-18 04:01] jackcmeyer commented on #2229
@blestab no specific timeline :) however, there is a lot of work to be done here, so as soon as this issue gets done we can unblock a lot of that work.

Feel free to reach out anytime you feel like you're stuck!

[2020-07-18 04:04] jackcmeyer opened #2241 "Add ability for documenting visits for a patient"
## 🚀 Feature Proposal
There should be the ability to document a visit for a patient.

There should be a new tab called visits on the patient profile screen.

When the visits tab is active, there should be a button that allows a user to create a new visit. The visits tab should also display a table of information for that visit.

When the user click on the new visits tab, the should be prompted to

[2020-07-18 04:19] jackcmeyer opened #2242 "Create basic imaging module"
## 🚀 Feature Proposal
HospitalRun should have an imaging module. This issue is to start implementing the imaging module by implementing the basic functionality of creating an imaging request.

### Sidebar/Navbar
There should be an imaging tab on in the sidebar. The options in the sidebar should be "New Imaging Request" and "Imaging Requests".

There should be a new image request option in the quic

[2020-07-18 05:10] #2225 closed

[2020-07-18 06:19] yosephAHMED commented on #2184
To whom it may concern,

I opened a pull request for this issue. Thank you for the opportunity.

Best,
Yoseph Ahmed

[2020-07-18 11:41] blestab commented on #2229
Thanks @jackcmeyer, i'll get right on it

[2020-07-18 18:34] yuktashres commented on #2141
@jackcmeyer did you want to keep the 'Type' as well with 'home, mobile, work, temporary and old' in the address section?

[2020-07-18 20:30] jackcmeyer commented on #2141
@yuktashres yes

[2020-07-19 09:46] #2148 closed

[2020-07-20 14:45] AlexTan331 commented on #2242
@jackcmeyer  I am not sure about the timeline for this issue, but I would like to give it a shot.

[2020-07-20 14:48] AlexTan331 commented on #2242
And also, for this issue, it will not have the ability to view a singe imaging request yet?

[2020-07-20 16:43] yosephAHMED commented on #2185
To whom it may concern,

I have a question regarding this issue. Would the use of ChartJS be acceptable?

Best,
Yoseph

[2020-07-20 22:31] YimniChan commented on #2194
The react/require-default-props rule should be an error.
If we do not set any default props, the undefined display should take place of the props that are not sent by the parent component. In execution, an undefined variable may cause the application to break if it is used and there are no safety precautions in place. We do not want that to occur. Furthermore, we should set a defaultProps value, a

[2020-07-21 06:07] yosephAHMED commented on #2170
To whom it may concern,

Has there been any progress on this issue?

Best,
Yoseph

[2020-07-21 06:08] yosephAHMED commented on #2168
To whom it may concern,

Has there been any progress on this issue?

Best,
Yoseph

[2020-07-21 06:08] yosephAHMED commented on #2169
To whom it may concern,

Has there been any progress on this issue?

Best,
Yoseph

[2020-07-21 06:29] samkik579 commented on #2168
Yes. There is one last thing to add and we are almost ready to submit a pr

[2020-07-21 06:36] tehKapa commented on #2194
@fox1t

[2020-07-21 13:41] jackcmeyer commented on #2185
@yosephAHMED ive assigned this to you.

[2020-07-21 13:43] jackcmeyer commented on #2242
@AlexTan331 I've assigned this to you. No particular time line in mind :).

And. yes, you are right, no way to view single imaging request in this issue. Figured to keep scope small, we'll just start with the two screens.

[2020-07-21 13:46] jackcmeyer commented on #2185
We have a `Graphs` component in our component library https://components.hospitalrun.io/?path=/story/graphs--bar-graph.

[2020-07-21 23:31] YimniChan commented on #2241
Could I get assign to work on this?

[2020-07-22 21:29] petreyus commented on #2228
Could I be assigned to work on this issue?

[2020-07-25 21:42] blestab commented on #2080
I think the Care Goal needs to belong/be linked to a Care Plan, and this would be a 1 to many relationship i.e. 1 Care Plan is made up of 1 or more Care Goals

[2020-07-25 22:26] jackcmeyer commented on #2080
@blestab yes! you're certainly right. We had plans of linking these together, however, we were going to do that in a future issue. You're more than welcome to work on it 🙂

[2020-07-27 21:02] janmarkusmilan commented on #2053
Hello,

If this issue is still up for grabs, I was wondering if I could attempt it?

[2020-07-28 00:26] jackcmeyer commented on #2053
@janmarkusmilan I've assigned this to you!

[2020-07-28 01:20] jackcmeyer opened #2271 "Remove redux in favor of react-query"
## 🚀 Feature Proposal
This is a tracking issue to remove redux and replace it with react-query.

Modules to complete:

- [x] incidents
- [ ] patients
- [ ] scheduling
- [ ] medications
- [ ] labs

## Motivation
For the motivations on why see: hospitalrun/hospitalrun#404

[2020-07-28 01:29] jackcmeyer opened #2254 "Move user/session information into a `UserProvider` rather than in redux"
## 🚀 Feature Proposal
As part of the removing redux, this issue is to move user/session information into a `UserProvider` rather than stored in `redux`.

The `UserProvider` should follow the pattern outlined here: https://kentcdodds.com/blog/how-to-use-react-context-effectively/.

The `Login` component will be responsible for setting the user information and there should be a hook `useUser` that a

[2020-07-28 01:35] jackcmeyer opened #2255 "Create Patient History tab"
## 🚀 Feature Proposal
There should be a patient history tab available in the patient profile.

This history tab should show in chronological order events that have happened to the patient.

To begin with this will be:
- labs
- appointments

# Technical Notes
- Should use the `Callout` component
- will need some sort of special query that gets all entities that can be seen in the history timeline

[2020-07-28 02:29] jackcmeyer opened #2256 "Fix basic auth popup happening during login process"
## 🐛 Bug Report
Sometimes a basic auth popup happens during the login process

## To Reproduce
Not clear what steps are to reproduce this issue.

## Expected behavior
The system should use our login page rather than the ugly dialog popup to start the authentication process.

## Technical Notes
- https://docs.couchdb.org/en/stable/intro/security.html
- Library we use for pouchdb authentication: htt

[2020-07-28 11:53] blestab commented on #2256
@jackcmeyer you can put this on my name, i'll see if i can reproduce and then fix it. I know at soem point i had it on my local dev environment but can't recall when it stopped.

[2020-07-28 12:16] blestab opened #2257 "Add "Request Medication" to quick create button in navbar"
## 🐛 Bug Report

Add "Request Medication" to quick create button in navbar requirement was missed when the basic medication module feature was implemented.

## To Reproduce

![image](https://user-images.githubusercontent.com/5468546/88664108-d7cadc00-d0dc-11ea-82ed-9cf42f079968.png)

## Expected behavior

![image](https://user-images.githubusercontent.com/5468546/88664143-e0bbad80-d0dc-11ea-833f-a

[2020-07-28 18:27] yosephAHMED commented on #2185
Very cool! Excited to work on this !!

[2020-07-28 20:30] anyapawar commented on #2169
#2258

[2020-07-28 20:31] anyapawar commented on #2168
#2258

[2020-07-28 21:42] YimniChan commented on #2255
Could I get assign to work on this issue?

[2020-07-28 22:49] jackcmeyer commented on #2256
@blestab this has been assigned to you.

[2020-07-28 23:00] jackcmeyer opened #2259 "Update patient profile page to always display useful information"
## 🚀 Feature Proposal
The patient profile should always display the patient's most important information regardless of what tab they are on.

The goal of this issue is to make a screen that looks similar to this:
![image](https://user-images.githubusercontent.com/18731800/88730359-8251f780-d0fb-11ea-98e5-3f028f6df0a3.png)

## Notes
- don't worry about colors or matching the mockup exactly, this is

[2020-07-29 02:55] jackcmeyer commented on #2255
@YimniChan I've assigned this to you.

[2020-07-29 03:01] #2122 closed

[2020-07-29 03:01] #1859 closed

[2020-07-29 03:16] jackcmeyer opened #2260 "Previous errors are showing up in lab request screen"
## 🐛 Bug Report
When creating a new lab request, if I request lab and it fails the validation and provides error feedback to the user, and then leave the page, and then come back, the previous errors are still on the page.

## To Reproduce
1. Navigate to new lab request
2. Click the save button
3. see the validation errors
4. navigate to anywhere else in the system
5. navigate back to the new lab

[2020-07-29 05:54] Tomastomaslol commented on #2260
Hi @jackcmeyer, I think I should be able to help you with this issue.  Could you please assign it to me?

[2020-07-29 12:53] yuktashres commented on #2141
Update: still working on this. @jackcmeyer

[2020-07-31 02:28] #2187 closed

[2020-07-31 03:46] jackcmeyer commented on #2260
@Tomastomaslol I've assigned this to you

[2020-07-31 20:17] janmarkusmilan commented on #2053
Just a quick inquiry.

If the goal is to just add more information about the appointments (type, location, reason), then would either of these work:

![Sample_1](https://i.imgur.com/8LI3y2r.png)

![Sample_2](https://i.imgur.com/yFV7iZb.png)

[2020-08-01 04:40] Tomastomaslol commented on #2260
Hi @jackcmeyer,

I noticed a similar issue when creating a new patient.

![Kapture 2020-08-01 at 14 37 21](https://user-images.githubusercontent.com/1872246/89094208-bf243400-d404-11ea-899d-a31c2a18856b.gif)

Are you happy for me to report it as an issue and suggest a fix for it?

[2020-08-02 09:53] #2201 closed

[2020-08-03 02:13] jackcmeyer commented on #2053
I think the information that you have provided is good! However, I think it would be better displayed in a table. What do you think?

[2020-08-03 05:17] janmarkusmilan commented on #2053
Sounds good!

[2020-08-03 13:12] dallasg commented on #2167
Is the key correct?  I noticed it's not included in any of the translations.

[2020-08-03 20:48] AlexTan331 commented on #2128
Is there someone working on this issue currently? If not, could I be assigned?

[2020-08-03 20:59] reidmeyer commented on #2128
@AlexTan331 , please give me 72 hours to submit a pull request. I’ve been on a long vacation. Struggling with the test file.

[2020-08-03 21:04] AlexTan331 commented on #2128
I saw that you were unassigned and no one tackled it since then, so I thought it maybe available.
I am sorry about not knowing about that. You can keep working on it, no need to rush :)

[2020-08-03 21:05] AlexTan331 commented on #2259
If this is still available, could I be assigned?

[2020-08-03 21:08] reidmeyer commented on #2128
All good Alex. My fault for taking over a month! It’s all yours if I don’t complete in 72 hours.

[2020-08-04 07:57] tehKapa commented on #2259
No one has come forward. We can assign it to you @AlexTan331

[2020-08-04 19:26] AlexTan331 commented on #2259
Just need some clarification on this issue:
- should I add this new layout component between the title component and the breadcrumbs component, or between the breadcrumbs component and the tabs component?
- For now, are there only three sections being displayed: Allergies, Diagnoses, and Care plan?

[2020-08-05 02:16] #2260 closed

[2020-08-05 02:36] #2053 closed

[2020-08-05 02:43] #2242 closed

[2020-08-05 02:45] #2231 closed

[2020-08-06 08:35] reidmeyer commented on #2128
Good news is I'm back from vacation and can finally finish this issue soon. Bad news is there is something wrong with https://www.npmjs.com/package/@hospitalrun/components so I can't do npm install. I'm getting an esockettimeout. Waiting for this to be resolved to continue my work on the issue.

[2020-08-06 11:52] reidmeyer commented on #2128
It works now. back to work

[2020-08-06 14:00] tehKapa commented on #2128
There was an [issue with npm](https://status.npmjs.org/#past-incidents)

[2020-08-10 03:43] janmarkusmilan commented on #2167
@jackcmeyer Hi, I was wondering if this issue still needs to be worked on? If so, can I try it?

[2020-08-10 03:44] #2241 closed

[2020-08-10 09:50] #2168 closed

[2020-08-10 12:16] tehKapa opened #2278 "Improve test on Login.tsx"
It's necessary to improve the testing of [Login.tsx](https://coveralls.io/builds/32646552/source?filename=src/login/Login.tsx) because it lowers the global percentage by a lot

[2020-08-10 15:48] rsousaj commented on #2278
Hi, I would like to try this one.

[2020-08-10 19:49] anyapawar commented on #2169
#2258 this should be fixed now

[2020-08-10 22:56] jackcmeyer opened #2280 "`react-hooks/exhaustive-deps` warnings do not appear when running `npm run lint`"
When running `npm run lint`, all linter errors should show up. When running `npm run lint` and there is a dependency issue with a `useEffect`, the warning should show.
[code]

[2020-08-10 22:57] #2169 closed

[2020-08-10 22:58] jackcmeyer commented on #2259
@AlexTan331 not sure how I missed this :(.

- it should display after the breadcrumbs, in my opinion. It might be necessary to stop using `useTitlte` hook, which I think is ok.
- The assumptions you are making are correct

[2020-08-10 23:28] Tomastomaslol commented on #2228
Hi @jackcmeyer If no one else is looking at this I'm happy to take a look at it! 🙂

[2020-08-11 00:01] petreyus commented on #2228
I resized the image with a tool so I have the necessary pictures. Also,
I found this: https://github.com/crazycodeboy/react-native-splash-screen

I wanted to solve it without using it though. Would appreciate some help. I am pretty new to mobile dev.

[2020-08-11 06:57] anyapawar commented on #2170
#2277 @jackcmeyer This PR adds a success toast when a lab is created (NewLabRequest.tsx line 67-78)- however, patient ID is being displayed instead of patient full name. We just wanted to link the PR to this issue because it solves most of the concerns, but we don't think we will be able to figure out how to display the patient's full name. Maybe this issue can be updated for someone else to claim

[2020-08-11 07:06] tehKapa commented on #2278
@rsousaj assigned

[2020-08-11 07:15] tehKapa commented on #2228
@Tomastomaslol can you help @petreyus?

[2020-08-11 11:38] Tomastomaslol commented on #2228
Yeah sure! 🙂

@petreyus

If you haven't done so already I would recommend that you set up the application on your computer using this guide: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md#1-check-out-the-hospitalrun-general-contributing-guide-for-how-to

So you are able to test your changes before opening your pull request.

Unfortunately, I don't think thi

[2020-08-11 12:14] rsousaj commented on #2278
@tehKapa Working on this! Tks

[2020-08-11 15:35] janmarkusmilan commented on #2167
@jackcmeyer I was wondering if this issue still needs to be worked on?

[2020-08-11 17:10] petreyus commented on #2228
I have the code base working previously (took me a little time not going to lie), and I have the images located in public as well.

So just adding that snippet into the head tag on index.html is all that's needed?

No additional onLoad logic or anything?

I figured that code snippet above covers most IOS devices with all the correct aspect ratios...

Thank you for explaining it to me really apprec

[2020-08-11 19:49] AlexTan331 commented on #2259
@jackcmeyer
Just want to make sure I am on the right track. This is the layout I have come up with so far.
Is this close to the image in your mind?

![image](https://user-images.githubusercontent.com/40738727/89941647-52215300-dbe9-11ea-8bb1-d3a3130542ae.png)

![image](https://user-images.githubusercontent.com/40738727/89941671-5a798e00-dbe9-11ea-9103-a4c9017c2eb6.png)

[2020-08-11 23:40] Tomastomaslol commented on #2280
Hi @jackcmeyer ! I would love to take a look at this! If possible could you assign this to me?

[2020-08-12 01:39] jackcmeyer commented on #2280
@Tomastomaslol sounds great! I've assigned this to you!

[2020-08-12 07:48] tehKapa commented on #2271
Link #2273

[2020-08-12 07:51] tehKapa opened #2286 "Remove console.log from tests output"
## 🐛 Bug Report

Remove console logs that appear in the output of `npm run test` command

Some example:

[code]

https://github.com/HospitalRun/hospitalrun-frontend/runs/974788560?check_suite_focus=true#step:8:23

[2020-08-12 07:59] tehKapa opened #2287 "Tests pass even if they fail"
## 🐛 Bug Report

- [ ] Tests pass even if they fail
- [ ] The tests fail. Understand why

Reference: https://github.com/HospitalRun/hospitalrun-frontend/runs/974788560?check_suite_focus=true#step:8:138

Cc @fox1t

[2020-08-12 13:29] janmarkusmilan commented on #2286
Hi, I was wondering if I could attempt this one?

[2020-08-12 14:52] tehKapa commented on #2286
ok!

[2020-08-13 04:15] #2128 closed

[2020-08-13 04:20] jackcmeyer opened #2291 "Link imaging request with visit"
## 🚀 Feature Proposal

An imaging request should be able to be linked to a visit. When creating an imaging request, a list of visits for the selected patient should show.

[2020-08-13 04:21] jackcmeyer opened #2290 "Link diagnosis with visit"
## 🚀 Feature Proposal

A diagnosis should be able to be connected to a visit. When a diagnosis is being created, a list of visits for the current patient should show.

[2020-08-13 04:41] jackcmeyer opened #2292 "Create downloadable incidents csv report"
## 🚀 Feature Proposal
There should be the capability of downloading an incidents CSV report from the UI. This report should be based on the current search parameters defined on the view incidents screen.

There should be a dropdown button above the table that says "Download Report". There should be an option for CSV in the list of options.

Clicking on that button should export incident data as a

[2020-08-13 04:47] jackcmeyer opened #2293 "Successfully created lab shows translation key and lab id instead of actual text and lab name"
## 🐛 Bug Report
When successfully creating a lab, the success message currently shows `lab.successfullyCreated test ${:id}.

## To Reproduce

Steps to reproduce the behavior:
1. navigate to new lab request
2. fill in information
3. save the lab
4. see the wrong error message

## Expected behavior
The success message should say `Successfully created ${labType} for ${patientName}

[2020-08-13 04:48] jackcmeyer commented on #2170
See #2293

[2020-08-13 04:48] #2170 closed

[2020-08-13 04:54] jackcmeyer opened #2294 "Successfully updated lab shows translation key instead of text"
## 🐛 Bug Report
The lab successfully updated alert shows the translation key instead of the actual text.

## To Reproduce
1. create lab
2. go to update that lab
3. click the update button
4. see the message says `lab.sucesssfullyUpdated ${type} ${patientName}`

## Expected behavior
The successful message should say `Successfully updated ${type} for ${patientName}`

[2020-08-13 04:57] jackcmeyer opened #2295 "Successfully completed lab shows translation key instead of actual text"
## 🐛 Bug Report
When completing a lab, it shows the translation key instead of the actual text.

## To Reproduce
1. create a lab
2. complete the lab
3. see the key says lab.successfullyCompleted

## Expected behavior
The message should say `Successfully completed ${type} for ${patient}`

[2020-08-13 05:01] jackcmeyer opened #2296 "Rename lab request related buttons"
## Feature Request
Rename the lab request related buttons to align with more domain specific language.

- `New Lab Request` button should be renamed to `Request Lab`.
- Sidebar `New Lab Request` should be renamed to `Request Lab`
- `Save` button in new lab request page should say `Request`

## Technical Notes
- refactor any variable names or function that references "saving" a lab request

[2020-08-13 05:02] #2167 closed

[2020-08-13 05:10] jackcmeyer opened #2297 "Support a list of notes for a lab request"
## 🚀 Feature Proposal
Currently, the lab requests page only supports one note. If there are multiple notes the one note field would have to be constantly updated.

This feature is to support a list of notes for a given lab request. This should work similar to a comments section does.

We can display past notes with the callout component. At the bottom of the note list, a text area should appear fo

[2020-08-13 07:04] janmarkusmilan commented on #2290
Hi @jackcmeyer! I would love to try and tackle this issue.

[2020-08-13 07:07] reidmeyer commented on #2129
@dopt #2128 is done. Just wanted to update you in case you wanted to get reassigned to this issue.

[2020-08-13 07:18] reidmeyer commented on #2292
I'd be interested in being assigned this task.

[2020-08-13 07:44] reidmeyer commented on #2292
I'd be interested in giving a crack at this for the next 5 days.

[2020-08-13 08:59] fox1t commented on #2292
I've assigned this to you!

[2020-08-13 12:29] AlexTan331 commented on #2296
Can I be assigned to work on this one?

[2020-08-13 12:29] AlexTan331 commented on #2291
Can I be assigned to work on this one?

[2020-08-13 13:04] reidmeyer commented on #2292
I've noticed that when I create two incidents, and resolve one, the resolved one disappears, even when i switch the filter to "'resolved" or "all". Another issue might want to be created for this at some point. @fox1t.

Not sure if this will impede me working on this issue. I will continue forward.

[2020-08-13 13:26] jackcmeyer commented on #2292
@reidmeyer could you open another issue for this bug with steps to reproduce?

[2020-08-13 13:31] reidmeyer opened #2300 "Incident Filter Doesn't Update Table. View Incidents displays patients?"
## 🐛 Bug Report

Incident Filter Doesn't Update Table Unless Reload

When I switch the filter to "all", a blank incident with the patient code of existing patients appears in the table. This probably shouldn't happen.

## To Reproduce

Add multiple incidents. Resolve at least one. Realize that changing the filter status doesn't seem to work. It does work when I click away from the webpage (on anot

[2020-08-13 13:36] reidmeyer commented on #2292
@jackcmeyer Additionally, I noticed that when I change the filter to "all" it displays a blank incident that is a patient. This shouldn't happen, correct? I've added this to the new issue. #2300
![image](https://user-images.githubusercontent.com/16112576/90140909-fd2e3a00-ddac-11ea-850b-fcb1f9c2cc8a.png)

[2020-08-13 13:56] ArslanM786 commented on #2293
I will start working on this. Can I be assigned?

[2020-08-13 14:00] ArslanM786 commented on #2295
I will start working on this. Can I be assigned?

[2020-08-13 18:36] morrme commented on #2293
@ArslanM786 Sure go ahead!

[2020-08-13 18:40] morrme commented on #2101
What is the status of this issue? @jackcmeyer @kumikokashii @tehKapa

[2020-08-13 18:47] rsousaj commented on #2278
Matteo, I still working on this trying to deliver best practices possibles. Is that fine ? @tehKapa

[2020-08-13 21:55] morrme commented on #2290
Go for it @janmarkusmilan !

[2020-08-13 22:04] morrme commented on #2291
@AlexTan331 Go for it!

[2020-08-14 00:58] #2229 closed

[2020-08-14 03:24] #2296 closed

[2020-08-14 04:18] Tomastomaslol commented on #2287
Hi @tehKapa I took a look at this and it looks like it is caused by  asynchronous tests not using the `await` keyword to make sure that all asynchronous operations are closed when the expectation is fulfilled. If my understanding of the issue is correct the reason it doesn't fail the test is that expectation is still fulfilled even though operations are still happening in the background.

This can

[2020-08-14 08:07] fox1t commented on #2287
@Tomastomaslol nice finding! Would you love to make a PR?

[2020-08-14 08:19] blestab opened #2305 "Sidebar improvements proposal"
## 🐛 Bug Report

Whenever the Sidebar gets changed either by adding new links or reordering links. The Sidebar test will fail since it references hard-coded index locations of menu items. It might be better if the Sidebar tests, instead of expecting the menu items to be in specific locations (exception Dashboard (always first), Patients(always second), other modules then come, and then Incidents a

[2020-08-14 08:41] blestab commented on #2257
Fixed via https://github.com/HospitalRun/hospitalrun-frontend/pull/2249

[2020-08-14 08:41] #2257 closed

[2020-08-14 20:08] morrme commented on #2295
@ArslanM786 👍🏾

[2020-08-14 20:52] #2300 closed

[2020-08-14 21:53] blestab opened #2306 "Report Incident link duplicated in the quick create menu"
## 🐛 Bug Report

The Report Incident option is duplicated in the quick create menu

## To Reproduce

Click the quick create icon (**+** icon in the top right corner of the navbar)
Notice there are 2 "Report Incident" options, there should only be one.

![image](https://user-images.githubusercontent.com/5468546/90294999-1b1c9d00-de88-11ea-8f1b-72991f7fb7ea.png)

Navbar.tsx

[code]

## Expected beha

[2020-08-15 02:13] Tomastomaslol commented on #2287
Yeah sure. I will take a look at it! 🙂

[2020-08-15 02:37] Tomastomaslol opened #2307 "Disallow console log in ESLint"
## 🐛 Bug Report

As a followup to https://github.com/HospitalRun/hospitalrun-frontend/issues/2286 I thought it might be desirable to not allow any log messages in the application using an ESlint rule https://eslint.org/docs/rules/no-console

## Proposed changes
* Remove any `console` call from the application
* Add a rule in the ESLint config that would make the linter fail if there is a `console`

[2020-08-16 06:05] thacherT1D commented on #2306
@blestab could you please assign this to me? I have a fix ready for a PR

[2020-08-16 08:39] morrme commented on #2306
@thacherT1D  go for it!

[2020-08-17 01:25] thacherT1D commented on #2306
PR Submitted -- https://github.com/HospitalRun/hospitalrun-frontend/pull/2313

[2020-08-17 08:17] #2286 closed

[2020-08-17 13:09] #2306 closed

[2020-08-17 19:04] morrme commented on #2293
I just encountered this when reviewing another PR. Here is the screenshot if it helps:
![Screen Shot 2020-08-17 at 1 49 42 PM](https://user-images.githubusercontent.com/26514778/90434119-820da200-e092-11ea-8cc1-3ef9e04e3c04.png)

[2020-08-17 19:25] rsousaj commented on #2305
Can I give it a shot ?

[2020-08-17 19:57] blestab commented on #2305
Absolutely @rsousaj

[2020-08-17 20:19] rsousaj commented on #2305
Just to be sure, I checked in last commit and Incident is not the last item on Sidebar.

This is the actual order:

          {getDashboardLink()}
          {getPatientLinks()}
          {getAppointmentLinks()}
          {getLabLinks()}
          {getIncidentLinks()}
          {getMedicationLinks()}
          {getImagingLinks()}

Said that, what should be the right approach ?

[2020-08-17 20:33] blestab commented on #2305
Hi @rsousaj, you can do it this way.

Dashboard
Patients
Appointments
Medications
Labs
Imaging
Incidents

Don't forget the Sidebar test as that's where things get interesting :)

[2020-08-18 01:13] #2280 closed

[2020-08-18 01:14] jackcmeyer commented on #2307
Seems reasonable to me.

If there is, we can allow console.log on a per file/line basis.

[2020-08-18 06:17] tobireuen commented on #2307
I would like to work on this!

Just so we're clear: you want ANY call to console removed and forbidden, right?

[2020-08-18 13:49] fox1t commented on #2307
I agree that we can whitelist `console.log`s where the call is really needed (spoiler alert: nowhere XD)
@tobireuen yes!

[2020-08-18 14:42] tobireuen commented on #2307
Okay but have a look at [App.tsx:24](https://github.com/HospitalRun/hospitalrun-frontend/blob/6434fd07784b4cddc886c5759b34dbbdab273006/src/App.tsx#L24).

If I remove the console.log there, I could as well remove the catch block. Are exceptions caught on a higher level? Or how would you handle this specific case?

Please bear with me, this would be my first contribution and I want to be extra cauti

[2020-08-19 00:24] rsousaj commented on #2297
Hey @jackcmeyer, I would like to challenge myself on this one as no one appeared yet

[2020-08-19 00:39] morrme commented on #2297
Go for it @rsousaj  !

[2020-08-19 01:39] danikyl commented on #2129
Hi guys, I'd like to handle this one!

[2020-08-19 01:54] Fibii commented on #2307
@tobireuen, i don't think exceptions are handled on the higher level, a good way to handle that is by either informing the user with an alert or a notification with whatever error that is, or use some kind of a logger

for now you can override no-console rule for that line, unless specified otherwise by the maintainers

[2020-08-19 06:05] tobireuen commented on #2307
@Fibii thank you, will do it as you suggested and override the rule

If someone would be so kind and assign this issue to me, I could open a pull request. 🙃

[2020-08-19 16:49] tehKapa commented on #2307
@tobireuen done! thanks for your contribution!

[2020-08-20 00:22] #2294 closed

[2020-08-20 00:27] #2271 closed

[2020-08-20 10:18] #2305 closed

[2020-08-20 11:29] #2307 closed

[2020-08-20 18:57] rsousaj commented on #2297
Well guys, is this more or less what I should achieve ?

![screenshot01](https://user-images.githubusercontent.com/12521138/90813252-b33dda80-e2fd-11ea-8204-1e957c6e6619.png)

[2020-08-20 21:47] jackcmeyer commented on #2129
Go for it @danikyl!

[2020-08-22 16:04] blestab opened #2326 "Align quick create menu items order with sidebar items order"
## 🐛 Bug Report

The order of quick create menu items needs to align with the sidebar menu items order.

NOTE: This is a followup to #2305

![image](https://user-images.githubusercontent.com/5468546/90959939-50d01000-e49e-11ea-9c79-7b59933d2593.png)

## To Reproduce

Open the quick create menu and notice the ordering of menu items is different to how they are ordered in the sidebar.

src/shared/co

[2020-08-25 03:51] alti21 commented on #2326
Can I take this?

[2020-08-25 08:27] blestab commented on #2326
Sure @alti21, go for it!

[2020-08-25 22:37] rsousaj commented on #2080
No one working on this ? I'd be glad to help

[2020-08-26 03:32] #2291 closed

[2020-08-26 03:35] #2290 closed

[2020-08-26 09:43] blestab commented on #2080
Hi @rsousaj I am busy with this one, we'll find you something else to do.

[2020-08-26 10:12] blestab commented on #2080
hi @rsousaj, good news, just realised i have another PR on my name i still need to fix so i have put this one you your name, if that's alright

[2020-08-26 14:54] rsousaj commented on #2080
Yeah, off course. I'm glad to help

[2020-08-26 15:07] michaelkramer commented on #2326
I did the changes just to see how the system works.  This is very goood!!
I like the rules on commits I feel like some documentation would be nice.

I know this was assigned to @alti21

@blestab

[2020-08-26 21:43] morrme commented on #2326
@michaelkramer were you working with @alti21 ?

[2020-08-26 21:52] michaelkramer commented on #2326
No I'm not working with them. I'm just a software engineer looking to help out and see how other projects are built.

[2020-08-27 01:33] jackcmeyer opened #2335 "Refactor Patient notes to use React Query"
## 🚀 Feature Proposal
Refactor Patient notes to use React Query instead of redux.

There should be three new hooks added:
- usePatientNotes
- usePatientNote
- useAddPatientNote

The code for adding and viewing notes should be updated to use the new hooks.

## Motivation
Remove redux

## Technical Notes
- See patient allergies for inspiration
- delete redux code that will become unused

[2020-08-27 01:36] jackcmeyer opened #2336 "Refactor patient related persons to use react query"
## 🚀 Feature Proposal
Refactor patient related persons to use react query instead of redux

There should be 4 new hooks that get added
- usePatientRelatedPerson
- usePatientRelatedPersons
- useAddRelatedPerson
- useRemoveRelatedRelatedPerson

## Motivation
Remove redux

## Technical Notes
- Follow allergies for inspiration
- remove unused redux code after completion

[2020-08-27 01:39] rsousaj commented on #2080
I presume that Care Goal will come first than Care Plan at Tab Header, am I right ?

[2020-08-27 02:08] jackcmeyer opened #2337 "Refactor Patient Visits to use react query"
## 🚀 Feature Proposal
Refactor patient visit code to use react query instead of redux

Add 3 hooks
- usePatientVisits
- useAddVisit
- useVisit

Refactor code that currently accesses visits through the patient stored in the redux store to now use this code

## Motivation
Remove redux

## Technical Notes
- look diagnoses and imaging requests for code that links to visits
- use allergies code as insp

[2020-08-27 03:02] jackcmeyer opened #2338 "Refactor scheduling module to use react query"
## 🚀 Feature Proposal
Refactor the scheduling module to to use react query instead of redux

Need 5 hooks
- useAppointment
- useAppointments
- useScheduleAppointment
- useUpdateAppointment
- useDeleteAppointment

Refactor the code to use these new hooks

## Motivation
Remove redux

## Technical Notes
- use incidents module for inspiration
- remove redux after completion

[2020-08-27 03:11] jackcmeyer opened #2339 "Refactor labs module to use react query instead of redux"
## 🚀 Feature Proposal
Refactor the labs module to to use react query instead of redux

Need 5 hooks

- useLab
- useLabsSearch
- useCancelLabel
- useCompleteLab
- useRequestLab

Refactor the code to use these new hooks

## Motivation
Remove redux

## Technical Notes
use incidents module for inspiration
remove redux after completion

[2020-08-27 03:13] jackcmeyer opened #2340 "Refactor Imaging module to use react query instead of redux"
## 🚀 Feature Proposal
Refactor the imaging module to to use react query instead of redux

Need 4 hooks

- useSearchImagingRequest
- useRequestImaging
- useCancelLabel
- useImageRequest

Refactor the code to use these new hooks

## Motivation
Remove redux

## Technical Notes
use incidents module for inspiration
remove redux after completion

[2020-08-27 03:19] jackcmeyer opened #2341 "Refactor patient appointments to use react query instead of redux"
## 🚀 Feature Proposal
Refactor patient appointments to use react query instead of redux

Need one hook:
- usePatientAppointments (given a patient id, returns a list of the patient appointments)

## Motivation
Remove redux

## Technical Notes
- use `usePatientDiagnoses` as inspiration
- remove redux code after

[2020-08-27 03:27] jackcmeyer opened #2342 "Refactor patient labs to use react query instead of redux"
## 🚀 Feature Proposal
Refactor patient labs to use react query instead of redux

Add one hook
- usePatientLabs (given a patient id, it returns a list of labs for the patient)

Refactor the code to use this new hook

## Motivation
Remove redux

## Technical Notes
- use usePatientDiagnoses as inspiration
- remove unused redux code after completion

[2020-08-27 03:31] jackcmeyer opened #2343 "Add `New Imaging Request` button on visits page"
## 🚀 Feature Proposal
There should be a new button added to the patient visits page which allows a user to make a new imaging request quickly.

This button should navigate the user to the Imaging Request page when clicked and auto-populate the patient and visit information.

[2020-08-27 14:43] michaelkramer commented on #2335
May I take this?

[2020-08-27 17:57] morrme commented on #2326
@michaelkramer

There is typically a `CONTRIBUTING.MD` file that explains the rules and guidelines for contributing to any open source project. There is also an Issues list for most projects that details the issues currently in need by a project, and tags are left on each issue such as `help wanted` to indicate that a potential contributor's support is needed.  There are several issues that have n

[2020-08-27 20:15] Tomastomaslol commented on #2341
Hi @jackcmeyer. I would love to take a look at this. Could you assign this to me?

[2020-08-27 22:26] alti21 commented on #2326
@blestab I'm having an issue, I cannot login into Hospitalrun after setting it up on my computer. Nothing happens when I click sign in

[2020-08-27 23:07] blestab commented on #2080
Hi @rsousaj

The Care Goal, for now, will be a tab right next to Care Plan. i.e. it will come after

Not for now, see the specification of fields right at the top

[2020-08-27 23:39] blestab commented on #2326
Hi @alti21 im offline now but why do you hop on over to our slack there might be others still online who might be able to help you out. You can join our slack via this link https://hospitalrun-slack.herokuapp.com/

[2020-08-28 00:19] jackcmeyer commented on #2335
@michaelkramer You got it!

[2020-08-28 00:43] jackcmeyer commented on #2341
@Tomastomaslol you got it!

[2020-08-28 07:31] mani9896 commented on #2326
Hey there, i am a newbie and want to start contributing can i give a try here?

[2020-08-28 10:48] blestab commented on #2326
Thank you for offering @mani9896 this one is already assigned to someone else. Stick around we should be able to find you something easy to do. In the meantimg checkout our how to contribute guide here https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md and also be sure to join our slack here: https://hospitalrun-slack.herokuapp.com/

[2020-08-29 04:16] Tomastomaslol commented on #2287
The tests that keep generates the warnings were introduced in https://github.com/HospitalRun/hospitalrun-frontend/pull/2273/commits/41a97ad50328d975609483100014cbe0a66b0d16.

I created a branch that fixes the warnings but I keep having issues with this particular test: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/src/__tests__/patients/search/SearchPatients.test.tsx#L33

Any att

[2020-08-29 13:35] Fibii commented on #2343
Can i be assigned for this ?

[2020-08-29 15:17] jackcmeyer commented on #2343
Yes, @Fibii! I've assigned this to you!

[2020-08-30 18:10] comradekingu commented on #2104
@tehKapa Stay far away from Crowdin, see https://github.com/jitsi/jitsi-meet/issues/5056#issuecomment-612239691
Use Weblate instead :)

[2020-08-30 22:53] pjbass commented on #2336
Hey @jackcmeyer, I would like to try to tackle this issue. Can you assign it to me?

[2020-08-31 02:56] jackcmeyer commented on #2336
@pjbass I've assigned this to you!

[2020-08-31 04:00] jackcmeyer opened #2350 "Patient should be autopopulated when clicking New Appointment from Patient Appointments page"
## 🚀 Feature Proposal
When looking at a patient's appointments on their patient profile page and a user clicks the New Appointment button, the current patient should be autopopulated when the New Appointment page loads

[2020-08-31 04:54] mani9896 commented on #2350
Hey @jackcmeyer i would like to have a try at this issue, and a little guidance would be appreciated

[2020-08-31 08:36] tehKapa commented on #2104
@comradekingu thanks for the advice!

[2020-08-31 11:10] blestab commented on #2297
Just curious if we shouldn't maybe add the ability to remove notes e.g. one makes a mistake? Maybe we can log a separate issue for this since a PR is already under review for this.

[2020-08-31 12:28] tehKapa commented on #2104
Here we are! Weblate support has lightning-fast activated a Libre account https://hosted.weblate.org/projects/hospitalrun/

@rodzy @marcosvega91 unfortunately it was better to change service, I hope that the work done on Crowdin can be reused

[2020-09-01 04:15] jackcmeyer opened #2354 "Move title functionality to a `TitleProvider` rather than redux"
## 🚀 Feature Proposal
The title functionality should move to use the react context API using the "provider" pattern that can be seen here: https://kentcdodds.com/blog/how-to-use-react-context-effectively

The `useTitle` hook should remain unchanged

## Motivation
- Remove redux

[2020-09-01 05:12] #2335 closed

[2020-09-01 05:12] #2341 closed

[2020-09-01 05:13] #2326 closed

[2020-09-01 05:48] Tomastomaslol commented on #2337
Hi @jackcmeyer. I would love to take a look at this. Could you please assign this to me?

[2020-09-01 10:01] blestab opened #2356 "Resolve issue with Patient Labs tests"
## 🐛 Bug Report

When running all tests, notice the warning just after the AddDiagnosisModal test pass confirmation. There is a warning that references Labs.

## To Reproduce

Run all tests.
Notice the warning about use of act() and a stack trace just after the AddDiagnosisModal test passed confirmation.

![image](https://user-images.githubusercontent.com/5468546/91835068-2c67f680-ec49-11ea-92fe-6

[2020-09-01 10:08] blestab opened #2357 "Resolve issue with SearchPatient in unit tests"
## 🐛 Bug Report

Warn and stack trace observed just after the validate-incident test pass confirmation. It seems to be related to SearchPatients.tsx so might be in one of the patient tests.

## To Reproduce

Run all tests
Notice the warning and stack trace after the validate-incident test that references SearchPatients.tsx

![image](https://user-images.githubusercontent.com/5468546/91836675-6c2fdd

[2020-09-01 11:32] Tomastomaslol commented on #2356
Hi @blestab

I believe there already has been an issue raised for this and https://github.com/HospitalRun/hospitalrun-frontend/issues/2357 at https://github.com/HospitalRun/hospitalrun-frontend/issues/2287.

I tried to solve it but got stuck while trying to fix one of the tests: https://github.com/HospitalRun/hospitalrun-frontend/issues/2287#issuecomment-683233602.

if someone else would like to t

[2020-09-01 11:52] blestab commented on #2356
Thanks @Tomastomaslol, i did not realise there was another issue already open for this 👍🏾

[2020-09-01 12:59] blestab commented on #2356
This is a duplicate of #2287

[2020-09-01 12:59] #2356 closed

[2020-09-01 13:00] blestab commented on #2357
This is a duplicate of #2287

[2020-09-01 13:00] #2357 closed

[2020-09-01 22:19] #2342 closed

[2020-09-02 13:59] #2340 closed

[2020-09-02 14:32] fox1t commented on #2297
@blestab good point. Would you mind to open a new issue?

[2020-09-02 15:16] blestab opened #2364 "Support ability to delete a note for a lab request"
## 🚀 Feature Proposal

This is is followup to #2297.
Add the ability to remove/delete a note.

## Motivation

If/when a user adds a note by mistake, they should have the ability to remove it.

## Example

For a given patient, Jane Doe, on a given Lab for this patient, a user adds Note 1, Note 2 and Note 3. Then they realise that Note 2 was not meant to be for this particular Lab. They should be ab

[2020-09-02 20:22] reidysj commented on #2364
Hi, wondering if I could be assigned this?

[2020-09-03 20:44] blestab commented on #2364
Sure thing @reidysj

[2020-09-05 01:49] WinstonPoh commented on #2338
Hello, can I be assigned this issue please?:)

[2020-09-07 05:29] morrme commented on #2338
@WinstonPoh  Go for it! Thank you!

[2020-09-07 05:30] morrme commented on #2337
@Tomastomaslol  Sure! Thanks for volunteering!

[2020-09-07 05:31] morrme commented on #2350
@mani9896 Welcome! Go ahead!

[2020-09-07 05:33] morrme commented on #2293
@ArslanM786 How is everything going?  Are you blocked and/or do you need any support?

[2020-09-07 05:33] morrme commented on #2295
@ArslanM786 Just checking on this one as well...let us know if we may be of assistance!

[2020-09-07 05:34] morrme commented on #2255
Hi @YimniChan ! Just checking in on this issue. Are you blocked? Can we help in any way?

[2020-09-07 05:37] morrme commented on #2129
Hi @danikyl ! What is the current status of your work on this issue? Can we help in any way?

[2020-09-07 07:34] #2185 closed

[2020-09-07 10:08] blestab opened #2372 "Care Plan list view action button shows translation key instead of translation text"
🐛 Bug Report

Care Plan list action button shows translation key, **actions.view** instead of translation text **View**

## To Reproduce

Create a Patient
Add a Diagnosis
Add a Care Plan for the Diagnosis you just added
View the list of Care Plans
Notice the view action button has a label that says actions.view instead of View

## Expected behavior

On the Care Plan listing, the view action button

[2020-09-07 10:37] #2292 closed

[2020-09-07 17:42] #2080 closed

[2020-09-07 22:14] rsousaj commented on #2339
Hey Jack, could you assign me on this one ?

[2020-09-08 00:28] jackcmeyer commented on #2339
I have assigned you this @rsousaj!

[2020-09-08 14:49] gaweki commented on #2295
@morrme i fix this in [here](https://github.com/HospitalRun/hospitalrun-frontend/pull/2376)

[2020-09-09 02:06] gaweki commented on #2228
is this already works? how to test it?

[2020-09-09 02:11] gaweki commented on #2372
how to change label? @blestab

[2020-09-09 04:17] jackcmeyer opened #2378 "create `useCreatePatient` react-query hook and remove redux create patient code"
## 🚀 Feature Proposal
This feature is to create a `useCreatePatient` react-query mutation which will create a patient.

## Motivation
- removing redux

## Technical Notes
- this will follow a similar pattern to `useRequestImaging`
- make sure to remove all redux code related to creating a patient

[2020-09-09 04:19] morrme commented on #2295
@gaweki  Please see @jackcmeyer  's note here: https://github.com/HospitalRun/hospitalrun-frontend/pull/2376#pullrequestreview-484648602

[2020-09-09 04:24] jackcmeyer opened #2379 "create `usePatient` hook which will get patient by id and remove redux code"
## 🚀 Feature Proposal
Create a `usePatient` hook which will get a patient by id and remove all related redux code for getting a patient by id.

## Motivation
- remove redux

## Technical Notes
- start using the `usePatient` hook for general information tab
- remove redux code and related tests

[2020-09-09 04:29] jackcmeyer opened #2380 "Refactor the medications module to use react-query instead of redux"
## 🚀 Feature Proposal
Refactor the medication module to to use react query instead of redux

Need 4 hooks

- useMedicationRequest
- useMedicationSearch
- useRequestMedication
- useCancelMedicationRequest

## Motivation
Remove redux

## Technical Notes
use incidents module for inspiration
remove redux after completion

[2020-09-09 04:55] gaweki commented on #2372
@jackcmeyer would you add label in progress, mr?

[2020-09-09 05:06] jackcmeyer opened #2382 "create `useUpdatePatient` hook and remove related redux code"
## 🚀 Feature Proposal
Create a `useUpdatePatient` hook which will update a patient and remove all related redux code for getting a patient by id.

## Motivation
- remove redux

## Technical Notes
- start using the `useUpdatePatient` hook for editing a patient
- remove redux code and related tests

[2020-09-09 05:40] jackcmeyer opened #2384 "Make GitPod work"
## 🐛 Bug Report
Currently GitPod doesn't work since the user cannot login.

Looking at the logs, it looks like it gets a 404 when calling the database.

We will need to add:
- links to documentation on how to set env varibales
- get gitpod to recognize the couchdb database
- tell gitpod to start up a couchdb database

[2020-09-09 13:34] maciekglowacki commented on #2382
Hi, @jackcmeyer. Could I take this issue? :D

[2020-09-09 13:55] gaweki commented on #2295
@morrme would like to assign me?

[2020-09-09 13:59] danikyl commented on #2129
Hello there! Sorry for the delay. I need 5 more days to complete this work.

[2020-09-09 14:22] tehKapa commented on #2384
@jackcmeyer do you mean this?
<img width="2711" alt="Screenshot 2020-09-09 at 16 21 28" src="https://user-images.githubusercontent.com/6388707/92610978-996a3480-f2b8-11ea-8ee4-dbf236837b6d.png">

[2020-09-09 14:54] tehKapa commented on #2384
Unfortunately we need to use remote database. You can add DB var by clicking on Account -> Settings

[2020-09-09 16:10] Fibii commented on #2343
There are two ways to do this, since when we view a patient, the `patient` state will store that patient, we can just use that state to populate the info for the imaging request

in `NewImagingRequest`
[code]
will get us the last patient that we we viewed, which is the patient we wanted to add an imaging for

The other way would be passing the patient as props to `NewImagingRequest` and populate t

[2020-09-09 18:54] tehKapa commented on #2382
Absolutely yes. Good work!

[2020-09-09 23:02] #2372 closed

[2020-09-10 04:20] djiwandou commented on #2378
is this issue somehow related to this? @jackcmeyer
it happens in localhost and also in https://staging.hospitalrun.io/patients/new -> Create New Patient -> Save, only when opened using Firefox (normal in Chrome)
[code]
<img width="1440" alt="Screen Shot 2020-09-10 at 11 16 32" src="https://user-images.githubusercontent.com/24618908/92681277-6e82ed80-f357-11ea-89c5-cb79ba962a33.png">

[2020-09-10 04:30] jackcmeyer commented on #2378
I don't think so! This code is to do a refactor of how the save of the patient works.

I wasn't aware of any any bugs related to saving a patient.

If this is a reproducible issue, could you open another bug please?

[2020-09-10 04:58] jackcmeyer commented on #2343
I think the best way is to pass the current patient id using react-router.

When doing `history.push` you can pass state with the second param.
[code]

Then on the new imaging request we can read it like:

[code]

[2020-09-10 06:09] djiwandou commented on #2378
yes, it could be reproduced in my case it's only in Firefox
I will open new issue for this 🙏
cheers

[2020-09-10 06:20] djiwandou opened #2386 "Using Firefox: "Add mutation error" when saving New Patient data"
## 🐛 Bug Report

Fail to save new patient data in localhost and also in https://staging.hospitalrun.io/patients/new -> Create New Patient -> Save, only when opened using Firefox (normal in Chrome)

## To Reproduce
Steps to reproduce the behavior:
1. Open https://staging.hospitalrun.io/ or run through localhost:3000 (using Firefox)
2. Fill in new patient data -> Click button Save
3. Check console l

[2020-09-10 09:47] fox1t opened #2388 "Fix imports to support Components v 2.0.1"
## 💥 Regression Report

The build is not passing with components v 2.0.1 https://github.com/HospitalRun/hospitalrun-frontend/pull/2387/checks?check_run_id=1094941301 because we changed how components' `scss` files are exported.

## To Reproduce

`npm run build`

## Expected behavior

Build without throwing.

[2020-09-10 09:49] fox1t commented on #2378
@djiwandou thanks for pointing this out! Would you like to give it a shot?

[2020-09-10 09:53] fox1t commented on #2388
Relates to https://github.com/HospitalRun/components/issues/583 and https://github.com/HospitalRun/components/pull/584

[2020-09-10 10:39] #2295 closed

[2020-09-10 10:56] #2256 closed

[2020-09-10 12:24] fox1t commented on #2384
Hmm so only in gitpod we need to have a remote db? I think we can solve this adding a `.env` file that is used only in gitpod.

[2020-09-10 12:25] fox1t commented on #2129
No worries! And thanks for looking into this! :)

[2020-09-11 07:05] djiwandou commented on #2378
wew I am still newbie, maybe not yet for this one hehe ✌️
@fox1t

[2020-09-11 09:26] fox1t commented on #2378
@djiwandou :)

[2020-09-12 02:58] #2380 closed

[2020-09-13 22:53] Tomastomaslol commented on #2379
Hi @jackcmeyer could I take a look at this?

[2020-09-14 11:19] tehKapa commented on #2379
Ok @Tomastomaslol!

[2020-09-14 11:22] tehKapa commented on #2384
How? Beyond the dedicated variables (starting with GITPOD) how do you specify that it is used only in GITPOD?

[2020-09-14 22:47] ArtemGoldsmith commented on #2386
Looks like this issue happens only in Firefox private mode as it blocks offline storage for all sites in the permissions manager which disables IndexedDB

[2020-09-14 23:04] ArtemGoldsmith commented on #2098
Hi guys. Any update on this issue can I take it?

[2020-09-14 23:05] ArtemGoldsmith commented on #2378
Hey! Can I take this issue?

[2020-09-15 00:08] CreativeCreate commented on #2388
Can I pick this to follow up with my pull-request in @hospitalrun/components https://github.com/HospitalRun/components/pull/593#issue-486944957

Please note: now that there's no need for .scss references in the front-end, the main.scss reference in the front-end must be removed as follows.
[code]

[2020-09-15 03:47] #2336 closed

[2020-09-15 04:11] #2297 closed

[2020-09-15 04:19] #2337 closed

[2020-09-15 04:39] jackcmeyer commented on #2388
Closed via: 3844cd3322f68e12318e90c54161324f1509c8df

[2020-09-15 04:39] #2388 closed

[2020-09-15 04:40] jackcmeyer commented on #2378
Sounds good @ArtemGoldsmith!

[2020-09-15 04:45] jackcmeyer opened #2401 "refactor patient diagnoses to use react query and remove redux code"
## 🚀 Feature Proposal
This issue is to refactor patient diagnoses to use react query and remove related redux code.

There will need to be three new hooks

- `usePatientDiagnoses` which returns all patient diagnoses
- `useAddPatientDiagnosis` which validates creates a new diagnosis
- `usePatientDiagnosis` which returns a diagnosis given an id and a patient

## Motivation
- Remove redux

## Technic

[2020-09-15 04:48] #2278 closed

[2020-09-15 10:56] djiwandou commented on #2386
Hi @ArtemGoldsmith it could be possible because I also used incognito mode frequently, but tried just now using normal mode Firefox this issue is still happening on https://staging.hospitalrun.io/patients/new
cheers

[2020-09-16 00:54] rsousaj commented on #2339
@jackcmeyer could you help me a little bit - or someone else ?

I was trying to figure out the best approach for ViewLab. That screen use lab and patient data and they are dependent query (patient only runs after lab.patient is available). So, the code below was my approach for usePatient that I would like to know if is it ok:

`function fetchPatient(_: any, id?: string): Promise<Patient> {
  retu

[2020-09-16 13:09] michaelkramer commented on #2401
I would like to take this.

[2020-09-16 15:53] yuktashres commented on #2141
Hi @jackcmeyer sorry I didn't realise this was unassigned, however I am still actively working on it. I am coming across issues with the tests and CouchDB which I am working through at the moment, getting my head around it thus it's taking some time. Would you be able to assign it back to me please?

[2020-09-17 15:34] krahulsrinivas commented on #2293
I would like to start working on it. Can i be assigned?(This would be my first time contributing so i may need some help)

[2020-09-18 08:44] comradekingu commented on #2104
@tehKapa Better idea that discovering the quality isn't good.
I can help populate it if you add https://hosted.weblate.org/user/kingu/ as an admin :)
Only started helping projects this way, but got two projects up and running in as many days.

[2020-09-18 08:48] fox1t commented on #2104
Thanks, @comradekingu for pointing this out. As a project that will be used by final users, we need to pay more attention to who we rely upon!

[2020-09-18 12:35] comradekingu commented on #2104
I was going to say I couldn't agree more, but then I remembered I proposed being an admin ;)

[2020-09-19 10:13] tehKapa commented on #2104
@comradekingu I've added you to Weblate project

[2020-09-22 18:51] gwal21 commented on #2293
Hello @jackcmeyer, I have fixed this bug, although I'm not sure if it was the best way of doing so. Please let me know if you would like to assign it to me. This will be my first time contributing to an open-source project, so I may need a little guidance.

![LabSuccess](https://user-images.githubusercontent.com/65289595/93924731-1f3ba600-fce3-11ea-8a1c-8847fd09a6fa.PNG)

[2020-09-22 21:56] myworldmarijana commented on #2141
Hi beside adress does every patient have unique ID ?

[2020-09-23 02:20] #2354 closed

[2020-09-24 02:34] #2379 closed

[2020-09-26 03:33] wiertek commented on #2293
What is the status of this ticket?

[2020-09-26 04:56] #2339 closed

[2020-09-28 08:17] tehKapa commented on #2293
Hi @gwal21. What you need to do is create a Pull Request from your forked repository to this repository.

[2020-09-29 01:25] WinstonPoh commented on #2354
Hello, I came across this warning when on working on another issue refactoring scheduling. It is caused by the useUpdateTitle I think, and appears for basically all the pages. Just thought I'd check with some one here.

![Selection_015](https://user-images.githubusercontent.com/7601526/94501752-1442c180-025f-11eb-9b85-9b4605aa7828.png)
![Selection_016](https://user-images.githubusercontent.com/760

[2020-09-29 14:45] michaelkramer commented on #2401
I believe this issue has been corrected with this PR (https://github.com/HospitalRun/hospitalrun-frontend/pull/2409)

[2020-09-29 18:27] blestab opened #2417 "Resolve TitleProvider warnings logged in the browser console"
## 🐛 Bug Report

It was observed that react warning are logged to the browser console relating to the TitleProvider component. See comments on #2354

## To Reproduce

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/5468546/94600059-a5329080-0291-11eb-9c23-3b194368be2d.png)

## Expected behavior

There should be no warnings/errors logged in the browser console.

[2020-09-30 08:36] #2401 closed

[2020-09-30 15:02] sohamsshah commented on #2417
I would like to work on this issue...Thank you

[2020-09-30 15:57] UmairKamran commented on #2350
Hi @morrme, first time contributor here. Seeing as this issue is still open mind if I give it a try?

[2020-10-01 13:05] tehKapa commented on #2417
Ok @sohamsshah

[2020-10-01 18:24] blestab opened #2419 "Resolve the linter warning messages"
## 🐛 Bug Report

Resolve the 70+ linter warning messages

## To Reproduce

Attempt to build the project, you will notice about 70 or linter warnings

![image](https://user-images.githubusercontent.com/5468546/94848158-e0fd5f80-0423-11eb-80e3-e14404067b0c.png)

## Expected behaviour

Where possible, linter warnings must be resolved.

## Your Environment

- *node version*: 6,8,10
- *fastify version*

[2020-10-02 08:02] tehKapa commented on #2419
It should be similar or duplicate to this issue https://github.com/HospitalRun/hospitalrun-frontend/issues/2194.

[2020-10-02 08:31] blestab commented on #2419
Looks like they are related. I believe we can go ahead and close this as a duplicate.

[2020-10-02 08:31] #2419 closed

[2020-10-03 05:54] blestab commented on #2386
Yep, see - https://bugzilla.mozilla.org/show_bug.cgi?id=1639542

[2020-10-03 05:55] blestab commented on #2386
I normal Firefox (not in private mode) I cannot reproduce this issue. What Firefox version were you using?

[2020-10-04 15:41] VictorJuez commented on #2255
Hello! I've been working a little bit on this issue and I came up with this. What do you think? I used a Table instead of a Callout because I wasn't sure how did you want to show the information with a Callout.
Anyway, I would like to continue working on this, so could I get assigned to it? Then we can discuss further the correct approach to solve it. Thanks 😃
![HistoricalData](https://user-images

[2020-10-07 21:06] tehKapa commented on #2350
ok @UmairKamran !

[2020-10-07 22:03] WinstonPoh commented on #2350
Hello! I'm currently finishing up refactoring the Scheduling/appointments module, so it might be good to pause this for a while?

[2020-10-08 07:09] tehKapa commented on #2350
Can you link your PR to this thread for reference?

[2020-10-08 22:07] morrme commented on #2350
@WinstonPoh  ^

[2020-10-08 23:21] WinstonPoh commented on #2350
#2338 @tehKapa

[2020-10-09 07:43] #2293 closed

[2020-10-09 07:46] tehKapa commented on #2350
Ok! @UmairKamran can you wait for the completion of #2338 before starting?

[2020-10-09 09:23] #2259 closed

[2020-10-09 09:53] UmairKamran commented on #2350
Sure @tehKapa! I'll keep an eye out for it.
Thanks for the heads up @WinstonPoh

[2020-10-10 08:32] WinstonPoh commented on #2350
@UmairKamran  the PR for my task is here just FYI :) https://github.com/HospitalRun/hospitalrun-frontend/pull/2424/

[2020-10-12 10:35] JonnyMnemonic123 commented on #2255
Could I be assigned to work on this issue?

[2020-10-12 12:22] tehKapa commented on #2255
@VictorJuez sorry for delay. good mockup!
@fox1t @jackcmeyer @StefanoMiC @lauggh your opinions about it?

@JonnyMnemonic123 I don't know if you want to work on it with @VictorJuez

[2020-10-12 16:46] VictorJuez commented on #2255
@tehKapa Cool! 😄 I will continue with this then.
And @JonnyMnemonic123 let me know if you want to collab with me

[2020-10-12 18:28] thelderop commented on #2141
Hi @JDarke @jackcmeyer

I'm a new dev, and new to open source contributing.

Is this issue still available to work on?

Let me know and I'll get started on it today!

[2020-10-12 19:01] tehKapa commented on #2141
Hi @thelderop! Yes, it's still available. Should I assign it to you?

[2020-10-12 19:02] JonnyMnemonic123 commented on #2255
Yes that would be great

On Mon, 12 Oct 2020, 18:46 Víctor Juez, <notifications@github.com> wrote:

[2020-10-12 19:03] thelderop commented on #2141
@tehKapa

That would be great! Thank you.

[2020-10-18 15:02] #2338 closed

[2020-10-18 22:19] WinstonPoh commented on #2350
@UmairKamran #2424 has been merged now :) thanks for your patience!

[2020-10-19 07:09] morrme commented on #2364
@reidysj What is the status of this work?

[2020-10-24 05:24] dev-script commented on #2417
If no one is working on this issue, I would like to

[2020-10-24 08:10] tehKapa commented on #2417
@dev-script currently is assign to @sohamsshah

[2020-10-24 11:32] sohamsshah commented on #2417
Hey @dev-script you can work on this man. I am a bit busy, so couldn't complete this. I will take another issue, idea is to get the work of the Open Source going on! Good luck!

[2020-10-24 14:23] dev-script commented on #2417
sure @sohamsshah  . Thanks

[2020-10-24 22:51] blestab opened #2438 "Patient View: Add Visit button height fix"
🐛 Bug Report

The height of the Add Visit button on the Patient view is not consistent with the rest of the button such the Edit button just above it.

![image](https://user-images.githubusercontent.com/5468546/97095090-88546780-165b-11eb-989f-11c3ddecfc17.png)

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select one existing patient to View or create a new o

[2020-10-24 23:02] blestab opened #2439 "Patient View: Date fields display format consistency"
## 🐛 Bug Report

Date display formats must be consistent

## To Reproduce

Steps to reproduce the behavior:

On https://staging.hospitalrun.io/

1. Login and go to patients,
2. Select one existing patient to View or create a new patient (specify a date of birth or approximate age) if none already exist and then view the patient
3. If you created a new patient in step 2 above, add a new Diagnosis a

[2020-10-24 23:12] blestab opened #2440 "Patient View: Diagnoses section headings height fix"
## 🐛 Bug Report

Diagnoses section headers should be the same height as Care Plans headers

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patients already exist, then view the patient
3. Notice the Diagnoses section's header is not the same height as that for the Care Plans

![image](https://user-ima

[2020-10-24 23:19] blestab opened #2441 "Patient View: Buttons hover style inconsistency"
## 🐛 Bug Report

Add Diagnosis/Add Care Plan buttons hover style is not consistent with the rest of the app's hover styles.

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patients already exist, then view the patient
3. Hover over the Add Allergy button and notice the strong green background color.
4

[2020-10-24 23:29] blestab opened #2442 "Patient View: Medications tab missing"
## 🐛 Bug Report

Medications tab is missing from the list of available tabs under the Patient view.

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patients already exist, then view the patient
3. Notice there is no Medications tab

## Expected behavior

Medications tab should exist between Notes and

[2020-10-24 23:45] blestab opened #2443 "Patient View: Add Allergy does not immediately update the list of allergies"
## 🐛 Bug Report

The Add Allergy button does not appear to immediately update the list of allergies, even though the Allergies tab gets an immediate update

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patients already exist, then view the patient
3. Click the Add Allergy button in the Allergies sec

[2020-10-25 11:23] smsriharsha commented on #2441
can you assign this to me

[2020-10-25 12:33] merelj commented on #2439
I'd like to work on this one

[2020-10-25 12:39] blestab commented on #2441
Thanks @smsriharsha,
I have put this onto your name

[2020-10-25 12:41] blestab commented on #2439
Thanks @merelj
I have put this on your name.

[2020-10-25 12:41] blestab commented on #2439
Thanks @merelj
I have put this on your name.

[2020-10-25 14:09] gustavoplenamente commented on #2440
May I be assigned to this issue?

[2020-10-25 14:42] blestab commented on #2440
Thanks @gustavoplenamente

I have put this on your name.

[2020-10-25 14:46] blestab commented on #2443
Thanks for the PR @dastgirp

It is recommended to first ask to be assigned an issue before creating a PR as per our contributing guidelines (https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md)

![image](https://user-images.githubusercontent.com/5468546/97110372-892fdc80-16e1-11eb-9454-e2fab6d005b1.png)

[2020-10-25 14:48] dastgirp commented on #2443
I agree @blestab , I totally missed that 2nd point.

[2020-10-25 15:03] blestab commented on #2443
No worries, thank you for assisting us with this.

[2020-10-25 15:40] blestab opened #2450 "Patient View: Widgets styling and alignment"
## 🚀 Feature Proposal

Need consistency with the Patient view for the display of Allergies, Diagnoses and Care Plans widgets.

## Motivation

Currently the Allergies widget looks different to the Diagnoses/Care Plans widgets.
For consistency:
1. We need the Allergies widget to use the same display format as Diagnoses/Care Plans widgets
2. We also need to have the 3 widgets aligned horizontally in

[2020-10-25 16:42] blestab opened #2451 "Patient View: Add Visit does not immediately update the list of visits in Add Diagnosis form"
## 🐛 Bug Report

The Add Visit button does not appear to immediately update the Add Diagnosis popup form, visit lookup, even though the Visits tab gets an immediate update.
This is similar to #2443 so you may get ideas from how that was resolved.

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patient

[2020-10-25 22:49] #2417 closed

[2020-10-25 23:06] Emalsha commented on #2451
I like to give this a try

[2020-10-25 23:09] jackcmeyer commented on #2451
@Emalsha you got it!

[2020-10-26 00:56] jackcmeyer opened #2453 "Fix warning during Incidents.test.tsx"
# 🐛 Bug Report
When running `Incidents.test.tsx`, there is a console error during the tests.

[code]

## To Reproduce
`npm test Incidents.test.tsx`

## Expected behavior
No warning should appear.

[2020-10-26 01:00] jackcmeyer opened #2454 "Upgrade react-scripts to v4.0.x"
React scripts was recently upgraded to v4.0.0. This issue is to track and finish migrating HospitalRun to react-scripts v4.0.x. Dependabot couldn't do this on its own due to a failing build: https://github.com/HospitalRun/hospitalrun-frontend/pull/2437.

Things to consider:
- `npm start` should start the app
- `npm test` should successfully run the test suite
- `npm run lint` should continue to re

[2020-10-26 02:26] #2443 closed

[2020-10-26 05:31] dev-script commented on #2442
I would like to work on this issue.

[2020-10-26 10:28] blestab commented on #2442
Sure thing @dev-script

[2020-10-26 11:00] Emalsha commented on #2450
Can I try this.

[2020-10-26 12:12] blestab commented on #2450
Absolutely @Emalsha

[2020-10-26 14:42] blestab commented on #2453
Thank you for the PR @ho1234c

[2020-10-26 15:09] gustavoplenamente commented on #2440
@blestab , the description says to change from "Diagnosis Name" to just "Diagnosis" but the example image is different. It changes "Diagnosis Name" to just "Name".
As it seems more appealing to me, I will change to jsut "Name", as the table name already tells the user it's about diagnoses.

[2020-10-26 15:28] blestab commented on #2440
Thanks for picking this up, i have corrected the description.

In summary we want to make the following changes:
Diagnosis Name => Name
Diagnosis Date => Date

[2020-10-26 20:54] DrewGregory commented on #2184
@jackcmeyer I'd be happy to take this on!

[2020-10-26 20:55] DrewGregory commented on #2184
Should the visit option be required? Linking a visit is required for Imaging Requests, for example.

[2020-10-26 22:40] stephjs commented on #2438
Hi @blestab I have an open [PR](https://github.com/HospitalRun/hospitalrun-frontend/pull/2457) that fixes this issue.

[2020-10-27 00:23] Emalsha commented on #2450
![Screenshot 2020-10-27 011620](https://user-images.githubusercontent.com/7451018/97242007-07c86f00-17f3-11eb-89e5-8736e6ddfcb2.png)

[2020-10-27 11:09] blestab commented on #2438
Awesome! Thanks @stephjs

[2020-10-27 18:02] fadelkaadan commented on #2454
I would like to help here

[2020-10-28 02:00] #2439 closed

[2020-10-28 08:53] tehKapa commented on #2184
@fox1t can you answer?

[2020-10-28 08:54] tehKapa commented on #2450
@lauggh can you give us your opinion?

[2020-10-28 22:15] lauggh commented on #2255
Is the table sortable by date? What other information do we expect to show for a Patient History?

[2020-10-29 00:35] #2442 closed

[2020-10-29 04:10] dev-script commented on #2343
Hi @jackcmeyer  , If no one is working currently, I would like to work on this.

[2020-10-30 08:29] #2451 closed

[2020-10-31 08:55] giulianovarriale commented on #2382
I see this story was picked up long time ago. Can I take this one?

[2020-10-31 08:56] giulianovarriale commented on #2378
I see this story was picked up long time ago. Can I take this one?

[2020-10-31 10:09] blestab opened #2463 "Add diagnosis form - fix typo in one of the statuses"
## 🐛 Bug Report

There is a typo in remission on the list of statuses; it is spelt **remisison** instead of **remission**.

## To Reproduce

On https://staging.hospitalrun.io/
1. Login and go to patients,
2. Select an existing patient to view or create a new one if no patients already exist, then view the patient
3. Click Add Diagnosis, this opens up the Diagnosis form; Click the status dropdown a

[2020-10-31 16:34] Mani-07 commented on #2463
Hi
@blestab - Can u assign to me? I will work on it.

[2020-10-31 17:42] Mani-07 commented on #2463
Hi @blestab
I have fixed this issue and raised PR.

https://github.com/HospitalRun/hospitalrun-frontend/pull/2465

[2020-11-01 12:22] #2463 closed

[2020-11-01 15:44] VictorJuez commented on #2255
Hello @lauggh ! Yes, it is sorted by date. And regarding the information, right now it is showing Labs and Appointments events.  For each of these events we can see:
- For Labs, it is shown the Lab Type
- For Appointments, it is shown the Appointment Reason

Very concise information just to identify the events.

[2020-11-01 16:46] #2453 closed

[2020-11-02 01:42] #2450 closed

[2020-11-03 02:12] #2440 closed

[2020-11-04 18:12] jnolan97 commented on #2083
Does this still need help?

[2020-11-06 20:42] #2350 closed

[2020-11-13 01:21] emanuallan commented on #2364
Hey, can I take over this? It'd be my first contribution, seems straightforward enough.

[2020-11-14 06:10] comradekingu commented on #2104
So from what I can tell .ts Qt Linguist files are supposed to be different from the ones found in this repo. No luck adding those.

Start tag expected, '<' not found, line 1, column 1 (<string>, line 1) src/shared/locales/de/translations/actions/index.ts: Start tag expected, '<' not found, line 1, column 1 (<string>, line 1) src/shared/locales/enUs/translations/actions/index.ts: Start tag expected

[2020-11-14 17:13] tehKapa commented on #2104
what are the steps you have done?

[2020-11-15 01:14] comradekingu commented on #2104
I added a component with settings I think would otherwise have worked. Tried both with wildcards for component and language, and adding just one component at a time. I can post the settings if you like.

[2020-11-15 09:30] tehKapa commented on #2104
yep, it would be useful

[2020-11-17 02:43] morrme commented on #2364
Sure @emanuallan !

[2020-11-17 23:13] SamuelOkebaram commented on #1010
How can I add bulk users in this application

[2020-11-18 17:48] lordinkavu commented on #2441
I see that this has not been resolved. Can you assign it to me?

[2020-11-19 17:12] yuktashres commented on #2287
Hello, is this still available to work on?

[2020-11-20 19:57] tehKapa commented on #2287
Absolutely @yuktashres

[2020-11-26 19:06] anthonyaperez commented on #2129
Hi @jackcmeyer @fox1t @tehKapa, I would love to take this issue on if it's still open.

[2020-11-26 19:07] jackcmeyer commented on #2129
Go for it!

[2020-11-30 19:45] aguptamusic opened #2481 "Type Inconsistency for Frontend Installation"
## Report
I was hit with many typescript errors when attempting to run the service for the first time. The issue seemed to have been @types/react and @types/react-dom versions were conflicting. The issue was resolved by removing and re-installing those dependencies.

## Environment
- *node version*: 14.13.1
- *os*: Mac

[2020-12-01 02:03] roy-stewart commented on #2228
I'm interested in working on this.

[2020-12-04 00:04] roy-stewart commented on #2228
I'm still interested in picking up this work if no one else is currently working on it.

[2020-12-04 19:37] aguptamusic commented on #2098
Hi @blestab @fox1t @jackcmeyer @morrme @tehKapa could I work on this?

[2020-12-04 19:38] aguptamusic commented on #2098
Hi @blestab @fox1t @tehKapa @jackcmeyer @morrme, could I please take this on?

[2020-12-05 06:53] jackcmeyer commented on #2228
go for it @roy-stewart!

[2020-12-05 08:25] blestab opened #2486 "Create a basic inventory management module"
## 🚀 Feature Proposal

This issue is to create a very basic inventory module. When this issue is finished, I would expect to be able to:

- create a new inventory item
- view a list of all inventory items
- view a single inventory item

## Technical Notes
An inventory item is defined as:

[code]

- id should be auto-generated
- There should be a text box which allows me to search for inventory ite

[2020-12-05 08:59] blestab opened #2487 "Social Work: Add ability for documenting family information for a patient"
## 🚀 Feature Proposal

There should be the ability to document a Social Work information for a patient.

### Social Work tab

There should be a new tab called Social Work on the patient profile screen. Under this tab there will be two sections, one titled Family Information and the other titled Expenses. This issue deals with the Family Information section

#### Family Information

When the Social

[2020-12-05 09:18] blestab opened #2488 "Social Work: Add the ability for documenting expenses information for a patient"
## 🚀 Feature Proposal

There should be the ability to document Social Work information for a patient.
This MUST be done after ????

### Social Work tab

There should be a new tab called Social Work on the patient profile screen. Under this tab there will be two sections, one titled Family Information and the other titled Expenses. This issue deals with the Expenses section.
The Expenses section mu

[2020-12-05 10:05] blestab opened #2490 "Imaging: Add the ability to edit an imaging request"
## 🚀 Feature Proposal

A user should be able to edit an existing imaging request.

## Motivation

When an imaging request is made, we need the ability to edit it after saving. This includes updating the radiologist, results and notes about the imaging request.

## Technical Details

#### Model Updates
- Add the following fields to the Imaging model

[code]

#### Imaging Request listing table
- For

[2020-12-05 10:37] blestab opened #2491 "Imaging: List of completed imaging requests"
## 🚀 Feature Proposal

Add a new sidebar option for quick access to all completed imaging requests

## Motivation

Users need quick access to completed imaging requests

## Technical Details

- Add a "Completed Requests" menu option under the Imagings section, below the "Imaging Requests" menu option
- This new menu option displays a table of imaging requests filtered by status='completed'
- There

[2020-12-05 11:01] blestab opened #2492 "Medication: New medication request quantity amount and unit not creating correctly"
## 🐛 Bug Report

When a new medication request is created, the quantity (value and unit) do not seem to be created correctly.
This leads to the edit/view form not displaying the quantity value and unit.
Editing however works as expected.

## To Reproduce

Steps to reproduce the behavior:

- Access staging: https://staging.hospitalrun.io/
- Create a new medication request, specifying a quantity amo

[2020-12-05 23:00] roy-stewart commented on #2492
I'd be interested in working on this bug.

[2020-12-06 04:32] blestab commented on #2492
sure @roy-stewart , thanks

[2020-12-06 05:01] FanciestW commented on #2491
Hello :wave:
I would like to work on this feature request. Is there a timeline for this feature request? I am a new contributor and will be setting up a development environment and getting to know the codebase.

[2020-12-06 06:15] blestab opened #2493 "Incidents: Add optional patient impacted field"
## 🚀 Feature Proposal

When recording a new incident or editing an existing one, add the ability to specify the impacted patient. This field will be optional.

## Motivation

Some incidents impact patients while others will not. The system should provide a way to specify an impacted patient (if any)

## Technical Details

#### Incident Model

Add an optional patient field:

[code]

#### Report Inc

[2020-12-06 06:33] blestab opened #2494 "Incidents: Add incident edit form"
## 🚀 Feature Proposal

Add the ability to edit a reported incident.

## Motivation

One an incident has been reported, the system must provide a way to update it, to correct any mistakes or provide a progress update.

## Technical Details

#### Incident Model

Add the following new fields to the incident model

[code]

#### Incident View Form

Make the following fields editable on the current view

[2020-12-06 07:01] blestab commented on #2491
Welcome @FanciestW, thank you for assisting with this.
If we can get it before the year is out that would be amazing.

Feel free to checkout our [Contributor Guide](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/.github/CONTRIBUTING.md) and join our [Slack](https://hospitalrun-slack.herokuapp.com/) if you haven't already done so,

[2020-12-06 07:13] blestab opened #2495 "Medication: canceled status i18n label not displaying"
## 🐛 Bug Report

The canceled status for medications shows the translation key instead of the label.

## To Reproduce

Visit staging https://staging.hospitalrun.io/
Access the medication requests page
Click on the filter by status field to reveal the filter status options
Notice the display medications.status.canceled instead of "Canceled"

The same can be seen when one views a medication request

[2020-12-06 07:16] blestab commented on #2495
@FanciestW this one might be good to get you comfortable with the codebase. What do you think?

[2020-12-06 08:19] blestab opened #2496 "Create a basic billing module"
## 🚀 Feature Proposal

This issue is to create a very basic billing module. When this issue is finished, a user would expect to be able to:

- create a new pricing item
- view a list of all pricing items
- view a single pricing item

## Technical Notes
Model Name _PricingItem_ defined as:

[code]

- id, createdBy (logged on user), createdOn (datetime string of current date/time) should be auto-gen

[2020-12-06 08:49] blestab opened #2497 "Incidents: add the ability to document notes on a reported incident"
## 🚀 Feature Proposal

Add the ability to document notes onto a reported incident.

## Motivation

During the incident's lifespan, there will be need to add multiple notes relating to the incident.

## Technical Details

#### Incident Model

Add a notes field which hold multiple notes objects

[code]

#### Note Model

Add a givenBy field which will store the currently logged in user writing the no

[2020-12-07 01:00] morrme commented on #2098
@aguptamusic Sure !

[2020-12-07 01:02] morrme commented on #2098
@ArtemGoldsmith sorry that we missed your message!

[2020-12-07 02:17] FanciestW commented on #2495
@blestab I agree, can I be assigned to this issue as well?

[2020-12-07 06:56] blestab commented on #2495
Awesome! I have put this on your name and for now removed the other one earlier assigned.

[2020-12-07 12:47] rsousaj commented on #2496
Hi guys, I would love to build this module. May I ?

[2020-12-07 15:28] FanciestW commented on #2495
While fixing the spelling of 'canceled' for the usEn locale, I noticed that the ViewMedicines component has a much smaller width for the medicines table. Could I address this issue? And should another issue be created for this or can I make the fix under this issue?

[2020-12-07 15:50] blestab commented on #2495
Thanks @FanciestW i'll create a separate issue for you.

[2020-12-07 15:55] FanciestW commented on #2495
![Screen Shot 2020-12-07 at 10 27 38 AM](https://user-images.githubusercontent.com/9480166/101373182-ab894e00-387a-11eb-804f-39c944a291fa.png)
@blestab Here is a screenshot you can use if you'd like. Thank you

[2020-12-07 16:19] blestab opened #2503 "Search Views Inconsistency"
## 🐛 Bug Report

We need to make the Search views for patients, medications, labs, imaging, and incidents consistent.

## To Reproduce

Access the list of medication requests and note the width inconsistency.

## Expected behavior

UI should be consistent.
- The search box and other filter fields should ALL use class form-control not form-control-lg
- The search filters and table of search matches

[2020-12-07 16:20] blestab commented on #2503
@FanciestW here is the new task. May you sign the CLA for your other PR.

[2020-12-07 16:24] FanciestW commented on #2503
@blestab CLA has been signed for the other PR. I would like to work on this issue, may I be assigned to this issue? Thank you very much!

[2020-12-07 16:36] blestab commented on #2503
Awesome! thanks
I have added this onto your name.

[2020-12-07 17:53] blestab commented on #2496
Sure @rsousaj

[2020-12-08 04:33] FanciestW commented on #2503
@blestab Do you think the title and objective of this issue can be changed to make the Search views for medications, labs, imagings, and incidents consistent. A potential new title might be "Search Views: Make Consistent". I used the Patients' research view as a guide and changed the JSX for each Search view component to all use Container, Row, and Column from `@hospitalrun/components`. Here are s

[2020-12-08 09:41] mohitdmak commented on #2494
can i be assigned @blestab ?

[2020-12-08 11:19] blestab commented on #2494
Thanks @mohitdmak

[2020-12-08 11:46] blestab commented on #2503
Thanks @FanciestW I have updated the title and description so you can look at making all view consistent, including the patients view as well

[2020-12-08 23:56] AashaiAvadhani1 commented on #2487
Hi,

I can work on this feature!

Thank you,
Aashai Avadhani

[2020-12-09 04:00] #2503 closed

[2020-12-09 04:01] #2495 closed

[2020-12-09 04:02] #2441 closed

[2020-12-09 04:55] FanciestW commented on #2491
@blestab I would like to work on this issue now. Thank you very much!

[2020-12-09 19:07] blestab commented on #2487
Sure @AashaiAvadhani1 , thank you

[2020-12-09 19:10] blestab commented on #2491
All yours @FanciestW , thank you

[2020-12-10 21:02] rsousaj commented on #2496
@blestab Hi, createdOn and createdAt (inherited from AbstractDBModel) are any different ?

[2020-12-11 02:49] jackcmeyer commented on #2496
@rsousaj use whichever is inherited from the `AbstractDBModel` they are intended to be the same.

[2020-12-11 08:01] blestab opened #2511 "UI Inconsistency: Forms (new/edit) buttons labels"
## 🐛 Bug Report

There is an inconsistency in the form save button labels when we create a new entity (patient, appointment, lab, medication, imaging request, incident)

## To Reproduce

Create a new patient OR new appointment OR new medication OR new lab OR new incident OR new imaging request
Notice the footer buttons in some instances you have "Save" in other instances you have "Request"; we nee

[2020-12-11 17:36] CreaTorAleXander commented on #2493
I would like to take it

[2020-12-11 17:59] aguptamusic commented on #2497
Hi @blestab, could I take this?

[2020-12-11 18:12] cpondoc commented on #2511
Hi, @fox1t @tehKapa @jackcmeyer -- would love to take this on!

[2020-12-12 07:50] blestab commented on #2493
Absolutely @CreaTorAleXander, thanks

[2020-12-12 07:51] blestab commented on #2511
Thanks @cpondoc , all yours.

[2020-12-12 07:52] blestab commented on #2497
Yes you may @aguptamusic , thanks

[2020-12-12 08:30] aguptamusic commented on #2098
Update: I'm holding off on this issue because @jackcmeyer says:
"The core team is deciding to move away from CouchDB/PouchDB in favor of some more modern offline-first practices, such as RxDB + GraphQL sync. Since this migration will be a large effort, we simply removed the login stuff along with removing the code that made syncing happen. It appears that we have left behind some of these artifact

[2020-12-12 14:42] UmairKamran commented on #2490
Hi @blestab. I'd like to take this

[2020-12-12 14:51] blestab commented on #2490
Sure thing @UmairKamran thank you for your help

[2020-12-14 21:15] aguptamusic commented on #2497
@blestab @jackcmeyer
The design provided above for the "+ New Note" button doesn't match the style of the "+ Add New Note" button in the patient notes view. The "+ New Note" design above has a green background and looks similar to the "Resolve Issue" button, whereas the "+ Add New Note" has a white background that turns blue when hovering. Which should we use?

[2020-12-14 21:20] AosTheory commented on #2487
Hi @blestab, both myself and @jennifferyang  will be working on this issue as a group with @AashaiAvadhani1. Can we also be added as assignees to the issue

[2020-12-14 23:05] gcrt0701 commented on #2486
Hi @blestab @fox1t @tehKapa @jackcmeyer @morrme, could I please take this on?

[2020-12-15 04:10] blestab commented on #2486
Sure @gcrt0701 thank  you

[2020-12-15 04:22] blestab commented on #2497
Thanks @aguptamusic please go ahead and use button label, functionality (display message if there are no notes) and design/styling that matches the Patient Notes view. In addition though, we need a table of notes for this one instead of how Patient Notes displays the list of notes, with the ability to delete/edit a note.

[2020-12-15 04:37] blestab commented on #2487
I have added you @AosTheory but I believe @jennifferyang needs to comment here for me to be able to pick her up as an assignee

[2020-12-15 05:03] blestab opened #2518 "UI: Forms footer buttons alignment"
## 🐛 Bug Report

Footer buttons in forms are not right aligned with the container immediately above them.

## To Reproduce

Access any new/view/edit form e.g. Patient, Lab, Medication, Incident, Imaging, you will notice the misalignment.

View/Edit Patient
![image](https://user-images.githubusercontent.com/5468546/102173163-181bd280-3ea3-11eb-9a59-cc5f75830a56.png)

New Appointment
![image](https:

[2020-12-15 05:11] Adarsh710 commented on #2518
Hi @blestab, I would like to take this.

[2020-12-15 07:34] blestab commented on #2518
Thanks @Adarsh710, all yours.

[2020-12-16 05:39] jennifferyang commented on #2487
Hi, can you add me as an assignee as well? Thank you!

[2020-12-16 06:55] blestab commented on #2487
Done @jennifferyang

[2020-12-16 14:18] #2184 closed

[2020-12-16 23:12] #2384 closed

[2020-12-17 14:44] SamuelQZQ commented on #2454
@jackcmeyer I'm new here, let me have a try.

[2020-12-18 01:05] aguptamusic commented on #2497
@blestab Given that the core team seems to still be working out logging in functionality, it is not obvious what role the current user plays (Doctor, etc.). How should we work with the givenBy field in a Note? A few options we're thinking about:

1) Try to replicate App.tsx and use the current session and user object from a try/catch and handle the inevitable error case from RemoteDB.
2) Comment o

[2020-12-18 01:17] jackcmeyer commented on #2497
You can get the current user from the redux store, which currently has mock data inside of it. You can see an example of how to do that in the report incident functionality.

[2020-12-18 18:00] doubleppereira commented on #2454
Actually react-script v4.0 has jest already you don't need to have that dependency anymore..I was taking a look as well and it seems that after the update I found that we would need to ignore some eslint rules in sake of typescript ones.
[code]

Even like this some tests are failing maybe some other rules or even the tests them selves I notice per example that `ViewLabs.test` looked like it had so

[2020-12-18 20:30] nobrayner commented on #2454
I've started working on this after trying it out on the Convert to RTL branch.

Currently, I am having a lot of issues with the tests, and I don't seem to know enough to reason about them. Namely a lot of:
[code]

And then the real kicker, that completely kills the test run:
[code]

[2020-12-19 01:13] nobrayner commented on #2454
I may revisit this after the RTL conversion, to see if it makes a difference. At the moment, 80+ tests fail for various reasons. And the number changes each time all the tests are run...

[2020-12-19 01:31] roy-stewart commented on #2228
It looks like the splash screen has already been implemented. I noticed that the logo.png, the correct apple-touch-icon link, manifest.json, and the link to manifest.json have all been previously added.

[2020-12-19 08:30] doubleppereira commented on #2454
Yes I think the way the tests are being tested might have some race conditions happening so maybe with that conversion to RTL would solve that and would make upgrade to react 17 easier as well. I managed to have around 46 tests failing but I still have those errors that you mentioned above

[2020-12-22 17:50] rsousaj commented on #2493
Hi, I think I can handle this one if its not under someone else development

[2020-12-23 04:12] mattkuzco commented on #2493
Hi, can I be assigned to this issue?

[2020-12-23 08:29] tehKapa commented on #2493
Wait a minute. Is anyone working on this? @blestab?

[2020-12-23 09:28] blestab commented on #2493
Looks like @CreaTorAleXander removed themself as an assignee, I am guessing that means they are no longer looking at it? I think @mattkuzco or @rsousaj could be assigned to take over this one.

[2020-12-23 14:36] rsousaj commented on #2493
Yeah @mattkuzco, go ahead buddy

[2020-12-23 14:56] #2511 closed

[2020-12-23 14:57] #1808 closed

[2020-12-26 18:10] cpondoc commented on #2101
Hey @kumikokashii @tehKapa @jackcmeyer! Would love to look at this issue if it's still open.

[2020-12-27 10:08] blestab opened #2530 "Mobile Navbar - remove visit links"
## 🐛 Bug Report

The mobile navbar has 2 visits related entries at the bottom that should not be there.

## To Reproduce

- Access staging https://staging.hospitalrun.io
- Resize browser window to be mobile sized (you may use browser dev tools or just resize the browser window)
- Open the navbar and notice the 2 entries at the bottom (see screenshot below)
![image](https://user-images.githubuserco

[2020-12-27 13:04] cpondoc commented on #2530
Hi, @blestab @fox1t @tehKapa @jackcmeyer -- would love to take this on!

[2020-12-27 13:12] blestab commented on #2530
Sure thing @cpondoc all yours

[2020-12-27 21:16] mattkuzco commented on #2493
Hey, sorry to bother :( I don't know if this is the best place to ask, but I'm having some trouble with the Typeahead component. I think I need the onInputChange callback to detect if the user is trying to enter a patient (to check if the field is blank, or in the case the patient doesn't exist to display an error message) but I'm not so confident with typescript so I'm not really sure how to add

[2020-12-27 22:06] rsousaj commented on #2493
I don't think I'm the best here to help you but I'd like to try.

From what I've used, the component receives onChange and onSearch as callbacks.

1) onSearch you pass a function that receive a string as argument and you return a Promise of the Search of that string from the Database.

2) onChange is when the user select a Patient. In this case, this callback receive a Patient as argument (actuall

[2020-12-27 22:19] mattkuzco commented on #2493
Oh I thought about doing that, yeah for that onSearch and onChange are perfectly fine. It's just I wasn't sure if I had to it this way (pass a null patient on partial input) or prohibit an incident when patient field contains invalid input. Thank you!

[2020-12-28 15:22] tehKapa commented on #2101
Sure @cpondoc, you can take it.

[2020-12-30 10:50] blestab opened #2534 "Patient: Care Goal action button label"
## 🐛 Bug Report

The action button label on the Care Goals table shows the translation key instead of the text

![image](https://user-images.githubusercontent.com/5468546/103346524-e6a72780-4a9c-11eb-8b6d-05314d543b94.png)

## To Reproduce

- Access staging: https://staging.hospitalrun.io/
- Create a patient is one does not exist
- Create a visit
- Record a diagnosis
- Record a care plan for the d

[2020-12-30 11:34] shiwangi20 commented on #2534
@blestab would like to work on it

[2020-12-30 11:37] blestab opened #2535 "Incidents: Filter by status labels"
## 🐛 Bug Report

Incident filter status labels should start with capital letters i.e. All, Reported, Resolved

## To Reproduce

- Access staging https://staging.hospitalrun.io/
- Access the incidents view and click on the filter by status field. Notice the labels are all lowercase.
![image](https://user-images.githubusercontent.com/5468546/103348597-27a23a80-4aa3-11eb-8abc-abbec379b988.png)

## Ex

[2020-12-30 11:52] blestab commented on #2534
Sure thing @shiwangi20, all yours.

[2020-12-30 14:51] shiwangi20 commented on #2535
@blestab can I work on this

[2020-12-30 16:34] blestab commented on #2535
Sure @shiwangi20

[2020-12-30 16:58] #2534 closed

[2020-12-30 16:58] #2535 closed

[2021-01-03 13:44] #2530 closed

[2021-01-03 21:03] DrewGregory commented on #2497
If a user updates a note with the "Edit" functionality, should the date/givenBy be updated?

[2021-01-04 11:24] blestab commented on #2497
I don't believe so as those are the create date and user. In future we could possibly look at introducing lastEditDate, and lastEditUser fields.

[2021-01-04 15:41] blestab opened #2539 "Incident - reportedBy should store the currently logged in user id"
## 🐛 Bug Report

Report incident is currently hardcoded to set `reportedBy` to **some user** instead of the currently logged in user's id. This needs to be corrected to user the current user id from the redux store.

## To Reproduce

- Access staging https://staging.hospitalrun.io/
- Report an incident
- View the list of incidents and notice that the reported by field shows 'some user'

## Expecte

[2021-01-04 15:47] blestab opened #2540 "Imaging Request - requestedBy should store the currently logged in user id"
## 🐛 Bug Report

Imaging request is currently hardcoded to set `requestedBy` to **test** instead of the currently logged in user's id. This needs to be corrected to user the current user id from the redux store.

## To Reproduce

- Access staging https://staging.hospitalrun.io/
- Create a patient and add a visit to this patient
- Create an imaging request for the above patient/visit
- View the lis

[2021-01-04 17:42] DrewGregory commented on #2497
Makes sense.

The patient module also has a notes section. Would you like us to also make the notes section for the patient module use the same Notes Table UI? Currently the patient notes tab is a list without support for edit/delete.

[2021-01-04 18:09] blestab commented on #2497
Good idea. That would be great for UX consistency; We will log a separate issue for it.

[2021-01-04 20:14] jameszheng405 commented on #2539
@blestab @jackcymeye @mormme @thekappa @fox1t Hi, this is James from Stanford Code the Change! I'd like to be assigned to this task

[2021-01-04 20:45] morrme commented on #2539
@jameszheng405  it's yours!

[2021-01-05 05:41] riiniii commented on #2540
could i take this bug?

[2021-01-05 09:49] blestab commented on #2540
Absolutely @riiniii

[2021-01-05 11:40] blestab commented on #2494
Hi @mohitdmak, compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-05 11:41] blestab commented on #2492
Hi @roy-stewart , compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-05 11:43] blestab commented on #2490
Hi @UmairKamran , compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-05 11:44] blestab commented on #2487
Hi @jennifferyang @AashaiAvadhani1 @AosTheory , compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-05 11:46] blestab commented on #2364
Hi @emanuallan , compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-05 11:47] blestab commented on #2343
Hi @Fibii , compliments of the season and best wishes for 2021!
Just checking how this work is going.

[2021-01-06 17:11] #2493 closed

[2021-01-07 13:53] UmairKamran commented on #2490
Hey @blestab, a happy new year to you as well! :)
This is a WIP. Vacation time caused a bit of a delay, I hope that's not a concern.

[2021-01-07 14:11] blestab commented on #2490
Thank you for getting back to me; that's not a problem at all @UmairKamran, glad to know you are busy with this.

[2021-01-07 17:23] riiniii commented on #2540
@blestab do i need some type of permissions to commit? i keep on getting this:

ERROR: Permission to HospitalRun/hospitalrun-frontend.git denied to riiniii.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

tried creating new ssh key and updating remote url

[2021-01-07 18:59] blestab commented on #2540
Ar what stage are you getting this error? Checkout? May you advise what steps have you followed so far. Perhaps join our slack so we can discuss your challenges further, https://hospitalrun-slackin.herokuapp.com

[2021-01-08 15:57] blestab commented on #2540
I see you have opened a PR, can we safely assume you managed to resolve the error?

[2021-01-11 03:08] riiniii commented on #2540
yes! it was a stupid error on my end. thank you!

[2021-01-11 05:40] riiniii commented on #2540
@blestab could you help review this?
https://github.com/HospitalRun/hospitalrun-frontend/pull/2544

[2021-01-13 17:26] #2540 closed

[2021-01-14 15:30] JacobMGEvans commented on #2287
#2516 Should fix this

[2021-01-14 21:57] blestab commented on #2539
Hi @jameszheng405,
How is this coming along? Feel free to check this PR https://github.com/HospitalRun/hospitalrun-frontend/pull/2544 for ideas

[2021-01-14 22:17] jameszheng405 commented on #2539
Hi @blestab ,
I'm able to display the user id now, just working on displaying the full name in the table. I'll be meeting with Stanford CTC tomorrow to discuss this. Thanks for checking in!

[2021-01-14 22:33] nobrayner opened #2546 "Duplicate Patient Modal cannot be triggered"
## 🐛 Bug Report

While converting NewPatient.test.tsx to RTL, we found that the "Duplicate Patient Modal" is impossible to trigger by a user. It looks like it performs a de-dupe against the redux store, but there is nothing that ever populates that store with patients? Thus de-dupe never finds a duplicate.

Creating based on comment in https://github.com/HospitalRun/hospitalrun-frontend/pull/2516#

[2021-01-14 22:33] nobrayner commented on #2546
@jackcmeyer Creating this based on the comment in #2516

[2021-01-15 02:47] codyarose opened #2548 "ReportIncident save button always rendered"
## 🐛 Bug Report

In ReportIncident.test.tsx there is a test implying that the save button should only be rendered after all required inputs are filled out, however the save button is always rendered regardless of input values, so the test will always fail.

 https://github.com/HospitalRun/hospitalrun-frontend/pull/2516#discussion_r557076908

## To Reproduce

Uncomment the test and run `npm t`

##

[2021-01-15 08:54] blestab commented on #2539
Awesome! Thanks

[2021-01-15 19:26] jameszheng405 commented on #2539
@blestab
After taking a look at PR #2544, I noticed that fullName is statically defined and used to test the value of requestedByFullName. I was wondering if this might be inefficient in case a user decides to change their name and the value of fullName would then have to be changed everywhere? I’m thinking it would be better to always be able to access the current fullName through the user id, wh

[2021-01-16 00:34] riiniii commented on #2539
that's a good point. currently doesn't look like we have functionality to change much about user, but is good for if/when user info editing is implemented for the future..

following + will make changes as necessary for [#2544](https://github.com/HospitalRun/hospitalrun-frontend/pull/2544)

[2021-01-16 02:22] JacobMGEvans commented on #2287
@jackcmeyer I think this issue should be closed after a few days of reviewing the new testing environment and people have had a chance to mess around with it locally.

[2021-01-16 18:28] #2287 closed

[2021-01-17 11:52] wengtad opened #2549 "shortid is deprecated"
Hi, thanks for this project. I am realized [shortid](https://www.npmjs.com/package/shortid) is listed deprecated in their package.

They do recommend using [Nano ID](https://bundlephobia.com/result?p=nanoid@3.1.20) and the bundle size is smaller according to Bundlephobia.
 I am not sure will it have any impact if change from shortid to any other similar package.

[2021-01-18 23:55] Fibii commented on #2343
Hi @blestab, i added a PR #2550 (tests are not implemented yet), i want a review on the changes before implementing the tests since the proposal didn't include any details

If everything's fine, maybe @dev-script can implement the tests if they want to?

have a nice day y'all and sorry for the late PR :)

[2021-01-19 14:34] SamuelQZQ commented on #2549
@tehKapa  I'd like to be assigned to this task.

[2021-01-19 15:04] tehKapa commented on #2549
@SamuelQZQ okay. let's be very careful if Nano ID works the same way as Short ID

[2021-01-19 16:14] SamuelQZQ opened #2551 "Lab - In the Request Lab routine make the visit field required"
## 🐛 Bug Report

When **Request Lab** for a patient without any visit, it will crash.

## To Reproduce

Steps to reproduce the behavior:
1. Create an patient without adding a visit
2. Click **Request Lab**, input the patient field, leave the visit field blank since it is not required.
3. Notice the crash/error (see screenshot in comments)

## Expected behavior

Request Lab should behave similar to

[2021-01-19 16:19] SamuelQZQ commented on #2551
I'd like to fix this bug.

[2021-01-19 16:57] blestab commented on #2551
May you elaborate how you achieved this or what you mean by 'empty patient',

in staging, i created a patient with the minimum required/allowed i.e Just a name, no visit was added.

![image](https://user-images.githubusercontent.com/5468546/105066946-ef7d8e80-5a87-11eb-8a5c-8c36bff27dc2.png)

I then requested a lab for this patient and did not manage to reproduce the crash you mention

![image](ht

[2021-01-19 17:10] SamuelQZQ commented on #2551
@blestab Interesting.
Also in staging. I just create a patient, only with a given name.
![image](https://user-images.githubusercontent.com/19623228/105068001-58cac500-5abb-11eb-8b0b-e058c6b41bc8.png)

Then I click the "Request Lab" from the left navigation menu. And input the patient's name. And click the auto-suggested patient. Then, crash.
![image](https://user-images.githubusercontent.com/19623

[2021-01-19 17:19] blestab commented on #2551
Yeah, interesting thing is the version of staging i was looking at did not have a Visit selection field.

![image](https://user-images.githubusercontent.com/5468546/105069629-e3df9700-5a8a-11eb-8e29-3f7e507f5270.png)

I have opened a new session in another chrome instance and I can see the visit option, which is not required, which i guess if why this bug occurs. So if you make the visit required

[2021-01-19 17:25] blestab commented on #2551
All yours @SamuelQZQ , thanks again for this

[2021-01-20 05:56] SamuelQZQ commented on #2549
@tehKapa The `shortid` uses a dynamic length id. But the `nanoid` use a fixed-length id. So, after migrate to nanoid, the question is, what length should we use? I think 9 or 10 is enough. Here is a collision calculator: [Nano ID Collision Calculator](https://alex7kom.github.io/nano-nanoid-cc/?alphabet=_-0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz&size=10&speed=1000&speedUnit=ho

[2021-01-20 11:29] blestab commented on #2343
Thank you @Fibii
I have some feedback for the PR, do you want to tackle it or should i ask if @dev-script can take it over

[2021-01-21 13:30] SamuelQZQ commented on #2549
@tehKapa
Finally, I found that the `nanoid` above 3.0 met a bug in Create React App, which only fixed after Create React App 4.0.
See: [nanoid doc about Create React App](https://github.com/ai/nanoid#create-react-app).

We have two choices:
- Use the nanoid 2.0 first, and upgrade it to the latest version after we upgrade the `react-scripts`.
- Keep using `shortid`, migrate to `nanoid` after we upg

[2021-01-21 14:38] Fibii commented on #2343
@blestab @dev-script can take over if they want to

[2021-01-21 16:52] tehKapa commented on #2549
damn these updates are getting more and more complicated. @HospitalRun/core-contributors what do you think?

[2021-01-24 10:45] blestab commented on #2549
Sounds like a plan

[2021-01-25 09:45] blestab commented on #2548
Thanks for this @codyarose

Agreed, the test will always fail. I am not sure if that test is valid since the 'save' buttons in all forms are currently always rendered regardless of whether or not the fields are filled in

@jackcmeyer thoughts?

This is a bug that needs addressing, would you like to take a shot at it @codyarose ?

[2021-01-26 14:48] chadian commented on #2492
Hello @roy-stewart not sure if you're still working on this but I spiked on a fix that's almost finished in #2554. If you have something else in mind I'd love to collaborate and check it out.

[2021-01-26 15:15] blestab commented on #2492
Thank you @chadian
I had a quick look at the PR it seems to resolve the issue. I have put this onto your name.

[2021-01-26 17:15] chadian commented on #2364
Hello @emadehsan, have you had a chance to make progress on this? I'm thinking about giving it a go.

[2021-01-26 17:30] blestab commented on #2364
Just checking how this work is going.

Hi @chadian, all yours since we have not had a response from @emanuallan in 3 weeks.

[2021-01-26 19:30] roy-stewart commented on #2492
Sorry for the late response. I've been having issues with building and running HospitalRun on my computer for several weeks now so I haven't had a chance to finish the bug fix for this. Thanks for helping look into this @chadian!

[2021-01-26 20:51] chadian commented on #2492
All good @roy-stewart. If you'd like some help we can pair on getting your environment working, feel free to ping me on the hospital run slack.

[2021-01-26 21:33] chadian commented on #2364
@blestab I wanted to check in with a couple different approaches we could take.

Right now notes are `notes?: string[]` on a `Lab`. I think there's two options:
1. The easiest solution would be to save a new array with that string removed
2. A `LabNote` model could be created which is more or less the same as 1 but it would be removing the model and the relationship.

Which way would you like to g

[2021-01-27 06:29] blestab commented on #2364
I @chadian I think option 1 as we already have a [Note](https://github.com/HospitalRun/hospitalrun-frontend/blob/master/src/shared/model/Note.ts) model which should be uniform across all modules where notes are needed.

[2021-01-27 08:13] blestab commented on #2492
That's alright @roy-stewart, thanks for helping out @chadian  #TogetherWeCan

![image](https://user-images.githubusercontent.com/5468546/105962267-42f36c00-6088-11eb-9322-e52baf908dba.png)

[2021-01-27 08:43] blestab opened #2556 "New Imaging Request - required visit not enforced"
When requesting a new imaging, visit is required but a user can still save without choosing a visit

## 🐛 Bug Report

When creating a new imaging request, a user should not be able to save without specifying a visit.

## To Reproduce

Go to staging https://staging.hospitalrun.io/
Create a new patient and create one visit for this patient
Create a new imaging request leaving the visit field empty
N

[2021-01-27 08:46] SamuelQZQ commented on #2556
@blestab  Can I be assigned to this task?

[2021-01-27 08:54] blestab opened #2557 "New Lab Request - required visit not enforced"
This is a follow-up to #2551 (see https://github.com/HospitalRun/hospitalrun-frontend/pull/2552#pullrequestreview-576596693 ) and can only be started once the linked PR has been merged in.

When requesting a new lab, visit is required but a user can still save without choosing a visit.

## 🐛 Bug Report

When creating a new lab request, a user should not be able to save without specifying a visit.

[2021-01-27 08:55] SamuelQZQ commented on #2557
@blestab Can I be assigned to this task?

[2021-01-27 08:56] blestab commented on #2557
All yours @SamuelQZQ

[2021-01-27 09:41] #2551 closed

[2021-01-27 12:02] blestab commented on #2556
Thank you @SamuelQZQ, Let's get #2557 out first then will assign this to you once done.

[2021-01-27 14:56] chadian commented on #2364
Ah I missed that @blestab. Thanks for pointing it out. I guess the questions should be then:
1. Save a new array with that string removed (keep `notes?: string[]`)
2. Use `Note` model (convert type to `notes?: Note[]`)

[2021-01-27 22:35] alexma01 commented on #2556
Hi,
Sorry I'm getting in the way :)

**"See how the Patient or Type field are handled and do the same"**

In this case I don't think it's okay to manage them in the same way, with which search criteria would you do it?
I don't think it would be good to even see them all.
It would be necessary to decide with which criteria to show the visits.

[2021-01-28 09:47] blestab commented on #2556
Thanks @alexma01, you're not in the way at all, all ideas are welcome; Why don't you hop onto our [slack](https://hospitalrun-slack.herokuapp.com/) and tell us more about your thoughts about this

[2021-01-29 16:13] chadian commented on #2364
I went ahead with option #1 since it doesn't change the data model. If there's a need to change the notes from being strings to the model that can be done in a subsequent PR.

[2021-01-29 18:30] chadian commented on #2438
@blestab Can this be closed?

[2021-01-29 18:54] chadian commented on #2101
@cpondoc Any progress on this? If possible I'd like to take it on.
cc: @blestab @tehKapa

[2021-01-30 20:35] tehKapa commented on #2438
Exactly, but the automatic close doesn't seem to have worked

[2021-01-30 20:35] #2438 closed

[2021-02-01 18:22] Adarsh710 commented on #2548
@blestab I would like to take this up

[2021-02-02 06:29] Ameerak124 commented on #1587
Hi bro need some help

[2021-02-03 06:19] dev-script commented on #2343
@blestab can you please assign me

[2021-02-05 10:42] tehKapa commented on #2343
@dev-script sure

[2021-02-05 10:45] tehKapa commented on #2548
@Adarsh710 sure

[2021-02-05 14:52] Adarsh710 commented on #2548
@tehKapa If the input is empty and has focus then the user can enter a date and if not, then previous date will appear, is this a good flow?

[2021-02-06 10:35] bernoraj commented on #2556
Hi @blestab , Is there anything that I can help in this issue?

[2021-02-06 15:53] mohitdmak commented on #2494
Hello @blestab
Extremely sorry for the delay, and sorry for the late reply too, I got stuck in using functions from imports and was learning the stuff in documentation which I don't know, and just had my college exams too.
If the issue is urgent or if anyone else wishes to finish this quickly, you may please do so meanwhile I am still working on understanding how to make changes.
Once again, sorry

[2021-02-07 02:19] riiniii commented on #2494
@blestab could i take this one?

[2021-02-07 05:40] dev-script commented on #2343
@tehKapa can you please confirm once where to place the **Imaging Request** button exactly.

[2021-02-09 11:34] tehKapa commented on #2343
I would put it instead of "Add visits" button (that is redundant) when I open the detail of the visit

<img width="1574" alt="Screenshot 2021-02-09 at 12 31 58" src="https://user-images.githubusercontent.com/6388707/107358051-3123b700-6ad3-11eb-9c59-884da85a0a3a.png">

[2021-02-09 11:39] tehKapa opened #2563 "Focus of menu item "Visits" disappears when I view the details"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

When I view a visit detail tab, the focus of the "Visits" menu item disappears preventing me from understanding in which section I'm in.

Right behavior

<img width="1570" alt="Screenshot 2021-02-09 at 12 38 19" src="https://user-images.githubusercontent.com/6388707/107358559-d3439f00-6ad3-11eb-9248-0cdc9fb7a622

[2021-02-09 11:54] tehKapa commented on #2494
@riiniii ok

[2021-02-09 11:56] tehKapa commented on #2556
@bernoraj currently I'm afraid it's stuck. if you want to take it over, you're welcome to it

[2021-02-09 11:58] tehKapa commented on #2548
If initial value was empty, how do you want to populate it? With the current date?

[2021-02-09 13:38] Adarsh710 commented on #2548
Yes, btw it is already populated with current date on initial render

[2021-02-09 16:41] agusbrand commented on #2563
I would like to take this as my first contribution

[2021-02-09 17:35] tehKapa commented on #2563
Ok @agusbrand

[2021-02-09 17:36] tehKapa commented on #2548
So let's fallback on that

[2021-02-09 18:09] morrme commented on #2546
@nobrayner  Are you working on a solution for this?

cc @jackcmeyer @tehKapa

[2021-02-09 20:16] nobrayner commented on #2546
@morrme no I am not - this was raised as an extra task above and beyond the conversion to RTL

[2021-02-09 23:31] DrewGregory opened #2564 "ViewAppointments Tests Have a Console Error"
## 🐛 Bug Report

Even though the ViewAppointments tests pass, there is a React Hooks error logged regarding inconsistent hook call ordering.

## To Reproduce

Run `npm run test:ci src/__tests__/scheduling/appointments/ViewAppointments.test.tsx`

## Your Environment

- *node version*: v11.10.1
- *os*: Mac

[2021-02-10 07:57] bernoraj commented on #2556
Sure @tehKapa , I would like to take it up.

[2021-02-10 15:32] chadian commented on #2364
Based on discussion in #2560 option 2 was used 😄

[2021-02-11 17:09] #2563 closed

[2021-02-15 12:46] Adarsh710 commented on #2548
@blestab, @tehKapa please assign reviewers to the above PR because I'm not able to do that

[2021-02-20 14:06] agusbrand commented on #2141
@tehKapa @jackcmeyer I would like to take this issue

[2021-02-22 05:46] riiniii commented on #2494
apologies moving countries rn so will get to it this week

[2021-02-24 17:14] tehKapa commented on #2141
ok @agusbrand

[2021-02-27 06:55] TD-17 commented on #2518
Is this issue fixed ?

[2021-02-28 13:58] tehKapa commented on #2518
@TD-17 not yet

[2021-02-28 16:59] tehKapa opened #2593 "Test patients/care-goals/CareGoalTab.test.tsx on MacOS runner fails"
## 🐛 Bug Report

Test patients/care-goals/CareGoalTab.test.tsx on MacOS runner fails

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The test must work on Linux and Windows runners

[2021-02-28 17:33] TD-17 commented on #2518
can I work on this ? @tehKapa

[2021-02-28 18:01] #2518 closed

[2021-02-28 18:02] tehKapa commented on #2518
@TD-17 It only needed to be merge

[2021-03-04 03:22] jrmkim50 commented on #2593
I'd like to take a look at this issue.

[2021-03-04 13:27] tehKapa commented on #2593
thanks @jrmkim50 !

[2021-03-05 07:27] sshikhar1234 commented on #2539
Hi is this issue fixed in production?

[2021-03-05 20:21] tehKapa commented on #2539
@sshikhar1234 which production?

[2021-03-05 22:35] jrmkim50 commented on #2593
I ran this test on my Mac (I made no changes to the code), and all the tests passed:

MBP% npm run test:ci src/__tests__/patients/care-goals/CareGoalTab.test.tsx

PASS src/__tests__/patients/care-goals/CareGoalTab.test.tsx (28.18s)
  Care Goals Tab
    ✓ should not render add care goal button if user does not have permissions (703ms)
    ✓ should be able to create a new care goal if user has permi

[2021-03-06 03:28] sshikhar1234 commented on #2539
I mean like in main release. Is this issue fixed or its open?

[2021-03-06 16:47] tehKapa commented on #2593
Look this https://github.com/HospitalRun/hospitalrun-frontend/pull/2560/checks?check_run_id=1881181847

[2021-03-06 16:48] tehKapa commented on #2539
No, if this issue is still open, I don't think so. Why?

[2021-03-08 04:17] riiniii commented on #2494
@tehKapa
what values can reportedTo be?
will it map to another username (so maybe like user.name, patient.name, etc.) or just any string value representing a name?