[2018-08-02 03:09] donaldwasserman commented on #1445
Closed for #1470

[2018-08-02 03:09] #1445 closed

[2018-08-02 03:09] donaldwasserman commented on #1443
Closed for #1470

[2018-08-02 03:09] #1443 closed

[2018-08-02 03:10] donaldwasserman commented on #1409
Closed for #1470

[2018-08-02 03:10] #1409 closed

[2018-08-02 03:11] donaldwasserman commented on #1350
Closing for lack of activity.

[2018-08-02 03:11] #1350 closed

[2018-08-02 03:16] #1423 closed

[2018-08-02 03:31] donaldwasserman commented on #1356
Closing for now since this is a duplicate of many feature requests.

[2018-08-02 03:31] #1356 closed

[2018-08-02 03:34] donaldwasserman commented on #1342
@matteobiagiola Thanks for the feedback. If you checkout the folder `tests/fixtures` and `tests/acceptance` you can see how ember tests work. Right now, selenium/puppeteer really isn't needed since the test suite/fixtures can handle all of that independently.

[2018-08-02 03:34] #1342 closed

[2018-08-02 03:34] donaldwasserman commented on #1286
MongoDB now has a way to store documents directly in the DB. I wonder if couch can be extended for that.

[2018-08-02 04:25] MatthewDorner commented on #1470
There's #388 regarding automated updates to the beta site. One thing I've noticed is when you install hospitalrun-server, you don't get the most recent frontend. It gets the frontend code from here https://libraries.io/npm/hospitalrun, which is no longer being updated since the 1.0.0-beta release.

[2018-08-02 04:35] MatthewDorner commented on #1452
This could be the same thing as https://github.com/HospitalRun/hospitalrun-server/issues/112.

Can you try again, making sure to accept your browser's request to allow push notification?

[2018-08-02 09:57] stukalin commented on #1410
I think we can close this one for the time being

[2018-08-02 09:57] #1410 closed

[2018-08-02 10:00] stukalin commented on #1465
@donaldwasserman we had this already in #1156. Could you maybe if applicable merge the info from both and close one of them?

[2018-08-02 14:15] donaldwasserman commented on #1465
@stukalin Sorry - not sure why I didn't see that.

[2018-08-02 14:17] donaldwasserman commented on #1156
I'll just close this one.

[2018-08-02 14:17] #1156 closed

[2018-08-02 14:22] donaldwasserman commented on #1470
@MatthewDorner Should we close #388 too?

Just looking through some of that, we really should be able to use travis for some of the deployment stuff.

[2018-08-02 15:28] MatthewDorner commented on #1470
Maybe we should leave it until we get a better understanding of the bigger picture regarding infrastructure and CI/CD. It seems like at the end of #388 they expanded the scope beyond just the demo site but then it didn't get finished.

[2018-08-03 13:31] geordin commented on #1467
I have tried the same, but still not working. That error message gone now. But when we enter the logins, the page will hang for 3,4 sec and then prompting the logins again.

[2018-08-03 13:40] donaldwasserman commented on #1467
@geordin Is there any output in the console/network tab of your browser? We probably need a little more information about how you're running it and some additional error details.

If you're not super familiar with it, if you're part of the slack group here: https://hospitalrun-slackin.herokuapp.com/

[2018-08-03 13:41] #1355 closed

[2018-08-06 04:12] geordin commented on #1467
I am starting the app using the command "ember serve -H 0.0.0.0" as root. The following messages showing at the console output.

===========================
root@ubuntu:~/hospitalrun-frontend# ember serve -H 0.0.0.0
DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: hospitalrun -> ember-cli-content-security-policy -> ember-c

[2018-08-06 06:55] MatthewDorner commented on #1467
That's the app output, what about anything in the browser console (F12 to view in most browsers) ?

You might want to look at the nginx config files in the hospitalrun-server repository and make your config similar to that, as here we also use a nginx reverse proxy to serve the frontend:
https://github.com/HospitalRun/hospitalrun-server/tree/master/nginx/conf

[2018-08-07 04:43] jglovier commented on #388
I'm open to other solutions, I just proposed Heaven because it's what we used internally at GitHub and I was familiar with it a bit. But I'm not actively working on this issue and not strongly opinionated as to implementation details, so definitely open to other solutions that make sense. 👍

Good question. @jkleinsc or @tangollama would have credentials for those.

[2018-08-08 06:32] geordin commented on #1467
Hereby providing the the console out put from browser.
===================
The source list for Content Security Policy directive 'script-src' contains an invalid source: ''192.168.10.173''. It will be ignored.
ember-cli-live-reload.js:7 [Report Only] Refused to load the script 'http://192.168.10.173:7020/livereload.js' because it violates the following Content Security Policy directive: "script-sr

[2018-08-08 10:40] MatthewDorner commented on #1467
I believe you are getting an error because you're trying to access via an ip address, but you're not using https. on the server itself, you can access via "localhost:4200" without needing https, but accessing via any ip address, from either the server itself (such as http://0.0.0.0:4200) or another computer will give the error you got: "error registering service worker:SecurityError: Only secure o

[2018-08-08 12:02] geordin commented on #1467
Currently am using nginx reverse proxy with self signed SSL certificate. Messages displayed on browser console is given below.

=============================
The source list for Content Security Policy directive 'script-src' contains an invalid source: ''*.hostpitalrun-test.com''. It will be ignored.
ember-cli-live-reload.js:7 [Report Only] Refused to load the script 'https://hospitalrun-test.com:

[2018-08-08 12:29] MatthewDorner commented on #1467
1. Self-signed worked for me when I was testing hospitalrun-server (which also uses nginx reverse proxy) on a local network and accessing server via an IP address, but it seems to be causing a problem here. I'm not sure what the solution is since I haven't seen this before.
2. I believe it's essential for the app's operation.

You could also try using https://github.com/HospitalRun/hospitalrun-ser

[2018-08-09 06:32] geordin commented on #1467
Yes, I have tried hospitalrun-server now. But the npm start command stuck on the below message.

**Loading raml proxy - this may take a while...**

Please help.

[2018-08-09 06:44] MatthewDorner commented on #1467
If you're using hospitalrun-server, you don't have to run npm at all (and you don't have to run frontend separately either, frontend is part of the server package).

The instructions for hospitalrun-server are here: https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

Also you might want to join the Slack at https://hospitalrun-slackin.herokuapp.com/ and join the #tro

[2018-08-09 06:49] geordin commented on #1467
Can we run hospitalrun-server without docker?

[2018-08-09 06:53] MatthewDorner commented on #1467
https://github.com/HospitalRun/hospitalrun-server/blob/master/README.md

There's an "Alternative Installation" listed here but I have no experience with it, and it seems like it'd be pretty much the same as what you were doing before.

[2018-08-09 08:52] geordin commented on #1467
I have tries docker installation but one of the container not starting.
----------------------------
0d1821ff6354        hospitalrun                                           "/bin/sh -c ./entr..."   About an hour ago   Exited (0) 13 seconds ago
----------------------------

While checking the logs,

---------------------------------
errid: 'non_200',
  description: 'couch returned 401' }
Error cr

[2018-08-12 02:46] MatthewDorner commented on #1467
I see that error when I start up docker, but everything still works for me, so it may not be the cause of your problem. you should be able to see a log message right when the hospitalrun container exits that says something like "container exiting" and I would try to see what happens immediately before that message.

[2018-08-12 06:55] #1157 closed

[2018-08-13 12:27] geordin commented on #1467
The messages logged before exiting the container is given below.
=========================
Aug 13 17:55:25 ubuntu kernel: [24688.629499] br-b7ae83a7b89d: port 1(vethf4a3bf0) entered disabled state
Aug 13 17:55:25 ubuntu kernel: [24688.629686] vethbd59b44: renamed from eth0
Aug 13 17:55:25 ubuntu kernel: [24688.656313] br-b7ae83a7b89d: port 1(vethf4a3bf0) entered disabled state
Aug 13 17:55:25 ubun

[2018-08-14 06:13] stukalin commented on #1431
@MatthewDorner please close the issue if it's ready. Oh, btw, would it be possible to write a test covering this issue?

[2018-08-14 06:26] geordin commented on #1467
Anybody tried hospitalrun-frontend without docker??

[2018-08-14 12:57] geordin commented on #1467
I have installed hospitalrun-frontend without docker and is working fine in localhost. How can I make it public. Anybody please help.

[2018-08-14 13:11] donaldwasserman commented on #1467
@geordin - Let's pause for a moment to figure out what you're trying to accomplish, because I think this conversation got a little off-track.

Are you:
1. Trying to use Hospital Run as an application (either to run a clinic or to evaluate it)?
2. Trying to get it set up in a local development environment?

Assuming it's number 1, there are two ways really of running the application:

1. As a tradi

[2018-08-15 09:27] geordin commented on #1467
I am trying to use Hospital Run as an application. Please let me know the steps to follow for both.

1. As a traditional client/server application.
2. As an download-able electron app

[2018-08-17 14:31] donaldwasserman commented on #1467
@geordin: you can download the app from here: https://github.com/HospitalRun/hospitalrun-frontend/releases/

If you click the download link for the version of operating system you're running (IE Windows 32 or 64 bit)

The server setup steps are outlined here: https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

[2018-08-18 07:12] Arjanguglani opened #1479 "Connecting Frontend to Backend"
I downloaded and set up the hospital run-frontend development environment on my Mac. I also set up an EC2 instance on AWS with HospitalRun-Server. How do I connect the backend I have set up with the front end? I feel like the config file would be the best place to do this, but what field would I change.

Also, how would I export the project to a .exe format after I have made the configuration chan

[2018-08-18 15:41] dvehar commented on #1479
You can try [slack](https://github.com/HospitalRun/hospitalrun-frontend#troubleshooting-your-local-environment) or maybe even joel@hospitalrun.io

[2018-08-18 18:37] MatthewDorner commented on #1479
If trying to use the app in production, hospitalrun-server does not require you to set up the frontend separately. As described in the instructions below, the app should be accessible over port 8055:
https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

If instead you are trying to set up a development environment for the frontend so you can work on the code, you don't

[2018-08-18 18:39] MatthewDorner opened #1481 "Browser console database errors"
**Expected behavior:**
no errors in console

**Actual behavior:**
When I initially log in, or refresh the browser, or at certain other times I get errors like the one below. The screenshot is from being on the app's index page, then refreshing.
![console db errors](https://user-images.githubusercontent.com/36939751/44302201-96730480-a2e9-11e8-9ea9-d70f4a6cf7f1.png)

Also seeing the errors below. N

[2018-08-18 19:53] #1370 closed

[2018-08-18 19:53] #1382 closed

[2018-08-19 18:34] ghobs91 commented on #1439
Is the objective to delete the invoice along with the deleted visit, or to keep the invoice but have it not break?

[2018-08-19 21:17] MatthewDorner commented on #1439
We wouldn't want to simply delete the invoice. Maybe a message warning like "Invoice _____ attached to this visit will also be deleted. Do you want to continue with deletion?" or refuse to delete and say "Cannot delete visit while attached invoice _____ exists." I think I prefer the latter.

We should review other models that have a similar relationship and see how it's handled there. I suspect th

[2018-08-20 02:51] MatthewDorner opened #1484 "Appointment can be created with start date later than end date."
**Expected behavior:**
Start date of appointment should be equal or earlier than end date.

**Actual behavior:**
Validation is only performed on end date, so you can enter a valid end date and then change the start date to a later date.

.**Steps to reproduce:**
- Create an appointment of type "Admission"
- Set end date to a date later than start date
- Set start date to a date later than end date

[2018-08-20 23:37] arch-lord commented on #1484
@tangollama I'm a new contributor to hospitalrun. I am interested in working on this issue and am installing hospitalrun right now. `CONTRIBUTING.md` said that I should mention you "to let our product management function know your intentions."

[2018-08-21 00:27] arch-lord opened #1487 "Errors Encountered While Installing"
**Expected behavior:**
A fresh install of hospitalrun should go smoothly without errors.

**Actual behavior:**
Two errors are encountered when following the official instructions.

**Steps to reproduce:**
1. Install latest version of NodeJS (currently 10.9.0).
2. Run `npm install -g ember-cli@latest` and `npm install -g bower`.
3. Clone the repo
4. Run `npm install`
5. There is already an error (s

[2018-08-21 00:27] arch-lord commented on #1484
I am unable to continue trying to fix this, due to #1487.

[2018-08-21 00:50] MatthewDorner commented on #1487
Instructions says "We recommend that you use the most-recent "Active LTS" version of Node.js." which is currently 8.x.

https://github.com/nodejs/Release

Although there might also be issues with 8.x. You can try it, but 6.x is what I'm using which should definitely work.

[2018-08-21 00:52] arch-lord commented on #1487
@MatthewDorner Ok I will try it with 8.x and then 6.x if that doesn't work.

[2018-08-21 01:00] arch-lord commented on #1487
Same problem with Node 8.11.4 LTS.

[2018-08-21 01:06] arch-lord commented on #1487
@MatthewDorner Same problem with 6.14.4. Also, I forgot to mention that first I also have to install `broccoli-funnel` and `broccoli-export-text` before getting the final error.

[2018-08-21 01:31] MatthewDorner commented on #1487
I see. It is happening to me as well. Must be due to a recent change. You might want to just change the line in package.json:

"ember-validations": "HospitalRun/ember-validations#2.0.0",

temporarily back to:

"ember-validations": "2.0.0-alpha.5"

until it gets fixed.

[2018-08-21 01:40] donaldwasserman commented on #1487
Bummer - who wrote that terrible code?

[2018-08-21 01:49] donaldwasserman commented on #1465
Sorry to leave this hanging for so long, just have a few more tests to figure out why they're failing all of a sudden

[2018-08-21 02:11] arch-lord commented on #1487
@MatthewDorner @donaldwasserman I updated that but it still has the same error.

[2018-08-21 02:16] MatthewDorner commented on #1487
Can you screenshot the error and your package.json file? It shouldn't have the exact same "2.0.0" error..

[2018-08-21 02:17] donaldwasserman commented on #1479
@Arjanguglani Not sure if you still need help, I hope you check into slack to see what you need.

In any event, this issue really belongs on the https://github.com/HospitalRun/hospitalrun-server repo, so if you are still having problems, open and issue there, or send me a message on slack `@djwasserman`

[2018-08-21 02:17] #1479 closed

[2018-08-21 02:27] donaldwasserman opened #1488 "Get To Node 8/10x, add .nvmrc"
This application should, at a minimum work across one of the default Ember supported LTS node releases:

Node 6.x, 8.x, 10.x

There are a few different addons who are misbehaving and need to be updated in order to meet this use case.

Also, add a `.nvmrc` file to help automatically use the right node version. [See NVM](https://github.com/creationix/nvm)

[2018-08-21 02:50] arch-lord commented on #1487
Besides a bunch of deprecation messages, everything is working fine now. This really should be changed, though.

[2018-08-21 02:50] arch-lord commented on #1484
That is now resolved enough for me to attempt fixing this.

[2018-08-21 03:02] donaldwasserman commented on #1487
@arch-lord - Thanks for the help!

[2018-08-21 03:02] #1487 closed

[2018-08-21 03:18] arch-lord commented on #1487
@donaldwasserman You're welcome :smile:

[2018-08-21 03:46] MatthewDorner commented on #1484
For installation issues, you can also join the Slack https://hospitalrun-slackin.herokuapp.com/ and join the #troubleshooting channel.

The config.js should have couchadmin as the username, not hradmin. hradmin gets created when you run the initcouch.sh script.

[2018-08-21 03:58] donaldwasserman commented on #1452
From [#112 on the server](https://github.com/HospitalRun/hospitalrun-server/issues/112)
it's happening if I use Firefox, but not Chrome. To reproduce:

- start with a database having >0 patients in it
- close HospitalRun tab and erase Firefox browser cache
- log in to HospitalRun, view list of patients. It will (incorrectly) show 0 patients. waiting for the database to sync doesn't seem to make an

[2018-08-21 04:00] #1467 closed

[2018-08-21 04:01] #1337 closed

[2018-08-22 19:25] stukalin commented on #1488
@donaldwasserman I thought it was working under the 6. Which addon(s) caused the issue?

[2018-08-22 20:45] donaldwasserman commented on #1488
@stukalin I'm not sure, but I had to use 7 to get it install. It may have been my bad version of ember validations, in retrospect.

[2018-08-22 20:50] stukalin commented on #1488
I fixed ember-validations by the way. It was me who used a wrong git tag. Yarn understands when you write `#2.0.0` even though the tag is called `*v*2.0.0`

[2018-08-24 10:08] omneina commented on #1454
Good Day Donald,

I need either xml or .ini files that contains all language related items
(i.e. menu items, messages, descriptions, etc.)

I can then start by adding the Arabic translation to those files.

Thanks,

Osama

On Thu, Aug 2, 2018 at 5:08 AM Donald Wasserman <notifications@github.com>
wrote:

--
------------------------------------------------
It's The Man Not The Machine

[2018-08-28 04:07] MatthewDorner opened #1494 "Appointments Calendar and Search Filter Bugs"
Appointments Calendar and Appointments Search both have controls to filter on Status, Type, With, and Location. These are not producing the correct set of appointments for a given filter.

**Actual behavior / How to reproduce:**
On Calendar, set a non-blank value on any of the filter controls and apply the filter. All appointments disappear, regardless of what filter you use. On Search, problem ap

[2018-08-28 06:34] #115 closed

[2018-08-28 10:05] RigoTheDev commented on #1298
Should we close? @stukalin

[2018-08-28 10:11] stukalin commented on #1298
@RigoTheDev well, I think we'd be able to close all similar issues once I configure the demo instance again.

[2018-08-28 10:14] RigoTheDev commented on #1298
@stukalin What's wrong with the demo instance? I'd be glad to help

[2018-08-30 09:33] stukalin opened #1499 "Help greenkeeper to update ember-cli-template-lint"
Have a look at the #1446. The build is failed because apparently some new rules were introduced.

**Goal**: where applicable and clear - fix templates; where requires much effort - disable rules.

[2018-08-30 12:19] geordin commented on #1467
I have tried the same, but still one docker container not getting up.

Can you please let me know the exact environment that required for this app.

Like OS type, version. etc.

[2018-09-01 14:49] donaldwasserman opened #1501 "Create New Date/Timepicker Solution"
Currently, HR frontend is using a datepicker solution that relies on an outdated and unmaintained date/time picker library: https://github.com/owenmead/Pikaday

See:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/date-picker-wrapper.js
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/components/date-picker.js

Developing a better solution that rel

[2018-09-04 05:56] geordin commented on #1467
I need to run hospitalrun application in a a server and need to access the same publicly.

Please share the the code and install steps since I am facing the above issues currently.

[2018-09-04 06:00] stukalin commented on #1467
@geordin we discovered the same problems as you (with raml etc.). We are trying to stabilize the docker environment in https://github.com/HospitalRun/hospitalrun-server/pull/119. Please, hold on:)

[2018-09-04 07:38] geordin commented on #1467
Please notify once its sorted.

[2018-09-04 07:38] oxiqu commented on #1499
I will give this one a try. Will post updates as I go.

[2018-09-06 20:12] oxiqu commented on #1499
Update: almost all errors resolved. 9 items left. Will fix those tomorrow.

[2018-09-07 01:41] hyurl opened #1506 "Cannot find module (entry file) when building and running NodeJS app"
**Expected behavior:**
should run the app as expected and listen port 8080

**Actual behavior:**
throws Error: Cannot find module '/usr/src/app/index'

**Steps to reproduce:**
This is my Dockerfile, I don't see any problem in it:
[code]

**Screenshots (if applicable):**
I build the app via `docker build -t hello-world .`, and it seems fine.
But when I run `docker run hello-world`, the following er

[2018-09-07 02:40] #1506 closed

[2018-09-08 00:48] MatthewDorner commented on #1467
Added new fixes to hospitalrun-server today. You should be good to update your code and try again. If there are further issues, please make a new issue in the hospitalrun-server repo, as this one is closed.

[2018-09-11 01:10] MatthewDorner opened #1508 "Notify users when they're working offline"
The software has no way, as far as I have seen, for users to tell whether they're working offline or online. This could cause users to not notice if a server goes down or if a network connection is severed, potentially for a long time. Also it could lead to data loss if browser data is cleared either by mistake or if a user thinks it's synced with the server but is not, or obviously if a laptop is

[2018-09-11 01:10] MatthewDorner opened #1773 "Notify users when they're working offline"
The software has no way, as far as I have seen, for users to tell whether they're working offline or online. This could cause users to not notice if a server goes down or if a network connection is severed, potentially for a long time. Also it could lead to data loss if browser data is cleared either by mistake or if a user thinks it's synced with the server but is not, or obviously if a laptop is

[2018-09-12 01:06] donaldwasserman commented on #1501
@surajdubey That would be great - I added some requirements above. If you're taking a stab at it, i'll mark this issue as in progress!

Thanks for the help!

[2018-09-12 12:55] ATLCTO opened #1509 "Vitals fields should not be required"
**Expected behavior:**
Sometimes a clinic doesn't have a blood pressure cuff or thermometer (or it is broken, or the patient is uncooperative, etc). In those cases, I would expect to be able to save the other vital signs.

**Actual behavior:**
SBP, DBP, Heart Rate and Respiratory Rate are all required before the record can be saved.

[2018-09-15 11:48] #1465 closed

[2018-09-15 11:58] donaldwasserman commented on #1508
There is an Ember addon that gets us 90% of the way there: https://github.com/BBVAEngineering/ember-network-state

To Implement this, we'd need to:

- Install the addon
- In the init method of the [index controller](https://github.com/HospitalRun/hospitalrun-frontend/blob/9ae3453901c5ed9c80788ab52ac3de0c20aab15e/app/controllers/index.js) implement something like this:

[code]
We could use somethin

[2018-09-15 12:42] broerse commented on #1508
You can also use PouchDB itself like this:

https://github.com/broerse/ember-cli-blog/blob/master/app/adapters/application.js#L39

We split sync in replicate.to and replicate.from to show the seperate upload and download indicators.

See the red and green clouds here: https://bloggr.exmer.com/

[2018-09-16 01:51] donaldwasserman opened #1511 "Replace bootstrap.js with ember-bootstrap"
All of the javascript behavior using `$.bootstrap()` can be replaced with the jquery/bootstrap-less functionality of `ember-bootstrap.` This will help provide some benefits:

- Smaller payload size
- Better abstractions, especially in modal functionality
- Path to removing jQuery

[2018-09-16 01:53] donaldwasserman commented on #1508
@broerse That's an even better approach!

[2018-09-17 23:41] nathanhbsimmons commented on #1511
@donaldwasserman I'd like to tackle this one.

[2018-09-20 09:58] donaldwasserman opened #1515 "Replace Computed Property `.property()` modifier"
This is a long-lived Ember app, and has some some legacy ember code built in. One of these is the usage of the [soon to be deprecated Ember computed property `.property()` modifier](https://github.com/emberjs/rfcs/pull/375).

The usage in HR looks like this:

[code]

this should be replaced with

[code]

There are many instances of this across the app, so creating a codemod [Example](https://githu

[2018-09-22 20:35] cgd1 commented on #1470
I am also experiencing the login issue when I try deploy using docker

[2018-09-24 01:46] MatthewDorner commented on #1481
The first set of errors is related to the Search function, which uses pouchdb-find. The documents it's erroring on ("_design/idx-...") are the pouchdb find indexes as defined in pouch-find-indexes.js. Still not exactly sure why it's getting 404s there. It doesn't seem to affect use of Search, but that appear to because the queries in adapters/application.js _executePouchDBFind are not being formed

[2018-09-24 08:19] Yenle9 opened #1518 "Issue when create the web app package for Windows10 desktop"
Hi, I have just jumped to the project therefore sorry if any my foolish.
I would like to build the web app package for Windows10 desktop.

I used windows 10 for building and running project.
I followed the steps:
-Clone the frontend project
-npm install
-bower install
-ember electron:make --platform=win32

But there's an issue here:
D:\010_HospitalRun\hospitalrun-frontend>ember electron:make --pla

[2018-09-24 08:38] yenle91 commented on #1518
When I modified the path of icon in electron-forge-config.js file from:
icon: 'assets/icons/icon', -> 'icon: 'assets/icons/favicon'
this issue has gone but another exist like:

D:\010_HospitalRun\hospitalrun-frontend>ember electron:make --platform=win32
DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: hospitalrun -> ember-

[2018-09-24 09:46] FergusInLondon commented on #1515
@tangollama  - I can jump on this one today; it looks like a good one to get started on - and should expose me to some of the codebase and workflow.

[2018-09-24 09:50] FergusInLondon commented on #1515
List of references to `.property()`.

[code]

[2018-09-24 12:27] donaldwasserman commented on #1515
@FergusInLondon - Great! Thanks for the help!

[2018-09-24 21:18] FergusInLondon commented on #1515
I'll leave this here; it's the comment on the above referenced commit. (Github hasn't updated to reflect the fact that the first two notifications link to subsequently squashed commits - so *should* 404.)

[2018-09-25 12:57] #1515 closed

[2018-09-25 13:38] donaldwasserman commented on #1518
This issue has come up before, and we just need some bandwidth to look into it.

[2018-09-26 15:14] Ethicalinfotec opened #1520 "Can't Deploy HospitalRun on Ethernet"
I Have deployed Hospitalrun on UBUNTU 16.04. It is perfectly working on machine on 172.18.0.5 but how do i make it available on Intranet.. Any help will be appreciated.

[2018-09-27 02:12] MatthewDorner commented on #1518
Made the changes with the icon settings, then I get the same error you do, "Couldn't find packaged app..."

I think that's this: https://github.com/felixrieseberg/ember-electron/issues/362 which you can test fixing by using the changes in this: https://github.com/felixrieseberg/ember-electron/pull/363 in your node_modules/ember-electron/lib.

But that only gets you to a different error, "An error

[2018-09-27 02:18] MatthewDorner commented on #1518
btw you can enable debug messages for the build in Windows by Control Panel -> System -> Advanced System Settings -> Environmental Variables -> and then add a variable of "DEBUG" with value "*". At least that works for me using git-bash.

[2018-09-27 06:27] MatthewDorner commented on #1518
I got it to build both zip and squirrel executables for both 32 and 64 bit. Here is everything I did:

- make the icon changes as mentioned earlier in thread
- use the ember-electron changes from here https://github.com/felixrieseberg/ember-electron/pull/363
- add this additional "asar" option in electron-forge-config.js:
![electron-forge-config](https://user-images.githubusercontent.com/36939751/

[2018-09-27 08:29] Ethicalinfotec commented on #1520
Actually i am new to this. After i deployed it on my machine its working fine but someone else with same network tries to ping my IP it does open the default login page of hospitalRun. How ever i am not sure how to use DomainName. I have a domain i pointed it to my server's IP but Nginx returns an verification error.

[2018-09-27 08:38] MatthewDorner commented on #1520
Can you post the Nginx error?

[2018-09-28 08:06] Ethicalinfotec commented on #1520
nginx_1          | Installation succeeded.
nginx_1          | Saving debug log to /var/log/letsencrypt/letsencrypt.log
nginx_1          | Plugins selected: Authenticator standalone, Installer None
nginx_1          | Obtaining a new certificate
nginx_1          | Performing the following challenges:
nginx_1          | http-01 challenge for www.remoteopd.com
nginx_1          | Waiting for verificati

[2018-09-28 08:28] MatthewDorner commented on #1520
It seems like a firewall issue. Your firewall must allow the incoming connection from LetsEncrypt's servers in order to get your SSL certificate set up.

LetsEncrypt is mostly intended for setting up HospitalRun on a cloud server or one that will be made accessible over the internet, but there's another option where you can supply your own SSL certificate instead. See "To instead use your own SSL

[2018-09-29 02:51] donaldwasserman opened #1521 "Create Electron Build/Deployment Script That Can Run In CI"
We need to improve the durability/availability of Electron Builds. An essential component is building/deploying electron executables to a cloud storage area (we're using [DigitalOcean, but has the same API as S3](https://developers.digitalocean.com/documentation/spaces)).

### Project
Create script that runs the electron build commands, then uploads the build artifacts into remote storage that mat

[2018-09-29 02:59] donaldwasserman opened #1522 "Replace Typeahead.js"
Twitter's Typeahead.js autocomplete widget has been mostly abandoned. There are better, more performant ways of doing typeahead search.

Replace typeahead.js with a combination of ember-power-select, ember-concurrency, or https://github.com/cibernox/ember-power-select-typeahead

[2018-10-01 07:34] surajdubey commented on #1501
Sure @donaldwasserman
Thanks for modifying the tags.

[2018-10-01 07:47] Ethicalinfotec commented on #1520
nginx_1          | Saving debug log to /var/log/letsencrypt/letsencrypt.log
nginx_1          | Plugins selected: Authenticator standalone, Installer None
nginx_1          | Obtaining a new certificate
nginx_1          | Performing the following challenges:
nginx_1          | http-01 challenge for www.remoteopd.com
nginx_1          | Waiting for verification...
nginx_1          | Cleaning up challe

[2018-10-02 06:17] darrylpargeter commented on #1522
@tangollama/ @donaldwasserman would it be possible to tackle this one?

[2018-10-02 12:45] donaldwasserman commented on #1522
@darrylpargeter Thanks for the help!

Please be sure to reference this issue in your PR and include relevant tests!

If you have any questions, don't hesitate to check-in on slack

[2018-10-02 13:42] FergusInLondon commented on #1494
@donaldwasserman I reproduced this the other day when working testing the work done on #1515. Mind if I jump in on this? @MatthewDorner's description is awesome, and this looks like it should be quite a good one to fix.

[2018-10-02 15:31] donaldwasserman opened #1523 "Create Script To Find Missing Translations"
We should have appropriate translations for all strings in the application. A bit of time has passed since the initial translation efforts, and we need a more robust way to tracking, cataloguing, and prioritizing missing translations.

### Project
- Create an npm script that can be run that outputs a list of missing translations
- Ideally we could run these in some sort of automated fashion and cr

[2018-10-02 20:58] MatthewDorner commented on #1444
from @drakemedic on Slack, regarding the problem here: "For the lab types, they are required to add lab tests to the system. There doesn't seem to be any other way to do it. Now that it is disabled in the lookups, you can't add any lab requests from a fresh install. I have one lab type available - "Full Blood Count". I need a whole bunch of other tests"

[2018-10-02 21:37] drakemedic commented on #990
As an implementer of the software and trainer of users, I would find it useful to be able to set the date format system-wide. I work with users who have little computer experience and very basic literacy, so confusion between DD/MM/YYYY and MM/DD/YYYY will happen very easily. Setting the locale per browser is an acceptable approach for me, as I can set this as systems are rolled-out.

[2018-10-02 23:01] MatthewDorner commented on #1494
Go ahead, btw you can enable database debugging in the browser console by adding a line PouchDB.debug.enable('*'); in services/database.js at the top of the setup() function, and in serviceworkers/pouchdb-sync.js at the top of the file.

[2018-10-02 23:36] MatthewDorner commented on #1521
After some troubleshooting on https://github.com/HospitalRun/hospitalrun-frontend/issues/1518, I got Appveyor to build the Electron build artifacts:

https://github.com/MatthewDorner/hospitalrun-frontend/tree/appveyor-test
https://ci.appveyor.com/project/MatthewDorner/hospitalrun-frontend/build/12
https://ci.appveyor.com/project/MatthewDorner/hospitalrun-frontend/build/artifacts

[2018-10-03 09:10] FergusInLondon commented on #1494
That's awesome, and thanks for the tip - that sounds _verrryyy_ useful!

[2018-10-03 14:34] ATLCTO commented on #868
I would like to work on this issue, I was hoping to be able to setup multi-tenancy using a wildcard DNS (similar to other apps like slack or zendesk). So if the server is hosted at *.example.com; hospital1.example.com could map to the hospital1 database and hospital2.example.com could map to the hospital2 database.

I propose not prepending the database name on the username (or at-least make this

[2018-10-03 16:50] donaldwasserman commented on #1494
Thanks @FergusInLondon

[2018-10-04 02:31] donaldwasserman opened #1524 "Replace Ember I18n with Ember-Intl"
The Internalization system in Hospital Run works quite well right now for strings. However, in the time since HR originally was written, there have been several developments in both browser API's and technologies that changed some of the underlying assumptions of Ember-Intl.

There are several points of difference between the Ember-I18N and Ember-Intl:

- Ember I18n doesn't support ICU syntax and

[2018-10-04 06:46] PatrM commented on #1523
Hey!
I"d like to work on this

[2018-10-04 13:36] donaldwasserman commented on #1523
@PatrM Thanks!

[2018-10-08 02:29] MatthewDorner commented on #1518
Yes, the fix is that PR I listed, which is merged in now but not released yet. Once it's released on npm we'll get it automatically.

[2018-10-09 00:53] MatthewDorner commented on #1444
Working on this one now: https://github.com/MatthewDorner/hospitalrun-frontend/tree/pricing-types

[2018-10-10 05:18] AaronTJDev commented on #1484
@tangollama @donaldwasserman Hey guys, I'm a first time contributor. If this issue is still open I'd like to take a crack at it.

[2018-10-11 07:14] MatthewDorner opened #1527 "incident reports don't work"
**Expected behavior:**
Incident/reports route should let you generate the two reports there: "Incidents by Department" and "Incidents by Category".

**Actual behavior:**
Clicking the "Generate Report" button doesn't do anything, shows error in Javascript console: "Error: undefined at incident/reports/controller.js:161".
Also the "Generate Report" button doesn't visually match other buttons, it's b

[2018-10-11 15:32] jackcmeyer commented on #1527
@MatthewDorner I'd like to take a shot at this!

[2018-10-11 16:00] AaronTJDev commented on #1527
Hi, I'm a first time contributor. Can I take this? @matthewdorner

[2018-10-11 16:33] donaldwasserman commented on #1527
Well @jackcmeyer looks like he got here first, so I'm going to mark it in progress for him to take care of. If @jackcmeyer doesn't want to do it, it's all your's @AaronTJDev.

@AaronTJDev, I'd be happy to find the perfect ticket for you!

[2018-10-11 16:59] AaronTJDev commented on #1527
@donaldwasserman @jackmeyer yeah my page hadn't refreshed before I commented lol. And sounds good, Thank you.

[2018-10-11 17:29] donaldwasserman opened #1528 "Ember Upgrade Paths"
This ticket contains a few different issues centered around maintaining ember + friends (these are the community packages of `ember-source`, `ember-data`, and `ember-cli`. There are few things to make this easy (TM).

- [ ] Install [Ember Cli Update](https://github.com/ember-cli/ember-cli-update). This addon makes it easy to upgrade the three main ember packages + associated filesystem changes + p

[2018-10-11 17:29] donaldwasserman commented on #1528
cc: @AaronTJDev If you're interested, let me know!

[2018-10-11 18:08] AaronTJDev commented on #1528
I'll take it! 👍

[2018-10-11 19:27] donaldwasserman commented on #1528
Thanks!

[2018-10-12 05:08] ATLCTO opened #1529 "UseGoogleAuth takes over all authentication options"
**Expected behavior:**
As a user, when a site supports a 'Sign in with Google' option it's usually in addition to using a username and password and I expect to be able to click the 'Sign in with Google' button.

**Actual behavior:**
When useGoogleAuth is enabled the login screen automatically redirects to the Google OAuth flow.

This also limits our ability to add another authentication provider l

[2018-10-12 05:45] akash65 opened #1531 "While running "Yarn install" inside the cloned folder.Can anyone help me to solve these error?"
**Expected behavior:**
While running "Yarn install" inside the cloned folder.error occurs
**Actual behavior:**
It taking too much time too retrive the package
**Steps to reproduce:**

**Screenshots (if applicable):**
![screenshot 141](https://user-images.githubusercontent.com/12798776/46850073-fe3c5c00-ce0f-11e8-9a93-541a9fa6c757.png)

**OS and Browser:**
windows 8.1 pro

[2018-10-14 00:48] #1444 closed

[2018-10-14 00:58] #1139 closed

[2018-10-15 08:55] chadian commented on #1524
Hello, I would like to give this a shot. I've worked with both libraries in separate ember apps and think it would be interesting.

[2018-10-15 18:51] AaronTJDev commented on #1528
Alright, so I've been able to implement ember-try. It ran the test suite, but failed the 4 tests. So, I'm not sure if I'm done with this, is my objective to just implement it so we can run the tests with ember try. Or implement so we can run and pass the tests with ember try?

[2018-10-16 01:34] donaldwasserman commented on #1528
Thanks for the work!

So all the tests _should_ pass with the current and beta scenarios. We may have some issues upgrading from 2.18 to 3.5.

So maybe the best thing is to create 1 PR upgrading ember, and a second implementing ember try. I’m out on vacation this week, but we can connect next week via slack.

[2018-10-19 02:53] jackcmeyer commented on #1527
@MatthewDorner I noticed that the Export Report button for Incidents is different than inventory. Would you like me to fix that as apart of this issue as well, or open a new issue?

![image](https://user-images.githubusercontent.com/18731800/47195128-218b6d80-d320-11e8-93d4-40501a680a93.png)

![image](https://user-images.githubusercontent.com/18731800/47195139-2e0fc600-d320-11e8-812b-d49a8d94f156.

[2018-10-19 03:04] MatthewDorner commented on #1527
Thanks. We can fix it at the same time along with this issue.

[2018-10-19 04:12] MatthewDorner commented on #1439
Working on this. There's code for cascading deletions when deleting patient records, https://github.com/HospitalRun/hospitalrun-frontend/pull/457/files, but there needs to be similar code for visits.

I wouldn't have thought to delete invoices automatically when deleting visit/patient but that's how we handle it already when deleting a patient. It's not supposed to delete things entirely though, j

[2018-10-20 05:53] koshyviv commented on #1531
Have the exactly same issue

[2018-10-20 06:08] MatthewDorner commented on #1531
I'm not having any problem with node 6.14.4, npm 3.10.10, yarn v1.9.4.

@koshyviv what version is your yarn? (yarn -v)

[2018-10-20 06:14] koshyviv commented on #1531
I have:

Yarn - 1.10.1
NPM - 6.4.1
Node - 6.14.4

[2018-10-20 06:16] MatthewDorner commented on #1531
could it be related to having an older version of yarn?

[2018-10-20 06:19] koshyviv commented on #1531
My yarn version is the latest, do you want me to try downgrade it ti 1.9.4?

Do you think also this maybe a node/npm issue?

[2018-10-20 06:32] MatthewDorner commented on #1531
or you could also just try npm install, we only just changed the instructions to use yarn instead, but yarn had been working fine.

[2018-10-20 06:43] koshyviv commented on #1531
Thanks @MatthewDorner. Its working now - seems to be a network issue.

Increased the timeout to 10mins in the `.yarnrc` ([source](https://github.com/yarnpkg/yarn/issues/5540#issuecomment-374069461))
`network-timeout 600000`

@akash65 you can try the same

[2018-10-20 14:32] akash65 opened #1535 "Login issue"
**Expected behavior:**

When I try to login with credentials hradmin and test as username and password to login

**Actual behavior:**

But login credentials not working and it shows invalid username or password and I'm using couchdb 2.2

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**
Chrome lastest and windows 10

[2018-10-20 18:01] koshyviv opened #1536 "Yarn Start - TypeError: Cannot read property 'emit' of null"
**Expected behavior:**
The server to start and build. Expecting UI to be available.

**Actual behavior:**
It closes up with an error
[code]

**Steps to reproduce:**
1. Clone Repo
2. `yarn install`
3. configure db
4. `yarn start`

**Screenshots (if applicable):**

**OS and Browser:**
OS - Win10
Browser - Chrome
Node - v6.14.4

[2018-10-20 19:01] #1531 closed

[2018-10-20 19:18] MatthewDorner commented on #1535
sorry things are not working well. Can you try this script and give a screenshot of the output? This one works for me with the CouchDB 2.2 I got from here: https://github.com/apache/couchdb-docker, though I'm still figuring out the details.

[code]

Even if this works and you can login you will probably have issues with Administration -> Users due to the problems described here https://github.com/

[2018-10-20 19:37] MatthewDorner commented on #1536
I always get that error if I kill my CouchDB after I've already been up and running. I'm not sure why you're getting it on startup. If there's no CouchDB on starting the server, you usually get this:

[code]

So maybe your CouchDB is running but not configured correctly. Which version is CouchDB and what output did you get when you ran the initcouch.sh/initcouch2.sh script?

[2018-10-21 12:42] koshyviv commented on #1536
One deviation was that i directly updated the username pass in the couchdb `local.ini` file as `hradmin `and `test`. Then ran the script. Could that be an issue?

CouchDB - v1.7.1. On running the initcouch2.sh script.
In the couch terminal
[code]

[2018-10-21 13:29] koshyviv commented on #1536
I think im doing something silly. It's working now, but there is some issue with the username and password.
[code]

I suspect my DB conifg, Any idea on how i can approach to debug this?

[2018-10-21 13:30] ilhoon opened #1537 "Inventory quantity count error"
**Expected behavior:**
Inventory should decrease if medication is used in procedure.

**Actual behavior:**
There is no change in inventory.

**Steps to reproduce:**
Use medication in any procedure and proceed to checkout.

[2018-10-21 21:23] zhuo-sun opened #1538 "Missing Image requests for the invoice for a visit"
**Expected behavior:**
The invoice should always cover all image requests during a visit

**Actual behavior:**
The invoice misses one image requests for a visit

**Steps to reproduce:**
1. Check in for a visit
2. Doctor adds one imaging request (for example X-Ray) for the visit
3. Admin opens the invoice page (admin can leave for a while before continuing)
4. Doctor adds another image requests (fo

[2018-10-22 02:02] MatthewDorner commented on #1537
I noticed this too.

When you make a Medication request from Medication -> Requests, or Visit -> Orders -> New Medication, it creates a Medication record which is linked to the inventory item and when fulfilled, the quantity is removed from inventory.

But when you add Medication to a Procedure, it creates a proc-charge record instead. Proc-charge is used elsewhere for charging Ward and Procedure

[2018-10-22 05:39] akash65 commented on #1535
Hello,

- I have tried with the above code inside clone folder "script/initcouch2.sh"
- i have attached screenshots that i'm getting for login problem in couchdb 2.2
- It says "unauthorized and username or paswword is incorrect

![screenshot 176](https://user-images.githubusercontent.com/12798776/47278702-a01a3080-d5e8-11e8-853e-83eb52b45265.png)
![screenshot 177](https://user-images.githubusercon

[2018-10-22 06:16] MatthewDorner commented on #1535
Did you already set a CouchDB admin username and password? I think the script should work whether you did or not, but if you did set one, it must be username: 'couchadmin' password: 'test'

[2018-10-22 10:16] donaldwasserman commented on #1536
I also haven’t seen that error. Although at the top it says disk almost full. Are you running couch locally or on a VM?

[2018-10-22 10:56] donaldwasserman commented on #1536
It looks like the disk is full. Are you running it on a VM?

[2018-10-22 13:13] koshyviv commented on #1536
My responses didn't come through I guess, I'm running couch on my local system

[2018-10-22 16:53] koshyviv commented on #1536
I'm running Couch locally.

On Mon, Oct 22, 2018, 16:30 Donald Wasserman <notifications@github.com>
wrote:

[2018-10-22 16:54] koshyviv commented on #1536
I'm not sure if the comments are being populated, some issue with Github

I'm running on a local machine

On Mon, Oct 22, 2018, 16:50 Donald Wasserman <notifications@github.com>
wrote:

[2018-10-22 19:07] donaldwasserman commented on #1524
Hey @chadian Sorry for taking a while to get back from you, but we'd love to have the help!

[2018-10-23 02:50] #1527 closed

[2018-10-23 11:47] chadian commented on #1524
Hello @donaldwasserman. No problem! Yeah, I'm still interested in this issue. Thanks.

[2018-10-23 13:14] donaldwasserman commented on #1524
@chadian - I don't have the link handy, but I saw that DockYard published a codemod to help with the transition.

[2018-10-24 01:38] MatthewDorner commented on #1536
maybe this, I think somebody else had it. https://github.com/apache/couchdb/issues/991

Try installing CouchDB to a file path with no spaces in it like C:\CouchDB

[2018-10-24 02:24] jackcmeyer opened #1543 "incident report doesn't display current date if no end date is selected"
When generating an incident report without an end date, the report does not display the current date for the end date in the report title or the file name of the exported report. I think this is especially confusing if a user saves this file for records, since it will not have an end date.

**Expected behavior:**
Unsure, however I think that either of the following would make sense:
1. Require bot

[2018-10-24 02:59] MatthewDorner commented on #1543
I also think 2. Also Inventory and Patient reports have the same problem.

We could also say "Present" instead as it's more accurate to what the database query is. Just thinking of if the user PC's date was off or if there were multiple time zones, depending on how "current date" is determined.

[2018-10-24 03:06] MatthewDorner commented on #1543
There could also be a separate field, "Date report generated" which would be understood as based off whatever "current date" the software determines. This would be helpful for all reports really.

Not sure what's best, just what came to mind.

[2018-10-24 03:30] jackcmeyer commented on #1543
After doing a quick test with `moment()`, it appears that it uses the user's system time to calculate "current date".

I think putting "Present" in the title is a good idea, however, this might be weird when saving files.

[2018-10-24 12:46] chadian opened #1544 "Swap ember-browserify for ember-auto-import for npm-installed modules"
**Expected behavior:**
Use npm modules without `ember-browserify` as it is deprecated and the community is moving to `ember-auto-import`

**Actual behavior:**
Use `ember-auto-import` and drop `npm:` prefixes in imports

**Steps to reproduce:**
N/A

**Screenshots (if applicable):**
N/A

**OS and Browser:**
N/A

[2018-10-24 12:47] chadian commented on #1544
I would like to try to submit a PR against but wanted to first document it for reference.

[2018-10-24 13:08] donaldwasserman commented on #1544
@chadian - If you take a stab at that, it would be great!

I initially tried doing that when removing bower, but ran into several issues that I couldn't resolve. To be honest, I'm not sure ember-browserify is really being used. I used broccoli to import some of the other dependencies when I removed bower.

A few other issues to be aware of surrounding this:

#1522 - Replacing typeahead
#1501 - Rep

[2018-10-24 13:17] donaldwasserman commented on #1543
@jackcmeyer @MatthewDorner As a quick drive-by comment, whatever we choose for a label in this instance, we should try to find something we have a lot of translations for already :)

[2018-10-25 17:24] greenkeeper opened #1546 "An in-range update of ember-electron is breaking the build 🚨"
## The devDependency [ember-electron](https://github.com/felixrieseberg/ember-electron) was updated from `2.9.0` to `2.10.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-electron-2.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-

[2018-10-29 20:02] MatthewDorner commented on #1546
I restarted this build and it passed.

[2018-10-30 13:41] rakhi2104 commented on #1523
If @PatrM isn't working on it yet, I'll take this up.

[2018-10-30 16:29] donaldwasserman commented on #1523
Hey @rakhi2104 If you could do that, it would be great!

[2018-11-06 00:15] #1484 closed

[2018-11-08 12:44] chadian commented on #1523
Just a note that this might be resolved with the move to `ember-intl` on my PR: #1553. At build time `ember-intl` checks which translations are missing between the language.

[2018-11-08 19:08] FalkF commented on #1522
@darrylpargeter is this still WIP or may I give it a try?

[2018-11-12 19:41] donaldwasserman commented on #1523
@chadian Thanks for all your help - I created this ticket before there was a solid plan on what was happening iwth ember-i18n.

I'll close this for now.

[2018-11-12 19:41] #1523 closed

[2018-11-12 20:07] #1524 closed

[2018-11-13 02:17] #1543 closed, assigned to nobody

[2018-11-13 02:56] #1546 closed, assigned to nobody

[2018-11-16 09:45] pranavdubase commented on #1535
@akash65 You should add `"node_count":"3"` to
[code]

[2018-11-17 05:01] jackcmeyer opened #1561 "ember-intl upgrade side effects"
**Expected behavior:**
Warning message should have no HTML in it.
**Actual behavior:**
Warning message has HTML in it.

**Steps to reproduce:**
_New Inventory Item Add_
1. Login
2. Click on Inventory Received
3. Click on add button
4. View the message with HTML in it

OR
_New Patient Quick Add_
1. Login
2. Click on Medication -> New Request
3. Enter patient name that doesn't exist
4. Fill in other

[2018-11-17 06:14] MatthewDorner commented on #1561
That's interesting, I'm not reproducing it. It just appears in a bold font. And I used Chromium 70 in Ubuntu.

[2018-11-17 06:33] jackcmeyer commented on #1561
I was poking around in the translations files...

Could it be related to the recent work on translations? After pulling in the most recent changes, I ran `npm install`

[2018-11-17 06:37] MatthewDorner commented on #1561
I just realized my previous comment was using code before https://github.com/HospitalRun/hospitalrun-frontend/pull/1553. Just tried with the most recent code and now I'm reproducing, so yeah that must be it.

[2018-11-17 06:38] jackcmeyer commented on #1561
I just went back to commit ee9bcc0fb3b2c2ae13c3ee90e1c7c937f01ef938 and was able to render the messages with the proper styling.

[2018-11-17 06:42] jackcmeyer commented on #1561
Looks like this might be able to fix it:
https://www.npmjs.com/package/ember-intl#format-html-message

[2018-11-17 06:45] MatthewDorner commented on #1561
There appear to be a few other side-effects of the change to ember-intl:

- language select control doesn't work the same as before, not able to select the very top language (chinese? not sure)
- navigation bar items not being translated
- some warnings appear on npm start, but I tested the `appointments.messages.appointmentSaved` and `login.messages.signIn` one and they are still being displayed

[2018-11-17 06:50] jackcmeyer commented on #1561
I did a quick test to fix the New Inventory Item message issue using `htmlSafe=true`. And it appears to work.

Here is the change in `app/inventory/quick-add/template.hbs`

[code]

[2018-11-17 06:57] jackcmeyer commented on #1561
@MatthewDorner

Looks like the warning messages have to do with the 8th language in the list. I was not able to get the `appointments.messages.appointmentSaved` to work.

The warning message has an Israeli flag, so I think the language is [Hebrew](https://www.google.com/search?safe=off&ei=mrvvW7eSH4qQjgTUrJ2wAw&q=hebrew+in+hebrew&oq=hebrew+in+hebrew&gs_l=psy-ab.3..0i71l8.3338.4575..4736...0.0..0.0

[2018-11-17 07:00] MatthewDorner commented on #1561
Also we have lost the "default to English for missing translation" behavior, and we're getting different behavior if the translation key itself is missing from the JSON vs. if it is just a empty string, although that could be fixed with a script. Russian has a bunch of empty string translations but Thailand has a lot of missing ones.

![translation missing](https://user-images.githubusercontent.co

[2018-11-17 07:19] MatthewDorner commented on #1561
Well none of these things individually seem like they will be too hard to fix. If you'd like to work on it, I will be happy to help.

[2018-11-17 07:30] jackcmeyer commented on #1561
Sure, I'd like to work on it!

[2018-11-17 07:31] jackcmeyer commented on #1561
I was able to select the top language and see the translations take place. Any special steps to reproduce this one?

[2018-11-17 07:44] MatthewDorner commented on #1561
Happens for me on Firefox and Chromium. I think it's because the action only happens when you change the selection. The actual difference is that before, the default selected value would be your current language, and now it's always defaulting to the first one instead:

![select control](https://user-images.githubusercontent.com/36939751/48658563-dee5af80-ea09-11e8-8a5f-a5b90ff860ad.png)

I'll sta

[2018-11-17 07:46] jackcmeyer commented on #1561
Gotcha. I'm looking at the HTML rendering one.

[2018-11-17 07:58] chadian commented on #1561
This is related to my implementation of `ember-intl`. Sorry for the bugs that were introduced. I can investigate and work on some of these issues, too.

* The `htmlSafe` as you've discovered will fix any of the translations relying on html, this slipped my mind.
* The old translations had null for missing translations, I changed these to empty string because a null value wasn't allowed by `ember-i

[2018-11-17 08:02] chadian commented on #1561
**Missing Translations**

To be consistent with missing translations we should probably:
1. Remove all empty strings and rely on the warnings of missing strings report at build time
2. Let missing translations fallback to the [missing translations message util](https://github.com/ember-intl/ember-intl/blob/master/docs/missing-translations.md):

[code]

What do you think?

[2018-11-17 08:04] jackcmeyer commented on #1561
@chadian missing translations use to fall back to English. Is this still possible?

[2018-11-17 08:10] MatthewDorner commented on #1561
We added the fall back to English pretty recently, and the change was made here: https://github.com/HospitalRun/hospitalrun-frontend/pull/1458.

I'd prefer keeping it that way since the error message doesn't help those trying to use the software, and we will be missing translations for a while.

[2018-11-17 08:19] chadian commented on #1561
Ah yeah, that makes sense. I was just digging through the `ember-intl` issues and there's a solution that landed 3 weeks ago:
https://github.com/ember-intl/ember-intl/issues/584

Changing to:
`return run(() => this.set('intl.locale', [selectedLanguage, 'en']));`
in `#setApplicationLanguage` `language-preference.js`.

Can you confirm that's the behavior you expect?

[2018-11-17 08:37] MatthewDorner commented on #1561
Just tested myself, looks good!

[2018-11-17 08:41] jackcmeyer commented on #1561
@MatthewDorner do you want us to open a PR for each task on this issue?

[2018-11-17 08:50] MatthewDorner commented on #1561
Fewer PRs would be better, these don't look like they'll get too complicated individually.

[2018-11-17 08:52] MatthewDorner commented on #1561
However if that makes it more confusing to keep track of who's doing what where, you can make them individually, doesn't really matter to me.

[2018-11-17 08:55] chadian commented on #1561
I have a branch with a fix for:
- remove empty string translations
- setting a missing translation message to an empty string
- Adding the fallback locale

I can split them into separate PR's though.

[2018-11-17 08:58] MatthewDorner commented on #1561
Together is fine if they're already together.

[2018-11-17 08:59] jackcmeyer commented on #1561
I've got a branch for the `htmlSafe` and I'm trying to fix the hebrew translations

[2018-11-17 20:36] chadian commented on #1561
Related to this issue and the migration to`ember-intl` was the loss of support for right-to-left languages. That's been added back as part of my #1562 pull request.

[2018-11-19 09:50] chadian commented on #1561
@MatthewDorner Looks like my PR closed the issue, sorry about that. Maybe we can reopen it for the remaining checklist @jackcmeyer has setup and track the remaining issues.

*Missing translations*

As a follow up to the question from @MatthewDorner about missing translations in these files I think we will need some sort of tooling. I was thinking we can use `en.json` as a source of truth and then

[2018-11-19 20:38] jackcmeyer commented on #1561
@chadian and @MatthewDorner I've updated the task list to align with items that have been fixed and merged to master.

[2018-11-20 10:10] chadian commented on #1561
@jackcmeyer I think "unable to select first language" was fixed in my PR:
https://github.com/HospitalRun/hospitalrun-frontend/pull/1562/files#diff-4a152be7cf0c07e5f4bde6a37a912d69R56

(at least I hope so!)

[2018-11-20 10:13] chadian commented on #1544
I think removing bower could be a separate effort, but this should lay the groundwork for re-implementing packages from bower via npm.

[2018-11-20 17:03] jackcmeyer commented on #1561
@chadian sorry, must have missed this. I've also updated the list after my PR was merged. Last thing to do is the Hebrew translation warnings.

[2018-11-20 19:16] greenkeeper[bot] opened #1565 "An in-range update of webrtc-adapter is breaking the build 🚨"
## The devDependency [webrtc-adapter](https://github.com/webrtchacks/adapter) was updated from `6.4.7` to `6.4.8`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fwebrtc-adapter-6.4.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webrtc-adapter is

[2018-11-21 03:30] MatthewDorner commented on #1561
Yeah that one was fixed.

[2018-11-21 23:58] MatthewDorner commented on #1565
Restarted and it passed. It's one of the tests I added back in https://github.com/HospitalRun/hospitalrun-frontend/pull/1441 that intermittently fails. A couple other tests do as well. I am thinking of seeing if https://github.com/HospitalRun/hospitalrun-frontend/pull/1560 makes any difference, if not we need to investigate why it's happening and/or re-write the affected tests.

[2018-11-22 01:13] MatthewDorner opened #1566 "Hebrew translation issues"
While testing https://github.com/HospitalRun/hospitalrun-frontend/pull/1553, we found issues in the Hebrew translation file `translations/he.json`.

- Some translations are causing warning messages to show when the Ember app starts up. These are due to either empty `{}` parameters in the translation string or other invalid characters. I'm not sure if this means these will use the English fallback

[2018-11-22 02:05] MatthewDorner opened #1567 "Changing locale doesn't update all text"
This issue was observed when testing https://github.com/HospitalRun/hospitalrun-frontend/pull/1553, although it was present before the switch to ember-intl.

Originally reported by @chadian: https://github.com/HospitalRun/hospitalrun-frontend/issues/1561#issuecomment-439645886

Switching the locale updates some of the text fields but not others. Refreshing the browser will ensure all text is in th

[2018-11-24 04:43] MatthewDorner commented on #1561
I was trying to get hospitalrun-server working with a current frontend. So I built the frontend with `ember build --environment=production`, copied to `prod` folder, and pointed the frontend npm dependency in hospitalrun-server to my git branch with my new build, but I am getting this error when I try to access the app running with hospitalrun-server:

![sourcemap error](https://user-images.github

[2018-11-26 08:37] sarathsoma commented on #6
@jglovier Is this still pending ? I can take this up

[2018-11-26 09:51] stukalin commented on #6
it was pending, yes. I think I pushed my intermediate state into a branch with the corresponding name. Just look it up

[2018-11-27 05:02] MatthewDorner commented on #1561
Regarding the above, I think I have it fixed by changing broccoli-serviceworker `excludePaths` setting in config/environment.js, will PR after testing a little more.

[2018-12-09 00:12] #1544 closed

[2018-12-10 17:42] greenkeeper[bot] opened #1571 "An in-range update of ember-auto-import is breaking the build 🚨"
## The devDependency [ember-auto-import](https://github.com/ef4/ember-auto-import) was updated from `1.2.18` to `1.2.19`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-auto-import-1.2.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-a

[2018-12-12 23:33] MatthewDorner commented on #1566
@morsh, it seems that you did the original translations. If you're able to help again, I can answer any questions you may have.

[2018-12-13 10:55] morsh commented on #1566
@matthewdorner - sure, but it will take me ~2 weeks since I'm traveling ATM

[2018-12-13 21:09] greenkeeper[bot] opened #1572 "An in-range update of ember-qunit is breaking the build 🚨"
## The devDependency [ember-qunit](https://github.com/emberjs/ember-qunit) was updated from `4.1.2` to `4.2.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-qunit-4.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-qunit is a devDepe

[2018-12-13 22:15] MatthewDorner commented on #1565
Yeah, they're still failing see #1572 #1571. I'm looking into this and will create an issue for it.

[2018-12-13 22:15] #1565 closed

[2018-12-16 02:26] MatthewDorner opened #1574 "Intermittent acceptance test failures"
**Expected behavior:**
All tests pass or fail consistently.

**Actual behavior:**
Some acceptance tests fail intermittently. I observed this every once in a while since I started working on the project, but it has gotten worse at some point in the past few months, causing Greenkeeper builds to fail: https://github.com/HospitalRun/hospitalrun-frontend/issues/1546,  https://github.com/HospitalRun/ho

[2018-12-16 03:13] jfdnc commented on #1567
There appear to be at least two reasons this is happening.

The first is computed properties only firing once on some of the controllers. For example, in the inventory/reports controller shown in your screenshot, the 'reportColumns' computed property supplies the labels for the checkboxes. That computed property doesn't have any dependent key it is referring to, so it only fires on a page reload.

[2018-12-21 10:50] greenkeeper[bot] opened #1575 "An in-range update of ember-simple-auth is breaking the build 🚨"
## The devDependency [ember-simple-auth](https://github.com/simplabs/ember-simple-auth) was updated from `1.7.0` to `1.8.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-simple-auth-1.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember

[2018-12-21 17:50] aalmangour commented on #1535
I tried this script, still I cannot login

[2018-12-22 04:33] jfdnc commented on #1567
Just updating that I'm still working out all the locale change issues. There are several spots in the app where the various intl functionality is accessed in different ways, so I'm making sure to comb through all the various spots. Should have a PR with the relevant changes in the next couple of days.

[2018-12-22 15:38] pranavdubase commented on #1535
@aalmangour please send me the output of your script?
Result of your script
![screenshot 20](https://user-images.githubusercontent.com/33143395/50375832-d5172380-0629-11e9-8e54-9cfaa3eab49e.png)

please try this script
[code]
The expected result

![screenshot 21](https://user-images.githubusercontent.com/33143395/50375885-db59cf80-062a-11e9-9d39-83389e9adc86.png)

[2018-12-22 19:02] habibhermes opened #1577 "Unabe to login to the frontend"
**Expected behavior:**I followed all the steps in the installation guideline but I am not able to login into the system.

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**
When I run yarn start, this is a screensot of the error i get:
![image](https://user-images.githubusercontent.com/22241610/50377797-9d08e400-061b-11e9-8740-f86459a49e7a.png)

This is the error i get

[2018-12-26 14:53] donaldwasserman commented on #1577
What password are you using? The one that’s defined in the config file or the existing config?

[2018-12-26 19:00] nourudeen commented on #1518
Pls I want to try this app. How do I do step by step on windows 10?

[2019-01-01 21:03] MatthewDorner opened #1578 "Operation Report doesn't save Diagnoses"
**Expected behavior:**
When you create an Operative Plan, it automatically populates the Diagnoses from the Patient. When you create an Operation Report (by completing an Operative Plan), it automatically populates the Diagnoses from the Operative Plan.

**Actual behavior:**
While Operation Report does copy the Diagnoses from the Operative Plan, it doesn't save them. So when you originally create

[2019-01-02 03:20] jackcmeyer commented on #1578
Can I take a look at this one @MatthewDorner?

[2019-01-02 04:07] MatthewDorner commented on #1578
@jackcmeyer  sure

[2019-01-02 04:11] MatthewDorner commented on #1578
Actually I guess there are pre-op and post-op diagnoses. To clarify where the diagnoses are supposed to come from, see: https://github.com/HospitalRun/planning/blob/master/Requirements/v1_0/Operation-Report.md

[2019-01-11 11:41] habibhermes opened #1579 "offline"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2019-01-11 11:42] #1579 closed

[2019-01-15 00:55] vpeg49 commented on #478
@JoseCage  i'm getting this same error, do yoy fixed it?

[2019-01-15 05:12] JoseCage commented on #478
Not. I didn't find a solution.

[2019-01-15 16:40] vpeg49 commented on #478
i added admin and hradmin as admin users on fauxton's main db permissions, and it's working now

http://127.0.0.1:5984/_utils/#/database/main/permissions

[2019-01-15 23:10] JoseCage commented on #478
Great. I'm not using anymore. But i'll remember if i need again. Thanks

[2019-01-18 15:14] kgrosvenor commented on #1045
I get this error also, isnt semver a core node module?

[2019-01-21 02:44] baoqchau opened #1580 "Clicking on User and Add New User show session expired on couchdb 2.0"
**Expected behavior:**
Clicking on `Users` and `Add New User` should work properly.

**Actual behavior:**
When I click on `Users` and `Add New User` tab, a modal show `Your session has expired. Please login to continue`.

**Steps to reproduce:**
Login using `hradmin` username and password.
Clicking `Users` and `Add New User` under `Administration` tab.

**Screenshots (if applicable):**
![hospitalr

[2019-01-22 07:57] MatthewDorner commented on #1518
@nourudeen there are Electron for Windows files here for the beta release: https://github.com/HospitalRun/hospitalrun-frontend/releases/ or the demo site http://hospitalrun.io/demo/

[2019-01-26 01:29] greenkeeper[bot] opened #1582 "An in-range update of ember-inspector is breaking the build 🚨"
## The devDependency [ember-inspector](https://github.com/emberjs/ember-inspector) was updated from `3.4.0` to `3.5.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-inspector-3.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-inspec

[2019-01-26 03:32] aalmangour opened #1583 "Search Doesn't Work"
Expected behavior:
Search result

Actual behavior:
No result is returned even though the data contains the searched for term.

Steps to reproduce:
Search for a patient from the patients list using first name for example.

Screenshots (if applicable):
![image](https://user-images.githubusercontent.com/25371349/51782082-bb3e9400-2133-11e9-92c9-bcbfc3653673.png)

OS and Browser:
Windows 10, Chrome

T

[2019-01-26 18:35] greenkeeper[bot] opened #1584 "An in-range update of @ember/test-helpers is breaking the build 🚨"
## The devDependency [@ember/test-helpers](https://github.com/emberjs/ember-test-helpers) was updated from `1.1.0` to `1.2.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2F%40ember%2Ftest-helpers-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2019-01-26 20:52] m2ura opened #1585 "Porting to Laravel"
Is it possible to port this project to laravel?

[2019-01-26 22:39] MatthewDorner commented on #1583
I haven't seen this. ElasticSearch is not required.

I guess I would try to find what the referer and host headers are for the request that's causing your issue. This may be found in couchdb.log. There is some info here https://github.com/pouchdb/pouchdb/issues/5810.

[2019-02-02 09:52] aalmangour commented on #1583
I changed the the couchdb config file and added the origin and it worked!
Thank you @MatthewDorner

[2019-02-02 09:52] #1583 closed

[2019-02-07 00:44] greenkeeper[bot] opened #1586 "An in-range update of electron-rebuild is breaking the build 🚨"
## The devDependency [electron-rebuild](https://github.com/electron/electron-rebuild) was updated from `1.8.3` to `1.8.4`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Felectron-rebuild-1.8.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

electron

[2019-02-11 07:42] chaitanya-y opened #1587 "issue with couch db configuration and what databases(with specific names) to create for hospital run server"
**Expected behavior:** I should be able to save the data in couch db database

**Actual behavior:** i am not able to save data into couchdb(what databases i need to create in database for hospital run server ).There is no proper documentation for couchdb hospital run server set up. I am creating patients list but data is not getting stored in database. I have attached image of existing databases.

[2019-02-14 02:42] greenkeeper[bot] opened #1589 "An in-range update of ember-macro-helpers is breaking the build 🚨"
## The devDependency [ember-macro-helpers](https://github.com/kellyselden/ember-macro-helpers) was updated from `2.1.0` to `2.2.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-macro-helpers-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-02-15 02:38] mikeelemuel commented on #1577
I was able to login using the Username: `hradmin` and password: `test`

[2019-02-15 02:41] mikeelemuel commented on #1577
@habibhermes what is the version of your couchDb?

[2019-02-15 03:01] mikeelemuel opened #1590 "I can input any value on the *Civil Status* field"
**Expected behavior:**

I should be able to select a value that are listed on the frontend for `Civil Status`

**Actual behavior:**

I was able to type any text with regards to may `Civil Status`

**Steps to reproduce:**

Please navigate top `Patients` > Edit Patient > Social Work. Click the `Add Family Member` and input any text on the `Civil Status` field and click `add`

**Screenshots (if appli

[2019-02-15 03:05] mikeelemuel opened #1591 "Error should occur for duplicate value"
**Expected behavior:**

I should be getting error if I input the same name that had already been on the list

**Actual behavior:**

I was able to create another family member on `Social work` tab with the same name that had already been added previously.

**Steps to reproduce:**

Please navigate top `Patients` > Edit Patient > Social Work. Click the `Add Family Member` and input the same name you'

[2019-02-15 03:25] mikeelemuel commented on #1508
Does this issue is all about notifying the user that they are `offline`?

[2019-02-15 17:58] greenkeeper[bot] opened #1592 "An in-range update of ember-resolver is breaking the build 🚨"
## The devDependency [ember-resolver](https://github.com/ember-cli/ember-resolver) was updated from `5.0.1` to `5.1.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-resolver-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-resolve

[2019-02-15 20:53] greenkeeper[bot] opened #1593 "An in-range update of ember-auto-import is breaking the build 🚨"
## The devDependency [ember-auto-import](https://github.com/ef4/ember-auto-import) was updated from `1.2.19` to `1.2.20`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-auto-import-1.2.20).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-a

[2019-02-19 16:57] greenkeeper[bot] opened #1594 "An in-range update of ember-qunit is breaking the build 🚨"
## The devDependency [ember-qunit](https://github.com/emberjs/ember-qunit) was updated from `4.3.0` to `4.4.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-qunit-4.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-qunit is a devDepe

[2019-02-22 21:09] MatthewDorner commented on #1582
Restarted and tests passed, closing due to #1574.

[2019-02-22 21:09] #1582 closed

[2019-02-22 22:24] MatthewDorner commented on #1589
Restarted with 2.2.0 and tests passed, closing due to #1574.

[2019-02-22 22:24] #1589 closed

[2019-02-22 22:51] MatthewDorner commented on #1594
Restarted and passed. Closing, see #1574.

[2019-02-22 22:51] #1594 closed

[2019-02-25 23:45] greenkeeper[bot] opened #1596 "An in-range update of ember-qunit is breaking the build 🚨"
## The devDependency [ember-qunit](https://github.com/emberjs/ember-qunit) was updated from `4.4.0` to `4.4.1`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-qunit-4.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-qunit is a devDepe

[2019-02-26 11:59] chaitanya-y commented on #1298
how to install and configure elasticsearch

[2019-02-26 20:27] greenkeeper[bot] opened #1597 "An in-range update of ember-intl is breaking the build 🚨"
## The devDependency [ember-intl](https://github.com/ember-intl/ember-intl) was updated from `3.5.0` to `3.5.1`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-intl-3.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-intl is a devDepen

[2019-02-28 12:55] christophermlne opened #1598 "hospitalrun.io -- domain name is expired"
The domain name for http://hospitalrun.io/ is expired, and as a result, all visitors are redirected to the registrar's parked domains page.

----

**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**

[2019-02-28 15:43] donaldwasserman commented on #1598
Hey thanks @christophermlne  - I'll follow up with @tangollama

[2019-03-02 01:56] tangollama commented on #1598
This is 100% my fault. I had it on a long list of things I needed to get to for the project and then missed it.... which is a big fail on my part. Apparently, the domain has been grabbed by someone else who is clearly squatting it. Not sure what to do about. Recommendations are welcome.

[2019-03-02 03:09] donaldwasserman commented on #1598
I’ll follow up with a domain broker. Shouldn’t be a huge deal.

--
Donald Wasserman
989-859-6392
On Mar 1, 2019, 8:56 PM -0500, Joel Worrall <notifications@github.com>, wrote:

[2019-03-02 03:18] tangollama commented on #1598
Thank you. We have access to funds in the open collective as/if needed.

On Fri, Mar 1, 2019 at 10:09 PM Donald Wasserman <notifications@github.com>
wrote:

--
*Joel Worrall *
@tangollama <http://twitter.com/tangollama> (c) 717.385.9970

[2019-03-02 22:15] raheelriax commented on #1587
Facing this same issue...

[2019-03-02 22:15] raheelriax commented on #1587
Facing the same issue...

[2019-03-03 00:39] chaitanya-y commented on #1587
I installed the hospital run successfully.Thanks for the reply.If you have
any doubt asked me

On Sun, 3 Mar 2019, 3:45 am Raheel Riaz, <notifications@github.com> wrote:

[2019-03-03 13:43] iskandergaba commented on #135
Is this still on?

[2019-03-04 14:10] christophermlne commented on #1598
It looks like this issue is resolved.

[2019-03-04 16:28] Gibbo3771 commented on #1591
What if there are two family members with the same name?

I have both an uncle and a cousin called Jim Baxter.

[2019-03-08 14:08] #1598 closed

[2019-03-08 18:30] greenkeeper[bot] opened #1599 "An in-range update of ember-simple-auth is breaking the build 🚨"
## The devDependency [ember-simple-auth](https://github.com/simplabs/ember-simple-auth) was updated from `1.8.1` to `1.8.2`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-simple-auth-1.8.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember

[2019-03-14 16:54] pdrzq8 commented on #1591
Instead of an error, should it just show an alert pop-up, so the user can confirm whether or not they intended to enter a second entity with the same name?

[2019-03-18 00:59] mikeelemuel commented on #1591
I think a alert pop-up is useful.

[2019-03-22 09:06] opokuma commented on #1587
I am unable to login to the beta demo
https://beta.hospitalrun.io/#/login
http://hospitalrun.io/demo/

[2019-03-22 20:09] binadiegha opened #1601 "BUILD error"
everytime i run `yarn install` i get the followin errors when fetching packages

`info electron-installer-debian@1.0.0: The platform "win32" is incompatible with this module.
info "electron-installer-debian@1.0.0" is an optional dependency and failed compatibility check. Excluding it from installation.
info electron-installer-flatpak@0.8.0: The platform "win32" is incompatible with this module.
in

[2019-03-24 05:25] prbobba commented on #1601
which version of python are you using?

[2019-04-01 07:03] rashad2985 commented on #490
Hi @billybonks,

as a newbie contributor for this project, at the beginning, I would like to keep the translations for german and russian languages up to date till I get used to the source code of the project. Do I need to create new issue tickets for each of them?

Bests
Rashad

[2019-04-07 19:58] jorydotcom opened #1602 "Elect / Nominate representative(s) to the OpenJS Foundation CPC "
## Context
As part of the new [OpenJS Foundation's bylaws](https://github.com/openjs-foundation/bootstrap/blob/master/artifacts/OpenJS-Foundation-Initial-Merged-Bylaws.pdf), the Cross Project Council (CPC) has been [chartered](https://github.com/openjs-foundation/bootstrap/tree/master/proposals/stage-2/CPC_CHARTER) to serve as the primary governing body for programs and regular support of Foundati

[2019-04-13 16:01] junelsolis opened #1604 "docker-compose fails to build web service"
**Expected behavior:**
Running `docker-compose up -d` will build and bring up the containers

**Actual behavior:**
Running `docker-compose up -d` fails to build the web service. The image build fails at `Step 5/14  RUN cd /tmp && yarn install --silent`. The last error lines shown before the process exits are
[code]
**Steps to reproduce:**
- clone the hospitalrun-frontend repository
- `cd hospitalr

[2019-04-15 22:03] ShivaAnan commented on #1531
Hello i'm having this issue when i tried to enter sudo yarn install
Yarn version:
  1.15.2
Node version:
  10.15.3
Platform:
  linux ubuntu 16.04 - x64
![Screenshot from 2019-04-16 03-30-49](https://user-images.githubusercontent.com/18366231/56168258-35c2d580-5ff8-11e9-8288-1a59bb7246ff.png)

P.S: im new to node and npm.. Please help me with this

[2019-04-21 00:39] baoqchau opened #1605 "Unmaintained project?"
**Expected behavior:**
Maintainers (@MatthewDorner and @donaldwasserman, I believe so, based on the commit's history) updates the project accordingly.
**Actual behavior:**
No updates to the project since Dec, 2018.
**Steps to reproduce:**
Project's GitHub history.

Hello @maintainers,

I used to contribute to this project a year ago because of its altruistic and meaningful values. However, due to

[2019-04-21 15:21] MatthewDorner commented on #1605
Hello. I was helping maintain for the later half of 2018 but I'm no longer able to. I'm not sure about the disposition of other maintainers, although you are correct it's not been active.

There is a channel on the slack, #public-maintainers on https://hospitalrun-slackin.herokuapp.com/ to discuss maintaining the project. It seems to me the project is at a point where in order to get to the next s

[2019-04-21 16:13] broerse commented on #1605
@baoqchau @MatthewDorner We and other organizations would have invested resources and money a long time ago if the project was not GNU licensed. We considered to do it and decided against it when ember-pouch switched to the [Eventually Consistent](https://github.com/pouchdb-community/ember-pouch#eventually-consistent) relational data. I think therefore that the next stage to save the project is ch

[2019-05-01 14:50] jorydotcom opened #1606 "Community Invitation to the OpenJS Collaborator Summit + Info"
*Hi all! In an effort to make sure we're fully getting the word out to OpenJS Foundation project communities about the collaborator summit, I'm posting the following message on main or admin repos:*

This year, the Node Collaborator summit is opening up to include and welcome all former JS Foundation projects. The Collaborator summit is a space where projects and working groups within projects hav

[2019-05-08 02:48] jeremykohn commented on #1605
If changing the license to MIT or Apache would help attract investors and move the project forward, it would be great to find an expert in the field who can help with relicensing or dual-licensing.

Anyone know of a copyright lawyer with experience in open source? Maybe someone will do it it pro bono, or it might be worth spending money from the project budget to hire a lawyer given how important

[2019-05-08 06:51] dhavala commented on #1605
+ 1 for changing the license to MIT

On Wed, May 8, 2019 at 8:18 AM Jeremy Kohn <notifications@github.com> wrote:

[2019-05-08 18:10] MatthewDorner commented on #1605
I don't know much about licensing or what the ramifications will be, so I will mostly defer to others (for whatever say I have, as I'm not sure who has the authority to make such a decision). My point was just that the project seems to now require more support than what it's getting from random interested individuals like myself. A big reason is the type of project this is. It's one thing to devel

[2019-05-08 19:58] MatthewDorner commented on #1605
For some additional info, we did a survey last year to see where potential users were at with the software. It revealed a couple cases where people considered using the software or tested it to some extent, but discontinued due to lack of documentation, installation and technical support.

The project needs to be able to offer thorough support to potential users for testing and deployment, which I

[2019-05-09 18:50] greenkeeper[bot] opened #1607 "An in-range update of ember-inspector is breaking the build 🚨"
## The devDependency [ember-inspector](https://github.com/emberjs/ember-inspector) was updated from `3.7.0` to `3.8.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-inspector-3.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ember-inspec

[2019-05-24 01:32] MatheusNtg commented on #1590
@tangollama I'll try to fix it

[2019-06-18 09:40] XuYanMa commented on #1531
I have the same question with @Shivv33 .

[2019-06-28 20:44] greenkeeper[bot] opened #1610 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## The devDependency [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) was updated from `3.0.1` to `3.1.0`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-cli-htmlbars-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-07-06 06:35] dferteyfbxcrterg opened #1611 "国外文凭办理精英国际文凭俱乐部https://www.diplomaclub.net"
**Expected behavior:**

**Actual behavior:**

**Steps to reproduce:**

**Screenshots (if applicable):**

**OS and Browser:**
[国外文凭办理](https://www.diplomaclub.net)精英国际文凭俱乐部[https://www.diplomaclub.net](https://www.diplomaclub.net)

[2019-07-15 17:54] joelelangovan1985 opened #1612 "Age and DOB"
**Expected
![age](https://user-images.githubusercontent.com/5588760/61896168-00505100-af32-11e9-8cc1-2f998c92f392.jpg)
 behavior:**
Many people in rural India, dont know the DOB, There should be a option to enter age instead of DOB
**Actual behavior:**
No Option to enter age

How do i overcome this problem ? age to DOB conversion would be useful.

[2019-07-16 01:01] JacobPie commented on #1612
I feel like for a hospital, unfortunately, it needs to be more specific than just age. Maybe put in a general birthday?

[2019-07-16 02:08] joelelangovan1985 commented on #1612
Yes, but can there be an option to enter age which will convert like age to
standard 1-1-year like format.

On Tue 16 Jul, 2019, 6:31 AM Jacob Pieczynski, <notifications@github.com>
wrote:

[2019-07-16 10:38] greenkeeper[bot] opened #1613 "An in-range update of ember-native-dom-helpers is breaking the build 🚨"
## The devDependency [ember-native-dom-helpers](https://github.com/cibernox/ember-native-dom-helpers) was updated from `0.6.2` to `0.6.3`.

🚨 [View failing branch](https://github.com/HospitalRun/hospitalrun-frontend/compare/master...HospitalRun:greenkeeper%2Fember-native-dom-helpers-0.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2019-07-17 12:30] moda20 commented on #1604
This is a real issue, did anybody fix it somehow ?

[2019-07-25 17:33] joelelangovan1985 commented on #1111
Hi any solutions yet @glearner?

[2019-07-25 17:34] Shivv33 commented on #814
still the issue is same, when i try to add a medication its throwing an error like please select valid medication :(

[2019-07-26 20:32] rssfed23 commented on #1604
Also experiencing this
`Step 3/14 : RUN yarn global add ember-cli@latest
 ---> Running in fb3d26c888e2
yarn global v1.15.2
[1/4] Resolving packages...
warning ember-cli > broccoli-babel-transpiler > @babel/polyfill@7.4.4: 🚨 As of Babel 7.4.0, this
package has been deprecated in favor of directly
including core-js/stable (to polyfill ECMAScript
features) and regenerator-runtime/runtime
(needed to u

[2019-07-30 17:53] joelelangovan1985 commented on #1587
@chaitanya-y  I have the same problem, i dont see any data on couchdb, how do i fix it ?

[2019-08-03 17:19] zenny commented on #1604
+1

Same at this end:

[code]

[2019-08-05 10:56] #1585 closed

[2019-08-06 16:36] #1584 closed

[2019-08-06 16:36] #1586 closed

[2019-08-06 16:36] #1592 closed

[2019-08-06 16:36] #1593 closed

[2019-08-06 16:36] #1596 closed

[2019-08-06 16:36] #1597 closed

[2019-08-06 16:36] #1599 closed

[2019-08-06 16:36] #1607 closed

[2019-08-06 16:36] #1610 closed

[2019-08-06 16:36] #1613 closed

[2019-08-06 16:42] fox1t commented on #1605
Hi @baoqchau, I am excited 🎉 🎉 🎉 🎉 🎉  to inform you that the project is active again. We will publish our Roadmap to the 2.0 version in few days. And speaking of license, it will become MIT ;)

I can anticipate that it will be a React app. Of course we need more active contributors, so just stay tuned :).

[2019-08-06 16:42] #1605 closed

[2019-08-06 16:52] fox1t commented on #1606
Hi @jorydotcom, this project was on stale for some time. I just take over it as lead maintainer. I'll be pleased to participate to any future event! :)

[2019-08-06 16:52] #1606 closed

[2019-08-06 17:25] dhavala commented on #1605
welcome and thanks Maksim. That is a great news.

On Tue, Aug 6, 2019 at 10:12 PM Maksim Sinik <notifications@github.com>
wrote:

[2019-08-07 07:22] tehKapa commented on #1601
Hi @binadiegha!
We're [now working on a new major version](https://github.com/HospitalRun/hospitalrun-frontend/issues/1605#issuecomment-518749445) (2.0) of HospitalRun. Sadly, your request can't be resolved, so we're forced to close this issue.

[2019-08-07 07:22] #1601 closed

[2019-08-07 07:22] tehKapa commented on #1604
Hi @junelsolis!
We're [now working on a new major version](https://github.com/HospitalRun/hospitalrun-frontend/issues/1605#issuecomment-518749445) (2.0) of HospitalRun. Sadly, your request can't be resolved, so we're forced to close this issue.

[2019-08-07 07:22] #1604 closed

[2019-08-07 07:23] tehKapa commented on #1536
Hi @koshyviv!
We're [now working on a new major version](https://github.com/HospitalRun/hospitalrun-frontend/issues/1605#issuecomment-518749445) (2.0) of HospitalRun. Sadly, your request can't be resolved, so we're forced to close this issue.

[2019-08-07 07:23] #1536 closed

[2019-08-07 07:24] tehKapa commented on #1612
Hi @joelelangovan1985!
We're [now working on a new major version](https://github.com/HospitalRun/hospitalrun-frontend/issues/1605#issuecomment-518749445) (2.0) of HospitalRun. This issue will be considered for the new release!

[2019-08-07 11:20] #1068 closed

[2019-08-07 11:27] #204 closed

[2019-08-07 11:31] #171 closed

[2019-08-07 11:34] #551 closed

[2019-08-07 11:36] #127 closed

[2019-08-07 11:37] #483 closed

[2019-08-07 11:38] #704 closed

[2019-08-07 11:40] #542 closed

[2019-08-07 11:41] fox1t commented on #103
@StefanoMiC Take a look on this issue.

[2019-08-07 11:57] fox1t commented on #314
This is an absolute must have for the 2.0.0 release!

[2019-08-07 11:58] #705 closed

[2019-08-07 12:02] #689 closed

[2019-08-07 12:03] #688 closed

[2019-08-07 12:11] #687 closed

[2019-08-07 12:13] #208 closed

[2019-08-07 12:21] #175 closed

[2019-08-07 12:21] #378 closed

[2019-08-07 12:22] #252 closed

[2019-08-07 12:25] fox1t commented on #387
@StefanoMiC look into this and explore what is needed for the 2.0.0

[2019-08-07 12:25] #384 closed

[2019-08-07 12:25] #549 closed

[2019-08-07 12:26] #348 closed

[2019-08-07 12:29] #972 closed

[2019-08-07 12:29] #547 closed

[2019-08-07 12:30] #260 closed

[2019-08-07 12:31] fox1t commented on #260
@tehKapa what about white labbeling integration?

[2019-08-07 12:32] #465 closed

[2019-08-07 12:32] #493 closed

[2019-08-07 12:32] #494 closed

[2019-08-07 12:42] #1123 closed

[2019-08-07 12:43] #333 closed

[2019-08-07 12:44] #1191 closed

[2019-08-07 12:46] #438 closed

[2019-08-07 12:56] fox1t commented on #935
@tehKapa I think this is till an interesting feature to have.

[2019-08-07 13:04] #540 closed

[2019-08-07 13:05] #1602 closed

[2019-08-07 13:08] #953 closed

[2019-08-07 13:09] #1138 closed

[2019-08-07 13:10] #732 closed

[2019-08-07 13:10] #1166 closed

[2019-08-07 13:11] #794 closed

[2019-08-07 13:13] fox1t commented on #1048
@tehKapa here @tangollama suggests some nice workflows for the final users. I think that the same path is achievable on other cloudproviders/on-premise if something like openstack is used.
This task deserves some more exploration.

[2019-08-07 13:18] #1159 closed

[2019-08-07 13:18] #495 closed

[2019-08-07 13:18] #1391 closed

[2019-08-07 13:47] #1163 closed

[2019-08-07 13:48] #722 closed

[2019-08-07 13:51] #1162 closed

[2019-08-07 17:06] nicolasalarconrapela commented on #1612
_Taking into account the above, he created a brief outline of how he could solve the issue of age and date of birth_:

![imagen](https://user-images.githubusercontent.com/23703592/62641303-97aaa080-b943-11e9-897a-05f54fa626b8.png)

_I explain briefly_:

The user not knowing the date of birth will **click on the checkbox of '`Unknown`'** , then :
* the field of '`Age`' will be **_unlocked_** and
*

[2019-08-07 19:29] fox1t commented on #1612
@nicolasalarconrapela Nice work, I think that this flow resolves this specific issue. We will add this to the official roadmap and features set.

[2019-08-07 20:08] fox1t commented on #1245
@BogdanAlexandru I agree 100% with you. It would be fully implemented like this in 2.0.0 release.

[2019-08-07 20:13] #1074 closed

[2019-08-07 20:17] fox1t commented on #1267
What do you think about 2FA authentication using a companion mobile app with TouchID and/or FaceID (and Android equivalent)?

[2019-08-07 20:27] fox1t commented on #1286
I think that even if MongoDB supports storing documents, it is not well suited for the task. PouchDB also supports storing binary data: https://pouchdb.com/api.html#save_attachment, but as for MongoDB, it is sub-optimal. In the 2.0.0 version we will support arbitrary file uploads and it will be handled by some object storage/disc.

[2019-08-07 20:29] fox1t commented on #1452
This fix is out of scope for the version 2.0.0 since it will be built ground up.

[2019-08-07 20:29] #1452 closed

[2019-08-07 20:30] #1488 closed

[2019-08-07 20:31] #1454 closed

[2019-08-07 20:33] fox1t commented on #388
@tehKapa it's your duty!

[2019-08-07 20:40] #1499 closed

[2019-08-07 21:22] cukejianya commented on #1522
@darrylpargeter @FalkF @donaldwasserman Is this issue still being worked on? If not, can I work on it?

[2019-08-07 21:25] fox1t commented on #1522
Hi, we are in the process of the complete HospitalRun rewrite using React and more modern tools.  Any further PRs to the current version (1.0.0-beta) will be not merged.
However, if you want to contribute, we will be happy to have you on board for the 2.0.0 release.

[2019-08-07 21:57] cukejianya commented on #1522
@fox1t That would be great. So should I be focusing on issues with the `v2.x` tags only?

[2019-08-08 09:08] fox1t commented on #1522
@cukejianya Exactly! We are almost ready to reveal the public roadmap and open the first issues. Then we can focus on v2.x. At the moment that tag is used to mark "old issues" that will need to be addressed also in the upcoming version. :)

[2019-08-08 09:08] #1522 closed

[2019-08-08 09:27] adeolabadmus commented on #953
Hello @fox1t. I see you closed this issue. Has it been fixed?

[2019-08-08 09:32] fox1t commented on #953
Hi @adeolabadmus!
We're [now working on a new major version](https://github.com/HospitalRun/hospitalrun-frontend/issues/1605#issuecomment-518749445) (2.0) of HospitalRun. Sadly, this issue won't be resolved and we're forced to close this issue.
Can you contribute to the project? If so ping me on [slack](hospitalrun.slack.com) since we will need a big community effort to build the best HIS!

[2019-08-12 08:14] mansona commented on #1574
So I have just come across this with my PR to help get the master building again: https://github.com/HospitalRun/hospitalrun-frontend/pull/1616

It seems like these tests might have something to do with PouchDB rather than Ember. I have done a little bit of digging into the issue over the weekend and it seems like we're either using a real CouchDB connection when running tests (when running `npm s

[2019-08-12 08:43] lifeart commented on #1574
Any Ideas why CI is failing on

![image](https://user-images.githubusercontent.com/1360552/62853864-54ab4d00-bcf6-11e9-9264-a9bcbb9e1074.png)

?

[2019-08-12 11:57] MatthewDorner commented on #1574
@mansona the app always runs an in-memory PouchDB (in fact, it runs two of them - one in the main thread and one in the service worker), but I don't think this problem involves eventual consistency.

The database requests from the app go to the main thread PouchDB, which does nothing except proxy them over to the service worker PouchDB (where the data is stored in the browser's indexedDB) so the d

[2019-08-12 16:45] mansona commented on #1574
So the thing that I have found is that some of the tests depend on data that either a) is missing for some random reason or b) was actually created in a previous test

I notice that ember-exam is installed but for some reason it's not quite working when I run it  🤔 if we ran ember-exam with some concurrency and randomization we would find all of the tests that have interdependencies very quickly

[2019-08-15 15:49] rschugh opened #1617 "Looking for hospital list"
We are a IT company in India and our few clients are interested to know about existing Hospitals reference list where hospital run software is running and implemented, so we can implement hospital run software also there.

Regards
Rupinder Singh

Tradeboox tech India pvt ltd

## 💬 Questions and Help

### Please note that this issue tracker is not a help forum and this issue may be closed.

Before

[2019-08-20 06:22] rschugh commented on #1617
Waiting for revert on it

[2019-08-20 07:17] tehKapa commented on #1617
Hi @rschugh.
Please note that this issue tracker is not a help forum. We recommend you to join our [Spectrum channel ](https://spectrum.chat/hospitalrun) and ask any questions you have.

[2019-08-20 07:17] #1617 closed

[2019-08-22 17:52] EdwardGoomba commented on #1076
@fox1t Can anyone from the community put together a draft for the wiki?

[2019-08-22 21:10] fox1t commented on #1076
@EdwardGoomba are you talking about Wikipedia? If so, I think that we have to write a draft as soon as possible.

[2019-08-22 23:36] EdwardGoomba commented on #1076
Yup - Wikipedia. Are you tackling that or did you need a hand? If you need a hand - any chance Joel has the copy he submitted the first time around on hand?

[2019-08-23 07:58] fox1t commented on #1076
@tangollama? :)

[2019-08-28 23:07] mkhaleel opened #1618 "RTL support and new features"
Hello all
i would like to thank you for this application it cover almost every thing in a simple way to use for end users .
am a .net developer and i have a huge interested in work in health apps .
i was wondering if you planning to support RTL templates translation , (Hospitality management), doctor and stuff management .
i really would like to help so please feel free to share any tasks .

regar

[2019-08-29 08:07] fox1t commented on #1618
Hi @mkhaleel of course are planning to support RTL.  We are in the process of rewriting HospitalRun, using React and Fastify. We opened a new repository: https://github.com/HospitalRun/components
Would you mind to open an issue there, so we can track this?

And welcome on board! :)

[2019-08-30 01:37] yimeichuah commented on #1587
@chaitanya-y having the same problem.. how did you fix it?

[2019-08-30 08:28] tehKapa commented on #1587
Hi @opokuma, the demo of version 1.0.0-beta is currently offline, and there are currently no ETAs

[2019-09-08 17:20] PhearZero opened #1619 "Setup Basic Create React App"
## 🚀 Feature Proposal

Add Basic CRA to +HospitalRun Next
HospitalRun/hospitalrun#14

## Motivation

Update the next branch to include a basic [Create React App](https://github.com/facebook/create-react-app) and include acceptance criteria similar to the [next-poc-demo](https://github.com/HospitalRun/next-poc-demo/tree/master). Make sure to configure Commitizen and Husky prior to your first commit

[2019-09-08 19:15] PhearZero opened #1620 "Continuous Integration"
## 🚀 Feature Proposal

Build Triggers and Package Release

## Motivation

The new [mono repository](https://github.com/HospitalRun/hospitalrun) is responsible for triggering the publishing of new packages via merging upcoming `next` features into `master` of this repository.

- This project should run a release on any changes to master.
- All feature/fix branches are merged into the `next` branch

[2019-09-10 12:05] ruben713 opened #1622 "Warnings and Errors in browser while trying to connect to the server"
## 👉 [Warnings and Errors in browser while trying to connect to the server](https://github.com/hospitalrun/hospitalrun-frontend/issues/new/choose) 👈

#### You have already researched for similar issues?

I have seen a post called 'hospitalrun loading for long time' and I tried to do the same, but it didn´t work.
#### Are you sure this is an issue with HospitalRun or are you just looking for some h

[2019-09-14 19:05] jackcmeyer opened #1623 "Add coveralls"
🚀 Feature Proposal

Add coverage reporting.

## Motivation

See how well tests are working.

[2019-09-18 06:58] tehKapa opened #1624 "Remove gitmoji to improve CI pipeline"
## 💥 Regression Report

Restore the semantic-release without the assistance of Gitmoji.
Repository to use as a reference: https://github.com/tehKapa/testone

#### New devDependencies will be:

- @commitlint/cli
-  @commitlint/config-conventional
-  @commitlint/prompt
-   @semantic-release/changelog
-   @semantic-release/commit-analyzer
-   @semantic-release/git
-   @semantic-release/github
-   @se

[2019-09-26 14:21] cupliz commented on #1605
@fox1t if the next version builds with React, I would love to join as a contributor.

[2019-09-26 14:25] tehKapa commented on #1605
Hi @cupliz. Join our [Slack workspace](https://hospitalrun-slackin.herokuapp.com/), #contributors channel

[2019-09-27 16:12] #1624 closed

[2019-10-11 22:41] habibhermes opened #1627 "Building docker container error"
Hello. I am trying to install the frontend module but I am not able to create the HospitalRun container using docker.
`docker run -it --name hospitalrun-frontend -p 4200:4200 --link couchdb:couchdb -d hospitalrun-frontend` .

Error mesage: docker: invalid reference format.

Thanks

[2019-10-12 09:36] tehKapa commented on #1627
Hi!
Subscribe to our [Spectrum channel](https://spectrum.chat/hospitalrun) to talk about these issues.

[2019-10-12 09:36] #1627 closed

[2019-10-12 18:20] tehKapa opened #1628 "Delete me"

[2019-10-13 16:22] #1628 closed

[2019-10-14 08:22] tehKapa commented on #1623
Some reference:
- Install [jest](https://facebook.github.io/jest/docs/en/getting-started.html)
- Use the following to run tests and push files to coveralls:
[code]

Check out an [example here](https://github.com/Ethan-Arrowood/harperdb-connect/blob/master/.travis.yml) which makes use of Travis-CI build stages

https://www.npmjs.com/package/coveralls#jest

[2019-10-18 01:06] muzafa-popo commented on #1622
i came back again...  what link i needed to join.... i just no add in to link, and for the arange trade i give u all.. i want to create wallet till now i don't have..hehehe

[2019-10-18 04:15] muzafa-popo commented on #1622
can run, thank for help if ask for me about she setup, i thing next yer maybe cannot use.. hope luck have for u all.

[2019-11-05 09:31] #1511 closed

[2019-11-05 09:31] #1470 closed

[2019-11-05 09:31] #1481 closed

[2019-11-05 09:31] #1520 closed

[2019-11-05 09:31] #990 closed

[2019-11-05 09:31] #1494 closed

[2019-11-05 09:31] #1529 closed

[2019-11-05 09:31] #1439 closed

[2019-11-05 09:31] #1538 closed

[2019-11-05 09:31] #1537 closed

[2019-11-05 09:31] #1561 closed

[2019-11-05 09:31] #1535 closed

[2019-11-05 09:31] #1567 closed

[2019-11-05 09:31] #1578 closed

[2019-11-05 09:31] #1580 closed

[2019-11-05 09:31] #1577 closed

[2019-11-05 09:31] #1298 closed

[2019-11-05 09:31] #135 closed

[2019-11-05 09:31] #490 closed

[2019-11-10 22:53] pat154 commented on #1501
@surajdubey Hey mate, are you still looking at this issue? If not I'd be happy to take over or help out. Cheers!

[2019-11-28 16:28] jackcmeyer commented on #1501
Closing issue in favor of hospitalrun/components#34

[2019-11-28 16:28] #1501 closed

[2019-12-02 14:41] #1619 closed

[2019-12-13 16:10] evalsocket commented on #1620
@PhearZero can i pick this one ?

[2019-12-13 16:13] tehKapa commented on #1620
@evalsocket come on in our Slack workspace and let's talk about i.

[2019-12-13 16:30] evalsocket commented on #1620
@tehKapa check contributors channel

[2019-12-17 16:56] degodfather commented on #1583
@aalmangour could you share the steps to fix the search?  I'm kinda stuck. Even the online demo has the same issue.

[2019-12-17 23:03] jackcmeyer opened #1671 "Create New Patient"
## Scenario
**AS** a user with patient write access
**I WANT** to be able to create a new patient
**SO THAT** I can enter a new patient into my system

## Acceptance Criteria
**GIVEN** there is a new patient to be added to the system
**WHEN** I access the /new/patients page
**THEN** I should see a form that allows me to enter the following data:

* Name - (prefix, given name, family name, suffix)

[2019-12-21 01:47] pragyanone commented on #1671
there is a small typo in the Acceptance Criteria:
THEN I should see a form that allows me to enter the following ~~date~~ data

[2019-12-21 01:49] jackcmeyer commented on #1671
Thanks @pragyanone 😊

[2019-12-30 09:10] #1671 closed

[2020-01-01 05:35] jackcmeyer opened #1688 "View Patient Data"
## Scenario
**AS**

A user with read access to patient data

**I WANT**

The ability to view information about a patient when I access the `/patients/:id` route

**SO THAT**

I can see the patients information.

## Acceptance Criteria
**GIVEN**

A logged in user with read access to patients and an existing patient

**WHEN**

I access the `/patients/:id` route

**THEN**

I should see a header with

[2020-01-01 05:51] jackcmeyer opened #1689 "Add relationships to patient"
## Scenario
**AS**

A user with write access to patient data

**I WANT**

The ability to add relationships to a patient

**SO THAT**

I can easily understand the relationships that a patient has.

## Acceptance Criteria
**GIVEN**

A logged in user with write access to patient data and an existing patient

**WHEN**

I access the `/patients/:id` route and click the add relationship button

**THEN**

[2020-01-01 23:43] jackcmeyer opened #1690 "Add breadcrumbs"
## Scenario
**AS**
As a user

**I WANT**

Breadcrumbs on the page

**SO THAT**

I can have easy navigation capabilities.

## Acceptance Criteria
**GIVEN**

A logged in user

**WHEN**

I view the application

**THEN**

I see a breadcrumb underneath the page header

and when I navigate between pages the bredcrumb updates

and there are links to the previous pages in the breadcrumb.

## Related Issue

[2020-01-01 23:43] jackcmeyer opened #1770 "Add breadcrumbs"
## Scenario
**AS**
As a user

**I WANT**

Breadcrumbs on the page

**SO THAT**

I can have easy navigation capabilities.

## Acceptance Criteria
**GIVEN**

A logged in user

**WHEN**

I view the application

**THEN**

I see a breadcrumb underneath the page header

and when I navigate between pages the breadcrumb updates

and there are links to the previous pages in the breadcrumb.

## Related Issu

[2020-01-02 09:26] #1688 closed

[2020-01-03 02:56] jackcmeyer commented on #1612
This functionality has been implemented in v2 (see #1672). Closing this issue.

[2020-01-03 02:56] #1612 closed

[2020-01-04 00:31] jackcmeyer opened #1701 "Success toast after creating a patient"
## Scenario
**AS**

As a user with write access to patient data

**I WANT**

A success toast to be displayed after a patient has been successfully created

**SO THAT**

I know that the system did what I wanted it to do.

## Acceptance Criteria
**GIVEN**

The save patient button was clicked

**WHEN**

The system successfully creates a patient

**THEN**

It should display a toast saying that the pat

[2020-01-05 13:29] theashraf commented on #1701
I'd like to help with this one

[2020-01-06 02:44] jackcmeyer commented on #1701
Hey @theashraf. I've been working on this issue to accomplish some other features that are currently being developed. Be on the look out for a whole bunch of new issues being opened that will be a good opportunity to contribute!

[2020-01-07 01:03] ocBruno commented on #1690
I have started creating a breadcrumb component in the components library and will commit ocassionally considering I'm a bit inexperienced, please don't hesitate to give me some constructive criticism or spot me on mistakes!

[2020-01-07 04:01] jackcmeyer opened #1707 "Add simple name search for Patients"
## Scenario
**AS**

A user with read access to patients

**I WANT**

The ability to fuzzy search for patients by name

**SO THAT**

I find someone who I am looking for.

## Acceptance Criteria
**GIVEN**

A logged in user with read access to patients and patients in the database

**WHEN**

I type a patient's name in the search patients box

**THEN**

I want to results that are similar to the patien

[2020-01-07 11:58] omkar-joshi commented on #1707
Hey @jackcmeyer, are you working on this?

[2020-01-07 11:58] omkar-joshi commented on #1690
I'd like to help with this

[2020-01-07 12:14] omkar-joshi commented on #1508
I'd like to help with this

[2020-01-07 14:35] jackcmeyer commented on #1707
@omkar-joshi yes, there is an open PR for it.

[2020-01-08 03:34] jackcmeyer opened #1709 "Add `friendlyId` for Patients"
## Scenario
**AS**

A user with read/write access to patients

**I WANT**

the ability to see a "friendlyId" for the patient

**SO THAT**

I have an easier way to refer to patients

## Acceptance Criteria
**GIVEN**

The user has write access to a patient

**WHEN**

The user clicks on the create new patient button

**THEN**

A friendly id gets generated for the patient based on the maximum friendly

[2020-01-08 04:11] jackcmeyer commented on #1690
@omkar-joshi sounds good. i've assigned it to you.

[2020-01-09 03:30] jackcmeyer opened #1711 "React PWA Support"
## 🚀 Feature Proposal

Support Progressive Web Apps for React.

## Motivation

offline first

[2020-01-10 20:15] #1701 closed

[2020-01-11 08:51] #1711 closed

[2020-01-11 12:07] #1707 closed

[2020-01-11 12:07] #1709 closed

[2020-01-11 13:13] tehKapa opened #1718 "Patient data save confirmation message toaster doesn't appear"
## 🐛 Bug Report

Patient data save confirmation message toaster doesn't appear.

![HR - Toaster save data](https://user-images.githubusercontent.com/6388707/72204785-043e4400-347c-11ea-8eac-06cabe2560b2.gif)

## Expected behavior

PR https://github.com/HospitalRun/hospitalrun-frontend/pull/1703 should have added style to the confirmation toaster when creating a new patient record.

[2020-01-11 20:05] #1718 closed

[2020-01-14 04:04] jackcmeyer opened #1728 "Create scheduling module"
## Scenario
**AS**
A user who has read/write access to appointments

**I WANT**
A scheduling module

**SO THAT**
I can have an easy way to manage the schedule of my hospital/clinic

## Acceptance Criteria
**GIVEN**
A user who has read or write access to appointments

**WHEN**
I access the `/appointments` endpoint

**THEN**
I should see a calendar that _WILL_ have the ability to have appointments o

[2020-01-14 04:12] jackcmeyer opened #1729 "Add ability to create New Appointment"
## Scenario
**AS**
A user with write access to appointments

**I WANT**
The ability to create a new appointment

**SO THAT**
I can schedule and appointment

## Acceptance Criteria
**GIVEN**
A user with write access to appointment

**WHEN**
When the `/appointments/new` route is accessed

**THEN**
I should get a form that prompts me for data about the new appointment

The following data elements sho

[2020-01-14 04:19] jackcmeyer opened #1730 "Appointments list in Patients profile"
## Scenario
**AS**
A user with read access to patients and read access to appointments

**I WANT**
A tab on the patients profile called Appointments

**SO THAT**
I can quickly see the Appointments for a patient

## Acceptance Criteria
**GIVEN**
A patient who has appointments
AND
A user with read access to patients and appointments

**WHEN**
I click on the appointments tab in the the patients profi

[2020-01-14 04:19] jackcmeyer opened #1769 "Appointments list in Patients profile"
## Scenario
**AS**
A user with read access to patients and read access to appointments

**I WANT**
A tab on the patients profile called Appointments

**SO THAT**
I can quickly see the Appointments for a patient

## Acceptance Criteria
**GIVEN**
A patient who has appointments
AND
A user with read access to patients and appointments

**WHEN**
I click on the appointments tab in the the patients profi

[2020-01-14 04:22] jackcmeyer opened #1731 "Add `New Patient` button on the Patients page"
## Scenario
**AS**
A user with write access to patients

**I WANT**
Like a `New Patients` button on the Patients page

**SO THAT**
I can quickly create new patients

## Acceptance Criteria
**GIVEN**

_Put your text here_

**WHEN**
I access the `/patients` route and I have write access to patients

**THEN**
I should see a `New Patients` button
AND
when I click on it, it should navigate me to `/pati

[2020-01-14 04:22] jackcmeyer opened #1766 "Add `New Patient` button on the Patients page"
## Scenario
**AS**
A user with write access to patients

**I WANT**
A `New Patient` button on the Patients page

**SO THAT**
I can quickly create new patients

## Acceptance Criteria
**GIVEN**
I access to the `/patients` route and I have write access to patients

**WHEN**
I navigate to `/patients`

**THEN**
I should see a `New Patient` button
AND
when I click on it, it should navigate me to `/pati

[2020-01-14 20:11] #6 closed

[2020-01-14 20:11] #28 closed

[2020-01-14 20:11] #61 closed

[2020-01-14 20:11] #103 closed

[2020-01-14 20:11] #149 closed

[2020-01-14 20:11] #236 closed

[2020-01-14 20:11] #286 closed

[2020-01-14 20:11] #304 closed

[2020-01-14 20:11] #305 closed

[2020-01-14 20:11] #314 closed

[2020-01-14 20:11] #342 closed

[2020-01-14 20:11] #344 closed

[2020-01-14 20:11] #353 closed

[2020-01-14 20:11] #388 closed

[2020-01-14 20:11] #451 closed

[2020-01-14 20:11] #461 closed

[2020-01-14 20:11] #466 closed

[2020-01-14 20:11] #517 closed

[2020-01-14 20:11] #569 closed

[2020-01-14 20:11] #868 closed

[2020-01-14 20:11] #935 closed

[2020-01-14 20:11] #979 closed

[2020-01-14 20:11] #1010 closed

[2020-01-14 20:11] #1048 closed

[2020-01-14 20:13] #1111 closed

[2020-01-14 20:13] #1122 closed

[2020-01-14 20:13] #1245 closed

[2020-01-14 20:13] #1267 closed

[2020-01-14 20:13] #1286 closed

[2020-01-14 20:13] #1288 closed

[2020-01-14 20:13] #1325 closed

[2020-01-14 20:13] #1436 closed

[2020-01-14 20:13] #1518 closed

[2020-01-14 20:13] #1521 closed

[2020-01-14 20:13] #1528 closed

[2020-01-14 20:13] #1566 closed

[2020-01-14 20:13] #1574 closed

[2020-01-14 20:13] #1587 closed

[2020-01-14 20:13] #1590 closed

[2020-01-14 20:13] #1591 closed

[2020-01-14 20:13] #1618 closed

[2020-01-14 20:13] #1620 closed

[2020-01-14 20:13] #1622 closed

[2020-01-15 17:32] ldyim commented on #1731
I'd like to help with this

[2020-01-15 19:52] tehKapa commented on #1731
Perfect @ldyim ✌️

@jackcmeyer do we have any guidelines?

[2020-01-16 00:28] jackcmeyer commented on #1731
Just a couple of thoughts that I had, but I don't want to be too prescriptive on the solution in case a better one exists:

1. This button should live within some button toolbar. The button toolbar should be right aligned and inline with header at the top of the page and above the divider. The bottom of the header text should align with the bottom of button toolbar.
2. The button should be the out

[2020-01-17 04:05] jackcmeyer opened #2117 "Make Navbar mobile friendly"
## 🐛 Bug Report

The Navbar is not mobile friendly.

## To Reproduce

Render the Navbar on any mobile device

![image](https://user-images.githubusercontent.com/18731800/72583497-1a993500-38ac-11ea-9ad5-153d83154acf.png)

## Expected behavior

The Navbar options should be collapsed into a hamburger button. One the hamburger button is clicked, it should have a dropdown with all of the options that

[2020-01-18 17:48] #1728 closed

[2020-01-18 17:54] Kgwenzi commented on #1508
What of using the React detect offline library like this :

https://github.com/chrisbolin/offline/blob/master/src/App.js

For example:
[code]

In the `<offline>` tag, the software can be run through in offline mode but with a notification on the top saying the text. Although the user would be offline, the data he/she inputs should be saved till they go back online. so use of the `useEffect` hook w

[2020-01-20 00:46] jackcmeyer opened #1739 "Remove related person"
## Scenario
**AS**

A user who has write access to a patient

**I WANT**

To be able to remove a related person

**SO THAT**

My data can be free of any unnecessary entries

## Acceptance Criteria
**GIVEN**

A user with write access to patients

AND

An existing patient with related persons

**WHEN**

I go to the related persons screen

**THEN**

I should see a delete button next to each related p

[2020-01-20 00:46] jackcmeyer opened #1768 "Remove related person"
## Scenario
**AS**

A user who has write access to a patient

**I WANT**

To be able to remove a related person

**SO THAT**

My data can be free of any unnecessary entries

## Acceptance Criteria
**GIVEN**

A user with write access to patients

AND

An existing patient with related persons

**WHEN**

I go to the related persons screen

**THEN**

I should see a delete button next to each related p

[2020-01-21 03:49] jackcmeyer opened #1743 "Edit patient details"
## Scenario
**AS**

A user with write access to patients

**I WANT**

The ability to edit patient details

**SO THAT**

I can have more accurate patient information or change the patient information when needed.

## Acceptance Criteria
**GIVEN**

An existing patient and a user with write access to the patient

**WHEN**

I click the edit button the on patients page

**THEN**

The fields become edit

[2020-01-21 03:49] jackcmeyer opened #1765 "Edit patient details"
## Scenario
**AS**

A user with write access to patients

**I WANT**

The ability to edit patient details

**SO THAT**

I can have more accurate patient information or change the patient information when needed.

## Acceptance Criteria
**GIVEN**

An existing patient and a user with write access to the patient

**WHEN**

I click the edit button the on patients page

**THEN**

The fields become edit

[2020-01-21 03:52] jackcmeyer opened #1744 "View appointments in calendar"
## Scenario
**AS**

A user with read access to appointments

**I WANT**

The ability to view the appointments in a calendar view on the `/appointments` route.

**SO THAT**

I can have a better idea of the scheduling at my practice.

## Acceptance Criteria
**GIVEN**

Existing appointments and read access to appointments

**WHEN**

I access the `/appointments` tab

**THEN**

I see the appointments i

[2020-01-21 03:52] jackcmeyer opened #1767 "View appointments in calendar"
## Scenario
**AS**

A user with read access to appointments

**I WANT**

The ability to view the appointments in a calendar view on the `/appointments` route.

**SO THAT**

I can have a better idea of the scheduling at my practice.

## Acceptance Criteria
**GIVEN**

Existing appointments and read access to appointments

**WHEN**

I access the `/appointments` tab

**THEN**

I see the appointments i

[2020-01-21 21:28] ldyim commented on #1731
Hi @jackcmeyer,
I've been trying to work this out and have made a method like `useTitle` that I call `useButton` I created it the same format `useTitle` was created and stored it in the page-header folder. The problem I'm having is that if I make the content customizable, I would need multiple reducers i.e buttonText, endpoint, icon. This is fine, but then I need to import them into store/index.ts

[2020-01-22 10:23] fox1t commented on #1508
@Kgwenzi Hi, thanks to pointing out this lib. For data persistency we use pouchdb, so saving part and sync when online is covered seamlessly. We can use `react-detect-offline` to display an icon/text while offline, with a clarification of the implications.

[2020-01-22 18:25] MatthewDorner commented on #1508
`react-detect-offline` allows us to pass the database URL and poll that specifically. Using PouchDB sync callbacks as described earlier in the thread seems like it would have some benefits, but be more complex to implement.

And how should this message appear?

[2020-01-22 18:39] jackcmeyer commented on #1508
@MatthewDorner I looked into using the pause/unpause events for determining if the db is syncing or not. Apparently these events are used for when the app connects/unconnects and when it starts syncing/some syncing.

Do you have any experience with these events (or any others that might work)?

[2020-01-22 19:15] MatthewDorner commented on #1508
Just tested this, you get a `paused` event when you make CouchDB inaccessible, but you also get it when the connection is up and syncing is complete. And none of the other events ('complete', 'active', 'change', 'denied' and 'error') occur either.

There IS an `options.back_off_function` you can supply which runs when the connection fails and sync needs to be retried, but its real purpose is to le

[2020-01-22 19:29] MatthewDorner commented on #1508
Also if you supply `retry:false` to options, when `paused` occurs due to lost connection you'll get an error object. But then it won't automatically retry... And with `retry:true`, `paused` doesn't supply the error object so you can't tell.

https://stackoverflow.com/questions/26892438/how-to-know-when-weve-lost-sync-with-a-remote-couchdb

[2020-01-22 21:26] broerse commented on #1508
We still use the green and red clouds I pointed out before in this issue for many customers and they understand it. See https://bloggr.exmer.com/

[2020-01-22 23:52] MatthewDorner commented on #1508
@broerse I see, the `pause` message works differently when you use the `replicate.to` and `replicate.from` instead of just sync. now it provides an error object when replication fails.

[2020-01-23 10:40] Kgwenzi commented on #1508
@MathewDorner Ain't it possible to use the `retry:false` option and if the application encouters an error, an event listener starts a counter of 30 seconds is started to then retry the app.  Therefore every 30 seconds the user is told the error if there isn't a connection.

[2020-01-23 14:25] fox1t commented on #1508
The desired behavior is:
1. "User goes offline -> we write "you are working in offline mode" and make this text not removable.
2. User backs online -> we remove "you are working in offline mode", we write "you are back online" and remove this last message after some seconds.

Speaking of sync, we will address it in a separate issue as we need to work on the server side before deciding about FE.
Wh

[2020-01-25 02:25] MatthewDorner commented on #1743
I can work on this.

[2020-01-25 03:29] jackcmeyer commented on #1743
@MatthewDorner all yours!

I would wait until https://github.com/HospitalRun/hospitalrun-frontend/pull/1738 gets merged to start implementing the database stuff, since this should provide a nice function to update fields with.

However, this shouldn't block doing some of the UI part of this work.

[2020-01-25 11:01] #1689 closed

[2020-01-26 04:37] jackcmeyer opened #1761 "New Patient form text boxes should have correct text input type"
## 🐛 Bug Report

The text boxes on the new patient form should have the correct input types. Right now, on a mobile phone it does not open the correct keyboard

## Expected behavior
* Phone Number should have type `tel`
* Email should have type `email`.

Correct keyboard should be opened on mobile.

## Changes needed
`TextInputWithFormLabel` component needs to support more input types and then the

[2020-01-26 04:37] jackcmeyer opened #1749 "New Patient form text boxes should have correct text input type"
## 🐛 Bug Report

The text boxes on the new patient form should have the correct input types. Right now, on a mobile phone it does not open the correct keyboard

## Expected behavior
* Phone Number should have type `tel`
* Email should have type `email`.

Correct keyboard should be opened on mobile.

## Changes needed
`TextInputWithFormLabel` component needs to support more input types and then the

[2020-01-26 04:48] jackcmeyer opened #1764 "Successful alert when new related person is added"
## Scenario
**AS**

A user with write access to a patient

**I WANT**

A notification that I have successfully added a related person to a patient

**SO THAT**

I am not confused to whether or not the related person has been successfully added.

## Acceptance Criteria
**GIVEN**

Write access to the patient

AND

I have clicked the add new related person button after successfully filing out the new

[2020-01-26 06:04] jackcmeyer opened #1763 "Clicking on related person should navigate to patient profile"
## Scenario
**AS**

A user who has read access to patients

**I WANT**

The ability to click on a related person and have it bring me to their patient profile

**SO THAT**

I can view information about that related peron

## Acceptance Criteria
**GIVEN**

An existing patient

AND

An existing related person

AND

Read access to patiens
**WHEN**

I click on the related person
**THEN**

The applicat

[2020-01-26 14:19] fox1t commented on #1743
@MatthewDorner nice!

[2020-01-28 01:45] MatthewDorner opened #1760 "New Related Person typeahead is case-sensitive"
## 🐛 Bug Report
When adding a new Related Person to a Patient, the typeahead will not match "Matt" if you type "matt", etc so you will not be able to add the person unless you match the capitalization. It's also accent sensitive, so "Métt" will not match if you type "Mett".

## Expected behavior
Searching for patient name should be case-insensitive and accent-insensitive.

[2020-01-29 01:11] jackcmeyer opened #1771 "Add notes to patients"
## Scenario
**AS**

A user with write access to patients

**I WANT**

The ability enter notes about the patient

**SO THAT**

I can keep track of information about the patient

## Acceptance Criteria
**GIVEN**

A user with write access to patients and an existing patient

**WHEN**

I navigate to the notes tab

**THEN**

I should see a button that allows me to add a new note.

## Related Issues

##

[2020-01-29 01:15] jackcmeyer opened #1772 "View Appointment"
## Scenario
**AS**

A user with read access to appointments

**I WANT**

The ability to view an appointment

**SO THAT**

I can look at the appointment information

## Acceptance Criteria
**GIVEN**

A user with read access to appointments and an existing an appointment

**WHEN**

I navigate to `/appointments/:id`

**THEN**
I should see the appointment details

## Related Issues
HospitalRun/hospita

[2020-01-29 13:20] tehKapa commented on #1765
@jackcmeyer #1738 merged

[2020-01-29 16:58] fox1t opened #1775 "Lint command is not fixing properly the code"
## 💥 Regression Report

In this [PR](https://github.com/HospitalRun/hospitalrun-frontend/pull/1736) we discovered that the code wasn't formatted properly.

## Last working version

Worked up to version: We don't really know

## To Reproduce

Steps to reproduce the behavior:
* Commit some code that is clearly not properly formatted, ex. `import {cuzz} from 'cuzzo'` instead of the correct`import { c

[2020-01-30 18:13] ocBruno commented on #1764
Attempting to start this one implementing the toaster component but running into css issues. Not sure if the styles are compiling as they should be or maybe if it's because of an outdated components library but the compiled scss folder is empty in the current components library.

Here is an example of toastify that uses inline styles and also allows options to be passed to the component. Although

[2020-01-30 18:39] MatthewDorner commented on #1764
I see, the toast that appears when adding a new patient is also not the right color. This seems like a separate issue though. This issue only needs to make the toast appear after adding the related person, and we can open a new issue to fix the CSS.

[2020-01-30 18:41] jackcmeyer commented on #1764
Ageee with @MatthewDorner here. Let’s just get the toaster appearing and we will worry about colors later!

[2020-01-30 21:00] ocBruno commented on #1764
Hey @jackcmeyer @MatthewDorner
Tried giving this one a shot but was a little unsure on where and how to handle the async action within redux. The css is styling is practically non existant but I added the main functionality I'm just not sure about the design pattern if anyone has any ideas I tried keeping things decoupled and also added some other organization suggestions.
--
-There's also a sugge

[2020-01-31 15:15] matteo1976 commented on #1775
can I work on this issue?

[2020-01-31 23:45] jackcmeyer commented on #1775
@matteo1976 of course!

[2020-02-02 03:13] MatthewDorner commented on #1765
Still working on this. Trying to see if I can just use the `GeneralInformation` form as New/Edit patient instead of having additional form, but getting in trouble with logic around saving and loading the model, Redux state, and state + props for the form.

I found the code for loading Patients is also currently bugged. The `Spinner` in ViewPatient never gets shown because it's checking for `!patie

[2020-02-02 04:01] jackcmeyer commented on #1765
I'm digging into why the component is not updating when the new patient gets loaded.

The store is getting updated, but the component is not reflecting those changes.

[2020-02-02 04:03] MatthewDorner commented on #1765
It must be something to do with empty strings.

[2020-02-02 04:36] jackcmeyer commented on #1765
@MatthewDorner I'm finding that it is always holding on to old information (except for the title).

[2020-02-02 04:59] jackcmeyer commented on #1765
After further investigation,

This seems like an issue with The TextInput and TextField components in the hospitalrun/components library.

I verified and all of components are getting passed the proper data, however, `TextInput` and `TextField` are just not displaying them properly.

I verified this by swapping out `TextInput` and `TextField` with just a normal input field and in `TextFieldWithLab

[2020-02-02 09:36] tehKapa commented on #1775
@matteo1976 seems there is already a PR https://github.com/HospitalRun/hospitalrun-frontend/pull/1780

[2020-02-02 09:41] tehKapa opened #1781 "Property 'brand' does not exist on type IntrinsicAttributes"
## 💥 Regression Report

Seems to be an [incompatibility](https://github.com/HospitalRun/hospitalrun-frontend/pull/1776/checks?check_run_id=418840720) with new version 0.32.0 of components

## Last working version

Worked up to version: 0.31.0

Stopped working in version: [0.32.0](https://github.com/HospitalRun/components/pull/228)

[code]

[2020-02-02 11:52] fox1t commented on #1765
I really want to avoid passing empty strings for "signaling" that is a new patient. Do you have any alternative ideas, @MatthewDorner ?

Good findings @jackcmeyer!

[2020-02-02 19:36] ocBruno commented on #1775
hey @matteo1976 I did a little troubleshooting here also and it seems to be something with husky and it's pre-commit lint-staged hook. Haven't figured out what's happening yet if you are also troubleshooting.

[2020-02-02 20:55] Revln9 commented on #1773
[code]

you can also subscribe to this event like that

`   document.body.addEventListener("online", function () {
         console.log("online")
       }, false);`

`   document.body.addEventListener("offline", function () {
         console.log("online")
       }, false);`

https://caniuse.com/#feat=online-status

96 % global usage seems pretty good what do you think?

[2020-02-03 06:03] MatthewDorner opened #1783 "Updating patient causes duplicate due to document version conflict"
## 🐛 Bug Report
When you update an existing document in PouchDB, you need to give the database the `_rev` of the document that's currently in the database. If you supply an older `_rev`, it will cause a document update conflict. When we update a Patient, this creates a new `_rev` but we are not pulling that out of the database and updating our Redux state with it. The logic in `saveOrUpdate` curre

[2020-02-03 11:40] #1781 closed

[2020-02-03 19:02] ocBruno commented on #1783
Hey @MatthewDorner!

I want to learn about pouchdb and thought this issue would give me a chance to dive into it a bit more.

- Do you suggest we create a helper to retrieve the document to be updated's _rev value beforeUpdate or keep it stored in redux to begin with. Not sure which solution is the more performant choice for when we start working with large datasets.

- For now I will try rework t

[2020-02-03 19:33] MatthewDorner commented on #1783
I'm not totally clear on the Redux stuff yet. Maybe try to find other codebases that use PouchDB and Redux and see how they do it?

[2020-02-03 19:57] ocBruno commented on #1783
I was taking a look at this code sample and it seems like we are sending a _rev when we update but on error we do seem to save the current state and not supply any error messages.
I'll continue troubleshooting but if anyone has any insights drop in!

  `async save(entity: T): Promise<T> {
    const { id, rev, ...valuesToSave } = entity
    const savedEntity = await this.db.put({ _id: getTime(new D

[2020-02-03 21:26] MatthewDorner commented on #1783
saveOrUpdate does:

[code]

and then `updatePatientSuccess` is supposed to set that Patient to state. So that all seems like it ought to work. I'd try debugging around those functions and see what the `_rev` of the patient being passed around it, to see where it's breaking.

[2020-02-03 21:39] ocBruno commented on #1783
Currently doing some debugging considering I'm having trouble even adding a related person having something to do with missing patientId on save.

[2020-02-04 01:34] jackcmeyer opened #1789 "Related Persons screen always shows loading when there are no related persons"
🐛 Bug Report

When a patient does not have a related person, the related person tab always shows loading.

## To Reproduce

1. Navigate to a patient without a related person
2. Navigate to the related persons tab
3. See that the related person tab always shows loading

## Expected behavior
A warning message should appear stating that there are no related persons and describe how to add one.

Howev

[2020-02-04 11:27] Kgwenzi commented on #1761
Fixed it Up, hopefully up to your standards
 😄

[2020-02-04 14:35] #1783 closed

[2020-02-04 18:30] ocBruno opened #1790 "Unhandled Rejection (TypeError): On create new patient"
## 🐛 Bug Report

Unhandled Rejection (TypeError):
Cannot read property 'slice' of undefined
PatientRepository.getFriendlyId

## To Reproduce

Steps to reproduce the behavior:

clone the following PR
https://github.com/ocBruno/hospitalrun-frontend/pull/new/bug/patient-repo-error

yarn
yarn run start
Patient-New
Fill out and create new patient
Receive Error

Paste your code here:

×
[code]

## Expec

[2020-02-04 18:45] ocBruno commented on #1790
@jackcmeyer resolved this one over at the slack chat!
This issue is due to the database not being stable yet and a patient created without a friendlyId causes the database to break. To fix this problem for the time being delete your indexdb folder's content located here in windows:
%USERPROFILE%\AppData\Local\Google\Chrome\User Data\Default\IndexedDB

mac:
/Users/[USERNAME]/Library/Application Sup

[2020-02-04 20:25] MatthewDorner commented on #1765
I've written a draft that I think will work. It uses `GeneralInformation` as the form for New, Edit, and View Patient, and `NewPatient`, `EditPatient`, `ViewPatient` containers that manage fetching and saving data and which contain the state.

https://github.com/MatthewDorner/hospitalrun-frontend/compare/MatthewDorner:master...MatthewDorner:edit-patient-draft-3

I have to fix all the tests now, so

[2020-02-04 23:05] ocBruno commented on #1763
Almost finished this one up, just have to finish the tests.

[2020-02-05 03:42] jackcmeyer opened #1793 "Add ability to create New Appointment"
## Scenario
**AS**
A user with write access to appointments

**I WANT**
The ability to create a new appointment

**SO THAT**
I can schedule and appointment

## Acceptance Criteria
**GIVEN**
A user with write access to appointment

**WHEN**
When the `/appointments/new` route is accessed

**THEN**
I should get a form that prompts me for data about the new appointment

The following data elements sho

[2020-02-05 03:42] #1793 closed

[2020-02-05 03:42] jackcmeyer opened #1794 "React PWA Support"
## 🚀 Feature Proposal

Support Progressive Web Apps for React.

## Motivation

offline first

[2020-02-05 03:42] #1794 closed

[2020-02-05 03:43] jackcmeyer opened #1795 "Create New Patient"
## Scenario
**AS** a user with patient write access
**I WANT** to be able to create a new patient
**SO THAT** I can enter a new patient into my system

## Acceptance Criteria
**GIVEN** there is a new patient to be added to the system
**WHEN** I access the /new/patients page
**THEN** I should see a form that allows me to enter the following data:

* Name - (prefix, given name, family name, suffix)

[2020-02-05 03:43] #1795 closed

[2020-02-05 03:43] jackcmeyer opened #1796 "View Patient Data"
## Scenario
**AS**

A user with read access to patient data

**I WANT**

The ability to view information about a patient when I access the `/patients/:id` route

**SO THAT**

I can see the patients information.

## Acceptance Criteria
**GIVEN**

A logged in user with read access to patients and an existing patient

**WHEN**

I access the `/patients/:id` route

**THEN**

I should see a header with

[2020-02-05 03:43] #1796 closed

[2020-02-05 03:44] jackcmeyer opened #1797 "Success toast after creating a patient"
## Scenario
**AS**

As a user with write access to patient data

**I WANT**

A success toast to be displayed after a patient has been successfully created

**SO THAT**

I know that the system did what I wanted it to do.

## Acceptance Criteria
**GIVEN**

The save patient button was clicked

**WHEN**

The system successfully creates a patient

**THEN**

It should display a toast saying that the pat

[2020-02-05 03:44] #1797 closed

[2020-02-05 03:44] jackcmeyer opened #1798 "Add simple name search for Patients"
## Scenario
**AS**

A user with read access to patients

**I WANT**

The ability to fuzzy search for patients by name

**SO THAT**

I find someone who I am looking for.

## Acceptance Criteria
**GIVEN**

A logged in user with read access to patients and patients in the database

**WHEN**

I type a patient's name in the search patients box

**THEN**

I want to results that are similar to the patien

[2020-02-05 03:44] #1798 closed

[2020-02-05 03:45] jackcmeyer opened #1799 "Add `friendlyId` for Patients"
## Scenario
**AS**

A user with read/write access to patients

**I WANT**

the ability to see a "friendlyId" for the patient

**SO THAT**

I have an easier way to refer to patients

## Acceptance Criteria
**GIVEN**

The user has write access to a patient

**WHEN**

The user clicks on the create new patient button

**THEN**

A friendly id gets generated for the patient based on the maximum friendly

[2020-02-05 03:45] #1799 closed

[2020-02-05 03:45] jackcmeyer opened #1800 "Create scheduling module"
## Scenario
**AS**
A user who has read/write access to appointments

**I WANT**
A scheduling module

**SO THAT**
I can have an easy way to manage the schedule of my hospital/clinic

## Acceptance Criteria
**GIVEN**
A user who has read or write access to appointments

**WHEN**
I access the `/appointments` endpoint

**THEN**
I should see a calendar that _WILL_ have the ability to have appointments o

[2020-02-05 03:45] #1800 closed

[2020-02-05 03:45] jackcmeyer opened #1801 "Add relationships to patient"
## Scenario
**AS**

A user with write access to patient data

**I WANT**

The ability to add relationships to a patient

**SO THAT**

I can easily understand the relationships that a patient has.

## Acceptance Criteria
**GIVEN**

A logged in user with write access to patient data and an existing patient

**WHEN**

I access the `/patients/:id` route and click the add relationship button

**THEN**

[2020-02-05 03:45] #1801 closed

[2020-02-05 03:46] joelelangovan1985 opened #1802 "Age and DOB"
**Expected
![age](https://user-images.githubusercontent.com/5588760/61896168-00505100-af32-11e9-8cc1-2f998c92f392.jpg)
 behavior:**
Many people in rural India, dont know the DOB, There should be a option to enter age instead of DOB
**Actual behavior:**
No Option to enter age

How do i overcome this problem ? age to DOB conversion would be useful.

[2020-02-05 03:46] #1802 closed

[2020-02-05 03:46] ocBruno opened #1803 "improve(abstraction): Create a Person type"
## 🚀 Feature Proposal

Add a person type to be extended by various persons such as Patient, RelatedPerson, Doctor and future variations of person.

## Motivation

 I saw that relatedperson was of type patient but I'm not sure we should set this restriction unless necessary considering there might be cases of relatedperson which aren't patients. Also with a person type we could set common traits fo

[2020-02-05 03:46] #1803 closed

[2020-02-05 04:00] jackcmeyer opened #1804 "Cleanup logs in tests"
## 🐛 Bug Report

There many extraneous logs in the test suite that can get removed.
* i8next logs on many tests

## To Reproduce

Run test suite

[code]

## Expected behavior

Logs statements should be reduced

## Your Environment

- _node version_: 10,12,13
- _os_: Mac, Windows, Linux
- _any other relevant information_

[2020-02-05 04:01] #1790 closed

[2020-02-05 15:30] fox1t commented on #1765
If you want, feel free to open a PR so we can discuss it there.

[2020-02-06 04:11] Pranav2612000 commented on #1789
Hey! Is anybody working on this? I would like to contribute.

[2020-02-06 04:13] jackcmeyer commented on #1789
@Pranav2612000 go ahead! issue is all yours!

[2020-02-06 04:35] jackcmeyer opened #1807 "Edit Appointment"
## Scenario
**AS**

A user with write access to appointments

**I WANT**

To be able to edit details about an appointment

**SO THAT**

The appointment can change after creating it

## Acceptance Criteria
**GIVEN**

An existing appointment and a user with write access to the appointments

**WHEN**

I navigate the `/appointments/:id`, then I should see an edit button on the screen in the top right

[2020-02-06 11:12] fox1t opened #1808 "Bundle size too large"
## 💥 Regression Report

Even if we use bundlephobia and try to have a very strict policy when adding new dependencies, we still managed to make the current bundle size too large for real world.
This is the message that popups after building the project:
[code]
We need to find a way to optimize our bundle.
To analyze the dependency tree I've added a new script to the package.json
`"analyze": "sourc

[2020-02-06 17:08] Pranav2612000 commented on #1789
I have started working on the task. Is it as simple as changing the "Loading..." text to something more informative say "No Related Members"

[2020-02-06 18:03] jackcmeyer commented on #1789
Not quite @Pranav2612000.

It should show loading when the page is loading.

And when it’s done loading, it should either show related persons or something more helpful.

[2020-02-06 20:46] #1767 closed

[2020-02-06 20:46] #1772 closed

[2020-02-06 21:18] ocBruno commented on #1789
Hey @archwheeler I forgot to give notice I had started this one but feel free to take it over, I am going to leave a commit here incase you want to adapt something into your PR.

[2020-02-07 05:06] Pranav2612000 commented on #1789
Hey!! I too had started working on the project and have made the changes as requested, adding a 'isLoading' state to show "Loading..." when the component is loading and "No related persons have been added yet" to show when no related persons are present.

[2020-02-07 05:19] Pranav2612000 commented on #1789
@ocBruno Tried your commit, couldn't get it to work. It still shows "No related persons. Insert one by click above on New Related Person." for a fraction of second before transitioning to the list of related persons.

[2020-02-07 11:23] #1760 closed

[2020-02-07 13:04] ocBruno commented on #1789
@archwheeler feel free to remove anything unnecessary, I had noticed that it loaded very quickly I couldn't even see the loading message.I stopped when I was trying to learn to use breakpoits on the chrome inspector to make sure the loading message was appearing

[2020-02-07 15:07] #1775 closed

[2020-02-07 20:07] #1763 closed

[2020-02-07 21:33] ocBruno commented on #1768
I was going to give this a shot for pratice.Does anyone have any guidelines on the best design pattern approach?
I see we are storing related persons in an array and considering redux state is immutable should we create something like this code example with a new relatedPersons and just not insert the related person with a certain id?

I'm trying to leave good first issues to attract new contribut

[2020-02-08 08:55] #1765 closed

[2020-02-09 07:58] Pranav2612000 commented on #1771
I can work on this.
A new "Notes" Tab needs to be created right?

[2020-02-10 02:27] MatthewDorner commented on #1804
I'm working on tests now so I can take a look at this.

[2020-02-11 03:15] jackcmeyer opened #1818 "Success message shows undefined instead of empty string if name part was not filled out when creating new patient"
## 🐛 Bug Report

When creating a new patient, the success message shows undefined instead of an empty string if name part was not filled out.

## To Reproduce

Steps to reproduce the behavior:

1. Navigate to new patient
2. fill in given and family names
3. Save patient
4. See that the succcess messages read `.... family given undefined`

## Expected behavior

The success message should read `...

[2020-02-12 05:09] igeagonz commented on #1818
I'd like to take a look at this

[2020-02-12 18:17] ocBruno commented on #1808
Taking a look at the bundles individually to see if there are any possible optimizations.

This issue https://github.com/FortAwesome/react-fontawesome/issues/70 might have some insight on reducing fortawesome bundlesize.

Not very experienced in this area but willing to learn, could we attempt some sort of tree shaking for reducing free-svg-icons and fortawesome bundle size?

[2020-02-12 20:52] igeagonz commented on #1818
PR for this: https://github.com/HospitalRun/hospitalrun-frontend/pull/1822

[2020-02-13 00:01] jackcmeyer commented on #1808
@ocBruno, I think this is definitely worth some time exploring.

[2020-02-13 09:16] #1804 closed

[2020-02-13 16:14] #1818 closed

[2020-02-13 17:12] #1789 closed

[2020-02-13 19:07] MatthewDorner commented on #1807
I can take this one, should be pretty easy to do in the same manner as Edit Patient.

[2020-02-13 20:59] igeagonz commented on #1769
Working on this. May have something soon.

[2020-02-14 22:26] ocBruno commented on #1808
Had my first week of work so I wasn't as active as I could've been with all the adapting.
Going to dive into this issue and others tonight and the rest of the weekend!
Have a good weekend everyone!

[2020-02-17 11:25] oizuldan commented on #1766
Is there anybody doing this task or can I do it?

[2020-02-17 14:01] jackcmeyer commented on #1766
I have been working on this one.

[2020-02-17 14:04] oizuldan commented on #1764
Can I take this issue?

[2020-02-17 14:30] aprameyakatti commented on #1768
hi, I wanna contribute to this issue can I know how would I start contributing for this issue?

[2020-02-17 15:56] oizuldan commented on #1761
Can I take this issue?

[2020-02-18 05:56] jackcmeyer commented on #1768
Hi @aprameyakatti. I've actually been working on this issue. I apologize for not assigning into myself to make it clear.

[2020-02-18 11:07] ocBruno commented on #1764
Hey @oizuldan, I've been really busy these past days so feel free!

[2020-02-18 12:19] oizuldan commented on #1764
@jackcmeyer can you assign me to this task?

[2020-02-18 13:45] wwbarros commented on #1771
@jackcmeyer I'd like to help with this

[2020-02-18 14:02] jackcmeyer commented on #1771
@wwbarros I've assigned this to you.

[2020-02-18 14:03] jackcmeyer commented on #1761
@oizuldan I've assigned this to you!

[2020-02-19 05:09] jackcmeyer opened #1836 "Add missing tests for Patient Appointment List"
🐛 Bug Report

Tests are missing for the Patient Appointment List Functionality.

This includes tests missing for the following files and functions:
`AppointmentList.tsx`
`fetchPatientAppointments()` in `appointments-slice.ts`
`searchPatientAppointments` in `AppointmentRepository.ts`

## To Reproduce
Run `yarn coveralls` and see missing line coverage
[code]

[2020-02-20 00:16] andrew-oxenburgh commented on #1773
I'm looking for a first ticket and I could pick this up based on RevIn9s' https://caniuse.com/#feat=online-status but what does it actually look like? Text was mentioned, but where would that go? Someone mentioned a cloud icon.

[2020-02-20 00:57] jackcmeyer opened #1838 "Add ability to add diagnoses to patient"
## Scenario
**AS**

A user with write access to patients and the ability to add diagnoses

**I WANT**

The ability to add a diagnoses to a patient

**SO THAT**

I can keep track of my patient's medical situation

## Acceptance Criteria

## Related Issues

## Technical Notes
* Both Diagnosis and Name should be required
* Will require new permissions
* Will require a new tab and this tab should only

[2020-02-20 01:07] andrew-oxenburgh commented on #1836
These files don't seem to exist anywhere in the repo:
[code]

Also, couldn't find  ```fetchPatientAppointments()``` or ```searchPatientAppointments()``` anywhere.

[2020-02-20 01:12] jackcmeyer commented on #1769
Closing since this functionality was completed in #1823

[2020-02-20 01:12] #1769 closed

[2020-02-20 01:14] jackcmeyer commented on #1836
Functionality was completed in https://github.com/HospitalRun/hospitalrun-frontend/pull/1823.

Relevant files:
* https://github.com/HospitalRun/hospitalrun-frontend/blob/master/src/patients/appointments/AppointmentsList.tsx
* https://github.com/HospitalRun/hospitalrun-frontend/blob/master/src/scheduling/appointments/appointment-slice.ts
* https://github.com/HospitalRun/hospitalrun-frontend/blob/ma

[2020-02-20 01:17] jackcmeyer opened #1839 "Add ability to add allergies for patients"
## Scenario
**AS**
A user with write access to patients and the ability to add a new allergy

**I WANT**
To be able to add a new allergy to my patient

**SO THAT**
I can know what things my patient is allergic to

## Acceptance Criteria

## Related Issues

## Technical Notes
* Requires new tab
* Requires new permissions
* Allergy Name field is required

[2020-02-20 01:24] jackcmeyer opened #1840 "Patient Search should live search (debounce)"
## Scenario
**AS**
A user who has the ability to search patients

**I WANT**
The search box on the patients search page to search for patients as I type

**SO THAT**
I do not need to click enter or the search button to fire a search request

## Acceptance Criteria

## Related Issues
#1798

## Technical Notes
* Clicking enter or the search button should immediately fire the search
* https://dev.to/

[2020-02-20 01:31] jackcmeyer opened #1841 "Add new appointment button in patient's appointments tab"
## Scenario
**AS**
A user with the ability to create appointments

**I WANT**
A new appointment button in the patient's appointments tab so that

**SO THAT**
I can quickly make a new appointment for that patient.

## Acceptance Criteria

## Related Issues

## Technical Notes
* Button should have add appointment icon

[2020-02-20 02:30] dexterastin commented on #1841
I'd like to help with this

[2020-02-20 02:31] jackcmeyer commented on #1841
Sure, @dexterastin. I have assigned this to you.

[2020-02-20 08:21] #1766 closed

[2020-02-21 03:47] emauricio commented on #1840
Hi there, I'm new here. this popup on projects that I could help for first-issue, so I would like to give it a try. 😄

[2020-02-21 11:22] tehKapa commented on #1840
Ok @emauricio

[2020-02-22 09:15] rahulinvictus commented on #314
Has this been rolled yet? If not, is there a way to manage this by changing source code?

[2020-02-23 13:19] #1770 closed

[2020-02-24 08:54] #1839 closed

[2020-02-24 13:04] #1807 closed

[2020-02-24 13:41] #1761 closed

[2020-02-25 03:55] jackcmeyer opened #1852 "Button toolbar does not have correct alignment when there is more than one button"
## 🐛 Bug Report

When the button toolbar has more than one button, the alignment does not look correct.

## To Reproduce

1, Create a new appointemnt
2. Click on the appointment in the calendar
3. See the button toolbar does not look right

![image](https://user-images.githubusercontent.com/18731800/75213648-5e574800-5750-11ea-974d-2f371e2edb24.png)

## Expected behavior

The button toolbar should

[2020-02-25 03:58] jackcmeyer opened #1853 "Breadcrumbs shows time to seconds precision when viewing an appointment"
## 🐛 Bug Report

When viewing an appointment, the breadcrumb link shows the start date and end date the seconds precision.

## To Reproduce

Steps to reproduce the behavior:

1. Create a new appointment
2. Click on the appointment in the calendar
3. See the breadcrumb

![image](https://user-images.githubusercontent.com/18731800/75213749-baba6780-5750-11ea-8264-fc806758d93a.png)

## Expected behavi

[2020-02-25 04:01] jackcmeyer opened #1854 "Breadcrumb for edit appointment is not correct"
The breadcrumb for edit appointment shows `Patient`, which is not correct

## 🐛 Bug Report
When editing an appointment, the breadcrumb shows `Patient`

## To Reproduce
1. Create new appointment
2. Click on appointment in calendar
3. Click on edit button
4. View incorrect breadcrumb

![image](https://user-images.githubusercontent.com/18731800/75213838-0836d480-5751-11ea-98ed-40f196e5ffe5.png)

## E

[2020-02-25 04:09] jackcmeyer opened #1855 "Saving related person navigates to wrong route"
## 🐛 Bug Report

After adding a new related person, the tool navigates to `/patient/:id` instead of `/patient/:id/relatedpersons`

## To Reproduce
1. Create a new patient
2. Add a new related person
3. See that tool navigates you to `/patient/:id`

## Expected behavior
Tool should navigate to `/patient/:id/relatedpersons`

## Technical notes
Instead of using the `updatePatient()` function in `pati

[2020-02-25 04:13] jackcmeyer opened #1856 "Change `New Related Person` to `Add Related Person`"
* Change the `New Related Person` button text to `Add Related Person` in the Patient's Related Persons tab so that it is consistent and more accurately reflects what the button is doing.

* Change the Modal Title

* Change the Modal submit button

This also goes for

## Technical Notes
* Refactor component name from `NewRelatedPersonModal` to `AddRelatedPersonModal`

[2020-02-25 04:23] jackcmeyer opened #1857 "Make left hand sidebar items collapsible and allow for sub-links"
## 🚀 Feature Proposal

The left hand sidebar should make the items collapsible and allow for sub links.

Sidebar should look something like:

[code]

When accessing any route `/patient/**`, the Patients item should be highlighted.
When accessing any route `/appointments/**` the Scheduling item should be highlighted.

Sub items should also be properly marked active. (E.g. when New Patient screen is

[2020-02-25 04:28] jackcmeyer opened #1858 "Sidebar should be collapsible so only icons show"
## 🚀 Feature Proposal
The sidebar should be collapsible so only the icons show to maximize screen space.

This should be a user controlled behavior with some sort of expand/collapse icon.

This should automatically happen when the screen becomes a smaller screen.

## Motivation
The sidebar should be collapsible so only the icons show to maximize screen space.

## Example

See #103 for a detailed d

[2020-02-25 04:37] jackcmeyer opened #1859 "Implement navbar search behavior"
## 🚀 Feature Proposal
The Navbar should have some sort of quick search capability, for now, this will be just searching Patients using the existing Patient search functionality.

When I type into the searchbox, I would expect that results appear as I'm typing (almost like a typeahead). By clicking in one of those boxes, it should take me directly to that resource.

If I click the search button, th

[2020-02-26 00:06] tallskys commented on #1856
I'd like to help with this

[2020-02-26 01:58] jackcmeyer commented on #1856
@tallskys Sounds great, I've assigned this to you!

[2020-02-26 18:16] patrick-salvatore commented on #1854
Hello, I'd like to help out with this bug.

[2020-02-26 18:26] tehKapa commented on #1854
Hi, @patrick-salvatore. Thanks for your interest. Issuer assigned to you!

[2020-02-26 18:42] oliv37 commented on #1854
This is wrong, the breadcrumb doesn't show **at all**, because the hook `useAddBreadcrumb` is not called into this view. You see see `Patient` because it is the label of the first field, this label is not related to the breadcrumb

[2020-02-27 03:39] jackcmeyer commented on #1854
Thanks for the extra information @oliv37 :).

[2020-02-27 08:35] tehKapa commented on #1854
@patrick-salvatore, the original contributor who made the breadcrumbs has already fixed the bug. Thank you for your availability!

[2020-02-27 08:35] #1854 closed

[2020-02-27 11:16] oliv37 commented on #1853
I can work on it

[2020-02-27 13:15] tehKapa commented on #1853
Assigned

[2020-02-28 04:00] jackcmeyer opened #1869 "Appointment Type `Walk Up` should be `Walk In`"
🐛 Bug Report

HospitalRun v2.0.0 currently uses `Walk Up` instead of `Walk In` for an appointment type.

## To Reproduce
1. Create new appointment
2. Choose an appointment type
3. See Walk Up instead of Walk In

## Expected behavior
Walk up should be Walk In.

[2020-02-28 09:10] #1853 closed

[2020-02-29 09:22] #1852 closed

[2020-02-29 17:34] alti21 commented on #1869
Can I work on this?

[2020-03-01 15:53] jackcmeyer commented on #1869
I've assigned this to you @alti21!

[2020-03-01 20:24] wwbarros commented on #1771
Hi guys!
Are there any rich text component recommended for use here?

[2020-03-01 23:37] jackcmeyer commented on #1771
@wwbarros Our components library has a rich text editor in it that we should use! https://components.hospitalrun.io/?path=/story/richtext--default-rich-text-editor

[2020-03-02 19:31] MatthewDorner commented on #1855
Same for adding a new Allergy. I was wondering if the `history.push()` should even be in the `updatePatient()` function. Or alternatively there could be an argument to `updatePatient()` that tells it where to redirect to? I'm not sure which is best. If we're just trying to make it stay on the same route, does it even need to redirect at all as long as we make sure the new information is populated?

[2020-03-02 20:11] fox1t commented on #1855
I agree that it is correct to put the redirect in the same function that creates the resource. I like the idea to add another parameter: if no string is passed, no redirect will happen; otherwise it will happen. We can open new issue and link it here.

[2020-03-03 11:35] #1838 closed

[2020-03-03 11:54] fox1t opened #1876 "Use uniquely generated code instead of progressive number"
## 🐛 Bug Report

Since CouchDB is a really distributed database, we need to be sure that unique fields are really unique, even if two distinct users adds same resource at the same time.
Starting from this postulate, the method https://github.com/HospitalRun/hospitalrun-frontend/blob/master/src/clients/db/PatientRepository.ts#L7 doesn't respects it. This is a recommandation coming both, from PouchD

[2020-03-03 14:55] #1869 closed

[2020-03-03 15:28] fox1t opened #1877 "Use UUID instead of dateTime for PouchDB/CouchDB _id property"
## 🐛 Bug Report
Use [UUID version 4](https://www.npmjs.com/package/uuid#version-4-random) to generate cryptographically-strong random values and don't leak any further information. Store it in _id prop of every object that is going to be saved on the DBs.

[2020-03-04 02:09] jackcmeyer opened #1879 "Store created date and last updated date as part of a CouchDB model when saving/updating"
## 🚀 Feature Proposal

For auditing purposes, we would like to save the created date and last updated date for CouchDB models.

These should be stored as unix timestamps.

Created date should only be updated on object create.
Last Updated should be displayed anytime the model is updated.

## Motivation

Auditing

## Example
[code]

[2020-03-04 02:38] jackcmeyer commented on #1855
@MatthewDorner you are right, the same is true for adding allergies (and now diagnoses).

The reason that `history.push()` is called from the action is because that is the only place in the code that currently knows when the action of updating a patient has successfully completed.

I think that a preferable solution is to redirect from the component, since it seems like that is where the logic bel

[2020-03-04 13:08] rabbihossain commented on #1858
I think I can help with this. Should I start working on this?

[2020-03-05 01:52] jackcmeyer commented on #1858
@rabbihossain I've assigned this issue to you! let anyone on @HospitalRun/core-maintainers know if you need any help!

[2020-03-05 08:29] rabbihossain commented on #1858
Thanks for assigning this to me. I have already started working on it. I will get back to you once I finish implementing it.

[2020-03-05 10:23] #1876 closed

[2020-03-05 10:23] #1877 closed

[2020-03-05 10:23] #1879 closed

[2020-03-05 12:49] rabbihossain commented on #1858
hello @jackcmeyer ,
I am almost done implementing this. here is a preview of how the sidebar collapse toggle works.

![Peek 2020-03-05 18-43](https://user-images.githubusercontent.com/4346154/75982901-bdb41580-5f11-11ea-91e8-47bdccb8dd06.gif)

Please let me know if you have any feedback. Should I make a pull request?

[2020-03-05 13:15] jackcmeyer commented on #1858
This is awesome! Please open a PR 😀

[2020-03-05 17:15] #1855 closed

[2020-03-05 18:07] rabbihossain commented on #1858
@jackcmeyer, I am trying to make a pull request but when I run `npm run commit` (as it was written on the project readme document), it always fails on `npm run test:ci` step. Am I doing anything wrong?

[2020-03-05 22:25] tehKapa commented on #1858
@rabbihossain try to run this command:

1. `yarn`
2. `yarn lint:fix`
3. `yarn commit`

[2020-03-06 06:04] rabbihossain commented on #1858
thanks @tehKapa for helping me out. Looks like my changes broke some of the test cases. So I updated those test cases according to my changes. I also made a pull request.

[2020-03-07 19:35] rabbihossain commented on #1859
@jackcmeyer , I can help on that. Can you please assign this to me? Once my previous PR gets merged, I will start working on it.

[2020-03-07 19:39] #1858 closed

[2020-03-08 09:52] tehKapa commented on #1859
Done @rabbihossain :)

[2020-03-09 00:50] jackcmeyer commented on #1859
@rabbihossain  we have a `Typeahead` component that should be sufficient for this task, I think.

[2020-03-09 13:48] Donokami opened #1888 "Add French language"
## 🚀 Feature Proposal

It would be amazing to integrate translations of the app. Personally, I would invest myself in translating HospitalRun in french.

## Motivation

This app is quite incredible, as it could reduce a lot the big costs of hospital management software in low sized structures which are in hard times (in France in particular), and all around the world we speak different languages.

[2020-03-09 17:48] helenapaixao opened #1891 "Add Portuguese language"
## 🚀 Feature Proposal

It would be amazing to integrate translations of the app. Personally, I would invest myself in translating HospitalRun in portuguese.

## Motivation
This app is quite incredible, as it could reduce a lot the big costs of hospital management software in low sized structures which are in hard times, and all around the world we speak different languages.

## Example

It would b

[2020-03-10 08:57] tehKapa opened #1893 "Add language selector"
## 🚀 Feature Proposal

Add a menu selector to change the language

## Motivation

With merge of #1892, you can use multiple languages.

[2020-03-10 13:06] oizuldan commented on #1893
Can I take this one?

[2020-03-10 13:25] tehKapa commented on #1893
Ok

[2020-03-10 15:03] #1764 closed

[2020-03-11 01:35] martimfj commented on #1891
I would also like to contribute to this feature. I've seen that there is already some translated values in `/src/locales/ptBr/translations` but I encontred some mistakes and missing values. In the schedule page for instance, some elements of the calendar are not mapped to use I18next.

[2020-03-11 04:50] jackcmeyer opened #1894 "Success alert when new appointment is created"
## 🚀 Feature Proposal

When a new appointment is created, the user should be notified with a success message.

## Motivation

The user should be alerted when they do something.

[2020-03-11 13:15] tehKapa commented on #1891
Hi @martimfj
Unfortunately, the first implementation of the i18n was done 3 months ago. So if you encounter any missing elements you can safely add what you think is best.

[2020-03-11 21:04] martimfj commented on #1891
Hi @tehKapa

Is there a plan to translate the calendar component?

[2020-03-11 23:47] sotous commented on #1894
Hi, I would like to contribute to this issue, may I have it assigned to me?, I would use the same alert that you guys used when creating new patients.

[2020-03-12 01:15] sotous commented on #1894
@jackcmeyer I already solved the issue, I only need a confirmation to have the issue assigned and create a PR. Thanks in advance :)

[2020-03-12 01:26] jackcmeyer commented on #1894
I've assigned this to you!

[2020-03-12 15:30] wwbarros commented on #1891
I'd like to contribute too

[2020-03-12 15:41] sotous commented on #1894
Thanks! @jackcmeyer

[2020-03-13 02:29] jackcmeyer opened #1899 "No Related Persons warning not showing actual text"
## 🐛 Bug Report

The No Related Persons warning text is showing the internationalization keys rather than the actual text.

## To Reproduce

1. Navigate to a patient with no related persons
2. See that the no related persons warning does not have the proper text

![image](https://user-images.githubusercontent.com/18731800/76583970-9d073500-64a8-11ea-856b-0572dcb37bdc.png)

Paste your code here:

#

[2020-03-13 16:26] Brahyt commented on #1899
I would like to take this.

[2020-03-13 16:48] Brahyt opened #1901 "Delete appointment button text not displaying correctly"
# Bug Report
The button on an appointment is showing internationalization keys rather then the correct text.

## To Reproduce
- Navigate to 'Scheduling'
- Click on an appointment on the calendar

## Expected behavior
It should have the proper text on the button and title.

[2020-03-13 16:53] Brahyt commented on #1901
I would like to work on this

[2020-03-13 17:50] fox1t commented on #1901
Hi @Brahyt, thanks for reporting this. Assigned to you.

[2020-03-14 10:31] tehKapa commented on #1891
@martimfj there isn't an open issue about it. but you can create an issue and request the assignment.

@wwbarros what would you like to work on?

[2020-03-15 03:06] #1901 closed

[2020-03-15 12:26] rubencgt commented on #1899
Hello I created a PR that would fix this.
https://github.com/HospitalRun/hospitalrun-frontend/pull/1905
please feel free to comment on it.
thanks

[2020-03-15 12:56] tehKapa commented on #1899
Hi, @rubencgt thanks for your contribution :) To avoid making other people work for nothing, as written [here](https://github.com/HospitalRun/hospitalrun-frontend#working-on-an-issue), we always recommend waiting for the assignment. PR is fine anyway.
@Brahyt thank you for your helpfulness!!

[2020-03-15 13:53] medesaties opened #1906 "Patients Buttons position"
## 🐛 Bug Report

Buttons are close to the `div.card-body`.

## To Reproduce

Steps to reproduce the behavior:

1. Patients
2. New Patient
3. Scroll down the page
![image](https://user-images.githubusercontent.com/52140011/76702697-a4962c00-66aa-11ea-8f46-90d07c86a593.png)

## Expected behavior

The same of Scheduling > New Appointment
![image](https://user-images.githubusercontent.com/52140011/767

[2020-03-15 14:25] alti21 commented on #1906
Can I work on this?

[2020-03-15 14:29] tehKapa commented on #1906
@medesaties are you working on this already? Can I assign him to @alti21?

[2020-03-15 14:46] medesaties commented on #1906
Yes!

I am not, because I have no experience, I'm still learning. Thanks for asking.
Yes, you can!

[2020-03-15 17:40] Brahyt commented on #1899
No worries, always excited to help OSS.

[2020-03-15 18:34] jackcmeyer commented on #1906
The same issue also exists on the new appointments screen. I will open another ticket and link it here.

[2020-03-15 18:35] rubencgt commented on #1899
@tehKapa @Brahyt  as this is my PR I didn't know how it works.
next time it wont happen, apologies for the miss-understanding

[2020-03-15 18:57] #1899 closed

[2020-03-15 19:15] #1906 closed

[2020-03-16 18:12] mgm793 commented on #1856
Is this task done?

[2020-03-17 08:24] tehKapa commented on #1856
Hi @mgm793 no, but it's already been assigned. Thank you anyway for your interest.

[2020-03-18 01:24] #1894 closed

[2020-03-18 14:36] sotous commented on #1857
Hi! @jackcmeyer , may I have this issue assigned?

[2020-03-18 22:33] jackcmeyer commented on #1857
@sotous I have assigned this to you!

[2020-03-18 22:45] jackcmeyer opened #1915 "Mark required fields as required for New Patient/Edit Patient"
## 🚀 Feature Proposal

Mark required fields with the `*`.

The following fields are required:
* Given Name

Labels have the ability to be marked as required: https://components.hospitalrun.io/?path=/story/label--label.

## Motivation

Fields that are required should be marked as required so the user is aware that the field is required before saving.

[2020-03-18 22:48] jackcmeyer opened #1916 "Mark required fields in New Appointment/Edit Appointment"
# 🚀 Feature Proposal
Mark required fields with the `*`.

The following fields are required:
* Patient
* Start Date
* End Date

Labels have the ability to be marked as required: https://components.hospitalrun.io/?path=/story/label--label.

# Motivation
Fields that are required should be marked as required so the user is aware that the field is required before saving.

[2020-03-18 22:49] alti21 commented on #1915
May I work on this?

[2020-03-18 22:56] jackcmeyer opened #1918 "Provide better feedback in the New Patient/Edit Patient form"
## 🚀 Feature Proposal

Currently, the only error message that appears in the New Patient/Edit Patient form is a banner message that gives an error message.

When possible, we should provide feedback directly on the problematic field using: https://components.hospitalrun.io/?path=/story/textinput--invalid-text-field-with-error-message.

After completing this issue the following should be true:
* Wh

[2020-03-18 23:01] jackcmeyer opened #1917 "Provide better feedback in New Appointment/Edit Appointment Form"
## 🚀 Feature Proposal

Currently, the only error message that appears in the New Appointment/Edit Appointment form is a banner message that gives an error message.

When possible, we should provide feedback directly on the problematic field using: https://components.hospitalrun.io/?path=/story/textinput--invalid-text-field-with-error-message.

After completing this issue the following should be tr

[2020-03-18 23:10] jackcmeyer commented on #1841
@dexterastin any update on this?

[2020-03-18 23:14] jackcmeyer opened #1919 "Warn about missing translations"
## 🚀 Feature Proposal

I would like the application to warn about missing translations when starting the application or running tests.

A preferable solution would be to have a library that does this for us, which could mean switching internationalization libraries.

However, as a fallback, a custom script that runs as part of `yarn start` or `yarn test` should work as well.

## Motivation

Transl

[2020-03-18 23:26] jackcmeyer opened #1920 "Secondary, tertiary (etc) addresses, phone numbers, and emails for a patient"
## 🚀 Feature Proposal
I would like the ability to define secondary, tertiary, etc. phone numbers, addresses, and emails for a patient.

When creating a new patient or editing patient, I should be able to add these extra fields.

It should also be able to label what kind of phone number, address, or email it is.

Phone numbers can be one of the following:
- home
- work
- temp
- old
- mobile

Email

[2020-03-18 23:28] jackcmeyer commented on #1915
I've assigned this to you @alti21!

[2020-03-19 02:33] sotous commented on #1857
Thanks!

[2020-03-19 02:36] jackcmeyer opened #1928 "New Allergy Modal should mark required fields"
## 🚀 Feature Proposal
The name field should be marked with a `*` to indicate that it is required.

## Motivation
Better use experience.

[2020-03-19 02:36] jackcmeyer opened #1927 "New Related Persons Modal should mark required fields"
## 🚀 Feature Proposal
The related person field and relationship type field should be marked with a `*` to indicate that it is required.

## Motivation
Better use experience.

[2020-03-19 02:37] jackcmeyer opened #1926 "Add Diagnosis Modal should mark required fields"
## 🚀 Feature Proposal
The diagnosis name field and diagnosis date field should be marked with a `*` to indicate that it is required.

## Motivation
Better use experience.

[2020-03-19 02:40] jackcmeyer opened #1925 "Related Persons modal should provide better error feedback"
## 🚀 Feature Proposal
I would like the add related persons modal to provide better feedback for error messages.

Currently, the only error message is a banner error message.

After the completion of this issue, I would like it to provide feedback at the field level when possible.

The following should happen:
* When a Related Persons is not filled in, the related person should highlight in red, an

[2020-03-19 02:41] jackcmeyer opened #1924 "Add Allergy should provide better error feedback"
## 🚀 Feature Proposal
I would like the add allergy modal to provide better feedback for error messages.

Currently, the only error message is a banner error message.

After the completion of this issue, I would like it to provide feedback at the field level when possible.

The following should happen:
* When a name is not filled in, the name field should highlight in red, and provide feedback sayi

[2020-03-19 02:42] jackcmeyer opened #1923 "Add Diagnosis Modal should provide better error feedback"
## 🚀 Feature Proposal
I would like the add diagnosis to provide better feedback for error messages.

Currently, the only error message is a banner error message.

After the completion of this issue, I would like it to provide feedback at the field level when possible.

The following should happen:
* When a Diagnosis Name is not filled in, the diagnosis name field should highlight in red, and provi

[2020-03-19 02:48] jackcmeyer opened #1929 "`Add Diagnoses` should read `Add Diagnosis`"
# 🐛 Bug Report
`Add Diagnoses` should be `Add Diagnosis` instead.

## To Reproduce

1. View patient
2. Click Diagnoses tab
3. See that `Add Diagnoses` should read `Add Diagnosis`
4. Click `Add Diagnoses` button
5. See that modal title `Add Diagnoses` should say `Add Diagnosis`.

## Expected behavior

Modal title and button text should read `Add Diagnosis` instead of `Add Diagnoses`.

[2020-03-19 08:20] rabbihossain commented on #1859
Hi, there. Sorry I busy for a while. So, couldn't make any commit. Right now I am trying to make the changes. But I found that the Search on Navbar is from node_modules directory. Which is coming from the component repository of yours. Can I make changes on component repository? Should I send a PR to that repository instead? @jackcmeyer

[2020-03-19 16:06] alti21 commented on #1920
May I help on this?

[2020-03-19 16:17] bmoore235 commented on #1927
I would love to tackle this issue, along with [Related Persons modal should provide better error feedback #1925](https://github.com/HospitalRun/hospitalrun-frontend/issues/1925)

[2020-03-19 16:18] bmoore235 commented on #1925
I would love to tackle this issue, along with [New Related Persons Modal should mark required fields #1927](https://github.com/HospitalRun/hospitalrun-frontend/issues/1927)

[2020-03-19 17:40] jackcmeyer commented on #1925
@bmoore235 sounds good! I've assigned this to you.

[2020-03-19 17:41] jackcmeyer commented on #1920
I've assigned this to you, @alti21. Please reach out if you have any questions!

[2020-03-19 17:43] jackcmeyer commented on #1859
@rabbihossain What changes do we need to make to the component repository? If changes need to be made to the component repository, feel free to open a pull request for whatever changes are necessary there!

[2020-03-19 19:11] wwbarros commented on #1771
Hi everybody,

I'm facing some issues on creating the tests (PR #1896 ). The test to open a new modal fails to render a rich text.

`TypeError: doc.body.createTextRange is not a function`

Looking for a solution, I just found [a closed issue on tinymce project](https://github.com/tinymce/tinymce-react/issues/61).

Any suggestion?

[2020-03-19 20:33] rabbihossain commented on #1859
@jackcmeyer , what I found is that the navbar component is fully written in the component repository. on the front-end repository navbar component takes an object as prop and rests are handled in NavBar component in component repository. In order to add sear search suggestion container, I need to make changes to that component. Otherwise I might have to write the whole navbar in front-end reposito

[2020-03-19 21:35] rubencgt commented on #1916
can I take this?

[2020-03-19 22:03] rubencgt commented on #1918
maybe the isRequired from: https://components.hospitalrun.io/?path=/story/label--label
could be used?

[2020-03-19 22:22] jackcmeyer commented on #1918
@rubencgt we have an issue: https://github.com/HospitalRun/hospitalrun-frontend/issues/1915 just for that.

[2020-03-19 22:51] #1915 closed

[2020-03-20 03:07] sotous commented on #1857
So I simulated the layout, nothing to fancy, just an idea and my approach to the issue, I would love your feedback @jackcmeyer in order to start working on the proposal.

Just consider the sidebar, as I said it is just an approach, so the dropdown links haven't been removed yet.

![image](https://user-images.githubusercontent.com/16869766/77132527-dfdb8680-6a2d-11ea-8d79-552a8632c380.png)

[2020-03-20 17:01] patrick-salvatore commented on #1917
Hi @jackcmeyer - may I work on this issue? Seems pretty straight forward.

[2020-03-20 23:07] ACAYspace commented on #1929
Hey Jackcmeyer,

May i be assigned to this Issue?

[2020-03-21 01:10] mamoses commented on #1928
Hello jackcmeyer,

I would like to help with this issue

[2020-03-21 01:13] mamoses commented on #1923
I would like to assist with this issue

[2020-03-21 01:40] jackcmeyer commented on #1923
Ive assigned this to you @mamoses

[2020-03-21 01:40] jackcmeyer commented on #1928
I've assigned this to you @mamoses

[2020-03-21 01:41] jackcmeyer commented on #1916
I've assigned this to you @rubencgt

[2020-03-21 01:42] jackcmeyer commented on #1929
I've assigned this to you @ACAYspace

[2020-03-21 01:42] jackcmeyer commented on #1917
I've assigned this to you @patrick-salvatore

[2020-03-21 01:44] ACAYspace commented on #1929
Sorry, can you re assign me. hit the wrong button.

[2020-03-21 11:33] rubencgt commented on #1918
then I'd be happy to work on this

[2020-03-21 16:12] jackcmeyer commented on #1918
@rubencgt I've assigned this to you.

[2020-03-21 16:36] jackcmeyer commented on #1857
This looks like the right approach!

Some general feedback:
* I'm not sure the children of the selected option need to be highlighted in a lighter shade of green. I would expect only the parent and the currently selected child to be highlighted.
* We may need some sort of indication that the parents are able to be expanded and collapsed.

[2020-03-21 16:49] nwmandel commented on #1926
Hi @jackcmeyer, mind if I tackle this issue? 😀

[2020-03-21 17:57] jackcmeyer commented on #1926
@nwmandel go ahead!

[2020-03-21 20:11] cfiorini74 commented on #1924
Hi Jack,
I'd like to work on this issue.

[2020-03-21 20:13] jackcmeyer commented on #1924
Sounds good, I've assigned this to you, @cfiorini74.

[2020-03-21 20:30] #1926 closed

[2020-03-21 20:32] #1929 closed

[2020-03-21 20:34] #1916 closed

[2020-03-21 23:44] alti21 commented on #1920
@jackcmeyer I'm having some trouble with this. I'm quite new to typescript just to let you know. I'm having trouble with this: Will require changes to the Patient model to support a list of addresses, phone numbers, emails. I changed phoneNumber into an array in ContactInformation.ts:

`export default interface ContactInformation
{
  phoneNumber: string[],
  email?: string,
  address?: string
}
`

[2020-03-21 23:48] jackcmeyer commented on #1920
You have the right idea for adding how to define the phone numbers as an array.

I'm guessing that the patient that you are looking at has no phone numbers defined for them.

If that's the case, then `patient.phoneNumber` is `undefined`.

When using an array accessor on undefined, you'll receive the error that you are getting.

Before accessing the patient's phoneNumber you'll want to check first

[2020-03-22 22:25] martimfj commented on #1919
Hey Jack!

I agree, I`ve just added a few of the missing translations. A script that compares the english translation files to the others (languages) and adds a default, would be nice too.

[2020-03-22 22:33] martimfj opened #1940 "Related person can be the patient it self"
## 🐛 Bug Report

On adding a related person to a patient, this person can be the patient it self?

More on that... a related person must also be a patient?

[2020-03-22 23:03] alti21 commented on #1920
@jackcmeyer thanks for the help, I got that part figured out now. I do need some help with the translations, as I want to have different labels for the new fields. Is there a file that has the translations?

[2020-03-22 23:30] sotous commented on #1857
Ok I got it.

However, how should I highlight the non-selected child?, also, do you have any color suggestions to make a difference between parent and child?

[2020-03-22 23:57] jackcmeyer commented on #1857
@sotous just the default white for any selected children. I'm not sure that a color separation between the selected parent and the selected child is necessary.

[2020-03-23 08:19] fox1t commented on #1919
I agree that might be helpful have a script that checks the status of translations file. We can run it on CI/CD in a non-blocking fashion: we can display a warning.

[2020-03-23 08:23] fox1t commented on #1857
Here we have to hear something from @StefanoMiC too!

[2020-03-23 08:41] fox1t commented on #1940
Hi. It can be a patient. In the "add related persion" form we have to:
1. allow search for other patients to be added as relative
2. allow input new related person (in this case it will not be a patient)

[2020-03-23 08:42] fox1t commented on #1893
This kind of interactions has to be added to "settings" section of the app. So we first need to address it.

@tehKapa would you mind to open a new issue?

[2020-03-23 08:44] fox1t commented on #1856
Any news on this, @tallskys?

[2020-03-24 14:55] patrick-salvatore commented on #1917
@jackcmeyer
For clarification - is the ask to trigger the error messaging on click of the "Save" button?

Additionally, looking at date fields - state and the input fields are instantiated with valid values. An empty field won't trigger an update of the input value. The value of the input only changes if given a proper date. Is the ask to remove this functionality for the start date and end date f

[2020-03-24 17:08] jackcmeyer commented on #1917
@patrick-salvatore I think that, for now, we only trigger the error messages on the save button being clicked.

For the date fields, I think that you may need to use developer tools to circumvent the default behavior of the date pickers.

[2020-03-24 21:56] #1928 closed

[2020-03-25 18:56] mamoses commented on #1923
Hey jackcmeyer,

I was wondering if you could clarify some things for me, when you say the related person should highlight in red what do you mean because I do not see a related person field on the Add Diagnosis tool.

Thanks

[2020-03-25 23:51] jackcmeyer commented on #1923
@mamoses This is just a copy-paste error when I was making these issues. That should say diagnosis name should be highlighted in red.

I've updated the issue to reflect that.

[2020-03-28 00:42] jackcmeyer opened #1946 "Patient can also be related person"
## 🐛 Bug Report

Current, when adding a related person, the current patient can be added as the related person.

## To Reproduce

1. View patient
2. Navigate to Related Persons tab
3. Add Related Persons
4. Search for current patient in related person
5. See that current patient appears in related person

## Expected behavior
The current patient should not be returned in the results of the search

[2020-03-28 00:44] jackcmeyer opened #1947 "Be able to add non-patient as related person"
## 🚀 Feature Proposal

Currently, HospitalRun v2 requires a related person to be a patient. However, a related person may not be a patient. HospitalRun should support non-patients being a related person.

## Motivation

Better tracking of patient data.

[2020-03-28 00:46] jackcmeyer commented on #1947
Opening this issue to start a conversation in hopes of gaining ideas and feedback.

[2020-03-28 00:46] jackcmeyer commented on #1940
Closing this issue in favor of #1946 and #1947.

Let me know if there is anything that I missed, @martimfj!

[2020-03-28 00:47] #1940 closed

[2020-03-28 00:50] jackcmeyer opened #1948 "Settings page"
## 🚀 Feature Proposal

As a user of HospitalRun, I would like a page where I can access my user settings and modify them if I wish.

I should see a Person icon in the top right of the Navbar. That Person icon should open up a dropdown that gives me options related to the current account that I am logged in as.

One of those options should be a "Settings" option.

When I click on that settings opti

[2020-03-28 00:52] jackcmeyer commented on #1893
@fox1t I have opened up #1948 to address the new settings page.

[2020-03-28 01:42] alti21 commented on #1946
Can I try this?

[2020-03-29 01:33] sonofaforester commented on #1948
I'd like to work on this issue

[2020-03-29 20:04] #1927 closed

[2020-03-30 00:03] jackcmeyer commented on #1946
@alti21, sounds good! I've assigned this to you.

[2020-03-30 08:30] oizuldan commented on #1893
@fox1t @jackcmeyer Do I need the implementation of #1948 issue before doing this issue?

[2020-03-30 08:32] oizuldan commented on #1856
I'd like to do this task

[2020-03-30 08:34] oizuldan commented on #1841
I'd like to do this task

[2020-03-30 13:03] bmoore235 commented on #1925
Sorry this has taken so long. These first couple weeks of isolation made me less productive than I anticipated. I'll have the pull request on this in today.

[2020-03-30 19:28] hemantpandey17 commented on #1856
I can work on this

[2020-03-30 21:14] martimfj commented on #1891
@tehKapa I've created the issue on the components repository.

[2020-03-30 23:13] jamesinsf-git commented on #1925
@bmoore235 I started looking at this recently and got stuck on this issue with Typeahead:
https://github.com/ericgio/react-bootstrap-typeahead/issues/432

Basically, the Feedback component does not play nicely with Typeahead.  Not sure if you've figured out a workaround.

[2020-03-31 02:33] bmoore235 commented on #1925
Ya typeahead doesn't support feedback unfortunately.

I have the feature set, but I'm having some issues with testing. I have the following code, but neither test condition triggers the patient.relatedPersons.error.relatedPersonRequired text.

[code]

[2020-03-31 02:59] jamesinsf-git commented on #1925
Is it only a test issue?  Does it work when you test this manually?

[2020-03-31 03:22] jackcmeyer commented on #1841
I've assigned this to you, @oizuldan.

[2020-03-31 03:23] jackcmeyer commented on #1893
Yes. #1948 is in progress, so until that is finished this is blocked.

[2020-03-31 03:24] jackcmeyer commented on #1856
@oizuldan, since you have another issue in progress, I'm assigning this to @hemantpandey1!

[2020-03-31 03:27] jackcmeyer commented on #1925
@bmoore235 I think this issue is that the `onChange` function for the `Typeahead` component is async.

So you'll need to make the tests async, the `act` async, and then await the on change.

Something like

[code]

[2020-03-31 03:35] jackcmeyer commented on #1925
@bmoore235 feel free to open a pull request with the code you have (preferably compiling code, however tests don't have to pass) and we can provide help since we will be able to see all of the changes!

[2020-03-31 15:56] alti21 commented on #1946
Hi @jackcmeyer do we need any search functionality when adding a new related person?

[2020-03-31 17:57] sonofaforester commented on #1948
This is ready to go on my machine. I just need someone to approve the PR on the components project.

[https://github.com/HospitalRun/components/pull/345](url)

This adds a navbar component that has an icon with dropdown list that's called for in the feature.

[2020-04-01 00:13] jackcmeyer commented on #1948
Hi @sonofaforester, the PR that you linked has been approved and merged. I've bumped the `@hospitalrun/components` dependency to v1.2.0, which includes the changes that you mentioned

[2020-04-01 00:36] #1856 closed

[2020-04-01 14:16] bmoore235 commented on #1947
Does directly linking patient records constitute a health privacy law violation? Would this goal be better accomplished by isolated family history information on a per patient basis?

[2020-04-02 03:18] roy-stewart commented on #1840
I'd like to work on this task if there is no one currently working on it.

[2020-04-02 08:25] fox1t commented on #1840
@roy-stewart absolutely!

[2020-04-03 02:01] jackcmeyer opened #1960 "Fix warning appearing in tests"
## 🐛 Bug Report

This warning is appearing when running tests:

[code]
## To Reproduce

run `yarn test`

## Expected behavior
I would expect that warning not to appear.

## Your Environment

[2020-04-03 07:35] #1771 closed

[2020-04-04 23:45] hemantpandey17 commented on #1960
I can take a look on this.

[2020-04-04 23:55] jackcmeyer commented on #1960
sounds great, @hemantpandey17!

[2020-04-05 03:44] roy-stewart commented on #1773
I'd like to work on this issue

[2020-04-05 03:45] roy-stewart commented on #1773
I'd like to work on this.

[2020-04-05 04:25] jackcmeyer commented on #1773
sounds good, @roy-stewart!

[2020-04-05 05:09] jackcmeyer opened #1966 "Labs should sort by requested date by default"
## 🚀 Feature Proposal
Labs should sort by requested date by default (the newest one should come first) when I am viewing the list of labs

## Motivation
Easier to find lab requests

## Blocked by
#1969

[2020-04-05 05:15] jackcmeyer opened #1967 "Patient list should sort by given name ascending by deafult"
## 🚀 Feature Proposal
By default, patients should be sorted by given name ascending.

## Motivation
The list should not be sorted in a random way.

[2020-04-05 07:17] jackcmeyer opened #1969 "Add paging and sorting functionality to find all/search functionality"
## 🚀 Feature Proposal

Add paging and sorting functionality to the search/find all functions for patients, appointments, lab.

## Motivation
* Patient Search/List, Appointment List, Lab List

[2020-04-06 01:05] jackcmeyer opened #1971 "ability to filter by status on `/labs` screen"
## 🚀 Feature Proposal
Add the ability to filter by lab status on the `/labs` screen.

Add a form, with a lab status selector that allows me to select the lab status I wish to search for.

When I click on the search button, the table will be filtered by the status which I chose.

## Motivation
Easier use of the lab screen

[2020-04-06 01:10] jackcmeyer opened #1972 "Create labs tab in view patient screen"
## 🚀 Feature Proposal
If I have the ability to view labs and view patients, there should be a labs tab in the View Patient screen.

The labs tab should show a list of labs that are associated with the patient. The table should show the lab type, the lab status, and the requested on date..

Clicking on one of the labs should bring me to `/labs/:id`.

## Motivation
Linking patients and labs.

[2020-04-06 01:12] jackcmeyer commented on #1960
After looking at some more logs, the same warning message can be seen when running the application.

[2020-04-06 01:15] jackcmeyer opened #1973 "Cleanup small issues with lab section"
## 🐛 Bug Report

A few minor bugs can be seen in the labs section:

1. On the new lab screen, the patient typeahead label is showing the internationalization key
2. On the new lab screen and the view lab screen, the notes field is marked as required when it shouldn't be.
3. When on the `/labs` route the following error message appears:
`Warning: Each child in a list should have a unique "key" prop

[2020-04-06 02:01] alti21 commented on #1973
Can I take this?

[2020-04-06 02:36] jackcmeyer commented on #1973
Yes! I've assigned this to you @alti21

[2020-04-06 05:31] hemantpandey17 commented on #1960
Yes Jack, I saw the logs while running the application. All of them are pointing to a single function (setButtonToolbar()). Will look more into it, might need some guidance here.

[2020-04-06 22:16] sotous commented on #1971
Hi @jackcmeyer , may I have this issue assigned?

[2020-04-06 22:25] hemantpandey17 commented on #1960
Hello @jackcmeyer ,

Based on my codewalk,

`  const setButtonToolBar = useButtonToolbarSetter()

  const buttons = []
  if (permissions.includes(Permissions.WritePatients)) {
    buttons.push(
      <Button
        key="editPatientButton"
        color="success"
        icon="edit"
        outlined
        onClick={() => {
          history.push(`/patients/edit/${patient.id}`)
        }}

[2020-04-06 23:56] #1768 closed

[2020-04-07 00:30] martimfj opened #1976 "Create/Edit Patient inputs are not validated"
When creating and editing a patient, only the required `givenName` is validated. The email and tel inputs can be anything and the date of birth can be a day greater than today.

## 🐛 Bug Report

Input fields from Editing/Creating Patients are not validated.

## To Reproduce

Input a text in the telephone field
Input a text that is not an email in the email field
Input a date in 2021 in the date of

[2020-04-07 01:29] #1840 closed

[2020-04-07 15:41] sotous commented on #1971
Thanks!

[2020-04-08 02:42] sonofaforester commented on #1948
@jackcmeyer thanks for reviewing the PR. It seems the PR isn't completed and the changes aren't in v1.2.0. The build pipeline seems to be failing for something that I don't believe is within my control.

[2020-04-08 02:51] jackcmeyer commented on #1948
@sonofaforester you are correct. This wasn’t merged yet and was not included in the v1.2.0 release. I could have sworn that it was. Must have been tired that day.

I’ve merged it now and we’ll get a release made ASAP.

Sorry for the confusion.

[2020-04-08 14:25] jackcmeyer commented on #1948
@sonofaforester this is now in v1.3.0 https://github.com/HospitalRun/components/releases/tag/v1.3.0

[2020-04-11 00:44] #1946 closed

[2020-04-11 17:13] rubencgt commented on #1972
I'd be happy to take this

[2020-04-12 19:39] jackcmeyer commented on #1972
Sounds great @rubencgt! I have assigned this to you.

[2020-04-13 13:20] rubencgt commented on #1972
Do we need also a button (Add new Lab) that opens a modal that allows to create a new Lab?
similar to the modal in tab notes for creating new notes.

[2020-04-13 22:22] BrunaKimura commented on #1976
Should text fields also be validated to avoid numeric inputs?

For example:
- Suffix
- Preffix
- Given Name
- Family Name
- Occupation
- Preferred Language